[2021-09-01 09:09] fssgh opened #617 "会出Angular版吗？[question]"
会出Angular版吗？

[2021-09-01 10:11] richard1015 commented on #617
目前没这个规划

[2021-09-01 12:00] #615 closed, assigned to nobody

[2021-09-01 12:00] richard1015 commented on #613
已发版3.1.4

[2021-09-01 12:00] #613 closed, assigned to szg2008, Ymm0008

[2021-09-01 12:00] richard1015 commented on #605
已发版3.1.4

[2021-09-01 12:00] #605 closed, assigned to richard1015

[2021-09-01 12:01] richard1015 commented on #577
已发版3.1.4 测试一下

[2021-09-01 12:01] #577 closed, assigned to richard1015

[2021-09-01 12:02] richard1015 commented on #558
已发版3.1.4 ，辛苦大家测试一下

[2021-09-01 14:49] xueyuheng opened #619 "[bug] NoticeBar 组件在taro小程序环境报警告，并且控制台会卡死"
公告栏组件在使用时会触发以下警告，在使用text属性，弹出一次，使用list属性会一直弹出在控制台，直到控制台卡死
vendors.js?t=wechat&s=1630506767305&v=3cc9687940ef2c207f3ad08f26c661de:9186
[code]

[2021-09-02 02:28] Drjingfubo commented on #542
3.1.4文档demo均已更新

[2021-09-02 02:28] #542 closed, assigned to richard1015, Drjingfubo

[2021-09-02 03:44] HEYAN123 opened #621 "[suggest]新增多行输入组件"
## 你建议我们做什么？

输入控件增加多行输入类型，高度随内容换行而自动撑高

效果参考antd mobile TextareaItem组件
https://mobile.ant.design/components/textarea-item-cn/
![image](https://user-images.githubusercontent.com/37286512/131778507-f9975b22-8fbe-40fc-a32b-06d33df6903e.png)

[2021-09-02 05:41] zhenyulei commented on #583
暂时移除了底层对swiper的依赖 目前基本功能已经可以使用了 请更新到最新版本

[2021-09-02 07:15] 307god commented on #583
nut-tab-panel里的数据不会更新
[code]
版本用的3.1.4， 当前最新

@zhenyulei

[2021-09-02 09:10] zhenyulei commented on #614
引用的swiper组件导致的 请修复

[2021-09-02 10:41] zhenyulei commented on #583
========
请参考以下示例：

https://codehouse.jd.com/?source=share&type=vue&mainJs=aW1wb3J0IHsgY3JlYXRlQXBwIH0gZnJvbSAidnVlIjsKxyHEGcYXLi9hcHAuzR17IFN3aXBlciwgVGFiLCBCdXR0b27JSEBudXR1aS%2FFBso0zRcvZGlzdC9zdHlsZS5jc3MiOwrpAI8oQXBwKS51c2UoxmTGDFRhYsYJxmwpLm1vdW50KCIjYXBwIik7&appValue=PHRlbXBsYXRlPgogIDxkaXbECCAgPG51dC10YWIgOmFuaW1hdGVkVGltZT0iNTAwIiB2LWlmPSJlZGl0TGlzdC5sZW5ndGggPiAwIsY9yj8tcGFuZWzHFSAgOsQTdG

[2021-09-02 11:30] 307god commented on #583
[code]
我把第二个例子一模一样复制过来跑，一样值改变了，页面上的内容没变。
微信小程序和h5都是这样。
我想知道我的依赖是不是一个合适的版本
@zhenyulei

[2021-09-02 13:16] zhoubonet opened #625 "[suggest]可以新增Grid组件"
## 你建议我们做什么？
https://vant-contrib.gitee.io/vant-weapp/#/grid

现在...

如果你能...

它将使...

## 其它

无

[2021-09-02 13:17] zhoubonet opened #626 "[suggest]可以新增TreeSelect组件吗？"
## 你建议我们做什么？
https://vant-contrib.gitee.io/vant-weapp/#/tree-select

现在...

如果你能...

它将使...

## 其它

无

[2021-09-03 06:19] 307god commented on #558
[code]
用的3.1.4
animatedTime也失效了
nut-tab-panel里的动态内容不会更新（放外面就更新了）

[2021-09-03 06:53] richard1015 commented on #619
taro + nutui  weapp 无法启动问题  ，辛苦先降级nutui 到 3.1.3 版本，这边正在紧急修复，今天发版

[2021-09-03 07:46] xueyuheng commented on #619
追加：公告栏组件在使用text属性时 报错
`[渲染层网络层错误]` Failed to load local image resource /pages/index/null
 the server responded with a status of 500 (HTTP/1.1 500 Internal Server Error)
(env: Windows,mp,1.05.2107221; lib: 2.19.2)`

[2021-09-03 08:26] richard1015 commented on #626
开发中

[2021-09-05 02:16] transtone opened #627 "[suggest]可以新增stikcy组件吗？"
## 你建议我们做什么？

和 vant 的 stikcy 组件类似。经常有 tab 标签滚动到顶部置顶的需求。

## 其它
https://vant-contrib.gitee.io/vant/v3/#/zh-CN/sticky

[2021-09-06 01:20] 307god opened #628 "3.0 input taro [bug]"
## 问题描述

<img width="324" alt="1" src="https://user-images.githubusercontent.com/16452590/132147563-455dbda2-2ddf-4d6a-b17f-b4991bb6a95d.png">

## 最小可复现仓库

## 预期的行为和实际行为
input里的内容应该布局一致，但是设置成readonly会导致内容前移

## 复现步骤，具体代码
用的官方demo, https://github.com/jdf2e/nutui-demo/tree/master/taro

## 相关环境信息
- **操作系统**：win10
- **Node 版本**：
- **NutUI 版本**：@nutui/nutui-taro 3.1.5
- **Vue 版本**：vue3
- **引用方式**：  NPM

[2021-09-06 02:51] jasonencode opened #629 "[question]Vue3.0中，使用setup语法糖的问题"
例如
[code]
想这样，每个页面使用组件的时候，按需去引入，但是此时会出现警告：
Failed to resolve component: nut-overlay
页面中丢失了遮罩层。

请问这样的问题，在这种情况下，有什么好的解决办法么

[2021-09-06 02:52] richard1015 commented on #629
import { FixedNav,Overlay} from '@nutui/nutui';

[2021-09-06 05:53] xueyuheng opened #631 "[question] taro 中 tabbar 在组件切换时 值改变了状态不对怎么解决"
![image](https://user-images.githubusercontent.com/48202935/132166779-e3ea6301-6ace-43fa-bfc6-7c246f2acae6.png)
`<nut-tabbar
      :v-model:visible="active"
      @tab-switch="tabSwitch"
      :bottom="true"
      unactive-color="#7d7e80"
      active-color="#5EAA5F"

      <nut-tabbar-item tab-title="首页" icon="home"></nut-tabbar-item>
      <nut-tabbar-item tab-title="学习" icon="category"></nut-ta

[2021-09-06 05:54] xueyuheng commented on #631
数据是响应式的

[2021-09-06 07:50] #631 closed, assigned to nobody

[2021-09-06 07:51] xueyuheng commented on #631
用vuex可解决此问题

[2021-09-07 01:57] 307god commented on #216
新增用户 主动调用 上传功能 ，vue3 小程序 taro  有这个功能吗？
@richard1015

[2021-09-07 02:26] richard1015 commented on #216
暂时没有

[2021-09-07 07:38] xueyuheng opened #635 "[suggest] taro + nut-tab 在使用中状态不更新建议"
![image](https://user-images.githubusercontent.com/48202935/132302557-28081eb6-3e85-498e-8320-b6433d4ad86b.png)
### 场景：
首页某个按钮点击 `switchTab` 带参跳转到课程，并且把这个参赋值给` defaultIndex `这个属性，第一次是更新的，第二次就是中是不更新，使用computed属性也没用，发现是源码中缺少对于接受` defaultIndex ` 的监听

### 建议
在路径 `\src\packages\__VUE\tab\index.taro.vue` 106 行
`const activeIndex = ref(props.defaultIndex);`
改为
`let activeIndex = ref(props.defaultIndex);`

[2021-09-07 09:14] siegelioner commented on #619
taro + vue3.0 + nutui weapp 使用noticebar还是出现报错：
[Vue warn]: Failed to resolve component: view-block
@nutui/nutui-taro 3.1.3、3.1.4、3.1.5都尝试了

[2021-09-07 11:01] SimonZY opened #636 "3.1.4 nut-tab 没有文档写的switchTab事件"
nut-tab 组件 按文档写的监听switchTab 事件，
然而看了源码并没有这个事件
[code]

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@3.1.4
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2021-09-08 06:32] #629 closed, assigned to nobody

[2021-09-08 10:15] zhenyulei commented on #635
你好 感谢反馈 已经修改待下个版本发版后 线上更新

[2021-09-08 10:15] #635 closed, assigned to zhenyulei

[2021-09-08 10:15] zhenyulei commented on #636
你好 感谢反馈 已经修改待下个版本发版后 线上更新

[2021-09-08 10:15] #636 closed, assigned to nobody

[2021-09-08 10:18] zhenyulei commented on #558
------------

因为小程序依赖swiper组件，而该组件目前兼容性仍有问题，所以tab组件目前只能提供基础的切换功能，待后续swiper组件更新后，在开发所有功能（H5不影响）

[2021-09-08 11:45] moruifei commented on #118
异步修改时会自动触发choose事件 并不只是在点击确定时才触发！

[2021-09-08 12:08] moruifei opened #639 "[bug]异步修改datepicker startDate或endDate会自动触发choose事件"
## 问题描述

nut-datepicker组件 异步修改startDate或endDate 会自动触发choose事件。
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.1.8
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？NPM

[2021-09-09 07:19] fssgh opened #640 "在tab-panel 内使用nut-cell 等@click事件失效 [bug]"
在tab-panel 内使用nut-cell 等@click事件失效！！！！！！！
 `<nut-tab-panel :tab-title="校准">
          <div class="my-tab-panel">
            <nut-cell title="校准" is-link @click="JzPwdState.visible = true;"></nut-cell>
            <nut-shortpassword
              v-model="JzPwdState.value"
              v-model:visible="JzPwdState.visible"
              :no-button="JzPwdState.noButton"
              :length="JzPwd

[2021-09-10 09:34] Winniebear2 opened #645 "微信小程序button按钮loading和disabled为true时仍可点击且触发事件"
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**："@nutui/nutui-taro": "^3.0.3",
- **Vue 版本**：Vue 3.0.0
- **引用方式**： NPM

[2021-09-10 09:36] richard1015 commented on #640
辛苦尝试升级到 3.1.5 测试一下

[2021-09-10 09:38] OneSeven opened #646 "[suggest] 请求适配webstorm 智能提示"
## 你建议我们做什么？

希望能够适配webstorm智能提示
参考：
https://github.com/JetBrains/web-types
https://cdn.jsdelivr.net/npm/vant@3.2.2/vetur/web-types.json

现在用webstorm开放web还是taro用到nutui体验太差了
## 其它

无

[2021-09-11 05:56] taojigu opened #647 "[bug] npm install 失败"
next 分支
clone 下来之后执行 npm install

npm ERR! Maximum call stack size exceeded

npm version: 6.14.14

[2021-09-11 07:02] #647 closed, assigned to nobody

[2021-09-11 12:56] transtone commented on #312
@richard1015
一年多了，处理的怎么样了？

[2021-09-12 14:54] Zigei commented on #583
3.1.5 还是无法使用。  @zhenyulei  官网的例子复制过来跑不了啊。

[2021-09-13 07:38] Pi-char opened #648 "微信小程序端Range组件点按修改进度条有些些问题"
## 问题描述
当页面存在多个Range组件时，点按默认的是修改最后一个Range组件的进度条，但拖动修改的是当前组件的进度条。
在官方NutUI小程序中也是如此，希望大大们可以看看！！

[2021-09-13 08:10] 307god opened #649 "[question] message：Error: 代码包大小为 XXX kb，上限为 2048 kb，请删除文件后重试"
## 你想知道什么？

微信开发者工具 预览或者真机调试会报错
message：Error: 代码包大小为 2057 kb，上限为 2048 kb，请删除文件后重试
<img width="510" alt="2" src="https://user-images.githubusercontent.com/16452590/133047352-b8d16538-74fe-4cd6-88ac-a7ca4337574a.png">
<img width="618" alt="3" src="https://user-images.githubusercontent.com/16452590/133047362-f62bf4ca-137a-4536-8ea1-182f7763d296.png">

## 描述你考虑过的替代方案

我已经按需加载了呀， 依赖用的都是当前最新

## 其它

无

[2021-09-13 09:25] Pi-char commented on #649
run build之后就行了

[2021-09-13 09:30] richard1015 commented on #649
npm run build

[2021-09-13 09:31] richard1015 commented on #649
npm run build:weapp

[2021-09-13 09:32] richard1015 commented on #648
@zy19940510

[2021-09-13 09:45] richard1015 commented on #645
我这边测试的没问题， 辛苦升级到 3.1.5进行测试

[2021-09-13 09:45] #645 closed, assigned to richard1015

[2021-09-14 01:01] 307god commented on #649
预览或者真机调试，一定要先build，感觉好不方便 o(╥﹏╥)o

[2021-09-14 07:05] richard1015 commented on #649
我们尽快优化一下 按需加载问题

[2021-09-14 07:27] wgcairui opened #650 "请问怎么实现微信小程序中获取手机号"
在微信中在点击元素上添加  open-type="getPhoneNumber"会唤起授权,事件对象会携带encryptedData,nutui和taro没找到相关操作

[2021-09-14 07:51] richard1015 commented on #650
https://developers.weixin.qq.com/miniprogram/dev/framework/open-ability/getPhoneNumber.html

[2021-09-14 07:51] #650 closed, assigned to nobody

[2021-09-14 07:53] richard1015 commented on #646
:(  暂时没有精力

[2021-09-14 08:10] wgcairui commented on #650
微信文档我知道,但是nut-button上哪个事件对应bindgetphonenumber="getphonenumber"呢,click事件对象中没有encryptedData,

[2021-09-14 09:10] luhualong opened #651 "nutui-taro3.1.4组件input样式[bug]"
## 问题描述
taro版本h5input框显示有问题
![image](https://user-images.githubusercontent.com/50528346/133229077-43561847-c3cd-4339-b398-116513421fd5.png)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
引入
[code]

使用
[code]

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui-taro@3.1.4
- **Vue 版本**：
- **引用方式**：  NPM

[2021-09-14 10:16] gmars opened #652 "vue3.0 SwiperItem未导出"
## 问题描述
SwiperItem未导出

## 最小可复现仓库
import {Swiper, SwiperItem} from "@nutui/nutui"

"@nutui/nutui": "^3.1.5",

[2021-09-14 10:45] richard1015 commented on #652
感谢反馈，只是ts没有类型提示，应该是可以直接引用的，我们本周发布v3.1.6修复一下

[2021-09-15 01:23] xiqi99520 opened #653 "[question] nutUI中签名功能，在横屏状态下如何使用"
## nutUI中签名功能，在横屏状态下如何使用

求科普

[2021-09-15 05:32] ghost opened #655 "是否可以在 uniapp 中使用"
是否可以在 uniapp 中使用？

[2021-09-15 07:44] richard1015 commented on #655
uniapp 调研阶段

[2021-09-15 09:29] JRainboww opened #656 "@tarojs/plugin-html 是否必须使用，根据官网初始的小程序。"
## 你想知道什么？

项目 vue3 + taro3 + nutui

你好，我想知道这个项目是否可以不使用 @tarojs/plugin-html 插件。尝试过不使用该插件，当不使用该插件时 tabbar 和 toast中的加载icon不会正常显示。
由于@tarojs/plugin-html 插件对小程序地图<map>标签转译，导致无法渲染地图，而项目中有地图组件的需求。在taro3 的git项目已提issue，但不知何时处理。所以咨询一下这边能否不使用plugin-html。项目已开发一大半。

[2021-09-15 09:44] richard1015 commented on #656
@tarojs/plugin-html 插件  在vue里面必须要用，  主要功能是将  div p 等标签、  @click 事件  等功能进行磨平， 基本上在 vue 里面必须使用
关于你说的 @tarojs/plugin-html 插件对小程序地图标签转译 ，我们这边和Taro内部 同步一下信息加快 你那个issues的修复

辛苦您发一下 taro issue 对应链接

[2021-09-15 09:45] JRainboww commented on #656
感谢回复哈  issue 地址： https://github.com/NervJS/taro/issues/10280

[2021-09-15 09:53] richard1015 commented on #656
从官网底部  加一下我们微信群，方便及时沟通

[2021-09-15 12:28] willove commented on #583
感觉 nut-tab-panel 还会有性能问题，和 nut-popup 组件一起用会爆出“Maximum call stack size exceeded” 超出最大调用堆栈大小。

[2021-09-15 14:24] Zigei opened #658 "[bug] 对 taro 的支持度不是很高"
3.1.5 当前的这个版本对 现阶段 Taro3 vue3 的支持度不是很友好。

## 问题描述

在 html 上是可以运行的但是 taro 中并没有 i span 之类的标签。
经常会碰到 类似这种问题。

比如 cell 组件添加上 is-link
WXMLRT_$gwx:./base.wxml:template:473:16: Template `tmpl_0_i` not found.

tab 组件title信息无法渲染。
WXMLRT_$gwx:./base.wxml:template:601:16: Template `tmpl_0_span` not found.

使用 tabber 还会出现
Failed to resolve component: scroll-view  这个问题。

tab 组件无法正常工作。

## 预期的行为和实际行为

修正 Taro v

[2021-09-15 17:54] willove opened #659 "[bug]nut-price 配置price为整数时其小数位的显示有问题"
## 问题描述

nut-price 在设置price数据为整数的时候，默认情况下其小数位应该为 00，而实际情况是会变成当前设置price数值的前2位

我看了下源码，应该是 formatDecimal 这个方法里在 if (checkPoint(decimalNum)) 的 else 代码块里面的

 ``` decimalNum = decimalNum.toString();```

应该改成 ``` decimalNum = 0;```

decimalNum 在这里不是处理后的小数位，而是传入的 price 的值啊。
能够走到else代码块里面的情况是 price是整数(:price="19210" 或 price="19210")， 以及price是小数位为0的number类型(:price="19210.00")，String(price) 的时候会直接把小数点干没。

赶

[2021-09-16 03:12] zehuichan commented on #547
搭配cell-group使用，cell单元格 round-radius 设置 0，外层的cell-group还是有 radius

[2021-09-16 07:08] yangjinjun3 opened #660 "Vue3.0 Dialog组件不设置content属性"
## 问题描述
Vue3.0 Dialog组件不设置content属性，dom节点还存在，导致一大片空白

## 最小可复现仓库

## 预期的行为和实际行为
期望不设置content属性时，高度自适应。看了下是弹框最小高度导致，可以调整下，默认不要设置太大。

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2021-09-16 09:22] jaelam0214 opened #662 "2.X版本 Scroller 组件，下拉刷新的“加载中”文案不可动态修改"
## 建议增加一个Prop属性，支持修改2.X版本 Scroller 组件，下拉刷新的“加载中”文案

当做国际化文案或是需要自定义设置，下拉刷新，刷新中的文案时，不能进行修改。
建议增加一个Prop属性，支持修改2.X版本 Scroller 组件，下拉刷新的“加载中”文案

[2021-09-16 13:16] #658 closed, assigned to nobody

[2021-09-17 13:05] JiaYifan opened #669 "[bug] Failed to resolve component: view-block scroll-view"
## 问题描述
在taro中使用Infiniteloading会有Failed to resolve component: view-block和Failed to resolve component: scroll-view两个warning不断打印

- **NutUI 版本**： "@nutui/nutui-taro": "^3.0.3"
- **Vue 版本**："vue": "^3.0.0"
- **引用方式**：  NPM

[2021-09-18 08:52] richard1015 commented on #651
3.1.6已修复

[2021-09-18 08:52] #651 closed, assigned to guoxiao158

[2021-09-18 08:57] #659 closed, assigned to Drjingfubo

[2021-09-18 09:15] richard1015 commented on #652
v3.1.6 已修复

[2021-09-18 09:15] #652 closed, assigned to richard1015

[2021-09-18 09:20] richard1015 commented on #572
升级最新版本

[2021-09-18 09:20] #572 closed, assigned to yangxiaolu1993

[2021-09-18 09:21] richard1015 commented on #367
最新版本尝试一下

[2021-09-18 09:21] #367 closed, assigned to nobody

[2021-09-18 09:23] richard1015 commented on #302
最新版已优化

[2021-09-18 09:23] #302 closed

[2021-09-18 09:23] richard1015 commented on #279
升级至最新版

[2021-09-18 09:23] #279 closed

[2021-09-18 09:31] richard1015 commented on #312
3.1.7发布， 当前正在开发中 70%

[2021-09-18 10:12] imcq333 opened #673 "[bug]小程序tab组件build完之后多点击几次，整个页面无法操作"
tab组件小程序环境，dev模式可以正常使用，build完之后tab点击切换4次（如果tab是4个）整个页面都会卡死，无法点击
## 问题描述

官方示例也有这个问题，扫码进入tab标签组件，任意点击4个tab，页面就无法进行操作了
![avatar](https://storage.360buyimg.com/jdc-article/gh_f2231eb941be_258.jpg)
## 最小可复现仓库

## 预期的行为和实际行为
预期：tab正常可以点击
实际：tab点击几次后页面无法操作

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：安卓、windows小程序模拟器，ios
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@3.1.6
- **Vue 版本**：vue3
- **引用方式**：  yarn

[2021-09-19 04:43] willove commented on #673
这个我遇到过，是报 Maximum call stack size exceeded 了。我的临时解决办法是不在 nut-tab-panel 写实现，而是重新使用多个view通过判断 tabIndex 来控制对应tab的显示

[2021-09-22 02:24] 969319036 opened #674 "[bug]taro-vue3项目下组件Divider引入报错 找不到组件"
![image](https://user-images.githubusercontent.com/28749572/134273637-7a7c00f6-158f-4959-ad57-f277cdd2cab2.png)
![image](https://user-images.githubusercontent.com/28749572/134273661-e4676be4-9f0f-4969-9042-63c4c598d0b4.png)

操作系统：安卓、windows小程序模拟器，ios
Node 版本：
NutUI 版本： @nutui/nutui@3.1.5
Vue 版本：vue3
引用方式： yarn

[2021-09-22 02:24] Gandamar3 commented on #674
Leave a comment

[2021-09-22 02:31] #674 closed, assigned to nobody

[2021-09-22 09:29] luhualong commented on #651
已升级 还是显示有问题 期待样式与小程序一致 因为需要做h5与微信小程序的两端
![image](https://user-images.githubusercontent.com/50528346/134316537-272f9952-093b-48db-87a6-926cbba5795f.png)
![image](https://user-images.githubusercontent.com/50528346/134318802-745d6f6a-7fe2-41c2-8ff2-7bdc477da28f.png)

[2021-09-23 02:01] richard1015 commented on #673
感谢反馈，我们处理一下，小程序微信审核中

[2021-09-23 02:53] ziHan9703 opened #678 "在taro里面使用nutui的tab组件，在nut-tab-panel里面嵌套view或者是嵌套text标签，第二个tab内容会把第一个tab内容覆盖"
## 问题描述

在taro里面使用nutui的tab组件，在nut-tab-panel里面嵌套view或者是嵌套text标签，第二个tab内容会把第一个tab内容覆盖
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
<nut-tab>
  <nut-tab-panel tab-title="全部"

  <nut-tab-panel tab-title="待付款"

  <nut-tab-panel tab-title="待收获"

  <nut-tab-panel tab-title="已完成"

</nut-tab>
基础使用tab组件，每个 nut-tab-panel标签里都嵌套view或者是text，写个1，2,3,4，切换就可以复现

## 相关环境信息
- **操作系统**：windows
- **Node 版本**：14
- **NutUI

[2021-09-23 07:05] fssgh opened #679 "在手机设备上运行，短密码组件的值会成倒序[bug]"
在手机设备上运行，短密码组件的值会成倒序........
## 相关环境信息
- **操作系统**：android
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@3.1.5
- **Vue 版本**：3
- **引用方式**：  CDN / NPM ？

[2021-09-23 08:25] fujiayang opened #680 "迫切强烈要求，nutUI出一个表格组件，能翻页或无限下拉刷新，可以配置固定列和操作列！！！！！！"
如题，迫切强烈要求，nutUI出一个表格组件，能翻页或无限下拉刷新，可以配置固定列和操作列！！！！！！
很多B端审批、报表、监控类的业务场景中非常需要表格来展示数据和操作数据。
用户需求十分强烈！
民情汹涌！

[2021-09-23 08:32] #434 closed, assigned to nobody

[2021-09-23 12:43] transtone opened #681 "请锁定依赖的vue版本"
## 问题描述
[code]
taro 会依赖安装 vue，而又不锁定版本，导致vue会自动安装 vue-3.2.14版本，这个版本有这个问题：
https://github.com/vuejs/vue-next/issues/4344

小程序下面会报错
![aef0c8df1db7d5ae7f3efaddc0ab0a1](https://user-images.githubusercontent.com/46688/134508552-892e0fe9-3db4-47ed-935a-9735cca52e92.png)

[2021-09-24 03:26] richard1015 commented on #681
感谢反馈，我们跟进一下

[2021-09-24 07:51] Drjingfubo commented on #679
请提供复现机型及安卓版本

[2021-09-24 09:19] 969319036 opened #682 "[bug] range error-Taro2.createSelectorQuery is not a function"
## 问题描述

Taro2.createSelectorQuery is not a function

![image](https://user-images.githubusercontent.com/28749572/134650685-f062e3bf-57d9-47f8-9692-07a275854a38.png)

![image](https://user-images.githubusercontent.com/28749572/134650649-f1035403-33d5-4632-bf4c-2ca9972ddda5.png)
![image](https://user-images.githubusercontent.com/28749572/134651049-5cae6b18-9121-42f7-bd05-404be590dd8f.png)

![image]

[2021-09-24 09:25] transtone commented on #681
[code]
这三个依赖都可以放到 `devDependencies` 里去，用户自己的框架肯定会装。

[2021-09-24 09:26] 969319036 commented on #682
Uploader 上传 也有同样问题

[2021-09-24 09:45] ajuner commented on #680
移动端用表格的场景是不是很少见 😢

[2021-09-24 13:20] fujiayang commented on #680
-----------------------------------------------------------------------------------------------------
一点都不少见。B端产品，尤其是财务报表审批、预算审批、数据监控，这类报表和审批一体的业务，非常常见。不要以C端产品的角度来看B端产品。
而且现在移动审批和移动监控越来越多，朋友。

[2021-09-25 11:13] #617 closed, assigned to szg2008, richard1015

[2021-09-26 00:57] richard1015 commented on #682
好的，感谢反馈，我们跟进一下

[2021-09-26 01:23] Zigei commented on #673
@richard1015   这个问题这两天能解决吗？ 我也碰到类似的问题  点击 tab， 屏幕事件就被吃掉了  只能滑动屏幕 无法点击其他元素了。

[2021-09-26 06:47] xueyuheng opened #684 "[bug] Taro中使用 nut-uploader 中 file-list 回显缺少监听展示"
问题：nut-uploader 中 fileList 参数初始化一组数据有用，用接口赋值无效，图片数据回显没效果，源码中缺少对于fileList监听事件的钩子
## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **Taro 版本**："@tarojs/taro": "3.3.7",
- **NutUI 版本**： "@nutui/nutui-taro": "^3.1.6",
- **Vue 版本**："vue": "^3.2.9",
- **引用方式**：NPM ？

[2021-09-26 08:29] willove commented on #681
自己的项目的package.json里的vue版本保持和nutui项目里的配置vue版本依赖一样就可以了，这个问题基本上就是你自己项目里用的vue和nutui用的vue版本不一样造成的。

[2021-09-26 13:25] richard1015 commented on #649
v3.1.7-beta.2 可测试，预计9月30日发布 3.1.7正式版

参考文档 按需加载片段 https://nutui.jd.com/#/start

[2021-09-27 02:07] xueyuheng commented on #684
抱歉，时间原因，我再把问题细化一下 并附上代码
**template**
`<nut-uploader
            url
            :maximum="1"
            v-model:file-list="state.file1List"
            @change="handleFileChange($event, 'file1')"

**script  setup**
`
const state = reactive({
    file1List: []
})
`
以上代码是初始化 ok 没有问题

我引入onMounted钩子  在钩子里执行
`
state.file1List = [{
    url: "…… .png",
    id: 1407,
    name: "41.png"
  }]
`
组件无回显

目前已

[2021-09-27 02:18] xueyuheng opened #688 "[suggest] 建议对于nut-uploader文件上传组件增加不自动上传文件的功能"

[2021-09-27 02:42] richard1015 commented on #682
@969319036  执行的是 npm run dev:h5 对吗

[2021-09-27 02:45] 969319036 commented on #682
是的

[2021-09-27 07:01] Skyelin opened #689 "nut-field开启limitShow属性，回显时数字统计始终为0，触发input之后才会正常统计"
## 问题描述

nut-field开启limitShow属性，回显时数字统计始终为0，触发input之后才会正常统计
## 最小可复现仓库

<nut-field
      label="详细地址"
      placeholder="请输入详细地址"
      requireShow
      @input="FocusSxFild('businessAddressDetail')"
      :state="state.businessAddressDetail"
      v-model="userInfo.businessAddressDetail"
      type="textarea"
      @error-func="error"
      :limitShow="true"
      maxLength="50" rows="4"  />

##

[2021-09-27 07:06] richard1015 commented on #680
@yangjinjun3 +1

[2021-09-27 12:24] juliannan opened #690 "[bug]nut-popup与picker-view一起使用样式错乱了"
## 问题描述

## 最小可复现仓库

https://github.com/juliannan/demo-taro-picker.git

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：win
- **Node 版本**：12.20.0

[2021-09-27 15:39] gmars opened #691 "Elevator组件应该支持slot这样用户可以自定义Elevator显示内容"
## 你建议我们做什么？

Elevator组件添加相应的slot这样就可以根据需要来个性化子组件的显示，或者添加左侧icon字段的支持也可以
现在...

如果你能...

它将使...

## 其它

无

[2021-09-28 02:38] richard1015 commented on #690
picker 正在重构中，预替换小程序原生 picker

[2021-09-28 06:34] transtone commented on #681
项目需要用到 vue-3.2 的新特性。taro不会锁定 vue-3.0 不升级了吧。

[2021-09-28 08:18] fssgh commented on #679
@Drjingfubo @richard1015 已编写重现[codesandbox](https://codesandbox.io/s/nutui3-0-vite-js-forked-x02yz)

[2021-09-28 09:17] Drjingfubo commented on #679
请提供复现机型及安卓版本

[2021-09-28 09:42] fssgh commented on #679
@Drjingfubo  安卓10（应该所有安卓都会）,荣耀30，苹果不会

[2021-09-28 09:51] Drjingfubo commented on #679
加下官网下方微信沟通群吧。这边都没复现到

[2021-09-28 10:45] richard1015 commented on #669
Infiniteloading 滚动加载

直接使用 Taro 现有 [ScrollView](https://docs.taro.zone/docs/components/viewContainer/scroll-view) 组件开发 参考文档

[2021-09-28 10:45] #669 closed, assigned to szg2008

[2021-09-28 10:45] #656 closed, assigned to szg2008

[2021-09-28 12:31] richard1015 commented on #684
ok,明天我优化一下

[2021-09-29 08:46] richard1015 commented on #532
明天发布将新增此组件

[2021-09-29 11:34] #340 closed

[2021-09-29 11:37] richard1015 commented on #249
不需要下拉 采用 [ InfiniteLoading](http://nutui.jd.com/#/InfiniteLoading) 无限加载组件

[2021-09-29 11:37] #249 closed

[2021-09-29 11:40] richard1015 commented on #662
感兴趣的话，可以给我们提个PR ，这个功能不复杂

[2021-09-29 11:42] richard1015 commented on #649
npm run build:weapp --watch 也是可以的

[2021-09-29 11:45] richard1015 commented on #673
解决中

[2021-09-29 12:36] chenxin9482 opened #698 "[bug] 引入 nutui 失败"
## 问题描述

nutui全量引入运行时报错

 @nutui/nutui/dist/style.css in ./src/main.js
To install it, you can run: npm install --save @nutui/nutui/dist/style.css
Error from chokidar (C:\): Error: EBUSY: resource busy or locked, lstat 'C:\DumpStack.log.tmp'

## 最小可复现仓库

https://github.com/chenxin9482/nut-bug

## 预期的行为和实际行为
预期行为：项目正常运行

## 复现步骤，具体代码
npm run serve

## 相关环境信息
- **操作系统**：Windows 10
- **Node 版本**：14.16

[2021-09-30 07:42] richard1015 commented on #698
参看一下这个

https://github.com/jdf2e/nutui-demo/tree/master/base

[2021-09-30 07:42] #698 closed, assigned to nobody

[2021-09-30 12:28] richard1015 commented on #682
3.1.7已修复

[2021-09-30 12:28] #682 closed, assigned to richard1015

[2021-09-30 12:28] richard1015 commented on #679
3.1.7已修复

[2021-09-30 12:28] #679 closed, assigned to Drjingfubo

[2021-09-30 12:28] richard1015 commented on #628
3.1.7已修复

[2021-09-30 12:28] #628 closed, assigned to richard1015, guoxiao158

[2021-09-30 12:29] richard1015 commented on #649
3.1.7已修复，请参考 最新按需加载 使用文档

[2021-09-30 12:29] #649 closed, assigned to nobody

[2021-09-30 12:29] richard1015 commented on #648
3.1.7已修复

[2021-09-30 12:29] #648 closed, assigned to richard1015

[2021-09-30 12:30] richard1015 commented on #532
3.1.7

[2021-09-30 12:30] #532 closed, assigned to richard1015, JackieScorpio

[2021-09-30 12:30] richard1015 commented on #312
3.1.7已新增

[2021-09-30 12:30] #312 closed

[2021-09-30 20:48] MrChen2016-08-27 commented on #573
现在还是不能使用3.2吗

[2021-10-06 05:56] transtone commented on #681
3.1.7 依赖已调整。

但即便官方依赖更新到了 vue-3.2.19，仍然在微信小程序中报错。

[2021-10-06 05:57] #681 closed, assigned to richard1015

[2021-10-06 09:17] IchenDEV opened #707 "[bug] Taro 小程序下 CollapseItem 无法正常展开"
## 问题描述

Taro 小程序下 CollapseItem 无法正常展开，示例小程序中同样存在问题

## 最小可复现仓库

组件库示例:
https://github.com/jdf2e/nutui-demo/tree/master/taro
## 预期的行为和实际行为

点击展开Collapse

## 复现步骤，具体代码
https://github.com/jdf2e/nutui-demo/blob/master/taro/src/feedback/pages/collapse/index.vue

## 相关环境信息
- **操作系统**：macOS 12.0
- **Node 版本**：v15.14.0
- **Taro 版本**：3.3.9
- **NutUI 版本**： @nutui/nutui-taro 3.1.8
- **Vue 版本**：3.2.19
- **引用

[2021-10-06 13:01] strongyc opened #708 "react版本何时发布呀"
react版本何时发布呀

[2021-10-06 15:44] richard1015 commented on #673
新增组件Tabs重构完成，暂时可以使用测试版 [@nutui/nutui-taro@3.1.9-beta.0](https://www.npmjs.com/package/@nutui/nutui-taro/v/3.1.9-beta.0)
测试版文档 [https://jdf2e.github.io/nutui/#/tabs](https://jdf2e.github.io/nutui/#/tabs)
v3.1.9 发布时间 预计 10.11-10.15

[2021-10-06 15:45] richard1015 commented on #678
新增组件Tabs重构完成，暂时可以使用测试版 [@nutui/nutui-taro@3.1.9-beta.0](https://www.npmjs.com/package/@nutui/nutui-taro/v/3.1.9-beta.0)
测试版文档 [https://jdf2e.github.io/nutui/#/tabs](https://jdf2e.github.io/nutui/#/tabs)
v3.1.9 发布时间 预计 10.11-10.15

[2021-10-06 15:45] richard1015 commented on #614
新增组件Tabs重构完成，暂时可以使用测试版 [@nutui/nutui-taro@3.1.9-beta.0](https://www.npmjs.com/package/@nutui/nutui-taro/v/3.1.9-beta.0)
测试版文档 [https://jdf2e.github.io/nutui/#/tabs](https://jdf2e.github.io/nutui/#/tabs)
v3.1.9 发布时间 预计 10.11-10.15

[2021-10-06 15:46] richard1015 commented on #640
新增组件Tabs重构完成，暂时可以使用测试版 [@nutui/nutui-taro@3.1.9-beta.0](https://www.npmjs.com/package/@nutui/nutui-taro/v/3.1.9-beta.0)
测试版文档 [https://jdf2e.github.io/nutui/#/tabs](https://jdf2e.github.io/nutui/#/tabs)
v3.1.9 发布时间 预计 10.11-10.15

[2021-10-06 15:46] richard1015 commented on #626
新增组件Tabs重构完成，暂时可以使用测试版 [@nutui/nutui-taro@3.1.9-beta.0](https://www.npmjs.com/package/@nutui/nutui-taro/v/3.1.9-beta.0)
测试版文档 [https://jdf2e.github.io/nutui/#/tabs](https://jdf2e.github.io/nutui/#/tabs)
v3.1.9 发布时间 预计 10.11-10.15

[2021-10-06 15:47] richard1015 commented on #558
新增组件Tabs重构完成，暂时可以使用测试版 [@nutui/nutui-taro@3.1.9-beta.0](https://www.npmjs.com/package/@nutui/nutui-taro/v/3.1.9-beta.0)
测试版文档 [https://jdf2e.github.io/nutui/#/tabs](https://jdf2e.github.io/nutui/#/tabs)
v3.1.9 发布时间 预计 10.11-10.15

[2021-10-06 15:52] richard1015 commented on #708
Q4 底

[2021-10-07 03:44] strongyc commented on #708
期待react版本

[2021-10-07 03:46] strongyc opened #709 "[suggest]建议增加一个Gird组件"
![image](https://user-images.githubusercontent.com/51156342/136317074-19ff8b04-e31b-417a-8338-5a615dc83758.png)
九宫格，在日常使用中频率蛮高的

[2021-10-07 07:43] richard1015 commented on #709
get

[2021-10-10 03:51] wzs28150 opened #711 "vue3 taro 支付宝小程序样式上出现问题[bug]"
## 问题描述

我用taro的脚手架创建的项目
![image](https://user-images.githubusercontent.com/21290257/136681006-7f03b7c2-e738-4ce2-84ae-9251f4b0078e.png)
然后
运行时
![image](https://user-images.githubusercontent.com/21290257/136681020-57366f27-9236-4d47-94c5-52d47b0ae2cf.png)
默认app.ts这里的代码编译会报错
![image](https://user-images.githubusercontent.com/21290257/136681052-09a92c25-9240-4ee1-bbc0-f03de78dcb8e.png)
改用全部组件引用
![im

[2021-10-10 12:01] felix2chow opened #712 "[bug]vue3 调用Tabbar 控制台报错 [Vue warn]"
## 问题描述
vue3 调用Tabbar 示例代码 控制台报错
 [Vue warn]: Avoid app logic that relies on enumerating keys on a component instance. The keys will be empty in production mode to avoid performance overhead.

## 相关环境信息
- **操作系统**：macos 10.14.6
- **Node 版本**：v14.17.6
- **NutUI 版本**： @nutui/nutui@3.x.x
- **Vue 版本**：@vue/cli 4.5.13
- **引用方式**：NPM

[2021-10-11 02:12] richard1015 commented on #711
按需加载报错 按照这个文档配置一下
https://nutui.jd.com/#/starttaro

[2021-10-11 08:18] chareice opened #713 "[bug]使用taro init创建的项目启动报错"
<img width="778" alt="image" src="https://user-images.githubusercontent.com/1624785/136756355-b5fbf42f-9c98-4c8b-80f4-8c45a36e8b84.png">
<img width="1029" alt="image" src="https://user-images.githubusercontent.com/1624785/136756396-c821c8ce-5dff-4876-b2af-82c5a0fa99a0.png">

[2021-10-11 10:37] gaojs920426 opened #714 "[bug]Vue3 Swipe左滑删除组件，无法上下滑动"
## 问题描述

Swipe左滑删除组件，在触碰到左滑删除组件位置，上下滑动，无法进行上下滑动

## 最小可复现仓库

## 预期的行为和实际行为
组件在左滑的时候，出现删除按钮；在上下滑动的时候，可以进行上下滑动

## 复现步骤，具体代码
![image](https://user-images.githubusercontent.com/26408430/136776820-305024fd-6173-4cb2-a396-c06d78f73bd2.png)

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@3.1.8
- **Vue 版本**：Vue3
- **引用方式**：  CDN / NPM ？NPM

[2021-10-11 16:24] AiHaoChen opened #715 "[bug]NutUI中的Layout组件无法正常使用，编译后提示微信开发者工具提示Template `tmpl_0_div` not found."
## 问题描述

我在使用taro3 + vue3 + NutUI3按照官方文档的示例时使用Layout组件，发现无法正常使用。

## 复现步骤，具体代码
使用taro-cli工具创建的项目，其中index.vue文件内容如下：
![image](https://user-images.githubusercontent.com/37200516/136824780-a14df616-d9a5-4f7f-89a3-7659bd994850.png)

<template>
  <nut-row :gutter="10">
    <nut-col :span="8">
      <div class="flex-content">span:8</div>
    </nut-col>
    <nut-col :span="8">
      <div class="flex-cont

[2021-10-12 00:54] MonchiLin commented on #713
安装：`babel-plugin-import`

然后给 babel.config.js 添加 plugins 部分

[code]

这个糟心的开发体验，本来还想用 taro 开发，还是放弃吧

[2021-10-12 00:59] richard1015 commented on #713
按需加载引用方式，安装 babel-plugin-import  即可 https://nutui.jd.com/#/starttaro

 taro侧文档，官方文档&初始模板 早期已优化，等待PR合并中。
https://github.com/NervJS/taro-project-templates/pull/46
https://github.com/NervJS/taro/pull/10372

[2021-10-12 00:59] #713 closed, assigned to nobody

[2021-10-12 02:47] richard1015 commented on #715
检查一下是否采用了，按需加载方式

https://nutui.jd.com/#/starttaro

参考示例 https://github.com/jdf2e/nutui-demo/tree/master/taro

安装：`babel-plugin-import`

然后给 babel.config.js 添加 plugins 部分

[code]

[2021-10-12 02:47] #715 closed, assigned to nobody

[2021-10-12 03:37] AiHaoChen commented on #715
之前是按照示例按需引用的，后来嫌麻烦，改为全局引用了，然后卸载了babel-plugin-import，同时babel.config.js也已经注释掉相关按需引用的代码了。但是现在依然无法全局引用，这是为什么呢？
![image](https://user-images.githubusercontent.com/37200516/136887183-50917eef-a946-4448-8958-f122af5ff140.png)

![image](https://user-images.githubusercontent.com/37200516/136887143-685fadab-aecc-431e-855d-0300df9b20cb.png)

[2021-10-13 08:21] AiHaoChen opened #718 "[bug]关于tabbar使用第三方icon，无法显示出图形。"
## 问题描述
微信小程序，根据官方文档指南使用icon，引用iconfont，使用第三方icon，能在小程序中正常显示。

![image](https://user-images.githubusercontent.com/37200516/137094808-27c97455-c23b-436c-9a53-b035404ae092.png)
![image](https://user-images.githubusercontent.com/37200516/137094875-fd06f5e0-9822-44b3-b6c4-64d608b7c7a2.png)
但是在使用tabbar标签栏时出现了问题，tabbar的item支持icon中的所有图形，但是第三方iconfont中的icon确无法正常显示。

![image](https://user-images.githubuser

[2021-10-13 09:38] #425 closed, assigned to richard1015

[2021-10-13 10:34] Drjingfubo commented on #718
tabbar-item的名称入参不是name，是icon，https://nutui.jd.com/#/tabbar

[2021-10-13 10:40] #718 closed, assigned to Drjingfubo

[2021-10-14 02:01] szg2008 commented on #691
感谢反馈，问题已修复，下个版本可支持

[2021-10-14 02:22] yushuang-d opened #720 "[suggest]Imagepreview 组件功能比较单一，需要增加功能"
1、增加组件函数式调用功能
2、增加设置启始页码功能
3、增加点击图片退出轮播功能
4、增加显示轮播指示器功能以及点击功能
...

[2021-10-14 06:07] kl-nevermore commented on #711
钉钉小程序也是如此,基于taro-cli创建
![image](https://user-images.githubusercontent.com/25167742/137260302-d9d15277-c0ec-43b5-b7d2-310fa7a12a87.png)

[2021-10-14 07:27] richard1015 commented on #711
目前  团队内部只测试了  微信小程序 & H5  其它平台小程序陆续测试中

[2021-10-15 11:28] DingHui-Li opened #728 "[bug]nutui-taro v3.1.8 不存在 tabs，tabpane组件"
## 问题描述

"@nutui/nutui-taro"”没有导出的成员“Tabs”。你是否指的是“Tab”?

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：  "@nutui/nutui-taro": "^3.1.8",
- **引用方式**： NPM

[2021-10-15 11:43] richard1015 commented on #728
新增组件Tabs重构完成，暂时可以使用测试版 @nutui/nutui-taro@3.1.9-beta.0
测试版文档 https://jdf2e.github.io/nutui/#/tabs
v3.1.9 发布时间 10.17

[2021-10-16 08:09] xiaosifeng opened #729 "[suggest]"
## 你建议我们做什么？

现在 Price 商品价格组件的小数点是必有的

如果能
1. 小数点可以为0（也就是没有小数点后几位）
2. 可以修改单位在前还是后，参数可以自由传入比如说（元/￥/$）

[2021-10-16 09:13] bruceleedrupal opened #730 "[bug] swiper 无法引入使用"
https://github.com/jdf2e/nutui-demo/tree/master/taro/src/feedback/pages/swiper
直接测试demo就是错误的

[2021-10-16 15:20] wzs28150 commented on #711
退回到3.0.2版本就正常了
![image](https://user-images.githubusercontent.com/21290257/137592906-1c45bcc8-2cfb-4788-9ae0-28cb3bbeccab.png)

[2021-10-17 02:40] richard1015 commented on #730
直接使用 Taro 现有 Swiper 组件开发 参考文档 https://docs.taro.zone/docs/components/viewContainer/swiper

[2021-10-17 02:40] #730 closed, assigned to nobody

[2021-10-17 03:09] richard1015 commented on #662
v2.3.6

[2021-10-17 03:09] #662 closed, assigned to irisSong, yangxiaolu1993

[2021-10-17 05:44] bruceleedrupal commented on #730
nutui好多组件出现类似无法引入情况，另外例如这个backtop　 https://nutui.jd.com/3x/demo.html#/backtop 　也一样，引入了scroll-view组件也是报错，我想要的是一个正常解决方案，而不是換个taro组件替换

[2021-10-17 07:11] bruceleedrupal opened #733 "[bug] 返回顶部组件无法载入"
https://nutui.jd.com/3x/demo.html#/backtop
nutui好多组件出现类似无法引入情况，引入了scroll-view组件也是报错，我想要的是一个正常解决方案，而不是換个taro组件替换

[2021-10-17 07:22] richard1015 commented on #733
好多组件无法引入情况  先检查是不是 采用了按需加载的方式，没有配置 babel
https://github.com/jdf2e/nutui/discussions/727

[2021-10-17 09:49] richard1015 commented on #728
3.1.9 已发布

[2021-10-17 09:49] #728 closed, assigned to nobody

[2021-10-17 09:50] richard1015 commented on #714
3.1.9 已发布

[2021-10-17 09:50] #714 closed, assigned to richard1015

[2021-10-17 09:50] richard1015 commented on #707
3.1.9 已发布

[2021-10-17 09:50] #707 closed, assigned to richard1015, Ymm0008

[2021-10-17 09:50] wzs28150 commented on #711
![image](https://user-images.githubusercontent.com/21290257/137621815-823e1c28-607d-4e14-a3a8-a6c73caac6b9.png)
有这样有一个样式取消了就正常了

[2021-10-17 09:51] richard1015 commented on #691
3.1.9 已发布

[2021-10-17 09:51] #691 closed, assigned to szg2008

[2021-10-17 09:52] richard1015 commented on #678
3.1.9 已发布

[2021-10-17 09:52] #678 closed, assigned to zhenyulei

[2021-10-17 09:52] richard1015 commented on #626
3.1.9 已发布

[2021-10-17 09:52] #626 closed, assigned to szg2008, richard1015

[2021-10-17 09:52] richard1015 commented on #640
3.1.9 已发布

[2021-10-17 09:52] #640 closed, assigned to richard1015, zhenyulei

[2021-10-17 09:52] richard1015 commented on #558
3.1.9 已发布

[2021-10-17 09:52] #558 closed, assigned to zhenyulei

[2021-10-17 09:54] richard1015 commented on #614
3.1.9 已发布

[2021-10-17 09:54] #614 closed, assigned to szg2008, zhenyulei

[2021-10-17 09:54] richard1015 commented on #673
3.1.9 已发布

[2021-10-17 09:54] #673 closed, assigned to richard1015, zhenyulei

[2021-10-17 09:54] richard1015 commented on #688
3.1.9 已发布

[2021-10-17 09:54] #688 closed, assigned to richard1015

[2021-10-18 01:43] #329 closed

[2021-10-18 03:39] domsgit opened #735 "[bug]npm仓库上的@nutui/nutui-taro包组件没有分别导出，但源码build的包里组件会分别导出。是不是发布到npm仓库前没有build？"
## 问题描述

npm仓库上的@nutui/nutui-taro包组件没有分别导出，但源码build的包里组件会分别导出。

## 最小可复现仓库

## 预期的行为和实际行为
预期的行为：npm仓库上的@nutui/nutui-taro包组件有分别导出，可以通过import { xxx } from '@nutui/nutui-taro'引入。
实际的行为：npm仓库上的@nutui/nutui-taro包组件没有分别导出，但源码build的包里组件会分别导出。

## 复现步骤，具体代码
@nutui/nutui-taro包版本为 3.1.9

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式

[2021-10-18 05:36] bruceleedrupal opened #736 "[bug] infiniteloading无法载入使用"
![2021-10-18 13-36-18 的屏幕截图](https://user-images.githubusercontent.com/7478954/137674676-ba94c71b-bac4-4341-ad24-191b9cd6c6e2.png)

[2021-10-18 05:50] richard1015 commented on #736
直接使用 Taro 现有 ScrollView 组件开发 参考文档
https://docs.taro.zone/docs/components/viewContainer/scroll-view

[2021-10-18 07:14] bruceleedrupal commented on #736
nutui已经有现成的用不了，最好是通过配置方面的调整让组件可用，而不是另外找替代组件,这nutui有好几个组件都有类似情况，这种问题应该是能解决的吧

[2021-10-18 07:38] richard1015 commented on #736
嗯，关于nutui 使用 taro原生组件透传这个问题在解决中

[2021-10-18 07:40] richard1015 commented on #735
刚刚内部测试，发现没有问题
建议检查一下你项目内部   是否配置了按需加载的方式 #727

#### WebPack 构建工具 通过 babel 使用按需加载

[babel-plugin-import](https://github.com/ant-design/babel-plugin-import) 是一款 babel 插件，它会在编译过程中将 import 语句自动转换为按需引入的方式。
##### 安装插件
[code]
在 `.babelrc` 或 `babel.config.js` 中添加配置：
[code]

[2021-10-18 07:41] richard1015 commented on #735
参考 demo https://github.com/jdf2e/nutui-demo/tree/master/taro

[2021-10-18 07:41] #735 closed, assigned to nobody

[2021-10-18 08:15] richard1015 commented on #711
@wzs28150   感谢反馈，[v3.1.10-beta.0](https://www.npmjs.com/package/@nutui/nutui-taro/v/3.1.10-beta.0)已修复，可以暂时使用这个版本进行开发
[fix: 修复小程序demo预览在其他多端平台的样式问题](https://github.com/jdf2e/nutui/commit/16790216b547a755626c058fd420fe6c45f4fe37)

[2021-10-18 08:30] richard1015 commented on #583
使用v3.1.9 新 tabs组件即可

[2021-10-18 08:37] bruceleedrupal commented on #736
@richard1015 希望能早点解决，不然开发很受打击。我给点自己的一点分析判断，希望对解决这问题有点作用。
nutui的组件会调用taro控件和微信小程序的原生组件，如果定义的nutui组件调用的底层组件名称存在的模糊定义那就会出错，譬如这个infiniteloading,调用了scroll-view,但是这scoll-view,即在taro原生控件中有定义，又在微信小程序原生组件中有定定义，所以infinieloading组件就不清楚该如何渲染。
我不清楚这底层该如何配置才能消除这种不确定性，我想这问题解决了，那其他组件的问题应该都能一并解决

[2021-10-18 09:35] richard1015 commented on #736
@bruceleedrupal   是的，是这个[问题](https://github.com/b2nil/taro-plugin-vue)，目前已有解决方案 开发者在处理
@szg2008

[2021-10-18 09:36] richard1015 commented on #733
#736  同类问题

[2021-10-18 15:46] AiHaoChen opened #741 "[question]请问微信小程序做tabbar切换页面是怎么一个思路呢？以京东购物微信小程序为例。"
## 你想知道什么？
我想知道使用NutUi的tabbar怎么实现正常的页面切换效果的。

以京东购物微信小程序为例，每次进入京东购物的“首页”，首页的下拉栏都会重置，看起来像是redirectTo或者重新加载，或者v-if或者v-show；然后其他，比如“分类”、“附近生活圈”等其他的tabbar不会重新加载。我想知道京东购物微信小程序的tabbar切换思路，我也依此思路实现该功能。

## 描述你考虑过的替代方案
我之前以为实现该功能是tabbar+tabs实现的，但是tabs不能隐藏标签栏，貌似不对。然后我能想到的就是一个页面，使用v-if或者v-show来控制显示；另一个思路就是有多少个tabbar就有多少个页面，使用navigateTo跳转到对应的页面，每个页面下方的tabbar是多个tabbar，使用方法控制tabbar的激活样式。

我想...
请告诉我使用NutUI实现京东

[2021-10-19 07:02] giantss opened #742 "日历控件支持 subtitle 吗?"
## 你想知道什么？

![image](https://user-images.githubusercontent.com/13778798/137859662-a8be943f-a6ab-45a5-adb9-515d85945e8d.png)

日历控件支持类似上图这种 subtitle 吗?

[2021-10-19 10:10] april-zhy opened #743 "button添加submit类型 [suggest]"
## button添加submit类型

button组件没有form-type属性，希望添加，同时添加form组件。微信小程序中，发送订阅消息需要formId，只有form中的submit类型button才能触发

## 其它

无

[2021-10-20 08:57] ll-lili opened #745 "[bug]IOS11.3 picker/swipe/swiper/等组件 滑动事件无响应或者异常"
## 问题描述
[bug]IOS11.3 picker/swipe/swiper/等组件 滑动事件无响应或者异常：
1.微信浏览器表现滑动事件无响应
2.uc 和  safari 不稳定会出现类似事件穿透现象

## 复现步骤，具体代码
BUG是在预览官方demo时发现的
测试官方demo即可
https://nutui.jd.com/3x/demo.html#/picker

## 相关环境信息
- **操作系统**：ios11.3
- **Node 版本**：官方demo版本
- **NutUI 版本**： 官方demo版本
- **Vue 版本**：官方demo版本

[2021-10-20 11:36] alex86w commented on #708
+1

[2021-10-21 02:54] p930203110 commented on #729
需求1真的需要啊。
需要2中参数现在已经可以通过symbol来传入，不过现在只能放在前面。
另外还有一个需求没人提么。。金额的font-size没办法设置。

[2021-10-21 03:04] p930203110 opened #748 "Price组件如果能提供一个size属性就更好了[suggest]"
## Price组件提供一个size属性，small medium big 或者支持数值

现在Price不支持调整大小

如果你能提供一个size属性，small medium big 或者支持数值

它将符合更多的使用场景，因为有些地方price并不需要显示那么大的。

## 谢谢

[2021-10-21 17:01] AiHaoChen opened #760 "[bug]Tabs左右布局自定义主题样式问题。"
## 问题描述

tabs组件使用左右布局方式，已经使用了自定义主题，却发现左右布局的tabs的标题的曲线样式没有改变。
![image](https://user-images.githubusercontent.com/37200516/138322441-838776e6-546d-4da3-a349-51048b7c4594.png)
custom_theme已经定义了。
![image](https://user-images.githubusercontent.com/37200516/138322523-c9e511c3-3ed7-47ac-99e2-f5ba7226419f.png)

最终发现原来左右布局的tabs的标题下划线是一张图片，
![image](https://user-images.githubusercontent.com/37200516/1383227

[2021-10-21 23:15] yangjisen commented on #741
小程序有一个onshow的方法，左每次进入进行初始化选中的tabs?

[2021-10-22 01:17] april-zhy opened #768 "[bug]本地图片加载问题--使用v-for本地图片加载失败"
## 问题描述

可行：
[code]

不可行：
[code]

## 相关环境信息
- **操作系统**：
- **Node 版本**：v12.18.2
- **NutUI 版本**："@nutui/nutui-taro": "^3.1.8",
- **Vue 版本**：	"vue": "^3.0.0"
- **引用方式**： NPM ？

[2021-10-22 07:53] Ttou opened #774 "[bug]开发小程序时报 [WXSS 文件编译错误]"
## 问题描述

## 最小可复现仓库

[示例项目](https://gitee.com/jh_shot/taro-template)

## 预期的行为和实际行为
`3.1.9` 版本会报这个错误， `3.1.8` 是正常的

![image](https://user-images.githubusercontent.com/4298437/138415389-43d5279c-5add-40f4-a713-68f3e0e7dde6.png)

[2021-10-22 07:59] Ttou commented on #774
看了下源码，发现是 `style.css` 里的代码引起的：

[code]

[2021-10-23 10:55] richard1015 opened #776 "tabbar nutui-taro 3.x [bug]"
## 问题描述

我最近在做taro的h5项目。遇到了一个问题。想请教一下。 点击当前的tabbar，会刷新当前的tab。而且页面栈会在堆积，请问一下这个应该怎么处理。
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui-taro
- **Vue 版本**：
- **引用方式**：   NPM

[2021-10-25 04:46] #776 closed, assigned to Drjingfubo

[2021-10-25 04:47] richard1015 commented on #774
好的，感谢反馈，我修复一下

[2021-10-25 04:54] richard1015 commented on #774
https://github.com/jdf2e/nutui-demo/tree/master/taro
这边使用基础仓库测试的没问题啊

[2021-10-25 05:41] richard1015 commented on #774
vue tsx 刚刚看你仓库

[2021-10-25 06:38] Ttou commented on #774
@richard1015 我把demo库拷下来，改成tsx，也没发现问题，搞不懂了，我晚上有空再看看吧

[2021-10-25 08:20] Ttou commented on #774
看了下文档，小程序不支持通配符，引用 `style.css` 就是会报错

[code]

[2021-10-25 12:05] richard1015 commented on #741
京东购物微信小程序 用的微信原生组件 https://developers.weixin.qq.com/miniprogram/dev/platform-capabilities/extended/weui/tabbar.html

或者自定义 tabbar 都是可以的  https://developers.weixin.qq.com/miniprogram/dev/framework/ability/custom-tabbar.html

[2021-10-25 12:05] #741 closed, assigned to nobody

[2021-10-25 12:18] richard1015 commented on #774
是不是没有安装 plugins: ['@tarojs/plugin-html'],

[2021-10-26 00:44] Ttou commented on #774
@richard1015 装了插件就可以了

[2021-10-26 00:45] #774 closed, assigned to nobody

[2021-10-26 08:25] julianfox0119 opened #787 "Elevator [bug]"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为
点击index正常跳转

## 复现步骤，具体代码
浏览器报这个warning，用的就是taro vue3的脚手架创建的。目前看小程序和H5都报这个warning
![image](https://user-images.githubusercontent.com/4902327/138838025-ad47dcea-cb57-4624-9508-aa978e66ffc0.png)
![image](https://user-images.githubusercontent.com/4902327/138838278-3d75d306-cdc1-4ca5-86d4-64e27d779962.png)

Failed to resolve component: scroll-view
If this is a native

[2021-10-26 08:41] julianfox0119 commented on #787
用的是ts，所以这个是需要额外配置什么么？网上搜了半天也没有个能work的solution。奇怪了。

[2021-10-26 08:55] julianfox0119 commented on #787
![image](https://user-images.githubusercontent.com/4902327/138845284-20054dcb-8ee6-4ed1-b588-f77d5b73ed02.png)

[2021-10-26 09:26] julianfox0119 commented on #787
[taro-nutui.zip](https://github.com/jdf2e/nutui/files/7416824/taro-nutui.zip)

[2021-10-26 12:05] richard1015 commented on #768
这是 webpack 的相关使用问题，你按照下列方式配置即可
[code]

[2021-10-26 12:05] #768 closed, assigned to nobody

[2021-10-27 07:57] cosmozhu opened #794 "[bug]最新发布的 @nutui/nutui-taro 3.1.9里面没有包含 Searchbar组件，但官方文档里却有介绍"
## 问题描述

最新发布的 @nutui/nutui-taro 3.1.9里面没有包含 Searchbar组件，但官方文档里却有介绍
![image](https://user-images.githubusercontent.com/5482940/139024120-fc2ef551-facd-4111-8ca9-74a378527f5c.png)

![image](https://user-images.githubusercontent.com/5482940/139023865-5ec1815c-dd10-4e49-97c1-8009ae05906b.png)

## 相关环境信息
- **NutUI 版本**： @nutui/nutui-taro 3.1.9
- **Vue 版本**：3.2.20
- **引用方式**：  NPM

[2021-10-28 01:38] richard1015 commented on #794
抱歉，昨天官网更新来着，该组件 会在下个版本  v3.1.10中体现

[2021-10-28 02:16] cosmozhu commented on #794
预计v3.1.10什么时间发布

[2021-10-28 04:19] odysseus9451 opened #797 "组件库的设计资源sketch有提供下载的计划吗？"
公司想用nutui，但是并没有sketch文件下载，figma的也可以，麻烦问下有在计划中吗

[2021-10-28 09:52] 297cwrun opened #799 "[bug]taro下Divider组件无法正常使用"
## 问题描述
正确引入Divider组件后，尽管能在vue-devtool下看到该组件的信息，但组件在wxml中没有渲染。

## 预期的行为和实际行为
实际行为：无论是否包含文本内容，divider组件都未能出现在wxml中，但没有任何报错信息。

## 相关环境信息
- **Node 版本**：
- **NutUI 版本**： "@nutui/nutui-taro": "^3.1.8",
- **Vue 版本**：3.00
- **引用方式**： yarn

[2021-10-29 01:33] richard1015 commented on #797
下周官网 资源入口会展示 sketch

[2021-10-29 04:27] ShawshankLin commented on #588
文档上怎么没看到有这个？

[2021-10-30 00:47] yangjisen commented on #299
己经一年过去了，我想问一下这个排期上了吗？最近正好有这需求

[2021-10-30 00:51] yangjisen commented on #709
有进展了么？好几个人都提了这需求，计划什么时候呢？ @richard1015

[2021-11-01 03:57] odysseus9451 commented on #797
好的谢谢

[2021-11-01 03:57] #797 closed, assigned to nobody

[2021-11-01 04:33] richard1015 commented on #794
本周五

[2021-11-01 04:34] richard1015 commented on #797
https://nutui.jd.com/#/resource

[2021-11-01 07:29] liuxiaobina opened #806 "可以支持下 日历控件 自定义文本"
![1fb36ffefdc4565387415cdb4ce996c](https://user-images.githubusercontent.com/27754478/139636691-e12d6962-ccb7-40c4-8d9a-da7c186b039e.png)

[2021-11-02 06:34] misterji opened #808 "[question]钉钉小程序编译出现问题！"
钉钉小程序 多出一个样式造成排版样式出错

view {
  display: block;
}

Picker 选择器 与 Datepicker 日期选择器
 钉钉小程序没法使用。

[2021-11-03 03:45] Skytrajectory opened #810 "[bug]Rate评分组件半星情况出现颜色差异"
## 预期的行为和实际行为

## 复现步骤，具体代码
      <nut-rate v-model="product.rate" readonly allow-half="true" active-color="#FFC800" />

当评分三星半的时候，前三颗星星是黄色的，最后半星的默认颜色

[2021-11-03 05:20] julianfox0119 opened #811 "[bug]DatePicker for Taro"
## 问题描述

![grafik](https://user-images.githubusercontent.com/4902327/140013115-dd0cd7ac-2b0d-4f37-b55c-542dd3a989b8.png)
DatePicker 报warning 渲染不出来，按照官网的例子写的。

## 最小可复现仓库

[taro-nutui.zip](https://github.com/jdf2e/nutui/files/7465496/taro-nutui.zip)

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息

    操作系统：win10
    Node 版本：12.22.3
    NutUI 版本： @nutui/nutui@2.x.x or @nutui/nutui-jdl@1.x.x ============== 3

[2021-11-03 07:40] Banzerczhs commented on #743
确实，别的小程序ui组件都实装了form组件，连自家的taroui都有。我看这个问题从19年就开始提出了，为何官方到现在还没有进行实装。

[2021-11-03 08:12] 297cwrun opened #814 "[suggest]Cell组件支持subTitle的插槽"
## 你建议我们做什么？

现在`<nut-cell/>`里的sub-title只能使用字符串，但在比如vant之类的库里，这类组件都支持使用插槽自定义此块内容。现在比如想在sub-title处放一个评分显示也会做起来相当麻烦

## 其它

无

[2021-11-03 12:03] richard1015 commented on #760
本周五发版 3.1.10

[2021-11-04 07:52] Silentdoer opened #817 "[bug]文档里的Input最下面的数字可以输入中文"
还有就是整数可以输入小数点

[2021-11-04 10:26] jaelam0214 opened #818 "[bug]在Infiniteloading中使用swipe，ios手机无法在swipe区域对列表进行上下滑动"
## 问题描述
在Infiniteloading中使用swipe，ios手机无法在swipe区域对列表进行上下滑动，只能在swipe间隔处对列表进行上下滑动。安卓手机都能正常交互。

## 预期的行为和实际行为
在Infiniteloading中使用swipe，ios手机能在Infiniteloading内（包含子组件swipe）区域对列表进行正常上下滑动。

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：ios
- **Node 版本**：14.x.x
- **NutUI 版本**： @nutui/nutui@3.x.x
- **Vue 版本**：3.2.x
- **引用方式**：  NPM

[2021-11-05 12:00] #808 closed, assigned to nobody

[2021-11-05 12:00] richard1015 commented on #799
v3.1.10 发布

[2021-11-05 12:00] #799 closed, assigned to nobody

[2021-11-05 12:00] richard1015 commented on #711
v3.1.10 发布

[2021-11-05 12:00] #711 closed, assigned to Drjingfubo

[2021-11-05 12:00] richard1015 commented on #760
v3.1.10 发布

[2021-11-05 12:00] #760 closed, assigned to richard1015

[2021-11-05 12:01] richard1015 commented on #814
v3.1.10 发布

[2021-11-05 12:01] #814 closed, assigned to nobody

[2021-11-05 12:01] richard1015 commented on #748
v3.1.10 发布

[2021-11-05 12:01] #748 closed, assigned to nobody

[2021-11-05 12:01] richard1015 commented on #712
v3.1.10 发布

[2021-11-05 12:01] #712 closed, assigned to Drjingfubo

[2021-11-05 12:05] #794 closed, assigned to JackieScorpio

[2021-11-05 12:13] #583 closed, assigned to szg2008, richard1015, zhenyulei

[2021-11-06 00:16] n1203 opened #821 "[bug] Nut-Rate 不支持自定义icon"
## 问题描述

目前只能用组件库提供的icon，没办法使用自定义的icon
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2021-11-08 08:08] AsherSun opened #823 "小程序图片上传数量限制问题"
https://github.com/jdf2e/nutui/blob/adbc026be4ad0baf7dfceaf5e091baf92ce9c49f/src/packages/__VUE/uploader/index.taro.vue#L103-L111

根据文档上描述，数量限制字段是`maximum `，但是上面的代码中使用了`maximize`字段。希望修改下。

我这边提了`PR`之后，好像有提示不能合并到`next`分支，所以自己就关闭了这个`PR`。 https://github.com/jdf2e/nutui/pull/822

[2021-11-08 08:14] richard1015 commented on #823
可以合并啊，辛苦重新打开一下PR 我合并一下

[2021-11-08 08:18] AsherSun commented on #823
好的，已经重新打开了

[2021-11-08 08:22] richard1015 commented on #811
taro 环境下 使用 https://docs.taro.zone/docs/components/forms/picker

[2021-11-08 08:22] #811 closed, assigned to nobody

[2021-11-09 06:30] MechaGirls commented on #527
我遇到了OverLay无法显示使用

[2021-11-09 06:49] benny-eu opened #825 "[question]ts类型都是空的？"
## 你想知道什么？
为什么类型都是空的？
![image](https://user-images.githubusercontent.com/27949351/140875278-0da7774a-ee47-476e-8a0d-caa944b9f95d.png)

## 描述你考虑过的替代方案

## 其它
目前在使用`Volar`，`SFC`没有`props`类型提示。

[2021-11-09 07:49] Zfeiyang opened #826 "[bug] 2.x nut-textinput通过代码清空value值，clear-btn不消失"
## 问题描述
nutui版本 2.3.6，nut-textinput文本框组件，clear-btn属性为true，也就是有清空按钮。
通过代码清空input的值，清空按钮还在。

## 最小可复现仓库

## 预期的行为和实际行为
value值置空时，清空按钮消失

## 复现步骤，具体代码
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet"

[2021-11-09 15:19] koiomi opened #828 "[bug] 微信小程序按需引入Picker组件报错"
## 问题描述
Hi，我使用Taro脚手架按照官网搭建了脚手架，在微信小程序中开发。
其中Button和Cell组件按需引入正常，但是Picker组件按需引入却报错了.。

![image](https://user-images.githubusercontent.com/30486677/140951490-b44259d6-ecd4-4676-8eb5-637744315fc4.png)

## 最小可复现仓库

## 预期的行为和实际行为
预期：按需引入正常
实际：Button和Cell组件按需引入正常，但是Picker组件按需引入却报错了
## 复现步骤，具体代码
1.Taro脚手架 初始化项目，按需引入Picker组件

![image](https://user-images.githubusercontent.com/30486677/140951242-444c78ee-

[2021-11-10 06:31] muitang opened #829 "[bug]signature组件在“微信小程序”中点确认后保存的图片无法打开查看签名图片"
## 问题描述

signature组件在“微信小程序”中点确认后保存的图片无法打开查看签名图片。
## 最小可复现仓库

## 预期的行为和实际行为
src/packages/__VUE/signature/index.taro.vue

原代码：
 const onSave = () => {
      if (!state.canvas) {
        return;
      }
      Taro.canvasToTempFilePath({
        canvas: state.canvas,
        fileType: props.type
      })
        .then((res) => {
          emit('confirm', res.tempFilePath);
        })
        .catch((

[2021-11-10 07:19] richard1015 commented on #829
@muitang   可以提一个PR 我们合并一下 ，下个版本发布

[2021-11-10 12:11] richard1015 commented on #826
this.message = '';

这样试试呢

[2021-11-10 12:15] Zfeiyang commented on #826
感谢你的回复，结果是相同的，清除按钮依然存在。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "jdf2e/nutui"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年11月10日(星期三) 晚上8:11
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&

[2021-11-11 10:13] no5no6 opened #831 "[bug] 组件库样式文件中出现 * 选择器，小程序不支持，运行报错"
问题描述
您好，查了之前的 issue 里也提到类似问题 #773 ，我尝试了之前 issue 中提到的解决办法，安装、并在 config/index.js 文件中配置 plugins: ['@tarojs/plugin-html'] 。也不能解决问题。

错误信息
![image](https://user-images.githubusercontent.com/5174886/141279706-3720e38b-66b4-440e-887f-1ef51754272d.png)

尝试了几个版本：
3.1.10 和 3.1.9 都报错。
3.1.8 和3.1.7 不报错

[2021-11-12 01:22] no5no6 commented on #831
#773

[2021-11-12 06:01] kuonji-arisu opened #833 "[bug] Taro版 Radio组件 label props只定义了String类型导致警告"
## 问题描述
Taro版 Radio组件, 文档注明了label props支持Number, String喝Boolean类型

但查看源码后, 发现该Props的type只定义了String类型, 在使用诸如 :label="0"的写法时, 会导致类型检查警告, 但并不影响使用

版本: 3.1.10

[2021-11-12 06:24] richard1015 commented on #833
该问题本周已修复，下周一发版即可  74afe5c29bd437071abdb1c7d6ddb791c347e731

[2021-11-15 09:09] wcldyx commented on #708
啥时候发布

[2021-11-15 14:01] liuweiyibai opened #835 "[question] Icon 组件显示不出来，所有用到Icon的地方都空白"
taro + vue3开发，组件按需加载，在使用Icon组件和button带icon的组件是，icon显示不出来，是我还需要安装其他依赖，还是需要指定 taro相关依赖版本

[code]

[2021-11-15 14:36] richard1015 commented on #835
import { Button,Icon } from '@nutui/nutui-taro';

[2021-11-15 14:37] richard1015 commented on #835
使用的是推荐模板吗？https://nutui.jd.com/#/starttaro
重新按照问题生成一个项目试试呢

[2021-11-15 14:37] richard1015 commented on #833
v3.1.11

[2021-11-15 14:37] #833 closed, assigned to nobody

[2021-11-15 14:37] richard1015 commented on #831
v3.1.11

[2021-11-15 14:37] #831 closed, assigned to richard1015

[2021-11-15 14:38] richard1015 commented on #823
v3.1.11

[2021-11-15 14:38] #823 closed, assigned to nobody

[2021-11-15 14:39] richard1015 commented on #64
v3.1.11 已发布 https://nutui.jd.com/#/sku

[2021-11-15 14:39] #64 closed

[2021-11-15 14:41] richard1015 commented on #684
state.file1List.push({ url: "…… .png", id: 1407, name: "41.png" })

[2021-11-15 14:41] #684 closed, assigned to richard1015

[2021-11-15 14:41] #829 closed, assigned to guoxiao158

[2021-11-15 14:41] richard1015 commented on #566
3.1.11已修复

[2021-11-15 14:41] #566 closed, assigned to richard1015

[2021-11-16 01:42] liuweiyibai commented on #835
刚刚新初始化的项目，windows系统

![image](https://user-images.githubusercontent.com/21965057/141880261-ab3b7d27-9752-4ab1-9c95-3c53834f7dff.png)

我的 app.ts
[code]

[2021-11-16 12:57] AsherSun commented on #828
小程序开发，`nutui`文档中建议直接使用`Taro`提供的`Picker`组件开发。详细文档如下：https://github.com/jdf2e/nutui/blob/next/src/packages/__VUE/picker/doc.taro.md

[2021-11-16 15:59] life88 opened #838 "[bug] Popover 组件 item 点击报错"
## 问题描述

小程序中使用 `Popover` 组件点击选项时报错
[code]

## 最小可复现仓库

目前官网上示例点击一样也会报错

## 预期的行为和实际行为

## 复现步骤，具体代码
目前官网上点击打开控制台也会报错

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui-taro@3.1.11
- **Vue 版本**：vue@3.2.20
- **引用方式**：  NPM

[2021-11-17 06:57] richard1015 commented on #835
检查一下这个插件是否安装     plugins: ['@tarojs/plugin-html'],

https://github.com/NervJS/taro/discussions/9029

[2021-11-17 12:36] liuweiyibai commented on #835
插件安装了，会不会是这个插件版本的问题呢

[2021-11-17 15:17] crazyshakalaka commented on #608
这么好看的UI看到瞬间不想用其他的 react 好久出来啊

[2021-11-18 01:33] iceDays commented on #835
有没有安装DevTools ?

[2021-11-18 02:51] 297cwrun opened #839 "[suggest]Input组件在readonly时placeholder的显示问题"
## 你建议我们做什么？

`<nut-input/>`组件的readonly属性现在是通过v-if/else切换标签显示实现的而非阻止点击实现的，这会使得在需要二次封装的时候，需要的效果与实际不一致。比如当我自行封装一个点击后出现特殊弹窗的组件时，我使用`<nut-input :readonly="true"/>`只是为了获得一个与普通Input样式效果一样的框而已。

类似于[vant组件库这里的用法](https://vant-contrib.gitee.io/vant/#/zh-CN/picker#da-pei-dan-chu-ceng-shi-yong)。

## 其它

无

[2021-11-18 03:17] 297cwrun commented on #839
似乎只有taro版本如此

[2021-11-18 04:07] xiaodiqaq commented on #835
有解决吗，遇到了同样的问题
` "dependencies": {
    "@babel/runtime": "^7.7.7",
    "@nutui/nutui-taro": "^3.1.8",
    "@tarojs/components": "3.3.14",
    "@tarojs/plugin-html": "3.3.13",
    "@tarojs/runtime": "3.3.14",
    "@tarojs/taro": "3.3.14",
    "vue": "^3.0.0",
    "vuex": "^4.0.2"
  },`

[2021-11-18 04:10] xiaodiqaq commented on #835
有解决吗，遇到了同样的问题

[2021-11-18 11:00] senyawang opened #842 "nutui-taro 组件[bug]"
## 问题描述
微信小程序版组件，在安卓机上体验需要优化，具体如下：
1，日历组件 滑动  卡顿
2，密码 键盘在获取焦点的时候 来回 跳动
3，Actionsheet， popup  第一次使用时 闪现，缺少入场动画
4，环形进度条 在 动画 过程在 50% 的时候会留有 残影
5，noticeBar 列表滚动 动画结束时有一个卡顿的效果

## 最小可复现仓库
官方demo可复现

## 相关环境信息
- **操作系统**：redmi k30   微信小程序
- **Node 版本**：android 10
- **NutUI 版本**： @nutui/nutui@3

[2021-11-19 09:18] tolking commented on #825
希望优化类型提供更好的代码提示

[2021-11-19 09:27] tolking commented on #646
我之前写过基于md文档生成提示文件的工具，感兴趣可以参考下 [components-helper](https://github.com/tolking/components-helper)

[2021-11-20 14:12] misterji commented on #808
Uncaught (in promise) ReferenceError: confirm is not defined
 问题依旧

[2021-11-20 14:28] misterji commented on #808
Picker 选择器 与 Datepicker 日期选择器 没法使用  用build:alipay 编译不能上传反而用dev:alipay 编译能上传。

[2021-11-21 10:41] tolking commented on #835
@tarojs/plugin-html 的版本应该与其它 `@tarojs/*` 版本保持一致

[2021-11-23 02:51] odysseus9451 opened #845 "[question]figma设计资源或sketch资源2.0版本？"
现有的sketch文件元素编组个人风格太强了，如图
![image](https://user-images.githubusercontent.com/12756682/142964322-6ea28289-4d81-4991-8dd6-3c242574a722.png)
而且为二倍图，字体也是内部字体京东正黑体。
导入到figma里之后使用起来很不方便，所以麻烦问一下figma设计资源或sketch资源2.0版本在日程上吗？

[2021-11-23 13:40] liuhp opened #847 "[bug] TextArea组件的rows属性不生效并且TextArea在控制台中减小width后，文本框中文字不能自动换行"
## 问题描述
1. TextArea组件的rows属性不生效；
2. TextArea组件在控制台中设置宽度后，文本框中的内容不能自动换行，导致里面的文本展示不全（原生textarea也存在此问题）；
控制台修改前图片如下：

![image](https://user-images.githubusercontent.com/30249361/143032958-0d6f1ba0-e13a-4ca0-b605-586e6ad11b58.png)

控制台修改width后：
![image](https://user-images.githubusercontent.com/30249361/143033377-0ea2e385-bffe-4aad-a7e1-65eb20d7221e.png)

## 最小可复现仓库
1. 问题描述1复现（官网例子）：
[code]
2. 问题描述2复现

[2021-11-24 03:23] ninidesign commented on #845
嗨 同学您好，感谢您提出的问题，为了能满足部分同学对源文件的需求，由于时间仓促先上了一版，对于分组和命名以及symbol都没有一个很好的组织这一点，先向您道歉，NutUI团队是一个开源项目，每个成员都是利用自己的业余时间甚至是自己的周末时间来优化迭代，对于规范上的瑕疵我们会下架整理，请您耐心等待；对于二倍图的问题，公司内部服务的设计团队常用规范是二倍图，我们也没有资源照顾到不同使用习惯的同学，希望您见谅，我们会持续对源文件规范来做更多版本的设计开发~谢谢~

[2021-11-25 10:00] #838 closed, assigned to liqiong-lab

[2021-11-26 02:40] Cat-czh opened #853 "[bug]nut-uploader 报错"
v3.1.11
nut-uploader 报错： 全局错误处理 TypeError: Cannot read property 'includes' of undefined
小程序上传后的type是undefined
![image](https://user-images.githubusercontent.com/71885928/143518438-9672f05c-0cb9-4502-b920-6d280d6d9bf3.png)
![image](https://user-images.githubusercontent.com/71885928/143518472-f38a377e-3c53-4c6d-bab4-a70516248eb7.png)

[2021-11-26 06:47] AsherSun commented on #853
这个问题已经提交PR了，等待下一个版本发布就可以了
[fix(uploader): 修复小程序端传图后报错问题](https://github.com/jdf2e/nutui/pull/836)

[2021-11-27 01:57] richard1015 commented on #660
min-height 自定义样式调整

[2021-11-27 01:57] #660 closed, assigned to richard1015

[2021-11-27 02:21] #835 closed, assigned to nobody

[2021-11-27 02:28] richard1015 commented on #818
升级nutui 到最新版本试一下，
新增参数与
touch-move-prevent-default
touch-move-stop-propagation

[2021-11-27 02:28] #818 closed, assigned to nobody

[2021-11-27 02:32] LadyChatterleyLover opened #859 "vue3区间选择器: Property "index" was accessed during render but is not defined on instance"
vue3引用区间选择器报错: Property "index" was accessed during render but is not defined on instance

[2021-11-27 03:42] #853 closed, assigned to nobody

[2021-11-27 03:42] #720 closed, assigned to JackieScorpio

[2021-11-27 03:43] #821 closed, assigned to richard1015

[2021-11-27 03:43] #810 closed, assigned to nobody

[2021-11-27 03:43] richard1015 commented on #143
https://nutui.jd.com/#/form

[2021-11-27 03:43] #143 closed

[2021-11-27 14:58] haiweilian opened #863 "[bug] uploader(taro) 多张图片同时上传时类型判断错误"
## 问题描述

当多张同时上传时，图片类型判断错误会展示 icon 视图。

![12](https://user-images.githubusercontent.com/34850199/143686489-c5873d67-de8a-4ec6-b3dd-ae99f04ff450.png)

## 复现步骤，具体代码

每次匹配使用同一个正则的问题 [MDN ](https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/RegExp/test#%E5%BD%93%E8%AE%BE%E7%BD%AE%E5%85%A8%E5%B1%80%E6%A0%87%E5%BF%97%E7%9A%84%E6%AD%A3%E5%88%99%E4%BD%BF%E7%94%A8test)。

[code

[2021-11-29 07:04] Yaonie-Jie opened #865 "[suggest]请求增加自定义tabbar"
请求增加自定义tabbar,使用场景比较多的
![image](https://user-images.githubusercontent.com/24479437/143822725-36def93d-7e9d-4030-b86b-974f0c0d8c49.png)

[2021-11-29 09:01] Itswag opened #866 "[bug]nutui-taro ImagePreview组件无法加载"
## 问题描述

缺少ImagePreview模块
Module not found: Can't resolve '@nutui/nutui-taro/dist/packages/_es/ImagePreview' in 'C:\Users\sr\what-to-eat\src'
## 最小可复现仓库

无

## 复现步骤，具体代码
无

## 相关环境信息
- **操作系统**：win11
- **Node 版本**：14.15.1
- **NutUI 版本**： @nutui/nutui-taro: @3.3.12
- **Vue 版本**：3
- **引用方式**：  NPM
- **Taro cli版本**：  3.3.15

[2021-11-29 10:19] richard1015 commented on #866
Imagepreview 目前只有3x vue 存在
 Taro场景下，请直接调用原生API
https://docs.taro.zone/docs/apis/media/image/previewImage

[2021-11-29 10:19] #866 closed, assigned to nobody

[2021-11-30 03:55] xinbo opened #867 "[question] gloibal.vueRouter 怎么使用？"
在  umd 版本中，使用到了   gloibal.vueRouter ，
一般 vue-router.global.js 都是导出的  VueRouter.
怎么使用呢？

[2021-12-01 00:50] lihn520 opened #869 "是否可以加入Grid 宫格组件"

[2021-12-01 07:14] aehyok opened #870 "Infiniteloading 滚动加载"
## 滚动加载控件Infiniteloading
@nutui/nutui-taro版本为3.1.12中

看https://nutui.jd.com/#/infiniteloading 官方文档中目前引用只有
  import { InfiniteLoading } from '@nutui/nutui';

不包括
 import { InfiniteLoading } from '@nutui/nutui-taro';

但是看官网微信小程序二维码中是有这么组件的

## 区别是什么
@nutui/nutui@next 基于Vue3 视觉风格 JD APP 10.0规范 ，只能开发 h5
@nutui/nutui-taro 基于Vue3 视觉风格 JD APP 10.0规范 ，必须基于 taro + vue3 框架 进行开发多端（多端指一套代码 部署多端环境 微信小程序 h5、等第三

[2021-12-01 08:22] yangjisen commented on #869
看到这个需求我都帮顶

[2021-12-01 08:36] #839 closed, assigned to nobody

[2021-12-01 10:16] p930203110 commented on #573
我也遇到这个问题，请问下还没有修复么。

[2021-12-02 00:50] lihn520 commented on #869
具大佬透露，v3.1.13版本会有

[2021-12-02 00:51] lihn520 commented on #869
据群大佬透露，v3.1.13版本会有

[2021-12-02 11:24] yangjisen commented on #869
别骗我啊，我都没看到有pr

[2021-12-02 11:54] aehyok commented on #650
@wgcairui  我也遇到了这个问题，请问解决了吗？

[2021-12-02 15:18] cuijianjun commented on #853
@Cat-czh  怎么联系呢 关于upload组件 有个问题想请教一下

[2021-12-02 15:18] cuijianjun commented on #853
@Cat-czh

[2021-12-02 16:36] cuijianjun opened #873 "[bug] nut-uploader data和headers传进去异步数据为什么不同步"
![image](https://user-images.githubusercontent.com/22763597/144463092-f27fdbf8-3729-4796-9bc2-f970895b9945.png)

## 问题描述

![image](https://user-images.githubusercontent.com/22763597/144463645-e3a83e34-33ce-4826-af9a-72e09ef035c0.png)

## 最小可复现仓库

[code]

## 预期的行为和实际行为

预期能正常传入data 并请求携带formdata

## 复现步骤，具体代码

![image](https://user-images.githubusercontent.com/22763597/144464001-9db5d373-3cf4-4e72-

[2021-12-03 01:02] mtiger95 opened #874 "[suggest] 希望能出一个table 组件"
## 你建议我们做什么？
希望能出一个table 组件，带单元自定义render功能的。

现在许多公司开始做B端的小程序了，少不了表格展示和操作数据的场景
因此希望能出一个tabel组件，谢谢。

[2021-12-04 05:39] yanbowe opened #875 "[suggest]希望增加一个Sticky 粘性布局组件"
## 你建议我们做什么？

希望增加一个Sticky 粘性布局组件，像vant3中的sticky一样
[sticky](https://vant-contrib.gitee.io/vant-weapp/#/sticky)

## 其它

无

[2021-12-04 05:45] yanbowe commented on #875
看到有类似的issue了

[2021-12-04 05:45] #875 closed, assigned to nobody

[2021-12-04 15:49] Iveon opened #876 "[suggest]Tabbar微信小程序iPhone底部安全区适配"
希望可以给Tabbar多一点的自定义空间

[2021-12-05 12:54] Iveon commented on #876
Tabbar设计的初衷是为了和微信小程序做兼容吗？
如果这样taro提供的api就完全足够了，直接使用小程序原生的tabbar性能还要好出很多。

[2021-12-06 02:16] #863 closed, assigned to nobody

[2021-12-06 06:38] 33YANG opened #877 "[bug] CountDown倒计时组件剩余2s直接变为0s"
## 问题描述
CountDown倒计时组件剩余2s直接变为0s

## 最小可复现仓库
### 复现场景：
- nutui官网countdown示例 https://nutui.jd.com/#/countdown

- 实际项目中使用countdown组件时

![nut-countdown-bug](https://user-images.githubusercontent.com/43869293/144798911-560b0664-8278-4978-8a8b-8b661166b447.gif)

## 预期的行为和实际行为

CountDown倒计时组件行为合理

## 复现步骤，具体代码
必现

## 相关环境信息
- **操作系统**：
- **Node 版本**：14.16.0
- **NutUI 版本**： "@nutui/nutui": "^3.1.11",
- *

[2021-12-06 08:28] Iveon commented on #551
这个错误到现在还存在

[2021-12-06 12:04] wangfpp opened #881 "[bug]折叠面板内容动态加载无法自动撑开高度"
## 问题描述
[code]
折叠面板内容动态加载无法自动撑开高度

## 预期的行为和实际行为
动态界面内容可以支持动态高度

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- windows10
- **Node 版本**：
- V14.6
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@3.1.12
- **Vue 版本**：3.2.22
- **引用方式**：  NPM

[2021-12-06 15:27] xjqxz2 opened #883 "[bug] 微信小程序 SearchBar 组件 @search 事件无效"
## 问题描述
当我根据文档尝试使用 <nut-searchbar @search="search">组件时，发现微信小程序不会响应事件

[2021-12-07 07:12] 297cwrun commented on #883
你不说我还没发现..

[2021-12-07 08:13] angeltxwh opened #886 "[suggest] 是否可以在各类弹出层支持微信的page-container组件？"
## 你建议我们做什么？
对各类支持弹出的组件加入page-container嵌套选项，提供一个参数使用户可选是否需要套入微信原生page-container组件

现在...
比如picker/actionsheet/Popup等组件在关闭时必须点击遮罩层或者关闭按钮来关闭

如果你能...
支持page-container组件的话

它将使...
用户在触发返回操作时关闭弹出层而不是返回上一级页面

## 其它

无

[2021-12-07 09:59] jingyuhao1995 opened #887 "[bug] collapse v-model的值更新有问题"
## 问题描述
### **【手风琴模式】**
展开再折叠不能清空v-model的值，还是上次展开的值
### **【非手风琴模式】**
v-model绑定的数组在展开折叠的时候不能双向绑定

## 最小可复现仓库

## 预期的行为和实际行为
**### 和我想象中的v-model不一致，折叠展开都应该改变绑定的值，给绑定的值赋值也应该展开对应面板**

给你们投票了，把组件好好做做，加油

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2021-12-07 10:24] panhezeng opened #888 "[bug]使用原生组件[Vue warn]: Failed to resolve and [Component] slot is not found."
## 问题描述
使用原生组件，一堆警告

![image](https://user-images.githubusercontent.com/354878/145011485-54bf8522-4239-429a-ad2f-ddc6e655193c.png)

## 最小可复现仓库

https://github.com/panhezeng/taro-vue-template

## 预期的行为和实际行为

预期没有警告

实际有警告

## 复现步骤，具体代码

···
export default {
  navigationBarTitleText: "示例",
  usingComponents: {
    "example-view":
      "../../components/wechat-miniprogram/example-view/example-view",

[2021-12-07 10:28] #888 closed, assigned to nobody

[2021-12-07 10:32] dxdleikai opened #889 "[bug]nutui2.2.11 picker，快速滚动切换选项，点击确定，状态未更新"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2021-12-08 08:47] yanbowe opened #890 "nut-collapse 在支付宝小程序中内容高度始终为0[bug]"
## 问题描述
nut-collapse 在支付宝小程序中内容高度始终为0，当折叠面板激活时，无法显示内容，在微信小程序中是正常的

## 最小可复现仓库

[github](https://github.com/yanbowe/taro3)
## 预期的行为和实际行为
正常显示内容

## 复现步骤，具体代码
![image](https://user-images.githubusercontent.com/43030980/145177183-f75da9cb-9a44-40ce-8ea0-c5d90e87312a.png)
![image](https://user-images.githubusercontent.com/43030980/145177246-3946fc44-6574-4fa0-b336-332a4e559910.png)

## 相关环境信息
- **操作系统

[2021-12-08 12:31] wangz-code commented on #876
我也有这个需求, 期待支持下
----------end --------

[code]

[2021-12-08 14:30] Iveon opened #891 "[bug]使用CountDown组件，控制台总是输出Vue warn"
使用CountDown组件，控制台总是输出一下内容：
[Vue warn]: Component emitted event "update:modelValue" but it is neither declared in the emits option nor as an "onUpdate:modelValue" prop.

控制台还有一个console.log("componentName", componentName)输出
 componentName nut-countdown

[2021-12-09 01:51] yanbowe commented on #881
这个高度确实计算的有问题啊，异步加载数据的时候，默认激活状态的面板高度始终为0

[2021-12-09 02:42] jandy0414 opened #892 "使用tabbar 警告路由出错-如下截图，配置to无法正常调转报router没有push属性"
![image](https://user-images.githubusercontent.com/35617197/145324653-7123c405-3c25-49ce-a142-729ad414c91c.png)

![image](https://user-images.githubusercontent.com/35617197/145324671-9d96b71a-fd45-4092-a67f-f0f76cf881c6.png)

[2021-12-09 03:11] misterji opened #893 "钉钉小程序 几个控件都不能使用。"
钉钉小程序 BackTop、 ImagePreview 、 Video 、 Tab 、 TabPanel 这几个控件都不能使用。

[2021-12-09 05:50] yanbowe commented on #890
补充： 当折叠面板为fasle时，点击其他面板报错
![image](https://user-images.githubusercontent.com/43030980/145341786-89c6536d-3eba-44be-af4e-d5597d2859cf.png)

[2021-12-09 06:20] yanbowe commented on #881
![image](https://user-images.githubusercontent.com/43030980/145344528-5b75d3b0-e876-4632-833a-2aaa5cb01b34.png)
原因就是初始化的时候并没有执行方法，造成高度为0

[2021-12-09 07:51] wangfpp commented on #881
我们是点击节点展开的时候需要Request获取数据来填充内容区的 此时高度无法预知
我的们解决方法是获取数据后设置节点的`height: auto`
[code]

[2021-12-09 07:54] yanbowe commented on #881
![image](https://user-images.githubusercontent.com/43030980/145356077-1662c4fd-d86e-4091-a13e-91e1c49da280.png)
我是直接class覆盖了，但是动画消失了

[2021-12-09 08:53] wangfpp commented on #881
不行吧 我看有的样式是写在`style`上的外联样式`!important`也不行呀

[2021-12-09 08:57] yanbowe commented on #881
![image](https://user-images.githubusercontent.com/43030980/145365225-fb72516b-5337-465e-afcd-8504b883c421.png)

![image](https://user-images.githubusercontent.com/43030980/145365226-fcaa89c7-1c10-41bd-94ca-faf24ed16e48.png)
可以的

[2021-12-09 12:45] Iveon commented on #891
CountDown这个不处理，开发阶段一会调试器就崩溃了

下面这个是Checkbox的
[Vue warn]: injection "parent" not found.
  at <NutCheckbox modelValue=false onUpdate:modelValue=fn icon-size="14" >

[2021-12-10 01:37] Ymm0008 commented on #887
@jingyuhao1995  感谢您的反馈，能提供一下复现仓库吗？

[2021-12-10 05:29] jingyuhao1995 commented on #887
操作系统：
windows10
Node 版本：
V14.6
NutUI 版本： @nutui/nutui@2.x.x or @nutui/nutui-jdl@3.1.12
Vue 版本：3.2.22
引用方式： NPM

[2021-12-11 10:15] lehug commented on #828
那这个picker目前只适合h5？ taro的不支持中间自定义标题呢

[2021-12-12 14:26] cylnet opened #897 "希望能有个图片上传后，可以拖动排序"
## 你建议我们做什么？

现在...

如果你能...

它将使...

## 其它

无

[2021-12-13 02:36] sumy7 commented on #891
发现有个pr在处理CountDown的这个问题

#879

[2021-12-15 03:03] xueyuheng commented on #650
@aehyok @wgcairui  翻阅Taro文档   使用 `<button open-type="getPhoneNumber" @getphonenumber="getPhoneNumber">微信登录</button>` 就能解决问题

[2021-12-15 07:31] aehyok commented on #650
@xueyuheng 谢谢，知道了 要用原生的button按钮

[2021-12-16 03:21] duyiduyiduyi opened #901 "[bug]Form组件下nut-form-item通过循环生成时，validate方法总是返回true"
## 问题描述
Form组件下nut-form-item通过循环生成时，validate方法总是返回true

## 复现步骤，具体代码
使用Form文档表单校验的例子，每个都提前固定写死，可以正确校验输入项
但是当form控件时通过循环生成时，校验方法总返回true
以下是简化的官网例子
<code>
<nut-form :model-value="formData" ref="ruleForm">

      <nut-form-item
        v-for="item in 3"
        :label="'姓名' + item"
        :prop="'name' + item"
        required
        :rules="[{ required: true, message: '请填写姓名' + item }]"
        :k

[2021-12-16 03:23] duyiduyiduyi commented on #901
<nut-form :model-value="formData" ref="ruleForm">

      <nut-form-item
        v-for="item in 3"
        :label="'姓名' + item"
        :prop="'name' + item"
        required
        :rules="[{ required: true, message: '请填写姓名' + item }]"
        :key="item"

        <input
          class="nut-input-text"
          v-model="formData['name' + item]"
          :placeholder="'请输入姓名' + item"

[2021-12-16 03:28] #901 closed, assigned to nobody

[2021-12-16 03:34] duyiduyiduyi opened #902 "[bug]Form组件的校验问题"
## 问题描述
引用官网文档的表单校验例子，可以正确的校验输入项
但是当nut-form-item是通过循环生成时，validate方法总返回true

## 复现步骤，具体代码
采用官网的例子，简化下只以input控件为例
当三个姓名控件提前写好时，校验方法正常
但是当3个控件时循环生成时，校验方法总返回true
`<nut-form :model-value="formData" ref="ruleForm">

      <nut-form-item
        v-for="item in 3"
        :label="'姓名' + item"
        :prop="'name' + item"
        required
        :rules="[{ required: true, message: '请填写姓名' + item }]"

[2021-12-19 16:02] bobokingbao opened #904 "Taro版本和基础版本的组件上的差别"
## 你想知道什么？
在用Taro3.X版本，UI前端选用的NutUI，在开发过程中发现nutui和nutui-taro在组件上还是有些差别。比如Grid，在taro版本中没有出现。Grid这个组件不知道什么时候能合并到taro版本中。
##建议
对于nutui版本和其他版本的组件上的差别是都可以在发布的时候有个提示。

[2021-12-20 08:13] Breeze1114 opened #905 "[bug]nut-textarea编译成h5之后会有bug，无法打开页面"
## 问题描述
使用了nut-textarea后，用npm run dev:h5打开页面，会报Object(...) is not a function。
但是如果加上readonly属性就不会报错；
而且用npm run build:h5编译完在服务器上运行也不会报错（在本地nginx运行还是会报错），目前不知道是什么原因
1、在本地nginx运行
![image](https://user-images.githubusercontent.com/46240676/146733199-82fd3cdf-df3e-4e79-a34f-4b4080a5f2a8.png)

2、在本地run dev运行
![image](https://user-images.githubusercontent.com/46240676/146733278-ac9151e2-11b2-4416-a631-9

[2021-12-20 08:31] hcw2175 commented on #604
+1

[code]

然后报错：

[code]

[2021-12-21 06:56] gh1122 commented on #556
一样的问题

[2021-12-21 11:40] szg2008 commented on #904
12.22发布之后就有了

[2021-12-21 11:40] #904 closed, assigned to nobody

[2021-12-22 02:18] PurpleForever commented on #902
同样有此疑问
其他ui可以设置动态的prop如： `:prop="'list.item.'+i+'.propName'"`
但是nutui中这种方式不行

[2021-12-22 06:17] 2624431797 commented on #631
请问vuex是如何解决的？

[2021-12-22 06:23] xueyuheng commented on #631
@2624431797  你拿这个值放在state，通过操作dispatch去改变状态就好了，vue3建议用pinia，我是项目结束了，不想改了

[2021-12-22 06:50] 2624431797 commented on #631
额 我就是这样整的 没成功才问的
setup(){
 const store = useStore();
 const activeVisible = store.state.app.activeTab;
}

![image](https://user-images.githubusercontent.com/54942617/147048181-9c6a82b3-9669-4e45-9b6d-abd31ac24e5b.png)
在他的方法里dispatch的
const handleSwitchTab = (e) => {
 store.dispatch("TabChange", e.state.active);
 Taro.switchTab({
   url: unref(e).num,
 });
};
是我整的有问题吗

[2021-12-22 07:01] xueyuheng commented on #631
你是小程序吗   小程序有onShow 钩子  你放到那个地方试试

[2021-12-22 07:05] 2624431797 commented on #631
是H5 不是小程序

[2021-12-22 07:14] xueyuheng commented on #631
我这边只要做小程序，你再打印调试一下，你可以直接下载源码，去看看啥问题，我再做的时候有好几个组件都是类似这种问题，我都是自己改然后放本地用的

[2021-12-22 07:15] 2624431797 commented on #631
好的 十分感谢

[2021-12-22 07:18] xueyuheng commented on #631
不用谢

[2021-12-22 07:32] szg2008 commented on #905
本地测试了一下，没有发现您上面的问题，方便的话发个最小复现仓库的链接，我们看一下，🙏

[2021-12-22 08:15] Drjingfubo commented on #892
请问你有安装vue-router吗？

[2021-12-22 11:11] gp5251 opened #907 "[bug]tabs 在微信小程序里面点击没反应"
## 问题描述

tabs 在微信小程序里面点击没反应
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2021-12-22 12:22] #902 closed, assigned to richard1015

[2021-12-22 15:27] inooNgt opened #909 "[bug]nut-collapse-item 内容高度动态增加时无法完全展示"
## 问题描述

nut-collapse-item 的高度固定，不会随着内容的变化而变化，导致内容高度动态增加时无法完全展示
## 最小可复现仓库

## 预期的行为和实际行为
内容高度动态增加时可以完全展示

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：windows 10
- **Node 版本**： 14
- **NutUI 版本**： @nutui/nutui-taro@3.1.13@beta.1
- **Vue 版本**：3.0+
- **引用方式**：  CDN / NPM ？

[2021-12-22 16:43] gp5251 commented on #907
我试了你们所有的组件，都不响应点击事件，但是你们的示例小程序可以，能否给个git地址我去对比看看？
![image](https://user-images.githubusercontent.com/995572/147126103-7663c712-28a2-4cbf-9146-17fdab803c53.png)

[2021-12-23 00:50] Breeze1114 commented on #905
不好意思，我加了一个依赖"@vue/shared": "3.2.26",，并且重新安装了依赖包后就没办法重现了

[2021-12-23 00:50] #905 closed, assigned to szg2008

[2021-12-23 01:23] #625 closed, assigned to nobody

[2021-12-23 01:24] #680 closed, assigned to nobody

[2021-12-23 01:26] #883 closed, assigned to nobody

[2021-12-23 01:26] #874 closed, assigned to szg2008

[2021-12-23 01:27] #869 closed, assigned to nobody

[2021-12-23 01:27] #877 closed, assigned to nobody

[2021-12-23 01:28] richard1015 commented on #690
https://nutui.jd.com/#/picker-taro

[2021-12-23 01:28] #690 closed, assigned to richard1015

[2021-12-23 01:30] richard1015 commented on #709
https://nutui.jd.com/#/grid

[2021-12-23 01:30] #709 closed, assigned to nobody

[2021-12-23 01:32] #891 closed, assigned to yangxiaolu1993

[2021-12-23 01:36] szg2008 commented on #298
3.0已支持

[2021-12-23 01:36] #298 closed

[2021-12-23 01:47] szg2008 commented on #907
辛苦提供一下最小复现仓库，我们好排查问题，另外您也可以参考https://github.com/jdf2e/nutui-demo/tree/master/taro/src对比一下

[2021-12-23 03:37] gp5251 commented on #907
请见 https://github.com/gp5251/test_nutui
另外，我把你们demo里的代码都复制过来了，，也是不行，，

[2021-12-23 09:25] bobokingbao opened #910 "Icon 组件是否可以应用项目内的png,jpeg等图标文件"
## 你想知道什么？
问题原因：在采用iconfont方案的时候在H5端，和钉钉小程序IDE的调试端
可以正常显示图标，但是一旦放到钉钉真机上测试的时候，所有图标都是空白，因此打算采用以下方式加载图片
`<nut-icon icon="../assets/crm_active.png" text="文字"></nut-grid-item>`
但是图片加载不上。

环境：
Taro v3.3.17
 nutui/nutui-taro 3.1.14

想知道的方案
1：在钉钉真机上测试显示空白，是否有什么解决方案
2：icon直接引用本地图标是否支持，如果支持要什么配置

[2021-12-23 14:07] haiweilian commented on #910
- 本地图片加载方式错误：

https://taro-docs.jd.com/taro/docs/static-reference

因为 prop 到了内部实际上是一个动态的变量，webpack 并不会解析成路径，所有打包皆是如此。

这样写

[code]

或者

[code]

[code]

- iconfont 方案的我倒是没写过钉钉小程序，等作者给看看吧。

[2021-12-23 16:01] bobokingbao commented on #910
按照这个方法可以加载本地的png，svg了真机测试也通过，多谢啦。

借这贴描述下iconfont暂时遇到的问题把：
问题复现步骤：
1：参照：https://nutui.jd.com/#/icon
                 https://www.iconfont.cn/help/detail?spm=a313x.7781069.1998910419.d8d11a391&helptype=code
    以上的两个link，可以获取到如下文件（此时没有选择link中描述的生成**多色图标**的方法）
[code]
这个时候在本地H5调式，和钉钉小程序IDE里面调试，以及**真机调试**，都可获取到正常的图标，但是是黑白色的。

2：这次选择link中描述的生成**多色图标**的方法，仍然可以获取到上述css，json，woff等文件（此时的图标都是彩色的）
      这个时候

[2021-12-23 16:01] #910 closed, assigned to nobody

[2021-12-24 04:33] b2nil commented on #907
@gp5251 @szg2008
这是 `NutUI` Taro 版本的编译问题，和许多报小程序原生标签模板找不到的问题类似， `NutUI` 需要针对 Taro  的特殊性修改一下 `@vitejs/plugin-vue` 的编译配置：
https://github.com/jdf2e/nutui/blob/937ade66d4777d47093eb03a82aaff9d793af477/vite.config.build.taro.vue.ts#L25

以 `nut-button` 这个组件为例，源码点击事件写的是`@click`，按照现在的编译配置，会被编译成 `onClick`，这在小程序中是不会被触发的。因此需要将 `@click` 编译为小程序能够触发的 `onTap` 事件才行，或者直接将源码改为 `@tap`。
https://github.com/jdf2e/nutui

[2021-12-24 13:49] nanhupatar opened #913 "Uploader组件无法自定义大小[suggest]"
## 你建议我们做什么？
希望能拓展一个size属性，可以控制Uploader组件的大小

现在...

如果你能...

它将使...

## 其它

无

[2021-12-25 08:52] agileago commented on #825
类型定义这么偷懒么？我用tsx写，怎么什么提示都没有，不仅没提示还报错

![image](https://user-images.githubusercontent.com/11799110/147381426-5aab0558-54ce-42c5-95b5-0e602ffcc484.png)
@richard1015

[2021-12-25 09:22] gp5251 commented on #907
有修复计划吗？

[2021-12-26 05:30] agileago commented on #825
https://github.com/haoziqaq/varlet/tree/dev/packages/varlet-ui/types
看看这个怎么做类型的

[2021-12-26 07:31] richard1015 commented on #907
@gp5251   @b2nil
检查一下是否配置了 [@tarojs/plugin-html](https://taro-docs.jd.com/taro/docs/use-h5/)

所有事件都失效，应该是没有配置这个插件，具体可以看一下文档

https://nutui.jd.com/#/starttaro

[2021-12-26 07:43] richard1015 commented on #907
@b2nil  ，感觉您的反馈，像您之前提的那个问题  例如 button picker 等原生组件 失效问题，目前我们和taro测  也已经沟通，现状解决方案如下
现状： taro 现有编译适配流程是 基于运行时对vue文件进行分析，识别taro原生组件及相关的第三方 div、a、input 等组件  进行标记转换，  我们组件库开发者在使用过程中 已经被编译后了，所以 taro 在运行时中根本识别不到该组件的js文件，也就导致开发者使用 taro 原生组件时，会导致报错
解决方案：
1、 改造 nutui-taro 打包逻辑，打包时，构建出 vue源文件，然后让 taro 在运行时状态，直接识别到vue文件然后走taro的逻辑，但是这个方案我们考虑到，组件内部是vue ts文件，开发者如果一旦不是 ts 环境，就会报错，所以这一方案我们还在进一步考虑
2、 改造 nutui-taro

[2021-12-26 14:22] nanhupatar opened #914 "[suggest] 请提供taro下 DatePicker组件"
## 你建议我们做什么？
目前 nutui没有taro 下的DatePicker 组件，只能使用原生。 vue有，麻烦提供一个

现在...

如果你能...

它将使...

## 其它

无

[2021-12-26 18:03] yekai9527 commented on #865
各位大宝贝 这个是基本功能 要怎么做

[2021-12-26 18:08] yekai9527 commented on #865
用的是taro 需要taro下的自定义tabbar 先行谢过jingfubo了

[2021-12-27 00:38] markchenlife opened #915 "[suggest] button组件请添加一下open-type属性，方便开发小程序的同学"
如标题，辛苦各位大佬

[2021-12-27 01:21] b2nil commented on #907
@richard1015
从用户体验的角度来说，无论是哪个方案，最好先尽快出一个能让用户先顺利使用起来的，别让用户望而却步，后续再去完善 NutUI 团队觉得较好的一个方案。

[2021-12-27 02:41] dengZhiNeng commented on #551
还没解决吗

[2021-12-27 08:20] JohnnyZhangQiao opened #916 "toast的ts错误提示能否修正下"
调用方法：
import { Toast } from '@nutui/nutui';
Toast.fail('提示文字');

ts报错：TS2339: Property 'fail' does not exist on type '(options: any) => void'.

看到Toast的定义如下：
declare function Toast(options: any): void

[2021-12-27 14:04] Mo-zixin opened #917 "[bug]"
## 问题描述
 下载damo后 无法运行

## 最小可复现仓库

## 预期的行为和实际行为
Uncaught (in promise) TypeError: Cannot read properties of undefined (reading '$forceUpdate')
    at Object.updateAppInstance (vue3.ts?d42d:136)
    at Object.mount (vue3.ts?d42d:127)
    at mount (common.ts?d785:127)
    at Object.onLoad (common.ts?d785:144)
    at PageHandler.load (index.js?ddae:3022)
    at _callee$ (index.js?ddae:3298)
    at tr

[2021-12-28 01:34] Mo-zixin commented on #917
在 dev:h5 时

[2021-12-28 06:47] Anberm opened #919 "Input Number change触发时机不对[bug]"
## 问题描述

针对change事件，我们应当遵循先emit  update:modelValue，再emit change的顺序
![image](https://user-images.githubusercontent.com/34148806/147536890-b233b22c-9623-4c1c-907e-6a7523ffde98.png)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2021-12-28 07:02] y574664379 commented on #917
我也是这个问题

[2021-12-29 07:18] dengZhiNeng opened #921 "nut-textarea 无法自动获得焦点，用原生的trao也不行，怎么解决呢？"
<nut-textarea
            class="textarea"
            v-model="inputText"
            limit-show
            max-length="250"
            ref="textareaDom"
            auto-focus
          />

[2021-12-29 07:29] majoker opened #922 "[bug]popup组件滚动穿透问题"
## 问题描述
使用popup组件，嵌套多层组件弹出出现滚动穿透问题

## 最小可复现仓库
https://github.com/jdf2e/nutui-demo.git
复现组件：src/feedback/pages/popup/index.vue

## 预期的行为和实际行为

预期弹出层页面内滚动不影响上级父页面滚动，实际出现弹出层滚动穿透问题

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：mac os
- **Node 版本**：node14
- **NutUI 版本**： @nutui/nutui@3.1.14
- **Vue 版本**：vue3
- **引用方式**：  npm

[2021-12-29 08:26] lonelyWalkor commented on #919
textarea 组件 的 change 事件的触发也存在这个问题

[2021-12-29 08:33] majoker opened #923 "[bug]popup组件props的closeable动态传值无效"
## 问题描述
popup组件props的closeable动态传值无效
## 最小可复现仓库
https://github.com/jdf2e/nutui-demo.git
复现组件：src/feedback/pages/popup/index.vue)
## 预期的行为和实际行为
期望通过动态给closeable赋值，决定是否展示关闭按钮，实际无法通过属性控制

## 复现步骤，具体代码
[code]

将上面代码放到demo项目对应的组件就可以复现

## 相关环境信息
- **操作系统**：macos
- **Node 版本**：node14
- **NutUI 版本**： @nutui/nutui@3.1.14
- **Vue 版本**：vue4
- **引用方式**：   NPM

[2021-12-30 01:21] skksksksks commented on #573
这都2022年了，还没修复吗

[2021-12-30 01:44] provenceo commented on #907
什么时候可以解决好呢

[2021-12-30 01:49] b2nil commented on #907
@Provenceo
按照上面提到的配置 @tarojs/plugin-html 插件，直接就可以解决点击事件的问题。

[2021-12-30 01:53] Provenceo commented on #907
![image](https://user-images.githubusercontent.com/43238325/147715442-37681ab3-0f46-4b58-9de0-83f39ac2ffd9.png)
配置了但是也不行 还不能渲染html标签

[2021-12-30 02:39] provenceo commented on #907
![image](https://user-images.githubusercontent.com/43238325/147717271-1826761c-ea93-45e8-b4ff-bddaedcdee38.png)
这是什么问题

[2021-12-30 02:47] b2nil commented on #907
依赖安装的问题吧，重新安装一下所有依赖，看看 @tarojs/shared 是否存在吧。

[2021-12-30 03:58] Timberwolves-code opened #924 "Switch 开关，size失效[bug]"
## 问题描述
Switch 开关，size失效，不能设置 Switch的大小变化

## 相关环境信息
- **操作系统**： Windows 10
- **Node 版本**：v16.13.1
- **NutUI 版本**： @nutui/nutui-taro@3.1.8
- **Vue 版本**： @vue@3.0.0
- **引用方式**：  NPM

[2021-12-30 13:34] Anberm commented on #919
已补充

[2021-12-31 08:44] #893 closed, assigned to nobody

[2021-12-31 08:45] misterji opened #925 "钉钉小程序 BackTop、 ImagePreview 、 Video 、 Tab 、 TabPanel 这几个控件都不能使用。[question]"
钉钉小程序 BackTop、 ImagePreview 、 Video 、 Tab 、 TabPanel 这几个控件都不能使用。

[2021-12-31 14:14] yangjisen commented on #730
楼主是怎么解决的, 我碰到了同样的问题

[2021-12-31 14:17] yangjisen commented on #652
v3.1.14 swper swperItem 在 ` "@nutui/nutui-taro": "^3.1.14" ` 中仍然无法导出

[2022-01-01 14:27] Mo-zixin opened #926 "[bug] taro-vue for weapp nut-dialog 组件 点击 按钮无法关闭 弹窗"
## 问题描述
taro-vue for weapp nut-dialog 组件 点击 按钮无法关闭 弹窗
使用变量 打开dialog 后 点击取消 确定按钮 无法关闭

nut-button 的点击事件 h5 与微信小程序的 点击事件绑定不一样  一个是h5  @click="isLogin"  微信 @tap="onclick"

## 最小可复现仓库(官方示例仓库 )

<template>
  <view class="home">
    <nut-dialog
      title="基础弹框"
      content="这是基础弹框。"
      v-model:visible="visible"

  </nut-dialog>
  </view>
</template>

<script>
export default {
  data(){
    return

[2022-01-02 01:39] xiexingen commented on #708
+1

[2022-01-03 08:29] hyphappy011 opened #927 "Nutui 引入SSR项目，出现Element is undefine的错误"
## 问题描述
参考 http://doc.ssr-fc.com/docs/features$started 创建一个vue3 ssr项目。
然后在项目文件夹web/components/layout/App.vue注册nutui. 如下：

`<template>
  <router-view />
</template>

<script lang="ts">
import {getCurrentInstance} from 'vue'
import NutUI from '@nutui/nutui'
import '@nutui/nutui/dist/style.css'
// 在这里可以进行一些全局组件的注册逻辑
export default {
  created() {
    const app = getCurrentInstance()?.appContext.app

[2022-01-04 03:04] shuyi-code opened #928 "[bug] datepicker 组件在1月份使用出现错误"
## 问题描述
1.4日 发现 datepicker 日期出现问题

##  问题分析
当指定 model 和 max-date 属性为今天时，调用picker组件时，:list-data="columns" 传入列表中，月份为 undefined。

## 相关环境信息
- **NutUI 版本**： 使用3.0.2版本
- **引用方式**：  CDN

[2022-01-04 03:41] gp5251 commented on #907
有人试过吗？我这配置了插件，还是不能点击

[2022-01-05 01:32] richard1015 commented on #919
fix v3.1.15 a87a43985a626d90369e95c7e18dfc63ed10c295

[2022-01-05 03:13] szg2008 commented on #907
请提供一下复现仓库吧，正常配置之后是可以点击的

[2022-01-05 03:22] szg2008 commented on #708
已经发布，欢迎提意见～https://nutui.jd.com/react/#/

[2022-01-05 03:23] #708 closed, assigned to nobody

[2022-01-05 03:24] szg2008 commented on #608
已经发布～欢迎使用https://nutui.jd.com/react/#/

[2022-01-05 03:24] #608 closed, assigned to nobody

[2022-01-05 03:44] xiexingen commented on #708
不支持小程序呀

[2022-01-05 09:30] guzhenjie520 opened #930 "修改nut-popup的样式"
使用nut-popup 无法修改nut-popup的样式问题，在移动端使用::v-deep 还能修改，在pc端添加什么属性都不起作用，引用的路径也是正确的，求助！！！！

[2022-01-05 09:49] szg2008 commented on #930
NutUI目前只是针对移动端开发，PC目前不支持～

[2022-01-05 17:54] gp5251 commented on #907
还是原仓库  https://github.com/gp5251/test_nutui

[2022-01-06 07:56] duyiduyiduyi opened #932 "form表单组件有关校验的相关问题[bug]"
## 问题描述
1.以文档Form -- 动态组件的案例为例，添加一个reset方法的按钮，不能清空动态新增项的错误校验信息
2.当form控件通过for循环配置生成时，submit/validate方法对循环生成的控件，校验规则第一次（根据rules规则长度有关）能正确校验，之后点击校验结果则一直为成功

## 最小可复现仓库
以下为问题2的简易案例
`<nut-form :model-value="formData" ref="ruleForm">
    <nut-form-item
      label="姓名"
      prop="name"
      :required="false"
      :rules="[
        { required: false, message: '请填写姓名' },
        { regex: /(^[a-z]+$)|(

[2022-01-06 09:45] szg2008 commented on #924
size指的是在loading状态下图标的尺寸

[2022-01-06 09:45] #924 closed, assigned to szg2008

[2022-01-06 09:46] szg2008 commented on #924
已补充文档说明

[2022-01-06 10:06] szg2008 commented on #923
已支持此功能，v3.1.15版本发布

[2022-01-10 06:07] Ymm0008 commented on #909
感谢您的反馈，问题已修复，将在下个版本发布。

[2022-01-10 06:08] Ymm0008 commented on #909
@inooNgt

[2022-01-10 06:09] Ymm0008 commented on #909
感谢您的反馈，问题已修复，将在下个版本发布。 @inooNgt

[2022-01-10 07:54] Ymm0008 commented on #890
感谢您的反馈，展示问题已修复，将在下个版本发布。但是某些方法需要依赖Taro实现，某些taro api 暂不支持支付宝小程序，我们将在后期解决。  @yanbowe

[2022-01-10 07:55] Ymm0008 commented on #881
感谢您的反馈，问题已修复，将在下个版本发布。 @wangfpp @yanbowe

[2022-01-10 08:15] provenceo opened #935 "[bug] OverLay 中的lock-scroll属性和close-on-click-overlay属性不生效"
## 问题描述

OverLay 中的lock-scroll属性和close-on-click-overlay属性不生效

## 最小可复现仓库

## 预期的行为和实际行为

无任何效果

## 复现步骤，具体代码

<template>
  <view id="OverLay">
    <nut-overlay :lock-scroll="true" :close-on-click-overlay="false" v-model:visible="OverLayShow" :z-index="2000">
      <div class="wrapper">
        <div class="content">
          <div class="title m-b-30">套餐商品</div>
         </div>
        </div>

[2022-01-10 08:16] Provenceo commented on #935
<template>
  <view id="OverLay">
    <nut-overlay :lock-scroll="true" :close-on-click-overlay="false" v-model:visible="OverLayShow" :z-index="2000">
      <div class="wrapper">
        <div class="content">
          <div class="title m-b-30">套餐商品</div>
         </div>
        </div>
      </div>
    </nut-overlay>
  </view>
</template>

<script>
export default {
  name: "OverLay",
  data(){
    r

[2022-01-10 08:18] provenceo commented on #935
![image](https://user-images.githubusercontent.com/43238325/148735744-71b93814-8d63-4e02-bae6-ca42c511c897.png)

[2022-01-10 08:51] wangfpp commented on #881
@Ymm0008 感谢  能贴出来修复的commit吗 我们学习下

[2022-01-10 09:09] szg2008 commented on #887
您好，看您的使用版本，vue3.x对应应该使用nutui3.x，您这里使用的是2.x，请确认一下使用的版本，方便的时候提供一下最小复现仓库，我们好帮助您排查问题，感谢

[2022-01-10 09:37] Ymm0008 commented on #887
感谢您的反馈，初步定位您使用的是 V2 版本，问题已经修复，将在下个版本发布。  @jingyuhao1995

[2022-01-10 09:56] Ymm0008 commented on #881
主要增加一个监听方法
[code]
如果有更好的解决方案，可以发出来一起讨论 @wangfpp 感谢~

[2022-01-10 10:15] hopefuture opened #938 "[suggest]nut-picker 组件 list-data 不支持对象性数组"
nut-picker 组件 list-data 目前只支持字符串数组，如果数组中每一项是对象，则不支持，请问这个有计划支持吗，感谢！！

如 ：
list-data 设为以下格式是不支持的
[code]

[2022-01-10 10:54] #909 closed, assigned to Ymm0008

[2022-01-10 10:54] #890 closed, assigned to Ymm0008

[2022-01-10 10:54] #887 closed, assigned to Ymm0008

[2022-01-10 10:55] #881 closed, assigned to Ymm0008

[2022-01-10 16:21] Timberwolves-code commented on #924
好的，谢谢🙏

[2022-01-11 14:11] odex21 opened #939 "[bug] 使用 Range 组件会出现 Vue 的警告"
## 问题描述

使用 Range 组件会出现 Vue 的警告

## 最小可复现仓库

## 预期的行为和实际行为
![截屏2022-01-11 下午10 07 28](https://user-images.githubusercontent.com/38051167/148957743-0e4f1c07-b74e-4405-a26a-422c5de868d4.png)

## 复现步骤，具体代码
[code]
正常使用就会出现。
原因是非范围选择的时候，使用了范围选择的`index`参数。

## 相关环境信息
- **操作系统**：macOS 12.1
- **Node 版本**：16.13.1
- **NutUI 版本**： @nutui/nutui@3.1.14
- **Vue 版本**：3.2.26
- **引用方式**：  NPM

[2022-01-13 02:19] wangyuwei314 opened #943 "NavBar的头部导航问题"
设置slot:tabs可以增加tab的时候不生效，是不是文档出现问题了？

[2022-01-13 04:54] cyatom01 opened #944 "Swiper 组件使用Taro3在微信小程序中无法使用[question]"
## Swiper 组件使用Taro3在微信小程序中无法使用

您好，我使用Taro3跨端框架UI框架选用Taro3集成的Nutui ，发现Swiper 组件在微信小程序中无法展示，微信开发工具提示：

[2022-01-13 04:56] dtcui commented on #944
采用官方例子运行：
Template `tmpl_0_swiper` not found.
  347 |
  348 | <template name="tmpl_2_container">

      |                ^
  350 | </template>
  351 |
  352 | <template name="tmpl_3_catch-view">

[2022-01-13 04:58] cyatom01 commented on #944
Template `tmpl_0_swiper` not found.

template name="tmpl_2_container"
template is="{{xs.a(2, i.nn, l)}}" data="{{i:i,cid:2,l:xs.f(l,i.nn)}}"
      |                ^
/template

template name="tmpl_3_catch-view"

[2022-01-13 06:29] lkjh3214 commented on #859
已解决，去除了index，代码已通过review

[2022-01-13 06:29] #859 closed, assigned to nobody

[2022-01-14 09:41] PurpleForever opened #945 "[bug]circleprogress在taro环境中并不存在isAuto属性"
导致console中一直有警告出现（未定义但引用）。
加上如下属性：
`isAuto: {
      tyep: Boolean,
      default: false
    },`

后console不再出现警告

[2022-01-14 10:21] wangyongxiong opened #947 "[bug] ImagePreview 图片预览设置轮播时长无效"
<nut-imagepreview :show="resData.showPreview" :images="resData.imgData" :content-close="true" :init-no="imageIndex.dot" @close="hideFn" :autoplay="0" />
<img v-for="(image, index) in resData.imgData" :key="image.id" :index="index" :src="image.src" alt="" @click="showFn(index)" />
![image](https://user-images.githubusercontent.com/40783535/149499686-158fbe91-5ec3-4ec6-ad0b-d632e1ef5e8b.png)
autopla

[2022-01-17 01:39] richard1015 commented on #938
2.x 版本吗？  暂无规划，建议您可以，通过js设置成标准的 数组类型

[2022-01-17 03:16] Drjingfubo commented on #917
删掉node_modules和lock，重新装下依赖试试呢，我们这边本地跑可以正常运行

[2022-01-18 01:53] ActingCute commented on #943
好像是有点问题？

[2022-01-18 01:55] ActingCute opened #948 "参考 https://nutui.jd.com/#/navbar"
参考 https://nutui.jd.com/#/navbar

_Originally posted by @richard1015 in https://github.com/jdf2e/nutui/issues/570#issuecomment-899956493_

slot:tabs vue3版本用不了

[2022-01-18 02:48] Drjingfubo commented on #907
这个仓库下载以后tab是可以点击的,button的点击事件也是可以生效的
![image](https://user-images.githubusercontent.com/50685476/149862232-3741de94-c90f-41a4-bb7d-e84dd80d0786.png)

[2022-01-18 02:58] #907 closed, assigned to Drjingfubo

[2022-01-18 03:06] provenceo opened #950 "[bug] 在案例中创建多个nut-swipe"
![image](https://user-images.githubusercontent.com/43238325/149863417-3a3017ca-f4b2-4421-86ee-2b21506f5b85.png)

## 问题描述

例如有三个nut-swipe ，先展开一个，在展开第二个的时候，第一个和第二个同时展开，依次类推
## 最小可复现仓库
在案例中创建多个nut-swipe

## 预期的行为和实际行为
例如有三个nut-swipe ，先展开一个，在展开第二个的时候 关闭第一个，依次类推

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**： win11
- **Node 版本**：v14.18.1
- **NutUI 版本**： ^3.1.14
- **Vue 版本**：^3.0.0
- **引用方式**：  CDN / NPM ？ NPM

[2022-01-18 06:31] szg2008 commented on #944
优先使用原生swiper，最近正在修复此问题

[2022-01-18 07:57] szg2008 commented on #935
close-on-click-overlay测了一下，属性是生效的。锁定禁止滑动，需要自己拿到外层容器，然后添加style使其禁止。目前组件无法做到

[2022-01-18 08:00] provenceo commented on #935
@szg2008 #950 这个麻烦看下呗

[2022-01-18 08:25] wangyongxiong opened #951 "[bug] 移动端页面使用了swiper组件，在该范围内上下滑动不了，只能在swiper区域外才可以上下滑动"
## 问题描述
在使用了nut-swiper的区域内不能上下滑动，在区域外可上下滑动
![image](https://user-images.githubusercontent.com/40783535/149898779-60fd55c7-3926-4838-a3e1-31cb854c03f9.png)

[2022-01-18 08:32] wangyuwei314 opened #952 "Address的地址为什么和示例不一样？显示不了手机号和联系人"
https://nutui.jd.com/3x/#/address，在已有地址里面显示手机号和联系人要怎么弄？

[2022-01-18 09:27] szg2008 commented on #951
这么做是为了防止滑动事件冲突

[2022-01-18 10:19] szg2008 commented on #947
我们这边测试没有问题，如果方便，请提供一下最小复现仓库，我们这边好排查

[2022-01-18 12:43] welove42 opened #954 "taro项目使用nutui如何导入iconfont"
## 如题，taro项目中nutui怎么引入第三方图标

你好，我这边按照文档引入iconfont字体图标但是实际字体图标在h5页面无法显示

## 描述你考虑过的替代方案

## 其它

无

[2022-01-18 13:34] shijunti19 opened #955 "tab组件在小程序上全部报错"
## 问题描述

![image](https://user-images.githubusercontent.com/5392211/149947145-a0110705-8f98-4a69-a654-a904c3e1d0b1.png)

![image](https://user-images.githubusercontent.com/5392211/149947329-66994b94-fd53-4380-b0ae-a2b192ab8336.png)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
![image](https://user-images.githubusercontent.com/5392211/149947145-a0110705-8f98-4a69-a654-a904c3e1d0b1.png)
小程序
dev:weapp
##

[2022-01-18 13:39] shijunti19 commented on #955
[
      "@tarojs/plugin-framework-vue3",
      {
        mini: {
          compilerOptions: {
            isCustomElement: tag => tag.includes("scroll-view"),
            whitespace: "preserve"
          }
        }
      }
    ] 导致的

[2022-01-18 13:39] #955 closed, assigned to nobody

[2022-01-18 13:40] shijunti19 commented on #955
[
      "@tarojs/plugin-framework-vue3",
      {
        mini: {
          compilerOptions: {
            isCustomElement: tag => tag.includes("scroll-view"),
            whitespace: "preserve"
          }
        }
      }
    ] 导致的

[2022-01-19 03:27] Github-AZhe opened #957 "[bug]nut-infiniteloading，nut-swiper控制台警告问题"
Failed to resolve component: scroll-view
If this is a native custom element, make sure to exclude it from component resolution via compilerOptions.isCustomElement.

------------

目前这个问题是优先采取使用原生组件吗？
（使用webpack chain 也没有解决掉）

[2022-01-19 03:54] wangyongxiong opened #958 "[bug] 使用menu菜单组件，如果页面内容过长，且滑动一段距离，点击后弹出的内容固定在一个位置"
## 问题描述
在列表页面使用的menu菜单组件，列表高度超过100vh，滑动一段距离后点击菜单，弹出的内容固定了位置显示
![image](https://user-images.githubusercontent.com/40783535/150060893-c7311fa0-6cb0-4130-b5c6-b81b32553319.png)

## 最小可复现仓库

## 预期的行为和实际行为

[2022-01-19 08:42] wlchn commented on #957
同样问题InfiniteLoading在h5上提示：
[code]
版本:     "@nutui/nutui-taro": "^3.1.12"

[2022-01-20 03:19] provenceo commented on #950
https://codesandbox.io/s/nutui3-0-vite-js-forked-vr3uu?file=/src/App.vue @richard1015

[2022-01-20 03:21] provenceo commented on #950
打开后请刷新内部浏览器

[2022-01-20 07:30] richard1015 commented on #950
加入我们微信群，咱们实时沟通一下呢，还是没有复现

[2022-01-20 07:32] richard1015 commented on #950
我理解的你想要的是一个功能，  多个swipe 只能一个展开

[2022-01-20 07:32] provenceo commented on #950
是的 只显示一个 现在是可以同时展开多个

[2022-01-20 07:32] provenceo commented on #950
你们微信群的二维码发一下呗

[2022-01-20 07:33] richard1015 commented on #950
那你参考咱们文档中 `异步控制` 的代码 去自己写逻辑就可以了， 微信群在官网底部 加入我们 链接上

[2022-01-20 07:33] #950 closed, assigned to richard1015

[2022-01-20 09:02] richard1015 commented on #926
请升级最新版本测试一下，相同问题也可参考 https://github.com/jdf2e/nutui/issues/907

检查一下是否配置了 [@tarojs/plugin-html](https://taro-docs.jd.com/taro/docs/use-h5/)

所有事件都失效，应该是没有配置这个插件，具体可以看一下文档

https://nutui.jd.com/#/starttaro

[2022-01-20 09:02] #926 closed, assigned to richard1015

[2022-01-20 09:15] richard1015 commented on #913
https://nutui.jd.com/#/theme
参考主题定制 修改样式变量尺寸即可
$uploader-picture-width
$uploader-picture-height

[2022-01-20 09:15] #913 closed, assigned to richard1015

[2022-01-20 09:44] richard1015 commented on #873
handleChange 触发的时机不对，你应该在选择文件前去把这些秘钥获取到

[2022-01-20 09:44] #873 closed, assigned to richard1015

[2022-01-20 09:49] richard1015 commented on #559
https://nutui.jd.com/#/grid

[2022-01-20 09:49] #559 closed, assigned to szg2008, richard1015

[2022-01-20 09:52] richard1015 commented on #600
暂无此计划

[2022-01-20 09:52] #600 closed, assigned to szg2008, richard1015

[2022-01-20 09:54] richard1015 commented on #948
navbar组件 春节前   修复发布

[2022-01-21 02:30] NiShuiXingZ opened #966 "[bug]使用nut-elevator/taro抛错"
## 问题描述
在微信小程序运行是会抛一个warning和一个error。TypeError: Cannot read property 'height' of undefined。
![image](https://user-images.githubusercontent.com/4465323/150454837-8756e12b-6d3b-4e22-b00d-0c17fba36073.png)

## 复现步骤，具体代码
1、在app.ts中引入import Elevator并use(Elevator);
![image](https://user-images.githubusercontent.com/4465323/150454535-4b3082bd-f48c-449f-90a7-e38643de5f83.png)
2、在index/index.vue使用nut-eleva

[2022-01-21 04:07] wangyuwei314 opened #967 "BackTop 返回顶部为什么失效了？"
display: none;一直是这个属性

[2022-01-21 05:33] wlchn commented on #604
同样问题，函数式调用会报错

[2022-01-21 08:54] #952 closed, assigned to szg2008

[2022-01-21 08:55] #947 closed, assigned to szg2008, JackieScorpio

[2022-01-21 08:55] #935 closed, assigned to szg2008

[2022-01-21 08:55] #923 closed, assigned to szg2008

[2022-01-21 08:57] #945 closed, assigned to Drjingfubo

[2022-01-21 08:58] #928 closed, assigned to yangxiaolu1993

[2022-01-21 08:59] #919 closed, assigned to richard1015

[2022-01-21 08:59] #922 closed, assigned to szg2008

[2022-01-21 08:59] #932 closed, assigned to richard1015

[2022-01-21 08:59] #917 closed, assigned to Drjingfubo

[2022-01-21 09:00] #876 closed, assigned to Drjingfubo

[2022-01-21 09:00] #930 closed, assigned to nobody

[2022-01-21 09:05] szg2008 commented on #921
v3.1.15已新增autofocus属性支持

[2022-01-21 09:05] #921 closed, assigned to lzzwoniu

[2022-01-21 09:05] #916 closed, assigned to richard1015

[2022-01-21 09:07] #892 closed, assigned to Drjingfubo

[2022-01-21 09:12] szg2008 commented on #817
手机测试没有问题

[2022-01-21 09:12] #817 closed, assigned to lzzwoniu

[2022-01-23 06:17] LainNetWork commented on #892
setup里面用useRouter

[2022-01-24 07:40] yangjinjun3 commented on #958
已修复，多谢

[2022-01-24 09:37] wangyongxiong commented on #958
重新安装，还是会出现原来的问题

[2022-01-24 09:40] wangyongxiong opened #974 "[suggest]"
## 你建议我们做什么？
在Elevator 电梯楼层组件中，能否在点击name之后，给一个高亮的颜色(附加一个class)突出一下
![image](https://user-images.githubusercontent.com/40783535/150758422-fd9f5801-6e95-4f70-85ab-ca2a601a6f0b.png)

[2022-01-25 02:06] szg2008 commented on #958
本周发版之后就可以更新了，v3.1.16

[2022-01-25 04:16] wangyongxiong opened #978 "[suggest]能否在“Elevator 电梯楼层”组件中，点击展开后将选中的自动滚动上来显示，而不是要往下拉显示"
## 你建议我们做什么？

现在...
![image](https://user-images.githubusercontent.com/40783535/150909810-f7de6c65-f371-434d-8fb3-a57a022d9095.png)

如果你能...
将选中的电梯楼层自动滚动上来显示，一目了然看到选中的数据

它将使...
体验会更加优秀

## 其它

无

[2022-01-26 07:23] shijunti19 opened #979 "tabbaritem增加taro小程序的呢"
现在这个很烦人
[code]
![image](https://user-images.githubusercontent.com/5392211/151120340-4946e465-790d-4899-b0bc-9adb4c5ed7de.png)

[2022-01-26 08:56] Drjingfubo commented on #979
这周日发版会解决该问题

[2022-01-26 11:11] wangyongxiong opened #982 "[bug] “CountDown 倒计时”组件，在点击获取验证码的时候，然后给他赋值倒计时时间，不起作用，直接为0"
## 问题描述
在一个登录页面表单里，需要给获取验证码后倒计时，点击获取验证码后赋值倒计时时间不起作用，直接为0
![image](https://user-images.githubusercontent.com/40783535/151152636-e8241c24-c230-48d1-a190-a11c4a5df3df.png)
![image](https://user-images.githubusercontent.com/40783535/151153059-35f312a0-9ff0-4a2c-b507-480127108e81.png)
![image](https://user-images.githubusercontent.com/40783535/151152934-93501e21-f7bf-4e29-87ef-2cc04334ea70.png)

[2022-01-27 08:32] yangxiaolu1993 commented on #982
你在这个链接中试试，模拟了一下你描述的场景
https://codehouse.jd.com/?source=share&type=vue&mainJs=Ly9pbXBvcnQgVkNvbnNvbGUgZnJvbSAidmPGDyI7Ci8vdmFyIHbIID0gbmV3yS8oKTsKx0J7IGNyZWF0ZUFwcCB9yEd1xELHIcQZxhcuL2FwcC7NHU51dFVJxx9AbnV0dWkvxQbKIsc2c2Nzc8sVzCwvZGlzdC9zdHlsZS7GJukAkihBcHApLnVzZSjFaSkubW91bnQoIiNhcHAiKTs%3D&appValue=PHRlbXBsYXRlPgogIAk8bnV0LWJ1dHRvbiB0eXBlPSJzdWNjZXNzIiBAY2xpY2s9ImNvdW50RG93biI%2B6aqM6K%2BB56CBPC%

[2022-01-27 08:48] richard1015 commented on #954
参考这个去试试
https://github.com/jdf2e/nutui-demo/tree/master/vite

[2022-01-27 08:48] #954 closed, assigned to richard1015

[2022-01-27 08:49] richard1015 commented on #897
暂时不支持，欢迎共建

[2022-01-27 12:19] shijunti19 commented on #979
@Drjingfubo checkbox也有
[code]

[2022-01-27 17:51] yangjisen commented on #368
+1 附议

[2022-01-28 07:54] Drjingfubo commented on #979
@szg2008

[2022-01-28 07:57] shijunti19 commented on #979
@Drjingfubo 提示： text 组件包含了长文本，可以考虑增加 user-select 属性，方便用户复制。
[code]
xieyi_user是一串html，都是p标签
user-select 我加不进去
这个估计很难解决！
用其他组件，在小程序没法很好处理！

[2022-01-28 08:11] richard1015 commented on #979
text 组件指？   taro text?  https://taro-docs.jd.com/taro/docs/components/base/text/

[2022-01-28 08:13] shijunti19 commented on #979
@richard1015 没用text组件
[code]
然后他会提示： text 组件包含了长文本，可以考虑增加 user-select 属性，方便用户复制。
view用了v-html提示出来的，我删了就不会提示
我是vue3
我估计是taro解析成text了然后这几个属性没法赋值上去

[2022-01-28 12:59] shijunti19 commented on #979
@richard1015 @Drjingfubo Failed to resolve component: scroll-view
taro里怎么屏蔽scroll-view提示！
我大部分页面都使用了scroll-view原生标签，导致console全是这个提示！试了文档里的各种办法，都提示小程序编译错误
![image](https://user-images.githubusercontent.com/5392211/151551223-cfef5cfb-6bf1-4c84-91e1-626946f52e2f.png)

[2022-01-29 02:42] deajax opened #984 "[bug] Layout组件问题"
## 问题描述
1、row组件在使用flex-wrap="wrap"时不生效；
2、row组件在使用: gutter="16"时，first和last会有一个col-gutter属性，强制把padding去掉，此时会造成第一格和最后一个尺寸，与其他col的内容尺寸不同，造成错行问题；

## 最小可复现仓库

https://codesandbox.io/s/stoic-euclid-tqt5n?file=/src/App.vue

## 预期的行为和实际行为
1、
预期 `class="nut-row-flex-wrap"`
实际 `class="nut-row-flex-nowrap" flex-wrap="wrap"`
2、
预期 `<col style="padding-left: 8px; padding-right: 8px;">`
实际 `.nut-col-gutter:fi

[2022-01-30 03:13] #979 closed, assigned to szg2008, Drjingfubo

[2022-01-30 03:16] richard1015 commented on #915
3.1.16 已发布

[2022-01-30 03:16] #915 closed, assigned to richard1015

[2022-01-30 03:16] richard1015 commented on #943
3.1.16 已发布

[2022-01-30 03:16] #943 closed, assigned to liqiong-lab

[2022-01-30 03:16] richard1015 commented on #958
3.1.16 已发布

[2022-01-30 03:16] #958 closed, assigned to yangjinjun3

[2022-01-30 03:16] richard1015 commented on #948
3.1.16 已发布

[2022-01-30 03:16] #948 closed, assigned to liqiong-lab

[2022-01-30 03:17] richard1015 commented on #828
3.1.16 已发布 ，已支持 小程序场景使用

[2022-01-30 03:17] #828 closed, assigned to nobody

[2022-01-30 03:18] richard1015 commented on #870
3.1.16 已发布 ，已支持 小程序场景使用

[2022-01-30 03:18] #870 closed, assigned to nobody

[2022-01-30 03:20] #939 closed, assigned to lkjh3214

[2022-01-30 03:21] richard1015 commented on #743
3.1.16 已发布 ，已支持 小程序场景使用

[2022-01-30 03:21] #743 closed, assigned to nobody

[2022-02-01 04:13] beijibeijing opened #986 "[bug]NumberKeyboard组件点击数字键盘按钮无反应,只有弹出和收起起作用"
## 问题描述

NumberKeyboard组件点击数字键盘按钮无反应。
https://nutui.jd.com/#/numberkeyboard 中的各种实例都好使，但是自己使用以及官方中在线调试的都不好使。
点击各种类型示例，键盘可以弹出，但是键盘上各种按键无反应，只有点空白处，键盘会收起。

## 最小可复现仓库
官方文档在线调试都不好使。

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-02-01 14:49] wangyuwei314 opened #987 "复选框和商品卡片问题"
![image](https://user-images.githubusercontent.com/39257452/151990955-212c3168-92cb-4a0a-ada9-b3ed278654a4.png)

不知道什么原因出现这两个警告，一个是复选框出现的 一个是商品卡片出现 undefined的情况

[2022-02-03 06:38] aolsx opened #988 "[suggest]状态栏高度适配"
## 你建议我们做什么？
是否有计划增加状态高度适配？
用以自定义导航栏！

[2022-02-03 14:11] wangyuwei314 opened #989 "ImagePreview 图片预览的问题"
![image](https://user-images.githubusercontent.com/39257452/152359001-5eaa3fa4-0615-462a-8def-b677e2cac516.png)
更新之后为什么出现这个问题？

[2022-02-06 05:20] Pengjee opened #990 "[docs] 官方文档错误"
https://nutui.jd.com/#/circleprogress
官网文档组件CirecleProgress
命名都是CirecleProgress，但是实际组件使用是CircleProgress

[2022-02-07 05:33] yangzhiganluk commented on #950
我也遇到这个问题了，请问是怎么解决呀

[2022-02-08 04:33] wangyongxiong opened #992 "[bug] 3.1.16版本，“Menu 菜单”点击弹出层后会穿透滚动，还有一种是滚动后点击弹出，底部会有缺口"
## 问题描述
正常情况
![image](https://user-images.githubusercontent.com/40783535/152918460-422f5e01-1986-42e2-8127-41441e1f9120.png)
穿透滚动后
![image](https://user-images.githubusercontent.com/40783535/152918522-344ee045-a256-4f9f-ba60-38ab1708b98a.png)

第二种情况：先滚动页面后固定菜单位置，点击弹出，底部会有缺口
![image](https://user-images.githubusercontent.com/40783535/152918624-e1f84382-f1de-433c-ab55-d5b870b74fac.png)

[2022-02-08 07:12] kevinlvhsl commented on #205
更何况在vue3中，都不用this了，非得用模板来调用toast 是很麻烦的， 接口出错时提示等场景

[2022-02-08 07:17] kevinlvhsl commented on #209
@nutui/nutui-taro  小程序中，这样的方式不行
import { Toast } from '@nutui/nutui-taro'
Toast.text('3333')

[2022-02-09 01:56] #967 closed, assigned to szg2008

[2022-02-09 01:57] #966 closed, assigned to szg2008

[2022-02-09 01:58] szg2008 commented on #787
v3.1.16已修复，请升级，另外需升级Taro到3.4.x

[2022-02-09 01:58] #787 closed, assigned to szg2008

[2022-02-09 01:59] szg2008 commented on #736
v3.1.16已修复

[2022-02-09 01:59] #736 closed, assigned to szg2008, richard1015

[2022-02-09 02:03] Drjingfubo commented on #986
目前在线调试的工具不完善，NumberKeyboard组件需要在H5环境下调用

[2022-02-09 06:21] wangyuwei314 opened #996 "Tabs 选项卡切换的建议"
可否添加个手势左右滑动切换功能和粘性布局

[2022-02-09 06:39] #733 closed, assigned to szg2008, richard1015

[2022-02-09 06:40] szg2008 commented on #957
scroll-view问已修复，升级最新版本以及Taro3.4.x

[2022-02-09 06:40] #957 closed, assigned to nobody

[2022-02-09 10:26] imyfd opened #998 "[question]为什么我自定义主题一半有用一半无用"
## 你想知道什么？

为什么我按照教程自定义主题，button,input等自定义主题颜色成功了，但是radio,Cascader等还是原来的颜色

## 描述你考虑过的替代方案

我想...

## 其它

无

[2022-02-11 10:22] fengchunsun2016 opened #1001 "希望searchBar组件可以添加一个confirm-type属性，调起手机软键盘时右下角可以显示‘搜索’ 按钮"
希望searchBar组件可以添加一个confirm-type属性，调起手机软键盘时右下角可以显示‘搜索’ 按钮

搜索的时候现在右下角按钮展示的 ‘换行’ 文字，用户体验不太好，如果能支持confirm-type属性设置的话，用户体验会有很大提升

[code]

[2022-02-13 10:28] HUAzd opened #1002 "[bug] Tabbar的默认icon不显示"
## 问题描述
![image](https://user-images.githubusercontent.com/44830285/153748960-d57563d5-d373-4379-b305-519b292d11e9.png)
Tabbar的默认icon不显示，使用vue3+vite+ts，开发的是h5

## 复现步骤，具体代码
[code]
根据官方文档配置vite按需引入

## 相关环境信息
- **操作系统**：win10
- **Node 版本**：v12.18.2
- **NutUI 版本**： "@nutui/nutui": "^3.1.16"
- **Vue 版本**："^3.2.25"
- **引用方式**：  NPM

[2022-02-13 11:57] HUAzd commented on #1002
问题解决了，我是这样解决的：
首先我是在要使用Tabbar的组件内部按需引入Tabbar，然后在main.ts入口文件里面引入并注册Icon组件，这样才解决。
请问这样使用是不是不太合理呀？

[2022-02-15 03:25] helibin opened #1005 "Input组件无label样式bug"
![image](https://user-images.githubusercontent.com/14595752/153982742-9bac8b01-70d7-40dc-b99a-d9c47aa23f63.png)

虽然源码里写了 v-if="label"，但实际情况是未传label值时还是会生成个空的label占位 nut-input_label

[2022-02-15 09:27] YaoDongcai opened #1008 "[bug]vue 2.0的版本源码里面button.vue template多了this的关键字"
## 问题描述

button.vue 2.0的源码里面 template 里面出现了this的关键字
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
查看源码得出

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-02-15 15:58] xyezir opened #1009 "希望增加适配iphonex底部安全区[suggest]"
nut-popup和nut-actionssheet 是否可以增加适配底部安全区域

[2022-02-16 08:49] EdivenH opened #1010 "[bug]Popup 组件 destroy-on-close属性无效"
## 问题描述
Popup 组件 destroy-on-close属性无效，设置为true 关闭后，组件不会销毁

## 相关环境信息
- **操作系统**：
- **Node 版本**：v16.13.0
- **NutUI 版本**： @nutui/nutui-taro@3.1.16
- **Vue 版本**：3.0.0
- **引用方式**：  NPM

[2022-02-16 10:45] wangyongxiong opened #1011 "[bug] “InfiniteLoading 滚动加载”组件，如果最后一页的数据不足设定的每页数量，load-more-txt提示信息就不会显示（已经到底啦）"
## 问题描述
“InfiniteLoading 滚动加载-组件，如果最后一页的数据数量不足设定的每页数量，load-more-txt提示信息就不会显示
![image](https://user-images.githubusercontent.com/40783535/154248612-a2723eac-f6e9-4610-9f74-8b4c25b504f4.png)

[2022-02-16 16:28] cuijianjun opened #1012 "[suggest]"
## 你建议我们做什么？
Dialog
为啥不能全局调用呢 自己写全局调用问题好像也比较多，可以解决或者指导自己写时候解释嘛

现在...

如果你能...

它将使...

## 其它

[code]

无

[2022-02-16 16:38] cuijianjun commented on #14
小程序可以加这个全局调用吗

[2022-02-18 04:38] wangyongxiong opened #1015 "[bug] “Menu 菜单”组件，当显示内容没有超过设置的高度，滚动的时候会穿透滚动页面"
## 问题描述

页面内容高度大于显示区域高度。将菜单组件“.nut-menu-item__content”的max-height设置大一点，点击菜单后显示内容，然后滚动/滑动页面，导致body滚动(穿透滚动)
![image](https://user-images.githubusercontent.com/40783535/154618542-5531ee28-50a9-4091-97f6-f6348ce89cda.png)

![image](https://user-images.githubusercontent.com/40783535/154618251-79ac9ca5-4ef3-437e-b882-7929f494bbb5.png)

[2022-02-18 04:39] wangyongxiong commented on #1015
NutUi已更新至3.1.16

[2022-02-18 07:37] szg2008 commented on #1010
这个属性的含义是弹层关闭之后，slot内容会不会被清空，更新下文档。

[2022-02-18 07:37] #1010 closed, assigned to szg2008

[2022-02-18 07:57] szg2008 commented on #573
已经修复，更新到最新版本v3.1.16

[2022-02-18 07:57] #573 closed, assigned to szg2008, richard1015, zy19940510

[2022-02-18 07:58] szg2008 commented on #556
已修复，更新v3.1.16

[2022-02-18 07:58] #556 closed, assigned to szg2008, richard1015

[2022-02-18 07:59] szg2008 commented on #627
下个版本会发布

[2022-02-18 08:06] szg2008 commented on #951
可以通过属性 isPreventDefault 和 isStopPropagation控制。请移步查阅文档。https://nutui.jd.com/#/swiper

[2022-02-18 08:06] #951 closed, assigned to szg2008

[2022-02-18 08:32] szg2008 commented on #978
已经暴露ScrollTo，可自行调用，下版本修复

[2022-02-20 04:24] bigpigOne opened #1016 "[bug]进度条百分比内显示 100% 时有样式问题"
官方示例中，进度条百分比内显示 100% 时有样式问题
`<template> <nut-cell> <nut-progress percentage="100" :text-inside="true" /> </nut-cell> </template>`

[2022-02-20 04:25] bigpigOne commented on #1016
<template>
     <nut-cell>
        <nut-progress percentage="100" :text-inside="true" />
      </nut-cell>
</template>

[2022-02-20 04:25] bigpigOne commented on #1016
`<template>
     <nut-cell>
        <nut-progress percentage="100" :text-inside="true" />
      </nut-cell>
</template>`

[2022-02-21 01:32] Drjingfubo commented on #1016
描述一下具体问题

[2022-02-21 04:43] bigpigOne commented on #1016
100%时 右边溢出了，效果用官网在线调试看一下就知道了。

![image](https://user-images.githubusercontent.com/92560015/154892351-6a98a93a-9cd2-49eb-b2da-5a609078f293.png)
![image](https://user-images.githubusercontent.com/92560015/154892393-fd83fd94-896e-462e-9215-995a2e7d6b69.png)

[2022-02-21 04:48] bigpigOne commented on #1016
@Drjingfubo 我用的 left 和 transform 百分比解决的，不知道有没有其他更好的方案。
![image](https://user-images.githubusercontent.com/92560015/154891461-db070aeb-969f-4131-814d-6a8935999b58.png)
![image](https://user-images.githubusercontent.com/92560015/154892301-7063c140-80d3-48a6-9196-2f41b8ceb757.png)
![image](https://user-images.githubusercontent.com/92560015/154892871-6cd5c884-b080-4e8d-9be7-9551a4c5f6a3.png)

[2022-02-21 05:50] Drjingfubo commented on #1016
把整个进度条宽度缩小就可以了  百分比内显还要占据一些宽度

[2022-02-21 06:30] bigpigOne commented on #1016
@Drjingfubo 缩小肯定也不行，得让百分比內显 x方向偏移对应的百分比  transformX(-processTran %)
这样100%时候內显右侧正好在进度条右内侧，0%的时候內显左侧在进度条左内侧

[2022-02-21 06:33] Drjingfubo commented on #1016
那样会占据太多进度条的长度

[2022-02-21 06:35] bigpigOne commented on #1016
@Drjingfubo 看见我实现的那个了吗？

[2022-02-21 06:35] bigpigOne commented on #1016
![image](https://user-images.githubusercontent.com/92560015/154901587-bd0ad132-26b4-4c3c-850e-71ded5b09e9f.png)
这是缩小之后 还是溢出

[2022-02-21 06:39] bigpigOne commented on #1016
如果100%的时候內显溢出了，那还叫內显吗

[2022-02-21 06:42] Drjingfubo commented on #1016
百分比内显是占据进度条一点宽度 然后在进度条后边的

[2022-02-21 06:43] Drjingfubo commented on #1016
我优化一下

[2022-02-21 09:33] welove42 opened #1017 "[bug]input组件的readonly属性在taro小程序项目中不生效"
## 问题描述
小程序中input的readonly属性不生效，真机实测点击input之后还是会唤起键盘

## 最小可复现仓库

## 预期的行为和实际行为
预期点击弹出picker弹窗，实际上键盘把picker挡住

## 复现步骤，具体代码

             `<nut-input
                    class="nut-input-text"
                    v-model="formData.reason"
                    readonly
                    type="text"
                />`

                `<nut-picker
                    v-model:visible="showPicker"

[2022-02-22 06:14] programfault opened #1019 "[bug] BackTop复制官方文档中的代码无法显示"
## 问题描述

使用Taro Vue3, 从官网复制代码https://nutui.jd.com/#/backtop 到主页面, 按钮不显示
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-02-23 01:24] #1008 closed, assigned to richard1015

[2022-02-23 02:10] Rxiaoyi opened #1022 "[bug]"
## 问题描述
微信小程序端使用Menu 菜单组件，给默认值

## 复现步骤，具体代码
<template>
  <nut-menu>
    <nut-menu-item v-model="state.value1" :options="state.options1" />
    <nut-menu-item v-model="state.value2" @change="handleChange" :options="state.options2" />
  </nut-menu>
</template>

<script>
import { reactive, ref } from 'vue';

export default {
  setup() {
    const state = reactive({
      options1: [
        { text:

[2022-02-23 02:14] Rxiaoyi opened #1023 "微信小程序端使用Menu 菜单组件，给默认值不会展示"
## 问题描述
微信小程序端使用Menu 菜单组件，给默认值不会展示

<template>
  <nut-menu>
    <nut-menu-item v-model="state.value1" :options="state.options1" />
    <nut-menu-item v-model="state.value2" @change="handleChange" :options="state.options2" />
  </nut-menu>
</template>

<script>
import { reactive, ref } from 'vue';

export default {
  setup() {
    const state = reactive({
      options1: [
        { text: '全部商品', v

[2022-02-23 06:26] Bowencn opened #1024 "[bug]ImagePreview引用时报错"
## 问题描述

taro使用vue3开发时 在app.tsx引入ImagePreview后 app.use(ImagePreview) 会在终端报错
Module not found: Can't resolve '@nutui/nutui-taro/dist/packages/_es/ImagePreview'
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
app.ts文件下
import { ImagePreview } from '@nutui/nutui-taro';
App.use(ImagePreview)
![image](https://user-images.githubusercontent.com/37268865/155270683-a88fd89f-de5d-4be2-bbb4-17e2609b65ef.png)

## 相关环

[2022-02-23 06:34] tqn911024 opened #1025 "[bug] SearchBar 搜索栏 的search 事件 在H5中会刷新当前页面"
## 问题描述
在使用搜索栏的时候，使用了search事件，在敲击回车或者使用手机软键盘的确认时候，触发的是页面刷新而非搜索事件

## 最小可复现仓库
<nut-searchbar v-model="searchValue" @submit="search">
        <template v-slot:leftin>
          <nut-icon size="14" name="search2"></nut-icon>
        </template>
        <template v-slot:rightout >
          <view >
            搜索
          </view>
        </template>
      </nut-searchbar>

## 预期的行为和实际行为
预期的行为 :敲击回车或者

[2022-02-23 08:19] ailululu commented on #729
现在这个功能都实现了，还有其他的建议吗

[2022-02-23 08:23] ailululu commented on #729
我们提供了3个size可以选择，具体的font-size可以通过样式覆盖来实现；其他的已经实现了，还有其他的建议吗

[2022-02-23 08:44] szg2008 commented on #729
请更新安装包试试～

[2022-02-23 08:44] #729 closed, assigned to ailululu

[2022-02-23 10:53] bigpigOne commented on #1025
@submit 改成 @search试试

[2022-02-24 08:16] Drjingfubo commented on #865
自定义的直接在nut-tabbar里边写就可以 和item同级

[2022-02-24 10:42] guzhenjie520 opened #1031 "[bug]"
## 问题描述
使用datePicker时console报异常且界面样式存在问题
【Vue warn]: Invalid prop: type check failed for prop "listData". Expected Array, got Object
  at <NutPickerColumn itemShow=false list-data= {values: Array(12), defaultIndex: 1} readonly=false  ... >】
PickerColumn 中的prop参数 listData 在源码中使用的是array类型 使用datepicker时就报错了

## 预期的行为和实际行为

## 复现步骤，具体代码
正常使用

## 相关环境信息
- **操作系统**：window7
- **Node 版本**：v12.13.0
- **Nut

[2022-02-24 13:32] #986 closed, assigned to Drjingfubo

[2022-02-24 13:33] #1002 closed, assigned to Drjingfubo

[2022-02-24 13:33] #865 closed, assigned to Drjingfubo

[2022-02-25 10:11] UphkcRNqmafQWcSSSSSS commented on #996
自己写

[2022-02-25 10:45] huangxiaonian93 opened #1038 "在form使用uploader组件在h5中会触发提交事件[bug]"
## 问题描述
@nutui/nutui-taro 在form使用uploader组件在h5中会触发提交事件

## 最小可复现仓库
[code]

## 预期的行为和实际行为
希望正常显示，可是无反应

## 相关环境信息
@nutui/nutui-taro 3.1.16版本

[2022-02-25 11:09] szg2008 commented on #1025
已修复v3.1.17

[2022-02-25 11:09] #1025 closed, assigned to JackieScorpio

[2022-02-25 11:09] #1024 closed, assigned to JackieScorpio

[2022-02-25 11:10] #1017 closed, assigned to ailululu

[2022-02-25 11:10] #1016 closed, assigned to Drjingfubo

[2022-02-25 11:10] #1005 closed, assigned to ailululu

[2022-02-25 11:11] #978 closed, assigned to szg2008

[2022-02-25 11:12] #974 closed, assigned to szg2008

[2022-02-25 11:12] #944 closed, assigned to szg2008

[2022-02-25 11:13] #914 closed, assigned to yangxiaolu1993

[2022-02-25 11:13] #842 closed, assigned to lkjh3214, yangxiaolu1993, Drjingfubo

[2022-02-25 11:13] #806 closed, assigned to lkjh3214

[2022-02-25 11:14] #742 closed, assigned to lkjh3214

[2022-02-25 11:14] #368 closed, assigned to yangxiaolu1993

[2022-02-25 11:15] #550 closed, assigned to lkjh3214

[2022-02-25 11:15] #551 closed, assigned to szg2008, richard1015

[2022-02-25 11:16] #627 closed, assigned to szg2008

[2022-02-25 11:16] #619 closed, assigned to szg2008, yangxiaolu1993

[2022-02-25 11:17] #588 closed, assigned to irisSong, richard1015

[2022-02-25 11:17] #570 closed, assigned to richard1015, Drjingfubo, liqiong-lab

[2022-02-25 11:17] #938 closed, assigned to nobody

[2022-02-25 11:17] #998 closed, assigned to richard1015

[2022-02-25 11:19] #553 closed, assigned to szg2008

[2022-02-25 11:21] #989 closed, assigned to JackieScorpio

[2022-02-26 08:14] bigpigOne opened #1039 "[question]Picker文档问题"
## 你想知道什么？

Picker组件文档
Events
文档中的 confirm 回调参数是event: Event，实际回调参数是string
文档中的 change 回调参数是选中的值，实际回调参数是Event

Column 的数据结构是string[]

## 描述你考虑过的替代方案

希望Column增加对对象的支持

## 其它

无

[2022-02-26 10:02] pupillxy opened #1040 "nut-popup 页面数据多的话 反应慢"
## 你想知道什么？

nut-popup 这个组件 页面数据多的话 打开或者关闭  会卡个一秒左右 才打开 动画是流畅的 反应慢 这个数据少的情况下 用着很舒服

## 描述你考虑过的替代方案

有没有什么解决办法   这个功能是不错的  加上那个选地址

## 其它

无

[2022-02-26 13:37] bigpigOne opened #1041 "[bug]H5中 Form里有提交按钮，点击时页面刷新"
## 问题描述

TaroH5中 Form里有提交按钮，点击提交按钮时页面刷新
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-02-26 14:40] xyz13 opened #1042 "[bug] nut-form-item作为子组件的时候无法触发表单校验"
## 问题描述

将 nut-form-item 封装为独立的业务组件，然后在nut-form中使用，此种情况下无法触发设置的表单规则校验，比如：

比如文件：NameInput.vue

[code]

在其他的表单中引用上述NameInput，如下：
[code]

当提交校验的时候设置的规则无法触发。

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：win10
- **Node 版本**：v16.13.2
- **NutUI 版本**："@nutui/nutui": "^3.1.16"
- **Vue 版本**："vue": "^3.2.31",
- **引用方式**：  NPM

[2022-02-28 02:58] #745 closed, assigned to szg2008, yangxiaolu1993

[2022-02-28 02:58] #306 closed

[2022-02-28 06:02] wjkang opened #1043 "对 typescript 支持太差"

[2022-02-28 15:25] xyz13 opened #1045 "[bug] 通过render函数构建的表单，校验规则只能触发一次"
## 问题描述

通过render函数创建一个具有表单校验的组件，当触发第一次校验后，第二次校验失效。跟踪代码 checkRule 函数中
const { required, validator, regex, message } = rules.shift(); 这一句似乎会将表单的规则清空，导致无法第二次触发。

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： "@nutui/nutui": "^3.1.16"
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-03-01 04:12] xyz13 opened #1049 "BUG 通过render创建Tabs会触发告警"
## 问题描述

通过render创建Tabs会触发告警，如下代码样例：
![image](https://user-images.githubusercontent.com/4339952/156103357-da7bda22-e6d9-49f6-b18a-de8c50505489.png)

会触发告警：
![image](https://user-images.githubusercontent.com/4339952/156103402-0cddd8c8-612f-44e0-8c1d-fd262437bc94.png)

具体触发告警的代码是这个地方：
![image](https://user-images.githubusercontent.com/4339952/156103484-c8d5e56f-c7f7-4aac-ad04-c6968ffb6672.png)

## 最

[2022-03-01 05:52] xyz13 opened #1050 "[bug] nut-picker 组件的官网“多级联动”代码存在告警，希望能消除告警"
## 问题描述

 nut-picker 组件的官网“多级联动 https://nutui.jd.com/#/picker”代码存在告警，希望能消除告警，如下：
![image](https://user-images.githubusercontent.com/4339952/156112675-76dd5b7f-4e88-433a-b786-bae112632e79.png)

希望能消除告警

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： "@nutui/nutui": "^3.1.17",
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-03-01 06:28] Drjingfubo commented on #987
card组件是如何使用的

[2022-03-01 06:36] FeSeason opened #1052 "[bug] use in taro, NutUI is not undefined"
## 问题描述

使用 taro-cli 初始化 vue + nutui 按照官方使用引入

https://nutui.jd.com/#/starttaro

![image](https://user-images.githubusercontent.com/12840843/156117267-644291a2-ddd3-4d48-adaa-24447e772a61.png)

使用全量引入组件时会报错

![image](https://user-images.githubusercontent.com/12840843/156117362-52cab21f-0eed-4a98-a6f9-3245b87f0145.png)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：Mac
- **Node 版本**

[2022-03-01 09:42] emorywang commented on #883
`@search`我也试过是无效的，但是官方文档中的demo是可用的，后来发现改成`@submit`可以触发，怀疑文档中的demo是vue版而不是taro

[2022-03-01 09:51] Azraelj opened #1053 "[bug]表单校验不支持动态规则配置"
## 问题描述

form-item组件的rules属性配置为字面量时可以正常工作，配置为变量时只有第一次调用validate方法能正产校验，后续调用返回的valid字段固定为false
## 最小可复现仓库

## 预期的行为和实际行为
rules属性配置变量时也能正常进行校验

## 复现步骤，具体代码
官网示例将字面量修改为变量即可
如：
[code]

可能的原因：
checkRule方法中使用了Array.shift方法，修改了vnode的props

## 相关环境信息
- **操作系统**：macOS
- **Node 版本**：10.23.0
- **NutUI 版本**： 3.1.16
- **Vue 版本**：3.2.31
- **引用方式**：  NPM

[2022-03-01 10:02] wandoupeas commented on #627
nutui-taro不支持吗

[2022-03-02 03:35] jinyuanqing opened #1055 "[question]nut-video如何获取当前播放时间和视频的总共时间呀?"
使用nutui的nut-video视频播放器组件,如何获取当前播放时间和视频的总共时间呀?

https://nutui.jd.com/#/video

[2022-03-02 10:53] #990 closed, assigned to Drjingfubo

[2022-03-03 03:06] daguanren21 opened #1060 "[input组件可自定义后置内容]"
## 你建议我们做什么？
实现input 组件 自定义后置内容

现在...

如果你能...

它将使...

## 其它

无

[2022-03-04 08:02] fangjie-luoxi opened #1065 "[bug] 官网看不到示例代码"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-03-04 08:36] emorywang opened #1066 "[suggest] Tabs 选项卡切换时，不同标签根据内容设置高度"
## Tabs 选项卡切换时，不同标签根据内容设置高度

现在（3.1.17），Tabs选项卡切换时，所有标签内容（tabpane）的高度都一样，看起来都是根据高度最高的标签一致，这样某个标签内容比较少，就会很空很难看。

希望可以将Tabs选项卡改为根据每个tabpane的内容不同激活该标签时拥有适合本标签内容的高度。

它将使tabs使用起来更优雅

## 其它
目前其他框架ant-design, material-ui, element-ui等都是根据内容自适应高度的逻辑。

谢谢

[2022-03-04 10:42] biaomingzhong opened #1067 "[bug] nutui taro 版本，经过 px2rem 后，nut-icon 显示没有适配"
## 问题描述

nut-icon size 属性设置后显示不对，因为这个 size 是在 styles 上加 `10px`，实际应该使用 rem 单位

## 具体代码

[code]

[2022-03-05 02:51] zhushibo opened #1068 "[bug]vite+vue3样式按需引入运行报错"
## 问题描述

<img width="769" alt="image" src="https://user-images.githubusercontent.com/26269311/156864838-ee2e1307-4889-46aa-b1ce-bbaa30a4821b.png">
[code]

按需引入css报错

[code]
package

[code]

[2022-03-05 03:31] Rxiaoyi commented on #1023
请问这个问题修复了吗

[2022-03-05 04:41] yangjinjun3 commented on #1023
谢谢您的反馈，烦请提供下最小复现包，只保留搭建框架（比如Taro）和引入menu组件，谢谢！

[2022-03-05 06:27] yangjinjun3 commented on #1023
感谢您的反馈，升级到最新版再试下看看呢！

[2022-03-05 06:47] Rxiaoyi commented on #1023
非常感谢，已经处理好了，就是版本的问题

[2022-03-05 07:05] yangjinjun3 commented on #1022
感谢您的反馈，您这个好像和1023重复了？

[2022-03-05 07:15] yangjinjun3 commented on #1015
感谢反馈，我这里无法复现，您方便提供最小复现仓库吗？

[2022-03-05 07:23] yangjinjun3 commented on #1015
感谢反馈，我这里没有复现，方便提供最小的复现仓库吗？

[2022-03-05 07:24] yangjinjun3 commented on #992
感谢反馈，方便提供最小的复现仓库吗？

[2022-03-05 09:19] hu-qi opened #1069 "[bug]Cascader 级联选择 change 事件和 path-change 事件没有触发"
## 问题描述

使用 [单文件组件 <script setup>](https://v3.cn.vuejs.org/api/sfc-script-setup.html#%E5%8D%95%E6%96%87%E4%BB%B6%E7%BB%84%E4%BB%B6-script-setup) 时，Cascader 级联选择 change 事件和 path-change 没有触发, click 事件可以正常触发。

## 最小可复现仓库

[code]

## 预期的行为和实际行为
预期： change 事件和 path-change 事件能正常响应
实际：change 事件和 path-change 事件无响应

## 复现步骤，具体代码
见上文

未报错

## 相关环境信息
- **操作系统**：Windows 10
- **Node 版本**：12.14.1
- **NutUI 版本**

[2022-03-06 03:29] vebin opened #1070 "[急！]cdn引入方式 ,提示Uncaught TypeError: Cannot read properties of undefined (reading 'useRouter')"
使用CDN引入方式，根据指引不需要加路由，我手动也加了路由，为何会提示这个错误：
Uncaught TypeError: Cannot read properties of undefined (reading 'useRouter')

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@nutui/nutui@next/dist/style.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@@next"></script>

    <script src="https://cdn.jsdelivr

[2022-03-06 04:08] vebin commented on #1070
如果只是一个按钮组件，可以正常，但是用了<nut-form>组件，就是这个错误？
<nut-form :model-value="model" ref="nutForm">
        <nut-form-item label="名称" prop="serviceName" required :rules="[{ required: true, message: '请填写名称' }]">
            <input class="nut-input-text" v-model="model.serviceName" placeholder="请输入名称" type="text" />
        </nut-form-item>
</nut-form>

<nut-button type="default">默认按钮</nut-button>

[2022-03-06 04:11] vebin commented on #1070
测试到：如果只是一个按钮组件，可以正常，但是用了表单组件，就是这个错误？
<nut-form :model-value="model" ref="nutForm">
        <nut-form-item label="名称" prop="serviceName" required :rules="[{ required: true, message: '请填写名称' }]">
            <input class="nut-input-text" v-model="model.serviceName" placeholder="请输入名称" type="text" />
        </nut-form-item>
</nut-form>

[2022-03-07 02:36] dongj0316 commented on #1069
@hu-qi change和path-change事件应该绑定到cascader组件上哈

[2022-03-07 02:39] #1069 closed, assigned to dongj0316

[2022-03-07 05:56] richard1015 commented on #1068
参考一下 https://github.com/jdf2e/nutui-demo/tree/master/vite-ts

[2022-03-07 07:30] ibmsoft opened #1071 "官网地址直接扫描小程序，输入框后面的 X 不能清除输入内容"
## 问题描述

## 最小可复现仓库

https://nutui.jd.com/#/input

## 预期的行为和实际行为
输入框后的 X，小程序上应该能清除掉内容， 实际上是清除不了

## 复现步骤，具体代码
https://nutui.jd.com/#/input

直接扫描小程序

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-03-07 11:49] #1068 closed, assigned to nobody

[2022-03-07 12:15] richard1015 commented on #1070
[归档.zip](https://github.com/jdf2e/nutui/files/8197573/default.zip)

[2022-03-08 02:26] LiCeline commented on #1053
`<nut-form-item
          prop="phone"
          required
          :rules="rules.phone"

</nut-form-item>`
const [, result] = await errorCatch(ruleForm.value.validate())
const { valid, errors }: any = result
第一次一定会校验valid 会为false
但是到了第二次，valid就会true, 校验异常了

[2022-03-08 02:48] richard1015 commented on #1070
暂时先用 <script src="https://cdn.jsdelivr.net/npm/@nutui/nutui@beta/dist/nutui.umd.js"></script>

月底会正式发布

[2022-03-08 02:52] richard1015 commented on #1052
![image](https://user-images.githubusercontent.com/13060263/157156775-f4ab59fb-e1fe-4a98-8aea-e9f5797e50f6.png)

如果引入全量需要将此  按需加载配置删掉 ，不推荐全量引入，小程序对 build 包大小控制很严格

具体可参考 https://github.com/jdf2e/nutui-demo/tree/master/taro

[2022-03-08 02:52] #1052 closed, assigned to richard1015

[2022-03-08 02:53] richard1015 commented on #1065
刷新缓存看看，发布官网时可能会存在缓存冲突

[2022-03-08 02:53] #1065 closed, assigned to richard1015

[2022-03-08 06:11] zhushibo commented on #1068
使用 vite-plugin-style-import 1.2.1可以解决

[2022-03-08 12:16] #1023 closed, assigned to yangjinjun3

[2022-03-08 12:16] #1022 closed, assigned to yangjinjun3

[2022-03-08 13:33] houseCN opened #1079 "[bug]nutui-taro 主题色配置 报错"
### 今天刚拉取的taro最新模板：
? 请选择框架 Vue3
? 是否需要使用 TypeScript ？ No
? 请选择 CSS 预处理器（Sass/Less/Stylus） Sass
? 请选择模板源 Github（最新）
? 请选择模板 vue3-NutUI（使用 NutUI3.0 的模板）

按照官方文档做主题修改配置，仅在index页面加了一个tab组件做测试
然后：
**npm run dev:h5**
报错如下：

[code]

### 你们官方的demo我试了，正常，可以修改主题色，没问题

### 麻烦帮看一下
这个问题整了一下午了...

### package.json
[code]

[2022-03-08 15:24] paseaf commented on #658
请问楼主解决问题了吗?我也遇到了类似的问题
加上下面这行就会报错
[code]
错误：
![image](https://user-images.githubusercontent.com/33207565/157268839-3b32052d-5b34-4cd9-ad49-15e0ca6dcd02.png)

- 操作系统： Win 10
- Taro版本: v3.4.2
- Node 版本：v16.14.0
- NutUI 版本： @nutui/nutui-taro@3.1.17
- Vue 版本：3.2.31
- 引用方式： NPM

[2022-03-09 01:04] richard1015 commented on #1079
辛苦提供一下 config js ，和 入口文件 详细代码

[2022-03-09 01:48] houseCN commented on #1079
### config/index.js

[code]

### app.js
[code]

[2022-03-09 01:50] houseCN commented on #1079
早，~
代码已提供，麻烦帮看看

[2022-03-09 01:52] LuEdision opened #1081 "Picker visibleItemCount属性未定义就发release[bug]"
vue3版本也就是next分支
![2b87f8772283bdc77351431f1af0549](https://user-images.githubusercontent.com/63531046/157356743-283cd9f6-cc88-420a-9508-db61b064e6f5.png)

[2022-03-09 02:04] liuhp opened #1082 "[suggest]searchBar组件增加disabled、focus属性及clickInput事件"
## 你建议我们做什么？

现在searchBar组件没有disabled、focus属性及clickInput事件

如果你能为searchBar组件增加disabled、focus属性及clickInput事件

props:
disabled:是否禁用输入框
focus：获取焦点（自动获取焦点）
event:
clickInput：点击搜索区域时触发

它将可以完成如下场景：
点击搜索框时跳转到新的页面并自动聚焦弹起键盘；

## 其它

无

[2022-03-09 02:15] #1079 closed, assigned to nobody

[2022-03-09 02:16] houseCN commented on #1079
刚又重新新建了一个项目，测试已经好了，可能昨天下午头昏，哪里没搞对。
给你们添麻烦了

[2022-03-09 08:09] emorywang commented on #955
我也发现同样的问题，不过我是用了isCustomElement: tag => tag.includes('ec-canvas'),导致的，所以看起来isCustomElement是真正原因？

[2022-03-09 11:25] SHJuny commented on #1024
我引用了v3.1.17版本的  也是出现了这个问题，需要怎么解决呢？

[2022-03-10 02:40] HZZformGD opened #1085 "[suggest] 发现unplugin-vue-components 没有nutui的resolvers"
## 你建议我们做什么？

Ant Design Vue
Arco Design Vue
Element Plus
Element UI
Headless UI
IDux
Inkline
Naive UI
Prime Vue
Vant
VEUI
Varlet UI
View UI
Vuetify
VueUse Components
Quasar
TDesign

这些都有相对应的 resolvers  nutui 真的不考虑搞一下？

## 其它

无

[2022-03-10 03:49] wangyongxiong opened #1086 "Elevator 电梯楼层组件，安装了最新版本3.1.17，在线平台调试有属性ref_for="true"，本地调试却没有，需要添加什么吗？"
## 你想知道什么？
已安装最新版本3.1.17，在线上平台调试，查看电梯楼层组件有属性ref_for="true"，但是本地使用却没有，这是为什么呢，是不是需要增加什么？
![image](https://user-images.githubusercontent.com/40783535/157584354-95cca919-3ad0-4785-9350-1642902f32c2.png)
![image](https://user-images.githubusercontent.com/40783535/157584616-075500fb-97f8-4478-b283-1ccd54b48e2b.png)

[2022-03-10 03:53] wangyongxiong commented on #1086
是不是跟标签<script lang="ts">有关系

[2022-03-10 05:11] wangyongxiong opened #1087 "Tabs 选项卡切换组件，点击tabs标题不触发click，点击nut-tabpane内容的东西(设置了点击事件)会触发click"
## 你想知道什么？
click | 点击标签时触发 | {title,paneKey,disabled}
这个不是点击<nut-tabpane title="Tab 1">这里触发click事件的么，好像现在只可以在<nut-tabpane title="Tab 1"> Tab 1  </nut-tabpane>标签里面的内容点击会出发click

![QQ截图20220310131026](https://user-images.githubusercontent.com/40783535/157593999-361efd19-8a4c-4e47-b06d-4403842a37c5.png)

![image](https://user-images.githubusercontent.com/40783535/157592314-fe9242de-eda8-4371-a2e0-aa3

[2022-03-10 05:56] szg2008 commented on #1086
有什么影响吗？

[2022-03-10 07:40] wangyongxiong commented on #1086
线上调试的点击电梯楼层有高亮颜色显示，本地的没有

[2022-03-10 08:47] richard1015 commented on #1087
[code]

[2022-03-10 08:51] wy1037 opened #1089 "[bug] 文档有问题： 快速上手\CDN 安装使用示例\引入NutUI组件库 的js 不能运行。"
快速上手\CDN 安装使用示例\引入NutUI组件库  的js 不能运行。
引入 nutui@beta 组件库 有效果，
按文档 引入 nutui@next 组件库无效果，

    <script src="https://cdn.jsdelivr.net/npm/@nutui/**nutui@beta**/dist/nutui.umd.js"></script>

[vue3-nutui@beta有效果.txt](https://github.com/jdf2e/nutui/files/8222042/vue3.txt)
[vue3-nutui@next无效果.txt](https://github.com/jdf2e/nutui/files/8222060/vue3-nutui%40next.txt)

[2022-03-10 09:23] wangyongxiong commented on #1087
能否在 nut-tabpane 加上点击事件 click，点击不同的选项卡去加载不同的内容

[2022-03-10 09:24] wy1037 commented on #1089
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@nutui/nutui/dist/style.css"/>

    <script src="https://cdn.jsdelivr.net/npm/vue@next"></script>

    <script src="https://cdn.jsdelivr.net/npm/@nutui/**nutui@beta**/dist/nutui.umd.js"><

[2022-03-11 01:24] LuEdision opened #1091 "numberkeyboard 在手机端双击任何一个数字或按钮会放大页面，并且快速输入数字会有延迟，并不能跟UI库demo中效果保持一致"
## 问题描述
numberkeyboard 在手机端双击任何一个数字或按钮会放大页面，并且快速输入数字会有延迟，并不能跟UI库demo中效果保持一致

## 最小可复现仓库

## 预期的行为和实际行为

numberkeyboard 在手机端双击任何一个数字或按钮会放大页面，并且快速输入数字会有延迟，并不能跟UI库demo中效果保持一致
## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：ios
- **Node 版本**：14.x
- **NutUI 版本**： @nutui/nutui@3.x.x
- **Vue 版本**：vue3.x
- **引用方式**：NPM

[2022-03-11 01:40] richard1015 commented on #1087
nut-tabs  @click 目前已经将你 选中项的 {title,paneKey,disabled}  返回了 我理解的你通过panekey完全可以想去加载指定的内容啊， 你那种是什么场景呢

[2022-03-11 03:18] wangyongxiong commented on #1087
感谢，一开始我没测试到这个回调参数

[2022-03-11 04:46] beijibeijing opened #1092 "[bug] cell组件icon和title、sub-title一起使用会影响title、sub-title的样式"
## 问题描述
cell只用title和sub-title，不用icon时，只有.nut-cell__title起作用
[code]

cell只用title、sub-title、icon同时使用时多了一个nut-cell__title.icon
[code]
而nut-cell__title中属性被覆盖掉
    ~~-ms-flex-direction: column;~~
    ~~flex-direction: column;~~

## 预期的行为和实际行为
期望cell里title、sub-title、icon同时使用时，title和sub-title还是上下两行，实际上成一行了。

## 相关环境信息
- **Taro 版本**： @tarojs/cli@npm:3.4.1
- **NutUI 版本**： @nutui/nutui-taro@npm:3.1.16
- **V

[2022-03-11 07:16] visionsky1986 commented on #1082
同样有这个需求～

[2022-03-11 07:33] richard1015 commented on #1089
感谢反馈 ：）

beta 前两天刚修复了cdn 中 router的报错bug，暂时可以先使用 beta， 此版本 月底会发布

[2022-03-11 07:33] #1087 closed, assigned to richard1015

[2022-03-11 07:34] richard1015 commented on #1043
types 类型引导近期会优化 @

[2022-03-11 07:41] wy1037 commented on #1089
[Bug]  &nbsp;beta&nbsp;
文档：Menu&nbsp;&nbsp;菜单组件\基础用法
<template&gt;   <nut-menu&gt;     <nut-menu-item v-model="state.value1" :options="state.options1" /&gt;     <nut-menu-item v-model="state.value2" @change="handleChange" :options="state.options2" /&gt;   </nut-menu&gt; </template&gt;

只能显示 state.options1   state.options2 的显示不了。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.**

[2022-03-11 08:45] fengchunsun2016 opened #1094 "[suggest] 希望searchbar组件增加类似placeholderStyle属性，可以自定义placeholder样式"
## 你建议我们做什么？
希望searchbar组件增加类似placeholderStyle属性，可以自定义placeholder样式

现在...

searchbar不支持自定义输入框的placeholder字体的颜色和大小

如果你能..
支持自定义输入框的placeholder字体的颜色和大小

它将使...
我会更加的爱你们

## 其它
么么哒
无

[2022-03-11 09:03] #1094 closed, assigned to nobody

[2022-03-11 09:04] fengchunsun2016 commented on #1094
已解决

[2022-03-12 07:44] agileago commented on #1043
@richard1015 至少现在生成的类型文件上加上 `$props: any` 吧， 这样 `tsx` 不会报错

[2022-03-12 09:37] shijunti19 commented on #1041
这个还没解决吗！！挺坑的

[2022-03-13 04:35] hhch commented on #1092
<img width="1258" alt="image" src="https://user-images.githubusercontent.com/21006441/158045225-25145613-577c-4a23-8d07-aa418dfa7bd2.png">
3.1.17版我也遇到了

[2022-03-14 04:04] #1086 closed, assigned to nobody

[2022-03-14 04:12] wangyongxiong opened #1095 "‘Elevator 电梯楼层’组件，关于点击高亮显示"
![image](https://user-images.githubusercontent.com/40783535/158103181-32e19380-9285-413b-b18a-34f4fe6b6612.png)
复制代码测试，点击后没有高亮颜色显示
![image](https://user-images.githubusercontent.com/40783535/158103240-fa960704-c4e4-4be7-82c4-156fab1b8f1c.png)

在线平台调试，查看源码显示有附加class，但是复制代码测试并没有显示（3.1.17版本，已更新）
![image](https://user-images.githubusercontent.com/40783535/158103444-3e859a13-85c2-43d9-beea-4909cb94f4d4

[2022-03-14 09:12] biaomingzhong opened #1096 "【bug】Taro H5 上传失败"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@nutui/nutui-taro@3.1.17` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-03-14 09:14] szg2008 commented on #1095
安装最新的v3.1.17了吗

[2022-03-14 09:16] wangyongxiong commented on #1095
![image](https://user-images.githubusercontent.com/40783535/158141581-c7bfa17c-220b-4156-b3bb-1e144b4aeb22.png)
我是3月4号更新到3.1.17版本的

[2022-03-14 09:34] wangyongxiong commented on #1095
![image](https://user-images.githubusercontent.com/40783535/158144728-85875fa4-d8e7-45df-84b5-a71ff424c7f8.png)
我刚刚重新安装了一下（npm i @nutui/nutui@next），这样算是安装成功了么

[2022-03-15 06:57] szg2008 commented on #1095
npm i @nutui/nutui,这样安装，先把lock文件删一下，然后看一下安装之后的版本是否正确

[2022-03-15 07:58] wangyongxiong commented on #1095
我的是vue3项目，重新装，好像还是只能安装3.1.16版本（npm i @nutui/nutui@next）
![image](https://user-images.githubusercontent.com/40783535/158331898-2a8ec4f4-9b7c-491e-8f1e-27611d1075b3.png)

[2022-03-15 08:37] easykoala opened #1098 "<nut-infiniteloading 和 <nut-card 商品卡片组合使用影响样式"
<nut-infiniteloading 和 <nut-card 商品卡片组合使用影响样式，
                            <template #prolist>
                                <div class="search_prolist_attr">
                                    <span class="word">活鲜</span>
                                    <span class="word">礼盒</span>
                                    <span class="word">国产</span>
                                </div>

[2022-03-15 09:00] lianjie5664 opened #1099 "[bug] datepicker组件报出很多[Vue warn]，导致组件使用很卡。"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为
在微信小程序中引用官网dataPicker组件，控制台报出很多[Vue Warn]，导致使用该组件很卡。我以为是我本地环境问题，后来在官方文档的codesandBOX中查看示例，浏览器控制台同样报出很多[Vue Warn]

## 复现步骤，具体代码
@gp5251 @loveky @snandy @beanlee @senyawang 您可以打开官方文档定位到dataPicker组件，然后使用codesandbox运行查看控制台，报出了一些错误。

## 相关环境信息
- **操作系统**：win11
- **Node 版本**：16.13.2
- **NutUI 版本**： @nutui/nutui@3.1.17
- **Vue 版本**：3.x
- **引用方式**：  NPM

[2022-03-16 01:28] easykoala commented on #1098
demo里面的写法
<style lang="scss">
.search_prolist_attr {
  margin: 3px 0 1px;
  height: 15px;
  overflow: hidden;

    float: left;
    padding: 0 5px;
    border-radius: 1px;
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    color: #999;
    background-color: #f2f2f7;
    margin-right: 5px;
  }
}

将其改为一下写法就正常了：
.search_prolist_attr {
    margin: 3px 0 1px;
    height: 15px;
    overfl

[2022-03-16 01:28] #1098 closed, assigned to nobody

[2022-03-16 04:43] beijibeijing opened #1100 "[suggest]Calendar组件能否增加插槽自定义calendar-month-day下的内容"
## 你建议我们做什么？

现在Calendar组件有day、topInfo、bottomInfo插槽，想自定义特殊期日期下calendar-month-day
的背景色还不容易，通过day插槽只能改日期calendar-day那一小块的颜色。

[2022-03-16 08:30] richard1015 commented on #1100
https://nutui.jd.com/theme/#/calendar
打开这个自行配置一下试试看，是否能满足背景颜色

[2022-03-16 08:32] richard1015 opened #1101 "textarea 支持 autoheight 自动撑开功能[suggest]"
## 你建议我们做什么？

现在...

如果你能...

它将使...

## 其它

无

[2022-03-16 09:34] ibycchen opened #1102 "[question]Nutui在微信小程序的运行状态有些卡顿"
## Nutui在微信小程序的运行状态有些卡顿

你好，我在使用Nutui生成微信小程序的时候，操作起来感觉不流畅，比如说Tab的切换时；单选、复选勾选时；Picker弹出时等等，都存在不流畅的情况，甚至有时动画都存在延迟，特别是第一次加载组件。

请专家指出我的使用不足之处或者需要调整的方向，谢谢！

## 环境
    "vue": "^3.2.31",
    "@babel/runtime": "^7.17.7",
    "@nutui/nutui-taro": "^3.1.17",
    "@tarojs/components": "3.4.3",
    "@tarojs/plugin-framework-vue3": "3.4.3",
    "@tarojs/plugin-html": "3.4.3",
    "@tarojs/runtime": "3.4.3",

[2022-03-17 01:44] beijibeijing commented on #1100
只有$calendar-primary-color能改变背景色，但这个起作用的选中的日期，未选中的没找到能改的属性

[2022-03-17 03:38] LuEdision opened #1104 "noticebar本地最新版本与官方最新版本有差异"
## 问题描述
开发中对比了一下本地与官网的noticebar的渲染，样式上有些差异，或者说这个组件在动画设置上不一样。
![本地下载最新的版本](https://user-images.githubusercontent.com/63531046/158731693-5c04050e-fde5-4646-ab6f-8497dc91f66a.png)
![官方最新版本](https://user-images.githubusercontent.com/63531046/158731705-333e435b-d33e-47f8-996c-6a6cbe38af7b.png)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：win11 x64
- **Node 版本**：14.x.x以上
- **NutUI 版本**

[2022-03-17 06:06] LuEdision opened #1105 "noticebar必须内容溢出才能滚动，不管设不设置scrollable"
## 问题描述
noticebar必须内容溢出才能滚动，不管设不设置scrollable
![uhmefw39tC](https://user-images.githubusercontent.com/63531046/158747202-1a6a2978-e5bf-4f6c-8afa-6912f915fe2b.png)
问题红色标注可看出

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：14.x.x
- **NutUI 版本**： @nutui/nutui@3.1.17
- **Vue 版本**：vue3.x.x
- **引用方式**： yarn npm

[2022-03-17 08:58] richard1015 commented on #1104
该组件近期刚刚优化，3.1.18  3月25日发布

[2022-03-18 05:45] kevinhwu opened #1109 "[bug]Swiper 轮播，当只有一张图时，高度超出css设置的值"
## 问题描述

Swiper 轮播，当只有一张图时，高度超出css设置的值(与多张图时的高度不同)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：
- **Node 版本**：14.x.x
- **NutUI 版本**：  @nutui/nutui@3.1.17
- **Vue 版本**：vue3.x.x
- **引用方式**：  NPM

[2022-03-18 06:40] 307god commented on #627
Module not found: Can't resolve '@nutui/nutui-taro/dist/packages/_es/Sticky'

[2022-03-18 07:00] 307god commented on #627
https://unpkg.com/browse/@nutui/nutui-taro@3.1.17/dist/packages/_es/ 没有sticky

[2022-03-18 07:41] #1102 closed, assigned to nobody

[2022-03-18 08:16] kevinhwu opened #1110 "[question] Swiper 轮播 支持高度自动吗？实现图片宽度100%， 高度auto，保持图片比例的效果。"
## 你想知道什么？

你好，我想知道这个项目是否可以...

## 描述你考虑过的替代方案

使用了一个奇怪的方法，竟然可以达到这个高度自动的效果：
1. Swiper的height随便设置一个string,
2. .nut-swiper-item img的css width设置为width:100%;

[code]

我想...

## 其它

无

[2022-03-19 06:38] sibada228 opened #1111 "[question]请问nutui控件如何切换成英文版,是否是所有的控件都支持英文版"
import enUS from '@nutui/nutui/dist/locales/lang/en-US'
createApp(App).use(store).use(router).use(NutUI, {
  locale: 'en-US',
  lang: enUS
}).mount('#app')

命令：
npm install --save @nutui/nutui/dist/locales/lang/en-US

找不到对应的语言包

帮忙看下

[2022-03-19 07:47] richard1015 commented on #1111
3.0 当前所有组件不支持国际化， 国际化计划在Q2Q3完成

[2022-03-19 10:11] sibada228 commented on #1111
感谢回信,国际化哪个版本支持？？

[2022-03-19 10:34] richard1015 commented on #1111
目前nutui 2.x 版本是支持国际化的 https://nutui.jd.com/2x/#/index

[2022-03-19 15:10] caoruiy opened #1114 "[bug] picker显示时样式错位，列表数据显示重叠"
## 问题描述
在预览官方的NutUI小程序Picker功能时，进入Picker页面，选择“多列样式”，弹出星期选择Picker，样式显示重叠。
在本机项目中，同样出现该现象。
![24d4ed71fd840cd656e6f21f9583ad0](https://user-images.githubusercontent.com/13867478/159126135-b29531e6-8933-459b-9d50-97669a5901e6.jpg)

产生该现象的原因是在滚动列表数据时，nut-picker-list-panel类每滚动一次设置的`transform: translate3d`偏移高度为36px，和`nut-picker-content`类设置的高度39px不一致，导致滚动时偏移越来越大
![微信图片_20220319232706](https://user-images.

[2022-03-20 08:01] kevinhwu opened #1115 "[bug]Swiper轮播组件，当动态指定轮播图片时，页码错误"
## 问题描述
Swiper轮播组件，当动态指定轮播图片时，页码错误。
例如，当轮播图片，从4张减少到2账号时，轮播页面仍然显示为4张，轮播时，后2张显示为空白图片。

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：
- **Node 版本**：14.x.x
- **NutUI 版本**： @nutui/nutui@3.1.17
- **Vue 版本**：vue3.x.x
- **引用方式**：  NPM

[2022-03-20 13:52] CoderBCat opened #1116 "[bug] nut-calendar 在窗口打开的情况下滑动日历会报以下警告"
runtime-core.esm-bundler.js:38 [Vue warn]: Failed to resolve component: scroll-view
If this is a native custom element, make sure to exclude it from component resolution via compilerOptions.isCustomElement.
  at <NutCalendarItem key=0 ref="calendarRef" type="range"  ... >
  at <BaseTransition onAfterEnter=fn<onOpened> onAfterLeave=fn<onClosed> appear=false  ... >
  at <Transition name="popup-slide

[2022-03-21 07:14] AsherSun opened #1117 "[bug]Step组件3.1.17版本的npm源码与GitHub源码不一致"
## 问题描述

npm中的3.1.17版本中的`step`组件，`v-slot:title` 和`v-slot:content` 不能使用。
以下为3.1.17版本中step的npm源码：
[code]
从标红的信息来看，`_ctx.title` 和 `_ctx.content` 都是直接使用的。没有用`_ctx.$slots.title` 和 `_ctx.$slots.content` 做判断

**从github项目来查看，是有使用slot来判断。应该是未发版导致的？**

## 最小可复现仓库

## 预期的行为和实际行为
`slot`可以使用

## 复现步骤，具体代码
下载`@nutui/nutui-taro@3.1.17`。使用`step`

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2

[2022-03-21 08:50] szg2008 commented on #1117
本周发布之后就可以使用了

[2022-03-21 08:51] AsherSun commented on #1117
好的👌

[2022-03-21 08:57] szg2008 commented on #1095
lock文件和node_modules都删一下，重新安装

[2022-03-21 09:00] richard1015 commented on #1089
menu cdn 辛苦提供一下复现代码

[2022-03-21 09:09] richard1015 commented on #1041
nutui-taro 启动h5 模式吗 @shijunti19 @bigpigOne

具体版本提供一下

[2022-03-21 09:41] lkjh3214 commented on #1116
请问是在转换为微信小程序还是h5时出现的报错

[2022-03-21 11:16] #1095 closed, assigned to szg2008

[2022-03-21 12:45] richard1015 commented on #1038
已修复  等待3.1.18 发布

[2022-03-21 12:46] #639 closed, assigned to richard1015, Drjingfubo

[2022-03-21 12:51] richard1015 commented on #1042
由于内部查询节点机制为 form-item 和 form 必须为父子关系，抱歉您这种方式暂时无法支持

https://github.com/jdf2e/nutui/blob/next/src/packages/__VUE/form/common.ts#L37

[2022-03-21 12:51] #1042 closed, assigned to richard1015

[2022-03-21 12:53] richard1015 commented on #1067
size 默认px , 可以直接传入rem 比如

``` <nut-icon name="minus" color="#ffffff" size="12rem"></nut-icon>```

[2022-03-21 12:53] #1067 closed, assigned to richard1015

[2022-03-21 13:02] richard1015 commented on #1053
nutui 3.1.16 ? nutui-taro 3.1.16   哪个版本

[2022-03-21 13:26] richard1015 commented on #1100
$calendar-disable-color   未选中的用这个

[2022-03-21 13:28] richard1015 commented on #1045
已修复 #1053

[2022-03-21 14:37] hhch opened #1118 "[question]Unknown html tag nut-form-item，并且IDE中没有自动补全功能"
<img width="556" alt="image" src="https://user-images.githubusercontent.com/21006441/159283696-06197171-b604-44cc-9230-5905fa1df5f9.png">
你好，我用的是 idea，跟WebStorm同一家的，怎么才能不出现这种Unknown html tag nut-form-item 警告，这不是主要的，主要的是没法快捷键进入这些组件，也没有自动补全提示

我想知道可以怎么配置...

## 描述你考虑过的替代方案

我试过了如下的方式不行
<img width="916" alt="image" src="https://user-images.githubusercontent.com/21006441/159284434-a3e6df0b-eb0a-45cd-8

[2022-03-21 15:02] #1118 closed, assigned to nobody

[2022-03-21 15:04] hhch commented on #646
既然开发哥哥忙，只能小顶一下了

[2022-03-22 01:45] wangrongding opened #1119 "[bug]重复更新CountDown组件的ent-time属性值后，在源码中看到由于旧的定时器没有被清空，导致组件更新冲突。"
## 问题描述

countDown 组件更新 ent-time 属性的值后，旧的定时器没有被清空，导致组件更新冲突。

## 最小可复现仓库

codesandbox：
https://codesandbox.io/s/zpfbfn?file=/src/App.vue

## 预期的行为和实际行为

预期行为：
重复更新 ent-time 后，组件可以正常更新倒计时的值。

实际行为：
重复更新 ent-time 后，组件更新倒计时冲突 。

## 复现步骤，具体代码

点击链接中的按钮，即可看到问题。
codesandbox：
https://codesandbox.io/s/zpfbfn?file=/src/App.vue

## 相关环境信息

- **操作系统**：windows10
- **Node 版本**：v16.13.0
- **NutUI 版本**： @nutui/nu

[2022-03-22 01:50] zhengchenghui commented on #532
v3.1.17    Uploader上传组件，还是不能直接点击图片放大预览，需搭配ImagePreview才行

[2022-03-22 01:59] wangrongding commented on #1119
I fix the problem， hope can be merged~🥰

[2022-03-22 07:30] CoderBCat opened #1122 "[suggest] Taro 场景下 NutUI 默认设计尺寸是375，项目里设计稿用的 750 怎么办"
Taro3.4.3版本之前: 解决方案
[code]

Taro3.4.3版本：解决方案
[code]
Taro3.4.3 具体变更内容可查看
https://github.com/NervJS/taro/tree/next/packages/postcss-pxtransform

现在正式Taro3.4.3已经发布，希望能补充文档到官网文档中去。

[2022-03-22 08:21] beijibeijing commented on #1100
嗯，$calendar-disable-color是改变未选中的字体颜色，我是想改变整个方块区域的颜色，不知道有办法么。$calendar-primary-color就是把选中的整个区域颜色都改变了。

[2022-03-22 11:25] wangyongxiong opened #1127 "‘Tabs 选项卡切换’组件，在数量多的情况下，能否点击后自动居中"
## 你建议我们做什么？
在“Tabs 选项卡切换”组件中，在数量多的情况下，点击后的tab自动居中
![image](https://user-images.githubusercontent.com/40783535/159471298-bb60d7e3-8f4e-4ae9-9ab4-6ac0c8ed615a.png)

[2022-03-22 11:53] richard1015 commented on #1122
感谢反馈，我们更新一下

[2022-03-23 01:27] lkjh3214 commented on #1100
插槽分的比较零散是为了限制单个日期中的元素数量。因为小程序中，初始化加载dom元素过多会导致有明显卡顿，如果只是改变颜色的话。可以自己根据class设置样式。
单个月日期部分容器： "calendar-month-con"
单个日期容器："calendar-month-day"

[2022-03-23 01:33] richard1015 commented on #1085
感谢反馈，我们近期加一下

[2022-03-23 04:47] liuhp opened #1135 "[bug]Tabs主题定制的自定义变量$tabs-titles-item-active-color不生效"
## 问题描述

Tabs主题定制中同时自定义$tabs-titles-item-color和$tabs-titles-item-active-color时，$tabs-titles-item-color定义的变量生效而$tabs-titles-item-active-color没有生效。

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
在工程样式文件中自定义如下变量
[code]

启动工程会发现$tabs-titles-item-color的颜色是自己设置的，而$tabs-titles-item-active-color依然是nuiUI默认的颜色；

## 相关环境信息
- **操作系统**：macos
- **Node 版本**：v12.13.1
- **NutUI 版本**： @nutui/nutui-taro": "^3.1.17"
- **Vu

[2022-03-23 04:48] richard1015 commented on #1135
由于变量是上周刚刚提取，本周五发版后 更新3.1.18就正常了

[2022-03-23 08:53] wangrongding opened #1138 "[bug]progress组件，设置属性 stroke-width，内显的元素位置出现问题"
## 问题描述

在👉 [官方仓库源码DEMO 43行](https://github.com/jdf2e/nutui/blob/next/src/packages/__VUE/progress/demo.vue#L43) 中添加属性 stroke-width="55" ，可以看到，内显的元素位置出现问题

![image](https://user-images.githubusercontent.com/42437658/159659349-3e4aa0a3-110c-43fc-a8b7-d2e8abe0f0b4.png)

![image](https://user-images.githubusercontent.com/42437658/159660104-b753ccd7-dfda-4fb6-8e0c-afb9930dd09d.png)

[2022-03-23 12:08] moonRider opened #1140 "[suggest] 不要对参数执行 reactive 操作，否则会丢失掉用户的代理属性"
## Addrees 组件转换用户参数时丢失了用户的代理属性

address 组件中的 regionList 在定义时使用了 reactive 函数（vue 会深度遍历里面的属性，更改为 proxy）。
如果用户提供的参数比如 props.province 本身就已经是 proxy 时，且该 proxy 内定义了一个计算属性 `id: (target) => target.row.uuid`，reactive 遍历时无法遍历到 id 这个属性 ，因此 reactive 函数执行后，regionList 中的 province 数据将不能访问到 id。 从而导致用户传入的参数和选择结果的数据在访问时会出现差异。

如果你能用 shallowReactive 去构造 regionList

它将保证组件输入的数据和选择结果输出的数据的一致性

## 其它
现有场景
[code]

[2022-03-23 18:06] wangrongding opened #1142 "[suggestion]progress组件目前不支持自定义内显文本的背景色"
## 你建议我们做什么？

progress组件目前不支持自定义内显文本的背景色
不管设置stroke-color为什么颜色,元素nut-progress-insidetext始终是默认的#fa2c19颜色

![image](https://user-images.githubusercontent.com/42437658/159766557-271132ba-1054-40b6-8aa7-27c56d866f1f.png)

[2022-03-24 07:29] aehyok commented on #1081
@LuEdision  太难了，在包警告

[2022-03-24 09:55] #1101 closed, assigned to Ymm0008

[2022-03-25 03:21] #1117 closed, assigned to szg2008

[2022-03-25 03:24] #1111 closed, assigned to richard1015

[2022-03-25 08:12] richard1015 commented on #1092
v3.1.18 已发布

[2022-03-25 08:12] #1092 closed, assigned to richard1015

[2022-03-25 08:13] richard1015 commented on #1135
v3.1.18 已发布

[2022-03-25 08:13] #1135 closed, assigned to richard1015

[2022-03-25 08:13] richard1015 commented on #1089
v3.1.18 已发布

[2022-03-25 08:13] #1089 closed, assigned to richard1015

[2022-03-25 08:13] richard1015 commented on #1053
v3.1.18 已发布

[2022-03-25 08:13] #1053 closed, assigned to richard1015

[2022-03-25 08:13] richard1015 commented on #1038
v3.1.18 已发布

[2022-03-25 08:13] #1038 closed, assigned to richard1015

[2022-03-25 08:13] richard1015 commented on #1041
v3.1.18 已发布

[2022-03-25 08:13] #1041 closed, assigned to richard1015

[2022-03-25 08:14] richard1015 commented on #1045
v3.1.18 已发布

[2022-03-25 08:14] #1045 closed, assigned to richard1015

[2022-03-25 08:14] richard1015 commented on #1070
v3.1.18 已发布

[2022-03-25 08:14] #1070 closed, assigned to richard1015

[2022-03-25 08:15] #1122 closed, assigned to richard1015

[2022-03-25 08:22] wy1037 commented on #1089
好的

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年3月25日(星期五) 下午4:13
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [jdf2e/nutui] [bug] 文档有问题： 快速上手\CDN 安装使用示例\引入NutUI组件库  的js 不能运行。 (Issue #1089)

v3.1.18 已发布

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message I

[2022-03-25 08:27] wy1037 commented on #1089
文档的 cdn 文件：

***@***.******@***.***/dist/nutui.umd.js

仍然是&nbsp;&nbsp;v3.1.16

[2022-03-25 09:43] yanbowe opened #1150 "[suggest] 提供一个ConfigProvider 全局配置组件定制主题和深色模式"
## 你建议我们做什么？
组件定制主题

现在主题定制还是不太灵活，只能全局修改，并且如果是动态主题的话不太好处理。
能否像vant的[ConfigProvider](https://vant-contrib.gitee.io/vant/v4/#/zh-CN/config-provider)组件一样提供局部定制主题的功能。
增加深色以及动态主题

## 其它

无

[2022-03-25 12:01] wangyongxiong opened #1151 "“Elevator 电梯楼层”组件，有这样一种情况，有bug"
## 你想知道什么？
“Elevator 电梯楼层”组件，有这样一种情况，在城市列表中，有热门城市一项；
一个城市的id固定，但是它又是热门城市，造成点击后会出现两个高亮色。

![image](https://user-images.githubusercontent.com/40783535/160117032-8be7b4a1-d3f7-485d-a6af-63c3cd24424f.png)

[2022-03-28 01:46] #1142 closed, assigned to Drjingfubo

[2022-03-28 01:46] #1138 closed, assigned to Drjingfubo

[2022-03-28 01:47] #1119 closed, assigned to yangxiaolu1993

[2022-03-28 01:48] #1109 closed, assigned to szg2008

[2022-03-28 01:50] #1081 closed, assigned to yangxiaolu1993

[2022-03-28 01:51] #1105 closed, assigned to yangxiaolu1993

[2022-03-28 01:51] #1104 closed, assigned to yangxiaolu1993

[2022-03-28 01:53] #1100 closed, assigned to nobody

[2022-03-28 01:55] #1039 closed, assigned to yangxiaolu1993

[2022-03-28 01:56] #1071 closed, assigned to ailululu

[2022-03-28 01:58] #1031 closed, assigned to yangxiaolu1993

[2022-03-28 02:02] #1060 closed, assigned to ailululu

[2022-03-28 02:03] #982 closed, assigned to yangxiaolu1993

[2022-03-28 02:09] #1050 closed, assigned to yangxiaolu1993

[2022-03-28 02:09] #1099 closed, assigned to nobody

[2022-03-28 02:09] #1011 closed, assigned to yangxiaolu1993

[2022-03-28 08:01] Laggar opened #1153 "在线示例demo源码在哪"

[2022-03-29 00:14] zhangjing007 opened #1154 "获取tabbar实际高度"
## 你想知道什么？
顶部菜单固定不动，底部导航固定不动，中间内容区是可以滚动的，这个时候，我怎么获取tabbar的实际高度从而计算中间区域的高度，以方便我设置滚动区域的最大高度呢？

[2022-03-29 02:44] richard1015 commented on #1153
https://github.com/jdf2e/nutui/tree/next/src/sites

mobile h5
mobile-taro 小程序

[2022-03-29 02:44] #1153 closed, assigned to nobody

[2022-03-29 02:50] szg2008 commented on #1151
这个建议重新定义一下热门城市的id来处理吧

[2022-03-29 02:52] #85 closed

[2022-03-29 03:38] wangyongxiong commented on #1151
一个城市不可能去定义两个id的。不能通过key和id去判断处理么

[2022-03-29 07:59] westfruit opened #1155 "[bug] Swiper组件有点问题，数据是动态加载的，加载之后在第一次轮播转换之前界面不会显示"
## 问题描述

 Swiper组件有点问题，数据是动态加载的，加载之后在第一次轮播转换之前界面不会显示

## 最小可复现仓库

## 预期的行为和实际行为
预期数据动态挂载后轮播图片应该相应改变

## 复现步骤，具体代码

    <div class="banner">
      <nut-swiper
                  :init-page="2"
                  :pagination-visible="true"
                  pagination-color="#426543"
                  :auto-play="bannerAutoPlay">
        <nut-swiper-item v-for="bannerItem in banners"

[2022-03-29 10:48] 2508779859 opened #1157 "[question]NutUI示例中，微信端音频和视频页无法打开"
你好，NutUI示例中，微信小程序，音频播放器和视频播放器 跳转页面无法打开，为什么
![Snipaste_2022-03-29_18-57-25](https://user-images.githubusercontent.com/76721653/160596814-48bb8b5e-9d63-46b4-9c03-fe429cc41dd9.png)
？

[2022-03-30 07:30] Xiaoyuner opened #1160 "uploader组件的接口请求方式，method设置为get不生效，请求方式还是post"
## 问题描述
uploader组件的接口请求方式，method设置为get不生效，请求方式还是post

## 预期的行为和实际行为
预期结果： 接口请求 request method 为 get

实际结果：
![image](https://user-images.githubusercontent.com/21262689/160775832-a1fb9fd6-273d-4d9d-9ae4-a5080962f228.png)

`         <nut-uploader
                v-model:file-list="uplodFileList"
                method="get"
                :url="baseUrl + '/xxxx/query/v1'"
                :headers="g

[2022-03-30 10:57] yurenzhen commented on #1157
是的, 我今天也发现了, 小程序里面的音频和视频播放器都用不了,  公众号里面的是好的

[2022-03-30 13:17] zbcms opened #1162 "[bug] input组件 在textarea类型下报错 maxLength未定义，需要增加 maxLength props"
input组件 在textarea类型下报错 maxLength未定义，需要增加 maxLength props
maxLength: {
type: [String, Number],
default: ''
},

[2022-03-31 07:48] Sun79 opened #1164 "[bug]@nutui/nutui-taro h5 Elevator组件无法解析scroll-view组件"
## 问题描述

Elevator组件打包后将scroll-view标签编译为下面的代码
![image](https://user-images.githubusercontent.com/17243584/161003413-ebbad2ee-9747-4b68-974f-21a728ae9258.png)
而@tarojs/components在h5端将scroll-view注册为名为taro-scroll-view的组件，导致在h5端无法找到scroll-view组件。
![image](https://user-images.githubusercontent.com/17243584/161003997-39f9fd3e-cdcc-41d1-a195-75b58f0adf64.png)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相

[2022-03-31 14:24] champion0122 commented on #957
[code]
nutui-taro版本3.1.18. taro版本3.4.4
使用 InfiniteLoading出现该问题

[2022-03-31 14:26] champion0122 commented on #551
貌似还是没有解决呀
nutui-taro版本3.1.18. taro版本3.4.4
使用 InfiniteLoading出现该问题

[2022-04-01 03:14] wubiandaxian opened #1166 "[question]nutui-taro有用tsx重构或者支持ts类型的计划么？"
## 你想知道什么？

nutui-taro有用tsx重构或者支持ts类型的计划么？
现在vue3项目大多都基于ts开发了，目前组件库没有类型，开发的时候比较痛苦。
并且一些组件还是比较缺乏solts的支持，像Elevator这种组件，开发者不能自定义展示内容，使用起来感觉比较受限。

## 其它
使用过程中，总感觉还有很重的vue2的影子在里面，感觉怪怪的……

[2022-04-01 06:33] Drjingfubo commented on #1154
使用ref或者document.querySelector()等

[2022-04-01 07:47] richard1015 commented on #1160
经测试，发现无误
测试代码  https://github.com/jdf2e/nutui-demo/commit/1fe49b778c281dd50bc6d45155ed9b91956dbb0b

[2022-04-01 07:47] #1160 closed, assigned to nobody

[2022-04-01 09:39] #1154 closed, assigned to Drjingfubo

[2022-04-01 09:46] #510 closed, assigned to richard1015

[2022-04-01 09:50] richard1015 commented on #988
https://nutui.jd.com/#/navbar

[2022-04-01 09:50] #988 closed, assigned to nobody

[2022-04-01 09:51] richard1015 commented on #867
3.1.18已修复

[2022-04-01 09:51] #867 closed, assigned to nobody

[2022-04-01 09:53] richard1015 commented on #1012
https://nutui.jd.com/#/dialog  非小程序模式支持全局调用

[2022-04-01 09:53] #1012 closed, assigned to nobody

[2022-04-01 09:56] #655 closed, assigned to nobody

[2022-04-01 09:57] #332 closed

[2022-04-01 10:33] SpringHgui opened #1169 "[bug] 按需引入nutui，组件渲染一个神奇的现象"
## 问题描述
nutui组件不渲染

## 最小可复现仓库
https://github.com/SpringHgui/nutui-bug

## 复现步骤，具体代码

### 1.按需引入方式配置，执行`dev:weapp`，组件不渲染，效果如下
![image](https://user-images.githubusercontent.com/22363718/161245407-f7df29ef-8ad5-4a94-a684-6b15be1cd22f.png)

### 2.仅仅在页面增加一个button组件，nutui的按钮居然显示了，注释原生
![image](https://user-images.githubusercontent.com/22363718/161245764-96402bb4-2656-418e-a994-b22e7a99249c.png)
### 3.

[2022-04-02 02:44] wbsss opened #1170 "input组件怎么使用插槽，插入发送验证码按钮的？"
## 你想知道什么？

你好，我想知道这个项目是否可以...

## 描述你考虑过的替代方案

我想...

## 其它

无

[2022-04-02 03:47] wubiandaxian opened #1171 "[bug]nutui-taro中List组件在H5下渲染出错"
## 问题描述

nutui-taro中List组件在H5下渲染出错，H5中滚动事件没有e.detail

## 最小可复现仓库
无

## 预期的行为和实际行为
List组件正常渲染

## 复现步骤，具体代码
组件事件源码：
[code]

## 相关环境信息
- **操作系统**：win10
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@3.1.18
- **Vue 版本**：3.2.31
- **引用方式**：   NPM

[2022-04-02 06:35] wubiandaxian commented on #1171
另外，在微信小程序里会warn： [Vue warn]: Failed to resolve component: scroll-view。
tsx开发时，如下代码，每次滚动，打印的index一直是0,1,2,3,4这种，并不是数组数据的真实索引，那我如何知道列表已经滚动到了底部？
[code]

[2022-04-02 07:59] eriklu opened #1172 "[question]vue3 taro weapp picker组件如何设置让背景不滚动？"
## 你想知道什么？

你好，我想知道这个项目是否可以...
在vue3 taro中开发微信小程序，使用picker或datepicker 滑动屏幕时，背景没有锁定。

"name": "@nutui/nutui-taro",
  "version": "3.1.18",

## 描述你考虑过的替代方案
已设置lock-scroll和@touchmove.prevent
但在微信小程序下滑动选择日期时，背景仍滑动。ios15
[code]

我想...

## 其它

无

[2022-04-02 09:47] wubiandaxian commented on #1049
@richard1015 不是在render里调用了slot，而是在setup里，就触发这个warning，微信小程序可复现

[2022-04-04 07:17] Hsinry commented on #1171
在微信小程序中使用InfiniteLoading组件，也出现了warn： [Vue warn]: Failed to resolve component: scroll-view。

[2022-04-05 06:09] Hsinry opened #1177 "[bug] Taro3微信小程序InfiniteLoading组件出现告警"
## 问题描述

Taro开发微信小程序时，使用InfiniteLoading组件时出现告警：`[Vue warn]: Failed to resolve component: scroll-view`，使用小程序组件库示例Demo发现存在同样的问题。
[code]
## 最小可复现仓库
[组件库示例Demo](https://github.com/jdf2e/nutui-demo/tree/master/taro)

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：Windows10专业版
- **Node 版本**：16.9.0
- **NutUI 版本**： @nutui/nutui-taro@3.1.18
- **Vue 版本**：3.2.31
- **引用方式**：  NPM

[2022-04-05 07:21] tqn911024 opened #1178 "[suggest] 希望Swiper 轮播图新增一个3D模式"
一直用的nutui，但是因为目前多个项目需求 轮播图 有3d模式。类似于两边可以显示出上一张图和下一张图的 左边和右边一点。然后中间图比两边大一点那种，而目前的Swiper 无法做到。希望可以新增这个功能

[2022-04-05 16:08] Q-J-Brilliant opened #1179 "[bug] nut-datepicker选择完日期后点击确定不关闭弹窗蒙板消失"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
![image](https://user-images.githubusercontent.com/101537665/161797615-c9286d84-4a24-4885-adf2-f73d29323552.png)
![image](https://user-images.githubusercontent.com/101537665/161798047-eeb7a31f-2d8b-423e-922a-8748c8ad5758.png)

## 相关环境信息
- **操作系统**：windows11
- **Node 版本**：v16.13.0
- **NutUI 版本**： @nutui/nutui-taro@3.1.18
- **Vue 版本**：3.2.31
- **引用方式*

[2022-04-06 06:42] Q-J-Brilliant opened #1180 "[bug] datepicker选择日期最后一天选择小时没有出现"
## 问题描述

![image](https://user-images.githubusercontent.com/101537665/161911585-22365859-71f6-4187-8cd3-d89849e8439d.png)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-04-06 07:08] holyrong commented on #588
3.1.18版本，还是不能选择月份

[2022-04-06 11:50] rainy-cc opened #1183 "[bug] NavBar 左右插槽不生效问题"
## 问题描述
Navbar组件左右插槽不能正常渲染
<img width="468" alt="WeChat0d65db49c20dc33ac897f181f4a37302" src="https://user-images.githubusercontent.com/22319417/161968445-261d8212-71e4-4660-9d63-9e596b87bcd0.png">

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：macos
- **Node 版本**：
- **NutUI 版本**： "@nutui/nutui" : "3.1.16"
- **Vue 版本**：3.2.31
- **引用方式**：  NPM

[2022-04-06 12:09] rainy-cc commented on #1183
看了下源码， 3.1.16 并未支持left && right自定义插槽，3.1.18才支持

[2022-04-06 12:09] #1183 closed, assigned to nobody

[2022-04-07 03:04] eriklu commented on #1172
新版本可以给nut-datepicker设置catchMove属性实现。

[2022-04-07 03:04] #1172 closed, assigned to nobody

[2022-04-07 03:05] eriklu commented on #1172
新版本可以给nut-datepicker设置catchMove属性实现。

[2022-04-07 06:35] szg2008 commented on #1171
onScroll 事件是在滚动到底部的时候才会触发。
[Vue warn]: Failed to resolve component: scroll-view在小程序中应该不会报这个错误。在H5中存在这个问题，目前正在解决

[2022-04-07 06:36] szg2008 commented on #1043
目前已经支持ts类型提示，在下一个版本中会修复

[2022-04-07 07:04] wubiandaxian commented on #1171
H5使用的时候，需要手动注册下ScrollView组件： app.component('scroll-view', ScrollView)。
onScroll 事件名，迷惑性很强，文档上注释，迷惑性也很强

[2022-04-07 07:40] holyrong commented on #957
很多组件都有问题：我的环境nutui3.1.18，Taro：3.4.4
DatePicker在year-month模式下，直接就不生效；换成Picker，结果，v-model绑定后，选择第二次后，月份不正确，不绑定就不影响。List组件，根本就加载不了数据，控制台报错：Failed to resolve component: scroll-view
还有很多很多。。。。
@szg2008

[2022-04-07 07:40] holyrong commented on #957
很多组件都有问题：我的环境nutui3.1.18，Taro：3.4.4
DatePicker在year-month模式下，直接就不生效；换成Picker，结果，v-model绑定后，选择第二次后，月份不正确，不绑定就不影响。List组件，根本就加载不了数据，控制台报错：Failed to resolve component: scroll-view
还有很多很多。。。。
@szg2008

[2022-04-07 07:51] holyrong opened #1185 "[bug]DatePicker,Picker,List等控件问题"
## 相关环境信息
- **操作系统**：windows 11
- **Node 版本**：16.4.2
- **NutUI 版本**： @nutui/nutui@3.1.18
- **Vue 版本**：3.2.31
- **引用方式**：  yarn
-
#问题
**1.DatePicker 控件**
type='year-month'时，不是按“年月”形式显示

**2.Picker控件**
打算用Picker控件代替DatePicker选择年月。但设置 v-mode='current'绑定默认值时，出现以下情况：
（1）第一次渲染显示正常，（2）修改一次月份后，再次打开Picker，选中的月份值不是上次选中的值。比如第一次选中2022-04，再打开选择界面时，Picker显示的是：2022-08，关闭Picker再次打开时，变成2022-09，实际情况，current一直是2022-

[2022-04-07 13:38] gezichenshan opened #1186 "[bug] <nut-button>组件在小程序环境下build成 class="h5-button""
## 问题描述

`<nut-button>`组件在小程序环境下build成 `<button class="h5-button">`

## 最小可复现仓库

暂无

## 预期的行为和实际行为
预期：不希望小程序下给button加上“h5-button”的class。
实际：小程序build后给button加上“h5-button”的class。

## 复现步骤，具体代码
一开始`<nut-buuton>`可以正确渲染，并未加上"h5-button"的class。
但我在项目中使用了一次原生的`<button>`后，后面build出的`<button>`标签全部加上了"h5-button"的样式。

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@

[2022-04-07 14:02] gezichenshan commented on #1186
现在看来，所有的原生组件都会被加上h5-tag的class name。但是其他组件h5-tag的样式并没有在最终的app.wxss中生成。除了h5-button:
[code]
而这个样式是我不希望生成的。

[2022-04-07 15:12] suozhao commented on #1177
我记得这个警告会在3.1.18修复啊，怎么还在
![image](https://user-images.githubusercontent.com/12658202/162232422-a50fac7d-9fa9-46bb-a2f4-71bce6d17c4b.png)

[2022-04-07 15:17] gezichenshan commented on #1186
发现原因了，但凡template文件里用了原生标签，比如`<button>`，就会在最终的app.wxss里生成.h5-button的class name。
而且，就算是被注释的`` 也会造成此效果。估计是taro cli在编译时做AST分析时，一旦发现原生标签就会加上原生class，但是忽略了对注释标签的处理。

而且，这个默认（磨人）的处理却没反映在文档里。真害人啊！！（捂脸。）

[2022-04-08 06:48] LuEdision opened #1189 "[bug] nut-infiniteloading当有滚动加载和下拉刷新时，只要触发过滚动加载，然后每次点击子元素，都会触发加载和下拉刷新事件，子元素事件没反应"
## 问题描述
nut-infiniteloading当有滚动加载和下拉刷新时，只要触发过滚动加载，然后每次点击子元素，都会触发加载和下拉刷新事件，子元素事件没反应

![动画](https://user-images.githubusercontent.com/63531046/162379540-04435415-f993-4d9e-a3b9-5ae3ce338cca.gif)

## 最小可复现仓库

<ul class="infiniteUl" id="refreshScroll">
      <nut-infiniteloading
        pull-icon="JD"
        container-id="refreshScroll"
        :use-window="false"
        :is-open-refresh="true"

[2022-04-08 06:48] LuEdision commented on #1189
<ul class="infiniteUl" id="refreshScroll">
      <nut-infiniteloading
        pull-icon="JD"
        container-id="refreshScroll"
        :use-window="false"
        :is-open-refresh="true"
        :has-more="hasMore"
        @load-more="onLoadMore"
        @refresh="onRefresh"

        <li class="infiniteLi" v-for="(item, index) in logList" :key="index">
          {{ getTitle(item) }}
        </l

[2022-04-08 06:49] LuEdision commented on #1189
`<ul class="infiniteUl" id="refreshScroll">
      <nut-infiniteloading
        pull-icon="JD"
        container-id="refreshScroll"
        :use-window="false"
        :is-open-refresh="true"
        :has-more="hasMore"
        @load-more="onLoadMore"
        @refresh="onRefresh"

        <li class="infiniteLi" v-for="(item, index) in logList" :key="index">
          {{ getTitle(item) }}
        </

[2022-04-08 06:49] Ymm0008 commented on #1162
对input组件进行了优化，字段进行了更换，文档已修改。  @zbcms

[2022-04-08 06:49] #1162 closed, assigned to Ymm0008

[2022-04-08 06:53] LuEdision commented on #1189
[](url
![动画](https://user-images.githubusercontent.com/63531046/162380607-f084adea-fcbe-40b8-95be-b56d32bf22de.gif)
)
官网这个demo也有类似情况，都没下拉刷新，只是单纯的点击，就触发刷新事件了

[2022-04-08 07:37] ailululu commented on #1170
<nut-input v-model="state.buttonVal" clearable center label="短信验证码" placeholder="请输入短信验证码">
      <template #button>
        <nut-button size="small" type="primary"> 发送验证码 </nut-button>
      </template>
</nut-input>

[2022-04-08 07:38] ailululu commented on #1170
`<nut-input v-model="state.buttonVal" clearable center label="短信验证码" placeholder="请输入短信验证码">
      <template #button>
        <nut-button size="small" type="primary"> 发送验证码 </nut-button>
      </template>
    </nut-input>
`

[2022-04-09 09:00] wangfpp opened #1190 "nut-input输入类型为digit时依然可以输入汉字和字母"
## 问题描述
nut-input输入类型为digit时依然可以输入汉字和字母

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：Windows10
- **Node 版本**：16.2.0
- **NutUI 版本**： @nutui/nutui@3.1.18
- **Vue 版本**：3.2.31
- **引用方式**： NPM

[2022-04-09 09:36] Houvzhi-Von opened #1191 "Nutui 级联组件问题"
使用nutui的级联选择器 每一个options 的选项 text 和 value 必须是一样的吗？
我想通过后台发挥选项的数据 每一项数据是有id的
我使用了 Nutui 级联选择器组件 发现 text 和 value 必须是一致的 这是个bug吧
value 能否支持对应数据中的 id text 对应 数据中的name 展示给用户 而最后提交将id 保存

[2022-04-11 01:44] wangrongding opened #1192 "[bug]countdown组件,在倒计时过程中，控制台会一直输出警告，且读秒不应该从60开始。"
## 问题描述

![image](https://user-images.githubusercontent.com/42437658/162651004-90dba5fb-c56e-4ad6-bf39-e65ce827059c.png)

countdown组件,在倒计时过程中，控制台会一直输出警告，且读秒不应该从60开始。
由于是一秒一个警告，倒计时过长会导致电脑出现直接卡死的状态。

## 最小可复现仓库

不断警告的问题只会在小程序中出现

## 预期的行为和实际行为

没有警告，倒计时秒钟区域：最小值为00，最大值为59，非60。

## 复现步骤，具体代码

[code]

将以上代码贴入小程序中，即可复现问题。

## 相关环境信息
- **操作系统**：windows10
- **Node 版本**：v16.13.0
- **NutUI 版本**：  @nutui/nut

[2022-04-11 02:45] wangrongding commented on #1192
00:00:60 应该表示为 00:01:00

[2022-04-11 03:04] wangrongding commented on #1192
![image](https://user-images.githubusercontent.com/42437658/162658149-8cd18d25-7c66-42ed-b41c-c27fe6965f65.png)

countdown组件在倒计时过程中，由于控制台不断的打印警告导致的超出内存限制？

[2022-04-11 06:33] szg2008 commented on #1190
是在移动设备下测试的吗？

[2022-04-11 07:17] wangfpp commented on #1190
@szg2008 我是在PC上测试的 我看你们的示例上是好使的

[2022-04-11 08:20] 307god commented on #1172
picker 如何防止背景滑动呢？

[2022-04-11 13:21] hhch commented on #1177
O(∩_∩)O哈哈~，同问，滚动好像不能生效，期待解决呀

[2022-04-12 08:04] wjh0104 commented on #604
"@nutui/nutui-taro“ 不支持函数式调用， "@nutui/nutui" 这个库支持函数式调用，官网例子里有明确使用案例。

[2022-04-12 12:30] JiaLe1 commented on #1185
[Vue warn]: Failed to resolve component: scroll-view
If this is a native custom element, make sure to exclude it from component resolution via compilerOptions.isCustomElement.

也遇到了...

[2022-04-12 17:50] hhch commented on #1189
建议和nutui协同作战，目前3.4.3和nutui的3.1.18存在大小写不兼容的问题，taro这边使用 onScrollToLower，而nutui使用 onScrolltolower

[2022-04-12 17:50] hhch commented on #1177
建议和nutui协同作战，目前3.4.3和nutui的3.1.18存在大小写不兼容的问题，taro这边使用 onScrollToLower，而nutui使用 onScrolltolower

[2022-04-12 18:14] hhch commented on #1189
试过了，用taro 3.4.0 没有问题

[2022-04-12 18:16] hhch commented on #1189
taro那边使用模板构建nutui项目的时候还是要注意一下版本兼容性问题

[2022-04-13 00:38] yujianhui1993 opened #1197 "[bug]nut-form-item 中使用 nut-datepicker 时间组件type="datetime"，会提示错误"
## 问题描述
nut-form-item 中使用 nut-datepicker 时间组件type="datetime"，会提示错误
没有在from 中使用时正常的。
<img width="1117" alt="image" src="https://user-images.githubusercontent.com/7228360/163076475-05f5b9a7-6090-454c-8b90-6c8b22b66137.png">

<img width="457" alt="image" src="https://user-images.githubusercontent.com/7228360/163076546-7f97d099-08f5-4f13-b86c-a0e24854b53d.png">

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

[2022-04-13 04:27] zhengxiongzhao commented on #1170
文档不匹配，可以考虑以下方式

[code]

[2022-04-13 09:19] Houvzhi-Von opened #1198 "[suggest] 功能建议 希望NutUI 商品卡片组件可以设置价格是否展示的开关设置"
因为不仅仅是商城类小程序开发者使用这款组件库
我是一名做摄影社区类小程序的开发者 ，衷心希望 商品卡片组件可以加一个开关来控制价格是否展示在卡片中
现在组件里价格是必须要展示的，哪怕我在属性中不定义价格的字段 依旧展示了价格 （关于这一点我了解，因为NutiUI 毕竟是有京东孵化，所以组件库很多都是基于电商需求衍生出来的），因此提出这样的建议 希望可以采纳尽快弄好

[2022-04-14 02:46] Picamarichu opened #1199 "[suggest][功能建议]【List虚拟列表的高度目前是固定为视口高度，希望提供为可配置】"
现在 List虚拟列表的高度目前是固定为视口高度
希望可以增加可配置的方式，灵活设置List的高度。

[2022-04-14 03:03] richard1015 commented on #1186
有更好的建议可以反馈给taro那边   [taro issues](https://github.com/NervJS/taro/issues)

[2022-04-14 03:03] #1186 closed, assigned to nobody

[2022-04-14 03:12] richard1015 commented on #1197
在 Taro 中，<nut-form> 中使用 <nut-datepicker> 组件报错，无法获取高度
[code]

[2022-04-14 03:12] #1197 closed, assigned to richard1015, yangxiaolu1993

[2022-04-14 03:17] richard1015 commented on #1096
Thank you for your feedback

Fixed temporarily available https://www.npmjs.com/package/@nutui/nutui-taro/v/3.1.19-beta.6

v3.1.19 official version released on 4.25

[2022-04-14 05:58] yanbowe opened #1200 "nutui在taro3中运行css报错"
## 问题描述
nutui在taro3中运行报错
![image](https://user-images.githubusercontent.com/43030980/163322936-48c439df-bd8b-421d-affe-e24a5e595f46.png)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**： windows10
- **Node 版本**：16
- **NutUI 版本**："@nutui/nutui-taro": "^3.1.18",
- **Vue 版本**："@tarojs/cli": "^3.4.6",
- **引用方式**： NPM

[2022-04-14 08:45] DavidCiallo opened #1202 "关于input组件的"
操作系统：Windows10
Node 版本：16.2.0
NutUI 版本： @nutui/nutui@3.1.18
Vue 版本：3.0.0
引用方式： NPM

在nut官方教程的input组件页面，digit和number倒置，即

<nut-input v-model="state.val6" @change="change" type="number" label="整数" />
<nut-input v-model="state.val7" @change="change" type="digit" placeholder="支持小数点的输入" label="数字"/>

使用过程中，type为number时支持小数点输入，为digit时支持整数输入，与教程介绍不符，
组件介绍页面地址：https://nutui.jd.com/#/input

[2022-04-15 08:52] Drjingfubo commented on #1198
25号3.1.19发版添加该props

[2022-04-15 09:58] LuEdision opened #1205 "nut-picker安卓下会出现重影，ios不会[bug]"
## 问题描述

nut-picker在安卓端滑动时，选项出现重影，可以看我截图所标注的情况

![android](https://user-images.githubusercontent.com/63531046/163557392-c0e21e9b-7800-49fb-8e05-4e3f1609e6ee.png)

![ios](https://user-images.githubusercontent.com/63531046/163557413-f5b29b94-fce7-4922-b914-be4a9a923432.png)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：windows 10
- **Node 版本**：14.x.x
- **NutUI 版本**： @nutui/nutui@3.1

[2022-04-15 10:23] LuEdision commented on #1205
不支持适配转换，如rem，px to viewport等

[2022-04-15 11:32] lanhun opened #1206 "Taro NuiUi Input组件vmode报错[bug]"
## 问题描述
taro环境下,修改pluginCode的值会报错
`
<nut-input v-model="pluginCode"  label="传感器编号" />`

TypeError: Cannot read property '__treeManager__' of undefined
    at Proxy.<anonymous> (VM472 WAService.js:2)
    at Function.<anonymous> (.._src_dom_root.ts:179)
    at :49650/appservice/<setTimeout callback function>
    at VM472 WAService.js:2
    at VM472 WAService.js:2(env: macOS,mp,1.06.2203070; lib: 2.2

[2022-04-15 14:45] jiangz153202 commented on #1085
你好 请问在ViteComponents中 customComponentResolvers ,如何想要自定义写一个Resolvers 应该如何配置？

[2022-04-16 07:17] shunichio opened #1207 "[bug] 模板初始化不能安装运行，直接报错"
## 问题描述

根据 nutui 官网推荐的安装方式初始化项目，选择Vue3 + NutUI 模板时，项目启不起来。

<img width="610" alt="image" src="https://user-images.githubusercontent.com/23553358/163665661-1eeb468d-85e4-42f5-9016-fbf4aa90bacb.png">
<img width="937" alt="image" src="https://user-images.githubusercontent.com/23553358/163665675-5afefc66-2da7-41c4-bc66-1310400c46f4.png">

## 预期的行为和实际行为

项目可以初始化及启动

## 复现步骤，具体代码

安装指引使用NPM初始化项目既可

##

[2022-04-16 15:47] note520 commented on #1185
"@nutui/nutui-taro": "3.1.8" 版本List组件，报同样的错误，scroll事件无效

[2022-04-16 16:45] #1096 closed, assigned to richard1015

[2022-04-17 03:15] yangxiaolu1993 commented on #1205
NutUI 是支持 Rem 转换的。请问，安卓的截图，你使用的是 Chrome 浏览器中的开发者工具吗

[2022-04-17 20:17] caishun2013 opened #1208 "为什么在"tab组件"下使用“图片预览组件”会影响图片预览组件的样式[question]"
## 你想知道什么？

tab组件与使用图片预览组件是否可以组合使用

## 描述你考虑过的替代方案

因为tab组件的transform: translate3d(0%, 0px, 0px);切换动画，会直接影响图片预览组件的定位问题

## 其它

无

[2022-04-18 05:48] wangrongding opened #1209 "[bug]CircleProgress 进度条组件，直接设置成100时，和从100设置成0时，会出现bug"
## 问题描述

CircleProgress 进度条组件的一些问题：

1.  直接设置成100时，动画效果bug：有两个起始点
2.  从100变成0的时候，进度条出现问题，有一半颜色仍然在
3.  值的加减，没有最大最小值，也未提供最大最小值的设定属性，导致增加到100以上，继续增加会出现进度条样式问题

![](https://raw.githubusercontent.com/wangrongding/image-house/master/images202204181337896.gif)

## 最小可复现仓库

该问题仅出现在小程序端，h5并未复现，可使用下方贴出的代码在小程序端复现。

## 预期的行为和实际行为

能正常的显示动画效果和值

## 复现步骤，具体代码

[code]

## 相关环境信息
- **操作系统**：Windows
- **Node 版本**：

[2022-04-18 07:52] Drjingfubo commented on #1209
微信小程序中circleprogress已经重构，25号发版，至于最大值最小值还是需要使用者在使用时去进行限制

[2022-04-18 09:16] cmlly opened #1212 "[question]关于uploader上传图片的组件无法上传"
## 你想知道什么？
在别的ui组件中，点击上传图片后能返回成功码，并且组件能识别是否上传成功。但是在nutui中，我点击上传图片后直接返回上传失败，但是服务器端已经收到了这张图片，我用了success，change，failure函数都没办法解决上传显示失败但是实则已经上传到服务器成功的问题。

[2022-04-18 09:23] yangxiaolu1993 commented on #1180
请问你使用的版本是多少？是否可以提供小版本复现仓库？

[2022-04-18 10:00] yangxiaolu1993 commented on #1179
```<DataPicker/>``` 组件不要放到``` <Cell/>``` 组件内，尽可能保证 ```<DataPicker/>```在最外层

[2022-04-18 10:03] yangxiaolu1993 commented on #1177
在Taro中，建议直接使用 Taro 现有 ScrollView 组件开发

[2022-04-18 10:04] #1114 closed, assigned to yangxiaolu1993

[2022-04-18 10:05] yangxiaolu1993 commented on #1114
在 nutui-taro@3.1.18中已解决

[2022-04-19 08:48] zihanoo opened #1217 "[bug]官网文档轮播功能，在电脑端（非移动触摸）滑动时不能正常使用。"
https://nutui.jd.com/theme/#/swiper
https://nutui.jd.com/theme/demo.html#/swiper

你们的官网文档里面轮播功能，在电脑端（非移动触摸）滑动时不能正常使用。
（虽然是一个移动端触摸解决方案，但是这么一个普通的页面也需要支持一下鼠标滑动）

[2022-04-19 09:44] nicetyler opened #1218 "[question]请问一下nutui如何兼容pc浏览器，pc浏览器触发不了touch事件，picker组件无法拖动"
## 你想知道什么？

请问一下nutui如何兼容pc浏览器，pc浏览器触发不了touch事件，picker组件无法拖动

## 描述你考虑过的替代方案

我想...

## 其它

无

[2022-04-19 10:27] richard1015 commented on #1212
源码 https://github.com/jdf2e/nutui/blob/next/src/packages/__VUE/uploader/uploader.ts
官网 demo https://github.com/jdf2e/nutui/blob/next/src/packages/__VUE/uploader/demo.vue

[2022-04-19 14:53] pubdreamcc commented on #1185
一样的问题，啥时能解决吗。 datepicker  type='year-month', 不支持

[2022-04-20 01:17] nicetyler commented on #1217
我也是这个问题，所有的东西在电脑端都用不了啊，也没有人回答一下到底怎么弄，但是官网上面又可以

[2022-04-20 10:43] ymjdev opened #1219 "[bug] 在使用Swipe组件时遇到了 Cannot read property 'width' of null"
## 问题描述

在使用Swipe组件时遇到了Cannot read property 'width' of null
const getRefWidth = async (ref2) => {
      let rect = await useTaroRect(ref2, Taro);
      return rect.width || 0;
};
上面的rect可能为undefined，当rect为undefined 时 return rect.width 控制台直接报 Cannot read property 'width' of null，后续逻辑直接失效了

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： "@nutui/nutui-ta

[2022-04-21 01:32] Ymm0008 commented on #621
功能已补全，感谢反馈。 @HEYAN123

[2022-04-21 01:32] #621 closed, assigned to Ymm0008, Drjingfubo

[2022-04-21 03:58] A-ANing opened #1221 "能不能支持react，并且能在taro中使用。 期待"
能不能支持react，并且能在taro中使用。 期待

[2022-04-21 04:05] A-ANing commented on #1221
因为这个比taro-ui好看太多，丰富很多，以后写移动端react网页也想用这个。taro-ui貌似都停更几年了

[2022-04-21 05:53] wangfpp commented on #1205
datePicker我在IOS上遇到了这样的情况  我得解决方法是给item写了一个`background-color: #fff`就可以了

[2022-04-21 07:56] xuwu125 opened #1222 "[bug] Deprecation Warning: Using / for division outside of calc() is deprecated and will be removed in Dart Sass 2.0.0"
## 问题描述
⠼ Compiling...Deprecation Warning: Using / for division outside of calc() is deprecated and will be removed in Dart Sass 2.0.0.

Recommendation: math.div($indicator-size, 3) or calc($indicator-size / 3)

More info and automated migrator: https://sass-lang.com/d/slash-div

    ╷
557 │ $indicator-dot-size: $indicator-size / 3 !default;
    │                      ^^^^^^^^^^^^^^^^^^^
    ╵

[2022-04-21 08:58] Ymm0008 commented on #1066
+1

[2022-04-22 01:55] fanfantu opened #1224 "Picker组件px转rem出现重影，因为内联样式px写死，无法转换"
![image](https://user-images.githubusercontent.com/15604444/164581124-63843791-8220-46ed-90cf-f49253c7d604.png)

[2022-04-22 03:50] RogerWenXin commented on #83
为什么demo中都可以使用，请提供下workaround

[2022-04-22 03:51] RogerWenXin commented on #1218
demo中可以使用，怎么设置的呢

[2022-04-22 04:13] RogerWenXin commented on #1218
我分析了官方demo,现在把这些代码贴进去使用吧

一段css, 去除用户选中文字
`.nut-picker-roller-item {
  user-select: none;
}`

这个js模块，在onMounted里面使用吧
`let Le;
let bt;
const Sn = function (t, n, o, l, s) {
  l = l || 0,
  s = s || 0,
  this.identifier = n,
  this.target = t,
  this.clientX = o.clientX + l,
  this.clientY = o.clientY + s,
  this.screenX = o.screenX + l,
  this.screenY = o.screenY + s,
  this.pageX = o.pageX + l,

[2022-04-22 06:10] bin-bin-6 opened #1226 "[bug]nutui Uploader上传组件在h5上传时header信息缺失。"
版本： "@nutui/nutui-taro": "^3.1.18"

打开 @nutui\nutui-taro\dist\packages\_es\Uploader.js
注释掉以下代码即刻上传成功。    
// header: __spreadValues({
  //   "Content-Type": "multipart/form-data"
  // }, options.headers),

[2022-04-22 07:03] nicetyler commented on #1218
好的太感谢了，我也试试，差不多就是要加个js做一层转化

[2022-04-22 07:14] nicetyler commented on #1218
成功了厉害

[2022-04-22 07:18] richard1015 commented on #1226
该问题已修复 ，  使用最新的 nutui-taro beta试试

https://www.npmjs.com/package/@nutui/nutui-taro/v/3.1.19-beta.6

[2022-04-22 07:18] #1226 closed, assigned to nobody

[2022-04-22 07:21] richard1015 commented on #1222
3.1.19-beta 已修复，下周一发版

[2022-04-22 11:37] MarshallChao opened #1228 "nut-datepicker移动端展示异常[bug]"
代码如下：
<div class="label">记录日期:</div>
<nut-cell :showIcon="true" :isLink="true" @click.native="switchPicker">
	<span slot="title">
	<label>日期时间选择</label>
	</span>
	<div slot="desc" class="selected-option">
	<span class="show-value">{{recordTime ? recordTime : ''}}</span>
	</div>
</nut-cell>
<nut-datepicker
	:is-visible="isVisible"
	title="选择日期时间"
	type="datetime"
	:defaultValue="defaultValue"
	star

[2022-04-24 03:47] dongj0316 commented on #1191
@Houvzhi-Von text和value可以是不一样的，除此之外还可以指定其它的valueKey和textKey，你的问题能提供一个复现么

[2022-04-24 07:03] GuoWei1016 opened #1231 "[上传附件远源码。 fileItem.path = file.path; fileItem.name = file.path]"
## 问题描述

## 最小可复现仓库

      const imgReg = /\.(png|jpeg|jpg|webp|gif)$/i;
      files.forEach((file: Taro.chooseImage.ImageFile, index: number) => {
        let fileType = file.type;
        const fileItem = reactive(new FileItem());
        if (!fileType && imgReg.test(file.path)) {
          fileType = 'image';
        }
        fileItem.path = file.path;
        fileItem.name = file.path;

[2022-04-24 07:10] szg2008 commented on #1221
[https://github.com/jdf2e/nutui-react/issues/113](url)

[2022-04-24 07:10] #1221 closed, assigned to nobody

[2022-04-24 07:37] richard1015 commented on #1231
使用最新beta版本试试

[2022-04-24 08:11] #1228 closed, assigned to yangxiaolu1993

[2022-04-24 08:25] xcc1995 opened #1232 "[bug]"
## 问题描述
Cascader  组件 当最后一级数据重名时  父路径查询错误
应该是 eachTree（node,function）中function需改进
getNodeByValue(value: CascaderOption['value']): CascaderOption | void {
    let foundNode;
    console.log(this.nodes);
    eachTree(this.nodes, (node: CascaderOption) => {
      if (node.value === value) {
        foundNode = node;
        return true;
      }
    });
    console.log(foundNode);
    return foundNode;

[2022-04-24 08:35] #1232 closed, assigned to nobody

[2022-04-24 08:38] xcc1995 opened #1233 "[bug] Cascader 传入tree 数据 末级数据有重复时 父路径查询错误"
## 问题描述

Cascader 组件 当最后一级数据重名时 父路径查询错误
应该是 eachTree（node,function）中function需改进
getNodeByValue(value: CascaderOption['value']): CascaderOption | void {
let foundNode;
console.log(this.nodes);
eachTree(this.nodes, (node: CascaderOption) => {
if (node.value === value) {
foundNode = node;
return true;
}
});
console.log(foundNode);
return foundNode;
}

## 最小可复现仓库

## 预期的行为和实际行为
tree 数据中增加code 父路径按code

[2022-04-24 16:21] WangShayne commented on #1222
@richard1015 请问几点发版?

[2022-04-25 03:02] richard1015 commented on #1208
暂时先使用图片预览组件  不要放在 tabs下

[2022-04-25 03:02] #1208 closed, assigned to richard1015

[2022-04-25 03:17] richard1015 commented on #1219
启动模式  是 h5 还是小程序 ，可以提供一个最小复现仓库

[2022-04-25 03:17] szg2008 commented on #1169
在 `config/index.js`中添加插件 `plugins: ['taro-plugin-pinia', '@tarojs/plugin-html']`,然后重新启动就ok了。

[2022-04-25 03:17] #1169 closed, assigned to szg2008

[2022-04-25 03:18] szg2008 commented on #1166
目前已经支持ts类型提示

[2022-04-25 03:18] #1166 closed, assigned to szg2008, richard1015

[2022-04-25 03:19] #1043 closed, assigned to szg2008

[2022-04-25 03:20] richard1015 commented on #1207
使用taro最新 cli 3.4.7 试试

[2022-04-25 03:20] #1207 closed, assigned to nobody

[2022-04-25 03:24] ymjdev commented on #1219
小程序端

[2022-04-25 03:25] ymjdev commented on #1219
小程序端，仓库没时间整

[2022-04-25 03:28] ymjdev commented on #1219
`<nut-swipe v-for="(item, i) in cartList" :key="item.skuId">
      <view class="product-item hairline-1px--bottom">
        <checkbox :checked="item.checked" @tap="changeChecked" :data-checked="item.checked" :data-skuId="item.skuId"
          class="checkbox"></checkbox>
      </view>
      <template #right>
        <nut-button shape="square" style="height:100%" type="primary" class="btn-delete" @

[2022-04-25 03:56] dongj0316 commented on #1233
@xcc1995 请问什么场景会有末级数据重复呢

[2022-04-25 05:40] Houvzhi-Von commented on #1198
我看NutUI的官方文档 商品卡片展示组件依旧没有 价格是否展示的可配置项 今天就是25号 请问一下会按时更新发布吗?

[2022-04-25 05:42] xcc1995 commented on #1233
@dongj0316 我是用来做了一个图书章节选择的东西

[2022-04-25 05:49] dongj0316 commented on #1233
@xcc1995 好的修复中

[2022-04-25 08:03] richard1015 commented on #1222
2022年04月25日17:30

[2022-04-25 09:32] WangShayne commented on #1222
感谢

[2022-04-25 09:39] #1199 closed, assigned to szg2008

[2022-04-25 09:41] #1009 closed, assigned to Drjingfubo

[2022-04-25 09:42] #825 closed, assigned to richard1015

[2022-04-25 09:55] #1170 closed, assigned to ailululu

[2022-04-25 09:55] #1190 closed, assigned to ailululu

[2022-04-25 13:16] dongzheng911 opened #1242 "uploader组件选择完图片后当前vue自动刷新，重新渲染，导致又重新执行app.ts"
## 问题描述
vue页面代码
<template>
  <nut-uploader :url="uploadUrl" :data="uploaddata" maximum="5" :auto-upload="false" v-model:file-list="defaultFileList" ref="uploadRef"></nut-uploader>
  <br />
  <nut-button type="success" size="small" @click="submitUpload">执行上传</nut-button>
</template>
<script lang="ts">
import { ref,reactive,toRefs } from 'vue';
interface fileItem {
  status:string,
  uid	:string,

[2022-04-25 13:23] daniel87821 opened #1243 "[bug] uploader 组件 change 事件 fileItem 问题"
## 问题描述
nu-uploader 配置了change 事件，选择文件后，change回调 toRaw(e.fileList); proxy转对象，然后 fileList 里的数组是空白的。
但如果再上传多一个文件时，fileList 就能成功有1条数据了。。。

## 最小可复现仓库
没有

## 预期的行为和实际行为
选择文件后，预期应该是 change 事件里，能拿到文件对象 fileItem

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@next
- **Vue 版本**：3
- **引用方式**：  CDN / NPM ？NPM

[2022-04-25 16:49] waveheart opened #1244 "[bug] 小程序中 nut-input 在输入过值以后，双向绑定失效，清空绑定的值，直接报错！h5中正常"
## 问题描述

最简单的一个input，设置v-model ，输入值以后，再通过v-mdel 绑定，回直接报错
在添加一个按钮, 设置事件为修改v-model的值

## 最小可复现仓库

[code]

## 预期的行为和实际行为
# 注意，要先在输入框中输入一些值
预期，input值应该变为 333
实际： 控制台报错  TypeError: Cannot read property '__treeManager__' of undefined

## 复现步骤，具体代码

如上

1， 上述例子中，输入 任何值
2， 点击test按钮，无法实现更新绑定值，或者清空值， h5中正常

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
-

[2022-04-25 17:10] waveheart commented on #1206
遇到相同问题 ...原来不是我一个人。。。。

[2022-04-25 17:10] waveheart commented on #1206
折腾了俩小时， 换了各种姿势

[2022-04-25 17:11] waveheart commented on #1244
同 issues/1206

换了俩小时的姿势，始终怀疑是我的姿势出问题了。。。。o(╥﹏╥)o
原来别人也遇到了

[2022-04-26 00:57] #1198 closed, assigned to Drjingfubo

[2022-04-26 00:58] Drjingfubo commented on #1209
已经发布

[2022-04-26 00:58] #1209 closed, assigned to Drjingfubo

[2022-04-26 03:03] yycmd commented on #1171
ScrollView 组件可以通过 import { ScrollView } from "@tarojs/components";  导出
导出之后，注册 ScrollView 组件，List 组件依然渲染有问题

[2022-04-26 03:09] wubiandaxian commented on #1171
import { ScrollView } from '@tarojs/components'

[2022-04-26 03:11] yycmd commented on #1171
我刚刚，按提示已经发现是这个导出 ScrollView  组件，但是注册之后，依然有这个渲染问题

[2022-04-26 04:38] nyrf opened #1245 "[bug]vue3添加路由动画后swiper出现错误"
## 问题描述
vue3添加路由动画后, 跳转到有swiper的页面会出现错误

[code]

## 最小可复现仓库

[code]

Home.vue

[code]

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：macOS 12.3.1 (21E258)
- **Node 版本**：17
- **NutUI 版本**： @nutui/nutui@3.1.18
- **Vue 版本**：3.2.25
- **引用方式**：  NPM ？

[2022-04-26 07:40] kongsiyu opened #1247 "[question]主题设计器不能在线保存或者导入吗？"
## 你想知道什么？

    你好，我想知道主题设计器不能在线保存或者导入?
因为在用的主题难免会有调整，如果不能导入的话每次都要从头调一遍样式，很难维护

## 描述你考虑过的替代方案

    建议可以把下载的主题文件重新导入设计器，方便继续调整

## 其它

无

[2022-04-26 08:09] daniel87821 commented on #1243
估计是数据异步更新的原因，change 事件触发后，setTimeout 延时获取 fileList 就好了

[2022-04-26 10:59] sum1201 opened #1249 "[bug]Swiper 渲染问题"
## 问题描述
通过vuex 异步获取数据后，不能立即显示图片，需要手工点击一下才可以。  taro 原生的没有问题。
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
检查代码之后，发现在子元素数量更新后，重新渲染时，moving =true , 导致 style 没有更新。应该在更新后， moving=False
https://github.com/jdf2e/nutui/blob/66c88b0f5f49ca0702d252f028f0adbb1b669ef4/src/packages/__VUE/swiper/index.taro.vue#L432-L439

https://github.com/jdf2e/nutui/blob/66c88b0f5f49ca0702d252f028f0adbb1b669ef4/src/packages/__VUE/

[2022-04-26 11:50] richard1015 commented on #1247
隐藏功能  theme 参数可传入 配置文件链接

https://nutui.jd.com/theme/?theme=https://storage.360buyimg.com/nutui-static/source/variables-jdt.scss_source#/button

[2022-04-26 11:50] richard1015 commented on #1247
感兴趣可以参与共建

[2022-04-26 11:51] richard1015 commented on #1231
3.1.20已发布

[2022-04-26 11:51] #1231 closed, assigned to richard1015

[2022-04-26 11:51] richard1015 commented on #1233
3.1.20已发布

[2022-04-26 11:51] #1233 closed, assigned to dongj0316

[2022-04-26 11:52] richard1015 commented on #1243
3.1.20已发布 试试看

[2022-04-26 11:52] richard1015 commented on #1212
3.1.20已发布

[2022-04-26 11:52] #1212 closed, assigned to richard1015

[2022-04-26 11:53] richard1015 commented on #1242
3.1.20已发布 试试看

[2022-04-26 11:56] richard1015 commented on #1085
暂时先采用https://github.com/vbenjs/vite-plugin-style-import

[2022-04-26 12:15] #1244 closed, assigned to nobody

[2022-04-26 12:15] #1206 closed, assigned to ailululu

[2022-04-26 12:16] #1202 closed, assigned to ailululu

[2022-04-26 14:34] waveheart commented on #1244
@ailululu 能给个解决方案么，或者说是什么原因导致的？另一个issue我看 也关掉了

[2022-04-26 15:37] daniel87821 commented on #1243
昨天试过 3.1.20 了，也是会有这个问题

[2022-04-26 15:49] daniel87821 commented on #1243
const changeEvent = (e) => {
  // 这样可以
  setTimeout(function () {
    console.log('file.url', e.fileList[0])
  }, 300)
  // 这样不行
  console.log(e.fileList[0])
}

[2022-04-27 01:13] #1222 closed, assigned to richard1015

[2022-04-27 01:13] richard1015 commented on #1200
3.1.20

[2022-04-27 01:13] #1200 closed, assigned to richard1015

[2022-04-27 01:14] richard1015 commented on #1179
升级3.1.20

[2022-04-27 01:14] #1179 closed, assigned to yangxiaolu1993

[2022-04-27 01:14] richard1015 commented on #1185
升级3.1.20

[2022-04-27 01:14] #1185 closed, assigned to szg2008, yangxiaolu1993

[2022-04-27 01:14] richard1015 commented on #1189
升级3.1.20

[2022-04-27 01:14] #1189 closed, assigned to yangxiaolu1993

[2022-04-27 01:15] richard1015 commented on #1192
升级3.1.20

[2022-04-27 01:15] #1192 closed, assigned to yangxiaolu1993

[2022-04-27 01:15] richard1015 commented on #1177
升级3.1.20

[2022-04-27 01:15] #1177 closed, assigned to szg2008

[2022-04-27 01:16] #889 closed, assigned to nobody

[2022-04-27 01:17] #1091 closed, assigned to Drjingfubo

[2022-04-27 06:48] 929408183 opened #1250 "使用jdt科技主题样式不生效"
## 你想知道什么？

你好，我想知道为何使用jdt科技主题样式不生效，我在vue.config.js中引入了下面的配置，自定义的custom_theme.scss 生效，但是variables-jdt.scss没有任何效果
![image](https://user-images.githubusercontent.com/37289057/165457543-95a3e8ce-4c8e-4e2a-8f46-848920bd6145.png)

下面是显示效果&配置
![image](https://user-images.githubusercontent.com/37289057/165457955-74f1d732-b9d3-4c31-b030-775fb51d060a.png)
![image](https://user-images.githubusercontent.com/

[2022-04-27 07:46] dongj0316 commented on #1250
看看sass-loader的版本是多少呢

[2022-04-27 07:52] hhch commented on #1189
赞

[2022-04-27 10:06] 929408183 commented on #1250
"sass-loader": "^8.0.2",
![image](https://user-images.githubusercontent.com/37289057/165494725-f8da2f9e-7c1d-4efd-ac67-fb570ae82fc9.png)

[2022-04-27 10:09] 929408183 commented on #1250
@dongj0316

[2022-04-27 10:30] 929408183 commented on #1250
help

[2022-04-27 10:47] 929408183 commented on #1250
navbar  字体样式没生效

[2022-04-27 10:59] 929408183 commented on #1250
![image](https://user-images.githubusercontent.com/37289057/165503748-759f23f1-f4dc-4746-b2a2-0c07a074f16e.png)

Navbar组件  切换 jdt 科技主题  样式并没有生效，其他的部分组件生效了

[2022-04-27 11:01] fanfantu opened #1253 "[bug]TimeSelect出现样式不全问题，任何手机都可以复现"
<img width="164" alt="1651057166(1)" src="https://user-images.githubusercontent.com/15604444/165504042-ad96fff3-a3e1-44c2-b593-627c7ba051c2.png">

[2022-04-27 11:05] yycmd opened #1254 "[bug]多tab切换导航，tabs 插槽无效"
## 问题描述

使用官网的[多tab切换导航例子](https://nutui.jd.com/3x/index.html#/navbar)  在 tabs 组件下使用插槽无内容渲染

## 最小可复现仓库

## 预期的行为和实际行为

使用 多 tab 切换导航栏的情况下，使用 tab 的插槽，应该和单独使用 tab 组件效果一致

## 复现步骤，具体代码
[code]
商品 tabpane 的 插槽里面， <view>1111</view> 标签无法渲染
店铺tabpane 的 插槽里面， <view>2222</view> 标签无法渲染

预期的效果是 单独使用 tab 一样的

nvabar 使用 tab 组件效果：
![3](https://user-images.githubusercontent.com/17695132/165504544-d9ba9724-6a79-4

[2022-04-27 13:30] mycode65678 opened #1256 "[question]安装出错"
ERROR in src/main.ts:8:20
TS2345: Argument of type 'typeof import("/Volumes/data/Vue/grab-vue3/node_modules/@nutui/nutui/dist/types/nutui")' is not assignable to parameter of type 'Plugin_2'.
  Property 'install' is missing in type 'typeof import("/Volumes/data/Vue/grab-vue3/node_modules/@nutui/nutui/dist/types/nutui")' but required in type '{ install: PluginInstallFunction; }'.
    6 | import Nut

[2022-04-27 13:35] mycode65678 commented on #1256
package.json
[code]
main.js
[code]

[2022-04-28 02:20] fanfantu opened #1257 "[bug]TimeSelect组件第一次渲染样式没有添加上去"
![image](https://user-images.githubusercontent.com/15604444/165663378-2325f6c9-4400-4602-8bd4-82a5be2b961f.png)
复制粘贴的官网例子，第一次默认显示的时候样式不正确，在次点击旁边的今天，样式就正确展示了。希望尽快解决一下

[2022-04-28 02:23] fanfantu commented on #1257
https://codehouse.jd.com/?source=share&type=vue&mainJs=Ly9pbXBvcnQgVkNvbnNvbGUgZnJvbSAidmPGDyI7Ci8vdmFyIHbIID0gbmV3yS8oKTsKx0J7IGNyZWF0ZUFwcCB9yEd1xELHIcQZxhcuL2FwcC7NHU51dFVJxx9AbnV0dWkvxQbKIsc2c2Nzc8sVzCwvZGlzdC9zdHlsZS7GJukAkihBcHApLnVzZSjFaSkubW91bnQoIiNhcHAiKTs=&appValue=PHRlbXBsYXRlPgogIDxudXQtY2VsbCBAY2xpY2s9ImhhbmRsZUPEDTIixCMgIDxzcGFuPjxsYWJlbD7or7fpgInmi6nphY3pgIHml7bpl7Q8L8YdPC/FK8RZL8h

[2022-04-28 02:30] languanghao commented on #1085
@richard1015 如果用webpack咋办？这个只能按需加载样式吧

[2022-04-28 03:26] languanghao commented on #1256
遇到同样的问题

[2022-04-28 06:12] languanghao commented on #1256
降级到`3.1.18`可以解决这个问题

[2022-04-28 07:39] millzhang opened #1259 "[bug] Input输入框快速输入光标闪烁"
## 问题描述

小程序，在Input和Form的Input中，快速输入，input光标闪烁（位置偏要当前输入字符，往前闪烁）

## 最小可复现仓库

https://github.com/jdf2e/nutui-demo/tree/master/taro
## 预期的行为和实际行为

预期绿色光标稳定跟踪文字

## 复现步骤，具体代码
官方的小程序demo即可复现

https://user-images.githubusercontent.com/8767429/165701914-57f40aac-9b21-4906-8c3e-19a9b2802fc0.mov

## 相关环境信息
- **操作系统**：小程序
- **Node 版本**：14
- **NutUI 版本**： @nutui/nutui-taro@3.1.18
- **Vue 版本**：VUE 3.0
- **引用

[2022-04-28 10:43] Rosethorn99 opened #1262 "[bug]nut-addresslist组件加载异步数据异常"
## 问题描述
nut-addresslist组件异步数据无法渲染, 本地数据渲染正常

## 复现步骤，具体代码
![image](https://user-images.githubusercontent.com/40927708/165734670-a128b1fa-062d-4bf5-9b82-0ebff9f7e73e.png)

## 相关环境信息
- **操作系统**：
- **Node 版本**：14.18.1
- **NutUI 版本**： @nutui/nutui-taro@3.1.20
- **Vue 版本**：3.2.33

[2022-04-29 09:32] 929408183 opened #1263 "使用v-if/v-show 在tab中进行表单校验报错，放在外层 正常"
## 你想知道什么？
使用v-if/v-show  在tab中进行表单校验报错，放在外层 正常
报错：
![image](https://user-images.githubusercontent.com/37289057/165919771-098fa8f5-613e-41d3-99a6-37518f226bd8.png)
正常：
![image](https://user-images.githubusercontent.com/37289057/165919676-812cd682-a4ec-4c6a-b937-ab0d21c6e499.png)

## 描述你考虑过的替代方案

## 其它

无

[2022-04-29 13:01] yangjinjun3 opened #1264 "[bug]nut-menu在小程序使用，添加定位 例如 <nut-menu style=“position:fiexd;top:100px;”> 会导致下拉选项的背景遮罩看不见"
## 问题描述
nut-menu在小程序使用，添加定位 例如 <nut-menu style=“position:fiexd;top:100px;”> 会导致下拉选项的背景遮罩看不见

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
![image](https://user-images.githubusercontent.com/44964193/165949268-94d8faad-e231-4209-b7e0-8da8e9a44e6c.png)

![image](https://user-images.githubusercontent.com/44964193/165949311-c2237689-dc86-4cb9-b8b3-71dd733519ae.png)

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **

[2022-04-29 13:03] yangjinjun3 opened #1265 "[bug]sticky组件在小程序使用，直接报错"
## 问题描述
sticky组件在小程序使用，直接报错获取不到cant read property “display” of null   ,cant read property “width” of null。
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
下面是最简单的案例，1、ts要求container必传，即使传了container ，外面盒子加ref id一样报错。2、报错信息

![image](https://user-images.githubusercontent.com/44964193/165949571-757c70a1-bff8-4c30-b65a-40da71607e71.png)

![image](https://user-images.githubusercontent.com/44964193/165949660-62e

[2022-04-29 13:04] yangjinjun3 opened #1266 "[bug]Form表单在小程序使用"
## 问题描述
Form表单在小程序使用,假设有两个form-item , 第一个 form-item添加required，第二个 form-item不添加required。那么label的内容就不对齐了。

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
![image](https://user-images.githubusercontent.com/44964193/165949760-1d83b235-48af-4571-a85f-773846779444.png)

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-04-29 13:06] yangjinjun3 opened #1267 "[suggest]自定义主题"
## 你建议我们做什么？

改的primary  发现在某些error的情况也用用到了  但是我觉得error虽然跟京东主题色一样  也应该用两个变量区分。
就比如 这个input 这个取的primay  这个颜色其实 给input传error用的  我觉得应该取其他变量

<img width="674" alt="eefb9b2ce718cfacc1b8aed76e19b9b" src="https://user-images.githubusercontent.com/44964193/165950001-ee46d494-7226-4de5-89fc-746ad5293ffe.png">

如果你能...

它将使...

## 其它

无

[2022-04-30 14:24] WangShayne opened #1268 "[question]如何在nutui-taro中全局调用toast组件?"
## 你想知道什么？

如何在nutui-taro中全局调用toast组件?
例如在request中全局提示错误消息

## 描述你考虑过的替代方案

我想...

## 其它

无

[2022-05-01 02:20] suguer opened #1269 "[question]"
## 你想知道什么？

Uploader  组件的初始化图片FormItem ,如果图片是异步获取的好像不能同步更新呢
[code]
例如这样直接先写就可以
[code]
然后在另一个function上没法清空
[code]

## 描述你考虑过的替代方案

我想...

## 其它

无

[2022-05-02 15:55] suguer opened #1271 "用taro升级nutui到3.1.20后运行就失败了 [bug]"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

原来是3.1.8版本 yarn upgrade 后,我的taro就运行失败了,.提示
[code]

## 相关环境信息
- **操作系统**： window
- **Node 版本**：14
- **NutUI 版本**： @nutui/nutui@3.1.20
- **Vue 版本**：3
- **引用方式**：  yarn

[2022-05-03 09:09] richard1015 commented on #1268
暂时采用 Taro API
https://taro-docs.jd.com/taro/docs/apis/ui/interaction/showToast

[2022-05-03 09:09] #1268 closed, assigned to nobody

[2022-05-03 14:43] dongj0316 commented on #1250
@929408183 看起来主题应该已经成功引入了

[2022-05-04 03:40] hustjiangtao opened #1272 "[suggest]<nut-form-item>下的input文本样式"
## 你建议我们做什么？

现在...
[code]
当前的`form`表单中子项样式会继承`<nut-cell />`、`<nut-form-item />`，导致`form`表单中的`input`文本样式显示为`.nut-cell__value`默认样式的灰色`#cccccc`，所以往往仍需单独另加样式

希望能够改进此项，显示默认的`input`样式或者`black`，毕竟灰色的输入项不常会用到

## 其它

示例代码可以直接复制文档中的代码，即可复现

[nutui官方文档](https://nutui.jd.com/3x/index.html#/form)

[2022-05-04 14:17] yangjisen commented on #1262
[Pref: 优化地址列表数据变更重新渲染](https://github.com/jdf2e/nutui/pull/1270)

[2022-05-05 00:52] 929408183 commented on #1263
应该市使用v-for 进行循环，出现的问题

[2022-05-05 02:28] ymjdev commented on #1219
cartList 不实用计算属性就好了

[2022-05-05 02:28] #1219 closed, assigned to richard1015

[2022-05-05 03:20] EricPengLong commented on #1271
我也报这个错

[2022-05-05 03:21] suguer commented on #1271
我回退版本就好了,应该是新版本不兼容

[2022-05-05 05:56] LuEdision opened #1274 "[bug] 升级3.1.20，build样式报错"
## 问题描述
![飞书20220505-135542](https://user-images.githubusercontent.com/63531046/166869632-795daa57-d8c6-44b0-a522-664fe57afdf8.png)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：14.x.x
- **NutUI 版本**： @nutui/nutui@3.1.20
- **Vue 版本**：vue3
- **引用方式**：NPM ？

[2022-05-05 06:36] emorywang commented on #1172
我也遇到了同样的问题，使用picker时，滑动picker内的选项，背景也会一起滚动，不知道该如何解决

[2022-05-05 08:37] SJW2017 opened #1275 "[bug]Toast close关闭时触发的事件无法调用"
## 问题描述

Toast 关闭回调方法不执行

## 错误原因？？

文档方法名错误

<img width="1147" alt="image" src="https://user-images.githubusercontent.com/33503155/166888795-7a8bbbba-256d-4427-babb-37a640072499.png">
<img width="1147" alt="image" src="https://user-images.githubusercontent.com/33503155/166888418-fe287291-7d23-4bf7-967d-20a108e9fe60.png">
<img width="1439" alt="image" src="https://user-images.githubusercontent.com

[2022-05-05 08:42] richard1015 commented on #1271
升级taro 3.4.x  即可解决 ,由于taro 内部升级了sass 1.50以上的版本

[2022-05-05 08:42] #1271 closed, assigned to nobody

[2022-05-05 08:44] suguer commented on #1271
我的taro是3.4.4的

[2022-05-06 02:39] zch233 commented on #1274
是的，同样遇到了

[2022-05-06 09:44] richard1015 commented on #1272
感谢反馈，下个版本发版修复了

[2022-05-06 10:32] richard1015 commented on #1272
标记   小程序输入后颜色与官网demo示例不符合 3.1.21发布时处理

[2022-05-07 09:16] theodorehills opened #1276 "[bug] 无法全局引入NutUI"
## 问题描述

当使用官方demo全局引入NutUI时，会报“NutUI is not defined.”的问题

## 最小可复现仓库
[ GitHub 仓库](https://github.com/theodorehills/book-store)

## 预期的行为和实际行为
预期：成功引入NutUI，并可以随意使用NutUI中的内容
实际：运行 `yarn dev:h5` 浏览器报错 `Uncaught ReferenceError: NutUI is not defined`

## 复现步骤，具体代码
只要使用全局引入
[code]
就必定会出现此问题，但是按需导入不会出现问题

## 相关环境信息
- **操作系统**：Windows 11
- **Node 版本**：16.14.0
- **NutUI 版本**：@nutui/nutui-taro@3.1.20
- **V

[2022-05-09 08:37] 490626721 commented on #1066
+1

[2022-05-10 09:47] richard1015 opened #1279 "uploader 支持手动调用 上传方法 [suggest]"
支持手动调用 上传方法

[2022-05-10 09:49] richard1015 commented on #1275
升级最新版本尝试一下，我这边测试的没问题
import { Toast } from '@nutui/nutui';
[code]

[2022-05-11 03:57] sherlock-7717 commented on #996
同求

[2022-05-11 06:59] #1275 closed, assigned to nobody

[2022-05-11 08:56] zjyau opened #1281 "[bug] Elevator组件 如果是动态绑定的数据,点击索引时,报title缺失错误"
Elevator组件 如果是动态绑定的数据,点击索引时,报title缺失错误
如果是静态数组,没有此问题

## 复现步骤，具体代码
    onMounted(async () => {
      await getDataFactory()
    })
    const getDataFactory = async () => {
      const resultData = await request<[]>({
        url: `${mockUrl}/获取数据接口.......`,
      })
    resultData  赋值给state 并绑定index-list

## 相关环境信息
- **NutUI 版本**：	"@tarojs/taro": "^3.4.8", "@nutui/nutui-taro": "^3.1.20",

[2022-05-11 13:04] liuxinju opened #1282 "nut-popup组件小程序端 lock-scroll 无效"
## 问题描述

小程序端使用nut-popup组件会有穿透滑动的问题，滑动弹窗遮罩层或者滑动弹窗内部，弹窗底下的内容也会跟着滑动（pc端没有问题）
lock-scroll 无效
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：v16.15.0
- **NutUI 版本**： @nutui/nutui-taro@3.1.17
- **Vue 版本**： @vue/cli 5.0.4
- **引用方式**：  npm@8.5.5

[2022-05-11 13:22] liuxinju opened #1283 "nut-calendar组件 start-date与end-date在同一月份时，会出现日期空白的情况"
## 问题描述

nut-calendar组件 start-date与end-date在同一月份时，会出现日期空白的情况，如下图：

<img width="374" alt="image" src="https://user-images.githubusercontent.com/28803566/167859760-eb640c9d-83b9-4f87-b3dd-21f3631248b2.png">

## 最小可复现仓库

<template>
  <nut-cell
    :showIcon="true"
    title="选择单个日期"
    :desc="state.date ? `${state.date}` : '请选择'"
    @click="openSwitch('isVisible')"

  </nut-cell>
  <nut-calendar

[2022-05-11 18:29] 1102712387 opened #1284 "List 虚拟列表[bug]"
## 问题描述
List 虚拟列表 在H5端报错 TypeError: Cannot read property 'scrollTop' of undefined

## 相关环境信息

- **NutUI 版本**： @nutui/nutui@3.x.x
- **Vue 版本**：3.2

[2022-05-12 08:28] lingdulib opened #1286 "Failed to resolve component: scroll-view for nut-infiniteloading"
Failed to resolve component: scroll-view for nut-infiniteloading 使用的taro 3.4.8，nutui 3.1.20，无法上拉加载

[2022-05-12 09:57] WhileSun opened #1287 "taro+nutui组件中style定义的px不会转rpx"
taro+nutui+vue3开发中遇style内联样式直接写px不会自动转成rpx，导致UI大小固定了，不自适应
![image](https://user-images.githubusercontent.com/31122836/168044572-a0ad4c0b-47b1-4c56-9211-0be0ac064396.png)

- 帮忙看下如何解决，可以支持style中的px也转成rpx

[2022-05-12 10:33] fatkiller opened #1288 "process组件中的props属性textBackground的type属性写错了，写成了tyep[bug]"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-05-13 05:12] wangfpp opened #1289 "[suggest] Dialog popup等组件增加自定义class的能力"
## 你建议我们做什么？

目前使用Dialog这种全局的组件 有时需要修改样式 但是没有提供自定义class的能力
[code]
希望能够提供自定义`class`的能力

## 其它

无

[2022-05-13 06:27] kongsiyu commented on #1247
已尝试成功，感谢！
（提示：各位想尝试的小伙伴注意下自己的主题文件必须放在支持跨域的服务器上）

[2022-05-13 09:28] vintonHuang opened #1290 "使用vite + vue3.2 + ts 项目按需引入一个video组件，项目打包报错，报can't find PropType"
## 你想知道什么？

你好，我想知道这个项目是否可以...

## 描述你考虑过的替代方案

我想...

## 其它

无

[2022-05-14 08:44] giamchen opened #1291 "[question]文档步骤创建模版项目按需加载问题"
## 你想知道什么？

为什么按照文档的步骤创建vue3-NutUI模版项目，模版已经配置好按需加载为什么还要加这个样式文件？文档和demo我看到也没有需要加这个样式，去除的话样式就不会生效，然后按照文档设置主题也没生效，配置文件都是一样的。就是按小程序开发文档走，没有任何修改，我想知道小程序开发怎么才能正确更换主题
![image](https://user-images.githubusercontent.com/33769348/168418083-38389202-3acb-4517-be5a-b5e71c36b719.png)

## 描述你考虑过的替代方案

## 其它
版本
![image](https://user-images.githubusercontent.com/33769348/168418363-f2362218-f5e7-41cc-8d8d-6aa2aee2

[2022-05-16 01:55] emorywang commented on #1282
我也遇到同样的问题，类似的组件（比如picker）也是如此

[2022-05-16 07:25] zhiqing0205 opened #1292 "[bug]Tabber 徽标提示 <nut-tabbar-item tab-title="分类" icon="category"> 内少了dot"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-05-16 11:33] richard1015 commented on #1291
参考这个仓库即可
https://github.com/jdf2e/nutui-demo/tree/master/pinia-taro3.4.3

[2022-05-16 11:33] #1291 closed, assigned to nobody

[2022-05-16 11:35] richard1015 commented on #1287
icon 组件支持 size="14rem"

[2022-05-16 11:36] richard1015 commented on #1267
@yangjinjun3 改一下pr上来

[2022-05-16 11:36] richard1015 commented on #1274
把taro依赖包 升级 至最新 3.4.9 即可，这是由于taro底层升级了 依赖sass 版本

[2022-05-16 11:38] richard1015 commented on #1276
这是由于开启了 babel 按需加载插件，把babal.config对应的plugin删除就可以了

[2022-05-16 11:38] #1276 closed, assigned to nobody

[2022-05-16 11:39] #1242 closed, assigned to nobody

[2022-05-16 11:42] #1274 closed, assigned to nobody

[2022-05-16 11:43] richard1015 commented on #1250
参考这个仓库即可，我测试了，没问题

[2022-05-16 11:43] #1250 closed, assigned to nobody

[2022-05-16 11:44] richard1015 commented on #1262
@yangxiaolu1993  看一下开发者，提供了修复PR 是否可以直接合入

[2022-05-16 11:45] richard1015 commented on #1256
参考一下demo呢 https://github.com/jdf2e/nutui-demo/tree/master/pinia-taro3.4.3

[2022-05-16 11:45] #1256 closed, assigned to nobody

[2022-05-17 09:39] theodorehills commented on #1276
@richard1015 不懂就问，请问下面哪一行是按需引入的插件代码？
[code]

[2022-05-17 15:20] chenjh-8 opened #1295 "[question]关于样式的问题"
环境：
[code]
app.scss
[code]

[code]
小程序环境下，加上scoped 样式就会失效，查询相关资料后，加上 /deep/或::v-deep 也同样无效。即使不使用第三方组件，也同样失效
![image](https://user-images.githubusercontent.com/38275824/168942074-dc9f1f74-138c-4a7c-bcc6-b926381cb2b3.png)

[code]
然而h5环境下却生效
![image](https://user-images.githubusercontent.com/38275824/168941784-6f1431e1-f933-49ba-bd59-10753dae0179.png)

[2022-05-18 02:58] Q-J-Brilliant commented on #1180
@yangxiaolu1993 操作系统：windows11
Node 版本：v16.13.0
NutUI 版本： @nutui/nutui-taro@3.1.18
Vue 版本：3.2.31
引用方式： CDN / NPM ？NPM

[2022-05-18 02:58] Q-J-Brilliant commented on #1180
操作系统：windows11
Node 版本：v16.13.0
NutUI 版本： @nutui/nutui-taro@3.1.18
Vue 版本：3.2.31
引用方式： CDN / NPM ？NPM

[2022-05-18 08:50] eriklu commented on #1172
[code]

:catchMove="true"  我在微信小程序里这样设置的。picker没有测试。

[2022-05-19 05:16] daniel87821 commented on #1205
转单位排除文件夹吧，保留px就好了，简单些，估计等修复没这么快！

[2022-05-19 05:52] jingyuhao1995 commented on #887
我可能没表达明白，就是折叠面板v-model:active的值，在我手动改这个值的同时折叠或者收起对应的面板

[2022-05-19 08:21] ailululu commented on #1244
关掉issue说明最新版本已解决该问题，可以更新至最新版本3.1.20~

[2022-05-19 08:22] ailululu commented on #1244
@waveheart
关掉issue说明最新版本已解决该问题，可以更新至最新版本3.1.20~

[2022-05-19 08:35] raythunder opened #1303 "[bug] 按需引入和全量引入，打包后体积没有明显变化"
## 问题描述

![image](https://user-images.githubusercontent.com/2842366/169249972-0d1c3375-979d-4513-9e2b-e40d18dd7613.png)

## 最小可复现仓库

https://github.com/jdf2e/nutui-demo/tree/master/vite-ts

## 预期的行为和实际行为
预期按需引入后打包体积应该明显变小

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-05-19 08:45] emorywang opened #1304 "[bug] Tabs 选项卡与Picker同时使用，第二个TabPane内触发的Picker会显示在第一个TabPane中"
## 问题描述

在Tabs 选项卡内使用Picker组件，如果是在第二个（只要不是第一个）TabPane内触发的Picker内容及遮罩效果，会显示在第一个TabPane中；而触发Picker动作的TabPane内，没有任何反应可以感知（发现该现象之前我一直以为是Picker没有触发）。

## 预期的行为和实际行为
无论在哪个TabPane中使用并触发的Picker，就应该在当前TabPane展示Picker内容及遮罩

## 相关环境信息
- **操作系统**：Windows 10
- **Node 版本**：16.15.0 LTS
- **NutUI 版本**： 3.1.20
- **Vue 版本**：3.2.31
- **引用方式**：NPM

[2022-05-19 10:54] p3psi-boo commented on #1279
`auto-upload` 设置为 `false`，触发组件引用的 `submit` 函数可以达到目的

[2022-05-20 03:26] lkjh3214 commented on #1283
请问能否提供下，nutui使用的版本信息，是h5 还是taro？

[2022-05-20 08:26] chenjh-8 opened #1310 "[question] 自定义主体样式问题"
[code]
![image](https://user-images.githubusercontent.com/38275824/169486018-adb8f7e9-c91c-4215-85e5-7d1eba29ba55.png)

采用的是官方提供框架，vue3 nutui，添加自定义样式后会报 **找不到依赖 @tarojs/plugin-framework-react，请先在项目中安装**

[2022-05-20 08:36] #1015 closed, assigned to yangjinjun3

[2022-05-20 08:37] #992 closed, assigned to yangjinjun3

[2022-05-20 08:40] wujingjin1 opened #1311 "[suggest]关于picker能否添加一个监听显示与隐藏的回调"
我们都知道在ios端使用picker滑动时会导致外部也跟着滑动，我们需要去监听visible的状态去适配。当一个场景下我们用了三个picker那么我们要去监听三个visible。情况显然不是很理想。

我希望官方可以为开发者提供显示与隐藏的回调，开发者只需对picker进行二次封装，就可以一劳永逸。希望官方能采纳我的意见。

[2022-05-20 13:52] Diamondjcx commented on #1171
有人解决这个问题吗？

[2022-05-20 13:55] Diamondjcx commented on #551
有人解决这个问题吗？

[2022-05-21 08:15] wenjingjingjing opened #1313 "nutui3.x 中，infiniteloading下拉刷新相关问题[question]"
nutui3.x 中，如何通过代码调用，使infiniteloading达到跟手动下拉刷新一样的效果？

[2022-05-23 02:12] jingyuhao1995 opened #1314 "[suggest] 折叠面板 collapse 能否通过设置v-model:active绑定的值，展开对应面板，传"
## 你建议我们做什么？

 **### 能否通过设置v-model:active绑定的值，展开对应面板，传空折叠所有**

如果你能...

它将使...

## 其它

无

[2022-05-23 03:55] 23john opened #1315 "[bug] App.vue 引入nutui tabbar 开发环境组件无法被编译成正常div和class"
## 问题描述

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**： win10
- **Node 版本**：v14.18.2
- **NutUI 版本**： "^3.1.20"
- **Vue 版本**："^3.2.25"
- **引用方式**： NPM

[2022-05-23 03:56] 23john commented on #1315
![image](https://user-images.githubusercontent.com/9265839/169740518-2f93f04f-d049-4668-a1d8-8476e6555efb.png)