[2022-05-23 06:37] #987 closed, assigned to Drjingfubo

[2022-05-23 09:53] szg2008 commented on #1290
试了一下，没有问题。尝试解决方案参考：

1. 更新到最新版本v3.1.20试试
2. 将node版本更新到14.5及以上
3. demo参考：https://github.com/jdf2e/nutui-demo/tree/master/vite-ts

[2022-05-23 13:06] richard1015 commented on #1303
目前 289  263 有差距的啊，不过内部还有优化的空间

[2022-05-23 13:07] richard1015 commented on #1310
请升级 最新taro 包进行创建

[2022-05-23 13:07] #1310 closed, assigned to nobody

[2022-05-23 13:07] richard1015 commented on #1310
可参考 https://github.com/jdf2e/nutui-demo/tree/master/pinia-taro3.4.3

[2022-05-23 16:31] jenchih opened #1316 "[suggest] 希望可以支持m3u8格式的视频播放"
希望可以支持m3u8格式的视频播放

[2022-05-24 04:44] yaoyirui opened #1317 "[bug] nut-form 节点无法接除 form-item 外的其他节点，否则失去校验逻辑"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-05-24 04:54] richard1015 commented on #1317
看了一下源码，无限节点是支持的， `view ` 标签 在 taro h5 环境下无法 获取实时 children阶段，暂时先使用div 去解决吧

[2022-05-24 04:56] richard1015 commented on #1317
月底发布时修复此bug

[2022-05-24 07:01] tangbl-code opened #1318 "[bug]遮罩点击穿透"
## 问题描述

我是在使用组件库小程序预览的时候发现的问题，一个小程序经典的原生组件层级问题，在使级联选择组件的时候发现，遮罩层出现的时候仍然可以穿透点击到下方的输入框，并获取焦点

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-05-24 07:34] zuozuolovegit opened #1319 "tabs组件嵌入menu组件后样式错位"
tabs组件嵌入menu组件后样式错位
![cfd42078e6a0217ebe28df048746fd8](https://user-images.githubusercontent.com/20985192/169975007-2776c37b-ac61-4a0e-a0fd-0b29a10712ee.png)

[2022-05-24 08:35] hu-qi commented on #1284
应该是没做 H5 的兼容，改成：
`const scrollTop = e.detail ? e.detail.scrollTop : e.target.scrollTop;`
就能正常运行了。
![image](https://user-images.githubusercontent.com/17986122/169987770-843a760a-1f27-4810-a4f8-461376196853.png)

[2022-05-24 09:27] manydots commented on #1304
同样遇到这个问题，怎么解决

[2022-05-24 09:41] szg2008 commented on #1245
5.30发布新版本后再试一下

[2022-05-25 01:31] #1180 closed, assigned to yangxiaolu1993

[2022-05-25 01:38] #1205 closed, assigned to yangxiaolu1993

[2022-05-25 02:00] #1157 closed, assigned to yangxiaolu1993

[2022-05-25 02:01] #1224 closed, assigned to yangxiaolu1993

[2022-05-25 03:37] szg2008 commented on #1110
目前是支持的，可以自行设置样式

[2022-05-25 03:37] #1110 closed, assigned to szg2008

[2022-05-25 07:22] liliyao opened #1321 "[bug]Category组件点击右侧菜单,onchange回调函数没有返回回调数据"
## 问题描述

Category组件点击右侧菜单,onchange回调函数没有返回回调数据
## 最小可复现仓库

## 预期的行为和实际行为
Category组件点击右侧菜单,onchange回调函数没有返回回调数据

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：mac
- **Node 版本**：14.17.0
- **NutUI 版本**： nutui-taro 3.1.20
- **Vue 版本**：3.0.0
- **引用方式**：  CDN / NPM ？npm

[2022-05-25 07:50] #1263 closed, assigned to richard1015

[2022-05-25 12:08] eggtart1988 opened #1322 "[bug]支付宝uploader组件，提示参数错误"
## 问题描述

支付宝小程序在使用uploader组件自动上传时，因组件内uploadFile中缺少fileType参数，导致无法上传图片
![image](https://user-images.githubusercontent.com/75836451/170255443-add78e16-f114-41dc-83ce-a8da5e3ea3c0.png)

uploadFile 没有fileType属性时会报同样的错误，添加后则不会
![image](https://user-images.githubusercontent.com/75836451/170258280-b6a83de2-974a-4d90-983e-c5db66954889.png)

在使用Taro.uploadFile时 不传入fileType参数与组件错误提示相同，uploader组件源码上也无该参数
![

[2022-05-25 15:20] zhangjing007 opened #1323 "nut-swiper高度问题"
## 问题描述

当nut-swiper的高度超过150px的时候，ios端的小程序（vue3+taro）点击图片，轮播图立马消失不见
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

    <nut-swiper :init-page="swiperPage" :loop="true" @change="change">
      <nut-swiper-item v-for="item in data.images" :key="item">
        <template v-if="matchFileSuffixType(item) === 'image'">
          <img :src="data.staticHost + item" alt="" @click="preView(data)"/>
        </templ

[2022-05-26 01:56] whoopsHzh opened #1324 "[bug]nut-swiper-item组件中ts提示报错"
## 问题描述
nut-swiper-item组件中ts提示报错

## 最小可复现仓库
![image](https://user-images.githubusercontent.com/32846446/170399416-7ae74464-87c9-4fe2-8919-3c30b3cd4570.png)
![image](https://user-images.githubusercontent.com/32846446/170399442-ee6e8275-a1b4-4f70-8d9a-bfc20f1e7dfc.png)

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- *

[2022-05-26 06:07] Ymm0008 commented on #1082
props及event已经补全，将在下个版本发布。 @visionsky1986 @liuhp

[2022-05-26 06:08] #1082 closed, assigned to richard1015, Ymm0008

[2022-05-26 09:41] Ymm0008 commented on #984
问题已修复，将在下个版本发布。 @deajax

[2022-05-26 09:41] #984 closed, assigned to Ymm0008, yushuang-d

[2022-05-26 11:49] richard1015 commented on #1085
bable 可以配置

https://nutui.jd.com/#/guide/start

[2022-05-26 12:20] richard1015 commented on #1254
nav 设计初衷就是 只提供头部导航， 如果你想要tabs的效果，直接单独采用tabs组件即可， tabs头部支持自定义

[2022-05-26 12:20] #1254 closed, assigned to richard1015

[2022-05-26 12:33] richard1015 commented on #1243
change 事件是  fileList 是异步装载，建议你从beforeUpload中拦截

[2022-05-26 12:33] #1243 closed

[2022-05-26 12:41] richard1015 commented on #1266
label-align 设置对齐方式

[2022-05-26 12:41] #1266 closed, assigned to richard1015

[2022-05-26 15:40] szg2008 commented on #1324
已修复，下周一发版

[2022-05-26 15:44] szg2008 commented on #1217
目前暂不支持电脑端，预计6月份版本支持

[2022-05-26 15:45] szg2008 commented on #1217
#427

[2022-05-26 22:25] Sakiyary commented on #1314
我也有这个问题，想通过其他的回调让折叠面板收起来

[2022-05-27 02:57] Sakiyary commented on #1314
现在的v-model:active好像根本就没有让CollapseItem收起来？

[2022-05-27 03:04] jingyuhao1995 commented on #1314
好像是这样，点击折叠展开会更新到绑定的值，修改绑定的值不能响应到视图

[2022-05-27 03:47] Ymm0008 commented on #1314
感谢两位的问题反馈，可否提供一下最小复现demo。 @jingyuhao1995 @Sakiyary

[2022-05-27 04:12] waynehoo opened #1327 "nut-input的clearable点击报错、nut-textarea的属性autosize无效"
## 问题描述

1. nut-input组件的clearable 点击无效，报错：VM1747 WAService.js:2 TypeError: Cannot read property '__treeManager__' of undefined
2. nut-textarea组件，属性autosize(高度自定义，拉伸)无效，添加autosize属性后，整个textarea不显示。

## 相关环境信息
按官网初始化的项目，npm run dev:weapp后在微信小程序打开dist文件。
![image](https://user-images.githubusercontent.com/40262229/170627560-8645b677-00ff-413e-8c07-f4fe392613d2.png)

- **操作系统**：windows
- **Node 版本**：v1

[2022-05-27 07:56] richard1015 commented on #1259
该问题为原生bug，暂时无法解决 ，你慢点输入 :(

[2022-05-27 07:56] #1259 closed, assigned to richard1015, ailululu

[2022-05-27 08:01] richard1015 commented on #1295
参考官网的 https://github.com/jdf2e/nutui/discussions/861

[2022-05-27 08:01] #1295 closed, assigned to richard1015

[2022-05-27 08:01] #1287 closed, assigned to richard1015

[2022-05-27 08:02] richard1015 commented on #1287
你可以根据环境去设置不同的 px or rpx单位

[2022-05-27 08:11] swinwang commented on #1219
遇到一样的问题，动态push数据渲染出来的nut-swipe在iOS上左滑删除会失效，模拟器、Android都是正常的，甚至iOS扫码真机调试都是正常的，但是扫码预览左滑就失效了。
调试跟踪了一下源码，是在onMounted延时延时100ms执行initWidth有可能会失败，此时在useTaroRect方法内的query.exec执行没有回调。
![image](https://user-images.githubusercontent.com/25023718/170659130-07ffdfd8-2248-4b09-b5f8-e986ef8cecd6.png)
![image](https://user-images.githubusercontent.com/25023718/170658809-67e827de-4d8f-4837-9a9c-a1810c447930.png)

[2022-05-27 08:38] szg2008 commented on #1323
下周一发版，更新到最新版本试试

[2022-05-27 08:44] richard1015 commented on #996
粘性吸顶近期可以考虑，手势没时间去处理感兴趣可以PR

[2022-05-27 08:45] s4595169 commented on #996
非常遗憾

[2022-05-27 08:48] richard1015 commented on #1049
请提供一个最小的复现仓库

[2022-05-27 08:48] #1049 closed, assigned to richard1015

[2022-05-27 08:50] richard1015 commented on #1304
辛苦提供一个最小复现仓库，以便于我们帮你排查问题

[2022-05-27 10:35] Sakiyary commented on #1314
版本号: 3.1.20
平台: taro 3.4.10 vue3-ts 微信小程序
[code]
先手动点开Collapse, 然后想通过点击按钮将其收起.

[2022-05-28 01:40] waveheart commented on #1244
@ailululu 我的问题， 我的issue没有描述对，taro版本是最新的

发现问题之后有尝试过过升级最新版本，但是未能解决

![image](https://user-images.githubusercontent.com/25602259/170804804-40f8dab8-03c6-4a3f-8ec2-33eef1a7149b.png)

[2022-05-28 03:03] Qaker commented on #1286
Failed to resolve component: scroll-view
taro 3.4.9, nutui 3.1.20,  按需加载
h5端有没有什么临时的解决方案呢?

[2022-05-28 14:42] szg2008 commented on #1284
感谢提供思路，我们跟进一下

[2022-05-28 15:03] szg2008 commented on #1313
https://nutui.jd.com/#/component/infiniteloading 看一下文档

[2022-05-28 15:04] szg2008 commented on #1282
目前解决办法只能自己在外层增加样式控制

[2022-05-28 16:29] gcmsg opened #1330 "[bug]小程序开发文档错误"
## 问题描述
#### 官方网站指南页面中，小程序开发文档出现错误，导致配置NutUI出现编译错误，文档中config/index.js 中的sass变量配置key应为sass而非scss。
![screenshot-20220529-002227](https://user-images.githubusercontent.com/12009762/170833984-a235ecc5-8b36-4f16-a2d2-aca74476b219.png)

## 预期的行为和实际行为
### 预期行为
![screenshot-20220529-002134](https://user-images.githubusercontent.com/12009762/170834016-570246f3-9dfc-4d5c-84ec-ea8f57f260b3.png)
### 实际行为
![sc

[2022-05-29 01:56] suguer opened #1331 "[bug] nutui的table问题"
## 问题描述

我使用了nutui框架的Table,在H5的时候样式是正常的,但是在微信小程序上就会变形,还没加上任何css

## 最小可复现仓库

## 预期的行为和实际行为
![微信截图_20220529095424](https://user-images.githubusercontent.com/12389542/170848815-c8128864-b19a-4db0-8f7e-b810bf93b0e7.png)

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**： taro3
- **Node 版本**：
- **NutUI 版本**： 3.1.20
- **Vue 版本**： 3
- **引用方式**： yarn

[2022-05-29 02:14] szg2008 commented on #1331
请提供一下最小复现仓库，便于我们排查问题

[2022-05-30 00:44] Drjingfubo commented on #1315
按需引入还是全量引入。看着应该是组件没有引入进去的原因

[2022-05-30 01:19] suguer commented on #1331
我是直接用官方的例子就这样了,好像上传也复现不了,因为微信开发工具偶尔会正常排版一下,ios真机就一直不正常
[Table](https://nutui.jd.com/#/component/table)
官方例子
[code]

[2022-05-30 01:21] szg2008 commented on #1331
你看一下NutUI的体验版有问题么？先排除一下是否是兼容问题。在微信小程序中搜索NutUI

[2022-05-30 01:24] suguer commented on #1331
那个没有问题,我试过微信小程序的体验版,那个显示很正常

[2022-05-30 01:27] szg2008 commented on #1331
去官网加一下NutUI微信群，方便沟通和定位问题

[2022-05-30 01:27] suguer commented on #1331
好的,麻烦了

[2022-05-30 02:58] bin-bin-6 opened #1336 "[bug]在微信小程序webview容器下H5，nut-uploader点击无法响应，无法弹起拍照或选择图片按钮栏"
## 问题描述

在微信小程序webview容器下H5，nut-uploader点击无法响应，无法弹起拍照或选择图片按钮栏
官网demo有使用input[type='file']，然而当前版本使用后并没有input[type='file']

## 最小可复现仓库

    <nut-uploader
        :maximize="1024 * 10240"
        :headers="headers"
        maximum = "3"
        :capture="true"
        :disabled="false"
        @oversize="onOversize"
        v-model:file-list="leaseContractInfoList"
        :url="taskUploadFile"

[2022-05-30 03:32] emorywang commented on #1304
不好意思周末没查看邮件

我上传一个最小的代码包以及一小段录屏
代码包中使用的是 https://nutui.jd.com/#/component/tabs 和 https://nutui.jd.com/#/component/picker 中demo代码嵌套在一起的状态。

感谢回复和关注

[代码demo](https://emory.wang/test/taro3.zip)

[demo录屏](https://emory.wang/test/video_20220530112617.wmv)

[2022-05-30 04:50] 23john commented on #1315
按需引入，应该不是没引入进去 不在app.vue里在其他vue里就能正常使用

[2022-05-30 05:36] richard1015 commented on #1336
请提供完整的信息， nutui 包名及版本号

[2022-05-30 05:41] Drjingfubo commented on #1315
https://github.com/jdf2e/nutui-demo/tree/master/vite-ts 看下这个

[2022-05-30 05:43] bin-bin-6 commented on #1336
"@babel/runtime": "^7.7.7",
  "@nutui/nutui-taro": "^3.1.20",
  "@tarojs/components": "3.4.10",
  "@tarojs/plugin-framework-vue3": "3.4.10",
  "@tarojs/plugin-html": "3.4.10",
  "@tarojs/runtime": "3.4.10",
  "@tarojs/taro": "3.4.10",
  "path": "^0.12.7",
  "qrcodejs2": "^0.0.2",
  "vue": "^3.0.0"

[2022-05-30 05:44] bin-bin-6 commented on #1336
"@babel/runtime": "^7.7.7",
    "@nutui/nutui-taro": "^3.1.20",
    "@tarojs/components": "3.4.10",
    "@tarojs/plugin-framework-vue3": "3.4.10",
    "@tarojs/plugin-html": "3.4.10",
    "@tarojs/runtime": "3.4.10",
    "@tarojs/taro": "3.4.10",
    "path": "^0.12.7",
    "qrcodejs2": "^0.0.2",
    "vue": "^3.0.0",
    "vue-image-upload-resize": "^2.3.0"

[2022-05-30 05:45] bin-bin-6 commented on #1336
***@***.***/runtime": "^7.7.7",
***@***.***/nutui-taro": "^3.1.20",
***@***.***/components": "3.4.10",
***@***.***/plugin-framework-vue3": "3.4.10",
***@***.***/plugin-html": "3.4.10",
***@***.***/runtime": "3.4.10",
***@***.***/taro": "3.4.10",
"path": "^0.12.7",
"vue": "^3.0.0"

***@***.***

发件人： richard1015
发送时间： 2022-05-30 13:37
收件人： jdf2e/nutui
抄送： bin-bin-6; Author
主题： Re: [jdf2e/nutui] [bug

[2022-05-30 06:21] richard1015 commented on #1304
由于 picker 内部依赖popup , popup 在小程序场景无法进行 指定节点挂载， 目前的解决方案是，
1. 把 picker 放到 tabs 同节点下
2. 设置picker visible 默认值

向这样下面使用

[code]

[2022-05-30 06:21] #1304 closed, assigned to richard1015

[2022-05-30 07:39] emorywang commented on #1304
感谢回复，我试一下

[2022-05-30 10:11] #1292 closed, assigned to Drjingfubo

[2022-05-30 12:29] #1324 closed, assigned to szg2008

[2022-05-30 12:29] #1323 closed, assigned to szg2008

[2022-05-30 12:30] #1317 closed, assigned to richard1015

[2022-05-30 12:32] #1313 closed, assigned to nobody

[2022-05-30 12:33] #1290 closed, assigned to szg2008

[2022-05-30 12:33] #1289 closed, assigned to richard1015

[2022-05-30 12:33] #1288 closed, assigned to Drjingfubo

[2022-05-30 12:34] #1284 closed, assigned to szg2008

[2022-05-30 12:34] #1282 closed, assigned to szg2008

[2022-05-30 12:34] #1272 closed, assigned to richard1015

[2022-05-30 12:34] #1267 closed, assigned to richard1015, yangjinjun3

[2022-05-30 12:35] #1265 closed, assigned to szg2008

[2022-05-30 12:37] #1262 closed, assigned to yangxiaolu1993

[2022-05-30 12:37] #1257 closed, assigned to szg2008

[2022-05-30 12:39] #1281 closed, assigned to szg2008

[2022-05-30 12:40] #1253 closed, assigned to szg2008

[2022-05-30 12:41] #1171 closed, assigned to szg2008

[2022-05-30 12:41] #1245 closed, assigned to szg2008

[2022-05-30 12:41] #1151 closed, assigned to szg2008

[2022-05-30 12:41] #1330 closed, assigned to richard1015

[2022-05-30 12:42] #1115 closed, assigned to szg2008

[2022-05-30 12:42] #1066 closed, assigned to richard1015

[2022-05-30 12:42] #1155 closed, assigned to szg2008

[2022-05-30 12:43] richard1015 commented on #1269
使用响应式变量 reactive( 试试

[2022-05-30 12:43] #1269 closed, assigned to richard1015

[2022-05-30 12:43] #1085 closed, assigned to richard1015

[2022-05-30 12:44] #1001 closed, assigned to JackieScorpio

[2022-05-30 12:44] #1019 closed, assigned to szg2008

[2022-05-30 12:45] #1303 closed, assigned to nobody

[2022-05-30 12:45] #1191 closed, assigned to dongj0316

[2022-05-30 12:45] #1247 closed, assigned to richard1015

[2022-05-30 12:54] #538 closed, assigned to zhenyulei

[2022-05-30 12:54] richard1015 commented on #280
2.0已不再新增功能，请关注3.x

[2022-05-30 12:54] #280 closed

[2022-05-30 12:55] #290 closed

[2022-05-30 13:01] richard1015 commented on #354
关注3.x

[2022-05-31 02:53] ericsu138 commented on #1321
感觉nutui新版本就是半成品，kpi绩效项目，kpi考核完成，估计就烂尾了，nutui文档上关于category组件的示例关于右边栏的点击事件 @onChange="onChange" 方法就是传递不了参数的，不知道点击的是右边栏上的哪个项目，swiper组件也是有问题，如果是异步加载的滚动图片数据，swiper就加载不出来，高度和宽度为0了，还好研究了半天，最后发现强行通过v-if指令解决

[2022-05-31 03:26] maiguangyang commented on #1116
3.1.20 也有这个情况

[2022-05-31 03:31] ericsu138 commented on #1321
看了一下源代码，categorypane的@click="onChange()没有传递参数，需要传一下参数sku.catId
  <div class="nut-categorypane">
    <div v-if="type == 'classify'" class="nut-categorypane__cateListRight">
      <div v-for="(item, index) in categoryChild" :key="index">
        <div class="nut-categorypane__childTitle">{{ item.catName }}</div>

        <div v-if="item.catType == 1" class="nut-categorypane__childItemList">

[2022-05-31 06:58] zehuichan opened #1341 "[suggest] nut-input 想要一个input插槽"
## 你建议我们做什么？

 nut-input 想要一个input插槽

[2022-05-31 10:23] #286 closed

[2022-05-31 10:23] richard1015 commented on #327
2.0不再新增功能，请关注3.x

[2022-05-31 10:23] #327 closed

[2022-05-31 10:24] richard1015 commented on #328
2.0 API不再变更，请关注3.x

[2022-05-31 10:25] #333 closed

[2022-05-31 10:27] #845 closed, assigned to ninidesign

[2022-05-31 10:30] #470 closed, assigned to nobody

[2022-05-31 14:54] v2-lab opened #1342 "[bug]文档示例，少写了引入的依赖"
## 问题描述

https://nutui.jd.com/#/component/timeselect

这里还需要引入
Icon 和  OverLay 组件

[code]

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-05-31 15:21] v2-lab opened #1343 "[bug]Taro Vue3 微信小程序 TimeSelect 组件，detail和panel高度过高时无法滑动"
## 问题描述

Taro Vue3 微信小程序，使用 timeselect 配送时间组件，设置多个可选时间，超过 Popup 高度，无法滑动，timeDetail 和 TimePannel 都存在这个问题。

## 最小可复现仓库

## 预期的行为和实际行为
预期行为：可以滚动
实际行为：鼠标可以滚动，滑动 popup 不能滚动

## 复现步骤，具体代码

[code]
![image](https://user-images.githubusercontent.com/54586366/171207478-adb278e2-993c-4eff-a5c5-d94c5057e92d.png)
弹窗出现后，无法滑动

## 相关环境信息
- **操作系统**：MacOS
- **Node 版本**：v14.16.0
- **NutUI 版本**： 3.1.21
- **Vue 版本**：

[2022-05-31 15:30] juzijun2020 opened #1344 "[bug] tabs 3.1.21 异步加载数据的时候还是不能正常自适应高度"
## 问题描述
虽然在3.1.21里面新增了autoHeight参数，但是在异步加载的时候还是不能正常自适应高度。

## 预期的行为和实际行为
预期是高度自适应，但实际上只有第一个tab是自适应的，其他tab无法正常显示

## 复现步骤，具体代码

在官方示例代码 [数据异步渲染 3s ](https://github.com/jdf2e/nutui/blob/next/src/sites/mobile-taro/vue/src/nav/pages/tabs/index.vue) 加上` :auto-height="true"`参数即可复现

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 3.1.21
- **Vue 版本**：
- **引用方式**：  NPM

[2022-06-01 01:45] szg2008 commented on #1342
感谢反馈，已补充～

[2022-06-01 01:45] #1342 closed, assigned to nobody

[2022-06-01 03:04] ayayui commented on #1343
Dialog 也有这个问题，内容过多时候，无法滚动

[2022-06-01 04:06] szg2008 commented on #1343
无法滚动的原因是在popup中增加了catch-move。目前的解决办法，视情况而定，如果弹层中的内容需要滚动，那么需要先设置lock-scroll:false。然后在外层手动设置样式禁止滚动。[看这里](https://github.com/NervJS/taro/issues/5984)。如果弹层中的内容不需要滚动，那么直接设置lock-scroll:true即可。dialog，timeselect组件可以这样设置。picker，datepicker不需要，因为内部已经绑定了touch事件。timeselect在下一个版本会增加lock-scroll属性。

[2022-06-01 05:43] v2-lab commented on #1343
先使用 3.1.20 版本，3.1.20版本没有这个问题

[2022-06-01 06:32] szg2008 commented on #1343
可以的

[2022-06-01 06:32] #1343 closed, assigned to szg2008

[2022-06-01 07:03] #1218 closed, assigned to yangxiaolu1993

[2022-06-01 07:10] szg2008 commented on #1341
可以详细描述一下你的诉求，我们好跟进处理，🙏

[2022-06-01 12:45] mxlt02 opened #1345 "[bug]nut-swiper图片显示不完整"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
https://nutui.jd.com/#/component/swiper
官方文档实例中就存在此问题,  设置外边距时 图片右侧隐藏了一小部分, 无外边距时不存在此问题

## 相关环境信息
- **操作系统**：Windows 10
- **Node 版本**：16.15.0
- **NutUI 版本**： 3.1.20
- **Vue 版本**：3
- **引用方式**：  NPM

[2022-06-01 13:45] #1345 closed, assigned to nobody

[2022-06-02 01:10] richard1015 commented on #1344
设置 auto-height   必须设置 pane-key

[2022-06-02 01:11] zehuichan commented on #1341
[想要这样的](https://vant-contrib.gitee.io/vant/#/zh-CN/field#slots)

[code]

[2022-06-02 05:55] imivantang opened #1347 "[bug]Input组件中max-Length属性配置在type=”textarea“之外的情况下不生效"
## 问题描述
Input组件中max-Length属性配置在type=”textarea“之外的情况下不生效

## 最小可复现仓库
当前的next分支任然有该问题
https://github.com/jdf2e/nutui/blob/next/src/packages/__VUE/input/index.taro.vue
第46行代码

## 预期的行为和实际行为
1、Input组件中max-Length属性在type="text"等类型下依然生效
2、[组件文档](https://nutui.jd.com/#/component/input)的Prop章节中关于max-length的参数能与实际情况描述一致且统一，经测试使用“max-length”或“maxLength”均可

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：v1

[2022-06-04 12:40] SilentFlute commented on #1287
你的意思是使用的时候直接在style中用rpx单位而不是px单位吗?

[2022-06-04 14:05] louisscrew opened #1349 "[bug] ImagePreview 显示问题"
## 问题描述
目前使用的taro3开发微信小程序，当使用到ImagePreview时，发现ImagePreview显示有很大的问题。

首次打开预览时没有定位到第一个图片。如下所示
<img width="431" alt="image" src="https://user-images.githubusercontent.com/16482242/172000994-867fb5f7-f58f-4ba6-acaf-61c59da52870.png">

滑动时所有图片都在一个view中
<img width="427" alt="image" src="https://user-images.githubusercontent.com/16482242/172001018-dc06c97e-3ec9-4432-a542-484ccd2167ce.png">

滑动时下面有滚动条
<im

[2022-06-05 02:47] louisscrew commented on #1349
OK，问题解决了。
原来imagepreview组件依赖了其他的组件，否则无法正常显示和使用。依赖的组件有

- OverLay
- Popup
- Swiper
- SwiperItem

将这个组件引用即可。或者将所有组件都引用

[2022-06-05 02:47] #1349 closed, assigned to nobody

[2022-06-05 05:49] juzijun2020 opened #1350 "[suggest] 希望 Button 组件能增加一个原生 button 标签的 type 属性定义"
## 你建议我们做什么？

现在一个表单里面有多个button的时候，点击任何一个button 都会触发表单验证。

如果增加一个原生button标签的type属性定义（native-type），就不用担心表单内的其他非submit类型的按钮触发表单验证了。

官方文档里面提供的[动态表单示例](https://nutui.jd.com/#/component/form)不会出现上述问题，但是将示例代码复制到本地调试就会出现问题。

## 其它
本地版本信息
@tarojs/taro 3.4.11
@nutui/nutui-taro 3.1.21
vue 3.2.36

[2022-06-05 06:52] rocwong-cn commented on #1327
请问有进展吗？

[2022-06-05 14:20] SilentFlute commented on #1172
666, 我还想着像网页那样将最外层的`page`节点的`overflow`设置为`hidden`呢, 搜了半天没找到方法, 然后转念一想, 不如来`issue`里面看看, 结果就找到了, 感谢感谢~
不过我有一个疑问, 就是`nutui 3.x` `DatePicker`的文档里面并没有这个`catchMove`, 你是怎么发现这个`API`的啊?

[2022-06-05 14:24] szg2008 commented on #1331
你好，试了一下没有复现你上面的问题。方便的话通过官网加一下我们的官方微信交流群，方便排查问题，🙏

[2022-06-05 14:24] #1331 closed, assigned to szg2008

[2022-06-06 02:17] lengyeyu123 opened #1352 "uploader组件在微信小程序中无法使用"
## 问题描述
在使用uploader组件时，选择完图片后报错，ReferenceError: FormData is not defined

## 最小可复现仓库
已上传github
[https://github.com/lengyeyu123/lsmini.git](url)

[code]

## 预期的行为和实际行为
无报错信息 完成自动图片上传功能

## 相关环境信息
- **操作系统**：Windows 10 家庭中文版 21H1
- **Node 版本**：v16.14.0
- **NutUI 版本**： "@nutui/nutui-taro": "^3.1.8"
- **Vue 版本**："vue": "^3.0.0"
- **引用方式**：NPM
## 项目依赖
"@babel/runtime": "^7.7.7",
"@tarojs/runtime": "3.4.

[2022-06-06 03:05] szg2008 commented on #1352
安装[3.1.22-beta.0](https://www.npmjs.com/package/@nutui/nutui-taro/v/3.1.22-beta.0)试试

[2022-06-06 03:44] lengyeyu123 commented on #1352
升级后解决问题

[2022-06-06 03:44] #1352 closed, assigned to nobody

[2022-06-06 07:25] sickeeer opened #1353 "[bug] 小程序下 menu 组件无法手势滑动下拉"
## 问题描述
小程序下 menu 组件无法手势滑动下拉

## 最小可复现仓库
官方小程序 demo

## 预期的行为和实际行为
预期：移动端可以手势下滑，
实际：移动端无法下滑

## 复现步骤，具体代码
官方小程序 demo

## 相关环境信息
- **操作系统**：
- **Node 版本**：v14.18.1
- **NutUI 版本**： 3.1.21
- **Vue 版本**：3.0.0
- **引用方式**：  yarn

[2022-06-06 07:52] Ymm0008 commented on #1327
@rocwong-cn @waynehoo  textarea的问题已经处理，请更新到nutui最新版本，进行使用。

[2022-06-06 11:27] richard1015 commented on #1319
menu 参考这样的解决方案

由于 menu、picker 内部依赖popup , popup 在小程序场景无法进行 指定节点挂载， 目前的解决方案是，
1. 把 picker 放到 tabs 同节点下
2. 设置picker visible 默认值

向这样下面使用

[code]

[2022-06-06 11:27] #1319 closed, assigned to richard1015, yangjinjun3

[2022-06-06 15:31] Flamessea opened #1355 "[bug]Cascader 级联选择器 小程序端内容超出无法滚动"
## 问题描述
内容超出高度时，小程序端出现滚动条，但是内容无法手势滑动

## 最小可复现仓库

## 预期的行为和实际行为
希望小程序端可以手势滑动内容列表，结果小程序端却滑动不了，小程序开发工具上只有鼠标滚轮可以滚动，但是手势滑动不行

## 复现步骤，具体代码

![image](https://user-images.githubusercontent.com/42063891/172193386-6e022057-9aaa-4a15-89b4-21dd0e4fe8f2.png)

## 相关环境信息
- **操作系统**：ios
- **Node 版本**：16.15.0
- **NutUI 版本**： 3.1.21
- **Vue 版本**：3.0.0
- **引用方式**： npm

[2022-06-07 01:49] szg2008 commented on #1355
参考#1343

[2022-06-07 02:07] Flamessea commented on #1355
真棒

[2022-06-07 03:32] whoopsHzh commented on #1324
thx

[2022-06-07 03:43] hbalxzdl opened #1356 "[bug] vite打包错误 ERROR [vite]: Rollup failed to resolve import"
## 问题描述

打包出现错误：

ERROR  [vite]: Rollup failed to resolve import "@nutui/nutui/dist/packages/Button/index.scss" from "src/main.js".                     19:27:54
This is most likely unintended because it can break your application at runtime.
If you do want to externalize this module explicitly add it to
`build.rollupOptions.external`

## 相关环境信息
- **操作系统**：Linux
- **Node 版本**：16..15
- **NutUI 版本**：

[2022-06-07 03:43] rbshanshan opened #1357 "Infiniteloading 无限加载，滚动到底部没有触发加载回调"
![1654573309](https://user-images.githubusercontent.com/10164945/172291217-ca207c57-0e80-4c2f-a926-1b67b996cee4.png)
![1654573346](https://user-images.githubusercontent.com/10164945/172291232-cef37116-2846-406a-84f1-22e74434d819.png)

[2022-06-07 06:19] #1357 closed, assigned to nobody

[2022-06-07 08:07] XiangBo-EvanZuo opened #1358 "@click事件不能被监听到，只有@tap事件可以被监听"
## 小程序组件的click事件不能被监听到，只有tap事件

<img width="774" alt="image" src="https://user-images.githubusercontent.com/49554656/172329240-ea59acee-59de-40ad-a0fb-a8490ad178f1.png">
奇怪的是v-model是可以的

大佬们看一下是怎么回事

## 版本如下
    "@nutui/nutui-taro": "^3.1.21",
    "@tarojs/components": "3.2.13",
    "@tarojs/runtime": "3.2.13",
    "@tarojs/taro": "3.2.13",
    "babel-plugin-import": "^1.13.5",
    "vue": "^3.2.36

[2022-06-07 08:46] lw-742787938 opened #1359 "[bug] navBar组件占位问题"
## 问题描述
navBar组件开启占位，打包之后提示获取高度失败

## 最小可复现仓库

## 预期的行为和实际行为
正常获取高度

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：
- **Node 版本**：v16.15.1
- **NutUI 版本**： 3.1.21
- **Vue 版本**：3.2.24
- **引用方式**：  yarn

[2022-06-07 08:59] szg2008 commented on #1358
需要配置 @tarojs/plugin-html。具体可参考 https://github.com/jdf2e/nutui-demo/tree/master/taro3

[2022-06-07 09:02] #1355 closed, assigned to nobody

[2022-06-07 09:31] ylm159 opened #1360 "picker组件选择无效"
picker这个组件在小程序上如果快速滑动后点击确认 返回的结果不对， 因为好像选择有延迟

真机上会时不时的复现此问题，微信开发者工具不会有此问题

[2022-06-07 10:11] XiangBo-EvanZuo commented on #1358
@szg2008 感谢，已经搞定了。我刚才找了一个能用的项目，那里面就有@tarojs/plugin-html。现在我把项目迁移到那边儿去了。呜呜呜。
刚入taro坑就遭到了非人的折磨？？？
回头看看uni，我又露出了满意的smile。

[2022-06-07 10:12] PythonWongXb commented on #1358
closed

[2022-06-07 10:12] #1358 closed, assigned to nobody

[2022-06-07 12:12] richard1015 opened #1361 "nut-form-item的label能支持插槽形式自定义吗"
### Discussed in https://github.com/jdf2e/nutui/discussions/1285

<div type='discussions-op-text'>

<sup>Originally posted by **rich-bot** May 12, 2022</sup>
nut-form-item的label能支持插槽形式自定义吗</div>

[2022-06-08 00:55] Qirui-pig opened #1362 "[bug]小程序中使用input ios获取验证码后自动填写验证码 验证码显示正常但传递参数的验证码会少一位"
## 问题描述

使用nut-input ios获取验证码后自动填写验证码 4位验证码显示正常但传递参数的验证码会少一位，使用原生input不会出现这种问题
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
可以试下单独的input 在其他地方发送验证码后 点击input 会发现4位验证码会自动删一位 或者显示正常但是具体绑定数值少一位

## 相关环境信息
- **操作系统**：windows10
- **Node 版本**：16.14.2
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息@nutui/nutui-taro@^3.1.8
- **Vue 版本**：3.2.33
- **引用方式**：  CDN / NPM ？NPM

[2022-06-08 01:33] zhangzheng7856 opened #1363 "[suggest]下次编译的时候能不能吧项目里的console.log 剔除"
onMounted(() => {
      console.log(11, props.columns);
      if (props.visible)
        state.show = props.visible;
    });

[2022-06-08 01:57] richard1015 commented on #1356
vite config 按需加载重写一下  NutuiResolve
[code]

[2022-06-08 02:09] richard1015 commented on #1318
目前 Taro 层暂未修复此bug

[2022-06-08 02:11] richard1015 commented on #1316
辛苦提供一个 在线m3u8格式的 视频流，可以先自行在 video 原生标签测试一下

[2022-06-08 02:12] #1316 closed, assigned to nobody

[2022-06-08 02:12] #1315 closed, assigned to Drjingfubo

[2022-06-08 03:23] flmbbb opened #1364 "函数式调用 Dialog 出错"
## 问题描述

当用函数式调用Dialog弹窗时，不管在写代码，还是运行起来多会出错
## 最小可复现仓库

## 预期的行为和实际行为
![image](https://user-images.githubusercontent.com/17305384/172524881-7b2f4e91-dfbd-4676-88b6-c6fa982b061b.png)

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-06-08 06:33] rich-bot opened #1365 "[suggest] List 虚拟列表能增加一个scroll-top的事件吗"
## List 虚拟列表能增加一个scroll-top的事件吗

现在List 虚拟列表没有scroll-top事件

如果你能增加scroll-top事件

它将使得可以上拉刷新所有

## 其它

无

[2022-06-08 07:16] szg2008 commented on #1364
更新到3.1.21版本试试呢

[2022-06-08 07:19] szg2008 commented on #1353
参考 #1355

[2022-06-08 07:19] #1353 closed, assigned to nobody

[2022-06-09 01:07] #1364 closed, assigned to nobody

[2022-06-09 01:29] SimboDu123 opened #1366 "[suggest]Menu MenuItem可以增加一个自定义类名：titleClass吗"
## 你建议我们做什么？

现在想给Menu-item__title动态增加一个className 来实现自定义样式

如果你能...
Menu可以增加一个自定义类名
它将实现自定义样式

[2022-06-09 04:54] pp-tang opened #1367 "[bug]address实机无法滑动城市列表"
## 问题描述
使用nutui版本 3.1.21中  address组件， 在微信小程序开发工具中没有问题， 实机调试中就会出现无法滑动城市列表的情况，滚动条也没有出现

## 复现步骤，具体代码
只要在address组件中绑定的参数 province 放入很多数据即可复现

## 相关环境信息
- **操作系统**：win10
- **NutUI 版本**： 3.1.21
- **Vue 版本**：VUE3
- **引用方式**：   NPM

[2022-06-09 05:43] szg2008 commented on #1367
参考#1343

[2022-06-09 06:03] 1zilc opened #1368 "[bug]Signature组件TypeError: Cannot read properties of null (reading 'getContext')"
## 问题描述

无法使用 Signature 组件，好像是组件内部没有获取到canvas dom

## 最小可复现仓库

https://github.com/1zilc/nut-signature-repo
## 预期的行为和实际行为
预期行为：
正常初始化组件，并且可以使用签名功能

实际行为：
组件初始化报错

## 复现步骤，具体代码
[code]
[code]

报错信息：
<img width="758" alt="image" src="https://user-images.githubusercontent.com/44715458/172774964-ff3c3194-f09e-45c0-a6cb-59391d6a8f41.png">

## 相关环境信息
- **操作系统**：MacOS 12.3
- **Node 版本**：v16.15.0
- **NutUI

[2022-06-09 06:13] pp-tang commented on #1367
address 并没有实现 lock-scroll

[2022-06-09 06:14] pp-tang commented on #1367
这个应该是个变动导致的bug， 有的人说 3.1.20 并没有这个问题

[2022-06-09 06:17] pp-tang commented on #1367
计划在 3.1.22 修复 time-select， detail，panel  无法滚动的问题，但是 没有adress

[2022-06-09 06:18] 1zilc commented on #1368
如果是用 `@nutui/nutui` 里面的Signature 组件，在h5 dev环境能正常使用，h5 prod环境下打包后也会报这个错

[2022-06-09 08:25] jaqen404 commented on #1271
我也是，回退到v3.1.18就可以了

[2022-06-09 09:22] szg2008 commented on #1367
这个是popup的问题。看一下#1343的解决方案。

[2022-06-09 16:15] yangjinjun3 commented on #1366
您好，确认下 是要给 nut-menu__title 这个加自定义样式类名吗？

[2022-06-09 16:27] SimboDu123 commented on #1366
对的。比如当选中的值，标题虽然替换，从视觉上没有颜色这类变化不太明显。

[2022-06-09 17:21] yangjinjun3 commented on #1366
已添加，下个版本会发布，敬请期待！

[2022-06-10 02:52] allenou opened #1372 "[suggest] 有 icon 的组件能否提供一个 icon 插槽？"
## 你建议我们做什么？

现在...

有些组件（Steps、Menu、Cell 等）虽提供了自定义 icon 功能，但只能使用 nut-ui 内置的 icon font，无法使用外部的 icon font。

它将使...

若能提供插槽，用户可真正的自定义 icon（可根据需要使用使用自己的 icon font 或 image icon）

## 其它

无

[2022-06-10 02:57] Tenodec opened #1373 "是否考虑过小程序端iphone的下巴"
因为iphone全面屏下边有黑线，会导致actionsheet一类会被盖住一部分。vant就做了适配的

[2022-06-10 02:59] #1373 closed, assigned to nobody

[2022-06-10 06:34] emorywang commented on #1360
我也发现了这个问题，具体表现为：

picker打开选项后，如果快速滑动选项后即点击确认，则获取到的值并非是滑动目标值而是起始值；但是再次打开picker时会发现，picker的状态的确已经更改到目标值。

如果在滑动时，等待滑动效果完全结束再点击确定，则获得到的值是正确的。

[2022-06-10 12:52] #1327 closed, assigned to Ymm0008, ailululu

[2022-06-10 14:32] Ymm0008 commented on #847
感谢你的问题反馈。 @liuhp
1、问题1 ，rows 目前只支持 H5，将来会在文档标注。
2、问题2，目前也只支持H5。
如果特许此功能，可辛苦先尝试wx原生标签试试。
后期会针对以上2个问题进行分析优化，感谢。

[2022-06-10 14:32] #847 closed, assigned to Ymm0008, lzzwoniu

[2022-06-11 13:15] SimboDu123 commented on #1355
这个问题解决了吗？

[2022-06-11 15:02] szg2008 commented on #1355
参考https://github.com/jdf2e/nutui/issues/1343

[2022-06-13 02:29] #1347 closed, assigned to nobody

[2022-06-13 02:39] vipterry opened #1375 "[bug]在编译阶段的sass引入variables.scss文件导致编译后页面样式文件增大重复"
## 问题描述

由于在编译阶段增加的nutui全局变量文件variables.scss，此文件最后一行引入动画变量样式，导致编译后每一个页面的样式文件均存在此动画样式，大大增加原本已捉襟见肘的2M小程序空间。
![image](https://user-images.githubusercontent.com/7145196/173269207-45d8094c-4b5a-4737-a790-b00e9e9de5a6.png)
![image](https://user-images.githubusercontent.com/7145196/173269418-c7d33d41-c233-4730-9352-324e2fa98db1.png)

## 最小可复现仓库

![image](https://user-images.githubusercontent.com/7145196/

[2022-06-13 08:27] xingwuwjn opened #1376 "nutui版本为3.1.21签名组件开发环境可以正常使用，打包后报错无法进行签名[bug]"
## 问题描述

在@nutui/nutui": "3.1.21" 版本下测试环境签名组件可以正常签名，如图：
<img width="888" alt="image" src="https://user-images.githubusercontent.com/25215148/173302597-c2dee6e0-0b6c-48d8-80c8-c574ec8fe478.png">
在打包后报：
<img width="558" alt="image" src="https://user-images.githubusercontent.com/25215148/173302749-f90543bb-56ca-479b-9e2b-f577723c6a90.png">
导致无法进行签名，无法滑动。

## 最小可复现仓库

https://github.com/xingwuwjn/nutu

[2022-06-13 08:29] limitless-loong opened #1377 "[bug] v2 package dep"
## 问题描述

nutui v2分支的 package.json 文件中 "@babel/plugin-proposal-object-rest-spread"、"@babel/plugin-syntax-jsx"、"@babel/plugin-transform-runtime"、"@commitlint/cli"、"@commitlint/config-conventional" 、"babel-plugin-istanbul" 和 "standard-version" 等依赖安装位置不正确，应为开发依赖，现为项目依赖，导致下载依赖锁文件会出现上述开发依赖。

## 最小可复现仓库

## 预期的行为和实际行为
预期的行为：下载依赖锁文件不会出现开发依赖。
实际行为：下载依赖锁文件会出现开发依赖。

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：window

[2022-06-13 08:35] xingwuwjn commented on #1376
@nutui/nutui

[2022-06-13 09:30] richard1015 commented on #826
v2.3.10已修复

[2022-06-13 09:30] #826 closed, assigned to nobody

[2022-06-13 09:31] richard1015 commented on #1377
v2.3.10 已修复

[2022-06-13 09:31] #1377 closed, assigned to richard1015

[2022-06-13 12:24] aefj11 opened #1378 "[bug]nut-backtop不能正常使用"
## 问题描述
直接复制官方的demo，未正常显示

## 最小可复现仓库
<template>

  <div class="demo" id="elId">
    <div class="text-data">我是测试数据1</div>
    <div class="text-data">我是测试数据2</div>
    <div class="text-data">我是测试数据3</div>
    <div class="text-data">我是测试数据4</div>
    <div class="text-data">我是测试数据5</div>
    <div class="text-data">我是测试数据6</div>
    <div class="text-data">我是测试数据7</div>
    <div class="text-data">我是测试数

[2022-06-14 02:11] zehuichan opened #1379 "[suggest]nut-elevator 电梯楼层希望支持自定义模板"
## 希望支持自定义模板

[code]

[2022-06-14 06:13] johnshi opened #1381 "[bug]官方Nutui 微信小程序Demo中，sku自定义插槽演示中，popup后无法拖曳显示遮挡的sku选项"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：v16.15
- **NutUI 版本**： 3.1.21
- **Vue 版本**：3.2.37
- **引用方式**：  CDN / NPM ？NPM

[2022-06-14 06:39] jaqen404 opened #1382 "[bug]小程序端list组件，顶部快速上下滑动时白屏"
## 问题描述
小程序端list组件，顶部快速上下滑动时白屏

## 预期的行为和实际行为
预期滑到顶部时正常渲染
![WechatIMG601](https://user-images.githubusercontent.com/6075540/173509871-cae522a8-ff12-46b5-89a3-d96f1ffc0f11.jpeg)
实际顶部几项会经常出现渲染不出来
![WechatIMG602](https://user-images.githubusercontent.com/6075540/173509907-d09a6d24-92e8-431a-812f-cf1b64484472.jpeg)
![WechatIMG600](https://user-images.githubusercontent.com/6075540/173509924-b95bc86c-9d

[2022-06-14 07:32] WhileSun opened #1383 "小程序每个页面wxss中，ui的基础动画样式重复出现"
## 问题描述
动态引入ui样式，由于文件会引入[animation,mixins]样式，导致taro生成小程序时，每个page中都会引入[animation,mixins]样式，导致wxss文件变大
![image](https://user-images.githubusercontent.com/31122836/173519138-e2fb5441-c652-4783-8e1f-03287738dc33.png)
![image](https://user-images.githubusercontent.com/31122836/173519524-b2f25396-99f8-4d41-8adc-63f62c93ae7c.png)
![image](https://user-images.githubusercontent.com/31122836/173519592-b7b72

[2022-06-14 07:47] 929408183 commented on #1321
新版本确实很垃圾，vant3比nutui3.x好用得多，组件也更多

[2022-06-14 07:48] WhileSun commented on #1375
楼主有解决方案了吗

[2022-06-14 08:13] oneheartyang commented on #1271
请问你是回退的taro 版本还是 nutui/nutui 还是 nutui/nutui-taro

[2022-06-14 08:23] jaqen404 commented on #1271
@nutui/nutui-taro   v3.1.18

[2022-06-14 08:44] oneheartyang commented on #1271
"dependencies": {
  "@nutui/nutui-taro": "^3.1.18",
  "@tarojs/plugin-framework-vue3": "^3.4.11",
}
运行命令：yarn dev:h5
Taro v3.4.11

🙅   Failed to compile.

./node_modules/@nutui/nutui-taro/dist/styles/themes/default.scss)
Module build failed (from ./node_modules/sass-loader/dist/cjs.js):
SassError: Undefined operation "calc(100 / 24) * 1".
   ╷
18 │     margin-left: calc(100 / 24) * $i * 1%;
   │

[2022-06-14 09:54] Mou-arch opened #1384 "[bug] toast 组件注册后无法使用"
## 问题描述

根据官方文档使用 “ Toast” 组件时，在实例上没有$toast组件

通过在app.js中引入并注册

[code]

根据官方的示例调用
https://nutui.jd.com/#/component/toast

[code]

发现 $toast 为undefined
[code]

## 相关环境信息
- **操作系统**：OSX
- **Node 版本**：v14.17.0
- **NutUI 版本**： ^3.1.21
- **Vue 版本**：^3.0.0
- **引用方式**：NPM ？

[2022-06-15 01:41] unclemeric commented on #1327
你好，微信小程序上这个组件不能自动增高这个bug怎么解决，而且给的官网demo上那个例子在手机上运行也有问题呢

[2022-06-15 06:37] #1378 closed, assigned to nobody

[2022-06-15 06:38] aefj11 commented on #1378
网页展现的是h5的demo，不含taro的版本，需要下载源代码自己去看taro的demo

[2022-06-15 06:51] fanfantu opened #1385 "TimeSelect 的title是否可以支持输入html格式"
现状：1.
![image](https://user-images.githubusercontent.com/15604444/173761440-c0c610bf-760c-4bc3-bc77-edb293195358.png)
想要的结果：
![image](https://user-images.githubusercontent.com/15604444/173761521-0d46506a-0c90-4bb9-938a-12e02b601cbd.png)

[2022-06-15 08:37] Loading-source opened #1386 "使用nut-ui 3.1.21版本中 picker 出现了选项重叠的问题，滑动控制台报错。[bug]"
## 问题描述
使用nut-ui 3.1.21版本中  出现了选项重叠的问题，滑动控制台报错。如下图的问题
![image](https://user-images.githubusercontent.com/18030018/173782304-f82056c5-5502-431d-a6e5-7ed91fb0b09f.png)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-06-15 10:04] MyGitsAccount opened #1387 "Signature签名组件是否可以判断签名与否？"
Signature签名组件是否可以判断签名与否？

[2022-06-15 10:08] jasper-ops opened #1388 "[suggest]希望增加一套默认的直角的箭头图标"
## 希望增加一套默认的直角的箭头图标

现在的箭头图标是钝角的，不太好看呀，

如果能增加一套直角的箭头符号，那可太好了

[2022-06-15 10:08] richard1015 commented on #1384
$toast 我们准备弃用，推荐使用

[code]

[2022-06-15 10:08] #1384 closed, assigned to nobody

[2022-06-15 10:11] richard1015 commented on #1372
近期我们加一下，感谢反馈

font-class-name、
class-prefix

[2022-06-15 10:39] #1356 closed, assigned to richard1015

[2022-06-15 10:56] vipterry commented on #1375
只能临时解决，修改到nutui的源码了，需要修改以下三个：
1、nutui源码部分：找到 node_modules/@nutui/nutui-taro/dist/styles/variables.scss，移除最后一行：“@import './animation/index';”【图一】
2、Taro编译部分：找到config/index.js文件，sass.data暂时注释掉，在sass.resource数组内增加一行：'../node_modules/@nutui/nutui-taro/dist/styles/variables.scss' 【图二】
3、项目代码部分：在src/app.scss第一行增加引入#1注释的部分：@import '~@nutui/nutui-taro/dist/styles/animation/index.scss' 【图三】

![image](https

[2022-06-16 03:23] mrchenxxx opened #1390 "求问tabbar怎么设置跳转 用href会报错"
求问tabbar怎么设置跳转 用href会报错
![image](https://user-images.githubusercontent.com/44868578/173984269-f7810625-162f-46a8-81f6-d9dc916aaf77.png)
![image](https://user-images.githubusercontent.com/44868578/173984287-ce24981b-7e65-4104-a61a-e70bbe14d7ea.png)

[2022-06-16 03:28] zehuichan commented on #1341
看了下commit log，只是在form-item支持，但是form-item却不能单独使用，而我却需要nut-input组件新增input插槽的

[2022-06-16 03:31] yoyo837 opened #1391 "[suggest] 贡献指南文档完善"
## 你建议我们做什么？

目前, `clone`下来无法通过`npm install`直接安装成功, `yarn`可以，但前提是准备好 https://github.com/Automattic/node-canvas#compiling

如果新贡献者能从文档里一开始就清楚知晓这些，会少走很多弯路，减少对潜在贡献者的阻碍。

它将有助于项目活跃度提升

## 其它

原文档在这 https://nutui.jd.com/#/guide/contributing ，它的源码似乎不在当前repo中。

[2022-06-16 04:03] MyGitsAccount opened #1392 "Signature组件是否能根据外层盒子自适应大小？"
Signature组件是否能根据外层盒子自适应大小？
目前修改大小后canvas画笔位置不对，导致组件未达到想要效果

[2022-06-16 06:50] Mou-arch commented on #1384
在提交此问题时尝试过以上方式，但是报错了，提示 text is not function

[code]

[2022-06-16 07:42] richard1015 commented on #1336
自测 ，没问题 ，请升级至最新 版本3.1.22-beta.2 尝试一下

[2022-06-16 07:42] #1336 closed, assigned to richard1015

[2022-06-16 07:48] 929408183 commented on #1372
希望在nutui3.x其他组件中多扩展插槽，为开发者提供更灵活的使用，谢谢🤞 @richard1015

[2022-06-16 09:22] feier567 opened #1393 "[suggest]FixedNav 能不能提供选中高亮？"
选中的项目高亮显示

[2022-06-17 08:34] Godlovekids opened #1395 "[bug]ActionSheet 动作面板中Prop属性close-abled传值无效"
## 问题描述

ActionSheet 动作面板中Prop属性close-abled传值无效
看了下`/src/packages/__VUE/actionsheet/index.taro.vue`组件里面是没有接收这个参数的
[code]
这里也没有传值给popup组件
## 最小可复现仓库

## 预期的行为和实际行为
希望可以点击遮罩层不自动关闭

## 复现步骤，具体代码

## 相关环境信息
- **NutUI 版本**： 3.1.21

[2022-06-18 04:07] KAIUP opened #1396 "[bug]tabs组件添加title-scroll属性后，标签栏无法滚动"
## 问题描述
3.x版本的tabs组件添加title-scroll属性后，标签栏无法滚动

## 预期的行为和实际行为
添加title-scroll属性应该可以滚动

## 复现步骤，具体代码
官网上的demo也是无效的

## 相关环境信息
- **操作系统** ：window
- **Node 版本** ：14.13.0
- **NutUI 版本** ：^3.1.21
- **Vue 版本**：^3.2.13
- **引用方式**：NPM

[2022-06-20 09:42] HongLiangGong1990 opened #1400 "[bug] 官方示例小程序中datepicker滑动选择日期卡顿"
## 问题描述

官方的微信小程序中datepicker上下滑动选择日期，选择器滚动卡顿，并且和是否初始化无关，每次弹出日期选择器进行日期选择都会出现卡顿，设备是iphone12，重启手机后仍然一样的卡顿现象，微信开发者工具中调试，无明显卡顿，datepicker依赖的是picker组件，picker也有明显的卡顿
## 最小可复现仓库
官方示例微信小程序即可复现，必现

## 预期的行为和实际行为
预期滑动选择日期时，不应当卡顿

## 复现步骤，具体代码
手机打开官方微信小程序进入datepicker滑动选择日期时，会出现明显卡顿

## 相关环境信息
- **操作系统**：ios 14.71
- **Node 版本**：v16.15.0
- **NutUI 版本**： 3.1.21
- **Vue 版本**：3.2.24
- **引用方式**：  NPM

[2022-06-20 09:48] HongLiangGong1990 commented on #1390
可以在tab-switch事件中使用navigateTo跳转页面

[2022-06-20 09:49] HongLiangGong1990 commented on #1386
不仅是重影问题，我在官方小程序中，上下滑动出现卡顿的情况

[2022-06-20 11:58] richard1015 commented on #1396
使用 3.1.22.beta-3试试看呢

[2022-06-20 11:59] richard1015 commented on #1396
[3.1.22-beta.3](https://www.npmjs.com/package/@nutui/nutui/v/3.1.22-beta.3)

[2022-06-20 12:15] ShawnZeng commented on #1094
这个是怎么解决的，placeholder-class不好使啊

[2022-06-20 12:26] ShawnZeng commented on #1094
知道了，class是固定的 textarea-placeholder

[2022-06-20 22:45] mrchenxxx commented on #1390
谢谢回复 有示例代码吗

[2022-06-21 01:18] Ymm0008 commented on #1314
感谢您的问题反馈，目前问题已解决，在下个版本发布~ @Sakiyary @jingyuhao1995

[2022-06-21 01:18] #1314 closed, assigned to Ymm0008

[2022-06-21 01:42] jingyuhao1995 commented on #1314
预计哪天发版呢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "jdf2e/nutui"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年6月21日(星期二) 上午9:18
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [jdf2e/n

[2022-06-21 02:03] Ymm0008 commented on #1314
@jingyuhao1995   本周五发布，v3.1.22

[2022-06-21 02:38] Drjingfubo commented on #1390
路由跳转用to

[2022-06-21 02:38] Drjingfubo commented on #1390
看下文档

[2022-06-21 05:41] yeahjsen opened #1402 "文档指南是不是内容与主题对应不一致？"
https://nutui.jd.com/#/component/overlay
https://nutui.jd.com/#/component/popup

[2022-06-21 05:48] #1390 closed, assigned to nobody

[2022-06-21 06:59] aefj11 opened #1404 "[bug] steps页面等示例及内容展现错误"
已经发现的错误页面

OverLay  展现对应内容为  Notify  消息通知
Divider 分割线  展现对应内容为  Dialog  对话框
Layout 布局   展现对应内容为  InfiniteLoading  滚动加载

等等，我发现有问题随便看了下就发现了这么多，还有，麻烦核对下

[2022-06-21 07:52] richard1015 commented on #1404
刚刚发布官网有缓存， 刷新一下就好了

[2022-06-21 07:52] #1404 closed, assigned to nobody

[2022-06-21 07:53] szg2008 commented on #1402
已修复

[2022-06-21 07:53] #1402 closed, assigned to nobody

[2022-06-21 07:53] szg2008 commented on #1385
已支持，本周发布

[2022-06-21 08:55] liuxinju commented on #1283
taro
@nutui/nutui-taro: "3.1.18"
直接使用https://nutui.jd.com/#/zh-CN/component/calendar 这边的demo修改下日期就可以复现

[2022-06-21 10:20] szg2008 commented on #1379
是有什么特殊的需求么？能否详细描述一下场景

[2022-06-21 11:00] fanatic-studio opened #1406 "tabs组件在nut-popup包裹时title-scroll 失效"
## 问题描述

tabs组件在nut-popup包裹时 title-scroll 滚动属性失效
## 最小可复现仓库

[code]

## 预期的行为和实际行为

能够滚动且自动居中

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：mac
- **Node 版本**：v16.15.0
- **NutUI 版本**：^3.1.8"
- **Vue 版本**：^3.0.0
- **引用方式**：  CDN / NPM ？

[2022-06-21 14:06] zehuichan commented on #1379
for example: 车系需要展示logo

[2022-06-21 14:59] emeiziying commented on #1400
+1

[2022-06-21 16:37] emeiziying opened #1407 "[bug] form中使用datepicker height 问题"
## 问题描述
目前datepicker需要简单封装一下作为component在form中使用，

[code]

a.vue

[code]

即使这样也会报height问题

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-06-22 07:24] emorywang opened #1408 "[bug] Cell Slots中使用Layout，会导致Cell和Row的@click事件全部失效"
## 问题描述
在Cell中使用自定义插槽，其中再套用《Layout布局》（nut-row及nut-col）的话，会导致Cell层级的@click事件失效无法触发，同时nut-row的@click事件也失效无法触发，只有把@click事件加在nut-col时才能触发。

## 预期的行为和实际行为
如果只定义了一个层级的@click事件，应使其生效可触发。谢谢

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：Windows 10
- **Node 版本**：16.15.0
- **NutUI 版本**： 3.1.21/taro 3.4.12
- **Vue 版本**：3.2.31
- **引用方式**：  NPM

[2022-06-22 11:35] 490626721 opened #1409 "[bug]Ellipsis 组件无法导入"
## 问题描述
按照文档引入Ellipsis 失败

## 最小可复现仓库
import {Ellipsis} from "@nutui/nutui"
报红，Module '"@nutui/nutui"' has no exported member 'Ellipsis'.

## 预期的行为和实际行为
能正常引入和使用

## 复现步骤，具体代码
import {Ellipsis} from "@nutui/nutui"

## 相关环境信息
- **操作系统**：win 10
- **Node 版本**：16.15.1
- **NutUI 版本**： ^3.1.21
- **Vue 版本**：vite 2.9.9
- **引用方式**：  NPM

[2022-06-23 06:08] richard1015 commented on #1409
3.1.22 可使用，明天发布

[2022-06-23 06:37] 490626721 commented on #133
使用click.native任然无法解决

[2022-06-23 13:21] Olaf0509 opened #1413 "Dialog组件禁止滚动，关闭弹窗后，页面展示异常"
## 问题描述
Dialog组件禁止滚动，关闭弹窗后，页面展示异常

## 最小可复现仓库
初步定位是因为：组件lockBgScroll属性影响的，应该在禁用滚动，设置body定位的时候js计算了当前页面的滚动值，动态赋给body了，但是在组件关闭的时候缺少了重置body top属性逻辑

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：macOS
- **Node 版本**：10.13.0
- **NutUI 版本**： 2.2.18
- **Vue 版本**：2.5.17
- **引用方式**：  NPM

[2022-06-23 14:16] KAIUP commented on #1396
3.1.22-beta.3是可以滚动，但不是我想要的效果，应该有的效果是点击自动滚动居中的那种。目前自己实现了个这种效果的，这种效果的tab算是个建议吧。

[2022-06-24 01:31] szg2008 commented on #646
已支持，6.24发版

[2022-06-24 02:06] StavinLi commented on #1400
+1

[2022-06-24 02:08] StavinLi commented on #1386
卡顿+1

[2022-06-24 06:22] liuxinju opened #1415 "Popup 组件的lock-scroll在小程序上无效"
## 问题描述

小程序taro上，当页面长度超出屏幕长度时 popup 、actionsheet、nut-actionsheet 等有遮罩层的组件在滑动时，弹出层的底部会滑动。

## 最小可复现仓库

[code]

## 预期的行为和实际行为
 预期的行为 ：弹窗弹窗出时，弹窗中的滚动不影响底部的页面
实际行为: 时间滑动时带动底部的底部内容滑动

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：v16.15.0
- **NutUI 版本**："@nutui/nutui-taro": "^3.1.18",      查看项目package.json 中 @nutui/* 信息
- **Vue 版本**："vue": "^3.2.33",
- **引用方式**：  CDN / NPM ？ npm

[2022-06-24 07:18] xiao-zhang-923 opened #1416 "单选radio遍历样式id为4的没有对齐，其他的完好"
<template>
  <nut-input
    label="服务类型"
    readonly
    right-icon="arrow-right"
    v-model="state.serviceType"
    @click-input="serviceTypeClick(state.serviceType)"

  <nut-popup
    position="right"
    :style="{ width: '70%', height: '100%' }"
    v-model:visible="state.showLeft"
    @click-overlay="state.showLeft == false"

    <nut-cell-group title="请选择服务类型">
      <nut-cell>
        <nut

[2022-06-24 07:50] az031120103 opened #1417 "[bug]小程序中 FormItem 嵌套 Picker 报错"
## 问题描述

小程序只要在 FormItem 组件嵌套 Picker 组件就会报错
Unhandled promise rejection TypeError: Cannot read property 'height' of null

## 复现步骤，具体代码

const show = ref(false)
const columns = ref([
  { text: '南京市', value: 'NanJing' },
  { text: '无锡市', value: 'WuXi' },
  { text: '海北藏族自治区', value: 'ZangZu' },
  { text: '北京市', value: 'BeiJing' },
  { text: '连云港市', value: 'LianYunGang' },
  { text: '浙江市', value: 'Zhe

[2022-06-24 08:20] Flamessea commented on #1367
我也遇到这样的问题，改成用 3.1.20，但是3.1.20版本 nut-cascader 又会出现另外的滚动问题，心有点累，决定自己造轮子了

[2022-06-24 08:29] #1416 closed, assigned to nobody

[2022-06-24 08:35] xiao-zhang-923 opened #1419 "radio对齐"
## 问题描述

raido遍历的时候有个选项往右了一点，没有对齐
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：mac
- **Node 版本**：v14.17.4
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息. ^3.1.10
- **Vue 版本**：@vue/cli 4.5.15
- **引用方式**：  CDN / NPM ？npm

[2022-06-24 10:28] richard1015 commented on #1396
升级 v3.1.22 正式包测试一下
点击自动居中，下个版本发布

[2022-06-24 10:28] #1396 closed, assigned to richard1015

[2022-06-24 10:29] #646 closed, assigned to szg2008

[2022-06-24 10:29] richard1015 commented on #1363
v3.1.22 已发布

[2022-06-24 10:29] #1363 closed, assigned to richard1015

[2022-06-24 10:29] richard1015 commented on #1150
v3.1.22 已发布

[2022-06-24 10:29] #1150 closed, assigned to richard1015

[2022-06-24 10:29] richard1015 commented on #1150
动态主题后期会添加

[2022-06-24 10:30] #1415 closed, assigned to nobody

[2022-06-24 10:30] #1385 closed, assigned to szg2008

[2022-06-24 10:30] #1379 closed, assigned to szg2008

[2022-06-24 10:31] richard1015 commented on #1406
升级 3.1.22测试一下

[2022-06-24 10:31] #1406 closed, assigned to nobody

[2022-06-24 10:31] richard1015 commented on #1406
点击后 自动居中 下版本支持

[2022-06-24 10:33] #1341 closed, assigned to ailululu

[2022-06-24 10:33] richard1015 commented on #1344
3.1.22 已发布

[2022-06-24 10:33] #1344 closed, assigned to richard1015

[2022-06-24 10:34] ailululu commented on #1341
v3.1.22 已新增改插槽

[2022-06-24 10:36] richard1015 commented on #1322
v3.1.22 已发布

[2022-06-24 10:36] #1322 closed, assigned to richard1015

[2022-06-24 10:37] richard1015 commented on #1409
v3.1.22 已发布

[2022-06-24 10:37] #1409 closed, assigned to nobody

[2022-06-24 10:37] richard1015 commented on #1407
date picker 不要放到 nut-form 节点下，

[2022-06-24 10:37] #1407 closed, assigned to nobody

[2022-06-24 10:39] #1350 closed, assigned to richard1015

[2022-06-24 10:39] richard1015 commented on #1361
v3.1.22 已发布

[2022-06-24 10:39] #1361 closed, assigned to richard1015

[2022-06-24 13:45] hhch commented on #1384
为啥关了 nutui-taro我的也是，not a function

[2022-06-24 16:41] 490626721 opened #1421 "[bug]ImagePreview 图片预览 样式错误（h5）"
## 问题描述
按文档使用ImagePreview 图片预览出现无法弹出，DOM是文档流，并非fixed固定，怀疑是ImagePreview相关CSS丢失

## 最小可复现仓库

## 预期的行为和实际行为
正常显示

## 复现步骤，具体代码

无报错

## 相关环境信息
- **操作系统**：win10
- **Node 版本**：16.15.1
- **NutUI 版本**： 3.1.21
- **Vue 版本**：vite 2.9.9
- **引用方式**：   NPM

[2022-06-24 16:44] 490626721 commented on #1421
升级到3.1.22该问题还是存在

[2022-06-27 05:31] westfruit opened #1426 "[bug]signature组件异常"
## 问题描述

我将版本升级到3.1.22结果测试发现签名组件无法签名，点确认或重签无反应，我将版本回退到3.1.18发现问题依旧。

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
### main中的引用
`import NutUI from "@nutui/nutui";
const app = createApp(App)
app.use(Signature);
`
### 具体页面代码
`        <template v-if="agreement">
          <div class="body-head tline">
            签名
          </div>
          <div class="content">
            <nut-signature @confirm="signa

[2022-06-27 06:28] xiao-zhang-923 opened #1427 "[bug]Calendar日历"
## 问题描述

Calendar日历 dafault-value 设置了以后，当前月份从1号开始可选，不是当前日期以前禁用
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：mac
- **Node 版本**：v14.17.4
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息 ^3.1.10
- **Vue 版本**：@vue/cli 4.5.15
- **引用方式**：  CDN / NPM ？npm

[2022-06-27 10:09] richard1015 commented on #1426
3.1.23-beta.0试试

[2022-06-28 03:51] 2256184693 opened #1429 "[bug] DatePicker选择器 小时区域 滑动异常"
## 问题描述

DatePicker选择器中，小时区域滑动时异常。
<img width="366" alt="image" src="https://user-images.githubusercontent.com/26702624/176087874-04a5b0fa-fe2f-41ff-be41-88448028c9ba.png">

## 最小可复现仓库
具体现象可参考官网组件DatePicker区。https://nutui.jd.com/jdt/#/zh-CN/component/datepicker

## 预期的行为和实际行为
小时区域交互正常，可正常展示、滑动

## 复现步骤，具体代码
DatePicker开始选择时间，滑动小时区域滑块

## 相关环境信息
- **操作系统**：Mac
- **Node 版本**：-
- **NutUI 版本**： 查看项目pac

[2022-06-28 06:32] Yunhui opened #1430 "[bug] Cascader 在微信小程序下弹出输入框"
## 问题描述

在iOS微信小程序中，Cascader 和输入框会同时弹出！h5没有这个问题

## 复现步骤，具体代码
官方demo微信小程序也有

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：3.1.22
- **Vue 版本**：vue3
- **引用方式**：  CDN / NPM ？

[2022-06-28 09:22] 6xiaoxin opened #1432 "[bug]微信小程序使用textarea报错"
## 问题描述
微信小程序使用nut-textarea报错
![image](https://user-images.githubusercontent.com/55842780/176142107-ca104cf6-706a-42ca-9fb2-9dd0fd021040.png)

## 最小可复现仓库
https://nutui.jd.com/#/zh-cn/component/textarea

## 预期的行为和实际行为
正常引用

## 复现步骤，具体代码
按需引入的方式。
微信小程序开发工具版本：1.05.2204250
调试基础库：2.24.6

## 相关环境信息
- **操作系统**：
- **Node 版本**：16.10.0
- **NutUI 版本**： 3.1.22
- **Vue 版本**：vue3
- **引用方式**：   NPM

[2022-06-28 09:40] tangguo13 opened #1433 "[bug] h5视频组件 播放完 跳转另一个页面黑屏，必须手动点击播放才可以"
第一个页面
playend() {
            this.$emit("playOver");
 }

跳转到的页面
结果：黑屏需要用户手动点击播放
期望：视频可以自动播放

是否静音都是黑屏的

[2022-06-28 15:08] jasper-ops opened #1434 "[bug] 级联选择器套在nut-tabpane中使用时，显示异常"
## 问题描述

在微信小程序中，级联选择器放在了nut-tabpane中时，显示异常，只显示在nut-tabpane中
## 最小可复现仓库

## 预期的行为和实际行为
预期全屏显示，实际上只在nut-tabpane中显示了
建议不要直接嵌套一个popup，应该让用户自定义的操作方式，也许需要直接显示在页面中呢？而不需要弹出显示呢，现在的模式就有一点问题

## 复现步骤，具体代码
git项目中的第一个页面有演示代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：16.15.1
- **NutUI 版本**： 3.1.22
- **Vue 版本**：3.0
- **引用方式**：  NPM

[2022-06-29 03:01] zhuwei commented on #730
直接无视了？我晕，官方还推荐用这个ui

[2022-06-29 03:10] 6xiaoxin opened #1435 "[bug]微信小程序使用nut-uploader报错FormData is not defined"
## 问题描述

微信小程序使用nut-uploader报错FormData is not defined，在微信小程序中没有FormData对象，所以在微信小程序中无法使用new FormData()。
![image](https://user-images.githubusercontent.com/55842780/176342615-5d86f21d-b561-4add-ba97-d7c23000d91f.png)

## 最小可复现仓库
https://nutui.jd.com/#/zh-cn/component/uploader-taro

## 预期的行为和实际行为

## 复现步骤，具体代码
按需引入的方式。
微信小程序开发工具版本：1.05.2204250
调试基础库：2.24.6

## 相关环境信息
- **操作系统**：win10专业版
- **Node 版本**

[2022-06-29 07:36] wavesbig opened #1437 "[bug] popup taro 遮罩层不生效"
## 问题描述
 引用 popup 后默认不展示遮罩层，设置 overlay 为true也不生效

![image](https://user-images.githubusercontent.com/34082148/176379139-2e8e3d8a-e005-4283-990c-ea0e95fad30a.png)

![image](https://user-images.githubusercontent.com/34082148/176379072-86dfd164-38ae-4342-8df3-633bbf0a12df.png)

## 相关环境信息
- **操作系统**：win11
- **Node 版本**：14.15.0
- **NutUI 版本**： 3.1.22
- **Vue 版本**：3
- **引用方式**： NPM

[2022-06-29 08:36] szg2008 commented on #1437
需要额外引入overlay组件

[2022-06-29 08:36] #1437 closed, assigned to nobody

[2022-06-29 08:38] wavesbig commented on #1437
搜嘎搜嘎，感谢

[2022-06-29 08:39] wavesbig commented on #1437
还有一个问题，我能用标签名设置样式吗view，swiper，textarea这种

[2022-06-29 09:32] #1391 closed, assigned to nobody

[2022-06-29 09:48] richard1015 commented on #1434
由于popup 当前小程序 内不支持，指定节点挂载， 暂时不能套进 tabpane中

[2022-06-29 09:49] richard1015 commented on #1435
升级 3.1.22 试试，这个bug 3.1.22 已经修复了

[2022-06-29 09:55] harjim commented on #1116
3.1.22 有这个问题，并且 cv 官方示例连关闭都无法。taro 版本 3.4.12

[2022-06-29 10:31] richard1015 commented on #1435
https://github.com/jdf2e/nutui-demo/blob/master/taro/src/dentry/pages/uploader/index.vue

[2022-06-29 10:31] #1435 closed, assigned to nobody

[2022-06-29 15:52] huysh3 commented on #133
@490626721
加多个 `:is-preventDefault="true"`

[2022-06-30 02:36] zhaoyunchong opened #1438 "希望Comment 评论组件, 星星的点击状态 改成只读"
## 你建议我们做什么？
希望Comment 评论组件, 可以禁用掉 评价 星星的点击状态 改成只读, 因为评论之后 显示出来的评价是无法点击更改评论的星级的

现在...

如果你能...

它将使...

## 其它

无

[2022-06-30 08:41] wavesbig opened #1439 "[suggest] 使用Vuter代码提示生效，Volar代码提示不生效"
## 你建议我们做什么？
使用Vuter的情况下对script setup会有报错，希望支持Volar插件下的组件代码提示

[2022-07-01 02:06] szg2008 commented on #1439
没太明白，您指的是NutUI组件支持Volar吗？

[2022-07-01 02:08] wavesbig commented on #1439
对的支持在volar下的代码提示

[2022-07-01 02:08] #1367 closed, assigned to nobody

[2022-07-01 02:10] #1366 closed, assigned to yangjinjun3

[2022-07-01 02:46] zuozuolovegit commented on #1319
这个方式弹框会从底部弹出，有其他的方式处理吗  我们的需求是想从上面弹出

[2022-07-01 03:02] yycmd opened #1441 "[suggest]希望修改一下Taro版本 Input 组件的 readonly 和 disable 的应用逻辑"
## 希望修改一下Taro版本 Input 组件的 readonly 和 disable 的应用逻辑

按照目前 v3.1.22 版本，现在情况是这样的：

比如我有以下这样一个 Input 组件，由输入和右侧按钮组成

![这是我的一个示例组件](https://user-images.githubusercontent.com/17695132/176813950-22010077-5803-4f7d-b359-2cdbc13abd90.jpeg)

v3.1.22 版本  readonly 和 disable 的应用逻辑分别是：

* readonly = "true" 的情况下：
      Input 无法输入，右侧按钮的 click-right-icon 事件无法触发
* disable = "true" 的情况下：
      Input 无法输入，右侧按钮的 click-r

[2022-07-01 06:23] ilovintit opened #1442 "[bug] taro下使用swiper-item组件vue.d.ts文件命名生成错误"
## 问题描述

使用taro和vue3+ts开发时，ide识别的d.ts文件识别错误.
@nutui-taro/dist/types/_VUE/swiperitem/index.taro.vue.d.ts 文件内的
[code]
段代码item的首字符大小写错误，正确应该是大写，这样子ide才能识别出是swiper-item而不是现在的swiperitem连起来了。
[code]

## 最小可复现仓库

## 预期的行为和实际行为
拼写修改正确

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：mac
- **Node 版本**：node 16
- **NutUI 版本**： 3.1.21
- **Vue 版本**：3.0
- **引用方式**：  npm

[2022-07-01 08:40] szg2008 commented on #1442
感谢反馈，我们跟进下

[2022-07-01 08:42] szg2008 commented on #1439
ok，后面版本会支持，感谢反馈～

[2022-07-04 01:11] #1283 closed, assigned to lkjh3214

[2022-07-04 09:42] xiaoyue9527 opened #1443 "请问目前有计划支持服务端渲染吗？或者支持nuxt3中使用项目"
我在做一个企业对外的演示平台，目前移动端打算使用nutUI作为UI框架。因为基础框架是nuxt3目前看并没有这方面的支持，所以想问下咱们以后会支持nuxt3吗？

[2022-07-04 11:03] CNMathon commented on #835
遇到相同问题，但存在于`@nutui/nutui`

[code]

[2022-07-04 11:41] moumouxu opened #1444 "font无法加载Refused to load the font 'data:font/ttf;base64,AAEAAA"
![image](https://user-images.githubusercontent.com/16475960/177147588-6eaa32f7-6ec0-4198-ba35-1e9f25202ff0.png)

[2022-07-04 15:27] chawson commented on #1341
鸡肋！为了实现input插槽，导致整个nut-input几乎失去了意义 leftIcon和rightIcon直接被干掉了

[2022-07-05 07:18] SimboDu123 opened #1445 "[suggest]menuitem上增加自定义class"
## 你建议我们做什么？
![image](https://user-images.githubusercontent.com/23043164/177271666-f1346369-9006-4d83-ae89-da48fa22baf5.png)
现在...
menu上有自定义class
如果你能...
menuitem上增加
它将使...
menuitem样式根据数据变化而变化
## 其它

无

[2022-07-05 07:29] SimboDu123 opened #1446 "menu组件：当menuitem个数超过一屏宽度，是否可以增加滑动操作"
## 你建议我们做什么？
menu组件：当menuitem个数超过一屏宽度，是否可以增加滑动操作

现在...
menuitem个数超过一屏宽度，被隐藏/挤到一起
如果你能...
增加自动滑动操作
它将使...
组件交互场景更丰富
## 其它

无

[2022-07-05 07:34] SimboDu123 opened #1447 "swiper组件没有touchmove交互事件？"
## 你建议我们做什么？
swiper组件没有touchmove事件，
现在...
touchend之后，事件才执行，出现延迟。
如果你能...
增加touchmove交互 + 弹性距离【清除自动事件，采用move距离事件，touchend开启自动事件】
它将使...
交互更友好
## 其它

无

[2022-07-05 08:52] wavesbig opened #1448 "[question]Uploader 组件的accept"
## 你想知道什么？

Uploader 组件的accept 设置 * 或者默认或者’.pdf‘弹出的选择文件都是图片文件这样是正常的吗
![image](https://user-images.githubusercontent.com/34082148/177289571-812796e5-b6e1-4045-85b5-d9ca0f36cef2.png)

[2022-07-05 10:06] szg2008 commented on #1447
目前是有touchmove事件的，没太明白你说的意思，能具体描述下吗

[2022-07-06 01:04] richard1015 commented on #1448
使用包名请描述清楚
 @nutui/nutui-taro   ？
 @nutui/nutui    ？

[2022-07-06 02:09] wavesbig commented on #1448
使用的@nutui/nutui-taro，是不是里面用的方法是chooseImg

[2022-07-06 02:45] FarAwayShe commented on #1085
这个只能自动按需加载样式，组件还是要手动导入是吗

[2022-07-06 04:24] juzijun2020 opened #1449 "[suggest] 希望tabbar 的 v-model:visible 能支持name的匹配"
## 你建议我们做什么？

现在的tabbar对选中标签的索引值只支持number，正常情况下我们会把tabbar 封装到一个组件里面，然后在其他页面调用这个tabbar，在调用这个组件的时候我们会动态传入tabbar的索引值，但是当我调整了tabbar-item的顺序的时候，我需要同步修改每个页面的索引值，这样很麻烦，如果能增加对 name属性的支持，这样就很灵活了，不管顺序怎么变(只要name不变)，我就不需要去改其他页面的索引值。

## 其它
可参考vant [vant-tabbar](https://vant-contrib.gitee.io/vant/#/zh-CN/tabbar#tabbaritem-props)

[2022-07-06 06:29] Raywh opened #1450 "[question]"
## placeholder的内容不能设置为空么？

placeholder我没有这个参数显示请输入...

## 其它

无

[2022-07-06 07:44] slpss opened #1451 "[bug]Vue下的音频播放器进度条：音频时长的秒级显示异常"
## 问题描述
@nutui/nutui的音频播放组件【nut-audio】的进度条，当前播放时长与音频总时长显示异常，秒级显示不出来，官网demo就有问题的
![image](https://user-images.githubusercontent.com/108789766/177497269-fe08def1-0e9f-4153-9801-54b2b00a4153.png)

[2022-07-06 09:48] Yunhui commented on #1430
死气沉沉

[2022-07-06 10:25] 0xA1b commented on #996
这个团队太垃圾了，菜的一批，手势滑动，他们写不出来，一个ui库的质量水平可以从一些需要滑动交互的组件可以看出来，这个组件团队就是垃圾！
（包括taro-ui-vue3的作者也没写出来，可笑的是文档写了 props可配置<swipeable | 是否支持手势滑动切换内容页>，却连自己的demo都没实现手势滑动😄）

[2022-07-07 01:22] zirtomirzhang commented on #1400
+1

[2022-07-07 08:43] wavesbig commented on #1448
@nutui/nutui-taro的Uploader 设置 *.pdf 我在手机上选择不到pdf文件只能选择图片文件

[2022-07-08 00:44] wavesbig opened #1455 "[bug] @nutui/nutui-taro 使用uploader组件accept属性不生效"
## 问题描述

@nutui/nutui-taro 使用uploader组件accept属性设置为“application/pdf”不生效，并且手机端预览只能选择png

## 相关环境信息
- **操作系统**：win
- **Node 版本** 14.15.0
- **NutUI 版本**："@nutui/nutui-taro": "^3.1.22",
- **Vue 版本**： "vue": "^3.0.0"
- **引用方式**： npm

[2022-07-08 02:44] yangxiaolu1993 commented on #1438
已修改，会在 3.1.23 版本发布

[2022-07-08 02:44] #1438 closed, assigned to nobody

[2022-07-08 03:01] zhaoyunchong commented on #1438
好的谢谢。我现在先用另一种方式解决了 每次点击重新赋值 上一次的那个星级 这样的处理的

[2022-07-08 03:16] ll790226724 commented on #1400
+1

[2022-07-08 03:17] qwerty9307111 opened #1457 "[bug] IOS 低版本机型 nut-picker 和 nut-datepicker 组件选项显示问题"
## 问题描述

使用 nut-picker 和 nut-datepicker 组件，在低版本的 IOS 机型上滑动选项时，应当被隐藏的选项仍然显示在页面中。

## 相关环境信息
- **操作系统**：iPhone 7P  IOS14
- **Node 版本**：14.15.0
- **NutUI 版本**： 3.1.18
- **Vue 版本**：3.2.13
- **引用方式**：  NPM

![image](https://user-images.githubusercontent.com/25604284/177903073-fd56d654-54a2-45eb-8aad-a3a1ec12f172.png)

https://user-images.githubusercontent.com/25604284/177898823-34486131-805c-4428-9beb-

[2022-07-08 03:27] yangxiaolu1993 commented on #1430
已修复，在3.1.23发布

[2022-07-08 03:28] #1430 closed, assigned to nobody

[2022-07-08 03:29] yangxiaolu1993 commented on #1429
已修复，可优先使用 3.1.23-beta.2

[2022-07-08 03:29] #1429 closed, assigned to nobody

[2022-07-08 05:52] yangxiaolu1993 commented on #1417
已解决，3.1.23 版本发布

[2022-07-08 05:52] #1417 closed, assigned to nobody

[2022-07-08 05:53] yangxiaolu1993 commented on #1400
已进行优化，在3.1.23 版本发布

[2022-07-08 05:53] #1400 closed, assigned to nobody

[2022-07-08 05:55] yangxiaolu1993 commented on #1386
已进行修改及优化，可优先尝试 3.1.23-beta.2版本

[2022-07-08 05:55] #1386 closed, assigned to yangxiaolu1993

[2022-07-08 05:58] #1381 closed, assigned to yangxiaolu1993

[2022-07-08 06:06] #357 closed

[2022-07-08 06:07] #1421 closed, assigned to nobody

[2022-07-08 06:28] #1360 closed, assigned to yangxiaolu1993

[2022-07-10 09:07] binghc opened #1461 "[bug]category组件CategoryPane 的on-change事件没有把回调参传过来，不知道用户点了那个元素"
## 问题描述

category组件CategoryPane 的on-change事件没有把回调参传过来，不知道用户点了那个元素

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

[code]

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-07-11 01:57] whoopsHzh opened #1462 "[bug] 使用InfiniteLoading提示【Vue warn】"
## 问题描述
使用InfiniteLoading官方示例、重复警告。请问有处理方法吗，非常感谢

## 最小可复现仓库
[组件示例代码](https://nutui.jd.com/3x/#/zh-cn/component/infiniteloading)

## 预期的行为和实际行为
两个轮番提示：
![image](https://user-images.githubusercontent.com/32846446/178174267-2fbfeed3-bd8a-43b6-8e71-14023ff5fab7.png)

## 相关环境信息
- **操作系统**：
- **Node 版本**： v16.14.0
- **NutUI 版本**： 3.1.22
- **Vue 版本**：3
- **引用方式**：  NPM

[2022-07-11 02:06] yangxiaolu1993 commented on #1457
可以尝试使用最新版本 3.1.23-beta.3 ，如果在低端手机上还是出现，在下个版本会新增参数用于平铺展示

[2022-07-11 02:43] zjyau commented on #1461
@binghc #1440
下一次发版或者最新的beta版有修复这个问题

[2022-07-11 05:52] richard1015 commented on #1461
暂时可以使用最新[3.1.23-beta.3](https://www.npmjs.com/package/@nutui/nutui/v/3.1.23-beta.3)

[2022-07-11 07:26] binghc commented on #1426
3.1.23-beta.3 都报一样的错

[2022-07-11 10:59] binghc opened #1465 "[bug]Dialog调用报错：Uncaught TypeError: Object(...) is not a function"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

版本:"@nutui/nutui-taro": "^3.1.23-beta.3",

官方文档的demo代码直接拿来用，报错：Uncaught TypeError: Object(...) is not a function

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-07-11 11:13] binghc opened #1466 "[bug]Image组件不显示图片，显示文字：Welcome to developing components"
文档demo直接拿来用 版本："@nutui/nutui-taro": "^3.1.23-beta.3",

[2022-07-11 12:18] XuQianru opened #1467 "[bug]Elevator 电梯楼层组件，版本V3.1.22，使用项目：Taro3+vue3+ts，打包为小程序，真机访问报错"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-07-11 12:33] #1467 closed, assigned to nobody

[2022-07-12 01:50] gowago opened #1468 "[bug] h5页面 textarea input autofoucs 属性失效"
## 问题描述

h5页面  textarea和input 组件 autofoucs 属性失效
## 最小可复现仓库

## 预期的行为和实际行为
h5页面  textarea input autofoucs  鼠标聚焦

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：windwos10
- **Node 版本**：16.15
- **NutUI 版本**：@nutui/nutui-taro 3.1.22
- **Vue 版本**：^3.2.33
- **引用方式**：  CDN / NPM ？NPM

[2022-07-13 03:15] Ymm0008 commented on #1368
问题已修复，将在下个版本发布，感谢您的反馈。 @1zilc

[2022-07-13 03:18] #1368 closed, assigned to Ymm0008

[2022-07-13 05:40] richard1015 commented on #1465
dialog taro版暂时不支持函数调用

[2022-07-13 05:40] #1465 closed, assigned to nobody

[2022-07-13 06:58] wavesbig commented on #1455
@richard1015 这个是有问题嘛

[2022-07-13 07:34] slpss commented on #1451
@richard1015 可以帮忙看看这个问题吗？

[2022-07-13 10:11] Ymm0008 commented on #1432
@6xiaoxin  您好，目前测试中没有发现报错，您能提供一下复现步骤吗？

[2022-07-13 11:37] ssuupprr opened #1469 "[bug]nut-menu在nut-tabs中使用下拉不显示"
## 问题描述
如题，当nut-menu放在nut-tabs的nut-tabpane中时，点击下拉图标无法显示菜单。同一个vue文件中，将nut-menu移到nut-tabs外，则下拉正常显示。

## 预期的行为和实际行为
显示下拉菜单

## 复现步骤，具体代码
`
<nut-tabs v-model="state.tab1value">
    <nut-tabpane title="进行中">
      <nut-menu>
        <nut-menu-item v-model="state.value1" :options="state.options1" />
        <nut-menu-item
          v-model="state.value2"
          :options="state.options2"
          @ch

[2022-07-13 17:39] w-zhCN opened #1470 "[bug]动态创建CollapseItem的情况下折叠报错name未定义"
https://codesandbox.io/embed/nutui3-0-vite-js-forked-s7hmnt?fontsize=14&hidenavigation=1&theme=dark

操作系统：windwos11
Node 版本：16.15
NutUI 版本：@nutui/nutui 3.1.16
Vue 版本：^3.0.0
引用方式： CDN / NPM ？NPM

[2022-07-14 01:37] #1432 closed, assigned to Ymm0008

[2022-07-14 01:50] Ymm0008 commented on #1468
textarea 组件未复现，辛苦请提供您的复现代码 @gowago

[2022-07-14 02:17] ssuupprr commented on #1469
看了一下menu的代码

src\packages\__VUE\menuitem\index.scss中

`
.nut-menu__pop {
  transition: all 0 ease 0;
  transform: none;
  // top: auto !important;
}
`

这里的`top: auto !important;`这句不注释应该就解决了，修复#958注释掉了这句

[2022-07-14 02:18] pfsj-xk commented on #1466
我也出现了这个问题

[2022-07-14 04:19] shichaohui commented on #1185
@richard1015 v3.1.22 还是报错 Failed to resolve component: scroll-view

[2022-07-14 07:08] clooes opened #1472 "[bug]nut-tag plain 添加属性后 总是红色空心样式"
## 问题描述
在 taro 3.4 vue 微信小程序中使用  发现  使用了plain 属性 只会显示 danger 空心样式 (或者说红色空心样式)

## 最小可复现仓库

## 预期的行为和实际行为
根据 type 属性变更
## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：mac
- **Node 版本**：v16.15.1
- **NutUI 版本**：   "@nutui/nutui-taro": "^3.1.22",
- **Vue 版本**： "vue": "^3.0.0"
- **引用方式**：  NPM

[2022-07-14 07:17] jiahaowu-git opened #1473 "[bug]使用 NoticeBar 组件，小程序端编译报错"
## 问题描述

使用 NoticeBar 组件，小程序端编译报错。

## 最小可复现仓库

## 预期的行为和实际行为
按照官网示例使用 NoticeBar 组件，应该能正常编译。
实际上小程序端编译报错，h5端编译能通过。

## 复现步骤，具体代码
`<template>
  <nut-noticebar
      text="NutUI 是京东风格的移动端组件库，使用 Vue 语言来编写可以在 H5，小程序平台上的应用，帮助研发人员提升开发效率，改善开发体验。"
      :background="`rgba(251, 248, 220, 1)`"
      :color="`#D9500B`"

</template>`

步骤1：npm run dev:weapp，编译报错；
步骤2：npm run dev:h5，编译正常。

## 相关环境信息
- **操作系统**：

[2022-07-14 09:09] selectweilin opened #1474 "[bug]H5环境下Uploader默认只能选择图像类型，更改accept为*也无效"
## 问题描述
H5环境下Uploader默认只能选择图像类型，更改accept为*也无效

## 预期的行为和实际行为

## 复现步骤，具体代码

`<nut-uploader :url="uploadUrl" v-model:file-list="defaultFileList" maximum="10" multiple list-type='list'>
    <nut-button type="success" size="small">上传文件</nut-button>
  </nut-uploader>`

直接复制的文档代码

![image](https://user-images.githubusercontent.com/972784/178946456-1b972cbd-4383-496c-b835-f9e734194afb.png)

使用沙盒模式又正常

!

[2022-07-14 09:50] ZaneL1u commented on #603
+1

[2022-07-15 08:17] SHpoi opened #1475 "[question] 小程序在uploader组件上传图像后，想要支持点击预览图放大查看的功能·，却找不到实现的点击事件和插槽。看了下"
小程序在uploader组件上传图像后，想要支持点击预览图，查看原图像的功能·，却找不到实现的点击事件和插槽。能否放开单项的插槽或者增加相应的点击事件

[2022-07-15 08:18] #1475 closed, assigned to nobody

[2022-07-16 02:17] selectweilin commented on #1448
如果是H5模式下的话可以使用以下方式临时处理这个问题
`onMounted(() => {
      const obj = document.createElement("input");
      obj.setAttribute("type", "file");
      obj.setAttribute("id", "taroChooseImage");
      obj.setAttribute("accept", "*");
      obj.setAttribute(
        "style",
        "position: fixed; top: -4000px; left: -3000px; z-index: -300;"
      );
      document.body.appendChild(obj);
    });`
问题的原因是T

[2022-07-17 14:35] hhch commented on #1185
scroll-view 多半都是跟taro版本兼容的问题

[2022-07-18 05:13] shichaohui commented on #1150
@richard1015 请问 `Taro` 中想要全局配置 `ConfigProvider` 怎么搞？只能在每个页面都加上 `<nut-config-provider>...</nut-config-provider>` 吗？

[2022-07-18 09:53] reihs-c opened #1476 "[suggest] RTL 支持"
## 你建议我们做什么？

组件 `rtl` 支持；
[code]

## 其它

无

[2022-07-18 11:14] songyizhe opened #1477 "[bug]ImagePreview的images类型是否有错？string[]这样会看不到图片，[{src: string}]这样的格式才可以，但是ts又报错"
## 问题描述

[bug]ImagePreview的images类型是否有错？string[]这样会看不到图片，[{src: string}]这样的格式才可以，但是ts又报错
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-07-19 03:20] hydraZty commented on #1457
升级了新版本，还是没解决，ios 14.x 在 webview 中可复现。
翻了下局部实现 isHidden 的判断为何是前后各8，这么看应该有其他属性在控制滚动到反面的元素隐藏

----

看来是 backface-visibility 的兼容性问题

[2022-07-19 04:14] shichaohui commented on #1421
ImagePreview 内部使用了 OverLay、Popup、Swiper、SwiperItem，按需引入需要把这些组件都引入了。

[2022-07-19 05:22] shichaohui opened #1478 "[bug] Taro 项目打包为 h5 后 ImagePreview 组件未渲染出图片"
## 问题描述

Taro 项目打包为 h5 后 ImagePreview 组件未渲染出图片（image 组件未被解析渲染）。
![DOM](https://user-images.githubusercontent.com/10704756/179671040-2e302bea-dc62-4cc5-8369-d839fd0ce995.png)

## 最小可复现仓库
无

## 预期的行为和实际行为
**预期行为：** 渲染图片
**实际行为：** image 组件未被解析渲染

## 复现步骤，具体代码

[code]

## 相关环境信息
- **操作系统**：Windows 10
- **Node 版本**：14.18.3
- **NutUI 版本**： 3.1.22
- **Vue 版本**：3.2.37
- **Taro 版本**：3.4.13
- **引用方式**： NPM

[2022-07-19 05:56] wavesbig commented on #1448
可以

[2022-07-20 15:23] JakeWoki commented on #1271
[code]

@richard1015
@nutui/nutui-taro v3.1.22
Taro v3.4.3
这样仍然有问题，3.1.17也不行，去掉Layout 布局的Col的引用就正常

改成
@nutui/nutui-taro v3.1.22
Taro v3.4.13可以了

[2022-07-21 01:30] #1468 closed, assigned to Ymm0008, ailululu

[2022-07-21 01:42] LuEdision opened #1481 "Picker组件选择闪烁，无法选中"
## 问题描述
Picker组件选择闪烁，无法选中

## 最小可复现仓库
官网demo中的所有Picker都有问题

## 预期的行为和实际行为

## 复现步骤，具体代码
官网就能复现

## 相关环境信息
- **操作系统**：win11
- **Node 版本**：14.x.x以上
- **NutUI 版本**： 3.1.22
- **Vue 版本**：3.x.x
- **引用方式**：  NPM 、Yarn

[2022-07-21 01:45] LuEdision commented on #1481
![web](https://user-images.githubusercontent.com/63531046/180111741-6dc3a491-d203-4112-bb3d-66b293f6399b.gif)

[2022-07-21 02:02] AH1013756399 opened #1482 "组件预览窗口内容展示不完全，底部会被遮挡"
## 希望能得到优化

## 其它

![image](https://user-images.githubusercontent.com/63224656/180113469-16564562-d19e-4d3c-ac58-d1eeb3e00d67.png)

[2022-07-21 08:34] #1481 closed, assigned to nobody

[2022-07-21 09:50] meishaonian123 opened #1484 "input组件clearable属性默认绑定的字体图标在移动端不显示x，更改为其他图标可正常显示[bug]"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-07-21 10:20] ztrve opened #1485 "[bug]Menu组件必须引入遮罩，文档中未说明"
## 问题描述

使用 Taro+NutUI+vue3 练手微信小程序，由于项目是刚创建的
使用Menu组件的过程中，遮罩一直出不来，后来试着将 OverLay, Popup 组件也引入后，才正常

## 最小可复现仓库

## 预期的行为和实际行为
#### 预期的行为
点击Menu组件中账单1后出现遮罩
![image](https://user-images.githubusercontent.com/82516467/180189598-df5ede30-ded9-48f2-b440-9396f512a2ce.png)

#### 实际行为
点击后没有遮罩出现
![image](https://user-images.githubusercontent.com/82516467/180190324-fed176d2-42c0-4da0-af85-1c03ff31b7d5.png)

[2022-07-21 12:24] fanyingying commented on #1382
同样问题，有解决方案没？

[2022-07-21 15:16] lopo12123 opened #1486 "[bug] 数字键盘标题和自定义键一起用会出现两个删除但确认键消失"
## 问题描述

使用 taro 开发小程序时遇到
想要自定义 `-` 和 `.` 两个按键同时添加一行标题,
发现数字键盘标题和自定义键一起用会出现两个删除但确认键消失

## 预期的行为和实际行为

![image](https://user-images.githubusercontent.com/59609929/180250782-fda65b42-0c95-4db5-a522-6ca8d0fdbca5.png)

![image](https://user-images.githubusercontent.com/59609929/180250967-67fa15c2-4f03-4ac5-8616-6e6b0aa0dd0f.png)

## 相关环境信息
node@14.17.0
vue@3

"@tarojs/taro": "3.4.13",
"@nutui/nutui-ta

[2022-07-22 02:20] monsoon4948 opened #1487 "[bug]nut-picker快速滑动会卡行"
![image](https://user-images.githubusercontent.com/12999497/180348649-7eef30ed-e73c-4ff1-8f3b-0726d5acd428.png)

[2022-07-22 02:21] monsoon4948 commented on #1487
就在你们官网的demo就是这样，还没搭到我本地环境

[2022-07-22 09:27] ztrve commented on #209
同问

[2022-07-23 01:24] BackacheGitHub opened #1488 "[bug] SearchBar 组件 autofocus 属性不起作用"
## 问题描述
`<nut-searchbar :autofocus="true"></nut-searchbar>`

SearchBar 组件，指定了autofocus为true，但是并没有自动聚焦

## 最小可复现仓库

## 预期的行为和实际行为
如描述

## 复现步骤，具体代码
执行 `npm dev:h5` 打开首页发现搜索框没有自动聚焦

## 相关环境信息
- **操作系统**：MacOS Monterey 12.4 Chrome 103.0.5060.114
- **Node 版本**：v14.19.1
- **NutUI 版本**： ^3.1.22
- **Vue 版本**：^3.0.0
- **引用方式**： NPM

[2022-07-23 10:32] wjq152 opened #1489 "NutUI 2x 项目UI 风格会更新到 NutUI 3x 吗"
个人感觉   NutUI 3x  风格好看，但是公司项目基本是vue2， NutUI 2x未来会更新UI风格吗

[2022-07-24 06:29] MuGuiLin commented on #133
在nut-swiper标签中，加上  :is-preventDefault="false" 才可以
例如：
`<nut-swiper
      height="240"
      auto-play="3000"
      :init-page="state.page"
      :is-preventDefault="false"
      :pagination-visible="true"
      pagination-color="#DB56EE"

[2022-07-25 06:23] yangxiaolu1993 commented on #1487
[3.1.23-beta.3](https://www.npmjs.com/package/@nutui/nutui/v/3.1.23-beta.3) 已经修复，可以使用

[2022-07-25 06:23] #1487 closed, assigned to nobody

[2022-07-25 06:34] #1482 closed, assigned to nobody

[2022-07-25 17:18] Lxy-599599 opened #1492 "[bug]DatePicker的top插槽不起作用"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-07-26 01:33] LadyChatterleyLover commented on #1488
这个没问题啊，可以聚焦

[2022-07-26 04:00] Dongary commented on #1466
这个组件还没有同步过来，我服了，，

[2022-07-26 06:20] bestFeeling opened #1497 "[bug]swiper "is-center" not work"
"is-center"在官方文档提供的演示demo中没有起作用
[在线代码调试平台](https://codehouse.jd.com/?source=share&type=vue&mainJs=Ly9pbXBvcnQgVkNvbnNvbGUgZnJvbSAidmPGDyI7Ci8vdmFyIHbIID0gbmV3yS8oKTsKx0J7IGNyZWF0ZUFwcCB9yEd1xELHIcQZxhcuL2FwcC7NHU51dFVJxx9AbnV0dWkvxQbKIsc2c2Nzc8sVzCwvZGlzdC9zdHlsZS7GJukAkihBcHApLnVzZSjFaSkubW91bnQoIiNhcHAiKTs=&appValue=PHRlbXBsYXRlPgogIDxudXQtc3dpcGVyIDppbml0LXBhZ2U9IsQGIiA6bG9vcD0iZmFsc2UiIHdpZHRo

[2022-07-26 07:31] mzz2020 commented on #1457
nut-picker 在h5上出现重叠或是选中后再打开，下拉列表空白，有没有解决的方法

[2022-07-26 08:22] LadyChatterleyLover commented on #1408
@emorywang 这个是组件内部的点击事件阻止了冒泡，不能触发父级的事件。

[2022-07-26 10:01] zx-95 opened #1499 "nut-picker不支持动态切换columns[suggest]"
## 建议
当一个表单有需要picker时，动态切换picker的columns很重要，可以做到多合一，不必要每个都建立一个nut-picker
## 根据现有代码处理动态columns发现bug
刷新页面后，打开picker直接确认时会有问题，返回的是[undefined]

[2022-07-27 00:53] jaqen404 commented on #1382
我后来没用了，你去看看官方示例，还有没有这个问题

[2022-07-27 06:33] ailululu commented on #1362
安装下最新版@nutui/nutui-taro@3.1.22，还出现这个问题辛苦贴下代码

[2022-07-27 07:18] #1457 closed, assigned to nobody

[2022-07-27 07:23] bigAken opened #1500 "nut-tabpane 标签中使用v-if判断是否展示nut-tabpane报错"
## 问题描述

在vue3 单文件组件中使用nut-tabpane 标签中使用v-if判断是否展示nut-tabpane报错

## 最小可复现仓库
      <nut-tabs
        v-model="state.tabValue"
        size="small"
        title-scroll
        color="#0155FF"
        background="#fff"

        <nut-tabpane title="基本信息" pane-key="baseInfo" v-if="isShowBaseInfo">
          <view class="base-info">
            基础信息
          </view>
        </nut-tabpane>
        <nut

[2022-07-28 03:43] taylorchen709 opened #1503 "form表单显示问题[question]"
## 没有对齐，不确定是不是ios16才有这个问题

![1658979693630](https://user-images.githubusercontent.com/11830960/181415526-43591cf5-c994-404e-a588-02a76d024ae5.png)

[2022-07-28 05:42] #1492 closed, assigned to nobody

[2022-07-28 07:12] anzup opened #1504 "[bug]WaterMark水印使用无效"
## 问题描述
WaterMark 水印使用无效

## 最小可复现仓库

## 预期的行为和实际行为
小程序端使用水印组件无效，发现文档中此组件在线调试也无法使用

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：windows 10
- **Node 版本**：17.1.0
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息 3.1.22
- **Vue 版本**：3.2.25
- **引用方式**：  CDN / NPM ？npm

[2022-07-28 08:45] lww155 opened #1505 "NoticeBar公告栏组件垂直滚动时，slot图标无法显示"
微信小程序端
![image](https://user-images.githubusercontent.com/69495421/181462643-74291bf0-4c73-428f-91fe-d99966e0d0bd.png)
Nut UI 文档的在线编辑运行也没看到图标显示

[2022-07-28 09:48] selectweilin opened #1506 "[bug]Taro升级到3.5.0后引用Icon编译错误"
## 问题描述
直接使用Cli创建脚手架后引入Icon就编译错误
![image](https://user-images.githubusercontent.com/972784/181476185-62f0a5c4-782b-4138-a200-88e97e1b97b4.png)

## 复现步骤，具体代码
`import { createApp } from "vue";
import { Button, Toast, Icon } from "@nutui/nutui-taro";

import "./app.scss";

const App = createApp({
  onShow(options) {},
  // 入口组件不需要实现 render 方法，即使实现了也会被 taro 所覆盖
});

App.use(Button)
  .use(Toast)
  .us

[2022-07-28 09:55] Ymm0008 commented on #1470
@w-zhCN   感谢您的反馈，问题在之前已修复，只是代码未合并，将在新版本修复改问题。

[2022-07-29 07:22] szg2008 commented on #1497
demo没有问题，可以亲自尝试一下

[2022-07-29 07:22] #1497 closed, assigned to nobody

[2022-07-29 08:35] eiinu commented on #1506
解决方案参考：[3.5.0nutui-taro 无法导入icon](https://github.com/NervJS/taro/issues/12148)

[2022-07-30 02:57] KNJON opened #1512 "[bug] taro 用的小程序版本@nutui/nutui-taro picker卡得飞起"
## 问题描述

在开发者工具非常流畅，在真机小程序上卡得飞起，我一度以为是我手机问题，用了原生自带非常流畅

## 最小可复现仓库

## 预期的行为和实际行为
尽快上一个修复版，等着用呢，不可能把整个UI库换掉吧

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：14+
- **NutUI 版本**： 231.22
- **Vue 版本**： 3.2.24
- **引用方式**：  yarn

[2022-07-30 02:58] KNJON opened #1513 "[bug] taro 用的小程序版本@nutui/nutui-taro picker卡得飞起"
## 问题描述

picker 组件在开发者工具非常流畅，在真机小程序上卡得飞起，我一度以为是我手机问题，用了原生自带非常流畅
我看其他issues有这个问题说3.1.23-beta.3解决了，我用这个依赖依然卡。

## 最小可复现仓库

## 预期的行为和实际行为
尽快上一个修复版，等着用呢，不可能把整个UI库换掉吧

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：14+
- **NutUI 版本**： 3.1.22
- **Vue 版本**： 3.2.24
- **引用方式**：  yarn

[2022-07-30 05:50] #1512 closed, assigned to nobody

[2022-07-30 05:50] ipconfiger commented on #1466
我也是服了

[2022-07-31 03:54] cqzhong opened #1514 "[bug]nut-input在支付宝小程序上统计字数有bug"
## 问题描述

出现了两行计算字数
[code]
![image](https://user-images.githubusercontent.com/10128830/182009160-b155ca8a-3a59-4baa-b9af-864534477f9e.png)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：任意iOS系统
- **Node 版本**：v14.18.1
- **NutUI 版本**： "@nutui/nutui-taro": "^3.1.22"
- **Vue 版本**："vue": "^3.2.24"
- **引用方式**：  CDN / NPM ？NPM

[2022-08-01 02:19] #1470 closed, assigned to Ymm0008

[2022-08-01 02:25] richard1015 commented on #1503
感谢反馈，我们近期 升级ios 16看看

[2022-08-01 09:46] zjhr commented on #1462
我也是，h5无法使用InfiniteLoading组件，wx小程序端没问题，但是还是会出现这个提示

[2022-08-01 10:23] tcwdbb opened #1521 "使用navbar组件在小程序开启自定义导航后navbar组件在状态栏下层[bug]"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：任意系统
- **Node 版本**：v14.18.3
- **NutUI 版本**： "@nutui/nutui-taro": "^3.1.22"
- **Vue 版本**：Vue3
- **引用方式**：  CDN / NPM ？NPM

[2022-08-01 12:20] eiinu commented on #1462
参考解决方案： [Taro 使用原生模块 | Taro 文档](https://taro-docs.jd.com/taro/docs/hybrid/#%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98)

[2022-08-01 13:25] richard1015 commented on #1504
v3.2.0 已发布

[2022-08-01 13:25] #1504 closed, assigned to lkjh3214

[2022-08-01 13:30] richard1015 commented on #1514
v3.2.0 已发布

[2022-08-01 13:30] #1514 closed, assigned to richard1015

[2022-08-02 01:51] tohere opened #1524 "[bug] Image,previewImage,Ellipsis组件都能用吗?"
我的项目是跑在H5端的

说实话这个框架问题有点多,我一共用了也就10个左右组件,已经发现了Image,previewImage,Ellipsis这三个组件不能用了,全局引入局部引入都试过,就是不能用

而且Ellipsis这个组件你们官方文档自己写的在线调试预览都不能用
https://codehouse.jd.com/?source=share&type=vue&mainJs=Ly9pbXBvcnQgVkNvbnNvbGUgZnJvbSAidmPGDyI7Ci8vdmFyIHbIID0gbmV3yS8oKTsKx0J7IGNyZWF0ZUFwcCB9yEd1xELHIcQZxhcuL2FwcC7NHU51dFVJxx9AbnV0dWkvxQbKIsc2c2Nzc8sVzCwvZGlzdC9zdHlsZS7GJukAkihBcHApLnVzZSjFaSkubW91bnQoIiNhcHAi

[2022-08-02 02:45] yycmd opened #1525 "[suggest] List 虚拟滚动组件container-height 属性能否增加字符串的支持？"
## 你建议我们做什么？

目前官网的 v3.1.19 版本增加了 container-height 属性，这个功能非常实用，但是这个属性目前只支持数字，对于某些场景希望能用 css 的 calc 函数去代替人为的计算 dom 高度的变化，使用场景如下：

正常页面可能划分三部分：
1.头部导航
2.内容主体
3.底部功能按钮

操作如下，发生 dom 变化

1.手势向上滚动的时候，自动隐藏底部功能按钮，此时内容主体的 dom 高度变化
2.手势向下滚动的时候，自动显示底部功能按钮，此时内容主体的 dom 高度变化

当这种上述场景的时候，希望能用 css 的 calc 函数去自动计算 list 虚拟滚动的容器高度

## 其它

无

[2022-08-02 03:10] #1499 closed, assigned to nobody

[2022-08-02 03:28] SHpoi opened #1527 "[question] 引入外部微信小程序组件，编译时拉下个wxs没挪到dist目录，有什么办法吗"
使用的是vue3版本来编译的微信小程序。在引入一个原生小程序日历组件的时候，发现虽然通过 usingComponents 可以把原生小程序组件挪到dist目录，但是落下个wxs的文件没挪过去，现在还得我自己在dist目录里把文件拖过去。想问下有没有好点的办法？
<img width="671" alt="Snipaste_2022-08-02_11-23-41" src="https://user-images.githubusercontent.com/18532072/182285451-ed9d4253-5585-4bdb-92f0-cfefb4b22938.png">

[2022-08-02 08:29] #1442 closed, assigned to szg2008

[2022-08-02 08:54] Tanoshi0625 opened #1528 "[bug] swiper组件在字节小程序向右滑动退出小程序"
## 问题描述
在字节小程序上使用swiper组件，向右滑动的时候会触发小程序右滑退出事件，导致小程序退出。使用原生swiper组件无此问题，麻烦官方测试一下是否有此问题。

## 最小可复现仓库

## 预期的行为和实际行为
请官方尽快核实修复一下此bug。

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：14+
- **NutUI 版本**：3.1.8
- **Vue 版本**：3.0
- **引用方式**：yarn

[2022-08-02 09:07] SHpoi commented on #1527
这个问题已经解决，方法是在mini.webpackChain引入自定义插件，在compiler.hooks.done.tap里执行cp命令。
代码虽然不多，却发现有点折腾，最先是放在在config.plugin里的，发现里面配置的是taro插件，按照taro文档搞了一会发现老是报错，后面才在webpackChain里开搞的。

[2022-08-02 09:07] Tanoshi0625 commented on #1528
从Taro文档中可查，这个问题是touchmove事件穿透问题。
[](https://taro-docs.jd.com/taro/blog/2020-12-15-taro-3-1-beta#3-%E6%94%AF%E6%8C%81%E9%98%BB%E6%AD%A2%E5%B0%8F%E7%A8%8B%E5%BA%8F%E6%BB%91%E5%8A%A8%E7%A9%BF%E9%80%8F)

[2022-08-02 09:07] #1528 closed, assigned to nobody

[2022-08-02 09:08] SHpoi commented on #1527
看看还有没有更好的解决方式

[2022-08-02 10:27] KNJON opened #1529 "[bug]calendar 日历组件，设置多选的时候，默认值是数组无法显示"
## 问题描述

小程序中日历组件，设置多选的时候，默认值是数组无法显示，必须手动点击才可以

## 最小可复现仓库

## 预期的行为和实际行为
可以设置多个默认值

## 复现步骤，具体代码
![image](https://user-images.githubusercontent.com/31526763/182353229-e661a76b-201f-4822-8735-a0ea53161b65.png)

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：3.2.24
- **引用方式**：  CDN / NPM ？yarn

[2022-08-02 13:02] #1529 closed, assigned to nobody

[2022-08-03 02:51] zhangji0518 commented on #1521
解决了吗，navbar在微信小程序设置navigationStyle: "custom"就显示在状态栏后面，IOS

[2022-08-03 02:54] zhangji0518 commented on #1521
还有left-show不是默认false吗，怎么不设置还显示呢

[2022-08-03 08:41] gyt95 commented on #684
不能map只能push

[2022-08-04 09:11] haohan88615 opened #1532 "[bug]小程序input不支持动态修改type属性"
@tarojs/taro

小程序input组件不支持动态修改type属性

password和text切换没有用

h5可以

[2022-08-04 09:11] MrWws opened #1533 "Cannot read properties of undefined (reading 'href')[bug]"
## 问题描述

![image](https://user-images.githubusercontent.com/30725247/182809023-d9637206-4e50-4fe7-985a-279e7945355b.png)
我使用了一些按钮进行路由的跳转，但点击按钮，报错
最小化的 GitHub 仓库
## https://github.com/MrWws/nutui-error.git

## 预期的行为和实际行为
预期的行为：点击按钮跳转到另一个页面
实际行为：点击按钮路由改变页面不跳转，最小化仓库点击申请授信按钮跳转页面成功，但刷新/creditApplication对应的页面会产生上图的报错
## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：window10
- **Node 版本**：v16.16.0
- **NutUI 版本**：  3.1

[2022-08-04 09:46] richard1015 commented on #1489
暂时没有这个计划

[2022-08-04 09:46] #1489 closed, assigned to nobody

[2022-08-05 08:11] pfsj-xk commented on #1524
组件库跟不上  还有很多问题

[2022-08-05 10:07] kongsiyu opened #1535 "[question]Uploader在小程序中如何为每个FileItem单独设置FormData"
## 你想知道什么？

作者你好，在小程序使用Uploader组件实现oss上传的功能中，由于是客户端直接请求oss server，文件名为formData中的key，需要对每个文件单独设置文件名，现在尝试了在beforeUpload中修改item的formData发现无效，在查看Uploader源码中发现如下片段
![image](https://user-images.githubusercontent.com/8521224/183054904-237ec0d1-427d-4aff-bf97-405b049d6afb.png)
在非WEB环境下会直接使用data数据进行替换，这也导致了我自定义的formData失效，请问这是出于什么考虑这样做？有没有什么替代方案呢？

## 描述你考虑过的替代方案
或者支持在小程序中的请求方法重写？

## 其它

无

[2022-08-05 10:08] Zremn9 commented on #1521
一样的问题
![image](https://user-images.githubusercontent.com/82388674/183055254-791908e5-0faf-4f72-b70d-c538464b4d82.png)

[2022-08-08 04:06] caoruiy opened #1537 "[bug] swiper 加载动态图片时报Cannot read property 'id' of null"
## 问题描述
使用swper组件，当图片信息异步加载时，第一次加载图片，组件可以正常展示。之后异步加载图片，再次打开该组件，图片无法显示，小程序开发控制台报错。
该场景很常见，例如从列表页跳转到详情页，详情页图片信息动态加载，只有第一次打开时，可以正常展示，之后再次打开图片无法展示。

## 预期的行为和实际行为
图片可以正常展示，控制台不报错

## 复现步骤，具体代码

封装组件源代码
[code]

微信小程序控制台报错信息
[code]
![image](https://user-images.githubusercontent.com/13867478/183336784-c3efd660-0d2e-4cfa-94c7-c21b8fe424e1.png)

## 相关环境信息
- **操作系统**：windows 10
- **Node 版本**：v14.16.0
- **Nu

[2022-08-08 06:00] richard1015 commented on #1524
升级最新3.2.0 测试一下呢

[2022-08-08 06:38] richard1015 commented on #1535
3.2.1-beta.0试一下  https://www.npmjs.com/package/@nutui/nutui-taro/v/3.2.1-beta.0
[code]

[2022-08-08 06:58] #1264 closed, assigned to yangjinjun3

[2022-08-08 10:20] richard1015 commented on #1466
https://nutui.jd.com/#/zh-cn/component/image-taro

直接使用 Taro 现有 Image 组件开发

![image](https://user-images.githubusercontent.com/13060263/183396552-1b8f6910-5d3b-4409-9964-e37d5f87cbea.png)

[2022-08-08 10:20] #1466 closed, assigned to yangxiaolu1993

[2022-08-08 11:34] #1447 closed, assigned to szg2008

[2022-08-09 00:51] couth commented on #1537
我也刚遇到这个问题，排查了一下发现是组件BUG，希望官方尽快修复。

[2022-08-09 01:13] lkjh3214 commented on #1427
请通过 start-date 设置不可选日期。dafault-value为设置当前选中的日期。参考考文档：https://nutui.jd.com/#/zh-CN/component/calendar

[2022-08-09 03:22] MrWws commented on #1533
已提供

[2022-08-09 04:32] richard1015 opened #1541 "Menu 小程序环境，打开菜单时，会页面闪跳[bug]"
官网小程序 demo，可复现

[2022-08-09 08:09] hbalxzdl commented on #1368
升级到了v3.2 还是同样的问题

[2022-08-09 09:32] richard1015 commented on #1535
v3.2.1 已发布

[2022-08-09 09:32] #1535 closed, assigned to richard1015

[2022-08-09 09:33] richard1015 commented on #1485
v3.2.1 已发布

[2022-08-09 09:33] #1485 closed, assigned to yangjinjun3

[2022-08-09 09:33] richard1015 commented on #1462
v3.2.1 已修复 已发布

[2022-08-09 09:33] #1462 closed, assigned to nobody

[2022-08-09 09:34] richard1015 commented on #1461
v3.2.1 已发布

[2022-08-09 09:34] #1461 closed, assigned to nobody

[2022-08-09 09:34] richard1015 commented on #1472
v3.2.1 已发布

[2022-08-09 09:34] #1472 closed, assigned to nobody

[2022-08-09 09:34] richard1015 commented on #1451
v3.2.1 已发布

[2022-08-09 09:34] #1451 closed, assigned to nobody

[2022-08-09 09:34] richard1015 commented on #1372
v3.2.1 已发布

[2022-08-09 09:34] #1372 closed, assigned to richard1015, yangjinjun3

[2022-08-09 09:35] richard1015 commented on #1505
v3.2.1 已发布

[2022-08-09 09:35] #1505 closed, assigned to nobody

[2022-08-09 09:35] richard1015 commented on #1445
v3.2.1 已发布

[2022-08-09 09:35] #1445 closed, assigned to yangjinjun3

[2022-08-09 09:36] richard1015 commented on #1286
v3.2.1 已修复 已发布

[2022-08-09 09:36] #1286 closed, assigned to szg2008

[2022-08-09 09:37] #689 closed, assigned to guoxiao158

[2022-08-09 09:37] #1217 closed, assigned to nobody

[2022-08-09 09:37] richard1015 commented on #1217
v3.2.1 已修复 已发布

[2022-08-09 09:38] richard1015 commented on #1164
v3.2.1 已修复 已发布

[2022-08-09 09:38] #1164 closed, assigned to szg2008

[2022-08-09 09:39] richard1015 commented on #1321
v3.2.1 已修复 已发布

[2022-08-09 09:39] #1321 closed, assigned to yangxiaolu1993

[2022-08-09 09:40] richard1015 commented on #1387
v3.2.1  已发布
https://nutui.jd.com/#/zh-CN/component/signature

[2022-08-09 09:40] #1387 closed, assigned to Ymm0008

[2022-08-09 09:41] richard1015 commented on #1376
v3.2.1  已发布

[2022-08-09 09:41] #1376 closed, assigned to nobody

[2022-08-09 09:44] richard1015 commented on #1527
@Chen-jj

[2022-08-09 09:47] richard1015 commented on #1426
3.2.1已修复

[2022-08-09 09:47] #1426 closed, assigned to richard1015

[2022-08-09 10:08] lww996 commented on #1505
已更新v3.2.1，右边的icon可以显示了，但是当<template v-slot:leftIcon>时，左边插槽没显示出来，跟之前问题一样，麻烦看下

[2022-08-09 12:59] Chen-jj commented on #1527
@SHpoi 配置一下 [copy](https://docs.taro.zone/docs/config-detail#copy)

[2022-08-09 13:51] zengkaii opened #1544 "[bug] tabs tabpane组件绑定pane-key后切换亮标显示错误"
## 问题描述

![image](https://user-images.githubusercontent.com/38418699/183666068-615770ef-1741-4f5c-86d5-693a67a56a9a.png)

## 最小可复现仓库

## 预期的行为和实际行为
预期只亮一个下标

## 复现步骤，具体代码
文档代码示例修改成如下图就可以复现
![image](https://user-images.githubusercontent.com/38418699/183666213-babddd0b-76f5-43ea-8173-874129aa716d.png)

taro 最新版本3.2.1

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信

[2022-08-10 01:12] szg2008 commented on #1544
https://github.com/NervJS/taro/issues/12199

[2022-08-10 01:13] szg2008 commented on #1544
https://github.com/jdf2e/nutui/issues/1544  一起解决

[2022-08-10 01:13] szg2008 commented on #1544
https://github.com/NervJS/taro/issues/12199。一起解决

[2022-08-10 01:23] eGluZl opened #1545 "[bug] Picker 选择器的 confirm事件接收的值不是最新的"
## 问题描述

以官网演示为例，基本用法处的例子，初次打开是在“南京市”，选择“无锡市”后点确认，值却是“NanJing”。

## 最小可复现仓库

## 预期的行为和实际行为
picker选中值后 confirm接收的值是最新的

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：Windows 11
- **Node 版本**：14.20.0
- **NutUI 版本**： 3.2.1
- **Vue 版本**：3
- **引用方式**：  NPM

[2022-08-10 10:20] caoruiy commented on #1537
目前可以使用原生swiper组件替代该组件。

[2022-08-11 02:46] #1477 closed, assigned to yangxiaolu1993

[2022-08-11 06:09] emorywang commented on #1372
非常感谢辛苦付出，最近正好想用到menu的自定义icon，没想到没过几天就更新版本新增插槽，再次感谢！

[2022-08-11 07:16] Wuge11 opened #1548 "[bug] Calendar start-date end-date 设置为 null 无效"
## 问题描述

根据文档设置 start-date 和 end-date 为 null 不限制开始和结束日期，结果还是为默认值

## 最小可复现仓库

## 预期的行为和实际行为

**预期：**

**实际：**

## 复现步骤，具体代码
`<nut-calendar
    type="range"
    :start-date="null"
    :end-date="null"
  />`

## 相关环境信息
- **操作系统**：macOs 12.4
- **Node 版本**：14.20.0
- **NutUI 版本**： 3.2.0
- **Vue 版本**：3.2.24
- **Taro 版本**：3.4.14
- **引用方式**：  NPM

[2022-08-11 07:25] kongsiyu opened #1549 "[bug]3.2.1List组件在taro3.2+webpack5下报错"
## 问题描述
[bug]3.2.1List组件在taro3.2+webpack5下报错
···
List.js?63f4:26

       Uncaught (in promise) TypeError: _tarojs_taro__WEBPACK_IMPORTED_MODULE_2___default(...).getSystemInfoSync is not a function
    at eval (List.js?63f4:26:1)
    at ./node_modules/@nutui/nutui-taro/dist/packages/_es/List.js (src_app_boot_js.js:40:1)
    at __webpack_require__ (runtime.js:36:33)
    at fn (runtime.js:452:21)

[2022-08-11 07:28] kongsiyu commented on #1549
在小程序下Button也会报错
[code]

[2022-08-11 07:44] Ymm0008 commented on #1392
@MyGitsAccount  外层盒子的大小是动态变化的吗？

[2022-08-11 08:18] canaanjin opened #1550 "nut-input 组件在视图滚动并进行输入时位置发生改变"
## 问题描述

在视图滚动后对nut-input组件进行编辑时 内容的位置发生了偏移
滚动越往下偏移的位置就越大

## 最小可复现仓库

## 预期的行为和实际行为
input的内容本应该在原有位置。如果靠下的话应该自动上推页面。
![1660205750756](https://user-images.githubusercontent.com/12317236/184091868-bb0aad00-a6aa-4b25-a086-2250a124caab.jpg)

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：移动端三星S10
- **Node 版本**：v14.17.3
- **NutUI 版本**： @nutui/nutui-taro: ^3.2.0
- **Vue 版本**：^3.0.0
- **引用方式**：   NPM ？

[2022-08-11 09:55] tohere commented on #1524
就是3.2啊,taro和nut全是最新版本

[2022-08-12 00:59] lkjh3214 commented on #1548
当传null时，默认为最近一年时间。如果需要特定时间，请自己指定
![image](https://user-images.githubusercontent.com/23164467/184266196-c70c3541-bb00-4e65-b6d3-19cac0861ab7.png)

[2022-08-12 02:29] kongsiyu commented on #1549
奇怪，就我一个人遇到这个问题？

[2022-08-12 04:15] kongsiyu commented on #1549
另外备注一下，你们版本号写错了
![image](https://user-images.githubusercontent.com/8521224/184283951-ec98bd98-c348-4ad1-a259-2feba5db573e.png)

[2022-08-12 06:53] erdezhuang opened #1551 "[bug]Taro 3.5.13 打包之后 [ WXSS 文件编译错误] ./app.wxss unexpected token ",""
## 问题描述
Taro 3.5.13 运行之后 [ WXSS 文件编译错误] ./app.wxss  unexpected token ","
<img width="1133" alt="image" src="https://user-images.githubusercontent.com/12458415/184300481-850c536c-579f-439b-a0f6-95ac5acc5b1a.png">

[2022-08-13 15:01] 893949088 opened #1552 "Taro-vue版本的图片组件什么时候完善？ [bug]"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-08-14 09:30] Jacleklm opened #1553 "NutUI v3.2.1 似乎没有 Loading 组件？https://nutui.jd.com/#/zh-CN/component/infiniteloading"
NutUI v3.2.1  似乎没有 Loading 组件？https://nutui.jd.com/#/zh-CN/component/infiniteloading

[2022-08-15 00:54] Wuge11 commented on #1548
好吧，还以为null是不限制日期，感谢

[2022-08-15 00:54] #1548 closed, assigned to lkjh3214

[2022-08-15 01:05] yangxiaolu1993 commented on #1552
NutUI-Taro 的 Image  组件，直接使用 Taro 的 image 组件就好 https://taro-docs.jd.com/taro/docs/components/media/image/

[2022-08-15 01:05] #1552 closed, assigned to nobody

[2022-08-15 02:25] #1527 closed, assigned to nobody

[2022-08-15 02:27] #1476 closed, assigned to nobody

[2022-08-15 02:38] richard1015 commented on #1393
v3.2.1

[2022-08-15 02:38] #1393 closed, assigned to richard1015

[2022-08-15 02:40] #1395 closed, assigned to Drjingfubo

[2022-08-15 02:41] #1359 closed, assigned to ailululu

[2022-08-15 02:43] richard1015 commented on #1533
项目中的复现步骤提供一下

[2022-08-15 02:47] #427 closed, assigned to szg2008

[2022-08-15 03:18] Drjingfubo commented on #1533
<img width="980" alt="image" src="https://user-images.githubusercontent.com/50685476/184571198-76f849c6-965b-44cd-8a9d-727e600e8c34.png">
报错原因找到了，感谢反馈，因为这里刷新页面的时候传了个-1的值，导致组件内部找不到对应的项，我后续优化一下组件内部，当value值小于0时，默认为0.

[2022-08-15 03:25] Drjingfubo commented on #1449
3.2.0版本已经支持

[2022-08-15 03:25] #1449 closed, assigned to Drjingfubo

[2022-08-15 03:26] #1486 closed, assigned to Drjingfubo

[2022-08-15 03:36] shaibaoj commented on #1549
我也遇到了

[2022-08-15 07:03] Drjingfubo commented on #1533
<img width="968" alt="image" src="https://user-images.githubusercontent.com/50685476/184590801-15cadcbd-963d-4bbd-b354-8d4f90f624ad.png">
报错原因找到了，感谢反馈，因为这里刷新页面的时候传了个-1的值，导致组件内部找不到对应的项，我后续优化一下组件内部。

[2022-08-15 08:17] LuEdision opened #1555 "[bug] nut-picker 3.2.1 ios和android都会有重影叠加"
## 问题描述
nut-picker 3.2.1 ios和android都会有重影叠加，滚动会更加明显，很严重，完全影响体验

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
可查看我ios手机截图如下：
![origin_img_v2_9503b170-ed21-4634-a839-faad7b22b6fg](https://user-images.githubusercontent.com/63531046/184600611-0d44e031-a029-4dd6-918f-82c74f5494e9.jpg)
![origin_img_v2_d4477259-5f33-4a7a-9a37-ffc1367d3f4g](https://user-images.githubusercontent.com/63531046/184600629-295fcbc4-

[2022-08-15 10:22] #1408 closed, assigned to richard1015, eiinu

[2022-08-15 10:23] #1419 closed, assigned to szg2008, eiinu

[2022-08-15 11:22] couth commented on #1545
我也遇到这个问题了，好大的坑

[2022-08-15 12:07] richard1015 commented on #1555
先暂时 使用 three-dimensional = false   关闭3d 看看是否可解决
另外可以提供一下 复现仓库
复现设备型号：xxxx  ios 1.xx

[2022-08-15 12:12] richard1015 commented on #1553
Toast
https://nutui.jd.com/#/zh-CN/component/toast

[2022-08-15 12:12] #1553 closed, assigned to szg2008

[2022-08-15 13:41] herodhb opened #1558 "[bug] range组件只能拖动不能点击"
## 问题描述

range组件点击会报错
![4481660568932_ pic](https://user-images.githubusercontent.com/14303897/184640962-52465340-e3b6-49f5-90f1-fd52efe7a85d.jpg)

## 最小可复现仓库

https://github.com/herodhb/range_bug_demo.git

## 预期的行为和实际行为
在demo中可以拖动但无法点击

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：macos
- **Node 版本**：16.15.0
- **NutUI 版本**： "@nutui/nutui-taro": "^3.2.1",
- **Vue 版本**："vue": "^3.0.0",
- **引用方式**：  NPM

[2022-08-15 15:18] zhangzheng7856 opened #1559 "NutUI是否支持Nuxt3,能给个demo吗"
目前对项目SEO有要求，能给个案例吗

[2022-08-16 01:45] Ymm0008 commented on #1392
@MyGitsAccount 辛苦提供一下复现仓库

[2022-08-16 05:50] garenlyu1993 opened #1560 "[bug]List页面 demo 代码无效果"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-08-16 06:20] 1055241046 commented on #1545
获取到最新的值会有延时，希望官方尽快修复，测试给我提了个bug,

[2022-08-16 06:34] 1055241046 opened #1561 "v3.2.0版本Picker滚动选择值后快速点击确定获取到的值不是最新值，有延时。"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-08-16 06:35] 1055241046 commented on #1561
<nut-picker
	id="courseSelect"
	v-model="state.selectCourse"
	:visible="state.showCourse"
	:columns="state.courseList"
	title="选择课程"
	@close="
		state.showCourse = false;
		state.showPickerFlag = false;
	"
	@confirm="courseOnConfirm"
	@change="courseOnChange"
	:threeDimensional="true"
/>

[2022-08-16 07:42] JackYumg opened #1562 "[suggest]"
## 你建议我们做什么？

现在`InputNumber`数字输入框加和减的图标固定

如果你能自定义图标就好了

这样的话这个组建的灵活性更高

## 其它

无

[2022-08-16 09:36] linjiangl commented on #1552
建议在这个组件里面简单封装下，不然后面还要切换。

[2022-08-16 10:02] luxiang0412 opened #1564 "[question]滚动加载touchstart事件和click共存的问题"
## 你想知道什么？

滚动加载 下拉刷新好像有点问题。
[https://github.com/jdf2e/nutui/blob/next/src/packages/__VUE/infiniteloading/index.vue#L201-L208](https://github.com/jdf2e/nutui/blob/next/src/packages/__VUE/infiniteloading/index.vue#L201-L208)
这里的判断逻辑，当beforeScrollTop为0的时候。列表项被点击的时候会触发touchstart事件，然后state.isTouching变为true。这个时候再次点击列表项的时候会触发下拉加载。

## 描述你考虑过的替代方案

我想...

## 其它

无

[2022-08-17 06:36] #1560 closed, assigned to nobody

[2022-08-17 07:37] wy1037 opened #1566 "[bug]nut-datepicker 只改变小时不改变分钟的时候，confirm 事件value 不变"
nut-datepicker 组件
在只改变小时，不改变分钟的时候，confirm 事件得到的 value 是旧值。
例如：
2022-01-02 10:11  改为 2022-01-02 12:11 后，
confirm 事件 selectedValue里的内容是 改前的  2022-01-02 10:11  。

如果一次没有效果，多试两次就能看到效果

环境：
  cdn的方式引入NutUI组件库：
  <script src="https://cdn.jsdelivr.net/npm/@nutui/nutui/dist/nutui.umd.js"></script>
js 版本： @nutui/nutui v3.2.1 Tue Aug 09 2022 17:11:03 GMT+0800 (中国标准时间)

[2022-08-17 08:13] sunWhereCode opened #1568 "[question] Calendar组件可以自定义多个选中颜色吗？"
## 你想知道什么？

你好，我想知道这个项目是否可以 Calendar组件可以自定义多个选中颜色吗？
![image](https://user-images.githubusercontent.com/1262247/185068795-e9f7a91c-fb8c-4444-ab6d-14b5a7c4972f.png)

## 描述你考虑过的替代方案

修改源码打包替换组件是否可行

## 其它

无

[2022-08-17 08:39] kongsiyu commented on #1549
解决了吗

[2022-08-17 08:41] kongsiyu commented on #1549
@szg2008 啥情况啊大佬，有没有解决方案

[2022-08-17 09:16] mulianju opened #1569 "nutui组件大部分都编译成image组件"
nutui组件大部分都编译成image组件了，导致页面错乱
![543a5944cac2c45b30482df22686f28](https://user-images.githubusercontent.com/9363010/185082031-e79ee405-9fd4-4eb2-8887-51a4e5e5f985.jpg)
![3b9f13b765afe7420acf93ae76445b2](https://user-images.githubusercontent.com/9363010/185082102-3dc2ef0d-80c1-4007-bb87-572bf183cbf8.jpg)

demo源码在附件里，页面pages/financial/interest/interest
[calculator.zip](https://github.com/jdf2e/nutui/

[2022-08-17 09:51] eiinu commented on #1569
测试了一下是正常的

[2022-08-17 09:51] eiinu commented on #1569
![image](https://user-images.githubusercontent.com/44915689/185089747-b21b8617-152e-408e-9c9d-5341739482cd.png)

[2022-08-17 10:01] mulianju commented on #1569
请问环境是怎样的呢  node版本什么的  对源码有什么改动吗

[2022-08-17 10:06] eiinu commented on #1569
我是直接 `pnpm install & pnpm build:weapp` ，没有修改内容，node 版本号是 `v14.20.0`。你可以重新 install 试一试

[2022-08-17 10:23] mulianju commented on #1569
切换了node版本，之前10.14.2确实不行，换了v14.19.3，现在可以了，感谢大佬

[2022-08-17 10:23] #1569 closed, assigned to nobody

[2022-08-18 07:58] grace5925 commented on #1545
确实有同样的问题，要等滚动动画结束后才能获取到最新的值

[2022-08-18 08:20] richard1015 commented on #1568
https://nutui.jd.com/theme/#/base 在线主题定制工具

自定义多个选中颜色？ 指什么，可以具体描述一下 使用场景

[2022-08-18 08:53] GuoWei1016 opened #1570 "[bug]h5 Signature 签名不能使用，报错"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-08-18 08:54] GuoWei1016 commented on #1570
SignCanvas.vue?358a:67 Uncaught TypeError: Cannot read properties of undefined (reading 'getContext')
    at SelectorQuery.eval (SignCanvas.vue?358a:67:1)
    at eval (selectorQuery.js?3cc9:188:1)
    at queryBat (selectorQuery.js?3cc9:152:1)
    at SelectorQuery.exec (selectorQuery.js?3cc9:182:1)
    at eval (SignCanvas.vue?358a:60:1)
    at eval (next-tick.ts?77bc:11:1)

[2022-08-19 07:46] lingdulib opened #1571 "[bug]Sticky 粘性布局,在微信小程序客户端，吸顶后，再下拉恢复到原始位置，出现跳动现象"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 3.2.1
- **Vue 版本**：
- **引用方式**：   NPM

[2022-08-19 08:05] lingdulib opened #1572 "[bug]Picker 选择器 多级联动，三级省市区设置默认值，在小程序端只有前两级会生效，第三级默认第一条，不会选中设置的默认值"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：3.2.1
- **Vue 版本**：
- **引用方式**： NPM

[2022-08-19 11:03] myxfeng opened #1573 "[bug] ImagePreview taro"
Nutui  v3.2.1
 createElementVNode("image", {
                    mode: "aspectFit",
                    src: item.src,
                    class: "nut-imagepreview-img"
                  }, null, 8, _hoisted_1)
                ]),

"image" dom 节点  用taro  编译h5 后 image  标签图片不显示
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @

[2022-08-19 12:59] KwangHosea opened #1574 "表单非空验证，值为数字0会被提示空"
## 问题描述

调用表单radio控件，选项为0和1 ，值为数字0会被提示空
## 最小可复现仓库

![image](https://user-images.githubusercontent.com/9004813/185623127-d899c0d1-760c-4d1b-bb6d-25e53e41b9a3.png)
Form.js 下判断方式未考虑0。

## 预期的行为和实际行为
0不是空，校验时可以通过

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
 3.2.1
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？
NPM

[2022-08-19 13:03] KwangHosea opened #1575 "radio组件不支持布尔值[bug]"
## 问题描述

接口文档描述可以传入 字符、数值、布尔类型，但不支持布尔类型，控制台会有warning提示，源码中实际限定了只能传字符和数值类型，并且在选择为false时，如果加入非空校验，会提示为控制需要传值。
## 最小可复现仓库

## 预期的行为和实际行为
可以支持传入布尔值

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
3.2.1
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？
NPM

[2022-08-19 14:21] KwangHosea opened #1576 "uploader 组件 before-delete 使用Promise控制是否删除无效[bug]"
## 问题描述

uploader 组件 before-delete  使用Promise控制是否删除无效
## 最小可复现仓库

`<nut-uploader
:before-delete="removeFile"
/>`
`
const removeFile = (file) => {
          return new Promise((resolve, reject) => {
               resolve(false);
          }
}
`

## 预期的行为和实际行为
应该不删除已上传的附件，但实际删除。只支持直接返回 true或 false,
原本时希望结合Dialog组件，在confirm后点ok删除，cancel取消时不删除

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **N

[2022-08-19 23:30] seedor81 commented on #1286
3.2.1版本确定解决了吗，taro3.4.6  "@nutui/nutui-taro": "^3.2.1" 下h5运行 我这还是不能下拉加载

[2022-08-20 12:35] luxiang0412 commented on #1564
测试代码：[https://github.com/luxiang0412/nut-infiniteloading-test](https://github.com/luxiang0412/nut-infiniteloading-test)
![order_insert](https://user-images.githubusercontent.com/27472573/185746448-c6819e89-aab8-4122-ae00-0c470f6cf70d.gif)

[2022-08-21 08:11] gmdesting opened #1578 "nut-picker 报错[bug]"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
3.X的下拉菜单就出问题，下拉结果逻辑就错了，你们官网的例子就是给的错的，也拿出做框架？最基础的picker都没法保证，拜托请谨慎点！！！！！！

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-08-21 08:21] gmdesting commented on #1578
找到问题了，要等滑动效果完成后静止状态选值才有效果，如果碰到快速操作怎么处理，目前是下拉菜单得值和显示得值不同。

[2022-08-21 11:01] skyunBoss commented on #1541
同样问题

[2022-08-21 14:25] KwangHosea opened #1579 "[bug] Calendar 日历组件滚动方法无效"
## 问题描述

引用Calendar 日历组件，点开后需要定位到当前年月，但日期范围可以从2000年开始，默认会打开会显示2000年1月面板，通过scrollToDate方法想初始定位到当前年月，引用后无效
## 最小可复现仓库

## 预期的行为和实际行为
很多情况组件初始无需指定起止范围.
API文档中开始截止日期定义的描述 start-date  开始日期， 如果不限制开始日期传 null，一般人都会理解为传null就不限制，但实际行为确实限制为今天，这个在之前的问题中也由人提，相信很多人都会踩这个坑，希望默认就是不限制时间范围的，并且如果未传值的时候打开时是定位到当前年月面板，而不是定位到开始日期的面板。

## 复现步骤，具体代码
<nut-calendar
      v-model:visible="calendarVisible"
      :default-value

[2022-08-21 14:29] KwangHosea commented on #1578
也遇到了，这个bug在很早前就有人提了，但一直没有修复，并且手机上滚动卡顿情况还比较严重。

[2022-08-22 03:32] richard1015 commented on #1249
![image](https://user-images.githubusercontent.com/13060263/185833151-d1242345-2b6b-483b-897d-519e5661d8c7.png)

[2022-08-22 06:37] yangxiaolu1993 commented on #1578
问题已经修复，在下个版本 3.2.2 发布

[2022-08-22 06:40] yangxiaolu1993 commented on #1572
提供一下可以复现的小版本代码

[2022-08-22 06:43] yangxiaolu1993 commented on #1566
问题已经修复，在 3.2.2 版本发布

[2022-08-22 06:57] HongLiangGong1990 commented on #1513
picker太卡了，新版本几乎没有任何改善

[2022-08-22 07:24] yangxiaolu1993 commented on #1578
可优先使用 [3.2.2-beta.1](https://www.npmjs.com/package/@nutui/nutui/v/3.2.2-beta.1)

[2022-08-22 07:24] #1578 closed, assigned to nobody

[2022-08-22 07:24] yangxiaolu1993 commented on #1566
可优先使用 [3.2.2-beta.1](https://www.npmjs.com/package/@nutui/nutui/v/3.2.2-beta.1)

[2022-08-22 07:24] #1566 closed, assigned to nobody

[2022-08-22 07:25] yangxiaolu1993 commented on #1545
可优先使用 [3.2.2-beta.1](https://www.npmjs.com/package/@nutui/nutui/v/3.2.2-beta.1)

[2022-08-22 07:25] #1545 closed, assigned to yangxiaolu1993

[2022-08-22 07:26] yangxiaolu1993 commented on #1561
可优先使用 [3.2.2-beta.1](https://www.npmjs.com/package/@nutui/nutui/v/3.2.2-beta.1)

[2022-08-22 07:26] #1561 closed, assigned to nobody

[2022-08-22 07:27] yangxiaolu1993 commented on #1513
可以通过  threeDimensional=false 将 3D 滚动效果关闭，效果会好很多

[2022-08-22 07:28] #1513 closed, assigned to yangxiaolu1993

[2022-08-22 07:57] #1562 closed, assigned to eiinu

[2022-08-22 08:32] MKP999 opened #1580 "[bug]picker组件修改参数three-dimensional为false出现莫名的报错"
## 问题描述

picker组件修改参数three-dimensional为false出现莫名的报错
## 最小可复现仓库

<nut-picker :three-dimensional="false" v-model:visible="show" :columns="columns" title="申请原因" @change="change"
      @confirm="confirm" id="reason-picker">
    </nut-picker>

仅添加了 :three-dimensional="false" 便报错，删掉没有问题

## 预期的行为和实际行为
阻塞流程

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：window
- **Node 版本**：12.18.1
- **NutUI 版本**： 查看项目package.json

[2022-08-22 10:36] MKP999 opened #1581 "[bug]pick组件滑动后，延迟严重，动画结束后至少1s以上才会调用调用change事件"
## 问题描述

pick组件滑动后，延迟严重，动画结束后至少1s以上才会调用调用change事件！！！当滑动结束后，点击确认，这时候直接调用confirm事件，不调用change事件了

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
<nut-picker v-model:visible="show" :columns="columns" title="申请原因" @change="change"
      @confirm="confirm" id="reason-picker"></nut-picker>

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-08-22 11:45] MKP999 opened #1584 "[bug]pick组件滑动后，延迟严重，动画结束后至少1s以上才会调用调用change事件"
## 问题描述

pick组件滑动后，延迟严重，动画结束后至少1s以上才会调用调用change事件！！！当滑动结束后，点击确认，这时候直接调用confirm事件，不调用change事件了

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
<nut-picker v-model:visible="show" :columns="columns" title="申请原因" @change="change"
      @confirm="confirm" id="reason-picker"></nut-picker>

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-08-22 11:45] #1581 closed, assigned to nobody

[2022-08-22 12:02] yangxiaolu1993 commented on #1580
问题已修复，可 [3.2.2-beta.1](https://www.npmjs.com/package/@nutui/nutui-taro/v/3.2.2-beta.1) 版本

[2022-08-22 12:02] #1580 closed, assigned to nobody

[2022-08-22 12:03] #1584 closed, assigned to nobody

[2022-08-23 07:24] xzy-96 commented on #728
我这边是 tab 下面还有 tab 就报了
[NutUI] <Tabs> 当前未找到 TabPane 组件元素 , 请检查
(env: Windows,mp,1.06.2208010; lib: 2.17.0)
._node_modules_@nutui_nutui-taro_dist_packages__es_Tabs.js:93

[2022-08-23 07:25] xzy-96 commented on #728
我的版本是 3.2.1

[2022-08-23 07:41] xzy-96 opened #1585 "[bug]"
## 问题描述
组件tab 下面 还有tab 就是嵌套tab
tab
---   tabpane
 ------     tab
 ---------        tabpane
   这样就报错了

## 相关环境信息
- **操作系统**：window
- **Node 版本**：16
- **NutUI 版本**： 3.2.1
- **Vue 版本**：3.2.24
- **引用方式**：   NPM

[2022-08-23 07:52] xzy-96 commented on #1585
[NutUI] <Tabs> 当前未找到 TabPane 组件元素 , 请检查 .(env: Windows,mp,1.06.2208010; lib: 2.17.0)

._node_modules_@nutui_nutui-taro_dist_packages__es_Tabs.js:95
 [NutUI] <Tabs> 请检查 v-model 值是否为 paneKey ,如 paneKey 未设置，请采用下标控制 .(env: Windows,mp,1.06.2208010; lib: 2.17.0)

[2022-08-23 08:09] #1392 closed, assigned to Ymm0008

[2022-08-23 09:11] ailululu commented on #1550
是小程序原生input导致的，在安卓机下，scroll-view里使用input，会出现输入内容上移错位的问题，建议在使用input时，不要使用scroll-view

[2022-08-23 12:10] eiinu commented on #1570
Signature 组件基于 Canvas 实现，目前 Taro 框架中的 Canvas 在 H5 端适配还不完善，参考 [Taro API文档-Canvas](https://taro-docs.jd.com/taro/docs/apis/canvas/)。我们会积极跟进适配。

[2022-08-23 12:10] #1570 closed, assigned to eiinu

[2022-08-23 14:11] yanbowe opened #1588 "[bug]taro 3.5.4版本按需引入@nutui/nutui-taro报错"
## 问题描述

taro 3.5.4版本按需引入nutui报错
<img width="1590" alt="image" src="https://user-images.githubusercontent.com/43030980/186179278-f45658bc-2b38-408b-bfc5-93062484a8fc.png">

## 最小可复现仓库
https://github.com/yanbowe/nutui-report

## 预期的行为和实际行为
正常运行

## 复现步骤，具体代码
pnpm install
pnpm dev:h5
把app.ts中的nutui相关代码注释掉就可以编译成功

## 相关环境信息
- **操作系统**：
- **Node 版本**：v16.15.0
- **NutUI 版本**： "@nutui/nutui-taro": "^3.2

[2022-08-23 14:31] mz-dfhp opened #1589 ""@nutui/nutui-taro": "^3.2.1" taro3.5.2 编译到h5 报错"
## 问题描述

![image](https://user-images.githubusercontent.com/63582593/186185458-5638f12d-2247-420c-ad75-76a67162ce60.png)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：window
- **Node 版本**：16.17.0
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：^3.0.0
- **引用方式**：  CDN / NPM ？yarn

[2022-08-24 01:47] eiinu commented on #1588
可以尝试在 Taro 项目 config/index.js 中的 h5 部分增加如下配置：
[code]

[2022-08-24 01:50] eiinu commented on #1589
可以尝试在 Taro 项目 config/index.js 中的 h5 部分增加如下配置：
[code]

[2022-08-24 05:58] Jiang928 commented on #1589
刚试了下, 可以了

[2022-08-24 07:05] mulianju opened #1591 "[suggest] nut-picker选择器优化建议"
1. nut-picker选择器滚动动画太慢了，接近目标时候更慢，经常视觉上我已经滑动到指定位置了，然后点击确认后，选择的选项却还是上一次的
2. 另外nut-picker的弹层，建议做成fix定位，不然我放到局部模块组件的时候，会受模块本身的定位影响

[2022-08-24 07:06] yanbowe commented on #1588
谢谢，可以运行了

[2022-08-24 07:06] #1588 closed, assigned to nobody

[2022-08-24 10:03] lm1073330969 opened #1592 "SearchBar样式优化[bug]"
## 问题描述
![image](https://user-images.githubusercontent.com/33533316/186393037-b90c07d1-4a29-447b-8742-540128efcd7c.png)
1、SearchBar组件，在输入内容时，右侧删除图标不支持更换
2、SearchBar组件，在输入内容时，不支持搜索框的选中样式

## 最小可复现仓库

## 预期的行为和实际行为
1、SearchBar组件，在输入内容时，右侧删除图标可以支持自定义
2、SearchBar组件，在输入内容时，支持配置搜索框的选中样式

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引

[2022-08-24 15:17] mz-dfhp opened #1593 "[bug] navbar 编译到微信小程序中 没有适配 包括官网推荐的模板编译到小程序中也是"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：window
- **Node 版本**：16.7.0
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息  3.5.2
- **Vue 版本**：3.0.0
- **引用方式**：  CDN / NPM ？npm

[2022-08-24 15:18] mz-dfhp opened #1594 "[bug] navbar 编译到微信小程序中 没有适配 包括官网推荐的模板编译到小程序中也是"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：window
- **Node 版本**：16.7.0
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息  3.5.2
- **Vue 版本**：3.0.0
- **引用方式**：  CDN / NPM ？npm

[2022-08-24 15:48] mz-dfhp commented on #1593
![image](https://user-images.githubusercontent.com/63582593/186463579-2940fd26-a5f0-4cf5-8951-c2aef1fc27d3.png)

[2022-08-24 15:50] mz-dfhp commented on #1593
![image](https://user-images.githubusercontent.com/63582593/186464096-a34ac890-fb7b-48d2-ac76-81f0d8074956.png)

[2022-08-24 15:51] mz-dfhp commented on #1593
![image](https://user-images.githubusercontent.com/63582593/186464352-7f9e5df9-3cb5-4d01-bb62-bfa2eb0c0790.png)

[2022-08-25 05:45] #1589 closed, assigned to nobody

[2022-08-25 07:22] NT-Sasoli commented on #1524
刚升级3.2.1，Ellipsis还不能用

[2022-08-25 08:08] zengjingke opened #1595 "[bug]官方小程序demo，涉及到picker 滚动非常卡顿，并且滚动picker时候，body也会跟着滑动"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-08-25 09:52] ShawnZeng opened #1596 "[question] 图片上传组件只支持 url上传吗？"
## 你想知道什么？
图片上传组件如下，需要有一个上传文件的url。
`<template>
  <nut-uploader :url="uploadUrl" v-model:file-list="defaultFileList" maximum="3" multiple></nut-uploader>
</template>`
小程序云开发上传文件不适用url，而是用类似以下API。

wx.cloud.uploadFile({
  cloudPath: 'example.png',
  filePath: '', // 文件路径
})

这种情况怎么办？难道我需要搭建一个HTTP服务来接收图片吗？

## 描述你考虑过的替代方案

是否可以使用:before-upload="beforeUpload" 来上传文件？然后我用一个假的url?

[2022-08-25 11:59] xiaohz22 opened #1597 "[question]Uploader文件上传组件，完成某些操作后怎么清空显示的已上传的文件"
## 你想知道什么？

你好，我想知道Uploader文件上传组件可以清空显示的已上传的文件吗？

![image](https://user-images.githubusercontent.com/66070206/186658522-f53a2c58-aa8f-4fe4-9ebb-01e081026db5.png)

如图，我上传了一张图片，按提交按钮后进行了某些操作，这些操作结束需要**清除红框中显示的图片**。

## 描述你考虑过的替代方案

尝试通过绑定v-model:file-list属性，直接赋值空数组但未能解决。

## 其它

请问有什么解决方案吗？

[2022-08-25 12:14] yangxiaolu1993 commented on #1591
首先非常感谢你对NutUI的支持。下面是对每个建议的回复：
建议一：nut-picker 组件已经做了优化，并暴露了控制滚动速度的 props swipe-duration，并在 3.2.2 版本发布。
建议二：nut-picker 的当前使用的是 fixed 定位，你所描述的场景可以 提供一个小版本的 Demo 吗？

[2022-08-26 02:02] mulianju commented on #1591
[test.zip](https://github.com/jdf2e/nutui/files/9429225/test.zip)
不好意思，之前看表现就武断的判断是absolute定位了，仔细看了一下解析代码，确实是fixed，不过默认状态下和tab组件嵌套还是有一些问题的

[2022-08-26 02:06] HuangZK12 opened #1598 "[bug]"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为
在使用keep-alive缓存页面时候，跳转后触发onDeactivated事件会报错`myDrag.value.removeEventListener is not a function`，由于是vue3，是proxy对象，所以需要加value解决

## 复现步骤，具体代码

![image](https://user-images.githubusercontent.com/76559687/186800906-7bcf1756-df59-4e61-bc9e-c15544df2780.png)

## 相关环境信息
- **操作系统**：window 10
- **Node 版本**： 14.17.0
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息 3.2.1
- **

[2022-08-26 08:01] tolking opened #1600 "[bug] Dialog 直接使用 header 插槽没有显示"
## 问题描述

为 Dialog 组件增加 header 插槽显示自定义标题内容时，标题没有展示。

查阅源码发现 `<view v-if="title" class="nut-dialog__header">`，目前这样只有在配置 title 后生效。这样似乎有些不是很合理

## 最小可复现仓库

[code]

## 预期的行为和实际行为

直接可以显示内容

实际上，必须配置 title 才能够显示

[code]

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 3.1.8
- **Vue 版本**：
- **引用方式**：  NPM

[2022-08-26 09:52] yangxiaolu1993 commented on #1591
由于 Picker 组件设计的原因，暂时是不能放到 Tabs 、Form 这些组件中的，将 Picker 放到外部使用就可以了

[2022-08-26 10:24] eiinu commented on #1585
nut-tabs 是支持嵌套的，这里有一个 demo：[CodeSandbox](https://codesandbox.io/s/nutui3-vite-demo-forked-6hy4nd?file=/src/App.vue).
报错 1 原因：某一个 nut-tabs 内部没有找到 nut-tabpane。
报错 2 原因：nut-tabs 的 v-model 值与内部所有 nut-tabpane 的标识 paneKey 都不一致。

[2022-08-27 12:59] herodhb commented on #1558
这个有说法吗

[2022-08-27 13:56] ShawnZeng commented on #1417
用的@nutui/nutui-taro 3.2.1 还发生。

[2022-08-28 15:28] cherrol opened #1602 "[bug] nut-dialog 异步关闭不起作用"
## nut-dialog 微信小程序环境下异步关闭不起作用

## 最小可复现仓库

## 预期的行为和实际行为
- 能正常实现异步关闭

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：windows 11
- **Node 版本**：v16.14.2
- **NutUI 版本**： "@nutui/nutui-taro": "^3.1.8"
- **Vue 版本**："vue": "^3.0.0"
- **引用方式**： NPM

[2022-08-29 02:01] #1575 closed, assigned to eiinu

[2022-08-29 02:01] #1574 closed, assigned to eiinu

[2022-08-29 05:19] garenlyu1993 commented on #1560
未解决呀，这个是你们官网的代码，点击在线调试的结果
![image](https://user-images.githubusercontent.com/73512013/187128167-0ed1dabd-784c-475b-920c-64f1fa0a12ad.png)

[2022-08-29 07:32] lingdulib opened #1603 "v3.2.1小程序版本Picker滚动选择值后快速点击确定获取到的值不是最新值，有延时。[bug]"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
 <nut-picker
      v-model:visible="voucherShow"
      :columns="voucherTypeArr"
      title="类型"
      @confirm="confirmVoucher"
      @change="changeVoucher"
      :immediateChange='true'
    />

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：3.2.1
- **Vue 版本**：3.0
- **引用方式**：  npm

[2022-08-29 08:15] eiinu commented on #1560
官方文档还未更新，最近会发版。
旧文档中 List 的 demo 缺少了样式部分代码，加在后面就可以了。
[code]

[2022-08-30 01:22] yangxiaolu1993 commented on #1603
问题已经修复， 3.2.2 版本发布

[2022-08-30 02:01] lingdulib commented on #1572
const areaCurrentDefault = ref(['420000', '420100', '420111'])
rawCitiesData=[{
		"text": "北京市",
		"value": "110000",
		"children": [{
			"text": "北京市",
			"value": "110100",
			"children": [{
					"text": "东城区",
					"value": "110101"
				},

				{
					"text": "西城区",
					"value": "110102"
				},

				{
					"text": "朝阳区",
					"value": "110105"
				},

				{
					"text": "丰台区",
					"value": "1

[2022-08-30 02:04] lingdulib commented on #1572
示例已提供，麻烦看下呢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "jdf2e/nutui"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年8月22日(星期一) 下午2:40
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [jdf

[2022-08-30 02:26] forestRhapsody commented on #1585
<Tabs> 当前未找到 TabPane 组件元素 , 请检查 .(env: macOS,mp,1.06.2208010; lib: 2.25.1)
[NutUI] <Tabs> 请检查 v-model 值是否为 paneKey ,如 paneKey 未设置，请采用下标控制 .(env: macOS,mp,1.06.2208010; lib: 2.25.1)

我升级到3.2.1后也是报这个错，之前版本使用正常，不过不影响功能

[2022-08-30 03:17] 641869306 commented on #1572
我也遇到同样问题。希望官方可以解决下~

[2022-08-30 09:07] iFTY-R opened #1605 "[bug] taro 中 sticky 无法使用，报错：Sticky.js?b0c9:37 Uncaught (in promise) TypeError: _tarojs_taro__WEBPACK_IMPORTED_MODULE_1___default(...).createSelectorQuery is not a function"
## 问题描述
taro 中使用 @nutui/nutui-taro 组件库中的Sticky 组件 报错，无法使用，
`
       Uncaught (in promise) TypeError: _tarojs_taro__WEBPACK_IMPORTED_MODULE_1___default(...).createSelectorQuery is not a function`

## 最小可复现仓库

## 预期的行为和实际行为

### 实际上报错:
Sticky.js?b0c9:37
       Uncaught (in promise) TypeError: _tarojs_taro__WEBPACK_IMPORTED_MODULE_1___default(...).createSelectorQuery is not a function

## 复现步骤，具体代码

[2022-08-30 09:28] wy1037 opened #1606 "[bug] nut-tabs 组件 v-for 创建 nut-tabpane 时 浏览器控制台报错"
版本：@nutui/nutui v3.2.1

动态创建 nut-tabpane 时，

代码如下：
 <nut-tabs v-model="tabvalue">
            <nut-tabpane v-for="item in modulelist" :pane-key="item.moduleID" :title="item.name">
                {{item.name}}
            </nut-tabpane>
        </nut-tabs>

浏览器控制台报错：
 [NutUI] <Tabs> 当前未找到 TabPane 组件元素 , 请检查 .

[2022-08-30 09:57] ShawnZeng opened #1607 "[bug] List组件的scroll-bottom事件不被触发"
## 问题描述
拉到底@scroll-bottom事件也不触发。

## 最小可复现仓库

@scroll="handleScrollBottom($event)"

      handleScrollBottom: (e) => {
        console.log(e)
      }
## 预期的行为和实际行为

## 复现步骤，具体代码
@scroll-bottom应该触发

## 相关环境信息
- **操作系统**：
- **Node 版本**：v14.18.3
- **NutUI 版本**： 3.2.1  （taro版本）
- **Vue 版本**：3.2.38
- **引用方式**：  NPM

[2022-08-30 10:25] ShawnZeng commented on #1607
好像是container-height超过某个特定高度，就不触发。高度完全在视野范围内。

[2022-08-30 13:01] MuGuiLin opened #1608 "[bug] 组件 -> 操作反馈 -> Toast 吐司 中的： loadingRotate参数为false时无效"
## 问题描述

组件 -> 操作反馈 -> Toast 吐司功能中的Toast.loading()方法，用js方式调用时，设置oadingRotate: false，自定义的icon图标还是会旋转，oadingRotate参数的默认值是true，当值为false应该不旋转才对。
[Demo地址](https://nutui.jd.com/#/zh-CN/component/toast)

## 最小可复现仓库

## 预期的行为和实际行为
当oadingRotate参数的值是false时，应取消旋转动画。

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：
- **Node 版本**：v16.13.0
- **NutUI 版本**： v3.2.1
- **Vue 版本**：v3.2.25
- **引用方式**： NPM

[2022-08-31 01:33] yangxiaolu1993 commented on #1573
首先感谢你对 NutUI 的支持。抱歉你提出的问题我没太理解，Issue 标题为 Imagepreview，但是创建的 dom 并不是 <nut-imagepreview>，请自查一下是不是使用错误

[2022-08-31 01:42] yunhouhuang opened #1609 "[suggest]在小程序上一些组件会丢失动画"
比如 popup 组件直接显示，挺难受的

[2022-08-31 02:41] sunWhereCode commented on #1353
解决了吗

[2022-08-31 02:41] sunWhereCode commented on #1355
解决了吗

[2022-08-31 02:57] forestRhapsody opened #1610 "[bug] 级联选择器->自定义属性名称文档示例代码有误"
![image](https://user-images.githubusercontent.com/56438212/187582435-be0ddd51-dd41-4389-890d-930dde55ebfd.png)

应为text-key，我直接复制的 害我调了半天😔

[2022-08-31 07:18] #1600 closed, assigned to nobody

[2022-08-31 07:20] richard1015 commented on #1606
参考 https://github.com/jdf2e/nutui/blob/next/src/packages/__VUE/tabs/demo.vue#L32

[2022-08-31 07:20] #1606 closed, assigned to richard1015

[2022-08-31 07:39] xiblying opened #1611 "[bug] nut-form与nut-form-item分别在不同组件渲染时，表单验证会失效"
## 问题描述

nut-form与nut-form-item分别在不同组件渲染时，表单验证会失效，debug发现findFormItem()返回空数组
## 最小可复现仓库

https://github.com/xiblying/nutui-test

[2022-08-31 08:16] MeiJunNa opened #1612 "picker可以自定义下方滚动区域的字体样式吗"
## 样式调整

目前滚动区域，字体大小和颜色无法调整

[2022-08-31 08:54] MeiJunNa commented on #61
在哪里增加一个自定义class？`<nut-datepicker
      class = "picker_wrap"

[2022-08-31 09:57] burgeryellow opened #1614 "自定义主题色按照文档介绍配置完成后仍不生效"
## 你想知道什么？

自定义主题色不生效，想请教下需要如何配置，taro版本3.5.4，nut ui 版本^3.1.8
创建了主题样式文件
![image](https://user-images.githubusercontent.com/52738928/187652284-f3a0fed0-b06e-417a-a5df-15cbde9a4843.png)

在config/index.js里进行了文档上说的配置
![image](https://user-images.githubusercontent.com/52738928/187652143-55101a0e-1f52-4af2-a963-e2d09809b1b0.png)

但是还是没有生效
<img width="241" alt="image" src="https://user-images.githubuserco

[2022-08-31 11:23] szg2008 commented on #1607
感谢反馈，我们跟进下

[2022-08-31 11:25] #1594 closed, assigned to nobody

[2022-08-31 13:38] sunWhereCode opened #1615 "[bug]menu列表过长无法滚动"
## 问题描述
nut-menu 组件 nut-menu-item 内容过多，大于5条时候在微信开发者工具里可以滚动，在真机下无法滚动。

## 预期的行为和实际行为
在真机下可以滚动

## 复现步骤，具体代码
<img width="469" alt="image" src="https://user-images.githubusercontent.com/1262247/187691429-8a12955a-5e05-4fdb-9714-b414e9e2835d.png">

[code]

3.1.20是可以的，最新版本不行。

## 相关环境信息
- **操作系统**：macOS
- **Node 版本**：16.17.0
- **NutUI 版本**： 3.2.1
- **Vue 版本**：3.2.38
- **引用方式**：  NPM
- **taro**: 3.4.10

[2022-08-31 13:40] sunWhereCode commented on #1343
menu-item也不能滚动，需要怎么解决

[2022-09-01 01:02] wy1037 opened #1616 "[bug] nut-collapse <template v-slot:mTitle>不显示插槽内容。"
cdn js 引用的方式。
版本 @nutui/nutui v3.2.1 Tue Aug 09 2022 17:11:03 GMT+0800 (中国标准时间)

html：
`  <nut-collapse v-model:active="activeNames" icon="down-arrow">
            <nut-collapse-item :name="1">
                <template v-slot:mTitle>
                    {{title1}}
                </template>
               title1-child
            </nut-collapse-item>
            <nut-collapse-item :title="title2

[2022-09-01 02:24] gslancer opened #1617 "uploader 在h5下，点击报错：_tarojs_taro__WEBPACK_IMPORTED_MODULE_2___default(...).chooseImage is not a function"
问题：
uploader 在h5下，点击报错：_tarojs_taro__WEBPACK_IMPORTED_MODULE_2___default(...).chooseImage is not a function

1. app.js中已经引入：

import { Icon, Uploader, Progress } from '@nutui/nutui-taro'

app.use(Icon)

app.use(Uploader)

app.use(Progress)

2. 页面使用：
`<nut-form :model-value="formData" ref="ruleForm">
   <nut-form-item label="上传:">
        <nut-uploader url="/upload/uploadfile" v-model:file-list="fo

[2022-09-01 07:27] wangfpp opened #1619 "[bug] Toast返回示例instance无法关闭"
## 问题描述
Toast实例无法关闭Toast

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：Ubuntu 20.04.4 LTS on Windows 10 x86_64
- **Node 版本**：v16.2.0
- **NutUI 版本**：3.1.21
- **Vue 版本**：3.2.37
- **引用方式**：  NPM

[2022-09-01 07:44] Zdaidia opened #1620 "[suggest] DatePicker 优化建议"
情况：使用DatePicker，选择好日期后，点击确认。经常会出现选中的日期还是上一次的日期的问题

建议：希望 DatePicker 也增加一个类似Picker的swipe-duration的props

[2022-09-01 08:20] yangxiaolu1993 commented on #1620
首先感谢你对 NutUI 的支持，提出的建议与问题已添加，在下个版本发布

[2022-09-01 09:36] sunWhereCode commented on #1343
设置 lock-scrol 以后会出现 左右滚动的情况

[2022-09-01 09:44] yangxiaolu1993 commented on #1572
感谢对NutUI的支持，问题已经修复，会在下个版本 3.2.2 发布

[2022-09-01 11:12] dodaydream commented on #1617
我也遇到相同的问题，依赖版本及错误信息同上面的

[2022-09-02 06:05] Vickeywei opened #1622 "[question] Uncaught TypeError: _tarojs_taro__WEBPACK_IMPORTED_MODULE_2___default(...).createSelectorQuery is not a function"
使用taro构建的项目，在页面中使用menu，会抛出这个错误，
vue 3.0.0
tarojs/taro:3.5.4

[2022-09-02 06:49] Ymm0008 commented on #1616
@wy1037  您好，能提供完整的代码吗？目前您说的这个问题无法复现。

[2022-09-02 07:06] mujia521 opened #1623 "新版本什么时候发布"
由于picker组件动画的延迟，导致点的快了返回的还是上一次的值。希望尽快更新，谢谢

[2022-09-02 07:14] wy1037 commented on #1616
代码在附件中，请下载。

效果如下：

Message ID: ***@***.***&gt;

[2022-09-02 08:16] Ymm0008 commented on #1616
您好，没有附件内容啊。-_- ||

在 2022-09-02 15:14:18，"wy1037" ***@***.***> 写道：

代码在附件中，请下载。

效果如下：

Message ID: ***@***.***&gt;

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were assigned.Message ID: ***@***.***>

[2022-09-02 08:24] wy1037 commented on #1616
有附件的，我再发一次看看。

Message ID: ***@***.***&gt;

[2022-09-02 09:58] xiblying opened #1625 "[bug] 弹窗会有警告，关闭会报错问题"
## 问题描述

弹窗会有警告，关闭会报错问题

## 最小可复现仓库

https://github.com/xiblying/nutui-test

[2022-09-03 03:14] liaoweiqiang opened #1626 "[bug]"
## 问题描述

## 最小可复现仓库
[code]

## 预期的行为和实际行为
slot-view内容不渲染

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：微信小程序
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息：@nutui/nutui-taro@3.2.1
- **Vue 版本**：3.2.37
- **引用方式**：  CDN / NPM ？pnpm

[2022-09-03 21:38] 1045598742 commented on #1383
支付宝小程序也一样

[2022-09-04 02:13] eruan opened #1627 "分页的disabled样式颜色格式有错误，在很多浏览器无法识别"
.nut-pagination .disabled {
    color: #7474744f;
    background-color: #f7f8fa;
    cursor: not-allowed;
}
css的color格式怎么有8位16进制，不应该是6位16进制吗

[2022-09-04 10:05] yangjinjun3 opened #1628 "price 在小程序中样式展示不对"
1、版本号：
"@nutui/nutui-taro": "3.2.1"

2、使用方式：
[code]

3、效果
<img width="153" alt="image" src="https://user-images.githubusercontent.com/44964193/188308149-a2a1e99f-1d1c-4bd2-839a-a95f3ac92013.png">

[2022-09-04 10:10] yangjinjun3 opened #1629 "Backtop 在小程序中不展示"
1、版本号
"@nutui/nutui-taro": "3.2.1"

2、使用方式
[code]

3、效果，控制台不报错，截图如下

<img width="320" alt="image" src="https://user-images.githubusercontent.com/44964193/188308273-7cf34c52-b323-4e5a-9d4c-14b64a177085.png">

[2022-09-04 10:10] oldsyang commented on #1560
貌似添加了你这个样式，也不起作用

[2022-09-04 10:17] eiinu commented on #1560
[在线调试](https://codehouse.jd.com/?source=share&type=vue&mainJs=Ly9pbXBvcnQgVkNvbnNvbGUgZnJvbSAidmPGDyI7Ci8vdmFyIHbIID0gbmV3yS8oKTsKx0J7IGNyZWF0ZUFwcCB9yEd1xELHIcQZxhcuL2FwcC7NHU51dFVJxx9AbnV0dWkvxQbKIsc2c2Nzc8sVzCwvZGlzdC9zdHlsZS7GJukAkihBcHApLnVzZSjFaSkubW91bnQoIiNhcHAiKTs=&appValue=PHRlbXBsYXRlPgogIDxkaXYgY2xhc3M9ImRlbW8ixBUgIDxoMj7ln7rnoYDnlKjms5U8L2gyxxpudXQtY2VsbMYPxxFsaXN0IDpoZWlnaHQ9IjUwIiA6

[2022-09-05 01:53] Drjingfubo commented on #1558
我用你的demo测试了一下，用的也是你仓库里的lock文件，  点击没问题呐
![image](https://user-images.githubusercontent.com/50685476/188344942-419d1c34-f685-4ebe-9aca-2d82d0fe4bfe.png)

[2022-09-05 01:57] Drjingfubo commented on #1619
NutUI的包是引用的哪个， @nutui/nutui还是@nutui/nutui-taro

[2022-09-05 03:04] lingdulib commented on #1603
请问什么时候可以发布这个小程序版本呢？

[2022-09-05 05:08] yongqcai commented on #1595
@yangxiaolu1993 麻烦官方留意下这个问题

[2022-09-05 06:33] yanbowe opened #1630 "[suggest]Barrage 弹幕支持插槽自定义"
## 你建议我们做什么？
Barrage 弹幕支持slot插槽自定义

目前不支持插槽

使用插槽可以自定义样式和元素
## 其它

无

[2022-09-05 06:38] #1614 closed, assigned to richard1015

[2022-09-05 06:45] lingdulib opened #1631 "[question]请问nutui小程序3.2.2版本什么时候发布呢，目前存在picker组件延迟响应问题，比较急"
## 你想知道什么？

你好，我想知道这个项目是否可以...

## 描述你考虑过的替代方案

我想...

## 其它

无

[2022-09-05 07:16] qq263402128 opened #1632 "[bug]taro中input @update:model-value事件会触发两次"
## 问题描述
taro中input @update:model-value事件会触发两次

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
  <nut-input
        v-model="account"
        @update:model-value="inputHandler"
      />
JS
    const inputHandler = (val) => {
      console.log(">>>>>>", val);
    };

## 相关环境信息
- **操作系统**：win11
- **Node 版本**：16.14.0
- **NutUI 版本**： 3.1.8
- **Vue 版本**：3.0.0
- **引用方式**：  NPM

[2022-09-05 07:39] Drjingfubo commented on #1629
backtop 默认需垂直滚动200px才会出现

[2022-09-05 07:50] Drjingfubo commented on #1627
https://developer.mozilla.org/zh-CN/docs/Web/CSS/color_value

![image](https://user-images.githubusercontent.com/50685476/188396496-26fe5af6-6fe0-4f13-9c4c-3e78159576eb.png)
![image](https://user-images.githubusercontent.com/50685476/188396527-ca9ef799-1ba7-4977-8df9-6149a9c0658a.png)

[2022-09-05 09:46] #1598 closed, assigned to Drjingfubo

[2022-09-05 23:55] wangfpp commented on #1619
@Drjingfubo nutui

[2022-09-06 01:35] Drjingfubo commented on #1619
提供一个git复现仓库，我本地按照你上边的写法复现不到

[2022-09-06 02:05] #1619 closed, assigned to nobody

[2022-09-06 02:22] #1629 closed, assigned to nobody

[2022-09-06 02:31] #1608 closed, assigned to nobody

[2022-09-06 02:33] Drjingfubo commented on #1615
明日发版解决

[2022-09-06 02:34] #1615 closed, assigned to nobody

[2022-09-06 02:44] #1592 closed, assigned to Ymm0008

[2022-09-06 09:18] droplet-js commented on #1549
啥情况啊，昨天还好好的，今天就跪了

[2022-09-06 10:00] Drjingfubo commented on #1593
你截图的这个不是nutui的navbar吧

[2022-09-06 10:29] kongsiyu commented on #1549
发版开始就一直这样的，只要用webpack5，我都提了快1个月了都没人管
我现在解决方案就是退回3.2.0，然后关闭prebundle
[code]

[2022-09-06 12:45] droplet-js commented on #1549
thanks

[2022-09-06 15:34] ForeverJuvenile commented on #209
使用 微信自有的api  wx.showToast 吧

[2022-09-07 01:31] ForeverJuvenile opened #1637 "[question]"
小程序 FormItem Slots label 插槽无效 不展示

[2022-09-07 01:32] ForeverJuvenile commented on #1637
![image](https://user-images.githubusercontent.com/39732420/188769055-45d3d10c-9380-4f15-9bba-3e07b293551c.png)

[2022-09-07 01:32] ForeverJuvenile commented on #1637
![image](https://user-images.githubusercontent.com/39732420/188769072-ad5abecc-365f-483a-afbf-4d3d7443047d.png)
无效

[2022-09-07 02:38] #1627 closed, assigned to nobody

[2022-09-07 02:40] Drjingfubo commented on #1585
https://github.com/jdf2e/nutui/issues/1544  3.2.2修复

[2022-09-07 02:41] Drjingfubo commented on #1585
#1636  报错为一个问题 3.2.2版本解决

[2022-09-07 02:41] #1585 closed, assigned to nobody

[2022-09-07 02:43] Drjingfubo commented on #1631
今日发布

[2022-09-07 02:46] Drjingfubo commented on #1558
如果还有问题，请再次提交issuss或者加入NutUI沟通群

[2022-09-07 02:46] #1558 closed, assigned to nobody

[2022-09-07 03:27] lkjh3214 commented on #1579
你好，感谢你的反馈。
1.日期范围的限制，有出于初次渲染性能问题的考量。
2.start-date默认为今天的问题，之后会对文档进行调整。
3.初始定位问题，后续迭代中，可以考虑添加一个设置字段。不过目前暂不支持。只能通过设置默认值调整
4. scrollToDate方法， 只有日历组件打开后才能使用。

[2022-09-07 06:34] muzixiaojun opened #1641 "sku组件，异步替换数据，imagePath 字段没有响应式，替换图片不显示[bug]"
sku组件，异步替换数据，imagePath 字段没有响应式，替换图片不显示[bug]

[2022-09-07 07:15] ailululu commented on #1484
你好 @meishaonian123 , 我们需要你提供一个在线的重现实例以便于我们帮你排查问题。你可以通过点击 [此处](https://codesandbox.io/s/eh6ck?resolutionWidth=414&resolutionHeight=736) 创建一个 codesandbox 或者提供一个最小化的 GitHub 仓库。请确保选择准确的版本。

[2022-09-07 07:19] Jonny-Zou opened #1642 "[bug] Taro编译ImagePreview组件到h5端无法正确显示图片"
## 问题描述
### H5端
![image](https://user-images.githubusercontent.com/35751713/188812321-a4d0643f-701f-418e-8428-8fb309fbd99b.png)
### 微信小程序
![image](https://user-images.githubusercontent.com/35751713/188812377-57f32209-c6b2-4b67-89e2-b4c2f8e96550.png)
### 支付宝小程序
![image](https://user-images.githubusercontent.com/35751713/188812193-df4fbc95-1442-4e6b-b1f9-9f51bc707743.png)

## 最小可复现仓库
https://github.

[2022-09-07 07:28] Jonny-Zou commented on #1573
编译后的产物是image标签，h5需要img标签，小程序则是image

编写了一个简单的例子复现了：https://github.com/jdf2e/nutui/issues/1642#issue-1364208180
原因和这位朋友说的一样：https://github.com/jdf2e/nutui/issues/1478#issue-1308994049

[2022-09-07 08:08] mulianju commented on #1591
好的，辛苦大佬

[2022-09-07 08:08] #1591 closed, assigned to nobody

[2022-09-07 09:47] ailululu commented on #1532
你好 @haohan88615 , 我们需要你提供一个在线的重现实例以便于我们帮你排查问题。你可以通过点击 [此处](https://codesandbox.io/s/eh6ck?resolutionWidth=414&resolutionHeight=736) 创建一个 codesandbox 或者提供一个最小化的 GitHub 仓库。请确保选择准确的版本。

[2022-09-07 11:25] kongsiyu opened #1643 "[suggest] 关于Uploader多选的问题"
## 你建议我们做什么？
在部分场景下，图片上传虽然支持多个，但从相册选择时希望可以每次只选1张，但目前暂不支持该逻辑，希望新增一个属性来扩展count的逻辑
[code]

[2022-09-07 11:54] #1579 closed, assigned to nobody

[2022-09-08 02:34] mujia521 commented on #1631
大佬 3.2.2发布了？没看到啊

[2022-09-08 04:19] az031120103 commented on #1631
@Drjingfubo 没发布哦

[2022-09-08 07:33] river0428 opened #1647 "[question]"
## 你想知道什么？

在企业微信网页应用聊天侧边栏MAC系统PC端标签页组件无法左右滑动，不知道有没有人遇到过这个问题

## 描述你考虑过的替代方案

我想...

## 其它

无

[2022-09-08 07:58] szg2008 commented on #1647
目前组件库只支持移动端

[2022-09-08 08:04] szg2008 commented on #1626
slot-view有这样的标签？

[2022-09-08 08:05] #1616 closed, assigned to Ymm0008

[2022-09-08 14:22] #1647 closed, assigned to nobody

[2022-09-08 14:22] #1637 closed, assigned to nobody

[2022-09-08 14:22] szg2008 commented on #1631
已发布，可安装试试～

[2022-09-08 14:22] #1631 closed, assigned to nobody

[2022-09-08 14:23] #1628 closed, assigned to nobody

[2022-09-08 14:23] szg2008 commented on #1623
v3.2.2已发布

[2022-09-08 14:23] #1623 closed, assigned to nobody

[2022-09-08 14:24] szg2008 commented on #1620
可安装新版本试试

[2022-09-08 14:24] #1620 closed, assigned to nobody

[2022-09-08 14:24] szg2008 commented on #1603
已发布，安装新版本试试

[2022-09-08 14:24] #1603 closed, assigned to nobody

[2022-09-08 14:25] szg2008 commented on #1568
这个可通过自定义样式解决

[2022-09-08 14:25] #1568 closed, assigned to nobody

[2022-09-08 14:26] szg2008 commented on #1572
已发布最新版本，可安装试试

[2022-09-08 14:26] #1572 closed, assigned to nobody

[2022-09-08 14:27] szg2008 commented on #1555
可安装新版本试试是否还存在此问题

[2022-09-08 14:28] szg2008 commented on #1524
可试试最新版本v3.2.2

[2022-09-08 14:29] #1427 closed, assigned to lkjh3214

[2022-09-08 14:30] #1488 closed, assigned to eiinu

[2022-09-08 14:31] #1626 closed, assigned to nobody

[2022-09-09 00:47] szg2008 commented on #1612
这个可以通过自定义样式修改

[2022-09-09 00:47] #1612 closed, assigned to nobody

[2022-09-09 00:49] #1533 closed, assigned to Drjingfubo

[2022-09-09 00:50] #1478 closed, assigned to yangxiaolu1993

[2022-09-09 00:54] #1441 closed, assigned to ailululu

[2022-09-09 00:56] #1116 closed, assigned to lkjh3214

[2022-09-09 01:15] MeiJunNa commented on #1612
作者，根本无法通过自定义样式修改呀，你这咋就直接关闭了？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？

[2022-09-09 03:51] lingdulib opened #1650 "[bug] 小程序版本,menu 菜单首次出现位置错误，首次出现会先屏幕顶端弹出，然后再回到下方位置"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 3.2.2
- **Vue 版本**：3.2
- **引用方式**：  NPM

[2022-09-09 04:52] ithreeleaf opened #1651 "微信小程序 DatePicker 选择时间会拖动整个页面，并且很卡，官方示例也是这样。"
https://user-images.githubusercontent.com/30279432/189274335-0d742e0d-2c21-47dd-adb1-b6193c68b607.mp4

[2022-09-09 04:53] ithreeleaf commented on #1651
手机是iphone 11

[2022-09-09 05:28] neighbour-oldhuang opened #1652 "#### Vite 构建工具 通过 vite-plugin 使用按需加载"
#### Vite 构建工具 通过 vite-plugin 使用按需加载

[Vite](https://vitejs.dev/) 构建工具，使用 [vite-plugin-style-import](https://github.com/anncwb/vite-plugin-style-import) 实现按需引入。

##### 安装插件
[code]
在 `vite.config` 中添加配置：
[code]

#### WebPack 构建工具 通过 babel 使用按需加载

[babel-plugin-import](https://github.com/ant-design/babel-plugin-import) 是一款 babel 插件，它会在编译过程中将 import 语句自动转换为按需引入的方式。
##### 安装插件
[code]
在 `.babelrc` 或 `b

[2022-09-09 05:29] neighbour-oldhuang commented on #1652
文档中 additionalData: `@import "@nutui/nutui/dist/styles/variables.scss";`  这里在 unix-like  机器上开发  时候   因为 packages下目录 全部是小写， 或报引用不存在

[2022-09-09 05:30] neighbour-oldhuang commented on #1652
@nutui/nutui/dist/packages/${name.toLowerCase()}/index.scss
可以改成这样

[2022-09-09 06:03] Zdaidia commented on #1620
感谢

[2022-09-09 07:02] forestRhapsody commented on #1524
3.2.2还是不行啊 官网的demo也没见跑起来过

[2022-09-09 07:09] lingdulib opened #1653 "[bug] 小程序版本picker，开启3d效果，报错，而且向下滑动，直接就定位到第一个元素，版本3.2.2"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
  <nut-picker
      v-model:visible="voucherShow"
      :columns="voucherTypeArr"
      title="类型"
      @confirm="confirmVoucher"
    />

报错:
TypeError: Cannot read properties of null (reading 'style')
    at Object.getComputedStyle (taro.js:2:1)
    at Proxy.onTouchStart (app.js:2:1)
    at Object.onTouchstart.t.<computed>.t.<computed> (app.js:2:1

[2022-09-09 07:35] droplet-js commented on #1466
无语！！！！！！！！！！！！！！！！！！

[2022-09-09 09:19] misterji opened #1654 "[bug] 初始化程序直接编译钉钉小程序 不能执行"
## 问题描述

初始化程序直接编译钉钉小程序 不能执行
"build:alipay": "taro build --type alipay",

Failed to compile
/Users/jiyjbook/Downloads/myApp/dist/vendors.js: Unexpected token (2492:124)
Please set enableNodeModuleBabelTransform to true or add "/Users/jiyjbook/Downloads/myApp/dist/vendors.js" to node_modules_es6_whitelist in mini.project.json for node_modules babel transform

## 相关环境信息
- **NutUI 版本**： 查看项目package.j

[2022-09-11 13:06] muzixiaojun opened #1655 "card 组件 附加点击事件"
card 组件没有点击事件，不能跳转详情

[2022-09-12 01:51] jaroky opened #1656 "_tarojs_taro__WEBPACK_IMPORTED_MODULE_3___default().createSelectorQuery is not a function"
taro  v3.5.5  + vue3 展现Elevator时出现

[2022-09-13 04:30] juzijun2020 opened #1657 "[bug] input-number 样式丢失"
## 问题描述

单独调用inputnumber出现 input 没有样式，如下图：
![img](https://raw.githubusercontent.com/juzijun2020/test/main/nutui-taro-bug-2022-09-13_2.png)
如果和其他表单项混合使用，inputnumber 里面的input 高度会变高，如下图：
![img](https://raw.githubusercontent.com/juzijun2020/test/main/nutui-taro-bug-2022-09-13_1.png)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
直接安装最新版本的taro和nutui，然后复制官方示例模板就可复现。

## 相关环境信息
- **操作系统**：MACOS
- **Node 版本**：8

[2022-09-13 09:46] lingdulib opened #1658 "[suggest] List 虚拟列表能否增加item项高度自适应，固定高度对于不同高度的item来说无法满足"
## 你建议我们做什么？

现在...

如果你能...

它将使...

## 其它

无

[2022-09-14 02:54] richard1015 commented on #1652
前几个月已经给插件提pr了，近期我们  重新修改一下官方文档

https://github.com/vbenjs/vite-plugin-style-import/pull/88/files

[2022-09-14 03:12] #1555 closed, assigned to yangxiaolu1993

[2022-09-14 03:13] richard1015 commented on #1544
升级最新版本 3.2.2

[2022-09-14 03:13] #1544 closed, assigned to richard1015

[2022-09-14 03:14] #1506 closed, assigned to richard1015

[2022-09-14 03:14] richard1015 commented on #1559
暂时不支持

[2022-09-14 03:19] richard1015 commented on #1413
查看 是否和  nutui  lock-bg 样式冲突导致的

[2022-09-14 03:19] #1413 closed, assigned to nobody

[2022-09-14 04:13] GitHubWuYi opened #1659 "[bug]Taro3+NutUI3使用国际化就报错"
`import { Locale } from '@nutui/nutui-taro';`
`import enUS from '@nutui/nutui-taro/dist/packages/locale/lang/en-US';`
`Locale.use('en-US', enUS);`

<img width="1202" alt="image" src="https://user-images.githubusercontent.com/19516351/190057962-1b713ed2-e0b9-4de4-9f80-e030267ad902.png">

[2022-09-15 03:08] jingyuhao1995 opened #1663 "[bug] button 禁用状态的按钮 @click.stop不生效"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-09-15 03:08] jingyuhao1995 commented on #1663
`<template>
  <div @click="father">
    父容器
      <nut-button plain disabled type="info" @click.stop="childClick1">禁用状态</nut-button>
      <nut-button plain type="primary" @click.stop="childClick2">非禁用状态</nut-button>
  </div>

</template>

<script>
import { reactive, toRefs } from 'vue';
export default {
  setup() {
    const father = ()=>{
      alert('父')
    }
    const childClick1 = ()=>{

[2022-09-15 05:15] rain-late opened #1664 "[suggest]"
loadIcon: {
      type: String,
      default: 'https://img10.360buyimg.com/imagetools/jfs/t1/169863/6/4565/6306/60125948E7e92774e/40b3a0cf42852bcb.png'
    },
上拉加载的图标类型是string类型，而官方文档是布尔类型，详情见滚动加载上拉icon

[2022-09-15 05:25] yanbowe commented on #1652
可否用[unplugin-vue-components](https://github.com/antfu/unplugin-vue-components)进行按需加载呢， [vite-plugin-style-import](https://github.com/anncwb/vite-plugin-style-import)已经没人维护了吧

[2022-09-15 05:57] 1045598742 opened #1665 "input输入框 支付宝小程序端需要增加always-system配置参数，部分机型需要这个"
## 问题描述
input输入框 支付宝小程序端需要增加always-system配置参数

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：支付宝小程序
- **NutUI 版本**： 最新版
- **引用方式**：  NPM

[2022-09-15 08:47] az031120103 opened #1667 "[suggest]InputNumber 能否支持负数，和取消最大 9999 限制"
## 你建议我们做什么？
业务需要 InputNumber  支持负数，取消最大 9999 限制
官方能否支持一下

[2022-09-15 10:16] JackYumg opened #1668 "[suggest]"
## 你建议我们做什么？

现在在使用Empty的时候发现自带的默认图片不符合我们的设计风格，在里面存在大量使用的地方，并且不想对这个组件进行二次封装。能不能让Empty的图片全局配置。

[2022-09-15 11:50] szg2008 commented on #1668
https://nutui.jd.com/#/zh-CN/component/Empty 可以支持自定义图片的

[2022-09-15 11:59] szg2008 commented on #1667
直接修改min属性即可

[2022-09-15 12:04] szg2008 commented on #1664
感谢反馈，已更新

[2022-09-15 12:04] #1664 closed, assigned to nobody

[2022-09-16 01:26] #1667 closed, assigned to nobody

[2022-09-16 01:26] az031120103 commented on #1667
修改 min  max

[2022-09-16 02:44] szg2008 commented on #1178
暂时不考虑加，如果有需求，可以直接使用swiper插件。感兴趣的话也欢迎提PR

[2022-09-16 02:44] #1178 closed, assigned to szg2008

[2022-09-16 02:58] asasdsad opened #1669 "Swipe 滑动手势 的一些问题"
使用Swipe 滑动手势组件时
用v-for循环出来的数据  左滑或者右滑动会导致所有数据都会显示出左边的内容
![image](https://user-images.githubusercontent.com/45427090/190547149-272a5ee3-758b-4a72-a4c8-95541c56088f.png)

[2022-09-16 03:16] muzixiaojun opened #1670 "[suggest] 这是一个kpi项目吗？"
说实话你们做的这个东西真的不想吐槽，文档不够全，所有组件大部分只有表面上看着能用，深入下去跟废了一样！ 最最最想吐槽的就是，我拿来开发小程序，你每个组件都很卡顿，我换了taro-ui-vue3的组件顺畅的想哭。你们这个东西除了垃圾就是垃圾，怪不得出来也一段时间了，网上文档基本没有，因为垃圾东西没人用！！！！！！也不知道为啥taro3初始化项目要绑定你们这个ui，因为自己内部的？

[2022-09-16 06:38] kongsiyu commented on #1670
确实离谱

[2022-09-16 06:38] kongsiyu commented on #1670
哪哪都是Bug

[2022-09-16 07:30] WangXang commented on #1670
bug确实离谱，都不做单元测试么？

[2022-09-16 07:33] WangXang commented on #1576
这个BUG修复了么？

[2022-09-16 08:33] yoyo837 commented on #83
移动端事件体系不同

[2022-09-16 10:23] Ymm0008 opened #1671 "NutUI 贡献指南"
# NutUI 贡献指南

## 1、选择参与贡献的议题

- 带有 [PR Welcome](https://github.com/jdf2e/nutui/issues?q=is%3Aissue+is%3Aopen+label%3A%22PR+Welcome%22) 标签的 issue，它主要包含了以下两种类型：
  - 1. 可复现的 bug
  - 2. 计划实现的功能
- #2220

## 2、安装项目依赖

本项目为 pnpm monorepo 仓库，要求使用 pnpm 安装项目依赖。

请注意，仓库中的 `pnpm-lock.yaml` 可能会定期升级更新，项目启动所依赖的前置脚本文件也可能会有修改，因此建议每次参与贡献前都拉取最新的分支并重新执行以下操作。

[code]

## 3、项目开发环境

#### A、启动文档与 H5(@nutui/nutui) demo

[

[2022-09-16 10:50] WangXang opened #1672 "微信小程序，nut-uploader before-delete返回promise对象无效"
## 问题描述
微信小程序，组件nut-uploader   before-delete返回promise对象无效，图片还是被删除了

## 预期的行为和实际行为
预期的行为: 组件nut-uploader中的before-delete方法，返回 resolve(false) 或 reject 时，图片不应该被移除
实际行为：组件nut-uploader中的before-delete方法，返回 resolve(false) 或 reject 时，图片被移除

## 复现步骤，具体代码
package.json
![image](https://user-images.githubusercontent.com/23691331/190623274-402337d2-2885-456f-a5e4-834723fd689c.png)

代码：
![image](https://user-ima

[2022-09-16 12:15] zenghjin opened #1673 "[bug]安卓微信环境下键盘收起后页面下方空白"
## 问题描述
在安卓微信环境下，若键盘已弹出，点击文件上传，选择文件，回到页面之后，页面下方键盘位置会出现空白

## 最小可复现仓库
官方demo即可复现
https://nutui.jd.com/#/zh-CN/component/form

## 预期的行为和实际行为

![image](https://user-images.githubusercontent.com/18493001/190635366-c4191c99-779a-4cae-832c-37568f5a3949.png)
![image](https://user-images.githubusercontent.com/18493001/190635418-31a4ec8d-4597-4028-831b-f0b0aa3839bc.png)

## 复现步骤，具体代码
1. 点击输入框，唤起系统键盘
2. 不收起

[2022-09-16 15:51] lwp2333 commented on #1549
我也遇到了这个问题， List 组件的 props height 默认值 使用了 Taro.getSystemInfo().height ，然后因为默认prebundle  enable true 的原因，好像 @tarojs/api 打包引入在组件之后还是啥原因，就找不到 getSystemInfo 方法报错了

[2022-09-16 16:00] 1146877017 commented on #1670
点开主页，0贡献度，满意离开

[2022-09-17 02:11] asasdsad commented on #1669
造成这种原因是因为底部出现滚动条，在codesandbox运行也会出现滚动条

[2022-09-17 02:58] xiehai001 opened #1674 "ImagePreview props images 类型错误[bug]"
## 问题描述
![image](https://user-images.githubusercontent.com/24218743/190837987-77a36c62-38d4-40b4-95ab-63dfbea899e1.png)
![Uploading image.png…]()
源码中对images 的类型判定有误
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-09-17 12:02] weiximei opened #1675 "[bug] _tarojs_taro__WEBPACK_IMPORTED_MODULE_2___default(...).createSelectorQuery is not a function"
## 问题描述

Taro3 H5使用 NoticeBar 组件报错

Uncaught TypeError: _tarojs_taro__WEBPACK_IMPORTED_MODULE_2___default(...).createSelectorQuery is not a function
    at eval (NoticeBar.js?1fac:191:1)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：Win10
- **Node 版本**：v14.17.3
- **NutUI 版本**： "@nutui/nutui-taro": "^3.2.2"
- **Vue 版本**：3.0.0
- **引用方式**：  CDN / NPM ？npm

[2022-09-18 10:30] JackYumg commented on #1668
是通过全局配置各个状态的图片

[2022-09-19 02:00] myxfeng opened #1677 "[bug]Swiper控件 taro h5 在pc 上滑动不支持"
## 问题描述

Swiper控件 taro h5 在pc 上滑动不支持
1、PC端事件
onclick 鼠标点击触发
onmousedown 鼠标按下触发
onmousemove 鼠标移动触发
onmouseup 鼠标抬起触发

2、移动端触屏事件
ontouchstart 手指按下触发
ontouchmove 手指移动触发
onTouchend 手指抬起触发

观看源码 貌似没支持 pC  事件
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-09-19 04:11] couth commented on #1670
感谢提醒，我也是nutui一路踩坑，折腾得要死。后面转taro-ui-vue3试试看

[2022-09-19 07:00] muzixiaojun commented on #1670
赶紧换 基本不需要大改动就能完美转taro-ui-vue3,而且你换了之后你会发现流畅的想哭，可以2个ui一起用，有些不影响的 比如cell，就不用改了，但是像轮播图 虚拟列表啥的 建议你改，反正各种稍微复杂一点点的组件 建议能改就改，很影响体验

[2022-09-19 07:04] muzixiaojun commented on #1670
我有没有贡献和他这个kpi项目垃圾有直接关系吗？我看这个项目开源也好几年了把，至今没啥人用难道就不存在问题吗？虽然我没贡献，但是我用过，我不能说说用的感受？？？你看看用过的人过来基本都在吐槽，你是用过的？还是贡献者？我也无意冒犯，我就想说这个开源库除了看起来好看，一无是处

[2022-09-19 07:07] chengqiangwei opened #1680 "这个UI是实习生设计的？"
NutUi的Form组件是我用过众多UI框架中最垃圾的一个，没有之一。
首先说说input，天真的以为是 Nut-Form + Nut-Input   运行的时候你会发现多出了一个框，这个框还是Cell组件的。看了下官方的实例，竟然选择了原生的input + class 属性来，？？？WTF，你们设计这么一出是在认真的搞笑嘛？

再说说表单验证，为什么触发方式不能和表单的rule放一起？非得多加一个函数？

用这个Form组件让我怀疑人生，代码变得异常臃肿。

[2022-09-19 08:59] Lionad-Morotar opened #1681 "[suggest] font-class-name 能否在 config-provider 组件中设置全局默认值"
每一个带 iconfont 的组件都要手写 font-class-name 和 class-prefix，特别麻烦，能否在 config-provider 中为全局的 font-class-name 设置一个默认值（并覆盖 "nutui-iconfont"）。

[2022-09-19 12:14] szg2008 commented on #1677
暂时不支持PC端

[2022-09-19 12:14] #1677 closed, assigned to nobody

[2022-09-20 00:50] eruan opened #1682 "上传组件不能用自己的上传函数吗"
我用的阿里云OSS的前端js  sdk，上传函数被封装在OSS对象里面，用不上NutUI的uploadUrl变量。这个需求应该很广泛吧，如果确实没有这个功能，可否有越狱使用上传函数方法也可以，哪位大牛教教我

[code]

[2022-09-20 01:16] #1680 closed, assigned to nobody

[2022-09-21 01:59] Jazzzy126 opened #1684 "是否能够出一个底部按钮组件"

[2022-09-21 02:53] szg2008 commented on #1684
没明白什么意思？Button不能满足吗？或者给个现有的参考一下？

[2022-09-21 09:00] #1450 closed, assigned to ailululu

[2022-09-21 09:00] #1550 closed, assigned to ailululu

[2022-09-21 09:03] ailululu commented on #1521
请安装@3.2.2，看是否还出现这个问题

[2022-09-21 10:20] szg2008 commented on #466
目前不考虑

[2022-09-21 10:20] #466 closed, assigned to nobody

[2022-09-22 01:37] yangxiaolu1993 commented on #1674
错误指的是什么？

[2022-09-22 02:06] 1zilc commented on #1286
taro3.5.5 "@nutui/nutui-taro": "^3.2.2" 下h5运行问题依旧，load-more事件不会触发

[2022-09-22 03:03] yangxiaolu1993 commented on #1641
可以提供一下复现场景吗，通过 setTimeout 模拟异步替换，并没有复现

[2022-09-22 04:59] KwangHosea commented on #1576
没呢

| |
邝活新
|
|
***@***.***
|

签名由 网易邮箱大师 定制

在2022年09月16日 15:33，WangXang 写道：

这个BUG修复了么？

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-09-22 05:48] yangxiaolu1993 commented on #1653
问题已经修改，可先试用 NutUI-Taro 3.2.3-beta.0  进行修改，此版本依赖 Taro 3.5.6

[2022-09-22 05:49] yangxiaolu1993 commented on #1595
问题已经修改，可先试用 NutUI-Taro 3.2.3-beta.0 进行修改，此版本依赖 Taro 3.5.6

[2022-09-22 05:49] yangxiaolu1993 commented on #1642
问题已经修改，可先试用 NutUI-Taro 3.2.3-beta.0 进行修改，此版本依赖 Taro 3.5.6

[2022-09-22 05:50] yangxiaolu1993 commented on #1651
DatePicker 卡顿问题已经修改，可先试用 NutUI-Taro 3.2.3-beta.0 进行修改，此版本依赖 Taro 3.5.6

[2022-09-22 06:46] Ymm0008 commented on #1630
@yanbowe  您好，您的使用场景是什么样子的，可以提供吗？

目前这种数据格式是可以的
[code]

[2022-09-22 06:55] yanbowe commented on #1630
我这边的每个弹幕的dom结构可能比较复杂类似于这种结构，比如有自定义组件的内容的
![image](https://user-images.githubusercontent.com/43030980/191678952-33ade5cc-384a-47ad-9ffb-6c8f9177e46e.png)

[2022-09-22 07:09] Ymm0008 commented on #1630
@yanbowe  ok，明白，我这边尽快适配下这种场景。

[2022-09-22 07:10] yanbowe commented on #1630
谢谢您

[2022-09-22 07:37] jasper-ops opened #1689 "停止每个页面注入variables.scss来减少体积"
## 你建议我们做什么？

目前绝大部分的做法是在配置文件配置注入variables.scss
@import "@nutui/nutui-taro/dist/styles/variables-jdt.scss";
在这个文件内也导入了动画的代码，导致每个页面都存在相同的动画代码，
体积成倍增长，当然也不是要停止注入，而是不要注入动画的代码。

如果让开发者自己在app.scss内import动画的scss

它将使编译出来的项目只有app.wxss内存在一份公用的动画代码，而不会每个页面都存在

## 其它

需要注意的是如果使用css module可能会导致动画存在问题

[2022-09-22 07:49] Lron-boy commented on #1684
@szg2008

[2022-09-22 07:50] Jazzzy126 commented on #1684
@szg2008 https://tard-ui.selling.cn/comps/footer-button 这个你有现成的，实现方法应该跟导航栏差不多

[2022-09-22 08:55] szg2008 commented on #1656
能否提供下复现仓库，我这边测试的没有问题。环境是taro v3.5.5 + vue3.2

[2022-09-22 09:05] szg2008 commented on #1622
请提供一下最小复现仓库，我这边好定位问题，感谢🙏～

[2022-09-22 10:28] Drjingfubo commented on #1573
#1642跟进

[2022-09-22 10:28] Drjingfubo commented on #1573
https://github.com/jdf2e/nutui/issues/1642#issue-1364208180 跟进

[2022-09-22 10:28] #1573 closed, assigned to yangxiaolu1993

[2022-09-23 06:37] yoyo837 commented on #92
请reopen这个. 即便不打算支持, 也应该解释一下再关闭.

[2022-09-23 07:43] szg2008 commented on #1249
@sum1201 ，能否提供一下可复现的仓库，我这里无法复现

[2022-09-23 09:15] richard1015 commented on #1597
[code]

[2022-09-23 09:15] #1597 closed, assigned to richard1015

[2022-09-23 09:24] yoyo837 commented on #1611
同遇到, 想要二次封装`nut-form-item` , 发现行不通

[2022-09-23 10:17] Drjingfubo commented on #1663
禁用状态下的按钮点击事件不可用呐，提供简单代码看一下

[2022-09-23 10:40] #1279 closed, assigned to richard1015

[2022-09-24 08:04] trytocatchyou opened #1692 "[suggest]建议Tabbar增加占位功能"
## 你建议我们做什么？

现在...
Tabbar组件置于底部时，会挡住页面的元素
如果你能...
增加placeholder占位功能
它将使...

## 其它

无

[2022-09-25 05:22] wuyuweixin opened #1693 "怎么让组件名支持 PascalCase 命名方式使用"
## 你想知道什么？

你好，我想知道怎么让组件名支持 PascalCase 命名方式使用

## 描述你考虑过的替代方案

例如: `<NutButton>按钮</NutButton>`
目前使用 PascalCase 命名方式会解析不到组件

## 其它

无

[2022-09-26 02:19] Drjingfubo commented on #996
tabs粘性布局3.2.3已发布

[2022-09-26 02:19] #996 closed, assigned to richard1015

[2022-09-26 03:34] myxfeng opened #1696 "[bug] ImagePreview"
## 问题描述

Taro 版ImagePreview 组件 在h5 端预览时 无法进行手势缩放 ，并且希望加上 是否循环的属性控制
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
原因猜测 taro 版 转h5 是 内部swiper 增加  catch-move 属性导致 事件 无法向下穿透

## 相关环境信息
- **操作系统**：macos
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- taro  3.2.3-beta.0
- **Vue 版本**：vue3
- **引用方式**：  CDN / NPM ？
- npm

[2022-09-26 04:02] yoyo837 commented on #1611
[code]

[2022-09-26 04:02] yoyo837 commented on #1611
迫切需要这个

[2022-09-26 04:02] yoyo837 commented on #1611
功能不够, 二次封装来凑, 但二次封装就无法使用, 就没路可走了.

[2022-09-26 04:11] xiblying commented on #1611
我重写了验证方法，可以绕路实现

[2022-09-26 04:12] yoyo837 commented on #1611
你指的是发私包?

[2022-09-26 04:14] xiblying commented on #1611
没啊，通过ref \<nut-form/\>修改验证方法validate

[2022-09-26 04:15] yoyo837 commented on #1611
噢, 这样也是一个办法

[2022-09-26 04:15] yoyo837 commented on #1611
那你得全部重写, 因为其他方法也引用到了validate

[2022-09-26 04:28] xiblying commented on #1611
form.getFormItems = getFormItems
form.validate = validate.bind(form)

我是这样弄得的，validate()是源码扒下来改的，getFormItems()去获取form下面所有form-item，不太多

[2022-09-26 06:30] yoyo837 commented on #1611
checkRule 你不扒吗?

[2022-09-26 07:07] yoyo837 commented on #1611
我也搞定了, 先临时用着, 看官方如何改动我再兼容.

[2022-09-26 07:17] S-T-D commented on #1222
"@nutui/nutui-taro@^3.2.2" 怎么我用这个版本还是会报这个警告呢？

[2022-09-26 10:20] jingyuhao1995 commented on #1663
![image](https://user-images.githubusercontent.com/35212876/192253079-d5d487fb-5ca3-46da-8e97-caf3ee6bf0f9.png)

[2022-09-26 10:24] jingyuhao1995 commented on #1663
[code]

[2022-09-26 10:28] jingyuhao1995 commented on #1663
[code]

[2022-09-27 01:02] Drjingfubo commented on #1663
当button设置为disabled的时候，组件内部已经不提供点击事件了，所以不生效

[2022-09-27 01:02] #1663 closed, assigned to nobody

[2022-09-27 02:46] forestRhapsody commented on #1670
我也要换组件库了 被折腾死了

[2022-09-27 04:08] xiaosu2016 commented on #1549
我也出现了这个问题

[2022-09-27 06:05] #1611 closed, assigned to richard1015

[2022-09-27 07:55] Drjingfubo commented on #1655
文档上没有标注，直接在card组件上使用@click即可

[2022-09-27 08:31] zhangji0518 commented on #1521
微信开发者工具看还是乱的，手机上看标题不居中是歪的

[2022-09-27 08:44] zhangji0518 commented on #1521
装了3.2.2设置left-show和left-text后标题就不居中了，被顶到右边去。还有微信开发者工具看还是错乱的，不知道其他手机型号会不会有问题

[2022-09-27 08:49] #1630 closed, assigned to Ymm0008

[2022-09-27 09:11] richard1015 commented on #1652
官网文档已更新，暂时先使用[vite-plugin-style-import](https://github.com/anncwb/vite-plugin-style-import)，        [unplugin-vue-components](https://github.com/antfu/unplugin-vue-components)  ，后面我们考虑一下， 感兴趣可以直接去 PR  [unplugin-vue-components](https://github.com/antfu/unplugin-vue-components)

[2022-09-27 09:11] #1652 closed, assigned to richard1015

[2022-09-27 09:15] richard1015 commented on #1659
参考这个示例代码  https://github.com/jdf2e/nutui-demo/tree/master/taro3

[2022-09-27 09:15] #1659 closed, assigned to nobody

[2022-09-27 09:16] richard1015 commented on #1551
taro 升级最新 3.5.6

[2022-09-27 09:16] #1551 closed, assigned to richard1015

[2022-09-27 09:42] richard1015 commented on #1689
可以先采用 测试包 v3.2.3-beta.1  https://www.npmjs.com/package/@nutui/nutui-taro/v/3.2.3-beta.1

正式包  v3.2.3 本周四 9.29~30 发布

[2022-09-27 09:42] richard1015 commented on #1375
可以先采用 测试包 v3.2.3-beta.1  https://www.npmjs.com/package/@nutui/nutui-taro/v/3.2.3-beta.1

正式包  v3.2.3 本周四 9.29~30 发布

[2022-09-27 11:08] weiximei commented on #1675
使用的是Taro 官方的 vue3-NutUI 模板

[2022-09-27 13:53] richard1015 commented on #1675
使用taro 3.5.6 看一下，
具体使用方式可以参考一下  https://github.com/jdf2e/nutui-demo/tree/master/taro3

[2022-09-27 13:53] #1675 closed, assigned to nobody

[2022-09-27 14:11] richard1015 commented on #1659
看一下 按需加载配置 文件大小写
[code]

https://nutui.jd.com/#/zh-CN/guide/start

[2022-09-27 14:23] richard1015 commented on #1693
可以描述一下您的具体场景？

当前版本暂时不支持 ，你可以用tsx那种写法
[code]

[2022-09-27 14:25] richard1015 commented on #1682
我们当前版本 支持这个功能啊
https://nutui.jd.com/#/zh-CN/component/uploader
参考 before-xhr-upload
[code]

[2022-09-27 14:25] #1682 closed, assigned to richard1015

[2022-09-27 14:29] szg2008 commented on #1684
这个建议开发者直接使用样式处理～

[2022-09-27 14:29] #1684 closed, assigned to nobody

[2022-09-27 15:41] jackzhujie commented on #1271
同样遇到该问题，只能去掉col组件了

[2022-09-27 16:10] xjiojio opened #1702 "[bug]关于生产模式下Toast组件报hide() is not a function导致无法手动关闭toast"
## 问题描述
Toast组件展示一个提示，并且在完成某些操作后通过返回的toast.hide()方法进行手动关闭，在开发阶段（npm run dev）时是没有问题的，然后打包出来的代码部署服务器上或者是 npm run serve 预览时会报 hide() is not a function 导致无法手动关闭toast

toast 是通过 mountToast 方法进行创建然后返回 instance.component.ctx 作为 toast 实例去调用 hide 方法进行手动关闭，然而问题在于 vue render 函数创建组件在执行到 createComponentInstance 方法时会对运行环境进行判断，非生产环境调用 createDevRenderContext 方法创建了ctx，最终作为 toast 实例返回是可以hide的，然而生产环境下 ctx 被直接赋值为 { _

[2022-09-28 02:36] tyh1117 commented on #1127
同样遇到了这个问题，请问大佬解决了吗？

[2022-09-28 06:07] az031120103 commented on #1474
遇到同样的问题 taro-uploader  h5 只支持上传图片，能否支持更改 accept

[2022-09-28 06:56] aehyok commented on #1611
![image](https://user-images.githubusercontent.com/5900140/192709329-fcf34842-f2ac-43ba-8697-0bf7face9d55.png)
@xiblying 大佬，这个小问题有解吗

[2022-09-28 07:05] xiblying commented on #1611
可以用

[2022-09-28 07:07] aehyok commented on #1611
@xiblying 要自己去适配样式了？

[2022-09-28 07:09] xiblying commented on #1611
对，就很坑

[2022-09-28 07:12] aehyok commented on #1611
@xiblying 谢谢大佬，这就很尴尬了，有点不想搞了

[2022-09-28 07:22] xiblying commented on #1611
我已经放弃了，换vant吧

[2022-09-28 07:43] zuilikanhua commented on #1656
用官方的cli 创建的项目 ，使用Elevator  h5端 就会出现，，小程序端没问题

[2022-09-28 09:10] Jazzzy126 opened #1706 "sticky组件"
建议使用 position:sticky；而不是fixed；用fixed会造成抖动

[2022-09-28 10:34] #1655 closed, assigned to Drjingfubo

[2022-09-28 10:47] #1610 closed, assigned to Drjingfubo

[2022-09-28 10:47] #1559 closed, assigned to nobody

[2022-09-28 13:38] ieu opened #1708 "[bug] DatePicker 的 v-model 没有实现双向绑定"
## 问题描述
当用户选择选择日期并确定之后，v-model 绑定的对象值没有改变。

此前也有人遇到了相同的问题（#470）。

## 最小可复现仓库
复现 demo 见附件：[demo.zip](https://github.com/jdf2e/nutui/files/9672516/demo.zip)

## 预期的行为和实际行为
v-model 绑定的对象值应随用户的操作改变

## 复现步骤，具体代码
考虑以下代码。“日期选择器”使用 `nut-datepicker` 实现，绑定对象为 `form.date`。“月份选择器”使用 `nut-picker` 实现，绑定对象为 `form.month`。

当用户选定日期项时，`form.date` 未随之变化。与之对应的，当用户选定月份项时，`form.month` 会随之变化。这一点可以通过观察 `watch` 和 `onSubm

[2022-09-29 00:15] Tenodec commented on #1670
除了这个，隔壁taro-ui基本不回复。感觉都是kpi项目。阿里的remaxjs说域名到期，搞笑会犯这种低级错误吗。大家都不倦了，就不上心了

[2022-09-29 03:07] szg2008 commented on #1607
已限制container-height最大为可视区

[2022-09-29 03:37] szg2008 commented on #1549
使用上面提供的仓库，重新安装了Taro3.5.6和webpack5.没有复现上面的问题，麻烦重新安装试试，如有问题，我们再看看，🙏反馈

[2022-09-29 03:37] #1549 closed, assigned to szg2008

[2022-09-29 06:04] szg2008 commented on #1525
已经修复，目前支持动态修改高度，但是字符串需要自己解决下，源码中不考虑支持哈

[2022-09-29 06:11] szg2008 commented on #1605
目前没有复现哈，可以安装最新版本试试

[2022-09-29 06:55] zuilikanhua opened #1712 "[bug] Toast 组件微信小程序 报错_nutui_nutui_taro_dist_packages_es_Toast__WEBPACK_IMPORTED_MODULE_0__.default.text is not a function"
## 问题描述

Toast 组件在微信小程序使用的时候报错
_nutui_nutui_taro_dist_packages_es_Toast__WEBPACK_IMPORTED_MODULE_0__.default.fail is not a function
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：
- window 10 x64
- **Node 版本**：
-   v16.15.1
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- "@nutui/nutui-taro": "^3.1.8",
    "@tarojs/components": "3.5.5",
    "@tarojs/helper": "3.5.5",
    "@ta

[2022-09-29 07:11] szg2008 commented on #1712
小程序目前不支持函数式调用哈，只支持标签式。如果要使用的话，可使用Taro原生的toast

[2022-09-29 07:47] tangguo13 opened #1713 "图片压缩"
## 上传图片，使用 demo 中 压缩方法返回的是文件类型， 无法将图片回显

我想在 beforeupload  hooks 中压缩图片并且在组件上显示图片，我用了demo中的方法，组件显示的是文件名称，无法显示图片

## 其它

无

[2022-09-29 08:06] thx125 opened #1714 "[suggest] Grid是否开启格子点击反馈，支持GridItem覆盖设置"
## 你建议我们做什么？

现在...

如果你能...

它将使...

## 其它

无

[2022-09-29 08:34] zuilikanhua commented on #1712
好的

[2022-09-29 08:34] #1712 closed, assigned to nobody

[2022-09-29 09:08] tangguo13 commented on #1713
已解决 -> 添加返回类型
const f = await new File([blob], fileName , {
        type: "image/jpeg"
});

[2022-09-29 09:08] #1713 closed, assigned to nobody

[2022-09-29 10:22] tangguo13 opened #1717 "pdf 压缩上传失败"
beforeupload 图片上传成功  pdf 压缩上传丢失数据 。 无法上传

[2022-09-30 00:34] knoic opened #1719 "[bug]nut-checkbox和nut-checkboxgroup同时使用时，nut-checkbox的change事件state返回值永远是true"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为
预期：nut-checkbox勾选时state===true，取消勾选state===false
实际：nut-checkbox勾选时state===true，取消勾选state===true

## 复现步骤，具体代码
      <nut-checkboxgroup v-model="checkboxgroup1">
        <template v-for="(item,index) in groupInfo" :key="index">
          <nut-cell title="">
            <nut-checkbox :label="item" icon-size="20" @change="changeBusinessBox">{{ item.name }}</nut-che

[2022-09-30 02:35] 893949088 opened #1720 "[bug] 生成微信小程序css报错"
## 问题描述

![image](https://user-images.githubusercontent.com/4034377/193177186-e3057fa9-b803-4627-a063-7fcedb690994.png)

## 最小可复现仓库

## 预期的行为和实际行为
去掉图片上那个css的代码，就正常了

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：win10
- **Node 版本**：16.17.1
- **NutUI 版本**： ^3.2.3-beta.2
- **Vue 版本**：^3.2.31
- **引用方式**：  CDN / NPM ？

[2022-09-30 02:42] #1689 closed, assigned to richard1015

[2022-09-30 02:42] #1653 closed, assigned to yangxiaolu1993

[2022-09-30 02:42] #1650 closed, assigned to Drjingfubo

[2022-09-30 02:43] #1595 closed, assigned to yangxiaolu1993

[2022-09-30 02:44] Drjingfubo commented on #1434
级联选择器增加了poppable 选项，是否需要弹层展示。

[2022-09-30 02:44] #1434 closed, assigned to nobody

[2022-09-30 02:44] #1651 closed, assigned to yangxiaolu1993

[2022-09-30 02:46] #1607 closed, assigned to szg2008

[2022-09-30 02:46] #1605 closed, assigned to szg2008

[2022-09-30 02:47] #1525 closed, assigned to szg2008, eiinu

[2022-09-30 02:47] #1249 closed, assigned to szg2008

[2022-09-30 02:51] #1674 closed, assigned to eiinu

[2022-09-30 02:52] #1642 closed, assigned to yangxiaolu1993

[2022-09-30 02:53] #1541 closed, assigned to eiinu, yangjinjun3

[2022-09-30 02:53] #1375 closed, assigned to richard1015

[2022-09-30 02:53] #1383 closed, assigned to richard1015

[2022-09-30 02:54] Drjingfubo commented on #653
暂时无法支持

[2022-09-30 02:54] #653 closed, assigned to lzzwoniu

[2022-09-30 02:56] Drjingfubo commented on #1500
3.2.3已发布

[2022-09-30 02:56] #1500 closed, assigned to richard1015

[2022-09-30 02:57] Drjingfubo commented on #1672
v3.2.3已发布

[2022-09-30 02:57] #1672 closed, assigned to richard1015

[2022-09-30 04:04] lingdulib opened #1721 "[bug] picker 组件 3.2.3版本，在支付宝小程序，无法显示，只显示了titlebar栏目"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
const columns = ref([
        { text: '南京市', value: 'NanJing' },
        { text: '无锡市', value: 'WuXi' },
        { text: '海北藏族自治区', value: 'ZangZu' },
        { text: '北京市', value: 'BeiJing' },
        { text: '连云港市', value: 'LianYunGang' },
        { text: '浙江市', value: 'ZheJiang' },
        { text: '江苏市', value: 'JiangSu' }
      ]);
 <nut-picker

[2022-09-30 04:06] lingdulib opened #1722 "[bug]menu组件，3.2.3版本，支付宝小程序，点击没反应，微信可以弹出"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
官方示例即可

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 3.2.3
- **Vue 版本**：3.2
- **引用方式**：  npm

[2022-09-30 08:39] zhangpei00 opened #1723 "[bug] Menu问题"
## 问题描述
使用Menu 菜单组件出现自动重复生成下拉菜单

## 最小可复现仓库

预期:声明了几个菜单就是几个菜单
实际:点击第一个菜单之后再次点击第一个菜单会生成额外菜单，且其他菜单点击没有效果

## 复现步骤，具体代码

**<nut-menu>
               <nut-menu-item v-model="value1" @@change="selectChange1" :options="options1"  />
               <nut-menu-item v-model="value2" @@change="selectChange2" :options="options2"  />
 </nut-menu>**
  data() {
                return {
                      opti

[2022-09-30 09:20] eiinu commented on #1723
3.2.3 版本中修复了 menu 的一些问题，可以尝试升级到 3.2.3 看看这个问题是否还存在

[2022-09-30 09:34] ianho7 commented on #1466
尬住😅

[2022-09-30 12:57] szg2008 commented on #1576
升级到最新版本v3.2.3尝试下

[2022-09-30 12:57] #1576 closed, assigned to richard1015

[2022-09-30 13:03] #1622 closed, assigned to richard1015, yangjinjun3

[2022-09-30 13:14] szg2008 commented on #1720
升级到3.2.3版本试一下呢

[2022-09-30 13:19] #1693 closed, assigned to nobody

[2022-10-03 07:53] yangjisen commented on #1720
问题+1, taro3.5.6, nut-ui降级到3.2.2就没有问题

[2022-10-03 08:00] yangjisen commented on #1551
升级以后故障依旧

[2022-10-04 13:25] 893949088 commented on #1720
@szg2008 不行

[2022-10-06 16:18] oldsyang opened #1725 "[question] 目前3.2.1的uploader组件before-xhr-upload事件起作用吗？"
目前测试官方的h5示例，没有成功

[2022-10-07 00:44] zhangpei00 opened #1726 "通过js本地引用使用Menu 菜单时多个Menu会后面的menu失效"
使用Menu 菜单组件出现自动重复生成下拉菜单，之前有提交过，回复是使用3.2.3版本，但是3.2.3版本一样还是这样子

## 最小可复现仓库

预期:声明了几个菜单就是几个菜单
实际:点击第一个菜单之后再次点击第一个菜单会生成额外菜单，且其他菜单点击没有效果

## 复现步骤，具体代码
<nut-menu-item v-model="value1" @@change="selectChange1" :options="options1" />
<nut-menu-item v-model="value2" @@change="selectChange2":options="options2" />

data() {
return {
options1: [{text: '全部渠道', value: 99},{text: '校招类', value: 0},{text: '社招类', v

[2022-10-07 00:45] zhangpei00 commented on #1723
使用了3.2.3版本还是一样的，https://github.com/zhangpei00/nutui_bug.git  这是git仓库吧最小实现

[2022-10-07 03:47] 6xiaoxin commented on #1551
我所有依赖升级到3.5.6后还是会

[2022-10-07 03:48] 6xiaoxin commented on #1551
我所有依赖升级到3.5.6后还是会

[2022-10-07 07:00] 6xiaoxin commented on #1720
3.2.3也报同样的问题

[2022-10-07 08:24] 6xiaoxin opened #1727 "[bug] WXSS 文件编译错误"
## 问题描述

将nutui的版本升级到3.2.3后出现这个问题
已经将taro的各个依赖升级3.5.6，还是无法解决
![image](https://user-images.githubusercontent.com/55842780/194507505-ba3fcbb4-9878-46f7-8036-21ac640ba22d.png)

## 最小可复现仓库

https://github.com/6xiaoxin/taro-vue3-template

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：win10
- **Node 版本**：v16.11.0
- **NutUI 版本**： 3.2.3
- **Vue 版本**：3.0.0
- **引用方式**：NPM

[2022-10-08 04:02] westfruit opened #1729 "[bug] imagePreview组件，iphone12以下一点视频播放遮罩就自己关了，content-close=false也阻止不了"
## 问题描述

 imagePreview组件，iphone12以下一点视频播放遮罩就自己关了，content-close=false也阻止不了。
 可以用iphone7,iphone plus测试

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- 3.2.2--3.2.3
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-10-08 06:21] gitub-yangjisen commented on #1727
降级nutui 3.2.2 临时解决

[2022-10-08 06:57] 6xiaoxin commented on #1727
将了也不行啊

[2022-10-08 07:11] 893949088 commented on #1720
@richard1015 看看呢

[2022-10-08 07:23] 6xiaoxin commented on #1727
@gitub-yangjisen 你的taro依赖是什么版本，能否截个图给我看看呢

[2022-10-08 15:03] richard1015 commented on #1725
文档错了，用 :before-xhr-upload="beforeXhrUpload"

[2022-10-09 00:47] #1725 closed, assigned to nobody

[2022-10-09 00:50] richard1015 commented on #1444
参考 nutui-demo
https://github.com/jdf2e/nutui-demo

[2022-10-09 00:50] #1444 closed, assigned to richard1015

[2022-10-09 02:24] richard1015 commented on #1727
https://github.com/jdf2e/nutui-demo/tree/master/taro3.5.6

参考 此仓库

[2022-10-09 02:24] #1727 closed, assigned to nobody

[2022-10-09 06:36] jaroky commented on #1656
我就是使用h5的时候出现的

[2022-10-09 06:39] jaroky commented on #1656
`{
	"name": "taro-kdq-order",
	"version": "1.0.0",
	"private": true,
	"description": "taro-kdq-order",
	"templateInfo": {
		"name": "vue3-NutUI",
		"typescript": false,
		"css": "sass"
	},
	"scripts": {
		"build:weapp": "taro build --type weapp",
		"build:swan": "taro build --type swan",
		"build:alipay": "taro build --type alipay",
		"build:tt": "taro build --type tt",
		"build:h5": "taro build -

[2022-10-09 09:49] ahljj opened #1731 "[bug] Address 地址组件打开后点击遮罩层关闭组件 会触发两次 关闭回调"
## 问题描述
Address 地址组件打开后点击遮罩层关闭组件 会触发两次 关闭回调 ，官方demo也是一样的问题。如图第一张图触发 emit("close"); 但是Address组件已经对showPopup属性做了监听也会调用close方法，如图二。
![image](https://user-images.githubusercontent.com/61975402/194749828-73a66512-8030-4501-83e6-96bf452c06be.png)
![image](https://user-images.githubusercontent.com/61975402/194749866-ec9607d4-d527-4f04-a018-6454e7fa74af.png)

## 最小可复现仓库

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**

[2022-10-10 02:09] eGluZl opened #1733 "[suggest]基于Picker实现的组件的Props绑定有遗漏问题的也许可以通过使用v-bind来解决"
## 你建议我们做什么？

现在基于Picker实现的组件（如actionsheet、datepicker）都包含了Picker的Props，但是在使用这些组件并设置了Picker的Props时，这些组件并不一定会使用Picker的Props。
例如我在使用datepicker组件时，设置safe-area-inset-bottom为true，但是datepicker的源码并没有把这个属性设置到Picker中，导致datepicker组件不能开启 iphone 系列全面屏底部安全区适配。

如果你能使用v-bind来把Props设置到Picker中

它将使这个问题得到解决

## 其它

无

[2022-10-10 02:10] Drjingfubo commented on #1657
![image](https://user-images.githubusercontent.com/50685476/194790747-c148160f-fd65-46df-9948-597212a48e65.png)
用3.2.3试下吧

[2022-10-10 03:02] xxxsf opened #1734 "[bug] 图片预览组件PC上的demo滑动时会关闭预览弹窗"
## 问题描述

图片预览组件PC上的demo滑动时会关闭预览弹窗

https://nutui.jd.com/#/zh-CN/component/ImagePreview

<img width="436" alt="image" src="https://user-images.githubusercontent.com/14307551/194793786-f441016e-4ae2-4425-ac7e-266bec89cfd9.png">

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-10-10 10:31] vance-liu opened #1735 "[ WXSS 文件编译错误] ./app.wxss"
https://github.com/jdf2e/nutui/blob/eab94ea089f389aa045e5427d5b17d7c39687e22/src/packages/__VUE/barrage/index.scss#L1

![image](https://user-images.githubusercontent.com/9456694/194846799-129909ed-e8d5-4490-b2de-9ffb58c0bb40.png)

[2022-10-10 10:32] szg2008 commented on #1719
你好，如果想要在nut-checkboxgroup中使用checkbox的change事件，需要给单独的checkbox绑定v-model才可以拿到最新的状态。如下：
`<nut-checkbox label="1" v-model="value" @change="change">label</nut-checkbox>`。
建议在使用group的时候直接通过父级的change事件来拿到当前checkbox的状态值。
`<nut-checkboxgroup v-model="checkboxgroup" :max="2" @change="change"></nut-checkboxgroup>`。
checkbox的change事件一般是在单独使用的时候调用的。

[2022-10-10 10:37] vance-liu commented on #1727
https://github.com/jdf2e/nutui/issues/1735

[2022-10-10 10:37] vance-liu commented on #1735
https://github.com/jdf2e/nutui/issues/1735

[2022-10-10 10:44] szg2008 commented on #1714
GridItem目前是支持click事件的，不知道你指的是什么呢？

[2022-10-10 10:47] szg2008 commented on #1720
@893949088 方便提供下最小可复现的仓库吗？

[2022-10-10 13:38] szg2008 commented on #1473
`:background="rgba(251, 248, 220, 1)" :color="#D9500B"`.这里不应该加：，去掉就可以了

[2022-10-10 13:38] #1473 closed, assigned to yangxiaolu1993

[2022-10-11 02:00] songxianling opened #1736 "nut-dialog组件在小程序中使用导致v-show失效[bug]"
## 问题描述

一个页面3个tab切换；每个tab单独成一个小组件（使用v-show控制显示隐藏；等于缓存了数据）；其中2个组件内都使用了nut-dialog组件；导致v-show的判断没有效果；两个单独的小组件都同时显示了；删除使用nut-dialog的代码；就正常了。两个小组件都不能使用nut-dialog！！

## 最小可复现仓库

## 预期的行为和实际行为
组件是独立开的；应该v-show正常显示

## 复现步骤，具体代码

// 3个tab

    <SmileyBader v-show="topTabActIndex === 0" />

    <CouponCom v-show="topTabActIndex === 1" />

    <orderRecord v-show="topTabActIndex === 2" />

## 相关环境信息
- **操作

[2022-10-11 08:04] Zeppo241 opened #1740 "[bug]radio(checkbox)组件使用本地路径图片，切换选项时icon未改变"
## 问题描述

radio组件的icon-name和icon-active-name属性均使用本地路径图片，但切换选项时icon没有切换
## 最小可复现仓库

## 预期的行为和实际行为
预期：切换选项后icon也随之切换
实际：切换选项后icon未有变化
## 复现步骤，具体代码

[code]

[2022-10-11 08:34] Zeppo241 opened #1741 "[bug]icon组件的name属性若是根据变量判断，变量修改后，name值未随之修改"
## 问题描述

nut-icon的name值根据一个变量值判断，当这个变量修改后，name值未随之修改
## 最小可复现仓库

## 预期的行为和实际行为
预期：点击icon，name值应切换为resumeIcon
实际：点击icon，name值保持不变
## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： nutui-taro3.2.2
- **Vue 版本**：3.2.6
- **引用方式**：NPM

[2022-10-11 10:47] 893949088 commented on #1720
@szg2008 我日，这还需要复现？

[2022-10-12 06:00] thetbw commented on #1735
我这也是，安装@tarojs/plugin-html插件也不行

[2022-10-12 07:02] szg2008 commented on #1524
1、Image 组件H5使用没问题，小程序见官方文档，直接使用小程序原生Image组件即可，NutUI暂不提供组件
2、previewImage使用也没问题，需要注意的是在使用之前需要导入overlay、popup、swiper等依赖组件，官方会及时更新
`import { ImagePreview, Overlay, Popup, Swiper, SwiperItem } from '@nutui/nutui';`
3、Ellipsis确实存在问题，源码已经修复，增加了“line-height”属性，等下一版本发布即可使用，如果不升级版本，临时解决办法是需要在组件外加一层，然后设置样式即可。如下：
`<div class="ellipsis-wrapper">
        <nut-ellipsis content="NutUI3.0上线后我们研发小程序多端适配的能力。" direc

[2022-10-12 09:19] yangxiaolu1993 commented on #1311
问题已在最新版本 3.2.3 解决，可以更新试试

[2022-10-12 09:19] #1311 closed, assigned to yangxiaolu1993

[2022-10-12 10:51] richard1015 commented on #1596
:before-upload="beforeUpload"   最新版本已支持

[2022-10-12 10:51] #1596 closed, assigned to richard1015

[2022-10-12 12:27] szg2008 commented on #1439
目前支持的，可以试试

[2022-10-12 12:27] #1439 closed, assigned to szg2008

[2022-10-12 16:55] yunhouhuang commented on #1735
me too

[2022-10-12 16:59] yunhouhuang commented on #1727
所以问题具体出现在哪里？

[2022-10-13 02:11] wy1037 opened #1743 "[bug] Collapse 折叠面板 内容如果异步加载，展开高度有问题"
<template>
<nut-collapse v-model:active="activeNames" icon="down-arrow">
  <nut-collapse-item :title="title2" :name="2">
         在产品的功能、体验、易用性和灵活性等各个方面做了全面的升级！
  </nut-collapse-item>
  <nut-collapse-item :title="title3" :name="3" disabled>
    <div id="asyncDiv"><div>
  </nut-collapse-item>
</nut-collapse>
</template>

描述：
1，在 nut-collapse-item 里，如果内容是直接 写死的，如上“ 在产品的功能、体验……”，点击展开时，高度没有问题；
2，但是当我的

[2022-10-13 05:44] SheepYang1993 commented on #1466
这都能没有？？？！！！

[2022-10-13 05:56] yangxiaolu1993 commented on #1140
很抱歉这么久才回复你提出的建议，根据描述进行了复现，首先，reactive 遍历时是可以访问到 id 的，并且 shallowReactive 属于非迭代递归，数据更新时，会影响到页面不渲染。不过，你说的场景我们近期也会考虑兼容。

再次感谢您对 NutUI 的支持！

[2022-10-13 05:58] yangxiaolu1993 commented on #1731
已解决，在下个版本 3.2.4 更新

[2022-10-13 06:30] yangxiaolu1993 commented on #1734
建议在移动端模式下浏览，官网 Imagepreview 展示是嵌入的，手势支持不太流畅

[2022-10-13 07:08] yangxiaolu1993 commented on #1708
已添加，在 3.2.4 版本发布

[2022-10-13 07:14] yangxiaolu1993 commented on #1733
你好，Datepicker 暂时不支持 safe-area-inset-bottom 属性，可以提供一个 Demo 吗？

[2022-10-13 07:31] agileago opened #1746 "[bug]3.2.3构建完缺失类型文件"
## 问题描述

v3.2.3 缺失类型文件

v3.2.3
https://www.jsdelivr.com/package/npm/@nutui/nutui?path=dist%2Ftypes%2F__VUE%2Fbutton

v3.2.2
https://www.jsdelivr.com/package/npm/@nutui/nutui?path=dist%2Ftypes%2F__VUE%2Fbutton&version=3.2.2
## 最小可复现仓库

https://www.jsdelivr.com/package/npm/@nutui/nutui?path=dist%2Ftypes%2F__VUE%2Fbutton&version=3.2.3

## 预期的行为和实际行为
类型文件正确

## 复现步骤，具体代码
https://www.jsdelivr.com/packa

[2022-10-13 08:11] skyunBoss opened #1747 "[bug]3.2.3 picker不显示"
## 问题描述

3.2.3 picker不显示

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：14.20.0
- **NutUI 版本**： 3.2.3
- **Vue 版本**：3.2.37
- **引用方式**：  CDN / NPM ？

[2022-10-13 08:16] moonRider commented on #1140
感谢回答，确实不是 reactive 遍历导致的问题。例子中是用户自己构造 proxy 对象时失去了 vue 的响应性导致的。

[2022-10-13 08:16] #1140 closed, assigned to yangxiaolu1993

[2022-10-13 09:32] eGluZl commented on #1733
https://github.com/eGluZl/nut-ui-demo.git

safe-area-inset-bottom属性是popup组件的属性，之前发现actionsheet也是设置了之后无效的，可能需要检查一下依赖popup组件的组件

[2022-10-13 12:22] szg2008 commented on #1318
Taro框架层未处理catchtap，导致点击穿透，目前可以在遮罩层弹出的时候将输入框disabled来解决。

[2022-10-13 12:22] #1318 closed, assigned to szg2008

[2022-10-13 12:57] szg2008 commented on #1040
这个是H5还是小程序环境呢，可以详细描述一下么

[2022-10-14 01:11] Drjingfubo commented on #1747
请提供信息完整一点，nutui还是nutui-taro，组件使用方式

[2022-10-14 04:30] ieu commented on #1743
目测是因为没有 deep watch：

[code]

一个临时解决方法：

[code]

[2022-10-14 06:23] skyunBoss commented on #1747
nutui-taro

<nut-picker
    v-model:visible="show"
    :columns="columns"
    @confirm="confirmPicker"

  </nut-picker>

[2022-10-14 06:25] Drjingfubo commented on #1747
什么小程序端 微信？ 支付宝？ 京东？

[2022-10-14 06:32] skyunBoss commented on #1747
微信

[2022-10-14 06:33] skyunBoss commented on #1747
#1721 应该一个问题

[2022-10-14 06:57] Drjingfubo commented on #1747
不是一个问题 1721是支付宝小程序。你提供一个最小复现仓库吧

[2022-10-14 06:58] szg2008 commented on #1746
发布了测试版本，nutui/nutui安装v3.2.4-beta.0。nutui/nutui-taro安装v3.2.4-beta.1试试

[2022-10-14 06:58] #1746 closed, assigned to szg2008

[2022-10-14 07:29] skyunBoss commented on #1747
只要3.2.3都会出现，你们没有复现？

[2022-10-14 07:33] liov opened #1751 "[question] list必须包在cell 里吗"
list不用cell包高度为0

[2022-10-14 07:38] Drjingfubo commented on #1747
![image](https://user-images.githubusercontent.com/50685476/195789748-293726b4-95c5-44f0-838d-9df83a2c6d89.png)
目前支付宝和京东小程序会出现不展示的问题，微信不会，你提供一个复现仓库吧

[2022-10-14 07:39] Drjingfubo commented on #1747
按需引入popup和overlay了吗
![image](https://user-images.githubusercontent.com/50685476/195790170-60270472-1445-4441-9dc1-be1cfec7d1ae.png)

[2022-10-14 08:52] skyunBoss commented on #1747
https://github.com/skyunBoss/taro-weapp

[2022-10-14 08:52] skyunBoss commented on #1747
看下呢，vue3版本

[2022-10-14 08:53] Drjingfubo commented on #1747
taro版本的问题，升级到3.5.6

[2022-10-14 08:58] skyunBoss commented on #1747
那你们的demo需要更新下

[2022-10-14 09:00] skyunBoss commented on #1747
<img width="565" alt="image" src="https://user-images.githubusercontent.com/29365288/195807108-e9999468-7698-4b7a-a997-40a62ad49ba2.png">
都需要更新至3.5.6吗？

[2022-10-14 09:03] Drjingfubo commented on #1747
跟我们的模版没关系 你init的taro版本低了，你先升级下本地的taro版本，重新init一个对比下

[2022-10-14 09:03] qingtian5266 opened #1752 "[question] 安装后，eslint 报错"
![image](https://user-images.githubusercontent.com/28749518/195807778-e7d810ec-765b-499c-92cc-e21c54a2ca91.png)

[2022-10-14 09:16] qingtian5266 commented on #1752
打开每个文件，代码都被 eslint 标红标黄

[2022-10-14 09:34] skyunBoss commented on #1747
好的

[2022-10-14 09:44] #1752 closed, assigned to nobody

[2022-10-14 10:17] skyunBoss commented on #1747
升级了包，代码包就超了

[2022-10-15 22:01] KevinBrent100 opened #1754 "[bug] 签名组件在H5端报错 无法使用"
## 问题描述

Signature 签名 根据官网文档写的完全一致，H5页面中无法签名，签名时页面报错，并已经过taro群里多方证实

## 最小可复现仓库

## 预期的行为和实际行为
预期应该与官网demo一致，但实际中页面在执行签名时大量报错

## 复现步骤，具体代码
1，taro的cli项目，安装@nutui/nutui-taro（^3.2.1版本）
2，src/app.ts文件 import { Signature } from '@nutui/nutui-taro';
3，App..use(Signature);
4，NutUI官网提供的demo
（资深老用户，已仔细检查细节）

## 相关环境信息
- **操作系统**：Mac OS
- **Node 版本**：16.13.1
- **NutUI 版本**："@nutui/nutui-taro": "^3.2.1"
- *

[2022-10-16 04:42] pkjy opened #1755 "Error: Cannot find module 'consola'"
## 问题描述

今天通过 `npm init vue@latest` 初始化了一个vue项目，并且准备使用nutui，安装了
[code]
由于我是H5项目，并且用的vite,于是按文档安装 `vite-plugin-style-import` 插件，并进行 `vite.config.ts` 配置
[code]
但是此时程序已无法跑起来，提示
![image](https://user-images.githubusercontent.com/14119424/196018406-044a29e9-b07c-43e3-b015-7885771f1e52.png)

跟进去后发现 `vite-plugin-style-import` 插件用了这个 `consola` 包
![image](https://user-images.githubusercontent.com/14119424/

[2022-10-16 11:34] enjoyZhou commented on #1751
父元素 设置`display: flex;`就行，但是这虚拟列表组件在小程序不流畅，因为小程序UI和逻辑不同的线程，表现出来卡顿感十足

[2022-10-17 01:50] 6xiaoxin commented on #1727
@richard1015 我根据此仓库的依赖在我自己的项目进行更新，还是报同样的错误

[2022-10-17 01:53] 6xiaoxin commented on #1727
@yarnk 不清楚啊

[2022-10-17 06:26] qingtian5266 opened #1757 "[question] 打开项目任何一个文件都报 ts 或者 eslint 的错误，请问我需要怎么设置，vscode"
![image](https://user-images.githubusercontent.com/28749518/196104052-a428ddd0-cf79-4842-b008-3022314c1dbb.png)

[2022-10-17 06:33] qingtian5266 commented on #1757
![image](https://user-images.githubusercontent.com/28749518/196105107-9b817a5a-53ae-4380-b0be-7539990d0b44.png)

[2022-10-17 07:46] qingtian5266 commented on #1757
![image](https://user-images.githubusercontent.com/28749518/196118611-69bb5c4f-284d-4849-a3de-16c3c91633a3.png)

看起来代码确实有问题啊，你们是怎么本地开发的？

[2022-10-17 08:08] qingtian5266 commented on #1743
我试了一下，可以自动撑开高度啊，我用 settimeout 模拟的 axios，是不是版本问题？

[2022-10-17 08:12] qingtian5266 commented on #1741
写两个 nut-icon ，用 v-if 判断呢？我用网络图片 url 试了下好使啊

[2022-10-17 08:15] wy1037 commented on #1743
版本信息：
/*!
* @nutui/nutui v3.2.2 Thu Sep 08 2022 22:10:21 GMT+0800 (中国标准时间)
* (c) 2022 @jdf2e.
* Released under the MIT License.
*/

我在&nbsp;change 事件中获取数据的。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月17日(星期一) 下午4:08
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [jdf2e/nutui] [bug] Collapse 折叠面板 内容如果异步加载，展开高度有问题 (Issue #1743)

我试了

[2022-10-17 08:21] pkjy commented on #1757
哈哈 我昨天初始化项目 都还没跑起来 我也不知道他们是咋开发的  #1755

[2022-10-17 08:26] pkjy commented on #1755
貌似是按需引用时，那个插件库的问题，我已看到类似 issue 了。[https://github.com/vbenjs/vite-plugin-style-import/issues/95](https://github.com/vbenjs/vite-plugin-style-import/issues/95)

[2022-10-17 08:35] pkjy commented on #1755
麻了 那个库很久没维护了 这个低级的错误都没有修复 如果有朋友碰到 直接先 npm i consola -D 装上依赖处理吧。  建议官方文档上标注一下子。

[2022-10-17 08:35] #1755 closed, assigned to nobody

[2022-10-17 08:39] yumendexihai opened #1758 "searchbar 中placeholder样式不支持自定义"
希望searchbar组件添加placeholder-class属性，使用户能自定义placeholder样式

[2022-10-17 09:14] qingtian5266 commented on #1743
真没复现出来，你只能提供 demo 了

[code]

[2022-10-17 09:16] wy1037 commented on #1743
好的。谢谢。等我明天研究下，如果还不行，就做个demo给你。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月17日(星期一) 下午5:14
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [jdf2e/nutui] [bug] Collapse 折叠面板 内容如果异步加载，展开高度有问题 (Issue #1743)

真没复现出来，你只能提供 demo 了
         {{ citem}}
const change = (name: string) =&gt; {
 console.log(点击了name是${name}的面板);
 setTimeout(() =&

[2022-10-17 09:41] qingtian5266 commented on #1740
没复现，我拿 png 试的
![image](https://user-images.githubusercontent.com/28749518/196145112-0b670aba-c3a3-4f85-b3f4-7389602be9b0.png)

[2022-10-17 09:50] wy1037 commented on #1743
代码在 压缩包里；
1，你先解决 标题的显示问题；
2，change 事件 中，没有办法知道 当前点击的是哪个，以及这个&nbsp;nut-collapse-item&nbsp; 被点击后是折叠状态还是打开状态；
3，我要在 change 事件 中根据点击的这个数据去加载自己的子项数据；现在加载后，高度的问题先放一下。
4，等你处理了1，2，我再给你演示 展开高度问题

Message ID: ***@***.***&gt;

[2022-10-17 10:11] ieu commented on #1743
这里有一个可以复现的例子：
[code]

完整项目见附件：[demo.zip](https://github.com/jdf2e/nutui/files/9799383/demo.zip)

[2022-10-17 10:14] kongsiyu commented on #1670
估计人被开的多搞不过来

[2022-10-17 10:14] kongsiyu commented on #1670
估计人被开的多搞不过来

[2022-10-17 10:26] wy1037 commented on #1743
我们使用的是 cdn 直接引入js 的方式，不使用 构造工具的开发模式。 demo 已发送给你了。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "jdf2e/nutui"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年10月17日(星期一) 晚上6:11
***@***.***&gt;;
***@**

[2022-10-17 10:38] yunhouhuang commented on #1706
有注意这个问题的吗

[2022-10-18 01:37] #1751 closed, assigned to nobody

[2022-10-18 06:35] xxxsf commented on #1734
属于程序bug，已提交pr：https://github.com/jdf2e/nutui/pull/1759

[2022-10-18 06:35] #1734 closed, assigned to nobody

[2022-10-18 09:02] tangguo13 opened #1762 "[question] nut-video 标签是否可以主动触发全屏 方法"
## 你想知道什么？

<nut-video />标签是否可以主动触发全屏 方法

[2022-10-19 11:35] xyezir commented on #966
解决了？怎么就closed了？

[2022-10-20 05:40] tangguo13 opened #1764 "日历组件可以 设置成星期一 至 星期日的排序吗"
目前组件是
![image](https://user-images.githubusercontent.com/94333330/196865092-2a65858a-1351-44d3-9bf5-b28c9402e81f.png)
现在需要展示 星期一到星期日的顺序，请问支持吗

[2022-10-20 10:32] AuYuHui opened #1765 "OverLay 遮罩层 锁定 背景 后 里面 还有一个 滚动条， 里面的滚动条无法滚动[question]"
## 你想知道什么？

你好，我想知道这个项目是否可以...
锁定背景后 ， 里面的滚动条是否可以滚动
## 描述你考虑过的替代方案

我想...

## 其它

无

[2022-10-21 01:14] Drjingfubo commented on #1762
是指点击视频触发全屏吗

[2022-10-21 05:44] richard1015 commented on #1757
ts类型报错，组件内部在逐渐完善，eslint 暂时关闭插件

[2022-10-21 05:44] #1757 closed, assigned to richard1015

[2022-10-21 06:12] sdmu-gaoqi commented on #1720
Taro init 选择 taro+nutui3的模板启动就可以复现

[2022-10-21 07:09] richard1015 commented on #1617
辛苦尝试最新版本 ，如果还有问题辛苦提供最小复现仓库

[2022-10-21 07:09] #1617 closed, assigned to richard1015

[2022-10-21 07:09] #1717 closed, assigned to nobody

[2022-10-21 07:50] richard1015 commented on #1741
[code]

[2022-10-21 07:50] #1741 closed, assigned to richard1015

[2022-10-21 07:50] richard1015 commented on #1740
[code]

[2022-10-21 07:50] #1740 closed, assigned to eiinu

[2022-10-21 07:56] yangxiaolu1993 commented on #1747
有使用分包吗？

[2022-10-21 08:04] richard1015 commented on #1602
const onOkAsync = () => {
      sleep()
        .then(() => {
          closeContent.value = countDown(2);
          return sleep();
        })
        .then(() => {
          closeContent.value = countDown(1);
          return sleep();
        })
        .then(() => {
          closeContent.value = countDown(0);
        })
        .then(() => {
          **visible4.value = false;**
        });

[2022-10-21 08:04] #1602 closed, assigned to richard1015

[2022-10-21 08:18] richard1015 commented on #1602
![image](https://user-images.githubusercontent.com/13060263/197148170-ab3e1391-d27e-4509-93f2-886772399cd9.png)

[2022-10-21 08:42] richard1015 commented on #1625
main文件中已经 use NutUI了，无限多次引用，像下图修改即可

![image](https://user-images.githubusercontent.com/13060263/197153044-4a773735-698e-495b-858c-a62065920375.png)

![image](https://user-images.githubusercontent.com/13060263/197153108-8536c557-856d-424d-aad2-42f09c510f3c.png)

[2022-10-21 08:42] #1625 closed, assigned to richard1015

[2022-10-21 08:55] yangxiaolu1993 commented on #1733
感谢反馈，我们也会注意其他组件类似的问题，DatePicker 组件已添加 safe-area-inset-bottom  属性，NutUI v3.2.4 版本发布

[2022-10-21 09:36] #1726 closed, assigned to yangjinjun3

[2022-10-21 09:37] yangjinjun3 commented on #1723
嗯， 已经复现，我们排查下。
另外，您提交了个重复的issue（#1726），帮您关闭了，请知晓！

[2022-10-21 09:38] zhangpei00 commented on #1723
好的麻烦了

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月21日(星期五) 下午5:37
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [jdf2e/nutui] [bug] (Issue #1723)

嗯， 已经复现，我们排查下。
 另外，您提交了个重复的issue（#1726），帮您关闭了，请知晓！

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID:

[2022-10-21 09:39] yangjinjun3 commented on #1469
嗯，我们看下如何修改，同时满足这两个问题。
感谢您的issue！

[2022-10-21 09:42] yangjinjun3 commented on #1446
看下这个，是否能解决您的问题！
https://github.com/jdf2e/nutui/issues/1343

[2022-10-21 10:08] #1720 closed, assigned to Ymm0008

[2022-10-21 10:13] richard1015 commented on #1474
该功能需内部改动为 chooseMessageFile ，预计 月底修复此问题

[2022-10-21 10:13] richard1015 commented on #1448
该功能需内部改动为 chooseMessageFile ，预计 月底修复此问题

[2022-10-21 10:15] richard1015 commented on #1455
该功能需内部改动为 chooseMessageFile ，预计 月底修复此问题

[2022-10-21 10:45] eiinu commented on #1741
nut-icon 组件内部使用的是 img 标签，在 Taro 下无法动态修改 src，问题已反馈 [issue](https://github.com/NervJS/taro/issues/12673)，我们会持续关注进展。

[2022-10-21 11:24] #1643 closed, assigned to richard1015

[2022-10-21 11:24] richard1015 commented on #1735
3.2.4已修复

[2022-10-21 11:24] #1735 closed, assigned to nobody

[2022-10-21 11:24] richard1015 commented on #1733
3.2.4已修复

[2022-10-21 11:24] #1733 closed, assigned to nobody

[2022-10-21 11:25] #1670 closed, assigned to nobody

[2022-10-21 11:27] richard1015 commented on #1702
3.2.4已修复

[2022-10-21 11:27] #1702 closed, assigned to Drjingfubo

[2022-10-21 11:28] richard1015 commented on #1747
尝试 v3.2.4

[2022-10-21 11:28] #1747 closed, assigned to Drjingfubo

[2022-10-21 11:30] richard1015 commented on #1706
position:sticky 低端机型有可能造成 不支持 sticky

[2022-10-21 11:30] #1706 closed, assigned to szg2008

[2022-10-21 11:57] #1714 closed, assigned to nobody

[2022-10-21 11:57] #1731 closed, assigned to yangxiaolu1993

[2022-10-21 11:57] #1708 closed, assigned to nobody

[2022-10-21 11:58] #1668 closed, assigned to nobody

[2022-10-23 02:22] 893949088 opened #1774 "[bug] picker 组件 3.2.4版本，在微信小程序，无法显示，只显示了titlebar栏目"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：win10
- **Node 版本**：16.x
- **NutUI 版本**： 3.2.4
- **Vue 版本**：3.x
- **引用方式**：  NPM

[2022-10-23 02:22] 893949088 commented on #1774
真是哪哪都是bug，无力吐槽

[2022-10-24 01:47] richard1015 opened #1775 "当 nut-menu 和 nut-calendar 在一起使用有问题, 上下拉日期展示不全, 会变成空白 [bug]"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2022-10-24 01:50] yangxiaolu1993 commented on #1774
自 v3.2.3 起，@nutui/nutui-taro 中的 Picker 组件依赖 Taro 版本 V3.5.6，辛苦自查一下，Taro 的版本有没有升级

[2022-10-24 01:51] yangxiaolu1993 commented on #1729
感谢对NutUI的支持，问题已在 3.2.6 版本中解决

[2022-10-24 02:31] yangxiaolu1993 commented on #1696
感谢对 NutUI 的支持！
1、是否循序属性已添加，在 3.2.5 版本发布
2、NutUI-Taro 中的 图片 暂不支持 缩放功能。缩放功能已经在排期中，敬请期待！

[2022-10-24 05:52] tangguo13 commented on #1762
我想自定义一个全屏 icon ，希望nut-video 组件能暴露一个 全屏的方法

[2022-10-24 06:55] Erica-lyj opened #1776 "[bug]input组件的slot=input插槽报错，卡住页面"
## 问题描述
使用input组件的input插槽，报错，导致其他数据展示不出来。注释掉这部分代码其他数据可以正常展示。
<img width="1151" alt="image" src="https://user-images.githubusercontent.com/57788867/197464508-00ab82ab-2f4c-4ecf-b1d4-97aa4ea73207.png">
<img width="1064" alt="image" src="https://user-images.githubusercontent.com/57788867/197465512-09a0794a-7d3f-4338-bb0a-a70c03fdd08e.png">

## 预期的行为和实际行为
预期的行为：正常展示数据，不影响其他数据，不报错。

## 相关环境信息
- **操作系统*

[2022-10-24 08:48] Lyc0430 opened #1777 "[bug]在webstorm使用代码提示时候,tabs组件代码提示错误"
## 问题描述

在webstorem使用tabs组件,增加一个auto-height,代码提示会显示auto-height`v3.1.21`。[如图](https://cloudlanweb.oss-cn-hangzhou.aliyuncs.com/err1.png?versionId=CAEQPBiBgMCwsOukoBgiIDdjNDdjZGRmMDkzODRmNjQ5MjgzMDk1YTI2MDMxNGE4)

## 最小可复现仓库

## 预期的行为和实际行为
预期:显示提示auto-height

实际:显示auto-height`v3.1.21`,这是一个错误的api提示

## 复现步骤，具体代码
1.在nut-tabs background="white“ v-model="state.tab11value"中希望增加auto-height.
2.使用代码提示
3.代码提

[2022-10-24 11:38] Drjingfubo commented on #1776
nutui还是nutui-taro

[2022-10-24 11:52] szg2008 commented on #1777
已修复，下周发布新版本支持～

[2022-10-24 11:54] szg2008 commented on #1765
有可复现的例子吗？我们好跟进～

[2022-10-24 11:54] #1657 closed, assigned to szg2008

[2022-10-24 12:11] AuYuHui commented on #1765
https://codepen.io/q2419068625/pen/zYaOJQO
H5 滑动不了

[2022-10-24 13:40] yumendexihai opened #1778 "popup 在scrollview中显示错误"
在scrllview底部打开popup，弹窗在页面上方，看不到

[2022-10-24 14:06] whevether commented on #1774
是真的bug 3.2.3没有问题 3.2.4picker有问题

[2022-10-24 14:11] yangxiaolu1993 commented on #1774
可以提供一个小版本的demo吗？我没复现

[2022-10-25 00:36] Lyc0430 opened #1779 "[bug]Tabbar组件默认unactive-color值错误"
## 问题描述

在使用示例创建基础tabbar时,默认显示错误
[如图1](https://cloudlanweb.oss-cn-hangzhou.aliyuncs.com/issue/err.png?versionId=CAEQPBiBgIDGxZGyoBgiIDk1MGI5NjllMDViNDQyYTQ5YTUzMTBjNDkyNGVmMTY0)
[如图2](https://cloudlanweb.oss-cn-hangzhou.aliyuncs.com/issue/err-detail.png?versionId=CAEQPBiBgMCcyJGyoBgiIDcwZDRkZTRmN2MzZTRjYjA5NjQxMjZlZjNiMDhmMDk5)
## 最小可复现仓库

https://github.com/Lyc0430/nut-tabbar-issue
## 预期的行为和实际行为

[2022-10-25 01:02] szg2008 commented on #1778
能否提供下复现仓库，我们跟进一下

[2022-10-25 01:21] #1729 closed, assigned to yangxiaolu1993

[2022-10-25 01:41] Drjingfubo commented on #1779
抱歉哈 3.2.4这个版本因为增加了一个主题变量，新增了个样式，导致这里未选中颜色有问题，相关同学已经在跟进问题了

[2022-10-25 02:11] #1524 closed, assigned to yangxiaolu1993

[2022-10-25 02:22] lkjh3214 commented on #1764
目前没有该设置，后续迭代可以添加上

[2022-10-25 02:25] #1719 closed, assigned to szg2008

[2022-10-25 02:30] Drjingfubo commented on #1721
使用3.2.4试下

[2022-10-25 02:43] iblilife commented on #1040
小程序环境下所有的涉及popup都会慢，https://nutui.jd.com/#/zh-CN/guide/intro  往下拉一点点扫示例菊花码（微信小程序），只要涉及弹出层的都会有明显卡顿。@szg2008  @pupillxy

[2022-10-25 02:46] szg2008 commented on #1765
这种场景建议使用popup代替，H5可以正常滑动

[2022-10-25 03:13] whevether commented on #1774
你用taro最新版外加这个升级到3.2.4复制官网demo就能复现了

[2022-10-25 05:57] juzijun2020 commented on #1657
没用，升级到3.2.4 都是一样的

[2022-10-25 06:01] Drjingfubo commented on #1657
提供个最小复现仓库看下

[2022-10-25 06:07] Erica-lyj commented on #1776
nutui

[2022-10-25 06:37] houqingbin opened #1781 "fixednav[question]"
按照文档全部组件引用,在使用fixednav时,
<img width="404" alt="image" src="https://user-images.githubusercontent.com/75670670/197699813-67326c39-7652-4785-9a9a-8da7ca462a34.png">
<img width="429" alt="image" src="https://user-images.githubusercontent.com/75670670/197699856-522f0009-5662-4c4c-856f-277335f78abe.png">
<img width="1610" alt="image" src="https://user-images.githubusercontent.com/75670670/197700069-ed8

[2022-10-25 07:29] juzijun2020 commented on #1657
https://github.com/juzijun2020/taroinputnumber

[2022-10-25 07:33] Drjingfubo commented on #1657
是taro的h5环境对吧

[2022-10-25 07:34] juzijun2020 commented on #1657
是的，仓库里面 直接 安装 跑起来就可以看到效果

[2022-10-25 07:37] Drjingfubo commented on #1657
好的 辛苦下次标注一下环境

[2022-10-25 07:40] juzijun2020 commented on #1657
我有标注的，麻烦你看回帖子内容

[2022-10-25 07:52] Drjingfubo commented on #1657
我的意思是标注清楚是taro的小程序端还是h5端哈

[2022-10-25 09:16] Tiamo-hg opened #1782 "[bug]NumberKeyboard中按钮样式展示问题"
![b64ddb9b451478890e003b6eae41c850](https://user-images.githubusercontent.com/64953115/197734942-a197e165-570c-450e-a44d-3992315ad232.jpg)

[2022-10-25 10:19] Drjingfubo commented on #1782
感谢反馈，vite的css打包配置问题

[2022-10-25 10:41] Drjingfubo commented on #1782
官网展示的问题哈，组件使用没有影响，感谢反馈

[2022-10-25 11:01] wei1034937343 commented on #1774
![image](https://user-images.githubusercontent.com/28970254/197756351-b8c90076-b74e-4567-a78c-bbf45b77ce8a.png)
同样的问题

[2022-10-25 12:03] #1777 closed, assigned to szg2008

[2022-10-25 12:03] #1779 closed, assigned to Drjingfubo

[2022-10-25 12:03] #1765 closed, assigned to szg2008

[2022-10-25 12:05] Drjingfubo commented on #1779
使用3.2.5

[2022-10-25 12:06] Drjingfubo commented on #1777
使用v3.2.5

[2022-10-25 12:14] richard1015 commented on #1673
官网 bug

[2022-10-25 12:32] #1696 closed, assigned to yangxiaolu1993

[2022-10-25 15:47] ieu commented on #1743
我们在使用过程中还遇到过一个相关的问题。如果 `nut-collapse-item` 里的内容是动态变化的，有时候在标题和内容间会出现一条“缝”。

经过排查发现，`nut-collapse-item` 在内容为空的时候，会通过 `.empty` 覆盖掉上下的 `margin`。但在内容改变时，没能随之去掉 `empty`。

以下是可复现的例子：

[code]

完整项目见附件：[demo.zip](https://github.com/jdf2e/nutui/files/9861851/demo.zip)

[2022-10-26 00:59] 893949088 commented on #1774
@yangxiaolu1993 我用的就是Taro 3.5.6 ，而且值得一提的是升级到3.5.7的时候压根跑不起来

[2022-10-26 01:02] 893949088 commented on #1774
@yangxiaolu1993 而且picker多级选择模式有bug ，你好好测测，我现在我本地把源代码拷贝到了本地已经修正好了

[2022-10-26 01:05] yangxiaolu1993 commented on #1774
多选模式有哪些儿 bug ，可以列出来吗？

[2022-10-26 01:07] 893949088 commented on #1774
@yangxiaolu1993 全靠社区维护吗？😓，bug很明显，1. 不支持给默认值v-model，2. 选择的时候第一次滑动切换是无效的，第二次才行

[2022-10-26 01:08] yangxiaolu1993 commented on #1774
Taro 3.5.6，NutUI-Taro 3.2.4 下，Picker 组件无法使用问题已修复，会发布一个 beta 版本

[2022-10-26 01:09] 893949088 commented on #1774
主要是内部记得选中index有问题

[2022-10-26 01:14] yangxiaolu1993 commented on #1774
NutUI 希望有更多的社区用户参与进来，提出意见、建议，我们也会不断地进行完善

[2022-10-26 02:36] houqingbin commented on #1781
这是最小复现demo地址
https://github.com/houqingbin/demo.git
在mac版Chrome浏览器,ios  safari浏览器和嵌入Android的H5使用fixednav组件都不可以

[2022-10-26 02:56] xiongdou-20250617 opened #1784 "[bug]nutui中的menu菜单组件，敏感度怎么调整"
## 问题描述
用户群体：老年人
在用户使用菜单组件时反馈选择滚动下面选项时，选项切换太快，导致想选的内容经常一下就跳过去

## 最小可复现仓库

## 预期的行为和实际行为
可通过调整敏感度的值，延长选项切换时长

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：微信小程序
- **Node 版本**：v14.17.0
- **NutUI 版本**：3.4.10
- **Vue 版本**：^3.0.0
- **引用方式**：  NPM ？

[2022-10-26 04:31] cnLiuMing opened #1785 "[bug]使用自定义主题之后，所有primary按钮都变成了渐变色"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：window11
- **Node 版本**：18
- **NutUI 版本**： 查看项目package.json 中 @nutui/* 信息
- **Vue 版本**：3.2
- **引用方式**：  CDN / NPM ？npm

[2022-10-26 06:44] JiaLe1 opened #1787 "如何根据nutui-cli快速搭建第三方组件库？"
## 你想知道什么？

你好，我想知道这个项目是否可以...

## 描述你考虑过的替代方案

我想...

## 其它

无

[2022-10-26 07:30] vok123 opened #1788 "[bug] MenuItem 无法销毁问题"
## 问题描述
MenuItem 通过响应式控制渲染未被销毁组件

## 复现步骤，具体代码
[code]

[code]

Menu 组件未提供移除 internalChildren publicChildren 中的MenuItem实例函数

### Fix code

[code]

[code]

## 相关环境信息
- **操作系统**：mac
- **Node 版本**：16.0
- **NutUI 版本**：3.2.5
- **Vue 版本**：3.2.27
- **引用方式**：  NPM

[2022-10-26 08:48] Ymm0008 commented on #1754
@KevinBrent100  hello，可以描述下错误信息吗？是不是这个
`
Uncaught TypeError: Cannot read properties of null (reading 'lineTo')
`

[2022-10-27 01:17] Ymm0008 opened #1789 "NutUI 邀您共建，Contributor 您好"
### 前言

[NutUI](https://nutui.jd.com/#/) 自诞生以来，一直在紧跟技术的发展不断推陈出新，NutUI 经历了 v1.0、v2.0、v3.0 三次技术的革新蜕变。始终保持稳健的发展态势，从一个单一的基础组件库发展到如今服务于数千开发者的多端 UI 组件库。NutUI 的成长离不开团队成员的努力，更重要的是离不开广大社区开发者的反馈和共建。

### 开源收获

##### 活跃的 Github

从 2019 年开源到现在为止，共计 10490 条 commits 记录，发布了 249 个版本。在团队成员和社区开发者的共同努力下，累计关闭了 1553 个 issue。社区的小伙伴非常给力，积极的解决 issue，共提交 134 条 PR。

##### 活跃的社区

[官网文档](https://nutui.jd.com/#/zh-CN/guide/st

[2022-10-27 02:42] ailululu commented on #1532
在微信小程序下，input 的 type 是无法动态赋值的，可以用v-if来动态切换input。
代码示例：
[code]

[2022-10-27 02:42] #1532 closed, assigned to ailululu

[2022-10-27 07:05] hong-q opened #1791 "【bug】微信小程序中在nut-form里使用textarea，聚焦后输入一个字符会马上自动失焦"
1、textarea绑定blur事件，在微信小程序里点击输入框聚焦后就会马上触发失焦事件（根本无法键盘输入）
2、不绑定blur事件，键盘输入值后就会自动失焦，再聚焦输入单个字符就又自动失焦，循环往复
注：在form表单容器中会如此，单独使用没事

[2022-10-27 08:44] HuziG opened #1792 "[suggest] 关于 ActionSheet 动作面板组件，文档介绍不完全问题"
在该组件介绍文档中，关于 <安装> 部分的描述实际上是不完全的

原文：
import { createApp } from 'vue';
// vue
import { ActionSheet, Popup } from '@nutui/nutui';
// taro
import { ActionSheet, Popup } from '@nutui/nutui-taro';

const app = createApp();
app.use(ActionSheet);
app.use(Popup);

其实应改成：
import { createApp } from 'vue';
// vue
import { ActionSheet, Popup, OverLay } from '@nutui/nutui';
// taro
import { ActionSheet, Popup,

[2022-10-27 08:44] HuziG commented on #1792
🔗 文档链接指向：https://nutui.jd.com/#/zh-CN/component/actionsheet

[2022-10-27 08:50] Drjingfubo commented on #1792
感谢，您也可以直接提个pr过来，帮忙修复一下文档，大家一起共建

[2022-10-27 09:01] Drjingfubo commented on #1758
searchbar中使用的是input，无法添加placeholder-class
https://juejin.cn/post/6937586088055668743 修改样式使用这个

[2022-10-27 09:01] #1758 closed, assigned to Drjingfubo

[2022-10-27 10:06] #1792 closed, assigned to Drjingfubo

[2022-10-27 10:11] Drjingfubo commented on #1782
下周发版修复官网

[2022-10-27 10:12] Ymm0008 commented on #1754
@KevinBrent100  问题已修改，待下次发版，感谢反馈。

[2022-10-27 10:16] Drjingfubo commented on #1443
暂时没有这部分的计划

[2022-10-27 11:50] Drjingfubo commented on #1055
下周发版以后 3.2.6会新增一个time方法，提供两个参数一个当前时间，一个总时间

[2022-10-27 14:12] jasper-ops opened #1799 "[bug]avatar在h5中报错Cannot read properties of undefined (reading 'data-index')"
## 问题描述
avatar在h5中报错，在微信小程序中正常

## 预期的行为和实际行为
小程序中正常，h5中报错Cannot read properties of undefined (reading 'data-index')，期望正常运行

## 复现步骤，具体代码
官方文档示例代码即可

## 相关环境信息
- **操作系统**：win10
- **Node 版本**：16.16.0
- **NutUI 版本**： 3.2.5
- **Vue 版本**：3.2.24
- **引用方式**：  npm

[2022-10-28 01:14] #1754 closed, assigned to Ymm0008

[2022-10-28 01:48] Ymm0008 opened #1800 "test"
### NutUI scenes（nutui 场景）
H5

### NutUI version（nutui 版本）
3.2.5

### Vue version（vue 版本）
3.2.41

### Citation method（引用方式）
npm

### Node version（node 版本）
16.18.0

### Browser and its version（浏览器及其版本）
chrome

### System and its version（系统及其版本）
macos

### Reproduction link（重现链接）
[https://www.jd.com/](https://www.jd.com)

### Steps to reproduce（重现步骤）
test

### What is expected?（期望的结果是什么？）
test

###

[2022-10-28 02:08] houqingbin commented on #1781
这个有人回答一下吗

[2022-10-28 03:38] #1778 closed, assigned to nobody

[2022-10-28 05:54] richard1015 commented on #1785
可以设置 颜色一致  就不会渐变
$primary-color: #fa2c19 !default;
$primary-color-end: #fa2c19 !default;

[2022-10-28 06:02] yangxiaolu1993 commented on #1774
列出的问题已经修改，在 3.2.6 版本发布

[2022-10-28 06:30] yangxiaolu1993 commented on #1564
提供的 Demo 是 Taro 环境，但安装的缺失 @nutui/nutui，在Taro 环境下需要安装 nutui-Taro 包

[2022-10-28 06:31] yangxiaolu1993 commented on #1564
在 Taro 环境中，请直接使用 Taro 现有 ScrollView 组件开发 https://nutui.jd.com/#/zh-cn/component/infiniteloading-taro

[2022-10-28 06:32] #1564 closed, assigned to yangxiaolu1993

[2022-10-28 07:58] Zeppo241 commented on #1740
我用的是svg图片，不确定是不是和这个有关系

[2022-10-28 07:58] Zeppo241 commented on #1740
我用的是svg图片

[2022-10-28 08:02] qingtian5266 commented on #1743
![223F1915B4AD286B129B82DC3EA8FE2D](https://user-images.githubusercontent.com/28749518/198535014-1f7a5e0d-bed2-4868-853e-c008b05b9793.png)

你好，我测试了一下，出现缝的原因可能是你用了 nut-cell-group 组件自带的样式，你 nut-collapse-item 下面直接放 div 可是试一下。.empty 我看只有个 padding: 0 26px 样式，影响左右没影响上下

[2022-10-28 09:02] ieu commented on #1743
你好。

你说的对。`.empty` 确实没有设置 `margin`，是我疏忽大意了。

我花了一些时间研究了下。缝的出现应该跟 [margin collapsing](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing) 有关。因为 `.empty` 将上下的 `padding` 设置成 0，导致子元素的 `margin` 溢出。

不过我一开始反馈的时候想的是，`.empty` 在 `nut-collapse-item` 内容不为空时不应该被设置。另外，外部样式会被内部内容影响似乎也不太好。

[2022-10-28 10:56] Ymm0008 commented on #1743
@ieu  @qingtian5266 @wy1037 感谢大家的积极反馈，我会跟进看下如何优化，诚挚邀请各位一起共建，可以加我拉大家进群。
![](https://img13.360buyimg.com/imagetools/s200x200_jfs/t1/187308/9/29678/349561/634fa983E93012590/a641089fdfed5911.png)

[2022-10-28 15:56] xuwu125 commented on #1774
._node_modules_@vue_runtime-core_dist_runtime-core.esm-bundler.js:38 [Vue warn]: Failed to resolve component: picker-view-column
If this is a native custom element, make sure to exclude it from component resolution via compilerOptions.isCustomElement.
  at <NutPicker modelValue= [1] onUpdate:modelValue=fn visible=false  ... >
  at <UserInfo tid="pages/user/info/index?$taroTimestamp=1666972518507"

[2022-10-31 07:12] richard1015 opened #1803 "Menu 文档中缺少 toggle 事件说明"
### What problem does this feature solve?（这个功能解决的问题）
Menu 文档中缺少 toggle 事件说明

### What does the proposed API look like?（期望的 API）
添加 toggle 事件说明

[2022-10-31 08:04] #1446 closed, assigned to yangjinjun3

[2022-10-31 08:36] yangjinjun3 commented on #1803
已添加，本周五发版会带有！

[2022-10-31 08:36] #1803 closed, assigned to yangjinjun3

[2022-10-31 08:47] yangjinjun3 commented on #1784
您好，您的意思是，选择完，下拉菜单收起的速度太快吗？
可否帮忙录个屏

[2022-10-31 09:23] xiongdou-20250617 commented on #1784
客户的反馈，主要苹果手机我这边也没有重现出这个问题。不是收的太快，是滚动选项时选项切换的太快了。我们的客户群体主要是老年人，所以我个人觉得还好，但用户就觉得有点太快了

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月31日(星期一) 下午4:47
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [jdf2e/nutui] [bug]nutui中的menu菜单组件，敏感度怎么调整 (Issue #1784)

您好，您的意思是，选择完，下拉菜单收起的速度太快吗？
 可否帮忙录个屏

—
Reply to this email directly, view it on GitH

[2022-10-31 09:34] yangjinjun3 commented on #1784
意思是当下拉菜单中有很多选项时（出现了滚动条），里面的选项切换的太快？
我理解是不是滑动就没事儿，一下子滚到底肯定很快

[2022-10-31 09:35] xiongdou-20250617 commented on #1784
是的，选项太多时，用户操作就会觉得本来自己要选择的选项，轻轻一划就滚上去了。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月31日(星期一) 下午5:34
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [jdf2e/nutui] [bug]nutui中的menu菜单组件，敏感度怎么调整 (Issue #1784)

意思是当下拉菜单中有很多选项时（出现了滚动条），里面的选项切换的太快？
 我理解是不是滑动就没事儿，一下子滚到底肯定很快

—
Reply to this email directly, view it on GitHub, or unsubscribe.

[2022-10-31 09:38] yangjinjun3 commented on #1784
我理解这是苹果的体验设计   不知道用户是否方便录个屏

[2022-10-31 09:39] yangjinjun3 commented on #1784
或者您那边可以把下拉弹框的高度增加下呢

[2022-10-31 09:41] xiongdou-20250617 commented on #1784
我这边也是同事去现场，客户给演示的，然后回来口述给我的，我自己用的安卓手机也没办法重现这个问题。现在我改用微信小程序原生的picker解决了

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月31日(星期一) 下午5:39
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [jdf2e/nutui] [bug]nutui中的menu菜单组件，敏感度怎么调整 (Issue #1784)

我理解这是苹果的体验设计   不知道用户是否方便录个屏

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Y

[2022-10-31 09:47] yangjinjun3 commented on #1784
哦，那我先把这个问题关了，这边没办法复现，等其他人再复现了再看下怎么优化？

[2022-10-31 09:48] xiongdou-20250617 commented on #1784
好的

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月31日(星期一) 下午5:47
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [jdf2e/nutui] [bug]nutui中的menu菜单组件，敏感度怎么调整 (Issue #1784)

哦，那我先把这个问题关了，这边没办法复现，等其他人再复现了再看下怎么优化？

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Mess

[2022-10-31 09:49] yangjinjun3 commented on #1784
感谢！

[2022-10-31 09:50] #1784 closed, assigned to yangjinjun3

[2022-10-31 11:44] richard1015 commented on #1455
已修复，https://www.npmjs.com/package/@nutui/nutui-taro/v/3.2.6-beta.1

[2022-10-31 11:44] richard1015 commented on #1448
https://www.npmjs.com/package/@nutui/nutui-taro/v/3.2.6-beta.1

[2022-10-31 11:44] richard1015 commented on #1474
https://www.npmjs.com/package/@nutui/nutui-taro/v/3.2.6-beta.1

[2022-10-31 11:56] #1785 closed, assigned to richard1015

[2022-10-31 11:57] richard1015 commented on #1781
跟进中

[2022-10-31 14:31] ArtArrow opened #1804 "vite还是不能组件按需引入吗？手动引入后打包有2M多"
### What problem does this feature solve?（这个功能解决的问题）
手动引入和打包资源过大的问题

### What does the proposed API look like?（期望的 API）
希望能改下组件引入的形式

[2022-11-01 01:53] richard1015 opened #1806 "Notify，设置了 duration 的值，但一直不会消失"
### What problem does this feature solve?（这个功能解决的问题）
Notif 设置了 duration 生效

### What does the proposed API look like?（期望的 API）
跟官网的效果不一样。比如Notify，设置了duration的值，但一直不会消失

![image](https://user-images.githubusercontent.com/13060263/199141556-6c457469-483d-49c6-a32d-39cf22eee2de.png)

[2022-11-01 02:40] yangxiaolu1993 commented on #1774
可以先尝试一下 [3.2.6-beta.1](https://www.npmjs.com/package/@nutui/nutui-taro/v/3.2.6-beta.1)

[2022-11-01 03:02] richard1015 commented on #1781
升级这两个依赖包，即可
[code]

[2022-11-01 03:02] #1781 closed, assigned to richard1015

[2022-11-01 04:07] houqingbin commented on #1781
升级到什么版本

[2022-11-01 05:15] az031120103 commented on #1474
ok，试一试

[2022-11-01 06:59] yanbowe opened #1807 "Tabbar 标签栏Icon支持插槽"
### What problem does this feature solve?（这个功能解决的问题）
项目中接入了@iconify/json [icon](https://icones.js.org/) ，目前Tabbar 栏不支持插槽，无法使用iconify中的图标，有点不太友好

### What does the proposed API look like?（期望的 API）
slot插槽#icon

[2022-11-01 07:14] yanbowe opened #1808 "Tabbar 标签栏Icon支持插槽"
### What problem does this feature solve?（这个功能解决的问题）
项目中接入了@iconify/json，目前Tabbar 栏不支持插槽，无法使用iconify中的图标，有点不太友好

### What does the proposed API look like?（期望的 API）
slot插槽#icon

[2022-11-01 07:14] #1808 closed, assigned to nobody

[2022-11-01 07:18] yanbowe commented on #1804
强烈建议使用[unplugin-vue-components](https://github.com/antfu/unplugin-vue-components) @richard1015

[2022-11-01 08:55] yarning233 commented on #1774
[3.2.6-beta.1](https://www.npmjs.com/package/@nutui/nutui-taro/v/3.2.6-beta.1) 这个版本可以了

[2022-11-01 08:56] yarning233 commented on #1774
刚试过

[2022-11-01 10:19] eiinu commented on #1722
3.2.5 版本支付宝小程序可正常使用

[2022-11-01 10:19] #1722 closed, assigned to eiinu

[2022-11-01 10:19] #1774 closed, assigned to yangxiaolu1993

[2022-11-01 12:15] txl1123 opened #1809 "NoticeBar修改height之后，垂直轮播会卡顿"
### NutUI scenes（nutui 场景）
小程序（@nutui/nutui-taro）

### NutUI-vue version（nutui-vue 版本）

3.2.0

### Vue version（vue 版本）
3.0.0

### Operating environment（运行环境）
dev:weapp

### Citation method（引用方式）
npm

### Node version（node 版本）
14.17.3

### Browser and its version（浏览器及其版本）
微信开发工具

### System and its version（系统及其版本）
MacOs(11.4)

### Taro environmental information（taro 环境信息）
Taro CLI 3.4.9 environment

[2022-11-02 01:34] clovu opened #1811 "icon动画无效，例如<nut-icon name="loading" class="nut-icon-am-infinite"/>"
### NutUI scenes（nutui 场景）
小程序（@nutui/nutui-taro）

### NutUI-vue version（nutui-vue 版本）

3.2.5

### Vue version（vue 版本）
3.2.41

### Operating environment（运行环境）
dev:weapp

### Citation method（引用方式）
npm

### Node version（node 版本）
v16.15.1

### Browser and its version（浏览器及其版本）
Chrome(107.0.5304.87)

### System and its version（系统及其版本）
Windows 11 21H2

### Taro environmental information（taro 环境信息）
    S

[2022-11-02 01:36] clovu commented on #1811
你们Issue Helper是不是有BUG...
issue的值怎么取的是“实际结果”的值...
![1667352820(1)](https://user-images.githubusercontent.com/50982977/199374024-e58b8873-8bca-4e8a-8444-4418513a479b.jpg)

[2022-11-02 02:07] clovu commented on #1811
好像是 `@keyframes rotation` 丢失。不知道是不是要我手动加上，我在文档里没找到相关资料

[2022-11-02 03:53] clovu commented on #1811
没有引入 `@nutui/nutui-taro/dist/style.css`

[2022-11-02 06:13] yangxiaolu1993 commented on #1809
感谢对 NutUI 的支持，问题已经修改，将在 v3.2.6 发布

[2022-11-02 07:25] ArtArrow commented on #1804
用的就是这个，但是还没有resolvers，自定义的resolvers会导致组件异常

[2022-11-02 09:22] Ymm0008 commented on #1811
感谢反馈，这个问题已经修复发版了。@Clover-You

[2022-11-03 01:01] #1811 closed, assigned to nobody

[2022-11-03 01:34] Q3B0 opened #1815 "nut-lits和nut-infiniteloading 在微信小程序出现 Failed to resolve component: scroll-view"
### NutUI scenes（nutui 场景）
小程序（@nutui/nutui-taro）

### NutUI-vue version（nutui-vue 版本）

3.2.5

### Vue version（vue 版本）
3.0.0

### Operating environment（运行环境）
dev:weapp

### Citation method（引用方式）
npm

### Node version（node 版本）
8.19.2

### Browser and its version（浏览器及其版本）
Chrome(106.0.5249.121)

### System and its version（系统及其版本）
Windows 10 22H2

### Taro environmental information（taro 环境信息）
 Taro C

[2022-11-03 02:17] eiinu commented on #1804
样式文件缺少依赖关系，如果 A 组件内部使用了 B 组件，使用 unplugin 插件自动导入的只有 A 的样式

[2022-11-03 07:18] yanbowe commented on #1804
主要是需要组件可以自动引入注册有TS提示，样式的话可以手动全部导入，因为我觉得[unplugin-vue-components](https://github.com/antfu/unplugin-vue-components)导入样式有问题，例如[vant](https://github.com/antfu/unplugin-vue-components/issues/327)样式导入

[2022-11-03 07:55] richard1015 commented on #1804
eiinu 大佬已经在解决依赖性，样式丢失问题，大家敬请期待

[2022-11-03 10:05] ieu opened #1819 "InfiniteLoading 某些情况下会错误触发下拉刷新"
### NutUI scenes（nutui 场景）
H5（@nutui/nutui）

### NutUI-vue version（nutui-vue 版本）

3.2.5

### Vue version（vue 版本）
3.2.41

### Operating environment（运行环境）
dev:h5

### Citation method（引用方式）
npm

### Node version（node 版本）
16.18.0

### Browser and its version（浏览器及其版本）
Chrome(106.0.5249.119)

### System and its version（系统及其版本）
MacOS(12.6)

### Reproduction link（重现链接）
[nutui.jd.com/demo.html](https://nut

[2022-11-03 13:31] yangjisen commented on #1775
* app.js
[code]
* src/pages/index.vue
[code]

taro init 进行安装
直接修改 index.vue 为以上代码即可

![image](https://user-images.githubusercontent.com/5966716/199733647-5179207b-e8de-4a14-8f0d-aced5fc0f908.png)

![image](https://user-images.githubusercontent.com/5966716/199733968-31ef6e7d-f6e1-4483-b069-5498a843247e.png)

![image](https://user-images.githubusercontent.com/5966716/199733849-b9628434-8441-4ec6-a89