[2018-07-27 06:57] sangcz opened #2 "更细Vue版本之后会有报错"
比如：toast.js文件
`let ToastConstructor = Vue.extend(require('./toast.vue'));`
然后我改成`let ToastConstructor = Vue.extend(require('./toast.vue').default);`加了一个.default就可以了

[2018-07-29 07:29] ApolloRoad opened #3 "ui细节需要美化。。。"
一定没有设计小姐姐把持Ui

[2018-08-09 03:02] Franslee commented on #3
2.0版本就有设计小姐姐把持了

[2019-01-17 03:51] #3 closed

[2019-01-17 09:17] x851285009 opened #8 "首页会出现横向滚动条哦提个醒"
.css-animation
这个块的宽度影响了

[2019-01-17 15:19] hitao123 opened #9 "package.json 依赖问题"
autoprefixer
vue
vue-i18n

这个在 "dependencies" 和 "devDependencies" 都出现

 "devDependencies" 是开发时候的依赖， " autoprefixer " 应该作为 “devDependencies” 依赖，感觉包管理有点问题

[2019-01-18 02:46] Franslee commented on #9
@hitao123 感谢反馈，已要求团队成员注意该问题

[2019-01-18 02:46] Franslee commented on #8
@x851285009  好的，我们马上处理

[2019-01-18 02:47] Franslee commented on #8
@x851285009  感谢反馈，我们马上处理

[2019-01-18 09:34] #8 closed

[2019-01-18 09:34] #9 closed

[2019-01-18 09:35] Franslee commented on #2
2.0版不会有这个问题了

[2019-01-18 09:35] #2 closed

[2019-02-27 09:19] juyp1 opened #10 "马上关注了准备”猜“下坑"
马上关注了准备踩下坑，估计问题不会太多。

[2019-02-27 11:33] syhyz1990 opened #11 "感觉过场动画稍微有点卡顿"
感觉过场动画稍微有点卡顿, 不怎么流畅

[2019-02-28 01:30] Franslee commented on #11
@syhyz1990 您是说DEMO页面的转场动画吗？

[2019-03-01 03:43] zss1004504439 opened #12 "慕名而来！经常感谢哟！"
慕名而来！经常更新哟！

[2019-03-01 10:42] Franslee commented on #10
欢迎使用，欢迎反馈

[2019-03-01 10:43] Franslee commented on #12
来了，老弟~

[2019-03-04 09:46] syhyz1990 commented on #11
@Franslee 是的呢 , 感觉不怎么浏览,不知道是动画问题还是组件本身卡顿

[2019-03-04 15:35] okbexx opened #13 "window is not defined"
nuxt版本2.3.X
nutui版本2.X

在nuxt中使用报window is not defined

[2019-03-05 10:40] YFEI6 opened #14 "dialog 弹窗"
除了js调用外， 希望给提供标签引用方式（提供插槽）更方便配置弹窗内容

[2019-03-06 02:07] Franslee opened #15 "来了，老弟！"
:tada::tada:欢迎大家使用NutUI组件库~ :tada::tada:

如果您在使用过程中遇到什么问题可在此留言或通过 nutui@jd.com 联系我们。

目前NutUI已在京东内外数十个项目中应用，如果你的项目中也有用到，欢迎留言告诉我们，建议包含以下内容：

- 产品/项目：
- 链接：（如果可以）
- 公司或组织：（如果可以）
- 截图：（如果可以）
- Email：（如果可以）

您的回复是我们开发的动力。

欢迎Star，欢迎PR~

[2019-03-07 01:14] #15 closed

[2019-03-07 01:16] Franslee opened #16 "来了，老弟~"
:tada::tada:欢迎大家使用NutUI组件库~ :tada::tada:

如果您在使用过程中遇到什么问题可通过 Issues 或邮件 nutui@jd.com 联系我们。

目前NutUI已在京东内外众多项目中应用，如果你的项目中也有用到，欢迎留言告诉我们，建议包含以下内容：

- 产品/项目：
- 链接：（如果可以）
- 公司或组织：（如果可以）
- 截图：（如果可以）
- Email：（如果可以）

您的支持是我们开发的动力。

欢迎Star，欢迎PR~

<img width="358" src="https://img14.360buyimg.com/imagetools/jfs/t1/99938/27/5896/64075/5df0772eE89888d9d/4ba34697506e331c.jpg">

[2019-03-07 01:21] Franslee commented on #11
DEMO页面的转场动画是用的第三方插件，NutUI中目前没有转场动画插件。方便告诉我们你用的哪款手机、哪个浏览器浏览的吗？我们后续优化一下。

[2019-03-07 03:02] syhyz1990 commented on #11
@Franslee 小米8手机 , 微信自带的浏览器 , 夸克浏览器都卡

[2019-03-08 04:03] qbob opened #18 "你值得拥有！"

[2019-03-08 05:52] Franslee commented on #13
- 我们将在接下来的版本中解决这个问题。

- 作为一种临时方案，可直接在项目中引用组件目录下的vue源文件

[2019-03-08 06:51] qbob opened #19 "nutui 没有form组件？"
form 组件
input 组件
目前看到文档和代码里面没有，后期会有吗？

[2019-03-08 07:57] parallel-kevin opened #20 "示例Cell组件的带链接部分无法返回"
示例里Cell组件点了带链接之后会跳到京东wap，无法返回

![image](https://user-images.githubusercontent.com/15011656/54015498-cf59c480-41ba-11e9-906a-604038dd118a.png)

[2019-03-08 09:06] Franslee commented on #20
在手机上可以按返回键返回

[2019-03-08 09:06] Franslee commented on #19
具体需要哪些input组件？

[2019-03-08 09:13] qbob commented on #19
常用的 input或textarea的输入框，及其demo

[2019-03-08 14:56] suguoyao opened #21 "ShortPassword居中短密码输入框溢出"
在小屏幕下，如iphone4，居中短密码弹窗中的输入框超出弹窗外了。
![image](https://user-images.githubusercontent.com/16471605/54035892-52980c00-41f5-11e9-826d-9c24bc455db4.png)

官网对应demo链接：https://nutui.jd.com/demo.html#/ShortPassword

[2019-03-10 15:10] okbexx commented on #13
期待

[2019-03-10 15:10] #13 closed

[2019-03-11 01:41] #20 closed

[2019-03-11 01:42] Franslee commented on #21
感谢反馈

[2019-03-11 01:47] Franslee commented on #14
如果觉得弹窗内容配置不便，不妨试试es6的模板字符串写法，另外弹窗内容支持html。

[2019-03-11 10:36] yoyo837 commented on #16
你好，请问一下，你们团队和O2在工作上是什么关系，[AT-UI](https://github.com/AT-UI/at-ui) 刚开源就放弃了吗？

[2019-03-11 11:10] xusaihu opened #22 "上拉加载，下拉刷新组件没有么？"

[2019-03-11 11:25] shanghui-yu opened #23 "你们的提交commit没有规范吗？"
我刚看你们的commit好像都没有具体的规范

[2019-03-11 12:02] sskk741 commented on #16
AT-UI是面向电脑端的，这个是面向移动端的，还是不一样的。

[2019-03-12 01:31] qq785478075 opened #24 "缺少倒计时模块"
点击倒计时会报错，缺少模块

[2019-03-12 01:34] Franslee commented on #22
这个组件基本开发完了，正在测试中，请关注近期发布的版本

[2019-03-12 01:38] Franslee commented on #16
- 我们和O2是兄弟团队
- NutUI是移动端Vue组件库

[2019-03-12 02:56] Franslee commented on #23
感谢建议，后续加强这方面的规范

[2019-03-12 02:56] #23 closed

[2019-03-12 02:57] Franslee commented on #19
我们会考虑您的建议，感谢关注NutUI

[2019-03-12 02:58] Franslee commented on #11
收到，感谢反馈

[2019-03-12 02:58] #11 closed

[2019-03-12 03:43] Franslee commented on #24
倒计时组件及文档和demo刚刚已上线

[2019-03-12 03:44] Franslee commented on #21
已修复，感谢

[2019-03-12 03:44] #21 closed

[2019-03-12 03:45] suguoyao commented on #21
@Franslee Thanks

[2019-03-12 03:55] augustVino commented on #22
等待➕1 。。

[2019-03-12 07:36] cnyyk commented on #16
见过很多大厂的开源项目，很多都是kpi产物，完成了kpi，使命就完成了。nutui会不会这样，拭目以待

[2019-03-12 07:42] cnyyk commented on #19
textarea 参考 vux 的textarea，带字数统计，如图

![WX20190312-154136](https://user-images.githubusercontent.com/275233/54182797-71402080-44dd-11e9-929f-ecb5a2b7564c.png)

[2019-03-12 07:48] Jony1943 opened #25 "例子首页组件"
这个例子首页的分类组件（手风琴），没有相关文档呢

[2019-03-13 01:33] Franslee commented on #25
呃，NutUI中目前没有手风琴组件

[2019-03-13 01:47] #24 closed

[2019-03-13 03:32] mrxu0 opened #27 "请问怎么设置局域网可访问呢？"
使用 npm run dev 启动项目之后只能够本地访问，这样手机调试的时候会比较麻烦，如何能够让属于同一个局域网的用户可访问呢？

[2019-03-13 11:37] augustVino opened #28 "tab组件点击回调的问题"
tab组件中，点击tab的title文字，不会触发tabSwitch事件，看了下组件代码，发现是被event.target拦截了。
`switchTab:function(index,event,disable){
       if(!disable && event.target.className.indexOf('nut-title-nav')!==-1){
                ...
                ...
                this.$emit('tab-switch',index,event);
       }
}`

[2019-03-13 11:37] Franslee commented on #27
手机和电脑处于同一局域网内的话，是可以访问的

[2019-03-13 11:44] mrxu0 commented on #27
你好，我用本机IP地址直接访问时访问不了的。

[2019-03-13 11:49] augustVino commented on #28
问题不是switchTab方法，是switchTabLink方法中的event.target.parentNode.click();的问题，改成
             let myEvent = new Event('click');
             event.target.parentNode.dispatchEvent(myEvent);
之后可以正常运行了。

[2019-03-14 01:49] chix1221 opened #29 "按需加载报错"
按照文档操作，按需加载对应组件报错
`Cannot read property 'install' of undefined`

[2019-03-14 03:31] Franslee commented on #29
安装@nutui/babel-plugin-separate-import插件了吗？

[2019-03-14 03:48] p-eng opened #30 "按需加载ImagePicker，使用scss时报错"
使用css正常，使用scss报错
![image](https://user-images.githubusercontent.com/33571719/54329950-df582500-464e-11e9-877b-f7eef7b83c2e.png)

[2019-03-14 10:19] Franslee commented on #14
已经着手开发了，下个版本加上。感谢反馈

[2019-03-14 10:59] famanoder commented on #30
按需构建组件时，我们默认使用的是打包好的 `.css`，如果需要修改主题或将按需构建插件的 `style` 属性设置为 `scss`，还需要额外的 `webpack` 配置。
[code]

[2019-03-15 07:22] peng-xiaoyu commented on #30
好的，谢谢。

[2019-03-15 08:31] Franslee commented on #18
感谢支持

[2019-03-15 09:20] Angularboy opened #31 "按需加载DatePicker的问题"
按需加载DatePicker，"style": "scss"的时候，因DatePicker.scss文件为空，导致组件因样式问题不可用
![image](https://user-images.githubusercontent.com/15830474/54424951-0c8bfc80-474f-11e9-8843-46c5185f81ff.png)
![image](https://user-images.githubusercontent.com/15830474/54420911-3ab90e80-4746-11e9-87bc-98177a53fb26.png)
![image](https://user-images.githubusercontent.com/15830474/54420943-4b698480-4746-11e9-96ed-a3f70ad63706.png)

[2019-03-15 09:47] Angularboy commented on #31
"style": "scss"
![image](https://user-images.githubusercontent.com/15830474/54422838-4ad2ed00-474a-11e9-817d-6e913c32f79a.png)

[2019-03-15 10:21] Franslee commented on #31
感谢反馈，我们将在下个版本修复这个问题。作为一种临时方案，您可以在这个scss文件中加入以下代码：
`@import '../actionsheet/actionsheet.scss';
@import '../picker/picker.scss';`

[2019-03-15 10:37] Angularboy commented on #31
按您的方案，会产生其他问题。.babel暂时改成css可用，就是主题功能没那么方便hhh
![image](https://user-images.githubusercontent.com/15830474/54425696-ecf5d380-4750-11e9-86d2-5217d7143523.png)

[2019-03-18 02:48] chix1221 opened #32 "动态改变nut-col的:span值列宽不变，只能静态写死，不灵活"
动态改变span的值
<nut-col :span="12">

通过修改span后面的值，值变了，列宽不变，只能写死数值！！！

<nut-button @click="test">改变值</nut-button>
<nut-col :span="myValue">
        <div class="flex-content">span:{{this.myValue}}</div>
    </nut-col>

data: function(){
	return {
		myValue: 12
	}
 },

methods: {
        test(){
	  this.myValue+=1;
	}
    }

[2019-03-18 09:56] mrxu0 opened #33 "请问有组织么？"

[2019-03-18 10:23] Franslee commented on #31
这是另外一个问题，按需加载scss文件时，还需要对webpack的sass-loader进行配置，参考：
@ #30

[2019-03-18 12:37] Franslee commented on #31
2.0.5版已经修复这个问题

[2019-03-18 12:38] Franslee commented on #33
这里是京东用户体验设计部-前端开发部

[2019-03-18 12:56] Franslee commented on #27
可改一下webpack配置中devserver的配置，指定host为本机ip
https://www.webpackjs.com/configuration/dev-server/#devserver-host

[2019-03-18 12:58] mrxu0 commented on #33
没有建个QQ群或者是微信群的么？

[2019-03-18 12:58] mrxu0 commented on #33
如果没有。我可不可以创建一个QQ群，在这里发表一下呢？

[2019-03-18 13:04] Franslee commented on #14
2.0.6版已经增加了这个功能，欢迎体验

[2019-03-19 02:20] DivXPro commented on #19
text这个是最基础的input组件啊，为啥没有啊 叹气

[2019-03-19 04:12] 451761830 opened #34 "按照快速上手里的操作步骤，无法做到按需加载 会报错"

[2019-03-19 05:34] Franslee commented on #34
安装插件了吗？报什么错？

[2019-03-19 06:14] 451761830 commented on #34
安装了插件
main.js?56d7:11 Uncaught TypeError: _nutui_nutui_dist_packages_dialog_dialog_js__WEBPACK_IMPORTED_MODULE_4___default.a.install is not a function

[2019-03-19 06:26] Franslee commented on #34
这个问题刚刚已经修复，请试试最新版

[2019-03-19 11:52] 451761830 commented on #34
为什么上拉加载 下拉刷新这样的基础控件都没有

[2019-03-20 01:10] Franslee commented on #34
这个算不上基础控件，不过我们已经开发完，目前正在项目里测试，稍后放出来

[2019-03-20 02:03] chix1221 commented on #33
QQ群：599125181

[2019-03-20 02:05] chix1221 opened #37 "Nutui QQ交流群"
599125181

[2019-03-20 02:08] chix1221 commented on #29
可以了，又碰到新的问题就是动态改变列:span的值不能class="nut-col nut-col-12" class不变，是发邮件给你了，是你们自身机制问题还是什么？麻烦解决一下  急急急！！！

[2019-03-20 06:16] Franslee commented on #37
京东内网禁止上QQ，有问题还是推荐在这里发帖或者联系官方邮箱nutui@jd.com

[2019-03-20 06:17] Franslee commented on #33
京东内网禁止上QQ，有问题还是推荐在这里发帖或者联系官方邮箱nutui@jd.com

[2019-03-20 06:19] mrxu0 commented on #33
哦哦，这个样。有很多初学者问题，不是很值当发帖或者是联系官方邮箱。上面的群是你们官方推荐么？

[2019-03-20 07:40] #31 closed

[2019-03-20 09:24] Franslee commented on #33
非官方的

[2019-03-20 13:44] mrxu0 opened #39 "styles文件下面的variable.scss是怎么引用的？"
我在阅读源码的时候发现 styles/variable.scss 和 styles/index.scss 文件基本没有单独引入到packages 下面的组件中。但是每个 packages/*/*.scss (packages/picker/picker.scss) 文件夹都可以使用 styles/variable.scss 里面定义的变量。而其中只有 noticebar.scss、 rate.scss、 searchbar.scss 文件确明确引入了。这是为什么呢？

[2019-03-20 14:12] littlegirlpppp commented on #22
等待+1

[2019-03-21 01:21] Franslee commented on #39
参见build目录下的webpack.base.conf.js文件：
`{
                        loader: 'sass-loader',
                        options: {
                            data: `@import "./src/styles/index.scss"; `
                        }
                    }`

[2019-03-21 01:22] Franslee commented on #32
已安排该组件的作者进一步优化，请留意后续版本

[2019-03-21 02:08] chix1221 commented on #32
好的 非常感谢！

[2019-03-21 09:15] #39 closed

[2019-03-21 09:16] #33 closed

[2019-03-21 09:19] mrxu0 opened #41 "为什么用背景做边框，而不直接使用border呢？"
`
background: linear-gradient(rgba($dark-color, .5), rgba($dark-color, .5)) bottom, linear-gradient(rgba($dark-color, .5), rgba($dark-color, .5)) top;
background-size: 100% 1px;
background-repeat: no-repeat;
`

我看到 nut-cell-border.scss 文件中有如上代码。用 border 也可以实现为啥这里用了看起来比较麻烦的背景做的边框呢？

[2019-03-21 10:35] Franslee commented on #37
这不是官方QQ群

[2019-03-21 10:35] #37 closed

[2019-03-21 10:42] Franslee commented on #41
这种方式比border更灵活，比如可以轻松实现高分屏1物理像素效果（如果需要的话）：
`background-image: linear-gradient(rgba($dark-color, .5) 0%, rgba($dark-color, .5) 50%, transparent 50%,transparent 100%);`

[2019-03-21 13:07] mrxu0 commented on #41
搜噶搜噶，受教了！

[2019-03-21 13:07] #41 closed

[2019-03-22 07:31] liuyanqing opened #43 "Imagepicker组件的ismultiple失效"
![image](https://user-images.githubusercontent.com/9973089/54807223-85dba000-4cb7-11e9-848a-a4e769353751.png)
这input的multiple逻辑写错了

[2019-03-23 13:45] kevinlxj opened #44 "修改主题一直编译失败"
修改主题一直编译失败:
style为css时正常，改为scss后，一直编译失败，写不写sass-loader都提示下面的错误:
![image](https://user-images.githubusercontent.com/28834148/54866709-9b81c000-4db2-11e9-85c9-9728d762affe.png)

![image](https://user-images.githubusercontent.com/28834148/54866759-e00d5b80-4db2-11e9-9b8c-afe2b3a0e800.png)

![image](https://user-images.githubusercontent.com/28834148/54866894-f61c1b80-4db4-11e9-923c-794c54323608.png)

[2019-03-23 23:39] agileago opened #45 "没有scrollload组件么？"

[2019-03-24 12:26] kevinlxj opened #46 "toast.loading时没有遮罩吗，这样后面元素还是可以点击，会考虑加上吗"
toast.loading时没有遮罩吗，这样后面元素还是可以点击，会考虑加上吗

[2019-03-25 01:31] Franslee commented on #45
很快就有了

[2019-03-25 01:35] Franslee commented on #29
已安排组件作者改进，请关注下一个版本

[2019-03-25 01:39] Franslee commented on #46
感谢反馈，该建议已记录，后续增加这个选项。作为一种临时方案，你可以通过自定义class覆盖部分样式来实现。

[2019-03-25 01:40] Franslee commented on #43
感谢反馈，下个版本修复。

[2019-03-25 05:26] mrxu0 opened #47 "为什么 html 标签没有设置字体大小, badge 组件还可以使用 rem 单位呢？"
在看 badge 组建的时候发现 html 标签是没有设置字体大小的。 为什么 能够用 rem 单位呢？ 自己想到的一种可能是 html 有默认字体大小。 那这样会不会由于其他的浏览器默认字体大小不一样而导致 rem 单位不准确呢？

[2019-03-25 05:39] Franslee commented on #47
组件自带的样式不是rem，部分API允许用户根据自己的环境传带rem单位的值而已。

[2019-03-25 05:40] #47 closed

[2019-03-25 14:35] #45 closed

[2019-03-26 01:34] Franslee commented on #44
我们测试无法复现这个问题。不妨试试我们推荐脚手架 https://github.com/jdf2e/Gaea4

[2019-03-26 01:35] #27 closed

[2019-03-26 08:52] Provenr commented on #44
![image](https://user-images.githubusercontent.com/26128964/54983122-25b26a00-4fe7-11e9-85a5-2af7c89e0999.png)
![image](https://user-images.githubusercontent.com/26128964/54983172-3cf15780-4fe7-11e9-80b9-058a658876ba.png)
![image](https://user-images.githubusercontent.com/26128964/54983280-6dd18c80-4fe7-11e9-8457-ad5edf4468c5.png)
![image](https://user-images.githubusercontent.com/26128964/5498329

[2019-03-26 08:57] Provenr commented on #44
![image](https://user-images.githubusercontent.com/26128964/54983609-2992bc00-4fe8-11e9-9536-d0a0ae038700.png)

![image](https://user-images.githubusercontent.com/26128964/54983587-213a8100-4fe8-11e9-990e-2dec4c6ee1f5.png)
不引入自定义的scss 文件 ，出现这样的问题

[2019-03-26 09:23] waitkafuka opened #48 "后端渲染报错"
用nuxt+nutui引入了一个简单的Button，直接报错：
代码：
[code]
错误信息：
[code]
看文档说是支持ssr，想问下是我写的有问题吗？

[2019-03-26 10:23] Franslee commented on #48
服务端渲染请使用nutui的commonjs版本 nutui.common.js，暂不支持按需加载

[2019-03-26 13:39] 2788 opened #49 "小程序版本大概什么时候上线？"

[2019-03-27 03:20] waitkafuka commented on #48
试了下，是可以的，不过体积有些大。请问随后有这方面的开发计划吗？毕竟移动端对SEO还是有要求的。

[2019-03-27 03:27] kevinlxj commented on #44
自己解决了，好像是忘了安装sass-loader了

[2019-03-27 03:28] kevinlxj commented on #44
跟util.js自带的sass、scss冲突了，我是屏蔽了util.js里面的

[2019-03-27 03:29] kevinlxj commented on #44
@Provenr 跟util.js自带的sass、scss冲突了，我是屏蔽了util.js里面的

[2019-03-27 05:56] Franslee commented on #48
我们会针对需求情况做进一步调研的

[2019-03-27 05:56] waitkafuka commented on #48
好的，谢谢。

[2019-03-27 05:56] #48 closed

[2019-03-27 06:58] Franslee commented on #49
目前尚无准确时间表

[2019-03-27 07:57] waitkafuka opened #50 "scss引入报错"
需要定制样式，按完整组件方式引入，根据官方文档在引入了`import '@nutui/nutui/nutui.scss';`之后，报错找不到文件。看了下`node_modules`文件夹下，并没有这个文件，dist下面倒是有。
将路径改为`import '@nutui/nutui/dist/nutui.scss';`之后，进而又报图片未找到的错误，信息如下：
[code]
请问是哪里出了问题？

[2019-03-27 12:29] Franslee commented on #50
已定到问题，下一个版本解决。你可以试试按需加载方式，只引入使用到的组件，而不是引入整个组件库。

[2019-03-27 12:41] waitkafuka commented on #50
好的，谢啦。然而你忘了我是用后端渲染没法用按需引入 #48 。。然而回复速度还是令人欣慰的，给了我使用下去的信心。加油，相信会越来越多的人使用。

[2019-03-28 01:17] 451761830 opened #51 "Dialog标签式写法 内容无法在手机浏览器现实全，在苹果和安卓机上都测试过"

[2019-03-28 01:33] Franslee commented on #51
请上代码

[2019-03-28 01:42] 451761830 commented on #51
`<nut-dialog :visible="isShowDialog" @close="isShowDialog=false" textAlign="left" :lockBgScroll="true">
      <p>请输入您的邮箱号码（选填）</p>
      <p>请输入您的邮箱号码（选填）</p>
      <p>请输入您的邮箱号码（选填）</p>
      <p>请输入您的邮箱号码（选填）</p>
      <p>请输入您的邮箱号码（选填）</p>
      <p>请输入您的邮箱号码（选填）</p>
      <p>请输入您的邮箱号码（选填）</p>
      <p>请输入您的邮箱号码（选填）</p>
      <p>请输入您的邮箱号码（选填）</p>
      <p>请输入您的邮箱号码（选填）</p>
      <p>请输入您的邮箱号码（选填）</p>

[2019-03-28 01:43] 451761830 commented on #51
测试一下这个组件是否能用  方便加微信吗  我可以截图给你看

[2019-03-28 02:21] 451761830 commented on #51
![1](https://user-images.githubusercontent.com/48461152/55125004-42fc4b00-5143-11e9-8779-43b3cafd3ee0.png)
![2](https://user-images.githubusercontent.com/48461152/55125006-455ea500-5143-11e9-8ca7-9ee007bdea34.jpg)
手机和电脑上的展示差异

[2019-03-28 02:46] Franslee commented on #51
我们在苹果和安卓机上都未能复现，请提供具体机型和系统版本。

[2019-03-28 02:51] 451761830 commented on #51
苹果7 系统版本 10.3.2 用了Safari和Uc浏览器验证有问题

[2019-03-28 03:14] Franslee commented on #51
找不到这个系统的测试机，不过我用10.3.1的iPhone7测试是正常的。你可以试试官网的demo有没有问题

[2019-03-28 09:22] 451761830 opened #52 "按需加载引入Radio RadioGroup问题"
![3](https://user-images.githubusercontent.com/48461152/55145614-06017a00-517e-11e9-86e5-987f8946d2b4.png)
![4](https://user-images.githubusercontent.com/48461152/55145622-0ac62e00-517e-11e9-957a-a48448a0e271.png)

[2019-03-28 10:49] 451761830 opened #53 "dialog标签中嵌入RadioGroup时 dialog中的lockBgScroll设置不生效 页面还是会滚动"
![image](https://user-images.githubusercontent.com/48461152/55151921-40711400-518a-11e9-9e79-ff0e0ad4a6b8.png)

[2019-03-28 11:34] Franslee commented on #52
感谢反馈，稍后修复。作为一种临时方案，可以手动引入RadioGroup组件
`import RadioGroup from '@nutui/nutui/dist/packages/radiogroup/radiogroup.js';`
目前，这个组件不需要引css

[2019-03-28 12:08] Franslee commented on #53
请提供机型和系统版本、浏览器

[2019-03-29 03:37] yehuagao opened #54 "日期picker，type：datetime"
设置默认defaultValue、startDate、endDate；华为手机p10plus自带浏览器，年份滚动拦，显示Fri Mar...等英文月份，并且不能切换其他年份

[2019-03-29 03:41] yehuagao commented on #54
![image](https://user-images.githubusercontent.com/23260155/55208023-93dd7380-5217-11e9-8b61-909a126cf1b8.png)

[2019-03-29 03:45] yehuagao opened #55 "主题设置，按照文档步骤设置主题颜色，没有成功"

[2019-03-29 03:47] yehuagao opened #56 "引入scss，显示loading-img图片not found"

[2019-03-29 05:45] Provenr commented on #44
@kevinlxj
我把utils 文件的sass,scss屏蔽了，也没生效

[2019-03-29 06:24] waitkafuka opened #57 "官方文档swiper方法说明错误"
http://nutui.jd.com/#/Swiper
Methods中的
[code]
其中的`$ref`应为`$refs`

[2019-03-29 06:25] irisSong commented on #54
传入的defaultValue、startDate、endDate； 截图发一下

[2019-03-29 06:35] Franslee commented on #57
感谢反馈，马上改！

[2019-03-29 06:45] #57 closed

[2019-03-29 07:32] Franslee commented on #56
请安装新版再试试

[2019-03-29 07:33] Franslee commented on #55
发新版了，请再试一下

[2019-03-29 07:34] Franslee commented on #52
最新版已经解决这个问题

[2019-03-29 07:56] Franslee commented on #50
新版本已发布，此问题已修复，感谢反馈

[2019-03-29 07:57] Franslee commented on #46
新版已经加上此功能，loading类型默认自带遮罩，欢迎体验

[2019-03-29 07:57] #44 closed

[2019-03-29 07:58] Franslee commented on #43
新版已修复

[2019-03-29 07:58] #43 closed

[2019-03-29 07:59] Franslee commented on #32
新版已支持，欢迎体验

[2019-03-29 07:59] Franslee commented on #22
新版本加上了，欢迎体验

[2019-03-29 08:09] chix1221 commented on #32
亲测没有问题了   谢谢

[2019-03-29 10:27] Franslee commented on #34
新版已经放出了这个组件 Scroller ，欢迎体验

[2019-03-29 10:34] Franslee commented on #19
安排~

[2019-03-29 10:36] Franslee commented on #28
复现不了啊

[2019-03-31 06:20] mrxu0 opened #58 "countDown 组件这一行代码的意思？"
`countdownTimer.restTime = restTime;`

这是 countDown 组件第 147 行代码，没有看懂这个赋值有什么作用？希望能给解答一下，谢谢

[2019-04-01 06:50] yehuagao commented on #54
![image](https://user-images.githubusercontent.com/23260155/55308471-70236300-548d-11e9-801b-366e3218079e.png)

[2019-04-01 07:47] yehuagao opened #59 "2.09版本，引入scss报错"
![image](https://user-images.githubusercontent.com/23260155/55311428-787f9c00-5495-11e9-99e4-c9bc9875f45f.png)

[2019-04-01 07:48] yehuagao commented on #59
2.0.9版本

[2019-04-01 09:06] kevinlxj opened #60 "日历组件Calendar: end-date 设置为今天之前，比如昨天，但是今天的日期还是高亮，能自己指定高亮的日期吗？？"
日历组件: end-date 设置为今天之前，比如昨天，但是今天的日期还是高亮，能自己指定高亮的日期吗？？

[2019-04-01 11:04] kevinlxj commented on #60
测试时发现第一次显示当天，如4月1号，取消再点开就正常了，为3月31号，是bug？

[2019-04-02 01:29] xuwenliu opened #61 "DatePicker 日期选择 如何自定义样式"
![image](https://user-images.githubusercontent.com/26993064/55369582-559ac980-5521-11e9-9383-688524078a4d.png)
如图 需要更改字体大小及高度等样式。

[2019-04-02 01:38] Franslee commented on #61
可通过增加一个自定义class来实现

[2019-04-02 05:47] Franslee commented on #59
`import NutUI from "@nutui/nutui";
import '@nutui/nutui/dist/nutui.scss';`

是这么用的吗？

[2019-04-02 05:50] irisSong commented on #60
输入startDate、endDate、defaultValue 截图一下

[2019-04-02 06:11] famanoder commented on #58
这个组件的核心方法是 `restTime`，这个赋值是为了方便导出该方法，进行一些自定义的显示，因为传入剩余的时间戳，通过该方法即可转换为相应的剩余天、时、分、秒。

[2019-04-02 06:11] yehuagao commented on #59
是的，同时设置了主题色，
![image](https://user-images.githubusercontent.com/23260155/55379935-31ef7780-5551-11e9-9218-82e56172353e.png)

[2019-04-02 06:12] yehuagao commented on #59
报错，注释后，引入scss就可以了，只能手动源文件里改主题色

[2019-04-02 06:25] kevinlxj commented on #60
测试代码如下：
![image](https://user-images.githubusercontent.com/28834148/55380432-bb537980-5552-11e9-9dd2-55666e2fd9c5.png)

以今天为例：
第一次打开显示为4月2号，不是我希望的，如下图,endDate、defaultValue 为2019-04-01，但是currDate 和 defaultDate均为4月2号，导致第一次打开显示为4月2号
![image](https://user-images.githubusercontent.com/28834148/55380194-0faa2980-5552-11e9-90ae-75ffa48fd3eb.png)
关闭后再打开就显示为4月1号，这是我希望的，如下图, 此时currDate 和 defaultDate均为4月1号了，

[2019-04-02 07:18] Franslee commented on #59
我这边测试是正常的，可能与你的webpack配置有关，style-loader/css-loader之类的loader有配置吗？

[2019-04-02 07:29] yehuagao commented on #59
嗯，谢谢，我看看吧

[2019-04-02 08:53] irisSong commented on #60
defaultValue 改成在created里面赋值可解决

[2019-04-03 03:29] mrxu0 commented on #58
哦哦， 这里我把他跟 data 里面的 restTime 给搞混了，以为是多余代码。能方便告知一下在哪里导出了么？我想了解一下具体是怎么用的

[2019-04-03 03:36] mrxu0 opened #62 "Scroller 组件交互上存在一些不友好的地方"
1.  在 type = horizontal 的时候，会存在整个容器能够左右滑动问题，原因是给 nut-scroller 定义了 flex 布局，导致的。而案例中给 demo-list 设置了 overflow = hidden 所以没有出现这个问题。

2. 在 type = horizontal 的时候，手指轻轻触摸的时候会有很大幅度的滚动

3. 在 type = vertical 的时候，触发下拉加载的动作存在问题，我下拉了一丢丢也会触发，我下拉了又拉回去也会触发，体验性不太好。

[2019-04-03 03:43] mrxu0 commented on #62
picker 和 scroller 里面 touchstart, touchmove, touchend 里面关于用户手指滑动触摸的逻辑感觉是一样的，建议提取出来统一维护。

[2019-04-03 08:43] #50 closed

[2019-04-03 10:09] famanoder commented on #58
[code]
这里就是顺带导出了`restTime`，其他地方需要的话可以用；

[2019-04-03 12:04] #59 closed

[2019-04-04 03:28] snowdream commented on #49
期待上线小程序版本

[2019-04-04 03:37] snowdream commented on #19
关注

[2019-04-04 05:36] Franslee commented on #62
收到，感谢反馈

[2019-04-04 07:32] yujihu opened #63 "动态设置datepicker的defaultValue"
nutui的datepicker未对defaultValue属性进行watch，导致后期修改defaultValue无法更新，建议watch一下

[2019-04-04 08:06] feelslive opened #64 "可以增加Sku（商品规格）组件吗"
可以增加Sku（商品规格）组件吗  谢谢！
![image](https://user-images.githubusercontent.com/20579220/55539778-12dd1b00-56f4-11e9-86a8-ea9533848138.png)

[2019-04-04 11:46] yujihu opened #65 "picker中watch defaultValueData为什么要触发confirm？"
如题

[2019-04-04 15:31] ywfwj2008 commented on #64
嗯。这个很需要

[2019-04-04 16:56] FatDong1 commented on #16
请问你们团队自己搭建npm私服吗

[2019-04-05 02:43] yyccQQu commented on #62
补充一下
nut-scroller 内部元素 nut-row等标签及其内部元素无法触发click事件

[2019-04-05 02:45] yyccQQu commented on #62
[code]
abc事件无法触发

[2019-04-05 08:16] sym134 opened #66 "vue cil3 按需引入怎么配置呀"
配置搞不定😢

[2019-04-05 09:45] yyccQQu commented on #60
添加一点
[code]
![image](https://user-images.githubusercontent.com/32674176/55619053-2951a800-57c2-11e9-8e7c-1668b8208da0.png)

-- 结束日期能否只显示到4月5号

[2019-04-05 11:15] kevinlxj opened #67 "Picker 拾取器的年月"
Picker 拾取器的年月选择在chrome浏览器和安卓真机(华为P20)上没问题，但是在苹果(iphone8p)上不仅样式有问题，如图，重叠了，而且卡顿，代码就是官网的demo代码，麻烦看看
![image](https://user-images.githubusercontent.com/28834148/55623881-ce767b80-57d6-11e9-9604-00b11c846946.png)
![image](https://user-images.githubusercontent.com/28834148/55623893-d9311080-57d6-11e9-8685-bf3a3e9ba28e.png)

[2019-04-05 11:16] kevinlxj commented on #67
iphone8p的safari和微信自带的浏览器都是这个问题。

[2019-04-07 03:14] Franslee commented on #66
参考官网快速上手文档按需加载部分即可 http://nutui.jd.com/#/start
如果还不行，请贴出具体错误信息

[2019-04-08 01:17] mrxu0 commented on #58
嗯，好的。

[2019-04-08 01:17] #58 closed

[2019-04-08 10:32] yyccQQu commented on #60
·在吗

[2019-04-08 10:32] yyccQQu commented on #62
在吗

[2019-04-09 01:38] waitkafuka opened #68 "关于switch和swiper的两个建议"
1. switch功能相对单薄，change事件只返回了isActive参数，不够用呀。页面上有多个switch的时候，很难区分是哪一个？建议返回这个组件的实例，我们可以在实例上绑定一些参数来用。
2. swiper能否加一个在切换过程中实时反映偏移量的参数（不是slideMove）？类似小程序里面的[bindtransition](https://developers.weixin.qq.com/miniprogram/dev/component/swiper.html):
![image](https://user-images.githubusercontent.com/8555018/55767365-277e3200-5aab-11e9-82a2-6a55600ed008.png)
这对于切换时候精确控制一些动画很有好处。

[2019-04-09 02:26] viccsen commented on #19
这个很基础也很关键～

[2019-04-09 02:54] yyccQQu opened #69 "关于picker三级联动的问题"
![image](https://user-images.githubusercontent.com/32674176/55770085-47aef080-5aad-11e9-9461-be3f54e8c446.png)
![image](https://user-images.githubusercontent.com/32674176/55770097-539ab280-5aad-11e9-9c51-fe4c19a40e22.png)
第一级有子选项就默认选中第一项是对的。
但是第二级没有子选项就会延用第一级的子选项，只是不对的，建议优化一下，谢谢

[2019-04-09 03:01] yyccQQu opened #70 "能不能再加一个二级联动的轮子？"
能不能再加一个二级联动的轮子？

[2019-04-09 03:01] yyccQQu commented on #70
自定义的那种，就像三级联动一样，

[2019-04-09 03:06] Franslee commented on #68
感谢建议，我们会考虑的。

[2019-04-09 03:06] Franslee commented on #69
收到，感谢反馈

[2019-04-09 03:15] Franslee commented on #64
受限于商品的规格类型众多，这个组件的通用性会受影响，所以该组件需求尚需进一步调研。目前建议使用price/stepper/button/dialog等现有组件组合实现。

[2019-04-09 04:54] yyccQQu commented on #70
找到方法了
[code]
把公用的方法的第三级数组和对应的逻辑去掉就行了。
但是第一级无子级，滑到上一个有子级的，会继续沿用上一个子级，这个交互是有问题的

[2019-04-09 10:39] Franslee commented on #16
木有

[2019-04-10 02:18] cccnoob opened #71 "建议：picker传入对象时，可以指定显示 对象的某个 key"
![1213](https://user-images.githubusercontent.com/21024505/55846765-7b574c80-5b79-11e9-973d-e6b34eb62918.png)

![1336](https://user-images.githubusercontent.com/21024505/55846748-6d093080-5b79-11e9-8c35-0ef53a59b9b9.png)

指定 显示 Text 字段
![1301](https://user-images.githubusercontent.com/21024505/55846792-8d38ef80-5b79-11e9-9057-57bf69a51661.png)

[2019-04-10 09:48] yyccQQu commented on #69
补充一下
nut-scroller 内部元素 nut-row等标签及其内部元素无法触发click事件

[2019-04-10 09:49] yyccQQu commented on #69
<nut-scroller
	:is-un-more="isUnMore"
	:is-loading="isLoading"
	:type="'vertical'"
	@loadMore="loadMoreVert"
	@pulldown="pulldown"

				<nut-row
					slot="list"
					v-for="(item, index) of listData"
					:key="index"
					class="nut-vert-list-panel thead tbody tableList"
					type="flex"
					justify="space-between"
					flexWrap="nowrap"

					<nut-col class="md-3 cols" @click="abcccccc">

[2019-04-10 09:49] yyccQQu commented on #69
<nut-scroller
	:is-un-more="isUnMore"
	:is-loading="isLoading"
	:type="'vertical'"
	@loadMore="loadMoreVert"
	@pulldown="pulldown"

				<nut-row
					slot="list"
					v-for="(item, index) of listData"
					:key="index"
					class="nut-vert-list-panel thead tbody tableList"
					type="flex"
					justify="space-between"
					flexWrap="nowrap"

					<nut-col class="md-3 cols" @click="abcccc">
						<

[2019-04-11 02:02] irisSong commented on #70
页面demo仅供参考，只为展示提供联动功能，具体使用逻辑需要根据自己的数据结构去写里面内容

[2019-04-11 02:04] irisSong commented on #69
页面demo仅供参考，只为展示提供联动功能，具体使用逻辑需要根据自己的数据结构去写里面内容

[2019-04-11 02:05] irisSong commented on #71
感谢建议，我们会考虑的。

[2019-04-11 02:11] irisSong commented on #67
请提供一下iphone8p是什么ios几系统哈，暂时在11和12暂未发现这个问题。

[2019-04-11 06:57] kevinlxj commented on #67
我是按需加载的，其他按需引入button，toast，dialog样式均是正常的。：
这是chrome网页浏览器的，样式正常：
![image](https://user-images.githubusercontent.com/28834148/55936288-69080c00-5c68-11e9-85da-31223179ae15.png)
这是iphone8p，ios12，safari样式不正常:
![image](https://user-images.githubusercontent.com/28834148/55936388-cac87600-5c68-11e9-890f-edc0155f55ab.png)

我用的vue-cli2 我的代码配置如下：
![image](https://user-images.githubusercontent.com/28834148/5

[2019-04-11 06:59] kevinlxj commented on #67
@irisSong 已详细描述，请查看我的测试demo。

[2019-04-11 07:57] irisSong commented on #63
感谢建议，后期我们可能会考虑的。

[2019-04-11 08:09] irisSong commented on #65
用于后期修改默认参数触发更改

[2019-04-11 16:21] caojf622 opened #72 "Scroller 里面的某个元素的事件无法触发"
![image](https://user-images.githubusercontent.com/47477984/55973468-3980f000-5cb8-11e9-99c4-f8dfa5ec0dcb.png)

在Scroller 里面的button无法触发 click事件，外面那个button 怎么无任何影响，是我使用姿势不对吗？

[2019-04-12 08:45] kelvinXueLei opened #73 "typescript工程项目中如何引入？"
我这边老项目是用typescript+vue开发的。请问如何在老工程中使用？

[2019-04-13 08:20] FatDong1 opened #74 "手动引入报错"
报错如下：
`export 'default' (imported as 'nutRate ') was not found in  './assets/common/rate/rate.js'`

引入方式：
[code]

我将打包后的rate.js和rate.css放入common文件夹，然后手动引入，发现报错，麻烦看一下

[2019-04-15 02:42] Franslee commented on #74
放入common文件夹后，babel会对其进行处理。在你的webpack配置文件中，配置babel-loader，排除rate.js文件即可

[2019-04-15 12:34] FatDong1 commented on #74
@Franslee 谢谢。nice！

[2019-04-15 12:34] #74 closed

[2019-04-16 07:58] feelslive commented on #64
好的，谢谢，会继续关注！

[2019-04-16 11:26] #71 closed

[2019-04-17 02:32] haruka0 opened #75 "按需加载,定制主题的颜色在dialog上不生效"
按需加载,定制主题的颜色在dialog上不生效，同时引入的radio生效了，但是dialog的closeBtn还是默认的颜色

[2019-04-18 01:52] Franslee commented on #75
改了哪些变量的值？

[2019-04-18 01:53] haruka0 commented on #75
primary-color

[2019-04-18 02:21] linrufeng commented on #75
建议使用 按需加载方式 的配置方式

[2019-04-18 03:13] Franslee commented on #75
dialog主按钮的颜色是渐变色，变量名 $btn-gradient-bg

全部变量参见 https://github.com/jdf2e/nutui/blob/master/src/styles/variable.scss

[2019-04-18 03:14] Franslee commented on #73
正常引入即可

[2019-04-18 03:15] liyanyan1994 opened #76 "stepper的步长设置为0.1时 按+ -都没有效果"
<nut-stepper  :value.sync="value" :min="0" :max="1" :step="0.1"></nut-stepper>

[2019-04-18 05:54] famanoder commented on #76
多谢反馈！该问题已修复，请关注后续版本。

[2019-04-18 05:56] irisSong commented on #72
下个版本会放开，可先引入fastclick解决

[2019-04-18 06:52] #52 closed

[2019-04-18 06:52] #55 closed

[2019-04-18 07:18] xiaoming0827 opened #77 "InfiniteLoading 无法使用啊，小白请求怎么用？"
import Infiniteloading from '@nutui/nutui/dist/packages/infiniteloading/infiniteloading.js';
import '@nutui/nutui/dist/packages/infiniteloading/infiniteloading.css';
export default{
    components:{Infiniteloading},
    name:'messageList',
    data () {
        return {
            messageList:[],
            isHasMore: true,
            isLoading: true,

        }
    }

<Infiniteloading

[2019-04-18 07:48] irisSong commented on #77
参考http://nutui.jd.com/#/InfiniteLoading页demo

[2019-04-18 08:20] xiaoming0827 commented on #77
demo写的我实在是看不懂，为什么组件名是nut-infiniteloading带nut-前缀呢，这是直接在HTML中使用的吗？在组件中好像不带吧，不带的话我按照示例引入但是无法触发加载的回调函数，可以给一个codesandbox 示例吗？实在是跑不起来 万分感谢

[2019-04-20 10:07] zxy89 commented on #16
2.1.0的 swipper组件是不是有bug

[2019-04-22 06:09] Franslee commented on #16
什么bug？

[2019-04-22 08:01] Franslee commented on #76
新版已支持小数

[2019-04-23 02:31] wangjun521 opened #79 "calendar在多例情况下日期范围选择似乎有点问题"
在第一个页面日历假设选择了5月的1号和2号
在下一页面的的的日历组件去往下拉点时候不会有四月份了
 两个页面各有两个日历组件 不公用
但当选择了其他日期的情况下是可以下拉出四月份的

[2019-04-25 01:15] lentoo opened #80 "日期组件 datepicker startDate 的优化"
日期组件 datepicker startDate 的优化，在一开始定义 startDate 属性的时候能正确的限制开始时间，不过在代码中修改了 startDate 属性，并不会重新计算开始时间。希望能添加这个功能。
主要应用场景：两个日期选择控件，开始时间和结束时间，选择开始时间控件后，对结束时间控件的 startDate 限制

[2019-04-25 02:29] Franslee commented on #72
新版本已支持

[2019-04-25 09:42] hapiman commented on #29
当前使用下面这种方式报错: `Cannot read property 'install' of undefined`
[code]
我当前使用的是`https://cli.vuejs.org/zh/guide/`生成的项目,
在`vue.config.js`配置如下:
[code]
然而好想并没用什么作用,
当使用`Object.keys(Mutui)`时,输出下面的
![image](https://user-images.githubusercontent.com/7567048/56726491-73a2c500-6781-11e9-8812-4876cfb0dab9.png)

[2019-04-26 02:03] Moonofweisheng opened #81 "cell组件有click事件吗"
想用cell+datetimepicker做时间选择的功能，但是给cell加click事件不生效，下面是代码：

<nut-cell @click="datePickerShow()" :isLink="true" :showIcon="true" desc="请选择日期"></nut-cell>
    <nut-datepicker
      :is-visible="dateShow"
      type="date"
      title="请选择日期"
      defaultValue="1980-06-01"
      startDate="1900-01-01"
      endDate="2019-10-05"
      :is-show-chinese="false"
      @close="switchPicker()"
      @choose=

[2019-04-26 02:07] Franslee commented on #81
可使用原生click事件  @click.native

[2019-04-26 04:17] kevinlxj commented on #67
@irisSong 你们复现了吧，是个bug不？

[2019-04-26 09:21] woshixiaobinbin opened #82 "来了老弟"

[2019-04-26 10:16] Franslee commented on #82
呱唧呱唧~

[2019-04-28 00:54] gdyxml2000 opened #83 "picker和slider在pc端chrome浏览器中选择有问题"
picker和slider在pc端chrome浏览器中选择有问题
picker弹出框中的子选项不能上下滑动
slider鼠标不能拖动
求解决，这样pc和移动端我只需要开发一套。

[2019-04-28 04:42] houguotao opened #84 "swiper"

[2019-04-28 04:53] houguotao opened #85 "swiper 横向无缝"
自动播放不要手动滑动时    横向滚动到最后一张时 没有无缝连接上    bug

[2019-04-28 05:34] houguotao opened #86 "click"

[2019-04-28 05:35] #84 closed

[2019-04-28 07:55] irisSong commented on #83
部分组件不支持pc端使用

[2019-04-28 07:56] irisSong commented on #80
收到反馈，谢谢，后续会优化。

[2019-04-28 08:03] irisSong commented on #79
是否可以下拉和startDate有关系，不是很明白你说的问题。

[2019-04-28 08:33] wangjun521 commented on #79
可以给你个线上环境感受下吗? 可能描述不是很直观

http://test-web-xgw.shands.cn <http://test-web-xgw.shands.cn/>
测试环境可能有点卡

使用密码登录
账号: 0123456789
密码: 1234567
首页  => 选择一个月的1号和之后的一个日期 然后在列表也查看日期的时候 往下拉是不会出现上个月份的 (假设选择了五月1号和四号  然后去列表也 打开日历的时候  往下拉是不会出现四月份的)
 麻烦了 万分感谢

[2019-04-28 08:58] wangjun521 commented on #79
发送了两个gif到您的邮箱 可能更直观一些呢  麻烦了

[2019-04-28 09:13] wangjun521 commented on #79
录了两个gif
http://static.shands.cn/app/bug.gif
http://static.shands.cn/app/bug1.gif

[2019-04-28 09:17] irisSong commented on #79
查看一下引入的是不是最新版本，替换最新版本测试一下

[2019-04-28 10:40] #86 closed

[2019-04-28 10:41] #82 closed

[2019-04-28 11:58] wangjun521 commented on #79
更新了 依旧不行呢 我打印了断点  在第二个页面选择了5月1号和2号情况下 往下拉
[code]

[2019-04-28 12:20] wangjun521 commented on #79
确切的说 当有1号的时候就gg了

[2019-04-28 12:22] irisSong commented on #79
你查一下你startData值吧，只要右侧大于左侧的yyyy-mm-01就会执行

[2019-04-28 12:32] wangjun521 commented on #79
startData没有做过更改 就是默认值呢
[code]

[2019-04-28 12:59] wangjun521 commented on #79
当起始日期选择8月1号 7月1号或6月1号往下拉 可以一直显示到5月 从5月接着下拉就拉不出4月份  但当选择的起始日期没有1号时  从那一个月下拉都可以拉出当前月  总感觉哪个地方的判断出了问题

[2019-04-28 13:13] irisSong commented on #79
断点位置改成这样试一下if (!this.startData || !Utils.compareDate(`${curData[0]}-${curData[1]}-${curData[2]}`, `${this.startData[0]}-${this.startData[1]}-01`)) {

[2019-04-28 13:23] wangjun521 commented on #79
不行的  初始化日历后直接往下拉 curData是undefined 直接报错啦

[2019-04-28 13:27] wangjun521 commented on #79
往下拉的时候其中报了
[code]
我打印下看看是哪里错了

[2019-04-28 13:33] wangjun521 commented on #79
curData 在日历初始化结束后下拉会是undefined 导致报错

[2019-04-29 01:22] #70 closed

[2019-04-29 01:23] #69 closed

[2019-04-29 01:23] wangjun521 commented on #79
刚单独拉代码做个demo来手动赋值 range的 defaultValue 只要defaultValue[0]选择的有1号 就无法拉出startDate的那个月 您也可以试试  麻烦了

[2019-04-29 01:23] #61 closed

[2019-04-29 01:24] #65 closed

[2019-04-29 01:24] #73 closed

[2019-04-29 01:25] #56 closed

[2019-04-29 01:29] Franslee commented on #29
@hapiman
@nutui/babel-plugin-separate-import 是Babel的插件不是webpack插件，需要在Babel的配置文件（如.babelrc）中配置

[2019-04-29 01:40] irisSong commented on #79
168行 改成这样，我们这边没有初始化下拉undefined问题，请排查一下代码if (!this.startData || !Utils.compareDate(${curData[0]}-${curData[1]}-${curData[2]}, ${this.startData[0]}-${this.startData[1]}-01)) {

[2019-04-29 01:53] wangjun521 commented on #79
在168行改为您说的那样后 没出现undefined的错误(可能我昨晚哪里出了问题吧)
您可以试试做这样一个demo
[code]
在这种情况下下拉是可以拉出5月份  但再往下拉四月份就没了 但我的开始日期可是04-29
如果我把date改成`['2019-06-02', '2019-06-03'] `这样往下拉是可以拉出四月份的

[2019-04-29 02:20] irisSong commented on #79
改了168行之后，按上面配置demo。是正常的，请仔细检查一下代码。

[2019-04-29 02:39] wangjun521 commented on #79
嗯嗯 我又仔细检查了一遍 可以了 实在麻烦您了 万分感谢!

[2019-04-29 02:54] #79 closed

[2019-04-29 02:55] #72 closed

[2019-04-29 03:18] #76 closed

[2019-04-29 03:18] #75 closed

[2019-04-29 03:19] #28 closed

[2019-04-29 06:16] YouziXR opened #87 "countdown组件相关"
我单独引入了countdown组件，想要监测倒计时到点的状态，就是倒计时结束的状态，请问有什么好的方法吗？

~~另外我把源码中的`countdown.vue`文件单独down下来作为组件，在另一个vue中引入为啥不行啊，一直提示我没有注册组件这个错误，我确实在`components`里注册了。~~  已解决

[2019-04-29 09:37] hapiman commented on #29
ok. Solved, thanks

[2019-04-29 11:31] famanoder commented on #87
感谢反馈，该组件已添加`on-end`事件来检测倒计时结束的状态，请关注后续版本的更新；:smile:

[2019-04-30 00:33] YouziXR commented on #87
👍

[2019-04-30 00:33] #87 closed

[2019-04-30 06:59] yujihu commented on #65
这样会触发两次confrim啊

[2019-04-30 07:01] yujihu commented on #65
默认值的更改不应该触发confirm的

[2019-05-02 02:14] yyccQQu commented on #16
不是直接提到issue吗？
在这里解决问题？

[2019-05-02 02:15] yyccQQu opened #88 "picker选择器一些手机上出现了不兼容的样式错乱问题~"
![image](https://user-images.githubusercontent.com/32674176/57053824-b05b4880-6cba-11e9-9a73-43461b1a119d.png)
![image](https://user-images.githubusercontent.com/32674176/57053829-c832cc80-6cba-11e9-98fa-be4860660b93.png)

[2019-05-03 03:19] yyccQQu commented on #16
https://github.com/jdf2e/nutui/issues/88
bug在此，看一下~@@@

[2019-05-05 01:29] Franslee commented on #88
浏览器里模拟的Nokia N9?

[2019-05-05 01:31] Franslee commented on #16
提issue即可

[2019-05-05 09:32] LiaoZhiyong opened #89 "Picker类组件动画与取值问题"
几种Picker组件在滚动动画结束之前点击确认按钮可能导致取值与动画结束时的值不一致，还可能引起下次打开Picker时的默认值设置不生效

[2019-05-06 09:32] haruka0 opened #90 "radiogroup怎么置为未选择状态？"
radiogroup选择后没有办法重置未为选择状态，v-model绑定值如果设为空，radio显示变得不正常，表现为每个radio选中后不会变回未选中状态
![image](https://user-images.githubusercontent.com/46950398/57217283-c6536b00-7024-11e9-9d2b-2cf639812466.png)

[2019-05-06 10:42] #90 closed

[2019-05-07 03:13] lv7202215 opened #91 "ShortPassword 短密码相关"

[2019-05-07 08:43] lv7202215 commented on #91
第一个问题是：希望把忘记密码设置成可选择，有点项目用不到这个
第二个问题是：短密码第一次打开能获得焦点，但是关闭后再次打开,无法获得焦点，需要手动点一下密码框

[2019-05-07 15:01] splinfengwang opened #92 "什么时候可以支持使用iconfont？"
现在的图标貌似都是通过图片进行引入

[2019-05-08 01:49] Franslee commented on #92
现在大部分图标使用的是svg。我们认为svg更适合移动端组件库，没有使用iconfont的计划。

[2019-05-09 10:11] kainonly opened #93 "Typescript 完善"
当前 Typescript 好像还不是很完善，例如，这么使用目前只能是自己去扩展声明了啊？
![TIM截图20190509180035](https://user-images.githubusercontent.com/9986159/57445669-70313280-7285-11e9-9e3e-850290d2cb83.png)
![TIM截图20190509180748](https://user-images.githubusercontent.com/9986159/57445670-72938c80-7285-11e9-8d61-960d15e105e6.png)

[2019-05-11 15:34] benbenyao opened #94 "swiper 滑动切换可否考虑划到一半时也能停住哈。"

[2019-05-13 08:19] #93 closed

[2019-05-13 09:48] xushuailing opened #96 "可以单独引入 Toast 吗？"
import { Toast } from '@nutui/nutui';
![image](https://user-images.githubusercontent.com/25056086/57612355-48a0d980-75a7-11e9-83fe-819b7c66af1e.png)

[2019-05-14 02:33] Franslee commented on #96
可以的，不过这种写法需要安装一个插件。请参考官网快速上手-按需加载部分 http://nutui.jd.com/#/start

[2019-05-14 02:34] Franslee commented on #94
这个需求看上去有些小众

[2019-05-15 07:03] dixsonruan opened #98 "checkbox 点击label勾选不准确"
js调整html font-size后，直接使用<nut-checkbox></nut-checkbox>组件label继承根元素font-size，label标签被放大，点击不准确
![图片](https://user-images.githubusercontent.com/36290724/57755071-89712d80-7722-11e9-81b1-e9abbeb1e2c5.png)

[2019-05-16 01:44] chenbo7650 opened #99 "Skeleton 组件怎么使用"
components: {
            "row":Skeleton.skeletonColumn,
            "nut-skeleton-square":Skeleton.skeletonSquare
}

<row padding="15px 10px 0">
            <nut-skeleton-square
                    width="200px"

            </nut-skeleton-square>
            <nut-skeleton-square width="100px"
                                 margin="0 0 0 40px"

            <nut-skeleton-square width="100px;"

[2019-05-17 01:50] Franslee commented on #98
感谢反馈，我们后续优化

[2019-05-17 07:15] yangzhaoguo opened #100 "自定义主题 全局引入 报错"
![微信截图_20190517151442](https://user-images.githubusercontent.com/27938016/57909926-9b83d500-78b6-11e9-9739-c18baa892d6b.png)

[2019-05-17 07:30] yangzhaoguo commented on #100
![123](https://user-images.githubusercontent.com/27938016/57910748-97f14d80-78b8-11e9-80ef-7e3e973dbd13.png)
webpack.config.js 代码

[2019-05-17 10:16] dixsonruan opened #101 "按需引入ActionSheet组件，nut-actionsheet-item高度失效"
![image](https://user-images.githubusercontent.com/36290724/57921216-72237300-78cf-11e9-8573-915fd2a60619.png)
![image](https://user-images.githubusercontent.com/36290724/57921224-764f9080-78cf-11e9-910d-76aaebb2632a.png)
![image](https://user-images.githubusercontent.com/36290724/57921233-78b1ea80-78cf-11e9-9178-ee613a0169a2.png)
按需引入ActionSheet组件后，nut-actionsheet-item原设高度24失效，已经将所有可能影响的css删除，请问这

[2019-05-17 15:49] newlifebegins opened #102 "radio如何设置事件"
radio标签怎么知道点击的是哪个

[2019-05-18 01:50] dixsonruan commented on #101
问题已找到，不小心设置了boxsizing

[2019-05-18 01:50] #101 closed

[2019-05-18 01:53] #98 closed

[2019-05-22 02:48] wananzys opened #103 "Scroller组件设置为横向滚动,手指按着该区域页面无法上下滑动"
横向滚动区域,无法上下滑动,请问这个怎样解决呢?

[2019-05-22 20:30] cx470250723 opened #104 "https://nutui.jd.com/#/ButtonGroup上有错误"
文档上是nut-button-group这个标签,应该是nut-buttongroup

[2019-05-23 08:03] Franslee commented on #104
感谢反馈，马上修改

[2019-05-23 08:04] Franslee commented on #102
可监听值的变化

[2019-05-23 08:05] Franslee commented on #99
请参考demo页面

[2019-05-23 08:07] Franslee commented on #91
第一个问题，不错的建议，我们后续改进。作为临时方案，可以先通过自定义样式屏蔽。
第二个问题，我们排查一下。

[2019-05-23 08:09] #104 closed

[2019-05-23 15:02] benbenyao opened #105 "nut-dialog里面放一个nut-textinput ，将页面下拉到底部，出现点击输入区域，后面的内容会被扩大的情况。"

[2019-05-23 17:53] benbenyao opened #106 "nut-dialog添加:lockBgScroll="true"，关闭Dialog的时候会出现闪屏。"

[2019-05-24 01:48] Franslee commented on #106
请提供机型、系统和浏览器信息

[2019-05-24 01:48] Franslee commented on #105
请上代码

[2019-05-25 05:37] benbenyao commented on #105
<nut-dialog
            :visible="showDialog1"
            @close="showDialog1=false"

            <nut-textinput
                v-model="passVal"
                placeholder="请输入内容"
            />
        </nut-dialog>
就是输入法定位输入框之后，背景类似被手势放大了，不知道为啥。

[2019-05-25 05:40] benbenyao commented on #106
机型是iphone8，软件版本12.2，在QQ浏览器打开的。不知道是什么情况。不知道是不是dialog的beforeClose样式处理问题。

[2019-05-25 09:23] benbenyao opened #107 "在dialog的这个方法，我想覆盖掉，请问怎么做呢，我还不是很懂，比如在自己写的vue里面怎么覆盖？请指导哦。"
var lockMaskScroll = function (bodyCls) {
  var scrollTop;
  return {
    afterOpen: function afterOpen() {
      scrollTop = document.scrollingElement.scrollTop || document.body.scrollTop;
      document.body.classList.add(bodyCls);
      document.body.style.top = -scrollTop + "px";
    },
    beforeClose: function beforeClose() {
      if (document.body.classList.contains(bodyCls)) {
        doc

[2019-05-27 07:41] benbenyao opened #108 "VUE项目能这么引用么，我这么引用dialog无法定位。"
import NutUI from '@/assets/nutui/nutui.js'
import '@/assets/nutui/nutui.css'
NutUI.install(Vue)

[2019-05-29 02:37] yyccQQu commented on #88
对滴，老哥

[2019-05-29 02:51] yyccQQu opened #109 "时间插件移动端 没有选择秒的选项"
![image](https://user-images.githubusercontent.com/32674176/58525876-7f0d6400-81f7-11e9-85a9-210daa654373.png)

希望加个带秒的选项
类似 滴滴的UI 他们有了，但是样子有点丑，希望大佬加一个选秒的事例
https://didi.github.io/cube-ui/#/zh-CN/docs/date-picker

[2019-05-30 01:50] wuyi123321 opened #110 "能不能在Scroller组件加一个监听 translate3d的改变方法，获取元素移动距离"
需要根据Scroller 上拉到一定位置改变导航栏的显示和隐藏，如京东我的页面那种效果

[2019-05-30 06:13] Franslee commented on #108
nutui文件路径对吗？

[2019-05-30 06:14] Franslee commented on #107
lockBgScroll设为false即可关闭此功能

[2019-06-03 07:23] alennx commented on #19
等待form组件的完善

[2019-06-03 08:46] Hiliyanbo opened #111 "关于 Tabbar的 问题"
当 Tabbar 的 tab-switch列表没有href参数的时候，切换标签会报错：
`Uncaught TypeError: Cannot read property 'match' of null`

请问有解决的方法吗？

[2019-06-05 06:54] Franslee commented on #109
感谢建议，我们考虑一下

[2019-06-08 05:34] huakudou opened #113 "有地址选择的组件吗"
找了一圈，没有看到你们有地址选择的组件，可以加上吗。我是京粉。

[2019-06-10 04:20] cuivip opened #114 "package.json 是否可以将vue的依赖升级为 "vue": "^2.6.10""
如题

[2019-06-10 04:21] cuivip commented on #114
nutui目前是写死的  "vue": "2.5.17", 我们系统使用了最新的vue,安装时会放出警告

[2019-06-10 06:38] HaoPeiPei commented on #113
同上

[2019-06-10 08:46] HaoPeiPei opened #115 "swiper"

[2019-06-10 08:46] HaoPeiPei opened #116 "swiper"

[2019-06-10 08:48] #115 closed

[2019-06-11 06:59] wang19841229 opened #117 "checkboxgroup 无法实现双向数据绑定"
checkboxgroup控件我现在只能将用户在view层操作的结果反映到data中的数组，但是我通过push等方法操作该数组，无法改变view上的checkboxgroup的选择状态。

[2019-06-12 07:45] nbhuzan opened #118 "<nut-datepicker> 动态修改startDate、endDate无效"

[2019-06-12 09:17] nbhuzan opened #119 "picker 取值问题"
picker初次点开，不进行滑动选择，页面虽然显示默认第一个，但是confirm获取到的值为空
原因应该是:list-data="list"只改变了显示数据，confirm获取时实际的list为上一次的list

[2019-06-14 08:41] lhtzbj12 opened #120 "如何在nuxt.js里引入nutui"
如题

[2019-06-14 08:47] JerryWang24 opened #121 "radiogroup and radiog"
为什么radiogroup和radio没有事件？？？checkboxgroup 和checkbox都有一个change事件~~~~

[2019-06-14 09:01] Franslee commented on #113
好的，感谢建议，后续版本会考虑的

[2019-06-14 09:01] #116 closed

[2019-06-14 09:04] Franslee commented on #120
正常引入即可

[2019-06-14 09:23] Shiret opened #122 "Cell、SearchBar组件触发页面刷新"
Cell组件无法实现router无刷新，只会当作跳转刷新，不能像<router-link>一样；
SearchBar搜索后页面刷新，这似乎就是一个表单提交刷新，源码并没阻止刷新；
Scorller组件没有提供滚动事件，让用户自定义一些滚动事件, pulldown 下拉回调不能关闭，有些时候用户不需要提供下拉刷新等功能时，希望关闭掉下拉事件，但应该将loadMore, pulldown事件默认为关闭，只有用户添加这个事件后算开启

[2019-06-14 10:20] Franslee commented on #122
* Cell组件router跳转可以在点击事件内实现。
* SearchBar本身应该不会引起页面刷新，请贴代码。
* Scorller这部分建议我会反馈给这个组件的作者。

[2019-06-14 10:22] Franslee commented on #121
写法不同。可以通过watch值的变化实现。

[2019-06-14 10:41] Franslee commented on #111
无法复现，请上代码。

[2019-06-19 02:52] JerryWang24 opened #125 "picker 数据没有label"
picker 数据没有label,后台一般都是存id，如果有value和label会好点吧

[2019-06-19 03:36] Hiliyanbo commented on #111
请参考你们官方的例子：https://nutui.jd.com/demo.html#/TabBar
![image](https://user-images.githubusercontent.com/27544795/59734938-080f3c80-9286-11e9-9efa-f80a9480bf80.png)
点击切换都会导致如下错误，
![image](https://user-images.githubusercontent.com/27544795/59734958-18bfb280-9286-11e9-9d5c-f38703952827.png)
难道是我浏览器的原因？ Chrome版本 75.0

[2019-06-19 03:46] Hiliyanbo commented on #111
实际上可以设置 href:'javascript:;' 可以解决问题，
但是我认为在我使用@tab-switch方法时又必须加上href，这行代码是多余的。

[2019-06-20 05:33] huakudou commented on #113
还有提一个，左滑删除的组件。可以考虑一下，

[2019-06-20 07:32] wumeng186 commented on #117
你的问题解决了吗?遇到同等问题.还请官网给个回复

[2019-06-20 07:39] wumeng186 opened #126 "checkboxgroup 无法实现双向数据绑定"
checkboxgroup控件我现在只能将用户在view层操作的结果反映到data中的数组，但是我通过push等方法操作该数组，无法改变view上的checkboxgroup的选择状态。

[2019-06-22 04:06] jkdeadwolf opened #127 "searchbar 右侧文本按钮点击没有事件触发"
demo中没有关于右侧文本点击后的处理。挂载了submit事件，只有在输入框回车才有效果。点击右侧文本按钮没有效果

[2019-06-23 03:40] lonelyislong opened #128 "独立使用tocast"

[2019-06-24 02:13] #128 closed

[2019-06-24 02:26] Franslee commented on #111
我们使用Chrome 75也不能复现，你有修改代码吗？

[2019-06-24 09:18] #120 closed

[2019-06-24 09:18] #121 closed

[2019-06-24 09:19] #96 closed

[2019-06-25 02:04] zyf154 commented on #126
我也碰到这个问题，然后我用了checkbox这个组件 v-for 在数组中设置一个值check（Boolean） 通过v-model="item.check"和点击事件改变check来控制view层的选择状态

[2019-06-25 02:36] wumeng186 opened #129 "dialog标签式写法,cancelAutoClose设置为false,不起作用."
<nut-dialog title="技能" :visible="skillShow" @close="skillShow=false" :style="{textAlign:'left'}"  cancel-btn-txt="重置" :cancel-auto-close="false" :on-cancel-btn="clearSkill" :lock-bg-scroll="true">

[2019-06-25 03:45] xcsweb opened #131 "希望添加手势支持"
希望添加手势支持，就像cube-ui那样

[2019-06-25 08:35] #122 closed

[2019-06-25 08:43] Franslee commented on #129
cancelAutoClose设置为false，点击取消按钮不自动关闭对话框，我验证了一下没有问题。

[2019-06-25 09:24] #25 closed

[2019-06-26 06:46] Hiliyanbo commented on #111
可能是我安装的某个拓展程序导致的，在我打开不使用任何插件的隐身窗口的时候没有发现这个问题。
感谢~

[2019-06-26 09:02] Franslee commented on #131
哪些组件？

[2019-06-26 09:02] Franslee commented on #127
新版本已加上

[2019-06-26 09:03] #111 closed

[2019-06-26 09:03] Franslee commented on #114
新版本已升级

[2019-06-26 10:00] augustVino opened #132 "actionSheet内容无法滚动"
actionSheet内容区域无法滚动

[2019-06-27 01:59] treasureMoment opened #133 "swiper 无法触发内部元素的点击事件"
swiper 无法触发内部元素的点击事件

[2019-06-27 08:21] treasureMoment opened #134 "SearchBar 无法自定义Icon大小"
SearchBar 无法自定义Icon大小 添加参数Icon 大小设置

[2019-06-28 06:34] xcsweb commented on #131
左滑动出现删除按钮，等

[2019-06-28 07:07] Franslee commented on #134
可以通过自定义样式解决

[2019-06-28 08:04] Franslee commented on #131
这个可以有。

[2019-06-28 08:05] Franslee commented on #132
可以试试通过自定义样式来实现

[2019-06-28 08:06] Franslee commented on #133
请 @wangnan41 关注

[2019-06-28 08:07] Franslee commented on #19
text组件已经有了

[2019-07-01 01:00] treasureMoment commented on #134
看了源码。固定大小。然后用的svg,难道要用transform么。不太灵活。还有就是searchBar 点击输入法的完成 可能会触发页面的刷新 触发概率多在首次加载模块

[2019-07-01 08:50] Jacky-m opened #135 "组件字段不显示"
nut-tab 组件，使用cdn引用，在设置了tabTitle参数时，页面不显示设置的值

[2019-07-01 14:22] wang19841229 commented on #117
没有解决，一直等官方回复。我发现即便在chrome中的vue调试工具中改变checkboxgroup的data都无法改变checkbox状态。我现在直接使用chekbox，用表达式手动遍历。

[2019-07-01 15:38] chenzhizhuo opened #136 "document is not defined"
//引入如下代码：  客户端渲染正常。  服务端渲染： ReferenceError: document is not defined

import { Dialog} from '@nutui/nutui'
Dialog.install(Vue);

[2019-07-02 01:39] Franslee commented on #134
下一个版本增加props控制Icon组件

[2019-07-03 15:54] tolerious opened #137 "没有select组件？"

[2019-07-05 02:30] treasureMoment opened #138 "countdown 存在BUG"
countdown 同时设置start 和end ,看源码。初始 设置了一个difftime 是对的。但是后面每秒都把这个值加进去。会导致 不到剩余时间 就已经结束。

[2019-07-05 03:07] Franslee commented on #137
试试picker组件能不能满足需求

[2019-07-05 07:22] Franslee commented on #138
@famanoder

[2019-07-05 09:15] blackcai opened #139 "官网的组件页面打不开。"
http://nutui.jd.com/#/Skeleton  这个组件打不开。
报错信息：Error: Cannot find module './skeleton.vue'

[2019-07-05 09:19] Franslee commented on #139
感谢反馈，我们尽快修复

[2019-07-08 02:58] xy0514 opened #140 "国际化组件安装缺少js文件"

[2019-07-08 03:13] xy0514 commented on #140
You may need an appropriate loader to handle this file type.
|             limitError: 'File size exceeded the limit'
|         }

|         cancelText: 'Cancel'
|     }
怎么提示资源大小超出限制啊

[2019-07-08 07:27] lhtzbj12 opened #141 "nuxt"

[2019-07-08 07:27] lhtzbj12 opened #142 "nuxt"

[2019-07-08 07:28] #142 closed

[2019-07-08 07:28] #141 closed

[2019-07-08 07:29] lhtzbj12 commented on #120
在页面里只放一个nut-button，刷新页面时，出现以下错误。
[Vue warn]: The client-side rendered virtual DOM tree is not matching server-rendered content. This is likely caused by incorrect HTML markup, for example nesting block-level elements inside <p>, or missing <tbody>. Bailing hydration and performing full client-side render.

[2019-07-08 07:36] tower1229 opened #143 "没有表单验证"

[2019-07-08 07:36] lhtzbj12 opened #144 "nuxt里使用nutui，出现not matching server-rendered content的错误"
在页面里只放一个nut-button，刷新页面时，出现以下错误。
[Vue warn]: The client-side rendered virtual DOM tree is not matching server-rendered content. This is likely caused by incorrect HTML markup, for example nesting block-level elements inside

, or missing . Bailing hydration and performing full client-side render.

[2019-07-09 00:53] aammjian opened #145 "Skeleton骨架屏在文档中是无效的"
https://nutui.jd.com/#/intro
这个文档说明中的骨架屏是无效的，请检查下。

[2019-07-09 07:16] Franslee commented on #140
复现不了。请提供更多信息。

[2019-07-09 10:01] Franslee commented on #144
未能复现，请提供详细信息

[2019-07-09 10:01] Franslee commented on #143
目前确实没有

[2019-07-09 10:05] Franslee commented on #136
安装babel插件@nutui/babel-plugin-separate-import 了吗？

[2019-07-10 02:18] xy0514 commented on #140
in ./node_modules/_@nutui_nutui@2.1.3@@nutui/nutui/dist/locales/lang/en-US.js

Module parse failed: Unexpected token (36:8)
You may need an appropriate loader to handle this file type.
|             limitError: 'File size exceeded the limit'
|         }

|         cancelText: 'Cancel'
|     }

 @ ./src/main.js 61:0-57 62:16-21
 @ multi ./node_modules/_webpack-dev-server@3.7.2@webpack-dev-server/cl

[2019-07-10 02:18] xy0514 commented on #140
引入之后就报这个错

[2019-07-10 02:24] xy0514 commented on #140
vue3.0按需引入的国际化，报错说需要一个loader,文件资源大小超出限制

[2019-07-10 02:45] xy0514 commented on #140
引入的是日历组件

[2019-07-10 05:18] lhtzbj12 commented on #144
我做了一个例子，https://gitee.com/lhtzbj12/html_nuxt_nutui ，
git clone 到本地，安装后启动。用谷歌打开http://localhost:3000，初次打开时没问题，刷新后 在浏览器控制台 出现错误。

[2019-07-10 05:20] lhtzbj12 commented on #144
我做了一个例子，https://gitee.com/lhtzbj12/html_nuxt_nutui ，这个错误在element里也有，官方法解决方法是在引入插件时 ssr:true

[2019-07-10 07:04] chenzhizhuo commented on #136
安装了。ssr run error:
package.json
.babelrc

------------------ 原始邮件 ------------------
发件人: "Frans Lee"<notifications@github.com>;
发送时间: 2019年7月9日(星期二) 晚上6:05
收件人: "jdf2e/nutui"<nutui@noreply.github.com>;
抄送: "天涯海角"<1024932466@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [jdf2e/nutui] document is not defined (#136)

安装babel插件@nutui/babel-plugin-separate-import 了吗？

—
You are receiving this b

[2019-07-10 08:11] Franslee commented on #145
已处理，感谢反馈

[2019-07-10 08:11] #145 closed

[2019-07-10 08:11] Franslee commented on #140
已处理，请升级新版试试

[2019-07-10 08:12] Franslee commented on #134
请试试新版

[2019-07-10 08:12] Franslee commented on #139
已处理

[2019-07-10 08:12] #139 closed

[2019-07-11 15:38] famanoder commented on #138
这里是针对从实际的情况出发，有些手机浏览器里面，滑动页面时会将定时器暂停，导致倒计时显示有误差，所以需要初始时计算`diffTime`，在定时器里减去的时间始终以当前时间加`diffTime`为准，这样并不会导致不到剩余时间就已结束，相反，能在一定程度上减少误差；

[2019-07-15 08:18] VincentHhd opened #147 "配置了px2rem-loader为什么nut单位没有改变"
配置了px2rem-loader为什么nut单位没有改变
![image](https://user-images.githubusercontent.com/33109486/61203142-2436ba00-a71c-11e9-832d-13e5e8fde9ae.png)

![image](https://user-images.githubusercontent.com/33109486/61203231-5c3dfd00-a71c-11e9-9201-fd897bfa5d3f.png)
![image](https://user-images.githubusercontent.com/33109486/61203330-a7f0a680-a71c-11e9-9e2c-d28dfe4a68bc.png)

[2019-07-15 09:33] #147 closed

[2019-07-17 09:21] xojiangxo opened #148 "在ActionSheet中使用 nut-scroller 无法显示 slot="more"的内容"
在ActionSheet中使用 nut-scroller 无法显示 slot="more"的内容
1.第一种情况：如果ActionSheet默认是不显示 绑定的 false ，那么在其中使用的nut-scroller 在滑动后，无法显示 slot="more"的内容，
2.nut-scroller 在绑定了一个数组列表后，如果数组添加了新元素，新元素对应的在滑动后，无法显示 slot="more"的内容，

[2019-07-18 01:15] chix1221 opened #149 "TabBar标签栏 tabbarList数组下面的对象icon动态加载图片地址bug"
tabbarList 下面的icon图片地址动态加载，值确定获取到了，但是赋值给background-img为undefined
![image](https://user-images.githubusercontent.com/20106491/61422037-69d1cd80-a93c-11e9-8dc0-2d762c164d17.png)

![image](https://user-images.githubusercontent.com/20106491/61422059-866e0580-a93c-11e9-99ae-90aa46959af0.png)
希望官方尽快给出回复，谢谢

[2019-07-18 07:12] JCXIE opened #150 "文档不清楚"
文档能否写的清楚点，新手表示不会用啊

[2019-07-24 01:29] ytNiu opened #151 "searchbar 右侧文本按钮点击事件默认为submit,无法自定义"
searchbar 右侧文本按钮自定义为"取消", 但是点击也是默认submit方法, 怎么自定义点击文本按钮触发的事件呢?

[2019-07-27 02:41] myzf commented on #91
想问下，用其他组件，点击后怎么才能弹出短密码，我把值设置成显示true，短密码死活出不来

[2019-07-27 03:11] myzf opened #152 "给个建议"
老哥，能不能把官网文档右侧显示效果的源代码，也提供出来呢，很多组件直接复制进来效果出不来的，有报错的，可能就是某个地方没有用对，也不难。
每次粘贴组件再调右侧的效果都很费劲，虽然现在组件不多，但是凑合也能用，只提供单个组件的用法，跑不起来啊

[2019-07-27 03:40] wangnan41 commented on #91
你看一下例子代码，watch 改变才能显示吧发自我的iPhone------------------ 原始邮件 ------------------发件人: 曾金珍  <notifications@github.com>发送时间: 2019年7月27日 10:42收件人: jdf2e/nutui <nutui@noreply.github.com>抄送: Subscribed <subscribed@noreply.github.com>主题: 回复：[jdf2e/nutui] ShortPassword 短密码相关 (#91)想问下，用其他组件，点击后怎么才能弹出短密码，我把值设置成显示true，短密码死活出不来

—You are receiving this because you are subscribed to this thread.Reply to this email d

[2019-07-29 15:59] relaxgithub opened #153 "第一次使用这个框架。"
按照说明文档，使用 gaeaCLI 报很多错误。
环境 ： Mac OS  Node(v10.13.0) npm(6.4.1).

于是换另外一种方式，npm install @nutui/nutui --save

`import NutUI from '@nutui/nutui'
import '@nutui/nutui/dist/nutui.css'

Vue.use(NutUI)

new Vue({
  el: '#app',
  render: h => h(App)
})
`

错误报路径在你们的框架内部。

ERROR in ../node_modules/@nutui/nutui/dist/nutui.js
Module not found: Error: Can't resolve 'vue' in '/Users/relax/Desktop/代码/前端学习/CodeF

[2019-07-30 07:05] treasureMoment opened #154 "dialog 添加lockBgScroll=true 关闭页面不能滚动"
页面本身可以滚动，滚到到非第一页，关闭dailog时。body 上添加的top 属性未去掉。导致页面无法正常滚动

[2019-07-30 08:31] treasureMoment commented on #138
自己测试下/传入start和end .会导致剩余事件变多

[2019-07-30 08:33] treasureMoment commented on #138
还有就是考虑传入start 和end 因为是已服务器的时间为准的。再切入手机的本地时间。差异会存在。

[2019-07-30 08:41] main2018 opened #155 "能否加个侧边弹出的对话框"
像这样从侧边弹出的
![image](https://user-images.githubusercontent.com/28427901/62114213-c3e17400-b2e8-11e9-9557-17f4503ac9c9.png)

[2019-08-02 02:33] main2018 opened #156 "nuxt中如何改变主题"
不生效！！
![image](https://user-images.githubusercontent.com/28427901/62340128-05546800-b511-11e9-86a4-d1964c4e60be.png)
![image](https://user-images.githubusercontent.com/28427901/62340056-c7574400-b510-11e9-982d-621f80a22b2c.png)
![image](https://user-images.githubusercontent.com/28427901/62340068-d76f2380-b510-11e9-949b-c5457682ea15.png)

[2019-08-03 01:47] main2018 commented on #150
没人维护了吗，

[2019-08-04 17:23] famanoder commented on #156
参考 [http://nutui.jd.com/#/theme](http://nutui.jd.com/#/theme)

您还需要在 `webpack` 的 `sass-loader` 中配置您定义的 `nutui-theme.scss`：
[code]

[2019-08-04 17:47] famanoder commented on #154
`body` 上添加的 `top` 只在打开弹窗时生效，猜测是你的页面 `body` 上本身有固定定位的样式： `position: fixed;`；

[2019-08-04 17:56] famanoder commented on #152
这是个不错的建议，我们后续的版本会考虑提供相应的例子的源代码；
目前有个临时的办法就是，您可以访问我们仓库里的例子的源代码：
`https://github.com/jdf2e/nutui/blob/master/src/packages/${component}/demo.vue`

[2019-08-04 18:03] famanoder commented on #155
后续规划中，敬请期待！
如果有兴趣的话，您也可以给我们提 PR！`Drawer 抽屉`；

[2019-08-04 18:09] famanoder commented on #151
您可以传入您自己的提交事件 `@submit="youSubmitFn"`

[2019-08-05 03:52] main2018 commented on #155
@famanoder 好的，感谢

[2019-08-05 03:53] main2018 commented on #156
@famanoder 多谢

[2019-08-05 06:00] xiaobaiyouxi commented on #49
mark

[2019-08-05 11:23] famanoder commented on #153
请先确认您已经安装了 `vue`：
[code]

[2019-08-06 00:48] main2018 commented on #48
@Franslee nutui.common.js 在哪里呀，怎么引入

[2019-08-06 01:21] main2018 commented on #156
已解决：
nuxt中定义主题
① yarn add @nuxtjs/style-resources
② nuxt.confog.js新增
     styleResources: {
        sass: ['@/assets/css/nutui-theme.scss', '@nutui/nutui/dist/styles/index.scss'],
     },
     modules: [
        '@nuxtjs/style-resources',
     ],

[2019-08-07 02:50] myzf commented on #152
好的先谢谢了

[2019-08-07 09:14] treasureMoment commented on #154
添加lockBgScroll=true 后 组件自动给添加的。dialog close后样式移除了。但是top你们没取消

[2019-08-07 09:20] famanoder commented on #154
该问题已解决，请关注后续版本

[2019-08-08 08:20] Franslee commented on #48
现在已经不需要引用nutui.common.js文件了，正常使用nutui.js文件即可

[2019-08-09 04:55] #12 closed

[2019-08-16 08:08] yyccQQu commented on #16
![image](https://user-images.githubusercontent.com/32674176/63153104-b988df00-c037-11e9-8830-feb810eee86a.png)
![image](https://user-images.githubusercontent.com/32674176/63153115-c1e11a00-c037-11e9-9fb5-d7e5f99ee4e0.png)
适配问题

[2019-08-20 03:20] lanzhsh opened #157 "picker省市区联动"
你们省市区目前使用好麻烦,还要把 json 列出来,
啥时候可以优化一下

[2019-08-20 05:50] wananzys opened #158 "scroller组件横向滑动区域,不能上下滑动页面"
有横向滑动的区域,手指在该区域不能上下滑动页面,极其影响用户体验,请问怎样解决?

[2019-08-20 12:00] SoftwareWPF commented on #157
这个省市区相对于其它的使用着真的心累

[2019-08-21 08:12] lany9527 opened #159 "Dialog 没有一个全局关闭的方法"
Dialog 没有一个全局关闭的方法

比如 $dialog.close()

[2019-08-26 14:44] scwlwj commented on #135
遇到了同样的问题

[2019-08-29 07:12] brucekong opened #160 "目前的icon 组件没有采用 svg-sprite 方式"
大佬您好，http://jdc.jd.com/archives/212600 这篇文章中有提到 nutui Icon 组件基于的是
 svg-sprite 技术，但是目前看到 nutui 里采用的方式是直接引用svg ,没有采用 svg-symbol 方式，请问是出于什么考量？谢谢。

[2019-09-01 10:36] andorcba opened #161 "scroll组件 vertical-scroll 模式 不能设置动画的执行时间"
![image](https://user-images.githubusercontent.com/5809690/64075172-75f4cd00-cce7-11e9-8a54-f8a6e7047ede.png)

[2019-09-02 07:38] isanonymous opened #162 "CDN方式下, nut-searchbar组件的placeText无效"
CDN方式下, nut-searchbar组件的placeText属性无效,  永远是"请输入内容...", 修改不了
例:
`<nut-searchbar   placeText="测试"></nut-searchbar>`

![image](https://user-images.githubusercontent.com/48464704/64097782-b6138880-cd97-11e9-8bd3-1185cff33f38.png)

[2019-09-03 06:10] agileago opened #163 "组件库的设计资源sketch什么时间提供下载？"
挺急的，在线等

[2019-09-03 09:47] atongmu opened #164 "IOS XS input 键盘键 内容上推，必须下滑内容才能操作。"
`<nut-actionsheet :is-visible="isEditor" >
      <div slot="custom">
        <nut-cell title="选择货品" :showIcon="true" :isLink="true" @click.native="isItem=true">
          <div slot="desc" class="selected-option">{{item.name!='' ? item.name : '请选择'}}</div>
        </nut-cell>
        <nut-cell :isLink="true" >
          <div slot="title" class="selected-option">
            <nut-textinput v-model="

[2019-09-06 03:47] Franslee commented on #160
nutui 1.0版有采用，那篇文章较老

[2019-09-09 08:46] vaezc opened #165 "日历控件希望能增加价格的描述"
日历控件在很多地方需要展示价格，希望nut能加上这个功能。

[2019-09-11 01:30] ilero commented on #92
请问，如何扩展svg呢，我们想用自己的图标

[2019-09-27 02:07] qnsdt opened #167 "全局引入scss的报错"
在main.js里面把css换成scss
1.
// import '@nutui/nutui/dist/nutui.css'
import '@nutui/nutui/dist/nutui.scss'
2.在webpack.base.config.js里面已经加了
      {
        loader: 'sass-loader',
        options: {
            data: `@import "@nutui/nutui/dist/styles/index.scss"; `
        }
      }
3.npm run dev仍然报错
 ERROR  Failed to compile with 4 errors

[2019-09-27 09:12] TryRaymond commented on #163
I also need…

[2019-10-05 07:03] ManiuLtd commented on #16
这个项目几个月没见动静了，又黄了吗？

[2019-10-05 07:06] ManiuLtd opened #168 "几个月没见这个项目有动静了，KPI产物？"
项目前端UI框架选型，想找个大厂基于VUE的前端UI框架，在看了vant后发现了这个，但是发现这个项目几个月都没动静了，不知道还有没有后续？

[2019-10-09 02:57] 925800521 commented on #168
几个月没更新了，要凉！

[2019-10-09 09:25] linrufeng commented on #168
没有凉，只是我们结构化调整了下，在调研

[2019-10-09 09:33] linrufeng commented on #167
你换一种全局引用方式
` "plugins": [
            "transform-vue-jsx",
            ["@nutui/babel-plugin-separate-import",{"style":"scss"}],
            "@babel/plugin-syntax-dynamic-import"

        ]`
在babelrc里面这样配置，

[2019-10-09 09:34] linrufeng commented on #167
你换一种全局引用方式，在babelrc 里面加

` "plugins": [
            ["@nutui/babel-plugin-separate-import",{"style":"scss"}]
        ]`

[2019-10-09 09:38] zhenyulei commented on #168
你好

你好，没有凉。停下来是因为在调整力量，为了后续更好的发展。如果有问题欢迎留言，我们将继续维护。

[2019-10-09 10:11] zhenyulei commented on #163
你好，在nutui2.0版本中，暂不提供设计资源的下载。等我们升级到3.0版本后考虑增加这个功能，感谢您的建议！

[2019-10-09 10:19] zhenyulei commented on #162
你好可以提供你的代码和应用环境吗？我这边试了是可以的，代码如下：
`<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>实例</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@nutui/nutui@2.1.5

[2019-10-09 10:49] zhenyulei commented on #161
你是用的CDN的方式引入的nutui吧？如果是的话，建议改成npm的方式加载nutui组件库。CDN方式引入的话该组件有点问题，我们接下来改动会将其修复。如果还不行的话，建议把代码再多提供一些，感谢！

[2019-10-09 10:56] zhenyulei commented on #159
你好，我们提供了如下方式关闭弹窗：
[code]
至于全局关闭的功能，会导致有多个弹窗显示的情况下，都被关闭了，所以建议还是把关闭的逻辑放在每个弹窗的逻辑中。

[2019-10-09 11:03] qnsdt commented on #167
好的，麻烦你了，我试一下，目前，我只能用vue_cli3重新生成项目，有你这个方法就好了

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"linrufeng"<notifications@github.com&gt;;
发送时间:&nbsp;2019年10月9日(星期三) 下午5:34
收件人:&nbsp;"jdf2e/nutui"<nutui@noreply.github.com&gt;;
抄送:&nbsp;"qnsdt"<280067865@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [jdf2e/nutui] 全局引入scss的报错 (#167)

你换一种全局引用方式，在babelrc 里面加

 "plugins":

[2019-10-09 12:12] zhenyulei commented on #158
你好，感谢你提的建议，可以在源码中scroller组件中的 touchMove 事件中删掉 阻止默认事件 并且删掉css中的nut-hor-list类中的touch-action: none;样式。当然如果您不着急的话，我们经过调研后可以增加该功能，再次感谢建议。

[2019-10-09 12:19] zhenyulei commented on #157
😭picker这个组件，本意是拾取器组件，支持用户自定义json数据，这样的话可以根据配置数据渲染，具有灵活性。不过感谢您的建议，后续我们考虑增加传入的类型是省市区联动的话，给定默认的json数据。

[2019-10-09 12:20] zhenyulei commented on #157
😭picker这个组件，本意是拾取器组件，支持用户自定义json数据，这样的话可以根据配置数据渲染，具有灵活性。不过感谢您的建议，后续我们考虑增加传入的类型是省市区联动的话，给定默认的json数据。

[2019-10-09 12:25] zhenyulei commented on #16
欢迎关注 木有黄 有木有

[2019-10-10 01:20] zhenyulei commented on #150
您好，请问哪里的文档没有写清楚 我改😊

[2019-10-10 01:22] zhenyulei commented on #149
动态加载的图片地址应该是异步获取的吧，是不是你获取的时机不对呢？如果还有疑问，请附上详细代码，感谢！

[2019-10-10 05:48] #127 closed

[2019-10-10 07:42] JCXIE commented on #150
不用了 已经放弃了

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"zhenyulei"<notifications@github.com&gt;;
发送时间:&nbsp;2019年10月10日(星期四) 上午9:20
收件人:&nbsp;"jdf2e/nutui"<nutui@noreply.github.com&gt;;
抄送:&nbsp;"开飞机的贝克"<819800692@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [jdf2e/nutui] 文档不清楚 (#150)

文档能否写的清楚点，新手表示不会用啊

您好，请问哪里的文档没有写清楚 我改😊

—
You are receiving this because y

[2019-10-11 02:59] linrufeng commented on #126
push 方法在vue中是无法重新渲染的，推荐使用 $set

[2019-10-11 03:03] linrufeng commented on #125
x谢谢这个建议我们采纳了。下个版本加上

[2019-10-11 03:12] #114 closed

[2019-10-11 03:17] #83 closed

[2019-10-11 08:13] #140 closed

[2019-10-11 12:32] lanzhsh commented on #157
是的呢,省市联动就应该和 picker 分开

[2019-10-14 03:19] linrufeng commented on #105
没发现，放大 uc浏览器测试，不过用手势确实可以放大整个页面

[2019-10-14 03:29] linrufeng commented on #129
感觉您的问题，版本已经修复，预计本周二更新

[2019-10-14 05:43] #159 closed

[2019-10-14 05:44] #167 closed

[2019-10-14 05:45] linrufeng commented on #165
这个你可以自己在源码中改改，我们这个组件库主要针对的是大部分业务

[2019-10-14 06:19] #105 closed

[2019-10-14 06:20] linrufeng commented on #164
我发现只有你这个机型这样，我也遇到过，我是当 input获取焦点时候强制滚动条滚到底部就解决这个问题了

[2019-10-15 02:49] Zwr0126 opened #169 "请问滚动相关的组件无法触发事件是什么情况"
InfiniteLoading 无限加载、Scroller 滚动、BackTop 回到顶部三个组件都无法触发滚动条事件是什么原因啊

[2019-10-15 03:07] linrufeng commented on #148
兄弟代码粘贴出来，或者描述清楚一点

[2019-10-15 07:01] szg2008 commented on #118
您说的问题我们这边没有复现，能不能具体描述下或者贴一下代码

[2019-10-15 07:30] Zwr0126 commented on #169
已解决，比如InfiniteLoading 无限加载组件，其父级不能出现height: 100%和overflow:hidden的样式属性，否则不会触发滚动事件

[2019-10-15 07:30] #169 closed

[2019-10-17 01:11] szg2008 commented on #125
picker数据已兼容label

[2019-10-21 06:06] lany9527 commented on #66
@Franslee 报错如下：
![image](https://user-images.githubusercontent.com/19483798/67180286-b9c4a280-f40b-11e9-9bd4-c0cb1eef7efa.png)
![image](https://user-images.githubusercontent.com/19483798/67180319-d7920780-f40b-11e9-9bb5-ec37cd00811b.png)
![image](https://user-images.githubusercontent.com/19483798/67180343-e8db1400-f40b-11e9-8f71-66023f8d9041.png)

[2019-10-22 03:13] woderlili commented on #16
想问一下nut-uploader 该该该怎么添加请求头

[2019-10-24 07:09] tiaotiaozai opened #170 "cell subTitle的slot写了没有效果"

[2019-10-24 07:57] richard1015 commented on #170
请提供一下可复现代码

[2019-10-30 03:22] richard1015 commented on #16
非常感谢您的问题，双十一后我们会增加这个功能，请持续关注 :)

[2019-10-30 06:16] snice opened #171 "请问设计稿的宽度是多少？"
打算采用px2rem，不知道宽度配置多少，请问设计稿的宽度是多少？

[2019-10-31 02:16] richard1015 commented on #171
750

[2019-10-31 02:16] #171 closed

[2019-11-04 09:43] TTprimose opened #172 "vue-cli 3.0 按库引入不了样式?"
vue-cli 3.0 按库引入不了样式?

[2019-11-04 12:24] richard1015 commented on #172
请提供一下最小可复现仓库代码

[2019-11-05 11:44] Tanglan123 opened #173 "nut-datepicker"
nut-datepicker 组件，设置startDate 和 endDate 没有效果

[2019-11-05 12:59] richard1015 commented on #173
请提供一下最小复现代码

[2019-11-06 00:59] Tanglan123 commented on #173
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta name="format-detection" content="telephone=no,email=no">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@nutui/nutui@2.1.6/dist/nutui

[2019-11-06 01:00] Tanglan123 commented on #173
`<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta name="format-detection" content="telephone=no,email=no">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@nutui/nutui@2.1.6/dist/nutu

[2019-11-06 01:00] Tanglan123 commented on #173
`<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta name="format-detection" content="telephone=no,email=no">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@nutui/nutui@2.1.6/dist/nutu

[2019-11-06 01:25] richard1015 commented on #173
#### 当采用   页面直接引用 CDN 资源时，请遵循 [https://cn.vuejs.org/v2/guide/components-props.html](url)

HTML 中的特性名是大小写不敏感的，所以浏览器会把所有大写字符解释为小写字符。这意味着当你使用 DOM 中的模板时，camelCase (驼峰命名法) 的 prop 名需要使用其等价的 kebab-case (短横线分隔命名) 命名：

###### 按照下发使用方式即可 ：）

[code]

[2019-11-06 02:21] Tanglan123 commented on #173
好的，解决了！
还有一个问题：:start-date="minDate" ，我把最小时间动态绑定，在mounted的时候改变值，但是好像没用啊？

[2019-11-06 03:34] richard1015 commented on #173
@Tanglan123
请提供一下复现代码
另外推荐您加入我们nutui微信交流群,方便及时沟通
<img src="https://img14.360buyimg.com/imagetools/jfs/t1/92590/24/1521/112113/5dc23166E0feb7b2d/3808305af58241ae.jpg" width="250" />

[2019-11-06 03:53] Tanglan123 commented on #173
`<nut-datepicker
				:is-visible="timeVisible"
				title="请选择日期时间"
				type="datetime"
				:start-date="minDate"
				:end-date="maxDate"
				:default-value="defaultTime"
				@close="switchPicker('timeVisible')"
				@choose="setChooseValue"

mounted: function(){
this.minDate = "2019-10-10";
					this.maxDate = "2019-11-11";
}
`

[2019-11-06 03:55] Tanglan123 commented on #173
`<nut-datepicker
				:is-visible="timeVisible"
				title="请选择日期时间"
				type="datetime"
				:start-date="minDate"
				:end-date="maxDate"
				:default-value="defaultTime"
				@close="switchPicker('timeVisible')"
				@choose="setChooseValue"

data: {
					timeVisible: false, //是否显示选择时间弹窗
					defaultTime: "", //默认当前时间
					minDate: "", //限制最小时间
					maxDate: "", //限制最大时间
				},
				mounted: function

[2019-11-06 05:54] tolerious commented on #137
嗯，可以。

[2019-11-07 16:26] #137 closed

[2019-11-13 14:44] richard1015 commented on #16
v2.1.7已发布
nut-uploader已支持自定义header请求头

[2019-11-14 16:02] TankRyze opened #174 "nut-dialog noFooter属性报错"
<img width="1834" alt="WeChatc541a6bec0b5aa3aee7fde7bd7d5b015" src="https://user-images.githubusercontent.com/22748893/68873693-f8175e00-073a-11ea-8965-bf8f0c4261b6.png">
<img width="874" alt="WeChat0e6d298be517a4e79e94002f540e2f39" src="https://user-images.githubusercontent.com/22748893/68873738-08c7d400-073b-11ea-9545-2603e4ce0d09.png">
在谷歌浏览器模拟移动端看见的报错信息，页面功能是可以实现

[2019-11-15 01:11] richard1015 commented on #174
![image](https://user-images.githubusercontent.com/13060263/68908973-cc6e9500-0787-11ea-9adb-ababd35f8ad4.png)
noFooter接受值为bool类型，请使用双向绑定传参    :noFooter="true"

[2019-11-15 01:11] #174 closed

[2019-11-15 01:17] richard1015 commented on #173
v2.1.7版本已解决

[2019-11-15 01:17] #173 closed

[2019-11-15 01:20] richard1015 commented on #80
v2.1.7已解决此问题

[2019-11-15 01:20] #80 closed

[2019-11-15 01:24] richard1015 commented on #118
此问题v2.1.7已修复

[2019-11-15 01:24] #118 closed

[2019-11-15 01:32] richard1015 commented on #162
#### 当采用   页面直接引用 CDN 资源时，请遵循 [https://cn.vuejs.org/v2/guide/components-props.html](https://cn.vuejs.org/v2/guide/components-props.html)

HTML 中的特性名是大小写不敏感的，所以浏览器会把所有大写字符解释为小写字符。这意味着当你使用 DOM 中的模板时，camelCase (驼峰命名法) 的 prop 名需要使用其等价的 kebab-case (短横线分隔命名) 命名：

###### 按照以下使用方式即可 ：）

[code]

[2019-11-15 01:32] #162 closed

[2019-11-15 01:35] richard1015 commented on #63
v2.1.7版本已解决

[2019-11-15 01:35] #63 closed

[2019-11-15 12:27] Guanxiaodan opened #175 "日历组件点击确定为什么要触发close事件？点击取消按钮触发的是什么事件呢？"
## What happens?
日历组件点击确定按钮会触发close事件，但是如果不触发close事件，直接在choose事件中控制is-visible也是可以关闭的。为什么要触发close事件呢？而且取消按钮触发的也是close事件，这样就没办法区分两种点击状况了

## 相关环境信息
- **NutUI 版本**：V2.1.7

[2019-11-15 15:34] richard1015 commented on #175
感谢你的反馈，刚才看了一下确实存在这个问题
这边已经记录，将在下个版本v2.1.8优化此问题

[2019-11-16 13:40] TankRyze commented on #174
<img width="856" alt="WechatIMG5" src="https://user-images.githubusercontent.com/22748893/68994057-684bee00-08b9-11ea-84bb-40ef39837df1.png">
![WechatIMG6](https://user-images.githubusercontent.com/22748893/68994070-97faf600-08b9-11ea-8a21-0d5d7183be37.jpeg)
你好，动态绑定数据是没有了错误信息，但是他的footer部分没有隐藏。辛苦看一下，谢谢

[2019-11-18 03:06] richard1015 commented on #174
noFooter | 是否隐藏底部按钮栏
true 代表隐藏  false代表显示    你设置的false当然是不隐藏了

[2019-11-18 09:29] JCXIE commented on #150
datetime-picker控件要自定义min-date怎么搞  里面的小时怎么自定义 比如（min-date='7' max-date='23'）这样

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "zhenyulei"<notifications@github.com&gt;;
发送时间: 2019年10月10日(星期四) 上午9:20
收件人: "jdf2e/nutui"<nutui@noreply.github.com&gt;;
抄送: "开飞机的贝克"<819800692@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [jdf2e/nutui] 文档不清楚 (#150)

文档能否写的清楚点，新手表示不会用啊

您好，请问哪里的文档没

[2019-11-18 09:56] zhenyulei commented on #150
你是指开始和结束日期吗？这样定义：
startDate="2000-11-10 12:08"
endDate="2030-10-05 10:04"

[2019-11-18 11:14] JCXIE commented on #150
是每天的时间7-23怎么定义（时间范围（7-23））

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"zhenyulei"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月18日(星期一) 下午5:56
收件人:&nbsp;"jdf2e/nutui"<nutui@noreply.github.com&gt;;
抄送:&nbsp;"开飞机的贝克"<819800692@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [jdf2e/nutui] 文档不清楚 (#150)

datetime-picker控件要自定义min-date怎么搞 里面的小时怎么自定义 比如（min-date='7

[2019-11-20 08:33] zhenyulei commented on #150
--------------
startHour	开始小时	;endHour	结束小时

[2019-11-21 03:34] #156 closed

[2019-11-21 06:21] guoxiao158 opened #176 "dialog使用lockBgScroll时相当于给body加了flex布局"
## What happens?

[2019-11-21 06:22] guoxiao158 commented on #176
导致页面布局最外层div左对齐或者位置失效

[2019-11-23 01:33] BloLee opened #177 "skeleton 骨架屏报错"
vue  引入骨架屏组件 页面报错
![image](https://user-images.githubusercontent.com/28392958/69470804-0e28bc80-0dd4-11ea-83e0-ad2ce06e26cf.png)

报错信息
![image](https://user-images.githubusercontent.com/28392958/69470816-1c76d880-0dd4-11ea-8c92-60f550a3b10a.png)

## 相关环境信息
- **操作系统**：win10
- **Node 版本**：v10.16.3
- **NutUI 版本**："@nutui/nutui": "^2.1.7",
- **vue/cli**：4.0.2
- **vue**："^2.6.10"

[2019-11-23 07:45] richard1015 commented on #177
@BloLee
感谢您的反馈 ，按需加载 请参考以下使用方式

[code]

[code]

[2019-11-25 07:07] lively-qcy opened #178 "Steps组件动态加载数据循环Step报错：'filter' of undefined"
## What happens?
Steps组件动态加载数据报错：`TypeError: Cannot read property 'filter' of undefined`，复制官网静态数据示例不会

1、axios异步请求数据
2、赋值数组进行循环`step`展示

显示也错误了，如图：

![image](https://user-images.githubusercontent.com/39941460/69518926-c2bd0c80-0f93-11ea-9f8d-86adab2c383f.png)

![image](https://user-images.githubusercontent.com/39941460/69520055-8a6afd80-0f96-11ea-9d54-2482877fa50b.png)

## 预期的行为和实际行为
我按需引入的，是不是用法问

[2019-11-26 01:22] #177 closed

[2019-11-26 01:53] richard1015 commented on #178
@lively-qcy   当前版本 暂不支持通过 v-for 渲染nut-step，下个版本将修复此bug，请持续关注!

[2019-11-26 08:58] lively-qcy commented on #178
大熊弟，你们的微信群二维码失效了，能不能搞个新的，反馈问题也好及时一些。

[2019-11-26 09:13] richard1015 commented on #178
<img width="358" src="https://img14.360buyimg.com/imagetools/jfs/t1/93168/7/3178/64402/5ddcebd0E0bf52dc9/22c70abd92e85ac0.jpg">

[2019-11-27 05:30] richard1015 commented on #176
使用lockBgScroll时 会在body上添加dialog-open  position:fixed样式，看一下是不是和你自己页面样式冲突导致

[2019-12-03 12:35] sty-loading opened #179 "tabbar中的icon是否支持使用svg或者font-icon"
tabbar中的icon是否支持使用svg或者font-icon，如果支持，请问该怎么写？

[2019-12-03 13:40] rivenEdge opened #180 "tab组件缺乏对设备横竖屏的响应"
tab在设备横竖屏切换时navBar宽度没有响应的变化

[2019-12-04 01:46] richard1015 commented on #179
暂不支持，可以直接转成 base64  后，使用

[code]

[2019-12-04 01:46] #179 closed

[2019-12-05 12:14] Ymm0008 opened #181 "Toast、Dialog组件多实例时，回调函数onClose会同时触发。"
## What happens?

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
Toast、Dialog组件多实例时，回调函数onClose会同时触发。

## 相关环境信息
- **操作系统windows：
- **Node 版本**：
- **NutUI 版本2.1.5：

[2019-12-06 12:00] Ymm0008 opened #182 "menu组件如果2个同时存在的话，一个点击出现后，另一个点击弹出后（第一个仍然存在，没有消失）"
## What happens?

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：windows
- **Node 版本**：12.13.0
- **NutUI 版本**：2.1.5

[2019-12-06 12:01] richard1015 commented on #181
已记录、修复后会第一时间通知

[2019-12-06 12:01] richard1015 commented on #182
已记录、修复后会第一时间通知

[2019-12-10 08:01] moxunbai opened #183 "定制主题不生效"
你好，我是使用vue-cli搭建的工程，根据文档对应到vue.config.js配置文件中，如下配置
 css: {
    loaderOptions: {
      sass: {
        prependData: `@import "./src/assets/scss/custom_theme.scss"; @import "@nutui/nutui/dist/styles/index.scss"; `,
      }
    },
其中我自定义的custom_theme.scss的测试内容为:
$btn-gradient-start-color: green;
$btn-gradient-end-color: green;
预期的效果是按钮背景色变绿；
实际效果却还是原来红色的。
请问这是什么原因？

## 相关环境信息
- **操作系统**：win10
- **Nod

[2019-12-10 08:39] richard1015 commented on #183
@moxunbai   是否可以提供一下最小可复现仓库到github，方便这边排查 :)

[2019-12-11 02:01] moxunbai commented on #183
@richard1015  好的， 看看这个如何 ；https://github.com/moxunbai/testNutui.git

[2019-12-11 04:40] richard1015 commented on #178
v2.1.8已修复

[2019-12-11 04:40] #178 closed

[2019-12-11 04:41] richard1015 commented on #175
v2.1.8已修复

[2019-12-11 04:41] #175 closed

[2019-12-11 04:42] richard1015 commented on #161
v2.1.8已修复

[2019-12-11 04:42] #161 closed

[2019-12-11 04:45] richard1015 commented on #126
v2.1.8已修复

[2019-12-11 04:45] #126 closed

[2019-12-12 07:01] richard1015 commented on #183
vuecli3   NutUI定制化主题 请参考 https://github.com/richard1015/nutui-demo，此demo已实现

[2019-12-12 07:01] #183 closed

[2019-12-12 07:40] moxunbai commented on #183
ok,试了可以，比较了下，原来是我scss里定制的变量不对哦， 感谢解惑！

[2019-12-12 09:46] richard1015 commented on #183
@moxunbai  可以加一下我们的微信交流群，方便及时回复

<img width="358" src="https://img14.360buyimg.com/imagetools/jfs/t1/99938/27/5896/64075/5df0772eE89888d9d/4ba34697506e331c.jpg">

[2019-12-13 01:00] richard1015 commented on #66
vue cli3   NutUI 按需加载、 定制化主题 请参考 https://github.com/richard1015/nutui-demo

[2019-12-13 01:00] #66 closed

[2019-12-13 01:05] richard1015 commented on #172
vue cli3 NutUI 按需加载、 定制化主题 请参考 https://github.com/richard1015/nutui-demo

[2019-12-13 01:05] #172 closed

[2019-12-13 01:10] richard1015 commented on #100
vue cli3 NutUI 按需加载、 定制化主题 请参考 https://github.com/richard1015/nutui-demo
vuecli2 请参考 http://nutui.jd.com/#/theme

如果还报错，请附上最小可复现仓库地址

[2019-12-13 01:10] #100 closed

[2019-12-13 07:21] Imageheart opened #184 "[bug]在ios展示时，变白屏，但是能点击里面的内容"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2019-12-13 07:23] Imageheart commented on #184
ios版本9.2.1

[2019-12-13 07:25] richard1015 commented on #184
@Imageheart    可以提供一下复现代码，方便这边排查

[2019-12-13 07:28] Imageheart commented on #184
稍等

[2019-12-13 07:46] Imageheart commented on #184
人都晕了，写了个demo，就可以跑。。自己项目上，就也没报错，就是变成白屏，可以点击内容，在安卓端，pc端都是正常的。。

[2019-12-13 07:50] richard1015 commented on #184
可以通过 [vconsole](https://www.npmjs.com/package/vconsole) 在ios端运行排查一下
或者 使用[spy-debugger](https://www.npmjs.com/package/spy-debugger)

[2019-12-13 07:53] Imageheart commented on #184
用了vconsole.,没有报错。。。还有解决的思路吗。

[2019-12-13 07:57] Imageheart commented on #184
ios高版本低版本都是这个情况，无论是打包后塞进app里，还是直接访问node服务器的，都是那个使用了nut的页面（使用了tab，tabpanel，scroller，都是按需加载），变成白屏，其他页面都是正常的

[2019-12-13 08:38] richard1015 commented on #184
可以加一下我们的微信交流群，方便及时回复
<img width="358" src="https://img14.360buyimg.com/imagetools/jfs/t1/99938/27/5896/64075/5df0772eE89888d9d/4ba34697506e331c.jpg">

[2019-12-13 09:00] #184 closed

[2019-12-14 06:20] Imageheart opened #185 "[bug]scroll组件与动态component不兼容"
## 问题描述

scroll组件与动态component不兼容，即使用动态component切换组件时，scroll无法响应相应情况。

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

使用vant 的tab组件及vue 的动态component，来通过切换相应的tab来切换不同的component,但nutui的scroll没有对应切换。

## 相关环境信息
- **操作系统**：win10
- **Node 版本**：
- **NutUI 版本**：2.1.8
- **Vue 版本**：2.6.10
- **引用方式**：  CDN / NPM ？ NPM

[2019-12-16 01:02] richard1015 commented on #185
已记录、修复后会第一时间通知

[2019-12-16 13:01] xiesantao opened #186 "有下拉刷新组件吗？"
## 你想知道什么？

你好，我想知道这个项目是否可以...

## 描述你考虑过的替代方案

我想...

## 其它

无

[2019-12-17 01:26] richard1015 commented on #186
InfiniteLoading 无限加载   http://nutui.jd.com/#/InfiniteLoading

[2019-12-17 01:26] #186 closed

[2019-12-17 01:35] #22 closed

[2019-12-17 01:37] #34 closed

[2019-12-17 02:54] ouyangjx opened #187 "请问imagepicker中imgList绑定图片列表，但只要做了删除之后imgList和页面的图片就对不上了"
就是只要做了删除操作，不会删除imgList绑定的对象中的记录，然后如果后面再上传图片，也不会更新到imgList绑定的对象中。

[2019-12-17 03:27] richard1015 commented on #187
已记录、修复后会第一时间通知

[2019-12-17 11:26] financeyuan opened #188 "[bug]tabbar icon和activeIcon加载本地图片失败"
tabbar icon和activeIcon加载本地图片失败
`  'activeIcon':'@/assets/inperson.jpg' `这样就不行
加载base64可以

[2019-12-17 11:54] richard1015 commented on #188
可以提供一个最小复现仓库到GitHub ，方便这边排查

[2019-12-17 12:25] richard1015 opened #189 "NutUI 交流群"
请添加微信zhida51844712备注  申请加群 nutui

:tada::tada:欢迎大家使用NutUI组件库~ :tada::tada:

如果您在使用过程中遇到什么问题可通过 Issues 或邮件 nutui@jd.com 联系我们。

目前NutUI已在京东内外众多项目中应用，如果你的项目中也有用到，欢迎留言告诉我们，建议包含以下内容：

- 产品/项目：
- 链接：（如果可以）
- 公司或组织：（如果可以）
- 截图：（如果可以）
- Email：（如果可以）

您的支持是我们开发的动力。

欢迎Star，欢迎PR~

[2019-12-18 04:28] baugun opened #190 "建议uploader上传组件自定义设置withCredentials"
在使用上传组件时，发现不能跨域上传，问题原因是withCredentials的默认值为true，建议可以自定义设置withCredentials。

[2019-12-18 04:31] richard1015 commented on #190
感谢您的反馈，这边已经记录，并在v2.1.9中修复此问题

[2019-12-18 09:43] #188 closed

[2019-12-22 10:59] tj87418 commented on #16
偶然我机会，发现了这个ui，看了demo需要的功能都有，目前有2个问题。
1：cell列表项能嵌套其他组件吗？
2：cell与其他组件怎样添加click事件，直接在上面添加@click没效果。

[2019-12-24 02:19] yangkaixuan commented on #16
1.cell 暂时不支持嵌套其他组件的功能
2.可以使用@click.native方法增加点击事件

[2019-12-26 09:00] #165 closed

[2019-12-26 09:12] #29 closed

[2019-12-26 09:12] #30 closed

[2019-12-26 09:13] #81 closed

[2019-12-30 03:08] wychengnuo opened #191 "datepicker 部分手机样式不兼容"
![image](https://user-images.githubusercontent.com/10297021/71566690-9ba6ad00-2af4-11ea-8e5c-aca99a05af75.png)

[2019-12-30 03:32] richard1015 commented on #191
@wychengnuo

请提供一下 相关环境信息
- **手机型号**：
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2019-12-30 05:56] wychengnuo commented on #191
手机型号：SM-G9650/DS
操作系统：安卓
Node版本：10.14.2
NutUI版本：2.1.7
Vue版本：2.5.17
引用方式：npm
场景：京东金融app

[2019-12-30 05:58] wychengnuo commented on #191
安卓版本9

[2019-12-31 00:56] guoxiao158 commented on #191
@wychengnuo  请问是在滑动的时候出现的还是 初始化的时候，使用的代码方便贴一下吗

[2019-12-31 02:06] guoxiao158 commented on #180
暂时先建议开发者监听设备屏幕切换事件。进行dom局部刷新一下

[2019-12-31 02:07] guoxiao158 commented on #180
暂时建议开发者监听设备屏幕切换事件，进行局部dom刷新，后期我们会进行修改

[2020-01-03 10:01] Wqleonard opened #192 "Scroller 怎么滚动到顶部？"
Scroller 获取到dom元素后也是个div，scrollTo方法无效啊，请问怎么使它滚动到顶部或者左侧

[2020-01-07 06:12] CyrusFeng opened #193 "Datepicker组件：将手机字体调大后放大镜效果错乱[bug]"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为
将手机字体调大后放大镜效果错乱，导致选择的日期和显示结果日期不匹配

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：安卓
- **Node 版本**：v10.4.1
- **NutUI 版本**：2.1.5
- **Vue 版本**：2.6.10
- **引用方式**：  CDN / NPM ？yarn

[2020-01-08 02:21] richard1015 commented on #193
@CyrusFeng    是否可以提供一下手机型号和相关使用场景， 内嵌APP 还是 H5

[2020-01-09 08:58] 603507931 opened #195 "设计稿750nutui是用350"
求问我项目中引用了px2rem-loader按照750设计稿大小来的，但是nutui是用350设计稿大小来的，这个怎么处理哈

[2020-01-09 13:14] #190 closed

[2020-01-09 13:14] #187 closed

[2020-01-09 13:14] richard1015 commented on #182
@Ymm0008

[2020-01-09 13:14] #182 closed

[2020-01-09 13:15] #181 closed

[2020-01-09 13:16] #160 closed

[2020-01-09 13:18] richard1015 commented on #155
@main2018   Popup组件来了，满足你的需求上下左右  http://nutui.jd.com/#/Popup

[2020-01-09 13:18] #155 closed

[2020-01-10 01:41] wychengnuo commented on #191
滑动的时候，这个我自己解决了。
.nut-picker-list .nut-picker-item, .nut-picker-list .nut-picker-roller-item {
    height: 36px !important;
}
给这个一个高度，因为里面只写了line-height以至于有的手机会出现高度的错位情况

[2020-01-10 01:55] CyrusFeng commented on #193
@richard1015 华为meta30；在App中内嵌的H5；将手机系统字体调大后，调用datepicker组件滚动效果错乱。如：选择2019年后，但是返回结果却是2017年

[2020-01-10 02:34] moxunbai opened #196 "关于Dialog使用lockBgScroll: true属性设置时会把背景挤压的问题"
测试代码如下：
<template>
  <div id="app">

    <div style="width:88%;margin:auto;">
      <nut-button @click="showDialog" block >
        测试1
      </nut-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  methods:{
    showDialog(){
      this.$dialog({lockBgScroll: true,  title: '这里是测试啊啊啊阿 !'});
    }
  }
}

[2020-01-10 02:37] 603507931 commented on #195
比如设计稿750使用postcss-px2rem会导致样式崩塌
解决方法：
卸载postcss-px2rem： npm uninstall postcss-px2rem
安装postcss-px2rem-exclude：npm i postcss-px2rem-exclude -D
在根目录.postcssrc.js文件夹下写入
module.exports = {
  plugins: {
    'autoprefixer': {
      browsers: ['Android >= 4.0', 'iOS >= 7']
    },
    'postcss-px2rem-exclude': {
      remUnit: 75,//结果为：设计稿元素尺寸/16，比如元素宽320px,最终页面会换算成 20rem
      exclude: /node_modules/

[2020-01-10 02:38] moxunbai opened #197 "关于iOS上面ButtonGroup 按钮之间有空隙问题"
使用测试的手机为 iPhone 6s  Mac电脑上用Safari浏览器也试过，发现可以通过设置button样式的margin-left:0;margin-right:0;解决

[2020-01-10 05:32] richard1015 commented on #195
@603507931   👍

[2020-01-10 05:32] #195 closed

[2020-01-10 05:38] #191 closed

[2020-01-10 05:39] richard1015 commented on #197
项目一般都有 reset.css 来处理这个问题

[2020-01-10 05:39] #197 closed

[2020-01-10 07:23] lively-qcy opened #198 "[bug] Actionsheet 选项太多时候内容展示不全，不能滚动"
## 问题描述

如图，选项过多，不能滚动，遮挡了列表页，实际滚动还是在滚动列表页，内容展示不全

![image](https://user-images.githubusercontent.com/39941460/72133523-9f6fe480-33bc-11ea-8810-15d7316eec3d.png)

## 预期的行为和实际行为
组件可以设置一个高度，进行滚动展示选项，类似省市区的选择

## 相关环境信息
- **操作系统**：win10
- **Node 版本**：11.2
- **NutUI 版本**：2.1.9
- **Vue 版本**：2.6.10
- **引用方式**：  NPM

[2020-01-13 04:03] Guanxiaodan commented on #169
overflow:scroll也不能出现

[2020-01-13 04:39] richard1015 commented on #169
如果还是有问题，可以提供一个最小可复现仓库

[2020-01-13 06:56] irisSong commented on #192
暂时不支持，已记录，请关注后续更新。

[2020-01-13 06:58] irisSong commented on #198
数据较多的话，可考虑使用Picker组件，

[2020-01-15 06:34] #192 closed

[2020-01-17 06:21] richard1015 commented on #193
@CyrusFeng    尝试一下 #191 解决方案

[2020-01-17 06:26] richard1015 opened #199 "InfiniteLoading keep-alive 场景scoll事件未卸载 [bug]"
## 问题描述

关于InfiniteLoading ；因为我路由加了keep-alive，我在A页面中用了InfiniteLoading ，路由到B页面后B页面也还能触发A页面的scoll事件，我怀疑是不是keep-alive的情况下没有触发InfiniteLoading 的destroyed啊，，，有没有啥办法在B页面不触发，并且返回A页面后A的InfiniteLoading 也还正常使用？

[2020-01-17 06:28] richard1015 commented on #199
v2.1.9 以下版本解决方案
[code]

[2020-01-17 08:29] guoxiao158 commented on #196
能把这个挤压具体描述一下吗，是因为个body加了fix导致的吗？

[2020-01-17 08:43] guoxiao158 commented on #170
<nut-cell :isLink="true" :showIcon="true">
                <span slot="title">我是主标题</span>
                <span slot="sub-title">我是副标，我们都是通过Slot分发的</span>
                <span slot="desc">我是描述</span>
            </nut-cell>

参考以上写法，暂未复现

[2020-01-17 08:44] guoxiao158 commented on #170
` <nut-cell :isLink="true" :showIcon="true">
                <span slot="title">我是主标题</span>
                <span slot="sub-title">我是副标，我们都是通过Slot分发的</span>
                <span slot="desc">我是描述</span>
            </nut-cell>`
参考以上写法，暂无复现所说的 subTitle的slot写了没有效果

[2020-01-19 01:33] moxunbai commented on #196
应该是的，去掉好像正常了

[2020-01-22 03:10] xiaoxiaotudou opened #200 "[question] Textbox数据怎么回显呢"
你好，我想知道Textbox数据怎么回显呢

[2020-01-28 03:26] chenyucheng opened #201 "[question]"
## 你想知道什么？

问一下 额外的问题：npm 发布的私有包，必须要付费吗？ 比如 你们发的 这个 @nutui/nutui

[2020-01-28 05:52] #201 closed

[2020-01-28 05:52] chenyucheng commented on #201
解决了

[2020-02-03 11:07] guoxiao158 commented on #200
`inputText(val){
           alert(val);
      }`

使用inputText事件

[2020-02-07 09:46] wsxgs opened #202 "地址选择 picker 自定义数据 数据修改后，选中值没有修改"
示例页面就有这个问题
![image](https://user-images.githubusercontent.com/30249531/74019006-d8a66f00-49d1-11ea-8f40-41f2730d17b5.png)

![image](https://user-images.githubusercontent.com/30249531/74018832-8f561f80-49d1-11ea-97fb-366864cfc82f.png)
想问下怎么触发选中值修改， 以及重新选择省，市和区默认划回第一条数据

[2020-02-08 13:42] FatDong1 commented on #202
#203 demo示例的问题

[2020-02-11 03:56] clarence-zhi opened #204 "[question]"
textbox 如何设置 v-model

[2020-02-12 05:19] #199 closed

[2020-02-12 05:35] #198 closed

[2020-02-12 05:35] #193 closed

[2020-02-12 05:36] #196 closed

[2020-02-12 06:11] #154 closed

[2020-02-13 12:44] Draymonders commented on #189
二维码过期了

[2020-02-13 15:34] richard1015 commented on #189
已更新

[2020-02-14 13:08] g1012415019 opened #205 "Dialog和Toast 能提供函数式调用吗?"
## 调用Dialog时使用
Dialog.alert({
  title: '标题',
  message: '弹窗内容'
}).then(() => {
  // on close
});
## 调用Toast时使用
Toast.loading({
  message: '加载中...',
  forbidClick: true
});
提供这样类似的函数调用

[2020-02-15 01:35] g1012415019 opened #206 "图标组件能提供自定义图标功能吗？"
可以引入第三方 iconfont 对应的字体文件和 CSS 文件，之后就可以在 Icon 组件中直接使用

[2020-02-18 02:36] richard1015 commented on #205
[code]

[2020-02-18 02:36] #205 closed

[2020-02-19 06:34] g1012415019 commented on #205
我想在一个类中调用 Toast组件
`import toast from "@/util/toast";

  //通过这种方式把当前页面的vue对象传入进去
 toast.text.call(this, err.msg);
`
所以想问有没有一个Toast的全局对象,通过这个对象来调用

[2020-02-21 06:25] richard1015 opened #207 "[bug]Stepper步进器组件触发多次change事件"
## 问题描述

当使用@add @reduce @change 事件时、add和reduce 会触发2次 change事件
## 最小可复现仓库

## 预期的行为和实际行为
期望  add、reduce 触发时，不触发change事件

## 复现步骤，具体代码

## 相关环境信息

- **NutUI 版本**：2.2.0
- **引用方式**：  NPM

[2020-02-21 06:34] richard1015 opened #208 "[suggest]backTop组件"
## 你建议我们做什么？

当h5 body、html 高度为100% 时， backTop组件回到顶部无法触发

期望 新增参数来控制  实际容器scrollHeight 或者 window.scrollHeight 来判断计算

## 其它

无

[2020-02-22 03:28] g1012415019 opened #209 "在一个js类中调用 Toast组件,请问一下怎样调用？"
//现在是通过这种方式把当前页面的vue对象传入进去
`import toast from "@/util/toast";
toast.text.call(this, err.msg);
`
所以想问有没有一个Toast的全局对象,通过这个对象来调用

[2020-02-22 03:31] g1012415019 commented on #189
二维码过期了

[2020-02-24 00:42] richard1015 commented on #209
[code]

[2020-02-24 00:42] #209 closed

[2020-02-26 00:54] richard1015 opened #210 "[bug]Dialog组件过渡动画失效"
## 问题描述

http://nutui.jd.com/demo.html#/Dialog
dialog 在ios 13.3 chrome 打开时，过渡动画失效

## 相关环境信息
- **操作系统**：ios 13.3
- **NutUI 版本**：2.2.0
- **引用方式**：  NPM

[2020-02-26 02:56] richard1015 opened #211 "[bug]Popup组件初始化状态 true时，mask阴影无法显示"
## 问题描述

![image](https://user-images.githubusercontent.com/13060263/75307286-4f72b180-5886-11ea-9da3-a701166b57bb.png)

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：2.2.0
- **Vue 版本**：
- **引用方式**：   NPM

[2020-02-26 13:54] g1012415019 opened #212 "文件上传组件可以调用移动端摄像头吗"
你好，我想知道这个项目是否可以，调起移动端摄像头吗？

[2020-02-27 07:54] richard1015 commented on #212
暂时不支持，我们这边已经记录

[2020-02-27 08:26] XSun771 opened #213 "[question]请问NutUI通过CDN引入后的全局变量名为什么？如何结合webpack的externals技巧排除？"
## 你想知道什么？
webpack 的 externals ：
https://webpack.js.org/configuration/externals/

[code]
请问问号处写什么？

能否将其补充到说明文档中CDN引入的章节部分？

[2020-02-27 08:42] richard1015 commented on #213
全局变量叫 nutui，会挂载到window对象下，这边已经记录，下版本说明文档将会更新

[code]

[2020-02-28 06:53] richard1015 opened #214 "[suggest]建议TextBox组件新增v-model属性"
## 你建议我们做什么？

建议TextBox组件新增v-model属性

## 其它

无

[2020-02-28 06:54] #168 closed

[2020-02-28 06:55] richard1015 commented on #131
http://nutui.jd.com/#/LeftSlip

[2020-02-28 06:55] #131 closed

[2020-02-28 06:56] #16 closed

[2020-02-28 06:57] richard1015 commented on #77
https://github.com/jdf2e/nutui/blob/master/src/packages/infiniteloading/demo.vue

[2020-02-28 06:57] #77 closed

[2020-02-28 18:07] sulin2018 opened #215 "[bug] TabPanel不是响应式的？"
## 问题描述

[code]
示例中修改, edittabTabs UI不会变动。

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2020-03-02 02:09] zhenyulei commented on #215
你好，nut-tab-panel 组件并不能单独使用，是nut-tab的子组件，需和nut-tab配合使用，详见Tab组件的说明文档，
另外确认一下，vue是否正确监听了数组更新：
https://cn.vuejs.org/v2/guide/list.html#数组更新检测
如果调用方法正确，请给出详细的使用情况，最好能够提供可复现的代码，多谢！

[2020-03-02 02:09] zhenyulei commented on #215
你好，nut-tab-panel 组件并不能单独使用，是nut-tab的子组件，需和nut-tab配合使用，详见Tab组件的说明文档，
另外确认一下，vue是否正确监听了数组更新：
https://cn.vuejs.org/v2/guide/list.html#数组更新检测
如果调用方法正确，请给出详细的使用情况，最好能够提供可复现的代码，多谢！

[2020-03-02 03:46] zhenyulei commented on #215
已修复，待上线后可以使用，如需要更新页面，请将监听变化的数据传入init-data

[2020-03-02 06:19] richard1015 opened #216 "[suggest]建议uploader组件"
## 你建议我们做什么？

现在uploader组件 选择文件后，会直接进行上传

期望
- 新增一个上传前置钩子（用于用户自定义拦截）
- 新增用户 主动调用 上传功能（非当前场景：文件选择后立即上传）

## 其它

无

[2020-03-04 09:21] farmercz opened #217 "2.2.0 Menu 样式错乱[bug]"
本来想使用TextBox 就update 2.2.0 ， 结果发现 Menu 样式错乱。

[2020-03-04 11:02] richard1015 commented on #217
好的，这边马上开始修复

[2020-03-04 11:35] gentlefung opened #218 "如何局部覆盖样式"
## 你想知道什么？

你好，我想知道这个项目是否可以...

## 描述你考虑过的替代方案

我想...

## 其它

无

[2020-03-05 03:28] zhenyulei commented on #215
已经上线 请见最后一个demo 将监听变化的数据传入init-data

[2020-03-05 03:36] richard1015 commented on #218
请参考主体化定制说明文档http://nutui.jd.com/#/theme
也可参考 多种示例demo  https://github.com/richard1015/nutui-demo

[2020-03-09 01:56] zhenyulei commented on #215
你好 已经上线 请将监听变化的数据传入init-data 也可以参考官网最后一个demo示例

[2020-03-09 01:57] zhenyulei commented on #215
你好 已经上线 请将监听变化的数据传入init-data 也可以参考官网最后一个demo示例

[2020-03-13 03:15] #46 closed

[2020-03-13 03:15] richard1015 commented on #54
请升级最新版本进行测试

[2020-03-13 03:15] #54 closed

[2020-03-13 03:17] #88 closed

[2020-03-13 03:17] richard1015 commented on #88
请升级最新版本，进行测试

[2020-03-13 10:28] g1012415019 opened #220 "nut-picker 问题"
## 问题描述

1. 页面 多个nut-picker 时  nut-picker 联动后 第二个nut-picker显示空白，
2. 异步请求后 nut-picker 没有手动选中第一个选项时，confirm 没有返回选中值

## 最小可复现仓库

 https://github.com/g1012415019/nutui-nut-picker-bug-dome.git
## 预期的行为和实际行为

## 相关环境信息
- **操作系统**：macOS cataline  10.15.3
- **Node 版本**： v10.0.0
- **NutUI 版本**：2.2.0
- **Vue 版本**：@vue/cli 4.1.1
- **引用方式**：  CDN / NPM ？ NPM

[2020-03-13 16:21] richard1015 commented on #220
已安排对于开发者跟进，请耐心等待

[2020-03-16 05:54] #207 closed

[2020-03-16 06:01] #215 closed

[2020-03-16 06:09] richard1015 commented on #208
v2.2.1 已更新

[2020-03-16 06:09] #208 closed

[2020-03-16 06:10] #213 closed

[2020-03-16 06:10] richard1015 commented on #211
2.2.1已修复

[2020-03-16 06:10] #211 closed

[2020-03-16 06:11] #170 closed

[2020-03-16 06:12] #144 closed

[2020-03-16 06:13] richard1015 commented on #113
http://nutui.jd.com/#/LeftSlip   左滑删除

[2020-03-16 06:13] #113 closed

[2020-03-16 06:17] #176 closed

[2020-03-16 07:19] richard1015 commented on #53
请升级最新版本

[2020-03-16 07:19] #53 closed

[2020-03-16 07:20] richard1015 commented on #51
请升级最新版本进行测试

[2020-03-16 07:20] #51 closed

[2020-03-17 04:37] 836438020 opened #221 "[question]请问有下拉刷新吗"
我想使用下拉刷新的功能
上拉加载已经用了

[2020-03-17 07:52] richard1015 commented on #221
http://nutui.jd.com/#/Scroller

[2020-03-17 07:52] #221 closed

[2020-03-17 12:41] 836438020 opened #222 "[bug]nut-scroller无法上拉加载 严重的大bug"
向上一拉就弹回来了
有时候还会变成出现下拉加载的
<nut-scroller
          :is-un-more="isNoMore"
          :is-loading="isLoading"
          :type="'vertical'"
          @loadMore="onInfinite"
          @pulldown="pulldown"

          <div slot="list" class="nut-vert-list-panel">
            <div class="nut-vert-list-item">
<ul><li></li></ul>
</div>
</div>
</nut-scroller>

[2020-03-18 00:58] richard1015 commented on #222
请提供详细复现代码，最好可以提供一个可复现仓库

[2020-03-18 09:45] z778856 opened #223 "[question]Flex.install(Vue); 报错"
## 你想知道什么？
错误提示
main.ts?bc82:19 Uncaught TypeError: _nutui_nutui_dist_packages_flex_flex_js__WEBPACK_IMPORTED_MODULE_20___default.a.install is not a function

## 描述你考虑过的替代方案
vue版本 4.2.3 nui版本2.2.1
## 其它

无

[2020-03-18 09:47] z778856 commented on #189
申请了

[2020-03-19 01:13] richard1015 commented on #223
https://github.com/richard1015/nutui-demo/tree/master/typescript

[2020-03-19 01:13] #223 closed

[2020-03-19 01:18] richard1015 commented on #99
感谢您的反馈 ，按需加载 请参考以下使用方式

[code]

[code]

[2020-03-19 01:18] #99 closed

[2020-03-19 01:19] richard1015 commented on #117
请升级最新版本进行测试

[2020-03-19 01:19] #117 closed

[2020-03-19 01:20] #10 closed

[2020-03-19 01:21] #14 closed

[2020-03-19 01:21] #18 closed

[2020-03-19 01:21] #49 closed

[2020-03-19 01:22] richard1015 commented on #60
请升级最近版本进行测试

[2020-03-19 01:22] #60 closed

[2020-03-19 01:24] #32 closed

[2020-03-19 01:25] #19 closed

[2020-03-19 01:25] #92 closed

[2020-03-19 01:26] richard1015 commented on #108
请参考官方文档

[2020-03-19 01:26] #108 closed

[2020-03-19 01:26] #217 closed

[2020-03-19 01:27] #107 closed

[2020-03-19 03:12] richard1015 commented on #164
@atongmu   请采用根节点 fixed大法
https://segmentfault.com/a/1190000010510291

[2020-03-19 03:12] #164 closed

[2020-03-19 03:12] richard1015 commented on #164
专治各种ios问题

[2020-03-19 04:09] irisSong commented on #220
1、初始化数据直接[],不要[[]]。

[2020-03-19 04:13] irisSong commented on #220
按照以下建议修改代码，可解决上述问题。1、更新数据使用this.$set()这个方法。2、初始化数据，直接[],不要[[]]。

[2020-03-19 07:12] richard1015 commented on #67
请升级最新版本进行测试

[2020-03-19 07:12] #67 closed

[2020-03-19 07:12] #152 closed

[2020-03-19 07:13] richard1015 commented on #150
请参考最新文档

[2020-03-19 07:13] #150 closed

[2020-03-19 07:14] richard1015 commented on #135
Prop 的大小写 (camelCase vs kebab-case)
HTML 中的特性名是大小写不敏感的，所以浏览器会把所有大写字符解释为小写字符。这意味着当你使用 DOM 中的模板时，camelCase (驼峰命名法) 的 prop 名需要使用其等价的 kebab-case (短横线分隔命名) 命名

[2020-03-19 07:14] #135 closed

[2020-03-19 07:15] richard1015 commented on #222
目前测试官方demo，是没问题的，请仔细阅读官网文档

[2020-03-19 07:15] #222 closed

[2020-03-19 07:15] #218 closed

[2020-03-19 07:18] #185 closed

[2020-03-19 07:18] #138 closed

[2020-03-19 07:19] #153 closed

[2020-03-19 07:22] richard1015 commented on #149
源码内部 tabbarList 没有做watch监听，辛苦玉磊修复一下这个问题

[2020-03-19 07:24] richard1015 commented on #133
https://cn.vuejs.org/v2/api/#v-on

click.native

[2020-03-19 07:24] #133 closed

[2020-03-19 11:18] richard1015 commented on #110
http://nutui.jd.com/#/Scroller

改功能已添加，请升级最新版本

[2020-03-19 11:18] #110 closed

[2020-03-24 06:38] richard1015 commented on #89
请升级最新版本进行测试

[2020-03-24 06:38] #89 closed

[2020-03-24 06:38] #134 closed

[2020-03-24 08:38] zhenyulei commented on #149
经验证可以在demo中改变数据，页面更新 见下图：
![image](https://img11.360buyimg.com/imagetools/jfs/t1/103036/27/16328/399256/5e79c6efE880e71b8/61440fceb42ccdb9.jpg)

[2020-03-24 08:38] #149 closed

[2020-03-25 04:02] Hello-Huxu opened #227 "nut-range绑定的值无法更新到组件"
:rangeValues.sync
目前我的需求是需要重置绑定的值，但是值改变了但无法更新改组件，感觉与vue视图无关，$set无效

[2020-03-25 13:36] richard1015 commented on #206
开发小哥正在处理中

[2020-03-29 09:35] lichaoqiang opened #228 "[bug]nut-countdown异步计算属性"
## 问题描述

**通过异步获取数据，绑定到endTime属性，出现undefined。**
coutdown源码内部，enTime接收时只读。意味着，需要先初始化，初始化后不能更改，也就是单向绑定。。
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：2.1
- **Vue 版本**：
- **引用方式**： NPM

[2020-03-30 07:33] guoxiao158 commented on #210
一下是我的操作系统，目前在13.3.1的谷歌浏览器上暂无发现该bug，希望提供更详细的数据，谢谢

感谢使用nutui.

![微信图片_20200330152855](https://user-images.githubusercontent.com/23353280/77886606-c216e880-729b-11ea-9867-35513461662e.jpg)

[2020-03-31 12:07] TJ666 opened #229 "[bug]左滑删除组件，当y轴移动超过40px时，逻辑未处理到，导致滑动一半未收回"
## 问题描述
左滑删除组件，当y轴移动超过40px时，逻辑未处理到，导致滑动一半未收回。比如touchStart在某个列表项，touchEnd时在其他列表项时，会出现滑动展示不全问题

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：
MAC
- **Node 版本**：
10+
- **NutUI 版本**：
2.2.0
- **Vue 版本**：
2
- **引用方式**：  CDN / NPM ？
YARN

[2020-04-01 02:48] Hello-Huxu commented on #227
这个问题2.2.2版本还没有解决，时间赶，想要解决这个问题的童鞋可以把该组件直接拉到本地，定义一个方法重置一些值即可，好像不能贴图，具体改哪些，自己看看组件数据就知道了

[2020-04-01 05:28] #228 closed

[2020-04-01 05:30] richard1015 commented on #227
期望提供一个  最小可复现仓库，方便这边开发人员进行复现跟进

[2020-04-01 05:30] #214 closed

[2020-04-01 05:30] #210 closed

[2020-04-01 05:31] #220 closed

[2020-04-01 05:32] richard1015 commented on #200
请升级最近版本进行测试

[2020-04-01 05:32] #200 closed

[2020-04-01 05:32] #106 closed

[2020-04-01 05:32] richard1015 commented on #106
请升级最新版本进行测试

[2020-04-01 05:33] richard1015 commented on #132
请升级最新版本进行测试

[2020-04-01 05:33] #132 closed

[2020-04-01 05:33] #148 closed

[2020-04-01 05:35] #180 closed

[2020-04-01 05:35] #151 closed

[2020-04-01 07:07] Hello-Huxu commented on #227
ok，我发群里

[2020-04-01 08:12] undo03 commented on #227
上次修复的时候理解有偏差，少watch了一个prop，现已修修复

[2020-04-02 01:07] richard1015 commented on #229
感谢您的反馈 @TJ666

[2020-04-02 03:50] RemiHoston opened #230 "NutUI最新的版本按照文档安装引入找不到模块"
是文档过时了还是 最新的版本不稳定呢?

import NutUI from '@nutui/nutui'

====================

* @nutui/nutui in ./src/main.js

To install it, you can run: npm install --save @nutui/nutui

[2020-04-02 03:55] RemiHoston commented on #230
Version 2.2.2

[2020-04-02 06:37] richard1015 commented on #230
2.2.2版本 建议先采用按需加载模式

 import { Button, Toast, Infiniteloading, Swiper, Switch } from '@nutui/nutui';
 console.log(Button, Toast, Infiniteloading, Swiper, Switch)
 Button.install(Vue);
 Switch.install(Vue);

[2020-04-02 07:07] richard1015 commented on #230
v2.2.2 修复包  替换 项目下 node_module/@nutui/nutui/dist 即可
[dist.zip](https://github.com/jdf2e/nutui/files/4419344/dist.zip)

[2020-04-02 14:00] jendy2012 opened #231 "关于Tabbar的问题重复点击一个TAB的时候会报错"
![image](https://user-images.githubusercontent.com/2418263/78258084-4b911980-752d-11ea-9128-203a35eef33b.png)

[2020-04-02 14:26] richard1015 opened #232 "[suggest] Infiniteloading 无限加载组件"
## 建议我们做什么？

现在组件默认监听滚动容器为window对象，无法监听指定容器

当前场景如果用 Scroller 会导致 滑动不流畅，事件无法穿透等问题

希望支持监听指定容器

## 其它

无

[2020-04-02 14:28] richard1015 commented on #231
感谢您的反馈，我们这边尽快跟进此问题

[2020-04-02 14:29] richard1015 commented on #119
请升级最新版本进行测试

[2020-04-02 14:29] #119 closed

[2020-04-02 14:29] #129 closed

[2020-04-03 02:04] zhenyulei commented on #231
您好 感谢您的反馈 问题已经修复 在下个版本中更新此问题～

[2020-04-03 11:00] richard1015 commented on #231
2.2.3已解决

[2020-04-03 11:00] #231 closed

[2020-04-03 11:01] richard1015 commented on #230
最新版已解决，感谢您的反馈 @RemiHoston

[2020-04-03 11:01] #230 closed

[2020-04-03 11:11] richard1015 commented on #227
2.2.3已解决

[2020-04-03 11:11] #227 closed

[2020-04-03 11:11] richard1015 commented on #216
2.2.3已解决

[2020-04-03 11:11] #216 closed

[2020-04-03 11:12] richard1015 commented on #202
最新版已解决 ，感谢 @FatDong1

[2020-04-03 11:12] #202 closed

[2020-04-04 05:20] richard1015 commented on #204
请升级最新版本进行测试

[2020-04-04 05:20] #204 closed

[2020-04-04 05:27] richard1015 commented on #125
最新版本已支持

[2020-04-04 05:27] #125 closed

[2020-04-06 06:22] Helen403 commented on #231
Tabbar的选中颜色和未选中颜色可以设置吗？

[2020-04-06 06:23] Helen403 opened #233 "tabbar默认字体颜色和选中颜色可以设置吗？"
## 你想知道什么？

你好，我想知道这个项目是否可以...

## 描述你考虑过的替代方案

我想...

## 其它

无

[2020-04-08 05:32] zhenyulei commented on #233
这个可以自己通过覆盖样式来改变

[2020-04-09 03:01] renleiabc commented on #50
我现在用的就是最新版本，但是问题依然存在

[2020-04-09 03:02] renleiabc commented on #50
需要定制样式，按完整组件方式引入，根据官方文档在引入了import '@nutui/nutui/nutui.scss';之后，报错找不到文件。看了下node_modules文件夹下，并没有这个文件，dist下面倒是有。
将路径改为import '@nutui/nutui/dist/nutui.scss';之后，进而又报图片未找到的错误，信息如下：

* ../../assets/img/img-error.png in ./node_modules/css-loader??ref--6-oneOf-1-1!./node_modules/postcss-loader/src??ref--6-oneOf-1-2!./node_modules/sass-loader/lib/loader.js??ref--6-oneOf-1-3!./node_modules/@nutui/nutui/dist/

[2020-04-09 03:21] richard1015 commented on #50
@renleiabc   请参考demo   https://github.com/richard1015/nutui-demo

[2020-04-09 03:24] renleiabc commented on #50
我这个是在nuxt当中使用的，不是在vue-cli3上使用的，请问有什么解决的办法吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "richard1015"<notifications@github.com&gt;;
发送时间: 2020年4月9日(星期四) 中午11:21
收件人: "jdf2e/nutui"<nutui@noreply.github.com&gt;;
抄送: "海阔天空"<421796896@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [jdf2e/nutui] scss引入报错 (#50)

@renleiabc   请参考demo   https://github.com/richard1015/nutui-de

[2020-04-09 03:24] renleiabc commented on #50
我这个是在nuxt当中使用的，不是在vue-cli3上使用的，请问有什么解决的办法吗？

[2020-04-09 03:26] richard1015 commented on #50
好的，我这边尽快跟进一下

[2020-04-09 03:27] renleiabc commented on #156
采用这个方法，引入@nutui/nutui/dist/styles/index.scss还是无效，无法解决问题

[2020-04-09 03:27] renleiabc commented on #50
谢谢啦

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "richard1015"<notifications@github.com&gt;;
发送时间: 2020年4月9日(星期四) 中午11:26
收件人: "jdf2e/nutui"<nutui@noreply.github.com&gt;;
抄送: "海阔天空"<421796896@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [jdf2e/nutui] scss引入报错 (#50)

我这个是在nuxt当中使用的，不是在vue-cli3上使用的，请问有什么解决的办法吗？
 …
 ------------------&nbsp;原始邮件&nbsp;------------------ 发

[2020-04-09 03:31] renleiabc commented on #156
@richard1015 采用你那个方法，还是无效，请问还有什么还的建议吗？

[2020-04-09 05:33] richard1015 commented on #156
先加一下微信把，方便及时沟通  zhida51844712

[2020-04-09 05:36] renleiabc commented on #156
加了

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "richard1015"<notifications@github.com&gt;;
发送时间: 2020年4月9日(星期四) 中午1:34
收件人: "jdf2e/nutui"<nutui@noreply.github.com&gt;;
抄送: "海阔天空"<421796896@qq.com&gt;; "Comment"<comment@noreply.github.com&gt;;
主题: Re: [jdf2e/nutui] nuxt中如何改变主题 (#156)

@richard1015 采用你那个方法，还是无效，请问还有什么还的建议吗？

先加一下微信把，方便及时沟通  zhida51844712

—
You are receiving this beca

[2020-04-13 03:16] richard1015 opened #234 "[bug] video组件 source 数据更新无法切换"
## 问题描述

[bug] video组件 source 数据更新无法切换

## 最小可复现仓库

## 预期的行为和实际行为
期望正常切换

## 相关环境信息
- **NutUI 版本**：2.2.3
- **引用方式**：  NPM

[2020-04-13 03:17] #233 closed

[2020-04-16 08:11] yalan-git opened #235 "[bug]searchbar 的focus事件无响应"
<nut-searchbar
          placeText="商品关键词或货号"
          :hasIcon="true"
          :hasTextButton="true"
          textInfo="搜索"
          customClass="search_input"
          class="my_nav"
          @focus="searchSuppliers"

获取焦点无反应

[2020-04-17 07:34] zjyau opened #236 "[suggest]ImagePicker建议增加长按的时间,现在是500,太少了"
ImagePicker建议增加长按的时间,现在是500,太少了

[2020-04-19 15:31] richard1015 commented on #236
感谢您的反馈，我们近期，为开发者提供对应参数，供开发者自行修改、调整

[2020-04-20 07:51] richard1015 opened #237 "[bug]CountDown 页面切换时，定时器未销毁"

[2020-04-21 02:58] szg2008 commented on #236
@zjyau 您好，问题已修复，月底发布新版本2.2.4，到时候就可以使用了

[2020-04-22 00:15] zjyau commented on #236
非常感谢

[2020-04-22 00:15] #236 closed

[2020-04-24 09:17] zjyau opened #238 "[bug]TabSelect多选时,选中再取消选中,已选的item还处在,并没有移除"
TabSelect多选时,### **选中再取消选中,已选的item还处在,并没有移除**

还有这个  item里的属性只有content和subTit,是否给用户自己扩展属性?

[2020-04-24 17:44] zjyau commented on #238
已经处理

[2020-04-24 17:44] #238 closed

[2020-04-26 02:21] richard1015 commented on #232
v2 已修复

[2020-04-26 02:21] #232 closed

[2020-04-26 03:53] xchd opened #241 "tab组件"
##tab组件高度，背景色样式的修改
<nut-tab @tab-switch="tabSwitch">
    <nut-tab-panel tab-title="页签1">页签1</nut-tab-panel>
    <nut-tab-panel tab-title="页签2">页签2</nut-tab-panel>
    <nut-tab-panel tab-title="页签3">页签3</nut-tab-panel>
</nut-tab>

发现nut-tab背景色不能修改,nut-tab-item是200px,无法容纳内容

[2020-04-29 01:10] richard1015 commented on #241
需要充值样式的 style 标签避免使用  scoped 否则只会局部生效

[2020-04-29 01:10] #241 closed

[2020-04-29 03:51] clearlove7777777 opened #242 "[bug] range 属性 stage 失效"
range 这个 stage 为什么失效

[2020-04-29 15:08] #237 closed

[2020-04-29 15:09] #235 closed

[2020-04-29 15:33] #62 closed

[2020-04-29 15:33] #103 closed

[2020-04-29 15:33] #109 closed

[2020-04-29 15:33] #158 closed

[2020-04-29 15:33] #206 closed

[2020-04-29 15:33] #234 closed

[2020-04-29 15:35] richard1015 commented on #136
请升级最新版本，并且参考demo
 https://github.com/richard1015/nutui-demo

[2020-04-29 15:35] #136 closed

[2020-04-30 05:16] qzd1989 opened #243 "dialog在安卓微信浏览器的显示有BUG"
官方demo - "操作反馈" - "dialog" - "窗体内部滚动不影响页面滚动" 这个演示 在 安卓(小米)微信浏览器里有显示BUG,无法拖动,下面的按钮也不见了.  苹果微信OK. 外部浏览器OK.

[2020-05-11 09:06] ljk-study opened #244 "[bug]button组件文档错误"
<nut-button-group><nut-button-group>

实际上应该是
<nut-buttongroup></nut-buttongroup>

## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2020-05-12 00:45] wangjun521 commented on #85
哇  这个真的有

[2020-05-12 13:40] wuguobin123 opened #247 "[bug]使用省市区联动组件初始化报错"
## 问题描述

demo的数据虽然可以正常使用，但是具有特殊性。当换成正常的省市区数据时，页面初始化会报错。
原因是获取数据的方式上存在问题：
正确的代码如下：
created() {
    this.listData = [
      ...[this.listData[0]],
      this.data[this.listData[0][0]],
      this.dataSub[this.data[this.listData[0][0]][0]]
    ];
  },

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2020-05-12 13:45] wuguobin123 opened #248 "[bug]省市区设计思路问题"
## 问题描述

省市区组件的设计思路是用中文进行匹配，这样会遇到在直辖市一级时，会出现重复的数据，如重庆市和上海市（都有“县”和辖”），这样进行匹配的时候数据就会串。

暂时解决方案：可以将县和辖的数据进行合并；或者对相同的中文数据进行重定义来区分。
一劳永逸的方案：利用唯一的ID值来进行数据的匹配查询。

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2020-05-13 12:28] qsjc opened #249 "scroller组件可以自定义上拉和下拉的有无嘛?"
## 你建议我们做什么？

可以定义scroller有单独的上拉或者下拉功能嘛? 而不是同时存在
因为有些页面真的是不需要下拉
另外滚动感觉不是很流畅哎 惯性好低

[2020-05-14 01:06] richard1015 commented on #249
感谢您的反馈，我们近期优化一下这个问题

[2020-05-14 01:07] richard1015 commented on #248
月底新版本  会新增一个地址组件了，敬请期待

[2020-05-14 01:10] wangjun521 commented on #249
感谢回复  因为有时候可能只是想要个滚动或者单纯某一项
毕竟会比浏览器原生的滚动体验更棒
期待早日更新呀

[2020-05-14 01:11] richard1015 commented on #249
流畅的滚动 你可以采用 [ InfiniteLoading](http://nutui.jd.com/#/InfiniteLoading) 无限加载组件

[2020-05-14 01:13] wangjun521 commented on #249
这个明白的 只不过项目中基本 是用不到这个组件的  hhhh

[2020-05-14 03:10] richard1015 commented on #244
实际上应该是 ？  请补充一下

[2020-05-14 13:21] richard1015 commented on #244
已修改，感谢您的反馈

[2020-05-14 13:21] #244 closed

[2020-05-14 13:22] richard1015 commented on #242
@undo03   尽快再次优化一下

[2020-05-14 13:24] richard1015 commented on #247
月底新版本 会新增一个地址组件了，敬请期待

[2020-05-14 13:24] richard1015 commented on #157
月底新版本 会新增一个地址组件了，敬请期待

[2020-05-14 13:27] #163 closed

[2020-05-19 08:57] reidsu opened #252 "[bug]SideNavBar组件，嵌套使用时，如果一个层级引入了多个<nut-subsidenavbar>,会导致第二个<nut-subsidenavbar>的offset计算错误"
代码如下：

          <nut-subsidenavbar title="智能城市AI" ikey="6">
            <nut-subsidenavbar title="人体识别1" ikey="9">
              <nut-sidenavbaritem ikey="10" title="人体检测1"></nut-sidenavbaritem>
              <nut-sidenavbaritem ikey="11" title="细粒度人像分割1"></nut-sidenavbaritem>
            </nut-subsidenavbar>
            <nut-subsidenavbar title="人体识别2" ikey="12">
              <nut-sidenavbarite

[2020-05-20 02:27] carpenterzoe opened #253 "Rate 评分组件，无法修改星星的颜色[question]"
## 问题描述

Rate 评分这个组件的颜色无法配置，也不能通过修改样式来修改。
固定一种红色，可能并不适用于很多项目的ui风格。

[2020-05-21 06:37] MangoTsing opened #254 "Tab组件展示demo，最下面禁止选中的动画[suggest]"
## Tab组件展示demo，最下面禁止选中的动画

选中tab时背景颜色没有transition太诡异了，而且下面的条条还有0.4s的过渡

如果稍微修改一下，把背景颜色搞成平移滑块的样式，和底部条条同步过渡会好看很多

起码让人觉得ui整体统一。

[2020-05-21 07:06] minteliuwm opened #255 "[suggest]官网对话框的demo存在滚动穿透的问题"
https://nutui.jd.com/#/Dialog 这里面的 demo 存在滚动穿透的问题，不清楚是否正常？

[2020-05-22 06:19] xts871722743 opened #256 "[question]Infiniteloading 组件在配合由定位实现的瀑布流的时候，滚动就会触发多次加载事件，怎么解决"
## 你想知道什么？

你好，我想知道这个项目是否可以...

## 描述你考虑过的替代方案

我想...

## 其它

无

[2020-05-22 07:07] albgjws opened #257 "[bug]video组件运行控制台会报错"
## 问题描述

错误提示：Uncaught DOMException: Failed to execute 'end' on 'TimeRanges': The index provided (0) is greater than or equal to the maximum bound (0).

## 最小可复现仓库

## 预期的行为和实际行为

![image](https://user-images.githubusercontent.com/19258900/82640856-ec52aa00-9c3d-11ea-8092-e89afb39c188.png)
源码中添加这个判断可以解决报错问题：
// 获取缓存时间
            getLoadTime() {
                // console.log('缓存了...',this.videoEl

[2020-05-22 08:23] albgjws opened #258 "[bug]video的autoplay 属性在ios不生效"
## 问题描述

video的autoplay 属性在ios不生效

## 最小可复现仓库

## 预期的行为和实际行为
安卓生效，ios不行

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2020-05-23 05:51] reidsu opened #261 "[bug]在部分安卓手机上关闭dialog的时候会有滚动异常"
使用了lockBgScroll属性后，在部分安卓手机上关闭dialog的时，会出现先滚动到最顶部，随后滚动到关闭dialog的位置。
  机型：部分华为原生浏览器、uc浏览器。

[2020-05-24 02:29] richard1015 commented on #256
是否可以提供一个最小复现代码

[2020-05-25 02:18] xts871722743 commented on #256
链接：https://sp6tv.csb.app/
在loadmore里面写的console，滚动就会触发

[2020-05-25 02:42] vickyYE commented on #258
请提供下最小可复现代码，我为您排查下

[2020-05-25 02:43] vickyYE commented on #257
新版会修复该问题

[2020-05-25 04:02] zhenyulei commented on #254
你好 感谢您的反馈 因为最后一个tab示例样式其实是用户来定义的【也就是在demo中自定义的】 tab组件的选中样式其实是前几个示例中展示的样子 选中后底部位置条移动 如果想要更好的效果 还请在组件外侧自定义哈

[2020-05-25 09:08] #254 closed

[2020-05-25 09:08] richard1015 commented on #247
v2.2.5 已新增地址组件

http://nutui.jd.com/#/Address

[2020-05-25 09:08] #247 closed

[2020-05-25 09:09] guoxiao158 commented on #243
原因是因为 fix 定位的兼容性问题，如果内容过多，建议使用pop组件

[2020-05-25 09:09] richard1015 commented on #157
v2.2.5 已新增地址组件

http://nutui.jd.com/#/Address

[2020-05-25 09:09] #157 closed

[2020-05-25 09:09] undo03 commented on #242
v2.2.5 已进行修复

[2020-05-25 09:09] #242 closed

[2020-05-25 09:09] richard1015 commented on #248
v2.2.5 已新增地址组件

http://nutui.jd.com/#/Address

[2020-05-25 09:09] #248 closed

[2020-05-25 09:10] richard1015 commented on #253
请先采用 自定义Icon 来实现此需求

[2020-05-25 09:10] #253 closed

[2020-05-25 09:12] guoxiao158 commented on #261
因为使用了 lockBgScroll  实际在全局加 fix定位，导致的fix兼容性问题，如果要使用该场景，推荐以下pop组件

[2020-05-25 09:12] #243 closed

[2020-05-25 09:41] #229 closed

[2020-05-26 02:17] wangjun521 opened #262 "[bug] swiper的销毁钩子内计时器清空无效"
## 问题描述
swiper 源码在销毁钩子内将计时器单单置为 null 是无用的 并不能清空掉计时器

## 预期的行为和实际行为
单页面应用  在销毁钩子以及 keepAlive 时的停用钩子里都需要 clear掉 计时器

[2020-05-26 05:56] yalan-git opened #263 "picker组件省市区自定义选择设置 defaultValueData无效"
picker组件省市区自定义选择设置 defaultValueData无效

传入的defaultValueData格式： [{label: '',value: ''}]

[2020-05-26 09:26] richard1015 commented on #262
好的，我这边跟进一下

[2020-05-26 09:27] richard1015 commented on #263
v2.2.5 已新增地址组件

http://nutui.jd.com/#/Address

[2020-05-26 13:18] szz19960815 opened #264 "[bug]"
nutbutton在chrome浏览器上windows和mac下均正常，但是在iphone下不管用什么浏览器都会出现按钮跑到右上角，当全局使用了position：static以后又丢失按钮高度，经测试发现当shape为circle时出现

[2020-05-27 00:48] richard1015 commented on #264
是否可以提供一个  可复现仓库

[2020-05-27 06:22] carpenterzoe commented on #253
谢谢，我已经用重写svg样式来暂时实现需求了。

[2020-05-27 10:00] szg2008 commented on #252
目前已在v2-dev分支上修复，等下个版本一起发布

[2020-05-28 09:33] ghostNv opened #265 "滚动插件清楚延时[question]"
loadMoreVert() {
            this.isLoading1 = true;
            if (this.page1 > this.maxPages) {
                this.isUnMore1 = true;
                this.isLoading1 = false;
            } else {
                clearTimeout(this.timers);
                this.timer = setTimeout(() => {
                    this.isLoading1 = false;
                    this.isUnMore1 = false;

[2020-05-28 10:59] #257 closed

[2020-05-28 13:22] richard1015 commented on #265
收到，感谢反馈

[2020-05-29 01:13] szz19960815 commented on #264
抱歉因为不是公司项目所以可能暂时没有办法提供复现仓库

[2020-05-29 01:13] szz19960815 commented on #264
抱歉因为不是公司项目所以可能暂时没有办法提供复现仓库

[2020-05-29 05:45] qingshubing opened #266 "[bug] TabBar 中的 curr 起不到默认选中的功能"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为
![image](https://user-images.githubusercontent.com/31761155/83225110-989e0e80-a1b1-11ea-9637-6322cfc1a0bb.png)

## 复现步骤，具体代码
源码中好像没有使用到   版本 "@nutui/nutui": "^2.2.4",
![image](https://user-images.githubusercontent.com/31761155/83225228-def36d80-a1b1-11ea-9145-26aa7b8c30d7.png)

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： "@nutui/nutui": "^2.2.4",
- **Vue

[2020-05-29 09:19] chenyuanguang opened #267 "datepicker"
[code]
startDate的小时设置不生效

[2020-05-29 16:03] richard1015 commented on #264
最小复现仓库呢，不包含公司代码

[2020-05-31 14:38] zjyau commented on #266
哈，这个已经处理 #268

[2020-05-31 14:50] zjyau commented on #68
@waitkafuka ，switch 这种场景可以这样
`<div v-for="(item, index) of datalist" :key="index">
<nut-switch @change="itemOnChange($event, item.id)">
</nut-switch>
</div>

 itemOnChange(status, id) {
   //status:ture/false
   //id para
 }`

[2020-06-01 03:04] richard1015 commented on #267
cdn 应用还是  npm ？

[2020-06-01 10:01] FENGHUIQING opened #269 "自定义主题，报错[question]"
![image](https://user-images.githubusercontent.com/10751077/83398396-dad58300-a431-11ea-95cb-f473f9aaa350.png)

[2020-06-01 10:01] FENGHUIQING commented on #269
Module build failed:
$assetsPath:'./assets/';
                                                                                     ^
      Invalid CSS after "...load the styles": expected 1 selector or at-rule, was "var content = requi"
      in E:\songyan\leader-web-mobile\node_modules\@nutui\nutui\dist\nutui.scss (line 1, column 87)

 @ ./src/main.js 12:0-38
 @ multi (webpack)-dev-server/client?

[2020-06-02 12:55] alennx opened #270 "[question]2.2.5版本的tab组件，没有了contentShow的控制变量"
2.2.5版本的tab组件没有考虑向下兼容吗？2.2.1前tab的contentShow没有了，后面会修复还是以后都会去掉，官网的api文档还有这个参数
![image](https://user-images.githubusercontent.com/13479374/83522531-607d2f80-a513-11ea-824d-72417829d1ec.png)

[2020-06-03 02:21] zhenyulei commented on #270
因为contentShow控制的是tab页签下面的区域是否展示，如果不展示请使用 tabbar组件，之后的版本也会在tab中删除这个属性  tab文档后续也会删除该属性

[2020-06-03 02:39] zhenyulei commented on #266
感谢反馈问题 以及在代码库中修复 之后上线后 更新

[2020-06-04 01:47] richard1015 commented on #269
请参考demo库

https://github.com/jdf2e/nutui-demo

[2020-06-04 01:47] #269 closed

[2020-06-04 01:48] #264 closed

[2020-06-04 01:48] #102 closed

[2020-06-04 01:52] #91 closed

[2020-06-04 02:23] xiaoruivip opened #271 "关于pxtorem的配置问题"
在文档中看到配置pxtorem 时rootValue 使用37.5 但是项目中使用37.5时会导致ui组件样式变小，我们项目的设计稿使用的是750请问改如何配置pxtorem

[2020-06-04 05:29] richard1015 commented on #271
#### postcss.config.js
[code]

[2020-06-04 05:29] #271 closed

[2020-06-04 10:14] bingo233 commented on #271
如果使用设置变量的方法不同的文件夹设置不同的rootValue会出现部分组件样式错乱
例如：**picker**组件中的 **.nut-picker-list-panel**元素是通过js生成的行内元素，这样外部盒子是转化成rem的而 **.nut-picker-list-panel** 没发通过pxtorem转换，导致样式错位
所以我使用的是以下解决方案，不对node_modules中的文件进行转换
vue.config.js
[code]

[2020-06-10 02:18] jokingzhang opened #276 "[suggest] 整一个PullRefresh下拉刷新组件"
## 你建议我们做什么？

现在...
没有PullRefresh下拉刷新组件
如果你能...
整一个PullRefresh下拉刷新组件
它将使...
下拉刷新更加方便
## 其它

无

[2020-06-10 06:43] richard1015 commented on #276
目前正处开发中，敬请期待

[2020-06-16 02:37] nocence opened #277 "nut-tab-panel动态渲染不上数据，怎么解决？"
<nut-tab class="part-title" @tab-switch="getChildSorts">
                    <nut-tab-panel v-for="(item,index) in partySorts" :tab-title="item.name" :key="index">
                     </nut-tab-panel>
 </nut-tab>
动态渲染nut-tab-panel的数据失败，试过 :tab-title，:tabtitle，tab-title的写法，都不行

[2020-06-16 06:55] richard1015 commented on #277
辛苦提供一个最小复现仓库

[2020-06-18 02:32] carpenterzoe opened #278 "DatePicker 限制了开始时间，但是开始时间之前的时间还能选择，期望禁用[bug]"
## 问题描述
DatePicker 限制了开始时间，但是开始时间之前的时间仍然能选择，期望能设置禁用开始时间之前的时间。

## 预期的行为和实际行为
期望能设置禁用开始时间之前的时间。

[2020-06-18 06:12] mhxy13867806343 opened #279 "[suggest]新增键盘组件"
## 你建议我们做什么？
1：自定义的键盘组件

现在...
键盘组件里面的数字能够在每次展示这个键盘组件时，数字的位置会随机变化，从而达到想要的效果
（不限于银行卡那种银行卡那种键盘）
如果你能...

它将使...

## 其它

无

[2020-06-18 06:13] richard1015 commented on #278
可以提供一个最小复现仓库

[2020-06-18 06:14] #261 closed

[2020-06-18 06:14] Ma-Tao007 opened #280 "电梯楼层加入左滑删除"
## 你建议我们做什么？
建议在电梯楼层的排版中加入左滑删除操作，可以自定义

[2020-06-18 11:19] carpenterzoe opened #281 "Popup 弹出层 这个组件直接把overflow hidden加到body上了，导致所有页面不能滚动[bug]"
## 问题描述

Popup 弹出层 这个组件直接把overflow hidden加到body上了，导致所有页面不能滚动

## 预期的行为和实际行为
.nut-overflow-hidden {
    overflow: hidden !important;
}
全局加的这个样式，在popup隐藏了之后也没有移除，导致全部其他页面都无法滚动。

[2020-06-19 05:02] richard1015 commented on #267
请提供一个最小复现仓库

[2020-06-19 05:02] #267 closed

[2020-06-19 11:13] #252 closed

[2020-06-19 11:14] richard1015 commented on #212
v2.2.6 已支持

[2020-06-19 11:14] #212 closed

[2020-06-19 11:15] #263 closed

[2020-06-19 12:23] #277 closed

[2020-06-19 12:23] #266 closed

[2020-06-20 08:28] Ma-Tao007 opened #282 "希望能出一个类elementUI的折叠面板功能"
## 你建议我们做什么？
希望能出一个类elementUI的折叠面板功能，
折叠面板在手机中的使用场景较多，之前写小程序的使用用到过，希望你们团队可以做出来一个，目前的公众号项目中也想使用折叠面板，但是nutui框架中没有

[2020-06-20 13:34] zjyau commented on #278
应该是这个问题，已经修复了 #275

[2020-06-21 16:00] carpenterzoe commented on #278
谢谢，请问是更新最新的包就可以了吗

[2020-06-22 03:41] carpenterzoe commented on #278
@zjyau 我重新删除再装过包，修改部分的代码好像并没有更新。。

[2020-06-22 07:40] zjyau commented on #278
@carpenterzoe  ,这块没更新，估计月底修复

[2020-06-23 01:26] yangkaixuan commented on #281
能提供下复现的demo吗？我这边没有找到复现规律，也可以加我微信，我来看下 yangkaixuan909319

[2020-06-23 02:09] qingshubing commented on #266
ok

[2020-06-23 02:30] richard1015 commented on #282
感谢反馈，我们近期跟进一下

[2020-06-23 08:20] carpenterzoe opened #286 "DatePicker 限制开始时间，minuteStep="10"，当前时间超过x点50分，最末位分钟展示不出来[bug]"
## 问题描述
例如，限制开始时间为 2020年6月23日 15:56
最末尾的分钟数 56会出现拿不到值的情况。
其他时间段暂时表现正常。

[2020-06-23 08:22] carpenterzoe commented on #281
在当前页弹出Popup，然后跳转到任意其他页面。
由于overflow: hidden加到了body上，所以其他页面滚动不了。
并且直接跳转到其他页，也触发不了popup close事件。
我目前采取的方法是离开页面时，自己手动清除这个class，暂时解决了。

[2020-06-23 08:27] carpenterzoe commented on #286
btw 使用时，minuteStep="10"

[2020-06-24 07:05] yangkaixuan commented on #281
了解了，下个版本修复

[2020-06-24 13:18] richard1015 commented on #286
感谢反馈，我们跟进一下

[2020-06-24 14:03] xukaishan opened #287 "datepicker 结束日期限制时 日期限制失败[bug]"
datepicker 结束日期限制时 日期限制失败，年月限制正常，日期会全部出现，比如我限制到2020-06-24，结果会出现2020-06-30
<nut-datepicker
      :is-visible="true"
      startDate="2020-06-01"
      end-date="2020-06-24"
      title="请选择日期"
      type="date"
  />
npm 安装使用

[2020-06-24 14:10] xukaishan opened #288 "自定义主题后，datepicker在ios真机场景下 样式错乱[bug]"
npm 安装
datepicker 使用自定义主题时，模拟器及安卓样式不会出现错乱，IOS真机出现样式错误，已排除px2rem转换，vue.config也已正常配置

[2020-06-24 22:47] zjyau commented on #287
#284  限制范围已经修复过了，master没更新

[2020-06-28 02:48] richard1015 commented on #288
参考 demo vue.config

https://github.com/jdf2e/nutui-demo/blob/master/base/vue.config.js

[2020-06-28 02:48] #288 closed

[2020-06-28 02:54] richard1015 commented on #287
复现仓库
https://codesandbox.io/s/nutui-cnd-test-i5h1p?file=/index.html

[2020-06-28 03:00] zjyau commented on #287
@richard1015 ，这个问题已经修复  #284  ，最新的DEV-2已经MERGED

[2020-06-28 10:04] yangxiaolu1993 opened #289 "[suggest]dialog 组件可以指定挂载的节点，方便多个组件之间相互使用"
dialog 组件可以指定挂载的节点，方便多个组件之间相互使用

[2020-06-29 01:23] richard1015 commented on #287
看到了，非常感谢，这两天会再发一版 更新到线上

[2020-06-30 08:51] #281 closed

[2020-06-30 08:59] richard1015 commented on #286
请先尝试升级一下版本号到最新，另外提供一下  最新相关 环境

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2020-06-30 08:59] #258 closed

[2020-07-01 10:20] carpenterzoe opened #290 "同时有多个swiper，懒加载失效的问题[bug]"
## 问题描述
当同一个页面存在多个swiper 同时加载的时候，使用懒加载会失效。所有的图片资源都一次性被加载了。
只有单个页面中仅仅存在一个swiper，懒加载才有效。

[2020-07-01 10:22] carpenterzoe commented on #290
PS. swiper组件我二次封装处理了样式，这里同个页面存在多个swipe的情况r，调用的是同一个nut-swiper。

[2020-07-02 11:05] chen978000 opened #291 "ios / Android App环境下Actionsheet和Popup(2.2.6版本ios下可以)的遮罩层无法锁定背景滚动"
## 问题描述

**ios / Android App环境下Actionsheet和Popup(2.2.6版本ios下可以)的遮罩层无法锁定背景滚动**

## 最小可复现仓库

官方demo

## 预期的行为和实际行为
希望锁定背景滚动行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
app内嵌webview环境下访问

- **Node 版本**：
未使用

- **NutUI 版本**：
2.2.6

- **Vue 版本**：
2.x

- **引用方式**：  CDN / NPM ？
CDN

[2020-07-03 09:13] richard1015 commented on #291
等待 v2.2.7 进行测试，  下周发版

[2020-07-03 09:13] richard1015 commented on #290
是否可以提供一个 最小可复现仓库

[2020-07-03 09:15] richard1015 commented on #278
请使用 v2.2.6 最新包进行测试此问题，

[2020-07-07 02:00] sanheng opened #292 "[bug] nutui address 点击左上角异常"
## 问题描述

![ezgif-6-d39befed0519](https://user-images.githubusercontent.com/13793256/86688314-904eb400-c038-11ea-98bc-2157142612a7.gif)

## 最小可复现仓库

https://nutui.jd.com/demo.html#/address?ver=2.2.6

## 预期的行为和实际行为
选择了地址之后，点击左上角表现异常

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2020-07-09 05:29] l-ll opened #293 "Range区间选择器滑动异常"
## 问题描述
Range区间选择器页面显示标签文字例子中，点击或者按住左侧range滑动时会超出屏幕左侧

## 最小可复现仓库

## 预期的行为和实际行为
该页面其他例子正常

## 复现步骤，具体代码
手机浏览器按住滑动或鼠标拖动均能复现

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**：
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2020-07-09 14:17] richard1015 commented on #292
v2.2.7 已修复

[2020-07-09 14:17] #292 closed

[2020-07-09 14:17] richard1015 commented on #291
升级 v2.2.7 测试一下看看

[2020-07-09 14:17] #291 closed

[2020-07-09 14:17] #287 closed

[2020-07-09 14:18] #270 closed

[2020-07-09 14:18] #278 closed

[2020-07-09 14:18] richard1015 commented on #255
请升级最新版本进行测试 v2.2.7

[2020-07-09 14:18] #255 closed

[2020-07-10 13:13] jendy2012 opened #294 "[bug]"
最新版本：2.2.7

actionsheet.vue
拼写错误。

![image](https://user-images.githubusercontent.com/2418263/87158308-1e08f880-c2f2-11ea-910b-48cab0137ac2.png)

[2020-07-14 01:15] richard1015 commented on #294
感谢反馈 :)

[2020-07-15 05:42] #189 closed

[2020-07-16 08:43] 859809405 opened #295 "Elevator 电梯楼层组件的问题"
navHeight参数改变之后,对应导航item的lineheight不会跟着变，会造成点击不准确
![image](https://user-images.githubusercontent.com/68373044/87649932-825d0980-c783-11ea-8190-6d4a5023a4c9.png)

[2020-07-20 09:56] Stonewalling opened #296 "nut-tab下滑线不见了，并没有加让它消失的参数"
## 问题描述

在popup层里面嵌套了一个nut-tab，然后发现nut-tab的下划线不见了，

## 最小可复现仓库

## 预期的行为和实际行为
![image](https://user-images.githubusercontent.com/21361701/87924978-35926f00-cab2-11ea-9c8a-67f4153d46db.png)
就想这个tab的下划线能出来，观察发现，下划线的宽度一直为0，单独用nut-tab是可以的

## 复现步骤，具体代码
![image](https://user-images.githubusercontent.com/21361701/87924885-15fb4680-cab2-11ea-97e4-3416844626ef.png)
![image](https://user-images.githubuserc

[2020-07-21 01:14] Stonewalling commented on #296
通过观察大佬的源代码发现，导致下划线没有的情况可能是组件渲染的问题，我在popup组件里tab外层加一个div，并用v-if条件与popup组件条件一致，结果就是tab下划线能出来

[2020-07-22 01:15] Stonewalling opened #297 "tab组件增加下划线宽度设定"
## 你建议我们做什么？

现在...

项目中经常需要设置下划线宽度，而这个宽度又是通过tab项的宽度计算过来的，无法通过css设置修改

如果你能...
![image](https://user-images.githubusercontent.com/21361701/88122558-7e097400-cbfb-11ea-9af5-4adeab224e12.png)
![image](https://user-images.githubusercontent.com/21361701/88122578-8f528080-cbfb-11ea-8eb2-e27cfd52f36f.png)
![image](https://user-images.githubusercontent.com/21361701/88122661-c163e280-cbfb-11ea-94c7-18b2fe

[2020-07-22 10:13] #294 closed

[2020-07-22 10:43] irisSong commented on #265
抱歉，demo写错了，下次发版会更正，感谢反馈

[2020-07-22 10:43] #265 closed

[2020-07-22 10:47] irisSong commented on #256
请提供一个最小复现代仓库，不是页面地址哦！

[2020-07-23 03:35] kvy-club opened #298 "希望能增加一个类elementUI的table表格组件[suggest]"
## 你建议我们做什么？

现在几乎所有移动版组件库都不带table表格这种功能，这样的话要把商品的详细信息参数展示出来会方便很多

## 其它

无

[2020-07-23 05:36] richard1015 commented on #298
不错的建议

[2020-07-24 06:53] zhenyulei commented on #297
非常好的建议 感谢您的建议 我己经集成到代码中了 下一个版本会更新 再次表示感谢

[2020-07-24 06:53] #297 closed

[2020-07-24 07:24] zhenyulei commented on #296
你好 由于没有提供最小代码复现仓库 我按照你的截图 猜测是不是 is-scroll 是动态变化的 也就是刚开始数据么有返回来的时候 is-scroll是false，待数据返回来之后是true，目前我已经在源码中对 is-scroll 做了监听 待上线后你再看看是否可以 或者提供最小代码复现仓库 我调试一下 感谢

[2020-07-24 07:36] zhenyulei commented on #295
非常感谢您的细心 我已经在源码中修改了该问题 待后续新版本上线即可生效 欢迎使用 nutui

[2020-07-24 07:36] #295 closed

[2020-07-27 03:35] richard1015 opened #299 "建议新增一个拖拽排序组件[suggest]"
## 你建议我们做什么？

建议新增一个拖拽排序组件

[2020-07-30 02:12] Stonewalling opened #300 "希望增加一个下滑加载、上拉刷新的组件"
## 你建议我们做什么？

现在...
希望增加一个下滑加载、上拉刷新的组件。功能和mintUI一样，但是，那个BUG太多了
如果你能...

它将使...

## 其它

无

[2020-07-30 02:59] richard1015 commented on #300
下拉刷新，上拉加载
正在开发中，近一两天会发布

[2020-07-30 08:37] LGXAK opened #301 "Signature 签名"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

直接在NutUI官网测试出bug了，签名UI组件，应该是点击重置清空画版，鼠标移动上去点击持续按住鼠标画版才开始绘画，而不是鼠标移动上去就开始绘画了

## 复现步骤，具体代码

点击签名UI，然后先开始正常操作按住鼠标绘画，确认3次绘画签名，然后点击重置画版功能，持续点击重置画板功能大概8-10次，鼠标要快速点击重置，画板就会出现bug，不需要按住鼠标也可以开启绘画功能bug

![QQ图片20200730163717](https://user-images.githubusercontent.com/47965708/88901126-fc60b880-d282-11ea-88e4-4401da5e5178.png)

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI

[2020-07-30 14:33] yeyuqiu-ux opened #302 "nut-tabbar组件中的icon的来源路径变的灵活一些[suggest]"
## 你建议我们做什么？
建议官方将 nut-tabbar组件中的icon的来源路径变的灵活一些,最好能像一般的icon字体图标一样引用,不用一个字体下载一个svg

现在...现在icon为图片/是使用单个字体的svg

如果你能...

它将使...如果能实现,将会大大提升了项目的合理性,不必要去为了一个tar分好几次下载svg,当可以使用icon编码或者是icon-xxx的时候,开发者可以在自己的常用库中就能找到需要的字体图标

## 其它

无

[2020-07-31 05:36] qijianruoyan opened #303 "父组件Scroller里有子组件Scroller时"
父组件Scroller里有子组件Scroller时交互特别不好

[2020-08-03 00:41] Stonewalling commented on #296
好的，我是这么改的，可能是我写的问题吧
![image](https://user-images.githubusercontent.com/21361701/89136203-1214fd00-d565-11ea-9f54-df115aed5cf3.png)

[2020-08-03 00:41] Stonewalling commented on #296
好的，我是这么改的，可能是我写的问题吧
![image](https://user-images.githubusercontent.com/21361701/89136217-20631900-d565-11ea-9122-d73c8bdd09f1.png)

[2020-08-03 00:42] Stonewalling commented on #296
好的，我是这么改的，可能是我写的问题吧
![A32B0159-6E14-42B0-B397-90231065D94A](https://user-images.githubusercontent.com/21361701/89136243-42f53200-d565-11ea-83ee-92d8eb1b93b4.png)

[2020-08-03 01:06] Stonewalling commented on #301
这个BUG，我解决了，不过我用的是自己写canvas.js 文件

[2020-08-03 01:10] guoxiao158 commented on #301
正在收起修改。。。

[2020-08-03 10:09] luobinbinchina commented on #300
@Stonewalling https://nutui.jd.com/jdl/#/scroll 已发布可以使用，有问题欢迎反馈，谢谢

[2020-08-03 10:09] #300 closed

[2020-08-03 10:21] richard1015 commented on #276
https://nutui.jd.com/jdl/#/scroll 已发布可以使用，有问题欢迎反馈，谢谢

[2020-08-03 10:21] #276 closed

[2020-08-03 10:22] richard1015 commented on #249
ing

[2020-08-03 10:23] richard1015 commented on #302
近期开发中，感谢您的反馈，下个版本更新此需求

[2020-08-04 02:43] Jungzl opened #304 "[suggest]改进DatePicker组件"
## 你建议我们做什么？

目前在DatePicker组件中中间突出显示那一行「.nut-picker-list-panel」的行内样式
`transform: translate3d(0px, -2340px, 0px);`
对于使用了postcss-to-viewport的项目不起作用，会导致错位，直接更改较为麻烦，望得到改进
![image](https://user-images.githubusercontent.com/35426360/89246809-853e7200-d63e-11ea-8b26-457f64224a19.png)

## 其它

无

[2020-08-04 05:45] richard1015 commented on #304
@Jungzl    转换 rem 的时候 请过滤掉该组件

[2020-08-04 05:49] richard1015 commented on #256
@irisSong

https://codesandbox.io/s/sp6tv?file=/src/components/HelloWorld.vue

[2020-08-04 11:57] richard1015 commented on #296
@Stonewalling   是否已解决

[2020-08-06 02:12] LGXAK commented on #301
你好，这个触发bug方式，说起来有点无语，其实就是鼠标在画板里绘制，然后按住鼠标不放，移除到边框外面后回到绘制画板就不出现bug了，bug原因是没有监听鼠标事件是否存在点击情况，如果鼠标超出div需要重新点击触发鼠标事件才能开始绘画，这样bug就解决了，这种情况在真实手机环境其实很触发的到这bug

[2020-08-06 02:15] LGXAK commented on #301
但是你的重签功能，需要完善一下，因为没有清除鼠标事件，导致我鼠标移出div后再回来绘制后出现bug，即使点击重签也没清除鼠标事件，

[2020-08-07 05:23] ChenJiaH opened #305 "按需加载css，组件内依赖组件css未引入[bug]"
## 问题描述

使用按需配置，例如Address组件，内部依赖的Popup组件样式未被引入。

## 最小可复现仓库

https://github.com/richard1015/nutui-demo/tree/master/base

## 预期的行为和实际行为
按需加载的组件内部依赖的组件样式也需要被引入。

## 复现步骤，具体代码
1.按demo仓库地址：https://github.com/richard1015/nutui-demo/tree/master/base
2. 删除vue.config.js
3. babel.config.js中style改成css
4. main.js去除rem引用，新增Address组件
5. App.vue使用如下官网示例代码

[code]

## 相关环境信息
- **操作系统**：Win10
- **Node 版本**：12.18.

[2020-08-07 05:38] richard1015 commented on #305
@ChenJiaH   请先尝试升级一下最新版本 2.2.8

[2020-08-10 06:47] k-jay-wang opened #306 "[suggest]nut-ui日期选择组件支持固定日期选择"
## 日期选择组件固定每月最后一天可选，其他日期不可选
现在日期选择组件支持从固定日期开始，之前不可选。如果能够支持限制只能选择每个月的某一天，就会给用户更多的适配场景。

[2020-08-10 07:06] richard1015 commented on #306
1.类型支持年月
2.底部文案展示
3.指定日功能，可选（具体日或者月末）

[2020-08-10 08:44] #293 closed

[2020-08-10 08:44] undo03 commented on #293
已修复

[2020-08-12 02:16] richard1015 commented on #301
@guoxiao158   尽快跟进一下

[2020-08-12 07:56] irisSong commented on #286
请提供复现的最小代码库

[2020-08-12 10:58] weiquanju opened #307 "[suggest] tab组件头部能否支持badge徽标数和slot"
## 你建议我们做什么？

现在tab组件头部页签项，虽然支持icon，但是另一种场景没有考虑到，需要badge徽标数，或者是badge小红点，而且没有slot

如果能支持badge和slot就棒极了

它将适用badge场景；如果再考虑支持slot的话，会满足更多场景哦

## 其它

无

[2020-08-13 09:22] 15120822558 opened #309 "你好，看到你们项目中有分享视频到微信好友这个功能，有分享链接到微信好友这样的功能插件吗？"
你好，看到你们项目中有分享视频到微信好友这个功能，有分享链接到微信好友这样的功能插件吗？

[2020-08-17 02:08] richard1015 commented on #309
我们只提供  样式，具体分享逻辑需要开发者自己 来实现

[2020-08-17 02:15] richard1015 commented on #305
- babel config
[code]
- main.js
[code]

[2020-08-17 02:15] #305 closed

[2020-08-17 02:16] #309 closed

[2020-08-18 06:50] guoxiao158 commented on #301
已经修复，等待下个版本发布

[2020-08-19 10:53] yyccQQu opened #310 "nut-picker 连续点击两次确定后，会重复弹出picker框~"
## 你想知道什么？

你好，我想知道这个项目是否可以 连续点击n次确定后,picker框收起而不是弹出

## 描述你考虑过的替代方案

我想...
第一次点击设置为 true,第二次为false，操作完成后，再重新设置为true。这种方法终究不是完美次，只是为了解决而解决，希望作者优化一下，thx~！
<img width="390" alt="截屏2020-08-19 下午3 01 23" src="https://user-images.githubusercontent.com/32674176/90627522-1c095200-e22d-11ea-93c4-cb0c65f6d108.png">

[2020-08-19 12:45] richard1015 commented on #310
马上修复

[2020-08-20 00:56] #262 closed

[2020-08-20 00:56] richard1015 commented on #310
已修复

[2020-08-20 00:56] #310 closed

[2020-08-20 00:57] #307 closed

[2020-08-20 00:58] #296 closed

[2020-08-20 00:58] richard1015 commented on #301
请更新至最新版本

[2020-08-20 00:58] #301 closed

[2020-08-20 09:03] zhuangxiaohui opened #312 "[suggest]希望能出一个类mobile.ant.design的popover功能"
## 你建议我们做什么？
希望能出一个类mobile.ant.design的popover功能， https://mobile.ant.design/kitchen-sink/components/popover
popover在手机中的使用场景较多，之前写小程序的使用用到过，希望你们团队可以做出来一个，目前的公众号项目中也想使用popover功能，但是nutui框架中没有
![image](https://user-images.githubusercontent.com/5791725/90750320-36176300-e307-11ea-9bd3-eae860d6cfe8.png)
微信
![image](https://user-images.githubusercontent.com/5791725/90750387-50514100-e307-11ea-9a69-033377

[2020-08-24 02:15] SuperFoam opened #313 "搞个折叠面板吧大佬"
如题。。。

[2020-08-24 02:24] SuperFoam commented on #313
就是折叠面板。。。

[2020-08-24 07:14] cleack5 opened #315 "[bug]做国际化多语言版本切换时，跟vue-i18n搭配使用，会出错，无法正常使用"
# main.js文件代码：
[code]

# App.vue代码

[code]

# 环境信息

- "@nutui/nutui": "^2.2.10"
- "vue-i18n": "^8.21.0"

点击确定按钮就出错：
[code]

[2020-08-26 01:39] daughterRui opened #318 "按需加载报错，Cannot read property 'install' of undefined[bug]"
## 问题描述
按需加载报错，Cannot read property 'install' of undefined

## 最小可复现仓库
[code]

[2020-08-26 01:53] richard1015 commented on #318
参考下方js配置

https://github.com/jdf2e/nutui-demo/blob/master/base/babel.config.js

[2020-08-26 02:05] daughterRui commented on #318
还是不行，还是报 Cannot read property 'install' of undefined

[2020-08-26 02:13] richard1015 commented on #312
感谢反馈，我们近期处理一下

[2020-08-27 01:36] richard1015 commented on #318
辛苦来一个最小复现仓库

[2020-08-27 03:10] richard1015 commented on #256
如果页面固定高度 请参考 use-window 参数来处理

[2020-08-27 03:10] #256 closed

[2020-08-27 03:20] richard1015 commented on #304
是否已解决

[2020-08-27 14:15] Jungzl commented on #304
@richard1015 已解决😀

[2020-08-27 14:15] #304 closed

[2020-08-28 01:06] Ketuyou opened #319 "[suggest]Stepper 步进器直接修改输入框的值不会触发reduce-no-allow"
希望手动修改输入框内的值也能触发超出最大最小事件

[2020-08-28 02:06] richard1015 commented on #319
手动修改会触发 change ，这个回调还满足不了业务场景吗

[2020-08-28 02:06] richard1015 commented on #318
@daughterRui

[2020-08-28 02:07] richard1015 commented on #313
已经推进，近期期待，如果着急也可以共建👍

[2020-08-28 02:49] Ketuyou commented on #319
嗯嗯 可以的

[2020-08-28 02:49] #319 closed

[2020-08-28 03:37] richard1015 opened #320 "[bug] Toast 同步触发 loading hide 无法进行关闭"
## 问题描述

Toast 同步触发 loading hide 无法进行关闭   @HaoPeiPei

## 最小可复现仓库

[code]

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.2.10
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2020-08-28 06:22] daughterRui commented on #318
已经解决了，项目依赖导致的

[2020-08-28 07:03] pycrab opened #321 "[bug] （SearchBar 搜索栏）清空操作未清空绑定值"
## 问题描述

搜索栏输入内容，出现清空按钮，点击清空按钮，页面输入框中确实已清空，但是实际搜索框绑定的值未发生变化。
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
1、输入文本，点击清空
[code]
2、绑定值title没有被清空
![image](https://user-images.githubusercontent.com/40735921/91531519-7eee9d80-e93f-11ea-93d9-f9ab7b66b34d.png)

## 相关环境信息
- **操作系统**：安卓8.0
- **Node 版本**：12.16.1
- **NutUI 版本**： @nutui/nutui@2.2.7
- **Vue 版本**：2.6.11
- **引用方式**： NPM

[2020-08-29 10:52] tianyagulvke opened #322 "[suggest] nut-cell title样式text-align 改为left"
## 你建议我们做什么？

现在 nut-cell在添加标题和副标题后样式没有设置，默认继承上级，一般为居中

如果你能设置为left

它将使符合大多数的场景需求

## 其它
谢谢你们的开源
无

[2020-08-31 07:38] Jabo2017 opened #323 "[bug]row、column按需加载用法失败"
项目使用按需加载，使用skeleton骨架屏，里面的row和column按文档Row.install(Vue);后还是报错Unknown custom element: <row> - did you register the component correctly?

[2020-08-31 11:45] richard1015 commented on #323
@Jabo2017
感谢您的反馈 ，按需加载 请参考以下使用方式

[code]

[code]

[2020-08-31 11:46] richard1015 commented on #321
@pycrab   辛苦升级最新版本进行，测试一下

[2020-08-31 11:47] #318 closed

[2020-09-02 02:21] Jabo2017 opened #326 "[bug]引入pxtorem后存在的组件展示问题"
## 问题描述

nutui中的部分组件以及修饰图标使用的是svg，在引入pxtorem后按官网配置后这部分的展示很不理想

## 复现步骤，具体代码
![效果图](https://user-images.githubusercontent.com/27938777/91924661-e9b82400-ed05-11ea-8450-b4301fd18ea9.png)

[2020-09-02 07:41] tianyagulvke opened #327 "多级联动感觉用起来比较复杂"
## 你建议我们做什么？

nut-picker在设置多级联动时比较复杂相比其它组件库
现在...

如果你能尽量根据数据结构实现效果会更加方便

它将使...

## 其它

无

[2020-09-03 01:33] tianyagulvke opened #328 "nut-checkboxgroup复选框组有个属性是vertical是垂直的意思不是横向"
## 你建议我们做什么？

nut-checkboxgroup 中vertical设置为false为横向比较合理
现在...
nut-checkboxgroup 中vertical设置为true为横向

如果你能...

它将使...

## 其它

无

[2020-09-03 09:15] gzkjh opened #329 "文本框的清理按钮在nut-row nut-col里面的时候异常"
刚接触nutui，尝试做一个登陆页面，结果输入框的清除按钮样式异常

[code]

![image](https://user-images.githubusercontent.com/20403598/92095799-b3af9880-ee08-11ea-83b7-7ceb527894d8.png)

## 相关环境信息
- **操作系统**：win7
- **Node 版本**：v12.18.3
- **NutUI 版本**： @nutui/nutui@2.2.10
- **Vue 版本**：VueCli 4.5
- **引用方式**：  NPM

[2020-09-03 14:09] blackmft opened #330 "<nut-icon type="self" :url="require('../assets/money.svg')"></nut-icon> 自定义图标没有生效"
<nut-icon type="self" :url="require('../assets/money.svg')"></nut-icon>
文档上说这个是自定义的，但是我引入之后，页面上展示效果是这样的
![image](https://user-images.githubusercontent.com/25949474/92125845-0e111f00-ee32-11ea-94c5-079d3f98885c.png)

[2020-09-07 02:48] richard1015 commented on #330
请参考demo  ，附上 vue-svg-loader

https://github.com/jdf2e/nutui-demo/blob/master/base/vue.config.js

[2020-09-07 02:50] #330 closed

[2020-09-07 02:52] richard1015 commented on #329
可以提供一个 完整的项目，方便这边排查

[2020-09-07 02:52] richard1015 commented on #328
收到，感谢反馈

[2020-09-07 02:54] richard1015 commented on #326
pxtorem 如果 按照的是 750 ，建议采用多套转换   nutui为375

[2020-09-07 02:54] #326 closed

[2020-09-07 04:02] 24Kshign opened #331 "nut-uploader组件上传无反应"
## 问题描述

使用nut-uploader组件做一个上传图片的功能，在部分华为（如华为nova3，华为荣耀畅玩5）手机中用微信打开之后，点击上传图片按钮没有反应

## 最小可复现仓库

## 预期的行为和实际行为

预期是能够正常上传图片；实际操作是在部分华为（如华为nova3）手机上微信中点击上传图片之后没有反应

## 复现步骤，具体代码

[code]

## 相关环境信息
- **操作系统**：华为nova3，华为荣耀畅玩5
- **Node 版本**：12.3.1
- **NutUI 版本**："@nutui/nutui": "^2.2.5
- **Vue 版本**：2.3.0
- **引用方式**：  NPM

[2020-09-08 02:34] richard1015 commented on #331
@24Kshign   先尝试升级到最新版本试一下

[2020-09-09 06:46] zhuzeliang opened #332 "video controls自定义不支持"
model="custom"何时支持

[2020-09-10 09:54] lvbin8023 opened #333 "使用Drag 拖拽组件，拖拽会带动整个页面拖动，造成页面卡顿"
## 问题描述
使用Drag拖拽组件时，拖动会造成整个页面拖动。造成页面卡顿，例如商品列表可以向上滑动看后面的列表，但无法滑动，只有整个页面被拖动

## 复现步骤，具体代码

`<nut-drag style="position:absolute;right: 0.28rem;bottom: 2rem" @click.native="handleFeedBack">
      <div class="add-tag">
        <van-icon class="add-icon" name="fail"/>
        <span class="add-title">反馈</span>
      </div>
    </nut-drag>`

`.add-tag {
    display: flex;
    flex-direction: column;
    j

[2020-09-11 07:26] daughterRui opened #334 "引入Steps组件报错 [bug]"
## 问题描述
引入Steps组件报错
[code]
[报错图片](https://gt-toolbox.oss-cn-beijing.aliyuncs.com/gt-toolbox/08f54718-3490-4c75-b4b3-0d4b2b82e365.png)

## 复现步骤，具体代码
[code]
Dialog引入是可以正常使用的
但Steps引入却有问题
## 相关环境信息
- **操作系统**：mac
- **Node 版本**：12.18.3
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：2.6.11
- **引用方式**： NPM 按需引入

[2020-09-11 10:02] daughterRui opened #335 "关于开发项目引入该组件库后的组件的适配问题 [question]"
## 你想知道什么？

你好，我想知道关于开发项目引入该组件库后的组件的适配问题，由于我的项目用了postcss-pxtorem，将px自动转成rem，导致该组件库的组件样式 也px转成 rem了。

就比如拿picker组件来说
在iphone X 上
[示例图](https://gt-toolbox.oss-cn-beijing.aliyuncs.com/gt-toolbox/3e6a7cc4-4bcc-4f5e-9e34-0a25e5eb6f25.png)

在iphone 8 plus 上
[示例图](https://gt-toolbox.oss-cn-beijing.aliyuncs.com/gt-toolbox/9ce076e9-e7b4-4da7-8e71-cc19077e4225.png)

## 描述你考虑过的替代方案

目前我在 post.config.js 文件中将z

[2020-09-11 13:28] richard1015 commented on #334
[code]

[2020-09-11 13:28] #334 closed

[2020-09-11 13:39] richard1015 commented on #335
参考 #271

[2020-09-12 07:23] gzkjh commented on #329
如何提供？

[2020-09-17 01:18] richard1015 commented on #335
是否已解决

[2020-09-17 01:18] #335 closed

[2020-09-19 15:02] 4color opened #336 "[question]radio没有事件怎么玩"
radio没有事件怎么玩

[2020-09-21 14:14] JuoJuo opened #337 "[bug] 英文环境下，时分秒显示的中文"
## 问题描述
英文环境下，时分秒显示的中文

## 复现步骤，具体代码
import NutUI from '@nutui/nutui';
import enUS from '@nutui/nutui/dist/locales/lang/en-US';
Vue.use(NutUI, {
  locale: 'en-US',
  lang: enUS
});

![image](https://user-images.githubusercontent.com/36804937/93778063-0e921e00-fc58-11ea-8282-5200be0e822d.png)

[2020-09-21 14:21] JuoJuo commented on #337
把isShowChinese传为false后，只有数字，没有单位。
凑合用了。

[2020-09-25 05:53] richard1015 commented on #337
@JuoJuo  后期我们优化一下

[2020-09-25 08:30] sunshineTY opened #338 "nut-datepicker 时间组件，添加一个默认为空的选项"
nut-datepicker 时间组件，添加一个默认为空的选项，现在选所有的时间选不了

[2020-09-27 09:49] haohanyang commented on #338
Can you provide more specific details on your issue?

[2020-09-28 02:36] sunshineTY commented on #338
![2020-09-27_140801](https://user-images.githubusercontent.com/27795755/94384785-fd747000-0175-11eb-8036-5f73c63ea728.png)

回中文晒，英文还要用百度翻译一下！

用picker写了一个时间选择器
`<template>
	<nut-picker class="com-date-picker"
		:is-visible="isVisible"
		:list-data="list"
		:title="title"
		:default-value-data="defaultValue"
		@choose="change"
		@close="close"
		@confirm="confirm">
	</nut-picker>
</template>
<scrip

[2020-09-28 02:49] sunshineTY commented on #338
![2020-09-27_140801](https://user-images.githubusercontent.com/27795755/94385463-d7e86600-0177-11eb-9cd0-e404735e77a3.png)

[2020-09-28 03:33] noisyFish opened #339 "[bug]全量导入nutui时报错：Cannot read property 'config' of undefined"
## 问题描述

按照文档导入nutui时，页面报错：Cannot read property 'config' of undefined

## 复现步骤，具体代码
引入代码：
import { createApp } from 'vue'
import App from './App.vue'
import NutUI from '@nutui/nutui'
import '@nutui/nutui/dist/nutui.css'

createApp(App).mount('#app')
NutUI.install(createApp)

步骤：执行npm install；执行npm run build；执行npm run serve；

报错显示：
![image](https://user-images.githubusercontent.com/20484886/9438775

[2020-09-28 11:53] richard1015 commented on #339
感谢您的反馈，vue3正在开发中，可以先参考 https://github.com/jdf2e/nutui-demo

[2020-09-29 00:57] richard1015 commented on #336
可以暂时根据v-model 来监听处理

[2020-09-30 06:28] xiaoshidebaiyuhui commented on #189
什么时候支持vue3

[2020-10-09 02:39] jahnli opened #340 "Vue3.0 support"
Could you tell me the author , Do you plan to support Vue3.0 and when do you expect to implement it

[2020-10-14 09:37] baraka-sdw opened #341 "[bug]"
## 问题描述
折叠面板组件不能直接是用，还需要单独导入collapse-item.vue

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2020-10-14 09:37] #341 closed

[2020-10-14 09:38] baraka-sdw opened #342 "[bug]"
## 问题描述
折叠面板组件不能直接是用，还需要导入collapse-item.vue，后面是否会集成？

[2020-10-15 09:37] Ymm0008 commented on #342
已记录，尽快优化。

[2020-10-20 09:45] sun119 opened #343 "swiper点击后不能自动轮播，用什么方法可以解决。"
## 你想知道什么？

你好，我想知道这个项目是否可以...

## 描述你考虑过的替代方案

我想...

## 其它

无

[2020-10-27 06:10] richard1015 opened #344 "🙋‍♂️NutUI 正在参与 OSC 年度中国开源项目评选（您的鼓励是我们坚持不懈的源动力！）"
快来投票 ，助力京东开源项目 ，众人拾柴火焰高！

直达为 NutUI 投票，[点击这里](https://www.oschina.net/project/top_cn_2020?utm_source=projectdetail#nutui)

您的鼓励是我们坚持不懈的源动力！

[2020-10-28 01:15] richard1015 commented on #343
辛苦提供一下复现代码，我看官网demo是可以的

[2020-10-28 01:17] richard1015 commented on #340
Currently under development, please look forward to the release test version in Q4

[2020-10-28 01:17] richard1015 commented on #339
目前正在vue3开发中，请期待第四季度发布测试版本

[2020-10-28 01:17] #339 closed

[2020-10-28 01:19] richard1015 commented on #313
请查看最新版本折叠面板  https://nutui.jd.com/#/collapse

[2020-10-28 01:19] #313 closed

[2020-10-28 01:19] #323 closed

[2020-10-28 01:42] Ymm0008 commented on #342
代码已优化，如需使用可联系我们单独发一个包。

[2020-10-28 01:42] #342 closed

[2020-10-28 01:53] jahnli commented on #340
thanks

[2020-10-30 09:05] FionaXXX opened #346 "ImagePicker图片选择器，如何清空预览的图片列表？"
## 你想知道什么？

如何清空预览的图片列表？
比如业务场景是：切换页面时想要清空已预览的几张图片，回到无选择的那个初始状态

## 描述你考虑过的替代方案

目前能在JS里把绑定的图片数组imgList清空了，但是对应的DOM仍然存在

## 其它

无

[2020-11-04 04:00] BLUESKYBUTTERFLY opened #347 "Tab和Scroller组件做订单列表，切换页签页面滚动距离未清零[bug]"
## 问题描述
使用Tab组件和Scroller纵向滚动做订单列表，点击tab标签传值重新获取数据后scroll组件纵向滚动距离未清零

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
<nut-tab
        @tab-switch="tabSwitch"
        contentShow="false"
        class="tab-container"
        :def-index="currentIndex"

        <nut-tab-panel tab-title="全部"> </nut-tab-panel>
        <nut-tab-panel tab-title="待支付"> </nut-tab-panel>
        <nut-tab-panel tab-title="待发货"> </nu

[2020-11-10 12:44] #321 closed

[2020-11-12 08:57] zjj1991729 opened #349 "ActionSheet组件清除锁定背景滚动方法名称拼写错误"
### 控制台报错截图：
![image](https://user-images.githubusercontent.com/8097125/98917992-0ba10480-2508-11eb-847c-8c2121130512.png)

### 组件源码截图：
![image](https://user-images.githubusercontent.com/8097125/98918099-283d3c80-2508-11eb-8e92-c42d46da1b69.png)

[2020-11-12 09:11] zjj1991729 opened #350 "ActionSheet组件清除锁定背景滚动方法名称拼写错误"
## 问题描述
### 控制台报错截图：
![image](https://user-images.githubusercontent.com/8097125/98917992-0ba10480-2508-11eb-847c-8c2121130512.png)
### 组件源码截图：
![image](https://user-images.githubusercontent.com/8097125/98920009-8834e280-250a-11eb-8a58-9923a2994f75.png)

## 复现步骤，具体代码
actionsheet配置is-lock-bg-scroll属性，选择之后触发报错

## 相关环境信息
- **操作系统**：windows 10
- **Node 版本**：v12.19.0
- **NutUI 版本**： @nutui/nutui@2.2.12

[2020-11-12 09:11] #349 closed

[2020-11-16 05:37] langyuxiansheng opened #351 "Notify 组件的Prop属性background背景颜色 设置无效 [bug]"
## 问题描述

![image](https://user-images.githubusercontent.com/29669030/99216391-802db900-2810-11eb-8852-eddc0be883b8.png)
把组件设置的背景设置为#ff0，
实际效果
![image](https://user-images.githubusercontent.com/29669030/99216423-92a7f280-2810-11eb-8ae3-ab1145ccfe3d.png)
原因是因为默认值使用了!important 导致优先级太高，无法被覆盖
![image](https://user-images.githubusercontent.com/29669030/99216454-aeab9400-2810-11eb-85b4-b5561d455fbd.png)

[2020-11-26 07:49] langyuxiansheng opened #353 "设置了上拉加载距离和下拉刷新距离无效的bug stretch[bug]"
## 问题描述

设置了上拉加载距离和下拉刷新距离,但是未生效的bug.还是只要20像素的距离就触发了下拉刷新,

源码中的判断貌似是写死了的.并未进行外部设置的props距离判断
[code]

## 最小可复现仓库

## 预期的行为和实际行为
设置了上拉加载距离和下拉刷新距离,但是未生效

## 复现步骤，具体代码
https://nutui.jd.com/#/scroller

## 相关环境信息
- **操作系统**：win10
- **Node 版本**：12
- **NutUI 版本**： @nutui/nutui@2.x.x
- **Vue 版本**： 2.6
- **引用方式**：  NPM ？

[2020-11-26 08:27] cuiliangl opened #354 "[bug]"
问题：
tab选项卡，页签底部的红条，自定义宽度时，在多个标签可滑动时，导航条滚动有bug。

比如：
`
<h4>支持滑动选择多个页签</h4>
    <nut-tab @tab-switch="tabSwitch" :line-width="20" :is-scroll="true">
      <nut-tab-panel tab-title="页签1">页签1</nut-tab-panel>
      <nut-tab-panel tab-title="页签2">页签2</nut-tab-panel>
      <nut-tab-panel tab-title="页签3">页签3</nut-tab-panel>
      <nut-tab-panel tab-title="页签4">页签4</nut-tab-panel>
      <nut-tab-panel tab-

[2020-11-30 05:48] #344 closed

[2020-12-08 04:30] will-17173 commented on #65
我的业务场景也是不需要修改默认值触发confirm的，如果非要加的话建议加个参数说明是手动点击的confirm还是默认值变化发出的confirm

[2020-12-08 04:39] will-17173 opened #355 "[bug] Picker在listData变化且上一次已选择的情况下，第二次选中值仍为上一次的值"
应该watch listData, 变化时清空chooseValueData 和 cacheValueData

[2020-12-09 02:35] will-17173 opened #356 "[bug] SearchBar无法设置placeholder为空值"
`:placeholder="placeText || nutTranslate('lang.searchbar.placeText')"`

这个逻辑当placeText为空值时就会显示默认值，但是我就是想要placeholder是空字符串

[2020-12-10 06:55] richard1015 commented on #356
请先尝试升级到最近版本测试

[2020-12-10 06:56] richard1015 commented on #355
是否已解决

[2020-12-10 06:58] richard1015 commented on #189
正在进行中

[2020-12-10 09:18] Jay-Ivy opened #357 "[suggest]imagepreview组件建议增加index属性"
## 你建议我们做什么？

imagepreview组件建议增加index属性（表示当前显示的图片序号）

这样可以在列表中查看某一个图片时，打开预览直接定位到此图片，而不是显示第一张图片

## 其它
NutUI 版本：@nutui/nutui-jdl@1.0.4

无

[2020-12-11 08:57] will-17173 commented on #356
https://github.com/jdf2e/nutui/blob/0176a13a16c389236f217f0ac03d7073cc795902/src/packages/searchbar/searchbar.vue#L9

最新版本还是这样的啊

[2020-12-11 09:00] will-17173 commented on #355
并没有。

[2020-12-15 07:55] q13044256742 opened #359 "[bug] nut-collapse组件无法渲染"
![image](https://user-images.githubusercontent.com/16590810/102186569-c8162d80-3eed-11eb-9638-77eaa46d7eaa.png)
![image](https://user-images.githubusercontent.com/16590810/102186677-ec720a00-3eed-11eb-919a-2b3b9f9b0cc2.png)
![image](https://user-images.githubusercontent.com/16590810/102186705-f6940880-3eed-11eb-83d3-75f54be1cfef.png)

如图所示，直接粘贴官网例子到本地Vue环境下，标签没有被解析

[2020-12-15 07:59] q13044256742 commented on #359
![image](https://user-images.githubusercontent.com/16590810/102187115-8b970180-3eee-11eb-91f1-0d17fd7c1bcf.png)

[2020-12-16 05:54] richard1015 commented on #320
请升级到最近版本进行测试

[2020-12-16 05:54] #320 closed

[2020-12-16 11:59] szg2008 commented on #346
您好，测试版本已修复，请持续关注，预计本周五发布，感谢您的反馈～您的提议和反馈是我们开发的动力～

[2020-12-16 12:04] #346 closed

[2020-12-17 03:20] shenqistart commented on #351
多谢您提出的issue,我们将会在明天发版后解决这个问题（版本号2.2.13）。

[2020-12-17 03:20] #351 closed

[2020-12-17 08:37] yanwuguangjun opened #360 "数字键盘的“完成”键点击没有效果 [bug]"
## 问题描述
数字键盘的完成点击没有效果

## 最小可复现仓库
[code]

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：win10
- **Node 版本**：12.16.1
- **NutUI 版本**：     "@nutui/nutui": "^2.2.12",
- **Vue 版本**："vue": "^2.6.11",
- **引用方式**：  npm

[2020-12-17 08:41] yanwuguangjun commented on #360
看了下 源码 这种写法应该就会 有问题吧

[2020-12-17 09:08] yanwuguangjun commented on #360
![72f0456389266c907d75ad2064b600e](https://user-images.githubusercontent.com/17357142/102466764-6c34db80-408a-11eb-8e52-3b21ef2638bd.png)
刚发现 这个数字键盘没有0

[2020-12-17 09:28] Ymm0008 commented on #359
能提供下您的使用方法吗，是按需加载的吗？ @q13044256742

[2020-12-17 13:28] richard1015 commented on #356
感谢您的反馈，测试版本已修复，预计明天发布最新版，请持续关注！

[2020-12-17 13:33] richard1015 commented on #355
加一下我的微信吧，方便及时沟通
我本地修复了一下，发给你测试包试试

zhida51844712

[2020-12-17 13:35] richard1015 commented on #350
感谢您的反馈，测试版本已修复，明天发版，请持续关注

[2020-12-17 13:36] richard1015 commented on #338
感谢您的反馈，可直接

[code]

[2020-12-17 13:37] richard1015 commented on #338
感谢您的反馈，可以直接提一个PR到demo中

[2020-12-17 14:36] richard1015 commented on #331
华为nova3，华为荣耀畅玩5 点击没反应吗？？？

[2020-12-18 01:28] q13044256742 commented on #359
引用方式为直接在html中引用的下载到本地的js和css文件，如下：
<link href="~/nutui/nutui.min.css" rel="stylesheet" />
<script src="~/nutui/nutui.min.js"></script>

我把nut-collapse组件放到了nut-dialog组件里，发现nut-dialog正常生效（被渲染成div），nut-collapse组件还是没有被渲染，还是nut-collapse标签。
然后我发现无论nut-collapse放到哪里，都不能正常渲染。不知为何，目前其他组件都能正常使用，就这个不行。。
我截的图在GitHub我这边加载不出来，不知道你那边能否正常看到，如有需要，可以留个qq发给你复现这个bug的截图

[2020-12-18 01:56] q13044256742 commented on #359
我好像知道了，我在浏览已经解决的issue里面无意间看到，nut-collapse组件是你们在10-28号新添加的，我看了下我本地下载的版本是08-21，可能是这个导致的。建议在每个(后来新增的)组件后面写上最低支持的版本。

[2020-12-18 02:05] Ymm0008 commented on #359
好的。感谢反馈，我们尽快完善文档 @q13044256742

[2020-12-18 02:08] Ymm0008 commented on #360
@yanwuguangjun  已记录，会尽快修复，感谢反馈。

[2020-12-18 02:39] #359 closed

[2020-12-18 05:11] richard1015 commented on #329
辛苦升级到最新版本进行测试

[2020-12-18 06:48] Ymm0008 commented on #360
@yanwuguangjun  已修复，可在发版后下载一个最新版本进行测试，如有问题随时沟通，3Q

[2020-12-18 06:48] #360 closed

[2020-12-18 14:06] richard1015 commented on #356
已修复，请更新最新版本进行测试

[2020-12-18 14:06] #356 closed

[2020-12-18 14:06] richard1015 commented on #355
已修复，请更新最新版本进行测试

[2020-12-18 14:06] #355 closed

[2020-12-18 14:06] richard1015 commented on #353
已修复，请更新最新版本进行测试

[2020-12-18 14:06] #353 closed

[2020-12-18 14:06] #350 closed

[2020-12-18 14:18] langyuxiansheng commented on #353
好的，ヾ(◍°∇°◍)ﾉﾞ

[2020-12-19 08:08] Ma-Tao007 opened #362 "tab组件默认值def-index设置后不能自动将对应标题居中[bug]"
## 问题描述
在多tab的情况下，默认下标如果是第一页没有展示的tab，那么在页面看不到选中的效果，默认的tab没有居中显示

## 最小可复现仓库
复现地址：http://jsrun.net/TdvKp/edit

## 预期的行为和实际行为
如果当前页面被保存了状态（keepalive）  内容是上次浏览的内容，但是tab却已经回到了最初的状态，tab应该还是保存上次浏览的状态

[2020-12-21 11:14] zhengchenghui opened #363 "日历范围选择组件，选择之后无法触发choose事件，必须点击确定才行，有什么方法解决吗？"

[2020-12-22 05:12] yanwuguangjun opened #364 "[suggest]"
## 你建议我们做什么？
## 加个  numberInput

现在...
现在 的文本输入框 对数字类型不友好

如果能加个  数字输入框  会要方便很多
这样 样式就统一起来了

## 其它

无

[2020-12-22 06:37] zhenyulei commented on #347
切换页签后有回调函数，建议在回调函数tab-switch中设置滚动条的距离，比如：Element 的scrollTo(x,y)

[2020-12-22 09:04] zhenyulei commented on #362
已经联系用户修改问题，待无误后，关闭问题

[2020-12-25 07:22] #362 closed, assigned to nobody

[2020-12-25 07:23] #282 closed

[2020-12-25 07:52] xxGw1997 opened #365 "luckycard 组件如何监听ratio刮开比 触发的事件"
在使用luckycard的时候，想要在用户刮开70%的时候，就执行回调，让刮刮卡是全部刮开状态。但是现在该如何监听ratio的刮开比并且触发 完全刮开刮刮卡的事件

[2020-12-25 13:53] notbucai opened #366 "[question] swiper中如何使用Scroller"
横向 swiper  中 放纵向的 scroller 只能触发swiper，不能触发scroller的滚动切换。

想实现如下效果

![image](https://user-images.githubusercontent.com/32786133/103136460-95451400-46fb-11eb-9dee-29829cb5b543.png)

[2020-12-28 02:44] sunyugit opened #367 "[suggest] 视频弹幕效果"
视频弹幕效果
手机浏览器现在大多劫持video使得自定义的video控件和弹幕无法显示

[2020-12-28 02:48] sunyugit opened #368 "[suggest]地址组件"
选择自定义地址组件希望之前有选择的地址直接显示出来，如果没有显示‘请选择’

[2020-12-29 02:31] q13044256742 opened #369 "[bug] ActionSheet组件菜单文本显示错位"
![image](https://user-images.githubusercontent.com/16590810/103254505-8c389900-49c0-11eb-9d12-5e8cc32622be.png)
如图所示效果，跟官网上的示例不一样。

使用方法如下：
![image](https://user-images.githubusercontent.com/16590810/103254536-abcfc180-49c0-11eb-8b47-e783e5800d36.png)
![image](https://user-images.githubusercontent.com/16590810/103254548-b25e3900-49c0-11eb-87fa-a4693fcc7020.png)

我看了下渲染后的标签，我的是这样的
![image](https://

[2020-12-31 07:06] fpc1226 opened #370 "[suggest]建议tabbar增加每行显示个数设置"
## 你建议我们做什么？

现在的tabbar默认不换行，无论多少个标签页，都在同一行显示，建议增加： 每行显示个数的设置，这样更灵活，也更美观

[2020-12-31 09:06] richard1015 commented on #369
是否采用了pxtorem插件，请排除 node_modules 文件夹

[2021-01-06 02:26] notbucai opened #372 "[question]不知道你们有没有感觉nut-scroller不流畅"
感觉卡顿，没有过渡的动画，不管是快速滑动还是缓慢滑动都是只滚动一点

[2021-01-06 12:20] richard1015 commented on #372
嗯嗯，目前是这样的，nut-scroller 的实现原理是基于 touch 事件，目前代码中滑动计算逻辑 不是最优的解决方案，
您的场景如果是 滚动加载的话，完全可以采用 Infiniteloading 无限加载组件，可以完美解决您的问题

[2021-01-06 12:21] richard1015 commented on #366
可以直接采用 Infiniteloading 无限加载 配合使用，如有问题可以进一步沟通，我做过这种业务场景

[2021-01-06 12:23] richard1015 commented on #365
感谢您的反馈，  辛苦@guoxiao158跟进一下

[2021-01-06 12:24] #331 closed

[2021-01-09 03:44] moqle opened #373 "[bug]nut-circleprogress组件中的进度渲染在微信浏览器及手机浏览中不显示高亮部分"
## 问题描述

nut-circleprogress组件中的进度渲染在微信浏览器及手机浏览中不显示高亮部分，经简单的测试是由于svg的transform="rotate(-90)" 引起的，旋转原点有点问题
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN

[2021-01-12 02:38] L2shao opened #374 "[BUG] nut-tab 添加is-scroll不生效"
` <nut-tab @tab-switch="tabSwitch" :is-scroll="true">
      <nut-tab-panel tab-title="页签1">页签1</nut-tab-panel>
      <nut-tab-panel tab-title="页签2">页签2</nut-tab-panel>
      <nut-tab-panel tab-title="页签3">页签3</nut-tab-panel>
      <nut-tab-panel tab-title="页签4">页签4</nut-tab-panel>
      <nut-tab-panel tab-title="页签5">页签5</nut-tab-panel>
      <nut-tab-panel tab-title="页签6">页签6</nut-tab-panel>

[2021-01-12 08:31] gmars commented on #340
Q4结束了 我看next分支也在更新。大概发布时间是什么时候呢？ @richard1015

[2021-01-13 02:16] gmars opened #375 "NutUI 3什么时候发布呢"
## 你想知道什么？

NutUI 3什么时候发布呢？

## 描述你考虑过的替代方案

如果使用nutui@next建议现在使用不？和发布版相比改变会不会很大

## 其它

无

[2021-01-13 02:43] richard1015 commented on #375
预计Q1底发布测试版本

目前正在开发阶段 不建议使用

[2021-01-14 22:55] yangjisen commented on #370
附议

[2021-01-20 08:48] ZXHHHH123 opened #376 "可否在使用swiper组件的代码中设定swiper中的currentPage？"
## 你想知道什么？

你好，现在想实现“tab控制swiper的切换”，组件文档中的setPage方法看起来是可以实现所说场景的，但是具体该怎么使用还请详细说明一下

## 描述你考虑过的替代方案

建议通过以props的方式将currentPage传到swiper组件中。

## 其它

无

[2021-01-22 10:33] #372 closed, assigned to nobody

[2021-01-27 06:12] Azraelj opened #378 "webpack打包 多入口场景下如何定制不同的主题"
## webpack打包 多入口场景下如何定制不同的主题

现有的在loader中全局引入的方式似乎并不能实现为多个入口分别定制主题

能否为不同的入口定制不同的主题呢，应该如何配置？

[2021-01-27 12:07] qiyunkai opened #379 "Uploader [bug]"
## 问题描述

Uploader 上传组件 连续点击 BUG
Android 手机 有BUG  IOS 手机 暂时没发现

## 最小可复现仓库

## 预期的行为和实际行为
Uploader 上传组件  Android 手机 点击两次 只唤起 一次 选择文件 相机 或 图库

## 复现步骤，具体代码
Uploader 上传组件 Android 手机 连续点击两次 会唤起 两次 选择文件 相机 或 图库

## 相关环境信息
- **操作系统**：华为手机 chrome h5页面
- **Node 版本**：>7.6.0
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：^2.5.16
- **引用方式**：  CDN / NPM ？NPM

[2021-02-02 02:07] zhouzhoustar opened #381 "[question] 轮播图的 onSlideStart 怎么使用"
## 你想知道什么？

你好，我想知道这个项目是否可以...

## 描述你考虑过的替代方案

我想...

## 其它

无

[2021-02-03 03:49] cymmint opened #382 "popup组件在其实组件内部里时，指定挂载位置设置无效"
popup组件在其实组件内部里时，指定挂载位置设置无效

[2021-02-04 03:27] q13044256742 commented on #369
听不懂啥意思，我是直接引用下载到本地的js文件

[2021-02-07 01:15] #347 closed

[2021-02-07 01:19] richard1015 commented on #381
slideChangeStart

[2021-02-07 01:19] #381 closed, assigned to nobody

[2021-02-07 01:21] richard1015 commented on #378
这边只提供一下思路给你

1.首先按需定制多套主题 scss文件(看官方文档覆盖变量)
2. webpack 打包时，通过执行的命令不同，来读取 对应的 主题scss文件

[2021-02-07 01:21] #378 closed, assigned to nobody

[2021-02-07 02:46] richard1015 commented on #370
建议先采用 使用多个组件进行实现

[2021-02-07 02:46] #370 closed, assigned to zhenyulei

[2021-02-07 02:47] richard1015 commented on #369
可以提供一个在线链接吗

[2021-02-07 03:18] richard1015 commented on #373
您的使用场景 是不是想去调整 起点位置

[2021-02-07 03:18] #343 closed

[2021-02-07 03:23] guoxiao158 commented on #365
请这样使用
open 为回调函数，ratio为刮开系数。（目前版本支持）
下个版本回优化，当触发回调函数时，自动清空组件的蒙层，展示全部信息

   <nut-luckycard
        content="1000万"
        @open="opencard"
        ratio="0.2"

[2021-02-07 05:47] #366 closed, assigned to nobody

[2021-02-07 05:48] richard1015 commented on #322
建议通过样式重置，自定义修改

[2021-02-07 05:48] #322 closed

[2021-02-08 09:59] richard1015 commented on #382
2.2.14已修复

[2021-02-08 09:59] #382 closed, assigned to yangkaixuan

[2021-02-08 10:00] richard1015 commented on #379
2.2.14已修复

[2021-02-08 10:00] #379 closed, assigned to Drjingfubo

[2021-02-08 10:00] richard1015 commented on #376
感谢pr，v2.2.14已修复

[2021-02-08 10:00] #376 closed, assigned to nobody

[2021-02-08 10:00] richard1015 commented on #373
v2.2.14已修复

[2021-02-08 10:00] #373 closed, assigned to Drjingfubo

[2021-02-08 10:01] richard1015 commented on #363
v2.2.14已新增对应实际，感谢您的反馈

[2021-02-08 10:01] #363 closed, assigned to nobody

[2021-02-08 10:01] #365 closed, assigned to guoxiao158

[2021-02-08 10:01] #336 closed

[2021-03-02 18:45] JarLob opened #384 "[SECURITY] Arbitrary write access to the repository"
# GitHub Security Lab (GHSL) Vulnerability Report: `GHSL-2020-287`

The https://github.com/jdf2e/nutui/pull/383 addresses a severe Security issue. It should be merged into `v2-dev` branch **ASAP** and backported to the `master` branch. We have been unsuccessfully trying to access the repository maintainers by publicly available emails since 2020-11-30 and created a pull request asking to provide t

[2021-03-03 03:08] Leonewu commented on #375
现在还不支持按需

[2021-03-03 03:29] laNuitBlanche opened #385 "[suggest]md-vue loader为什么不自己写。。而是抄的elementui，连注释都一模一样。。"

[2021-03-03 08:16] richard1015 commented on #385
我们采用的 vite 构建，使用的vite插件  vite-plugin-md ,没有用 vue loader :)

[2021-03-03 08:16] #385 closed, assigned to nobody

[2021-03-03 08:19] richard1015 commented on #375
月底肯定会支持的

[2021-03-03 08:24] richard1015 commented on #384
thanks

[2021-03-03 08:24] #384 closed, assigned to nobody

[2021-03-03 08:28] JarLob commented on #384
It is **important** to merge/fix this in `master` too.

[2021-03-03 08:28] richard1015 commented on #340
3.31

[2021-03-05 05:50] lwzhang commented on #375
请问使用 vite 是如何实现按需加载的？

[2021-03-05 05:55] guoxiao158 commented on #315
`Vue.use(VueI18n);
Vue.locale = () => {};
// 将语言包进行合并
const messages = {
 en: {
 ...enUS,
 ...enLocale
 },
 zh: {
 ...zhCN,
 ...zhLocale
 }
}

const i18n = new VueI18n({
 locale: 'zh', // 设置默认语言
 messages: messages // 设置资源文件对象
})
//
const app = new Vue({
 el: '#app',
 i18n
})`

具体参考 文章 https://jelly.jd.com/article/5ec4ca4428979a015430ee75  在最后一部分有详细介绍

[2021-03-05 05:56] guoxiao158 commented on #337
暂未对是分秒进行国际化。等待下个版本优化

[2021-03-05 05:58] guoxiao158 commented on #189
测试版本将会在本月底发布，可以参考 next分支，欢迎关注～

[2021-03-05 06:10] richard1015 commented on #337
@Drjingfubo   已修复 v2.2.15

[2021-03-05 06:10] #337 closed

[2021-03-05 06:43] #315 closed

[2021-03-05 06:44] richard1015 commented on #364
https://nutui.jd.com/#/stepper

[2021-03-05 06:44] #364 closed, assigned to nobody

[2021-03-06 04:51] JerryWu1234 opened #392 "通过npm安装后的包里不包含ts类型推导文件[bug]"
## 问题描述
通过npm安装最新版的3.0版本
## 最小可复现仓库

## 预期的行为和实际行为
预期
![image](https://user-images.githubusercontent.com/27261522/110195732-61643880-7e7a-11eb-8afc-833dfebd3537.png)

实际
![image](https://user-images.githubusercontent.com/27261522/110195759-95d7f480-7e7a-11eb-9674-0c0bbc65eab4.png)

## 复现步骤，具体代码
通过 npm安装

## 相关环境信息
- **操作系统**：*
- **Node 版本**：*
- **NutUI 版本**： @nutui/nutui@3.0
- **Vue 版本**： vue3.0.5

[2021-03-10 12:24] yangguoquan opened #396 "nutui 如何按需引入"

[2021-03-11 01:08] richard1015 commented on #396
正在开发中，3.31正式发布

[2021-03-12 10:00] richard1015 commented on #396
@yangguoquan
https://github.com/jdf2e/nutui-demo/blob/master/vite-ts/src/main.ts

[2021-03-12 10:00] #396 closed, assigned to nobody

[2021-03-12 10:00] richard1015 commented on #392
已修复

[2021-03-12 10:00] #392 closed, assigned to nobody

[2021-03-22 03:17] richard1015 commented on #374
辛苦升级到最新版本

提供复现代码

[2021-03-22 03:20] richard1015 commented on #375
现阶段采用的 按需引用，利用内部treeshaking

[2021-03-31 01:41] richard1015 commented on #375
https://nutui.jd.com/3x/#/

[2021-03-31 01:41] #375 closed, assigned to nobody

[2021-03-31 07:14] Funnyboycode opened #422 "[bug]扫码体验里面的toast弹出的提示得很久才能消失。会遮挡别的内容。"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2021-03-31 09:41] richard1015 commented on #422
感谢反馈，我们处理一下

[2021-03-31 09:46] ailululu opened #423 "[bug]toast 没有阻止点击穿透，前两个demo没有自动消失"
## 问题描述
toast 没有阻止点击穿透，前两个demo没有自动消失

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@3.0
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2021-03-31 09:48] ailululu opened #424 "[bug]竖向轮播的时候指示器还是横向"
## 问题描述
轮播demo里的竖向轮播指示器还是横向

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@3.0
- **Vue 版本**：

[2021-03-31 09:50] ailululu opened #425 "[suggest]3.0体验demo建议优化一下首页的滚动条"
## 你建议我们做什么？

3..0体验demo建议优化一下首页的滚动条，每次返回的滚动条的位置都不是上次的位置

[2021-03-31 10:56] #422 closed, assigned to nobody

[2021-03-31 10:57] #423 closed, assigned to nobody

[2021-04-01 06:56] #424 closed, assigned to szg2008, richard1015

[2021-04-01 08:35] richard1015 opened #427 "[suggest] 3.0 swiper 桌面端体验提升计划"
## 你建议我们做什么？

 3.0 swiper 桌面点体验提升计划

[2021-04-01 09:04] wenkeming opened #428 "[bug]日期选择2月能选31日"
如题，如果选到31日了，再切换成其他月份，还是31日，没有根据当前月份进行改变
![image](https://user-images.githubusercontent.com/8252267/113270486-1966f300-930c-11eb-9eec-cc5bda195475.png)

[2021-04-01 09:49] violet-mio opened #429 "[suggest] Price组件 formatToHump函数优化"
## 当前price组件的formatToHump函数如下
[code]
其中
[code]
这里没有必要格式`price`，因为在`formatDecimal`函数中也会对做`price`进行`toFixed`处理，前面这里显得有点重复处理了

## 你建议我们做什么？

现在...

`formatToHump `函数中不对price数据进行toFixed处理，仅转换为数字，然后数据类型转换为字符串，在给renderPrice处理，具体修改后代码如下

[code]

## 其它

无

[2021-04-01 10:01] richard1015 commented on #429
可以直接提PR  @LastStartDust

[2021-04-01 12:24] richard1015 commented on #428
@yangkaixuan

[2021-04-01 12:56] #428 closed, assigned to nobody

[2021-04-02 09:15] violet-mio commented on #429
已经提啦

[2021-04-06 10:16] etjson opened #434 "[bug]swiper组件在路由跳转在回退时出现重复nut-swiper-wrap内容。"
## 问题描述
swiper组件在路由跳转在回退时出现重复nut-swiper-wrap内容。把loop和autoPlay去掉就不会出现这个问题。

## 复现步骤，具体代码
`<nut-swiper
              direction="horizontal"
              loop
              paginationVisible
              :autoPlay="3000">
            <div v-for="(item,index) in swiperlist" :key="index" class="nut-swiper-slide">
              <img :src="item.img" style="width: 100%;height: 100%;"/>
            </div

[2021-04-07 08:30] base-stone opened #435 "Dialog 组件全局引入"
![image](https://user-images.githubusercontent.com/13493540/113836327-5f660000-97bf-11eb-8313-f03f27345f01.png)
![image](https://user-images.githubusercontent.com/13493540/113836604-9cca8d80-97bf-11eb-89fa-87db997b9f18.png)

Dialog({
  title: "确定删除此订单？",
  content: "删除后将从你的记录里消失，无法找回"
})
这里多个文件引入 使用 Dialog 都要每次 createApp().use(Dialog)，显得多余
除了这种方式，引入全局引入
$dialog()如何调用

[2021-04-07 16:06] zhaoxm469 opened #436 "[question] npm run dev 项目运行不起来~"
## npm run dev 项目运行不起来~

您好，我把项目拉倒本地以后。安装完依赖 。
使用命令 npm run dev . 自动打开网页后，但是页面什么内容也没有显示 。
控制台 报错
![image](https://user-images.githubusercontent.com/26950016/113898114-239e5b00-97fe-11eb-806e-a2be6432370e.png)
![image](https://user-images.githubusercontent.com/26950016/113898156-2b5dff80-97fe-11eb-8e9a-955065d562f7.png)

请问如何解决这个错误呢，让我本地能跑起来这个项目~~

[2021-04-08 02:21] richard1015 commented on #436
这边测试没问题啊，辛苦尝试 删除依赖重新安装试试

在线测试
https://lavender-jaguar-1q1pp48p.ws-us03.gitpod.io/#/workspace/nutui

[2021-04-08 02:21] #436 closed, assigned to nobody

[2021-04-09 05:02] qsjc opened #437 "会考虑直接在项目中增加对iphonx以上机型底部以及顶部适配的支持嘛"

[2021-04-09 09:08] richard1015 commented on #437
内部有这个解决方案，后期会提供，现阶段需要进一步提炼，敬请期待

[2021-04-09 10:04] s836064858 opened #438 "官网的input组件失去焦点后又复原了[bug]"
## 问题描述
官网的input组件失去焦点后又复原了，难道不能直接进行双向绑定吗？

[2021-04-12 03:32] zhXuaner opened #439 "[suggest]nut-picker"
nut-picker组件 “确定”和“取消”按钮文字希望支持自定义
![image](https://user-images.githubusercontent.com/23513892/114336946-b0407480-9b82-11eb-8104-b01f626a927e.png)

[2021-04-12 12:44] richard1015 commented on #439
我们跟进一下，很快处理

[2021-04-12 12:45] richard1015 opened #440 "[suggest]taro+vue3+nutui的微信小程序开发案例"
## 你建议我们做什么？

taro+vue3+nutui的微信小程序开发案例

[2021-04-12 14:33] 13196789316 opened #442 "tabbar引入后报警"
Avoid app logic that relies on enumerating keys on a component instance. The keys will be empty in production mode to avoid performance overhead.
  at <NutTabbarItem icon="setting" >
  at <NutTabbar onTabSwitch=fn<bound tabSwitch> class="footer" unactive-color="#FFFFFF"  ... >
  at <App>

[2021-04-14 05:49] qiweicun opened #443 "this.$notify这种全局引入的能否自己修改一下定义在实例上的名字"
## 你想知道什么？

你好，我想知道这个项目是否可以...

## 描述你考虑过的替代方案

我想...

## 其它

无

[2021-04-14 06:58] richard1015 opened #444 "Toast 函数式使用 [bug]"
在定义一个request的时候使用import { Toast } from "@nutui/nutui"; 提示undefined

462587890@qq.com

[2021-04-15 13:35] richard1015 commented on #443
这样使用
import { Notify } from '@nutui/nutui';
Notify.primary('通知内容');

[2021-04-15 13:35] #443 closed, assigned to richard1015

[2021-04-15 13:35] #444 closed, assigned to richard1015

[2021-04-15 13:35] richard1015 commented on #442
@Drjingfubo

[2021-04-19 00:52] richard1015 commented on #438
@s836064858  3.0 还是2.0 请问

[2021-04-19 01:14] s836064858 commented on #438
3.0。我引入之后发现的这个问题 结果去官网一看官网也存在

[2021-04-24 03:11] richard1015 commented on #435
[code]

[2021-04-24 03:11] #435 closed, assigned to richard1015

[2021-04-24 03:11] richard1015 commented on #440
https://github.com/jdf2e/nutui-demo/tree/master/taro

[2021-04-24 03:11] #440 closed, assigned to nobody

[2021-04-24 04:39] base-stone commented on #435
非常好，谢谢了

[2021-04-25 01:29] #438 closed, assigned to guoxiao158

[2021-04-27 04:07] guchengnan opened #450 "[bug] 官网底部vue导航链接有误"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2021-04-30 07:53] skylingfly opened #451 "[question]不懂就要问，为什么v3使用view 、view-block标签"
不懂就要问，为什么v3使用view 、view-block标签， 有什么特别的目的吗？

[2021-04-30 09:47] CNMathon opened #452 "[question] 项目贡献如何完成lint？"
如果想要给 Nutui 提供代码贡献，想了解项目应该如何 Lint ？

[2021-04-30 09:48] CNMathon commented on #452
阅读了源码，暂未发现触发 Eslint 排查的环节

[2021-04-30 10:51] skylingfly commented on #452
了解下husky & lint-staged 多数项目类似配置

https://github.com/jdf2e/nutui/blob/next/.husky/pre-commit

packag
"lint-staged": {
    "*.md": "prettier --write",
    "*.{ts,tsx,js,vue,scss}": "prettier --write"
  },

[2021-05-01 10:33] Xie-chunhua opened #453 "[bug] 安装后 项目运行报错"
## 问题描述
 安装后 项目运行报错

## 复现步骤，具体代码
  1. 通过命令 vue create demo 创建并运行项目(vue@3.0.0)
  2. 通过命令  npm i @nutui/nutui@beta -S  安装
  3.  运行项目 报错
  4.  ERROR  Failed to compile with 1 error        17:50:27
       This dependency was not found:
        * vue in ./src/main.js
       To install it, you can run: npm install --save vue

## ./src/main.js 文件

import { createApp } from 'vue'
import App from './App.v

[2021-05-01 12:53] Xie-chunhua commented on #453
解决方案：将包管理工具npm换成yarn

[2021-05-01 12:53] #453 closed, assigned to nobody

[2021-05-01 16:25] Baiyuetribe opened #454 "[bug]使用Trao3.X+NutUI开发后，H5正常，小程序所有图标不显示"
## 问题描述

使用Trao3.X+NutUI开发后，H5正常，小程序所有图标不显示。Trao3.x+TaroUI目前小程序也正常，既然同是京东UI，应该可以自我借鉴下。希望NutUI能支持小程序。
## 最小可复现仓库

## 预期的行为和实际行为

已实现案例：
https://github.com/b2nil/taro-ui-vue3/
上述方案实现了taro-ui+vue3，小程序和H5均正常

## 复现步骤，具体代码
H5表现正常
![image](https://user-images.githubusercontent.com/43716063/116788527-ac967280-aadc-11eb-8a1a-b372e731bb7d.png)
小程序不正常
![image](https://user-images.githubusercontent.com/43716

[2021-05-04 11:11] Xie-chunhua opened #455 "[bug] 引入的TabBar组件不能正常展示"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码
Tabbar 标签栏组件 不能正常展示,控制台抛出异常警告
runtime-core.esm-bundler.js?5c40:38 [Vue warn]: Invalid VNode type: Symbol(Fragment) (symbol)
  at <NutTabbar onTab-switch=fn<tabSwitch> >
  at <TabBar onVnodeUnmounted=fn<onVnodeUnmounted> ref=Ref< Proxy {…} > >
  at <RouterView>
  at <Root>

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： "@nutui/nutui": "^3.0.0-

[2021-05-05 13:00] Xie-chunhua opened #456 "[bug] 安装引入报错"
## 问题描述

 通过脚手架创建的vue3.0+ts 项目

## 最小可复现仓库

createApp(App).use(store).use(router).use(NutUI).mount('#app')

Argument of type 'typeof import("/Users/admin/Documents/vue3/app/node_modules/@nutui/nutui/dist/nutui")' is not assignable to parameter of type 'Plugin_2'.
  Property 'install' is missing in type 'typeof import("/Users/admin/Documents/vue3/app/node_modules/@nutui/nutui/dist/nutui")' but requ

[2021-05-06 03:15] richard1015 commented on #451
采用自定义标签 view 进行 taro 转换，方便后期适配  多端小程序

可以理解为，在taro中使用nutui组件库，实现小程序端赋能

[2021-05-06 03:15] #451 closed, assigned to nobody

[2021-05-06 03:16] #450 closed, assigned to nobody

[2021-05-06 05:35] richard1015 commented on #456
参考这个仓库
https://github.com/jdf2e/nutui-demo

[2021-05-06 05:35] #456 closed, assigned to richard1015

[2021-05-07 10:43] #455 closed, assigned to Drjingfubo

[2021-05-08 04:41] zyplayer opened #457 "[bug]navbar里面添加的tabs展示不出来"
## 问题描述
navbar里面添加的tabs展示不出来

## 最小可复现仓库
https://github.com/zyplayer/nut-ui-debuger

## 预期的行为和实际行为
navbar里面添加的tabs需要能展示出来

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：win10
- **Node 版本**：v12.2.0
- **NutUI 版本**： @nutui/nutui@3.0.0-beta.14
- **Vue 版本**：3.0.5
- **引用方式**： NPM

[2021-05-10 02:16] #437 closed, assigned to nobody

[2021-05-13 02:48] SissyC opened #458 "[bug]英文单词拼写错误"
## 问题描述

dialog组件页面中右侧手机预览中英文单词拼写错误
“无弹出动效且关闭时不销毁dislog实例”
页面位置：https://nutui.jd.com/#/dialog
截图：
![image](https://user-images.githubusercontent.com/24885313/118070129-ea966f00-b3d7-11eb-8570-209e4bf93570.png)

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2021-05-13 08:53] richard1015 commented on #458
代码库汇总已修复

[2021-05-13 08:53] #458 closed, assigned to nobody

[2021-05-17 03:46] hcweb opened #459 "可以整合到taro里面进行小程序开发吗？[question]"
## 你想知道什么？

你好，我想知道这个项目是否可以...

## 描述你考虑过的替代方案

我想...

## 其它

无

[2021-05-17 10:11] richard1015 opened #460 "新增弹幕组件[suggest]"
## 你建议我们做什么？

现在...

如果你能...

它将使...

## 其它

无

[2021-05-17 10:13] szg2008 commented on #459
目前正在进行紧张的开发适配以及测试，尽情期待～

[2021-05-18 23:27] guoshuangyang opened #461 "[bug] 组件backtop的bottom和right"
[code]
right 设置为 100 时候，距离底部是100
设置bottom时候才是距离右边100
## 相关环境信息
- **操作系统**：mac for m1
- **Node 版本**：15
- **NutUI 版本**： 3.0.0-@beta.16
- **Vue 版本**： vue3.0 --- ts
- **引用方式**：  npm

[2021-05-19 08:24] richard1015 commented on #461
https://github.com/guoshuangyang/vue3-ts-vite-tailwindcss
复现代码仓库

[2021-05-19 13:16] guoshuangyang opened #466 "[suggest] 关于瀑布流组件的想法"
## 瀑布流组件的想法

现在很多地方都会用到瀑布流，比如资讯类的展示，商品类的展示，pc端和移动端还是有距离的，移动端只需要考虑等宽两列布局，不像pc端需要等宽不等高多列，等高不等宽多列。。。

如果能够做一个瀑布流组件，我觉得是令人振奋的！！

它能够让很多的工作更加精简。

[2021-05-25 15:34] yuanliang847 commented on #451
但是在 Vue 3 里，会控制台里会出现一堆的 warning 报错，这个怎么解决呢？

[Vue warn]: Failed to resolve component: view-block
  at <NutDatepicker modelValue= Tue May 25 2021 23:27:12 GMT+0800 (中国标准时间) onUpdate:modelValue=fn min-date= Wed Jan 01 2003 00:00:00 GMT+0800 (中国标准时间)  ... >
  at <Index onVnodeUnmounted=fn<onVnodeUnmounted> ref=Ref< undefined > >
  at <RouterView>
  at <App>

[2021-05-25 15:51] geekmanvip opened #469 "vue3 datepicker 组件 Failed to resolve component: view-block [bug]"
## 问题描述
1. vue3 的话，导入全部组件，控制台报错，重复导入组件
2. 只导入 datepicker 组件并使用
- 控制台提示缺失 icon 组件，手动导入之后能解决
- Failed to resolve component: view-block ，使用了自定义的 view-block ，导致在控制台一堆的报错，这个如何解决

## 相关环境信息
- **操作系统**：macOS
- **Node 版本**：v12.22.1
- **NutUI 版本**： @nutui/nutui@3.0.0-beta.16
- **Vue 版本**：@vue/cli 4.5.12
- **引用方式**：  NPM

[2021-05-25 15:57] geekmanvip opened #470 "Datepicker 组件 v-model 值变更，默认选中时间希望也能跟着改变 [suggest]"
## 你建议我们做什么？

## 现在
1. 页面加载后，从接口那边一步获取到默认时间
2. 修改 v-model 对应的变量
3. 用户点击弹框，修改时间，这个时候选中的时间是当前时间

## 期望
1. 如果在动态的修改了时间之后，弹出的时间日期选择里，能够默认选中这个动态的值

[2021-05-26 00:09] richard1015 commented on #470
哪个版本
2.0？
3.0？

[2021-05-27 10:01] yang867381349 opened #473 "3.0 组件 input 样式[bug]"
引入
import NutUI from "@nutui/nutui";
import "@nutui/nutui/dist/style.css";

<nut-input
      v-model="state.val1"
      @change="change"
      @focus="focus"
      @blur="blur"
      label="文本"
    />

<img width="1583" alt="A43C7C19-03C9-42CF-A52B-04A450D5F145" src="https://user-images.githubusercontent.com/20942938/119807255-90d48f80-bf15-11eb-8b7a-b29bbe0132e5.png">

[2021-05-27 10:03] yang867381349 commented on #473
本人使用的是
vue-cli4.5.11
vue3.0
element-plus1.0.2-beta.44

[2021-05-27 10:29] yang867381349 commented on #473
@nutui/nutui3.0.0-beta.16

[2021-05-27 10:31] yang867381349 commented on #473
"dependencies": {
    "@antv/g6": "^4.2.7",
    "@nutui/nutui": "^3.0.0-beta.14",
    "amfe-flexible": "^2.2.1",
    "axios": "^0.21.1",
    "compression-webpack-plugin": "^5.0.1",
    "core-js": "^3.6.5",
    "echarts": "^5.1.1",
    "element-plus": "^1.0.2-beta.44",
    "postcss-px2rem": "^0.3.0",
    "qs": "^6.9.6",
    "swiper": "^6.5.0",
    "vue": "^3.0.0",
    "vue-router": "^4.0.8",
    "v

[2021-05-27 10:31] yang867381349 commented on #473
"devDependencies": {
    "@vue/cli-plugin-babel": "~4.5.0",
    "@vue/cli-plugin-eslint": "~4.5.0",
    "@vue/cli-plugin-router": "^4.5.11",
    "@vue/cli-plugin-vuex": "^4.5.11",
    "@vue/cli-service": "~4.5.0",
    "@vue/compiler-sfc": "^3.0.0",
    "babel-eslint": "^10.1.0",
    "eslint": "^6.7.2",
    "eslint-plugin-vue": "^7.0.0-0",
    "node-sass": "^4.14.1",
    "sass": "^1.34.0",
    "sas

[2021-05-28 02:50] denggp opened #475 "[bug]Can't resolve '../img/bg-cube-act.png' in"
按照官方说明引入项目，目前报错:
 error  in ./node_modules/@nutui/nutui/dist/nutui.css
Syntax Error: ModuleNotFoundError: Module not found: Error: Can't resolve '../img/bg-cube-act.png' in '..........\node_modules\@nutui\nutui\dist'

[2021-05-28 03:12] #469 closed, assigned to richard1015

[2021-05-28 03:53] richard1015 commented on #475
已修复，请更新 v2.3.1

[2021-05-28 03:53] #475 closed, assigned to richard1015

[2021-06-17 14:07] richard1015 opened #510 "uploader 安卓上传取消后无法继续上传 [bug]"
## 问题描述

richard1015 标记修复📌

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.x.x  or @nutui/nutui-jdl@1.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2021-06-21 08:50] xiyoudaodao opened #514 "v2.3.1 import { Notify } from "@nutui/nutui";Notify.success('在js模块中使用')"
import { Notify } from "@nutui/nutui";
Notify.success('在js模块中使用');
提示不存在属性success

[2021-06-27 09:55] richard1015 commented on #514
this.$notify.success('通知内容');

import { Notify } from "@nutui/nutui";
Notify[0].success('在js模块中使用');

[2021-06-27 09:55] #514 closed, assigned to nobody

[2021-06-28 08:57] hcweb opened #526 "[bug]button不显示文字 tabbar也是 navbar字体不显示"
![QQ截图20210628165409](https://user-images.githubusercontent.com/12317944/123608881-c11f8e80-d831-11eb-86c3-e6ebb9187f98.png)
[新建 DOCX 文档.docx](https://github.com/jdf2e/nutui/files/6724862/DOCX.docx)
![QQ截图20210628165632](https://user-images.githubusercontent.com/12317944/123608962-d72d4f00-d831-11eb-88c6-d614ec0b0606.png)

[2021-06-30 01:06] richard1015 commented on #526
nutui版本 提供一下

[2021-07-01 01:09] Tyresee commented on #339
现在这个问题依然存在

[2021-07-01 10:03] boot-vue opened #527 "[bug]taro3 vue3 小程序端不支持"
## 问题描述
taro3 vue3 小程序项目使用最新版ui 很多组件无法使用

## 最小可复现仓库

[demo](https://github.com/boot-vue/bug)

## 预期的行为和实际行为

ui组件无法正常使用, 大量组件存在异常, 比如`Overlay 遮罩层`

## 复现步骤，具体代码

[code]

[code]

## 相关环境信息
- **操作系统**：
- **Node 版本**：14.17
- **NutUI 版本**： @nutui/nutui@3.0.2-taro
- **Vue 版本**： 3
- **引用方式**：   NPM

[2021-07-01 10:17] szg2008 commented on #527
收到，我们跟进一下

[2021-07-09 09:45] boot-vue opened #530 "[bug] taro init vue3 nut-ui模板都无法跑起来"
![image](https://user-images.githubusercontent.com/36025992/125058543-f606cd80-e0dc-11eb-8c7b-1c55923d6643.png)

taro 创建vue3 nut-ui的模板项目启动直接报错

[code]

package.json

[code]

[2021-07-09 09:48] boot-vue commented on #530
`@tarojs/plugin-html` 实际 install的版本 `3.3.0-alpha.0`

[2021-07-09 10:09] boot-vue commented on #530
Taro 升级到 `v3.3.0-beta.0` ok了 ,   这................

[2021-07-09 10:09] #530 closed, assigned to nobody

[2021-07-09 10:10] #527 closed, assigned to nobody

[2021-07-12 01:22] JokerLoLgrey opened #531 "[bug]官方小程序版demo日历选择器不能像H5版向下滑动"
## 问题描述
官方小程序版demo日历选择器不能像H5版向下滑动

## 预期的行为和实际行为
官方小程序版demo日历选择器能够像H5版向下滑动

## 相关环境信息
- **操作系统**：IOS14.6

[2021-07-12 01:33] richard1015 commented on #526
参考 https://github.com/jdf2e/nutui-demo

[2021-07-12 01:33] #526 closed, assigned to nobody

[2021-07-12 02:55] zhengchenghui opened #532 "[suggest]Uploader组件，啥时候能加个点击图片放大预览的功能"
强烈建议Uploader组件，能加个点击图片放大预览的功能

[2021-07-12 09:02] watsonhaw5566 commented on #452
lint放到package.json的eslintConfig里面了，你可以看看。

[2021-07-13 07:07] SuGod opened #535 "[bug]Taro3 Nutui-taro 3.1.1 小程序端 UI 字体显示不正常"
## 问题描述
Tarocli 使用 nutui 模板创建项目，未改动任何配置。

![image](https://user-images.githubusercontent.com/18413524/125406167-20ad9a80-e3eb-11eb-9982-7369ebadd71b.png)
![image](https://user-images.githubusercontent.com/18413524/125406790-cb25bd80-e3eb-11eb-83c9-3ea5bf22e2cf.png)

## 复现步骤，具体代码
[code]

[code]
[code]

## 相关环境信息
- **操作系统**：
- **Taro 版本**：3.3.0
- **NutUI 版本**：@nutui/nutui-taro 3.1.1
- **Vue 版本**：3.1

[2021-07-14 08:29] laichengs commented on #535
目前也发现了同样的问题，实验了很多次，在config/index.js里设置deviceRatio:{750:2}即可解决，不过还是希望官方有完整的解决方案

[2021-07-15 02:35] GuangHuiGitHub opened #538 "[bug]nut-tab v2.3.3"
<nut-tab v-bind="containerAttr" v-on="$listeners">
        <nut-tab-panel
          v-for="(item, index) in tabPanelArray"
          :key="JSON.stringify(item) + index"
          :tab-title="handelTitle(item)"

          <div style="width:100%; margin-top:20px; color: rgba(0,0,0,0.3);">
            {{ handelTitle(item) }}
          </div>
        </nut-tab-panel>
      </nut-tab>

无法动态修nut-tab-pan

[2021-07-15 02:45] yanwuguangjun opened #539 "[bug]"
## 问题描述
cell 内 内容不显示  升级到2.3.1 后就 好像就没显示了

## 复现步骤，具体代码

`        <nut-cell :sub-title="'学号:' + student.u_id" :desc="'宿舍号:' + local_data.room_name">
            <transition slot="title">
                姓名{{ student.name}}
            </transition>
        </nut-cell>
        <nut-cell :title="'表号:'+ local_data.u_id"  :desc="'余额:￥' + balance">
        </nut-cell>`

## 相关环境信息
- **操作系统**：
- **Node 版

[2021-07-16 02:05] szg2008 commented on #535
问题已修复，可以重新初始化项目查看

[2021-07-16 02:05] #535 closed, assigned to szg2008

[2021-07-16 03:41] UzkiS opened #542 "[bug]toast.loading 默认展示时长bug以及文档指引问题"
首先上bug，文档中描述

`duration值为 0 时，toast 不会自动消失（loading类型默认为0）`

实际上使用toast.loading时，默认时长依旧为2000，并不是0

然后上文档指引问题
再不看vue2文档直接看vue3版本的时候

方法名 | 说明 | 参数 | 返回值
-- | -- | -- | --
Toast.text | 展示文字提示 | options/message | toast 实例

文档的意思是和我说参数 options/message 二选一，导致如下方式想使用options时并不能成功
[code]
看了Vue2版本的文档之后才知道是
[code]
所以文档参数描述将`options/message`改为 `message, options`会好一点，能明确告诉别人options和message是分开的两个参数，或者直接增加examp

[2021-07-16 03:47] UzkiS commented on #542
补充一下 cover 在loading时的默认值也和文档描述的不一致

[2021-07-19 02:38] clotee opened #543 "[bug]：vue3 + nutui-taro@3.1.1 开发dev:weapp构建成功，小程序预览工具空白，一直处于comping状态，电脑风扇狂转动....（H5没毛病）"
## vue3 + nutui-taro@3.1.1 开发dev:weapp构建成功，小程序预览工具空白，一直处于comping状态，电脑风扇狂转动....（H5没毛病）

## 预期的行为和实际行为

## 复现步骤，具体代码
[code]

## 相关环境信息
- **操作系统**：mac 11.4
- **Node 版本**：v14.15.3
- **NutUI 版本**： @nutui/nutui-taro@^3.1.1
- **Vue 版本**：^3.0.0
- @tarojs/cli@3.3.0
- **引用方式**：  CDN / NPM ？

[2021-07-19 07:00] wuyi123321 opened #545 "DatePicker组件choose方法 会连续调用两次[bug]"
## 问题描述

调用日期选择点击确定后 choose方法执行了两次
代码如下图
https://www.szcapital.com.cn/home/nginx/files/img/2021/7/19/20210719145649452.jpg
用谷歌浏览器调试如下图
https://www.szcapital.com.cn/home/nginx/files/img/2021/7/19/20210719145003185.jpg
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@2.3.4
- **Vue 版本**：2.6.1
- **引用方式**：NPM

[2021-07-21 07:30] seatonxx commented on #543
+1

[2021-07-21 13:48] Lin-Ya commented on #543
我也出现了这种情况。。实在受不了了才来GitHub看看，想不到也有人遇到这种情况。

[2021-07-22 01:48] moor-zhou commented on #543
+1

[2021-07-22 05:34] #539 closed, assigned to richard1015

[2021-07-22 06:28] richard1015 commented on #543
该问题，与 Taro 团队 紧急处理中 ...

暂时可使用 npm run build:weapp 测试使用

nutui-taro 官方完整小程序 Demo 版 点击以下链接运行尝试

[https://github.com/jdf2e/nutui-demo/tree/master/taro](https://github.com/jdf2e/nutui-demo/tree/master/taro)

[2021-07-22 11:47] richard1015 commented on #542
感谢反馈，我们跟进一下

[2021-07-23 05:10] richard1015 commented on #454
由于Button组件内部图标依赖 Icon ,需使用下方使用方式

``` import { Button,Icon } from '@nutui/nutui-taro';```

下个版本文档将更新

[2021-07-23 05:10] #454 closed, assigned to richard1015, zy19940510

[2021-07-23 08:40] zehuichan opened #547 "[suggest] Cell 单元格 能否支持通栏布局，取消掉border-radius"
如题

[2021-07-23 08:49] yuzhewo opened #548 "nutui的TabBar组件，如何与vue-router结合实现路由跳转"
nutui的TabBar组件，如何与vue-router结合实现路由跳转

[2021-07-23 09:01] Drjingfubo commented on #548
点击切换时候的tab-switch事件已经暴露出来了哦，可以直接调用它去处理路由跳转

[2021-07-23 09:01] Drjingfubo commented on #548
点击切换时候的tab-switch 已经事件暴露出来了哦，可以直接调用它去处理消息跳转

[2021-07-23 09:08] JakeWoki commented on #543
+1，dev:weapp运行就这样，build:weapp正常

[2021-07-23 09:58] JakeWoki commented on #276
希望在taro分支也加上下拉刷新，上拉加载更多组件

[2021-07-23 10:32] richard1015 commented on #547
通栏当前版本支持
测试环境 已更新 新增参数 round-radius 设置 0即可取消圆角
v3.1.2 发布后更新即可

[2021-07-24 11:15] zehuichan commented on #547
@richard1015 thx

[2021-07-26 03:00] ljwrer opened #550 "[bug] calendar组件微信小程序切换月份卡顿"
## 问题描述

calendar组件微信小程序切换月份卡顿
## 最小可复现仓库
官方的示例就会卡顿
![image](https://user-images.githubusercontent.com/8912740/126926736-09de6e2e-6060-4eb7-915e-e0a6942836cb.png)

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：IOS 14.7
- **微信版本**：8.0.9

[2021-07-26 07:55] SuGod opened #551 "[question]taro3 vue3 nutui3 开发微信小程序 Runtime warning"
## 你想知道什么？

[code]

index.vue 代码如下：

[code]

app.js 代码如下：
[code]

## 描述你考虑过的替代方案
`build:weapp` 和 `dev:weapp` 结果都一样。
文档中的 全量引入和按需引入都试过，结果一样。

[2021-07-26 09:01] mtm2233 commented on #551
InfiniteLoading 也同样错误

[2021-07-28 04:49] b2nil commented on #551
这里边存在两个问题。

1. 不能解析组件

这是编译打包时造成的问题。编译 `template` 时，应该采用 `@tarojs/mini-runner` 中 `vue-loader` 的[相同编译配置](https://github.com/NervJS/taro/blob/531474b147761c0c760d7d1d4ee72e2829163c1b/packages/taro-mini-runner/src/webpack/vue3.ts#L51-L65)，把 `COMPONENT` 类型的节点转换为 `ELEMENT` 类型。直接配置`compilerOptions.isNativeTag` 或者 `compilerOptions.isCustomElement` 也行。

 目前 NutUI Taro Vue 版本打包时没处理这点：
 https://github.com/j

[2021-07-28 06:54] houcl opened #553 "swiper not found[bug]"
## 问题描述

使用swiper在小程序中提示not fount

使用模板创建后复现

[code]

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

[code]

[code]

## 相关环境信息
- **操作系统**：macOS Big Sur 11.5.1
- **Node 版本**：v12.16.1
- **NutUI 版本**： 	"@nutui/nutui-taro": "^3.1.1"
- **Vue 版本**：vue3
- **引用方式**：  NPM

[2021-07-28 07:02] houcl commented on #553
h5的可以显示组件

[2021-07-29 03:09] youngkai1 commented on #553
请问解决了吗

[2021-07-29 03:58] collincheng commented on #553
![image](https://user-images.githubusercontent.com/49746060/127429235-287eb5d4-df09-46c8-a16e-8d6a34a507a7.png)

引入swpier报错

[2021-07-29 08:20] zhangrundong opened #556 "[bug]taro-vue3项目下组件DatePicker引入报错 找不到组件"
## 问题描述

## 最小可复现仓库

## 预期的行为和实际行为
日期选择器可以正常使用

## 复现步骤，具体代码
![image](https://user-images.githubusercontent.com/16918482/127457084-09512bab-830b-416e-b436-c397b2edf9c6.png)
![image](https://user-images.githubusercontent.com/16918482/127457166-5b12b6f0-86e3-4c92-8db1-26a4ff5af716.png)
![image](https://user-images.githubusercontent.com/16918482/127457233-78ac31e8-a4d1-4881-9fba-9964ec18aa9c.png)

##

[2021-07-30 02:17] houcl commented on #553
还没解决，看到最新的issue #556 貌似是普遍现象

[2021-07-30 07:20] GilHogan opened #557 "nutui-taro 主题色配置无效 [question]"
## 你想知道什么？

在taro中主题色如何配置

## 描述你考虑过的替代方案

1. 在项目中新建了一个scss文件，文件内容如下
[code]
2. 在config\index.js文件中配置了sass项，[taro的配置参考](https://docs.taro.zone/docs/config-detail#sass)
[code]
3. 现象：主题色配置无效
## 其它

  "dependencies": {
    "@babel/runtime": "^7.7.7",
    "@nutui/nutui-taro": "^3.0.3",
    "@tarojs/components": "3.3.0",
    "@tarojs/plugin-html": "3.3.0",
    "@tarojs/runtime": "3.3.0",
    "@tarojs/ta

[2021-07-31 09:15] richard1015 commented on #557
升级到最新版本  @nutui/nutui-taro@3.1.2
[code]

我们这边试的没问题

[2021-07-31 09:19] richard1015 commented on #553
开发者 @houcl  可以先依赖  taro组件 https://taro-docs.jd.com/taro/docs/components/viewContainer/swiper

@szg2008    组件库内部按需引入bug SwiperItem,

[2021-07-31 09:19] #548 closed, assigned to Drjingfubo

[2021-07-31 09:19] #547 closed, assigned to richard1015

[2021-07-31 09:20] richard1015 commented on #461
@Drjingfubo  是否已修改

[2021-07-31 09:21] richard1015 commented on #531
3.1.2已修复

[2021-07-31 09:21] #531 closed, assigned to guoxiao158

[2021-07-31 09:21] #442 closed, assigned to Drjingfubo

[2021-07-31 10:39] ANDYGE opened #558 "[bug]3.1.2版本Tab组件H5不能正常工作"
## 问题描述

在h5模式下，显示所有的nut-tab-panel内容，控制台打印如下错误`Failed to resolve component: scroll-view`，另外当tab页签垂直显示的时候，字体变得特别大。

## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：macos big sur
- **Node 版本**：16.5
- **NutUI 版本**： @nutui/nutui-taro:3.1.2
- **Vue 版本**：^3.0.0
- **引用方式**：  CDN / NPM ？

[2021-08-01 09:24] strongyc opened #559 "[suggest功能需求"
## 你建议我们做什么？
是否可以增加Card和九宫格组件，这两个组件在使用中还是比较频繁，另外，啥时候可以发布React版本，很期待哦

现在...

如果你能...

它将使...

## 其它

无

[2021-08-02 02:10] HoganGolden commented on #557
我升级了没用啊，你的@tarojs/taro是什么版本

[2021-08-02 02:12] GilHogan commented on #557
@richard1015 我升级了没用啊，你的@tarojs/taro是什么版本

[2021-08-02 05:41] GilHogan commented on #557
* 我做了一个demo分别上传到了[github](https://github.com/HoganGolden/taro-test.git) 和 [codesandbox](https://codesandbox.io/s/holy-wildflower-rl6lp?file=/config/index.js)

* codesandbox运行截图,可以看到按钮颜色未改变
![codesandbox运行截图](https://raw.githubusercontent.com/HoganGolden/taro-test/master/src/public/1627882292(1).jpg)

[2021-08-02 09:57] Mis-zhang opened #560 "[bug]初始化项目报错"
## 问题描述
创建项目，npm run dev:h5 报错

## 复现步骤，具体代码

![image](https://user-images.githubusercontent.com/29423930/127842677-be7af341-73f7-44bc-b252-5a9f59f6d8eb.png)
![image](https://user-images.githubusercontent.com/29423930/127842784-91165466-51f5-46c9-88ec-252fcc49e31e.png)

## 相关环境信息
- **操作系统**：mac
- **Node 版本**：v12.22.1
- **NutUI 版本**： @nutui/nutui-taro": "^3.0.3 "@tarojs/taro": "3.2.13",
- **Vue 版本*

[2021-08-02 11:04] richard1015 commented on #560
需使用taro 3.3.1版本

参考 https://github.com/jdf2e/nutui-demo/tree/master/taro

[2021-08-02 11:04] #560 closed, assigned to nobody

[2021-08-02 11:14] richard1015 commented on #557
参考这个demo
https://github.com/jdf2e/nutui-demo/tree/master/taro3
taro版本 暂时锁定在 v3.3.0-beta.0

[2021-08-02 11:19] richard1015 commented on #459
https://nutui.jd.com/#/starttaro

[2021-08-02 11:19] #459 closed, assigned to szg2008

[2021-08-02 11:19] #429 closed, assigned to nobody

[2021-08-02 11:20] #439 closed, assigned to richard1015

[2021-08-02 11:21] #94 closed

[2021-08-02 11:22] #68 closed

[2021-08-02 11:23] #289 closed

[2021-08-02 12:19] richard1015 commented on #559
Card 和 九宫格 可以详细描述一下

比如？

[2021-08-02 12:19] richard1015 commented on #559
Card 和 九宫格 可以详细描述一下

比如？

[2021-08-02 12:46] airene opened #561 "[question]到3.x的版本 是用vite的lib模式打包成一个es文件，这种能treeshaking么"
es模式：最近看了些文章，也在本地试了一下，tree-shaking完全不明显，下载后的文件是 209k，只引icon 直接变大 160k，摇没要差别不大啊，

[2021-08-03 01:19] GilHogan commented on #557
@richard1015 那个demo拉下来运行就报错，可能是和windows环境有关，没解决
[code]
还有 我上面现成的[codesandbox](https://codesandbox.io/s/holy-wildflower-rl6lp?file=/config/index.js)项目，只需要在线就可以运行 不看一下吗

[2021-08-03 08:03] weicheng-git commented on #543
+1

[2021-08-03 08:44] richard1015 commented on #561
icon 内部引用的 字体文件， 引入肯定会全部加载的，

[2021-08-03 09:02] GilHogan opened #562 "InfiniteLoading 上拉不触发 loadMore[bug]"
## 问题描述

InfiniteLoading 上拉不触发 loadMore
## 最小可复现仓库

## 预期的行为和实际行为

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：windows
- **Node 版本**：12.17.0
- **NutUI 版本**： @nutui/nutui-taro": "^3.1.2"
- **Vue 版本**："vue": "^3.0.0"
- **引用方式**：  NPM

[2021-08-04 01:31] GilHogan commented on #562
dev:h5  [Vue warn]: Failed to resolve component: scroll-view
复现代码[link](https://codesandbox.io/s/upbeat-joliot-392lh)

[2021-08-04 10:10] QzhouZ opened #564 "vue3版本兼容问题"
看文档介绍支持的环境是：
Android 4.0+
iOS 8.0+

Vue3版本只支持以下版本吧，是做了什么hack处理吗？
Android 5.0+
iOS 9.2+

[2021-08-04 14:55] strongyc commented on #559
![image](https://user-images.githubusercontent.com/51156342/128203756-d98cfbf5-1910-4a83-905e-5eda6a0230a1.png)

[2021-08-05 08:01] szg2008 commented on #564
你好，文档书写有错误，感谢提醒，已修改，下次一起发布～

[2021-08-05 08:01] #564 closed, assigned to nobody

[2021-08-05 09:53] ammaElm opened #566 "[suggest] uploader 组件 formData 中的 file参数 能否置于 所有key值之后。"
## uploader组件 formData 后置 文件二进制信息
采用uploader组件文件上传，文件二进制信息处于信息头，不利于验证信息的校验；使用时需手动删除 fileItem中的file，再通过 formData属性改变顺序上传；file属性默认配置于最后感觉会更优。

[2021-08-05 15:18] yangjisen opened #567 "[question]设计稿及尺寸单位如何调整兼容"
## 你想知道什么？

[code]
当以前的老项目使用其他的UI时, 他们的设计稿是按 `750` 进行设计的, 而 nutui 是按 ` 375 ` 进行设计的,  请问该如何与老项目进行兼容逐步替换为 nutui呢 ?
例子: 使用 taro-ui-vue3

## 描述你考虑过的替代方案

我想...

## 其它

无

[2021-08-06 10:47] richard1015 commented on #557
升级 taro 3.3.2 即可， 具体参考

https://github.com/jdf2e/nutui-demo/tree/master/taro3

[2021-08-06 10:47] #557 closed, assigned to richard1015

[2021-08-06 10:50] richard1015 commented on #557
import "@nutui/nutui-taro/dist/style.css";

import "@nutui/nutui-taro/dist/style.css";
改成
import '@nutui/nutui-taro/dist/styles/themes/default.scss';

[2021-08-06 10:53] richard1015 commented on #543
已修复    升级依赖包 @tarojs/xxx@3.3.2 以上

[2021-08-06 10:53] #543 closed, assigned to szg2008, richard1015

[2021-08-06 10:54] richard1015 commented on #543
参考 https://github.com/jdf2e/nutui-demo/tree/master/taro

[2021-08-06 10:54] #561 closed, assigned to nobody

[2021-08-06 11:41] richard1015 commented on #557
https://codesandbox.io/s/unruffled-wood-d4tq9?file=/package.json

[2021-08-06 15:27] yangjisen commented on #559
附议

[2021-08-09 05:51] gay5882007 opened #570 "可以新增一个自定义顶部导航栏组件吗？"

[2021-08-10 01:14] hothotaxiao commented on #473
这个问题解决了吗

[2021-08-10 01:15] hothotaxiao commented on #473
我也遇到这个问题，我用的taro+nutUI3, input 样式感觉没有应用过来

[2021-08-10 02:39] hothotaxiao commented on #440
https://github.com/jdf2e/nutui-demo/tree/master/taro
里面的input框还是有
![image](https://user-images.githubusercontent.com/65027150/128799968-a11b437e-253b-46e0-824e-3661dc0ddc0a.png)
请尽快完善一下

[2021-08-10 02:43] hothotaxiao commented on #440
![image](https://user-images.githubusercontent.com/65027150/128800124-7ad37a5a-3009-454e-b5df-b517c3840e64.png)
这两个功能也有问题
1.datepicker 点击不出来日期
2.picker 选择器也有这样的问题，有好多警告
bug3.0

[2021-08-10 14:31] sparrowu93 commented on #558
+1

[2021-08-11 11:22] liujiayii opened #572 "[suggest]可以新增NoticeBar组件"
## 你建议我们做什么？
参考 https://youzan.github.io/vant-weapp/#/notice-bar

现在...

如果你能...

它将使...

## 其它

无

[2021-08-12 08:58] ziclee commented on #558
小程序里面需要手动引入Swiper组件就能正常使用

[2021-08-13 08:47] hollebeijing opened #573 "taro的选择器不能使用 [bug 3.0]"
## 问题描述

自己导Picker进行使用的时候，发现不能显示。
下载taro-ui-vue3 的demo进行编译测试，编译weapp发现依然不能显示。

## 最小可复现仓库

https://github.com/b2nil/taro-ui-vue3/

## 预期的行为和实际行为
![image](https://user-images.githubusercontent.com/20790716/129330805-ed3c7efb-8132-49f4-b6cb-22fb670c2a65.png)

## 复现步骤，具体代码

## 相关环境信息
- **操作系统**：mac
- **Node 版本**：v14.7.0
- **NutUI 版本**： @nutui/nutui-taro": "^3.0.3
- **Vue 版本**：vue3
- **引用方式**：  NPM ？

[2021-08-13 09:04] sparrowu93 commented on #558
这个即使拉demo下来运行也还是会立马复现，官网上面的就没问题，确定是没引入的问题？

[2021-08-16 08:06] register2019 opened #576 "NutUI3.0中tab标签组件如何给标签自定义点击事件"
## 你想知道什么？
tab标签组件如何给标签自定义点击事件

[2021-08-16 10:01] carlosyan1807 opened #577 "[bug] Cell在Taro小程序时报vue-router注入错误"
## 问题描述
使用Taro且未使用vue-router时，会warn没有vue-router
cell.taro.vue 有click就够了
其他有关路由的组件比如tabbar如果都import vue-router了可能都有这个warn吧

https://github.com/jdf2e/nutui/blob/b1e811d47247d84be55e8223525cb601ca2ba6c1/src/packages/__VUE/cell/index.taro.vue#L38

[Vue warn]: injection "Symbol([vue-router]: router)" not found.

墙高了？这两天github贴不上图来

[2021-08-17 02:58] richard1015 commented on #572
感谢反馈，预计9月左右会新增

[2021-08-17 02:59] richard1015 commented on #566
感谢反馈

[2021-08-17 03:00] richard1015 commented on #567
参考 taro 文档 ，过滤 nut-
https://taro-docs.jd.com/taro/docs/vant

[2021-08-17 03:01] richard1015 opened #578 "[suggest] Taro"
## 你建议我们做什么？

Taro Button 按钮支持 微信自带 OpenType等功能

https://developers.weixin.qq.com/miniprogram/dev/component/button.html

## 其它

无

[2021-08-17 03:03] richard1015 commented on #570
参考 https://nutui.jd.com/#/navbar

[2021-08-17 03:37] liujiayii commented on #570
他说的应该是顶部胶囊那一栏

[2021-08-17 08:31] fssgh opened #581 "升级V3.1.3后，项目跑不起来了，大神们 进来看看怎么解决 。。。"
## 问题描述
编译时发出的警告：
[vue-cli-service]  WARNING  Compiled with 4 warnings
[vue-cli-service]  warning  in ./node_modules/@nutui/nutui/dist/nutui.es.js
[vue-cli-service] "export 'createElementBlock' (imported as 'h') was not found in 'vue'
[vue-cli-service]  warning  in ./node_modules/@nutui/nutui/dist/nutui.es.js
[vue-cli-service] "export 'createElementVNode' (imported as 'x') was not found in 'vue'
[

[2021-08-17 13:10] register2019 opened #582 "NutUI3.0标签组件在Vue3.0中能根据标签切换内容 微信小程序中不能"
## 你想知道什么？

无

[2021-08-17 13:24] #582 closed, assigned to nobody

[2021-08-17 13:28] register2019 opened #583 "微信小程序中使用Tab标签不能显示标签下面的内容"
## 你想知道什么？
![003](https://user-images.githubusercontent.com/51252517/129734187-2efb149c-4849-41a3-b197-31ebb70e62ed.PNG)

[2021-08-18 09:17] MadWeb opened #586 "[suggest]针对折叠面板可以支持插槽传自定义标题吗"
## 你建议我们做什么？
增加

现在nut-collapse折叠面板不支持插槽传标题

如果你能增加具名插槽传自定义标题内容

它将使折叠面板组件具有更好的扩展性

## 其它

无

[2021-08-18 17:29] willove commented on #581
降回到3.1.2就行了
还有vue 和 @vue/compiler-sfc 不要升级，我感觉3.2之后的版本都有问题，最明显的是icon出不来了，3.1.5正常

[2021-08-18 18:18] willove commented on #583
这些有个特点，就是包装了原生组件，这些原生组件无法使用，其他比如swiper和picker也不正常，不知道是taro的原因还是什么。我的解决办法就是直接用原生组件去实现，不用nutui的去实现。

[2021-08-18 18:19] willove commented on #573
这个问题有好久了，还有swiper也不能用，我感觉上是和vue的版本有关，更新到3.2后 nut-icon 也不能用了

[2021-08-19 01:12] fssgh commented on #581
降级不是好办法。。。。没有没能用上 @nutui/nutui@3.1.3的处理方案？

[2021-08-19 01:57] richard1015 commented on #581
@fssgh    请尝试删除package-lock、yarn.lock 文件，删除 node_modules

重新安装依赖测试一下

[2021-08-19 02:00] richard1015 commented on #581
具体可参考 https://github.com/jdf2e/nutui-demo/tree/master/vite-ts

[2021-08-19 02:02] richard1015 commented on #562
taro场景滚动加载，请直接采用 taro scroll-view

https://taro-docs.jd.com/taro/docs/components/viewContainer/scroll-view

[2021-08-19 02:59] willove commented on #581
感谢，这方法有用，更新vue到最新版，之前 icon不显示的也有了。

[2021-08-19 05:10] yangjisen commented on #567
非常感谢, 问题已解决

[2021-08-19 05:10] #567 closed, assigned to richard1015

[2021-08-19 05:11] yangjisen commented on #567
https://github.com/jdf2e/nutui/issues/567#issuecomment-899955443
https://taro-docs.jd.com/taro/docs/vant
问题得已解决

[2021-08-19 07:37] lebronjs opened #588 "[question] 日期控件不支持月份选择吗"
## 你想知道什么？

你好，我想知道 datepicker 是否支持month类型

如果不支持就很尴尬了，项目中需要月份选择器

[2021-08-19 08:46] erdezhuang opened #589 "[bug]Infiniteloading 组件 PageA调用 切换到PageB,从PageB返回PageA,PageA中上拉加载更多,会调用PageB中上拉刷新方法"
## 问题描述
Infiniteloading 组件 PageA调用 切换到PageB,从PageB返回PageA,PageA中上拉加载更多,会调用PageB中上拉刷新方法

## 相关环境信息
- **操作系统**：     Mac
-  **Taro 版本**：  @Taro@3.3.3
- **NutUI 版本**： @nutui/nutui@3.1.3
- **Vue 版本**：    vue@3.2.4
- **引用方式**：     NPM

[2021-08-20 05:06] sparrowu93 commented on #583
太拉了，官网实列跑得好好的，结果拉下来一看不是那么回事，心说你刚发布慢慢改查漏补缺，提了个bug出来，老大默默贴了个tag，就没有下文了，也没说什么问题，也没有临时的workaround，版本是一个一个发，问题是一个也没解决

[2021-08-20 06:42] #581 closed, assigned to richard1015

[2021-08-20 06:43] richard1015 commented on #589
使用Taro    https://taro-docs.jd.com/taro/docs/components/viewContainer/scroll-view

[2021-08-20 06:43] #589 closed, assigned to yangxiaolu1993

[2021-08-20 06:47] richard1015 commented on #583
感谢反馈，目前组件库中，使用Taro原生的均出现此问题，我们尽快修复

[2021-08-20 06:47] richard1015 commented on #588
datepicker picker 组件重构中

[2021-08-20 09:04] NomadBin opened #591 "文档的bug"
https://github.com/jdf2e/nutui/blob/8632924ef69b139f1cfed47162ea35eee7504f2e/src/sites/doc/components/Search.vue#L102

上面代码有问题，当输入回车时会报错。因为data中没有$router。 应该使用 vue-router 的 compsition api:
[code]

[2021-08-20 12:29] register2019 commented on #583
看来大家都遇到了 我一直以为是我项目的问题

[2021-08-23 01:09] Drjingfubo commented on #591
感谢，已修复

[2021-08-23 01:17] #591 closed, assigned to nobody

[2021-08-23 07:53] Ymm0008 commented on #586
功能已完善，待下个版本发布，感谢反馈。 @MadWeb

[2021-08-23 07:53] #586 closed, assigned to Ymm0008

[2021-08-24 12:58] xiaofuyesnew commented on #558
Taro 3.3.3 Vue 3.2.4 NutUI 3.1.3 问题依然存在，编写样式覆盖`<nut-tab-panel>`中的布局，基本上样式是正确的了， 但点击tabs无法切换内容，Failed to resolve component的除了scroll-view还有swiper和swiper-item。

[2021-08-24 15:34] xiaofuyesnew commented on #558
自己使用基本组件实现了一个一模一样的组件，能完成功能。先用着。

[2021-08-24 16:46] nodfe commented on #583
请问BUG3.0这些问题解决还需多久，新项目在考虑用Nut

[2021-08-25 09:18] szg2008 commented on #553
这个目前先使用Taro本身的swiper组件代替，目前我们正在h5的基础上做适配，不再二次封装原生swiper

[2021-08-25 09:20] szg2008 commented on #573
先使用原生picker组件，目前正在紧急修复中

[2021-08-25 09:20] szg2008 commented on #558
这个组件依赖swiper，正在紧急修复中

[2021-08-25 09:21] szg2008 commented on #556
同问题#553

[2021-08-25 09:23] szg2008 commented on #473
已修复

[2021-08-25 09:23] #473 closed, assigned to guoxiao158

[2021-08-26 08:12] zhangchenna opened #600 "什么时候能整一个支持uniapp的"
什么时候能整一个支持uniapp的

[2021-08-26 09:15] b2nil commented on #583
改一下 Taro 版本的编译配置，重新构建打包发版即可，供参考：https://github.com/b2nil/taro-plugin-vue。建议针对小程序和 h5 版本分开编译打包。

[2021-08-26 12:59] richard1015 commented on #570
是否可以贴个图

[2021-08-26 13:00] #562 closed, assigned to yangxiaolu1993

[2021-08-26 13:04] richard1015 commented on #551
@b2nil  感谢提供解决方案，我们跟进一下  @szg2008

[2021-08-26 13:06] #460 closed, assigned to Ymm0008

[2021-08-26 13:08] richard1015 commented on #452
提交时代码时 会自动触发  lint-staged    .prettierrc

[2021-08-26 13:08] #452 closed, assigned to nobody

[2021-08-26 13:18] #369 closed, assigned to Drjingfubo

[2021-08-27 05:27] b2nil commented on #551
@richard1015 @szg2008
上面有一处错误，应该是：
配置好 `compilerOptions` 后，针对小程序平台，<swiper-item /> 应被编译为类似：`createVNode("swiper-item", ...)`，而 h5 平台则应该编译为类似：`createVNode(resolveComponent("taro-swiper-item"), ...)`。总之参考 Taro 的 vue-loader 配置即可。

[2021-08-29 14:40] hyphappy011 opened #603 "Nut UI无法和Vite SSR 结合使用，不能支持SSR"
我参考 Vite官方提供的SSR Vue项目（https://github.com/vitejs/vite/tree/main/packages/playground/ssr-vue），只需要在这个项目use Nut UI就会报错。

然后引入Nut UI，yarn run build可以通过，但是访问服务则报错：

ReferenceError: Element is not defined
    at /Volumes/Work/Development/onein-taro-build/node_modules/@nutui/nutui/dist/nutui.umd.js:6:13928
    at /Volumes/Work/Development/onein-taro-build/node_modules/@nutui/nutui/dist/nutui.umd.js:6:72

[2021-08-29 15:23] DeerL1o opened #604 "DIalog组件 小程序报错 Object(...) is not a function"
##
 import NutUI from "@nutui/nutui-taro";
import '@nutui/nutui-taro/dist/style.css';

import './app.less'

const App = createApp({
  onShow (options) {},
  // 入口组件不需要实现 render 方法，即使实现了也会被 taro 所覆盖
})
App.use(NutUI)
我已经全局引用了组件，通过template的形式调用是可以的，但是函数的方式会直接报错，Object(...) is not a function
##
![image](https://user-images.githubusercontent.com/34850028/131255790-b7944a5f-c51d-4c5c-959a-cc7f9da760d6.

[2021-08-29 16:35] Pi-char opened #605 "cell组件没有icon插槽的区域吗"
## cell组件没有icon插槽的区域吗

好像只有一个slot:link

[2021-08-30 01:01] richard1015 commented on #605
目前只有一个 只有一个slot:link
 icon slot 本次发版更新上

[2021-08-30 02:50] zhenyulei commented on #576
点击组件标签的时候会触发“switch-tab”事件，返回点击的索引值和触发元素，可以在这个事件中处理你的逻辑。

[2021-08-30 02:50] #576 closed, assigned to zhenyulei

[2021-08-30 02:56] zhenyulei commented on #558
本组件在H5端，依赖于 TabPanel、Swiper组件，故使用方式为

import { Tab, TabPanel,Swiper } from "@nutui/nutui";

小程序端的话 由于依赖于组件 swiper 正在紧急修复中

[2021-08-30 03:07] zhenyulei commented on #374
你好 2.x版本中是可以滚动的
https://codesandbox.io/s/trusting-antonelli-tpjt8?file=/src/App.vue&resolutionWidth=320&resolutionHeight=675

如果是3.x版本中 请将版本升级到最新版本 并且“:is-scroll="true"”改为“scrollType="scroll"，如还问题可以提供最小复现仓库

[2021-08-30 03:21] richard1015 commented on #604
请尝试删除package-lock、yarn.lock 文件，删除 node_modules

重新安装依赖测试一下

具体demo可以参考  https://github.com/jdf2e/nutui-demo/blob/master/taro/src/feedback/pages/dialog/index.vue

[2021-08-30 03:21] #604 closed, assigned to richard1015

[2021-08-30 03:22] zhenyulei commented on #538
如需要更新页面，请将监听变化的数据传入init-data：

https://codesandbox.io/s/quirky-snyder-24yki?file=/src/App.vue&resolutionWidth=320&resolutionHeight=675
因为直接修改数组中的元素，vue2无法监听到数组的变化，请直接修改数组，详见：

https://cn.vuejs.org/v2/guide/list.html#%E6%95%B0%E7%BB%84%E6%9B%B4%E6%96%B0%E6%A3%80%E6%B5%8B

如有还有问题 请提供最小复现仓库

[2021-08-30 03:24] richard1015 commented on #588
Calendar 日历选择 ，新增交互，点击日期快速选择 年月

[2021-08-30 03:25] richard1015 commented on #603
感谢反馈，我们跟进一下

[2021-08-30 03:25] DeerL1o commented on #604
@richard1015 demo里的是可以的，函数式调用会报错，小程序不支持nutui函数式写法吗

[2021-08-30 03:28] #374 closed, assigned to zhenyulei

[2021-08-30 04:22] Me-UserName opened #608 "react 版什么时候能发布？"
请问 react  版开发进度如何了？谢谢哦

[2021-08-30 06:20] richard1015 commented on #608
Q4 底

[2021-08-30 06:49] richard1015 commented on #603
我这边测试了一些，vite 官网ssr-vue 最新示例无法运行， 关于ssr 我们这边稍后跟进一下,

[2021-08-30 09:17] Pi-char commented on #605
thx

[2021-08-30 10:03] han88829 commented on #608
坐等

[2021-08-30 14:25] hyphappy011 commented on #603
好的，多谢！

[2021-08-30 14:32] hyphappy011 commented on #603
我们相同方法测试了一下Element  Plus,除了个别使用Teleport的组件以外，应该都可以用。

好像Element Plus可以，需要找一下写法上的异同之处。可能跟teleport组件有关系。

[2021-08-30 15:49] Pi-char opened #613 "checkbox，radio组件目前不支持定制主题吗"
## 你想知道什么？

你好，我看了variable.scss里的配置项，似乎没有checkbox，radio选中颜色的配置，目前还不支持吗

[2021-08-30 15:52] Pi-char commented on #613
目前可以通过下面这样更改，但总感觉不太好...
.nut-icon-check-checked {
        color: lightblue !important;
}

[2021-08-31 03:01] Drjingfubo commented on #457
目前已经可以正常展示

[2021-08-31 03:01] Drjingfubo commented on #457
目前已经修复，可以正常展示

[2021-08-31 03:06] richard1015 commented on #613
好的，我们优化一下

[2021-08-31 03:08] #457 closed, assigned to Drjingfubo, liqiong-lab

[2021-08-31 03:25] Drjingfubo commented on #461
请更新到最新的nutui版本3.1.3，该版本已经修复

[2021-08-31 03:25] #461 closed, assigned to szg2008, richard1015, guoxiao158, Drjingfubo

[2021-08-31 06:17] fssgh opened #614 "nut-tab-panel 内容超高 使用 overflow-y: auto;在移动设备（手势操作）无法滚动内容。"
nut-tab-panel 内容超高 使用 overflow-y: auto;在移动设备（手势操作）无法滚动内容。只能用鼠标滚动。。。。
## 相关环境信息
- **操作系统**：
- **Node 版本**：
- **NutUI 版本**： @nutui/nutui@3.x.x
- **Vue 版本**：
- **引用方式**：  CDN / NPM ？

[2021-09-01 01:18] richard1015 commented on #578
https://taro-docs.jd.com/taro/docs/components/forms/button

[2021-09-01 01:18] #578 closed, assigned to nobody

[2021-09-01 07:33] xueyuheng opened #615 "[question] 在taro中使用不了NoticeBar公告栏"
## "@nutui/nutui-taro": "^3.1.3" 在这个版本中依赖没有NoticeBar公告栏

你好，我想知道在taro中什么时候能使用上 公告栏组件

[2021-09-01 07:38] szg2008 commented on #613
已修复，下一版本3.1.4更新

[2021-09-01 08:08] irisSong commented on #545
击确定后 choose方法里面不要修改默认值，修改默认值，会再次触发choose方法，组件支持动态修改默认值

[2021-09-01 08:08] #545 closed, assigned to Drjingfubo

[2021-09-01 08:10] richard1015 commented on #615
还没发布呢，今天晚上 3.1.4发布后就可以使用了